[2021-07-30 02:05] vzhuqin commented on #1615
Verified this issue on latest main build: 16.7.0.2137701
Encounter another issue for Text classification scenario, will verify again after #1648 is fixed.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e33004c1-e213-41af-9c05-bcf849845282)

Not repro this issue on other scenarios: Value prediction/Recommendation/Image classification/Object detection.
Value prediction:
!

[2021-07-30 02:32] vzhuqin commented on #1302
Verify this issue on latest main build: 16.7.0.2137701
I’m not sure if there will be such a long title, but I did name a very long one to verify the problem, find that there is not enough space to show the long title on Evaluate page. Could you help to take a look again?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/25a347f2-b05b-472c-b2b9-829af375b339)

[2021-07-30 06:03] vzhuqin commented on #1553
Regarding the second point, @zewditu could you help to share how to verify the distance between the two buttons?

Not repro 1, 3 ,4 of this issue on latest main build: 16.7.0.2137701
1. When the "Add to solution" dialog pops up, the text in the text field is selected, and "Add to solution" button is in a focused state.
3.The subtitle was updated:
"It will use the most recent model created on date

[2021-07-30 06:47] vzhuqin commented on #1602
Verified this issue on latest main build: 16.7.0.2137701, encounter other 2 error, could you please take a look?
a. change the "Label" column "Area" from String to Single.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/1a881c19-65dc-44e8-a1c6-e2bdbd07f8a7)
b. change Label column from "Area" to another one (ID, Title, Description) with correct data type.
![image.png](htt

[2021-07-30 06:55] vzhuqin commented on #1404
The doc was removed from the original https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-ml-net-cli , could someone provide the new docs to verify?

[2021-07-30 18:33] romalpani commented on #1652
@briacht may be this is a good opportunity to revisit the idea of having "example" tag on the cards in the first place. I don't think we necessarily need it, especially because they are already listed under a separate title.

As far as the "local" tag screenshot - yes, that seems like a bug.

[2021-07-30 18:47] romalpani commented on #1539
I am trying to see how the UI reacts to more scaling factors of 100%, 150%, 200%, 250% but for some reason; I am unable to scale correctly.
If the UI is not cutting off at these scales, then I think we are fine.

[2021-07-30 19:30] briacht commented on #1415
Could we add confusion matrix to generated notebook?

And if we move forward with "Explain" page in UI, this would be good to add here.

[2021-07-30 21:22] alozino opened #1661 "Error when machine learning is to be added to my project."
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.6.1.2131904
 - Visual Studio Version (if applicable): 16.5.0

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
- Clear description of the problem:

**To Reproduce**
Steps to reproduce th

[2021-07-31 16:03] torronen opened #1662 "Best way to reference ML model from antoher project (Suggestion: Project type / ML library)"
Question: What is the best way to reference ML model created by model builder in another project?
At the moment, I am copying the .zip files manually to all projects, but it is not a good way as number of models increase in the solution.

A feature like below could help in it.

Feature suggestion
--------------------------
**Is your feature request related to a problem? Please describe.**
Models m

[2021-07-31 20:30] torronen commented on #1567
Namespaces may be worth consideration, although not really a problem. My project names have often been "Kwork.ML. ..." with namespace Kwork.ML.....  Model Builder makes it Kwork_ML_.

Keeping the dots from project name as the namespace might be better as it's in the .NET naming guidelines for namespaces https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-namespaces

[2021-08-01 10:28] torronen commented on #1645
@LittleLittleCloud this only applies to large models, I think, but the cancellation can also take long during training. In this case 50 gb dataset, 119 model explored. Then I click "Cancel". Now it has taken over 8 hours to complete. My guess is it is waiting for the last experiment to complete.

The reason it is taking so long is because it is heavily paging:
![image](https://user-images.githubus

[2021-08-01 11:30] torronen opened #1663 "Train tab shows worst accuracy as "best accuracy" upon re-open"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.2.2.133003
 - Visual Studio Version 2019

**Describe the bug**
The Train tab shows the worst accuracy under "Best accuracy"

![image](https://user-images.githubusercontent.com/26261427/127769156-d213cd91-b41e-42d8-a72e-5d7746bb3615.png)

.mbconfig file store th

[2021-08-02 08:14] vzhuqin opened #1664 "Error for generating WebApi project."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.0.2137701 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- .Net: 5.0.302
![image](https://user-images.githubusercontent.com/81727020/127825309-ae038a0b-bd52-4f8e-beb8-0b3d132fe1f1.png)

**Describe the bug**
- On which step of the proc

[2021-08-02 12:03] torronen commented on #1645
Actually it is a bit of annoying on dev machine. I have now about 650mb csv dataset on dev machine and waiting now 6hours for it to complete so I can restart. It seems Binary classification have more this issue than multiclass, for whatever reason.

[2021-08-02 15:14] beccamc commented on #1654
Sorry you ran into this problem @acrigney.  I'm guessing this was the first ML workspace in your subscription. This is a known issue and we have a fix coming out in our next build.

To unblock yourself, you can go to the Azure portal and create a Machine Learning Workspace - https://ms.portal.azure.com/#create/Microsoft.MachineLearningServices. After creating you should be able to see it in Model

[2021-08-02 15:18] beccamc commented on #1655
Thanks Antti! @Briacht For support and priority

[2021-08-02 15:21] beccamc commented on #1659
It's difficult to support selection state for limited scenarios. Our selection state is driven by the mbconfig file, and limited scenarios there is no associated mbconfig state. I considered this too low of priority to implement a special state solution.

Good find Qin! I'm closing this as "Wont fix" due to it being low priority. @Briacht to comment if this is high enough priority. Thank you!

[2021-08-02 15:21] #1659 closed

[2021-08-02 15:24] beccamc commented on #1661
@alozino Sorry you ran into this problem and thanks for reporting. Can you copy the log file mentioned in the error message? Thanks!

[2021-08-02 15:26] beccamc commented on #1662
Thanks for the suggestion Antti!

@Briacht to take a look.

[2021-08-02 15:44] beccamc commented on #1302
@zewditu Can you take a look here, and if it's a quick fix add the tooltip?

[2021-08-02 17:39] alozino commented on #1661
Hi Becca, Thanks for your reply. Here's the file below.
You will need to change its extension to XML. since XML files are not allowed on this sit.

Thanks.

[ActivityLog - Copy.xml.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/6918674/ActivityLog.-.Copy.xml.txt)

[2021-08-02 17:46] LittleLittleCloud commented on #1645
@torronen
The time might not be spent on waiting for the last trial to complete. From the output log most of the trials take much less than 1 hour, so should be the last trial. Besides, the training summary (top 5 model) has been presented, so it should mean the training part is completed.

I wonder maybe the time is spent on saving/loading the last model after training is completed? Could you che

[2021-08-02 19:26] beccamc commented on #1387
I believe the issue here is clicking on the Scenario card registers as starting a "new" scenario. All data is reset. Clicking on the same scenario card should be the same as using the left hand for navigation.

[2021-08-02 21:47] beccamc commented on #1649
@zewditu I think this regressed from the PR here - https://github.com/dotnet/machinelearning-tools/commit/186c6b8eeb3611eb962ff7b8f8d3d40f2f6c7ce6.

Can you please take a look?

[2021-08-02 22:43] LittleLittleCloud commented on #1535
@vzhuqin

This is hard to reproduce, feel free to skip it for weekly test pass.

[2021-08-02 22:57] LittleLittleCloud commented on #1542
@torronen @raphael-dossantos
While we are looking into this issue, (it looks quite similiar with #1511). Since ModelBuilder wizard will be used for file with extension as `.mbconfig` so if "Add machine learning" doesn't work, a work-around is creating a file with `.mbconfig` as extension directly.

@acrigney
which model builder version do you have on VS2022

[2021-08-03 00:31] acrigney commented on #1542
My model builder version on VS2022 is
16.6.1.2131904
and its set to auto update.
And the project type is .net 6

And what does he mean when he says "create a file with the .mbconfig
extension? Where and please explain more?

On Tue, Aug 3, 2021 at 8:57 AM Xiaoyun Zhang ***@***.***>
wrote:

[2021-08-03 03:18] justinormont opened #1665 "Transfer issues from AutoML repo"
Of the open issues in the machinelearning-automl repo, these are still relevant:
* [Check for NA values in Boolean columns machinelearning-automl#420](https://github.com/dotnet/machinelearning-automl/issues/420)
* [Display Feature Importance machinelearning-automl#409](https://github.com/dotnet/machinelearning-automl/issues/409)
* [[CLI] Need to show additional metrics for Multi-class Classificati

[2021-08-03 03:23] justinormont commented on #1665
@JakeRadMSFT : Do you have the ability to temporarily set the repo as public? It may be only the dotnet owners.

[2021-08-03 05:35] rahulgorai opened #1666 "System out of Memory Exception during Runtime with ML.net 16.6.1.2131904 (Suspected Memory Leakage)"
**System Information:**
 - **Model Builder 16.6.1.2131904**
 - Visual Studio Version 16.10.4

**Describe the bug**
- I have trained Model for Image Classification using 2000 Image Sets with Right and Wrong Classification after I deployed the model, with each iteration of the Image Prediction Process the Memory Usage increases and after a **'n'** no of Iteration the system runs into "System out of

[2021-08-03 05:54] vzhuqin commented on #1557
I have the same issue on:
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 2.1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- .Net: 5.0.302
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5dafabbb-ead4-4a51-bbf4-039e7b108f10)

[2021-08-03 06:10] sudiptaBGorai commented on #1666
Same problem occur with me.    Please help...

[2021-08-03 06:20] cludogithub commented on #1666
I face this issue for a loop. Inside this loop I use GC also. But still the issue is there. Please let me know how to solve this. Thank you in advance..

[2021-08-03 06:29] vzhuqin opened #1667 "The icons are incomplete or unclear in Blue theme."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 2.1
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Blue theme
- Clear description of the problem: Some icons are

[2021-08-03 06:59] vzhuqin opened #1668 "There is no training results after training complete."
**System Information (please complete the following information):**

- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 2.1
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Train and Evaluate pages
- Clear description of the problem:

[2021-08-03 07:24] vzhuqin commented on #1542
I have the same issue on:
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 2.1
- .Net: 5.0.302

Found that can add model builder by the following steps, @LittleLittleCloud please take a look, if this is the expected behavior?
1. Right click to select Add> Machine Learning;
2. Navigate to "Visual C# Items" on the "Add N

[2021-08-03 07:36] sbose768 commented on #1666
I am experiencing similar issues with Out of Memory Exception with Build 16.6.1.2131904. After 15 - 20 mins of running the system consumes entire 16 GB of my RAM and crashes

[2021-08-03 17:16] beccamc commented on #403
The perf for large datasets has been improved! Please try our newest build https://marketplace.visualstudio.com/items?itemName=MLNET.07.

I've tested with datasets as large as EMNIST. Please give it a try and let me know if you run into problems. Thanks!

[2021-08-03 17:16] #403 closed

[2021-08-03 17:25] beccamc commented on #1217
CSV should be loading in a reasonable amount of time.

Problem with header yes/no.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/4cf2e022-d64a-49f7-be54-9a500af5fffb)[https://app.zenhub.com/files/186917455/63008e68-98a6-4244-857a-a28b79a7e5d6/download](https://app.zenhub.com/files/186917455/63008e68-98a6-4244-857a-a28b79a7e5d6/download)

[2021-08-03 17:30] beccamc commented on #1668
Thanks Qin! I made a new label - VS2022 for bugs from the 2022 build. Can you start adding that label to 2022 bugs?

[2021-08-03 17:32] beccamc commented on #1666
@LittleLittleCloud Can you please take a look at this?

[2021-08-03 17:34] LittleLittleCloud commented on #1542
I tried the VS2022 preview3 and it seems this issue no longer exists. Maybe it's a bug from VS add to item window and has been fixed already/ In that case,  I suggest we don't fix this bug as it's not a blocking issue and will be fixed once the next VS2022 preview comes out.

![image](https://user-images.githubusercontent.com/16876986/128059821-97b8b15a-5e37-49cf-a64f-482db977dbc3.png)
![image](ht

[2021-08-03 17:35] beccamc commented on #1656
@Torronen, yes it absolutely should! This is a blocker for sharing mbconfig files between users/machines. We need to fit this into the work queue.

[2021-08-03 17:53] beccamc opened #1669 "Advanced data options won't open with 10,000 + columns"
We have a decent experience for large files. We don't lock the VS process, the data preview will load, and the column drop down is virtualized.

However, the Advanced data options window won't render. It gets hung up on the AdvancedDataOptions.ShowDialog() call.  I suspect the issue is the custom grid we render for the column options.

[2021-08-03 18:35] LittleLittleCloud commented on #1666
Hi @sbose768 @rahulgorai

Thanks for ring this bell. I'm able to reproduce it on my side. Although I don't know the actual cause, this might be related to the creation of MLContext/PredictionEngine every time `Predict` gets called.

One workaround is to use lazy-loaded PredictEngine, which should resolve the memory leak as well as increase predicting speed.

#1638

This bug is more likely in ML.Ne

[2021-08-03 19:35] beccamc commented on #1604
Thanks for the additional ideas! Pulling in design, as this will be a longer term decision on how we should handle dataset changes over time.

[2021-08-03 21:47] beccamc opened #1670 "Cannot use MBConfig file for CLI"
These scenarios failed:
- Classification w/ old MBConfig (version 0)
- Classification w/ new MBConfig (version 1)

Newtonsoft.Json.JsonSerializationException: Error converting value "Classification" to type 'Microsoft.ML.ModelBuilder.AutoMLService.Contract.IScenario'. Path 'Scenario', line 3, position 30.
 ---> System.ArgumentException: Could not cast or convert from System.String to Microsoft.ML.

[2021-08-03 21:56] LittleLittleCloud opened #1671 "Should show "Column not found" instead of "Provided label column can't be null" when column not found"
![image](https://user-images.githubusercontent.com/16876986/128091627-3da4d043-66f9-4bc0-9a78-cbb280182fc7.png)

### How to reproduce it
run an mlnet experiment with unexist label name

[2021-08-03 23:03] beccamc opened #1672 "Spam/ham fails via CLI"
I'm guessing the problem is that it's "boolean" classification, but using spam/ham instead of true/false or 0/1.

From the [Log file](https://app.zenhub.com/files/186917455/e55332a2-7093-43fe-a9cc-5d5a1bc33a13/download):
2021-08-03 17:37:55.2373 DEBUG System.FormatException: String ' available trainer: LGBM, RF, FASTTREE, LBFGS, SDCA ' was not recognized as a valid Boolean.
   at System.Boolean.Pa

[2021-08-04 02:31] vzhuqin opened #1673 "Cannot see the close icon X and search icon in dark theme."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 2.1
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Model builder Error dialog and Advanced data options dialog in

[2021-08-04 06:38] vzhuqin opened #1674 "Need to update the hyperlink of "How do I format my JSON?""
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Data Page
- Clear description of the problem: "create a new vott project" was rem

[2021-08-04 07:09] vzhuqin opened #1675 "Suggestion: The "Train in Azure" card title is horizontally aligned with the other two cards."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Next steps page
- Clear description of the problem: Not sure if this is by design

[2021-08-04 08:16] vzhuqin commented on #1668
This issue also appears on Microsoft Visual Studio Enterprise 2019: 16.10.4 with 16.7.2.2140201 (Main Branch).

[2021-08-04 10:03] vzhuqin opened #1676 "The predicted results in Output box is incomplete."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Output
- Clear description of the problem: In Output box, the predicted value is

[2021-08-04 15:26] beccamc commented on #1647
Thanks for reporting @jkh675, and sorry you ran into this problem. I'm glad you were able to find a work around. We are working on a fix for this. Please follow this issue - https://github.com/dotnet/machinelearning-modelbuilder/issues/320

[2021-08-04 15:33] beccamc commented on #1206
Closing this as I've removed the workaround

[2021-08-04 15:33] #1206 closed

[2021-08-04 15:33] beccamc commented on #1285
Closing this as I've removed the work around.

[2021-08-04 15:33] #1285 closed

[2021-08-04 15:38] beccamc commented on #1425
Closing this tracking issue that was assigned to Melissa

[2021-08-04 15:38] #1425 closed

[2021-08-04 19:21] luisquintanilla opened #1677 "Simpler manual retraining workflow for non-console applications"
In the current version of Model Builder (16.6.3.2136603 at the time this issue was reported), after the model is trained and the training pipeline is generated, it's difficult to **manually** retrain a model in anything other than a console application.

With MBConfig, why might I want to manually retrain?

1. I want to manually tweak the pipeline
2. Change the version of ML .NET used.

For exampl

[2021-08-04 19:53] luisquintanilla commented on #1674
Link to this how-to guide: https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/label-images-for-object-detection-using-vott

[2021-08-05 01:56] vzhuqin commented on #1648
Have the same issue on VS2019 and VS2022 with ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch).
Scenario: Text classification

[2021-08-05 07:48] vzhuqin opened #1678 "Cannot Add machine learning in VS2019 if installed VS2022."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 2.1
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Add Machine

[2021-08-05 09:46] vzhuqin opened #1679 "The names of codebehind files are not updated after renamed of .mbconfig file."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Rename model builder on Net472 project
- Clear description of the problem: On .ne

[2021-08-05 16:19] beccamc commented on #1668
Took a quick look, `SetBestAlgorithm()` is never being called in TrainViewModel. Looks like the `TrainSession_OnAlgorithmIterationEvaluatedEventHandler `never sends an `AlgorithmIterationEventArgs `marked IsBest

[2021-08-05 16:43] beccamc commented on #1651
Okay, I've come around to being okay with this.  Based on what you've said, I am wondering if we could make one change..

Does this mean we could remove "version" from the column properties? It seems like a lot to have the version number in hundreds of columns.

[2021-08-05 17:37] zewditu commented on #1649
I will look into it

[2021-08-05 19:22] beccamc commented on #1497
I've fixed the first issue

![image](https://user-images.githubusercontent.com/9122518/128406686-647a6e26-9b9b-4c97-b911-81c718ffc78f.png)

[2021-08-05 19:22] beccamc commented on #1497
If you want a change to the "Add model builder to your web project" update in the next week or so. Otherwise this is going on the chopping block :relaxed:

[2021-08-05 19:45] beccamc commented on #925
I've taken a look at items 1&2. We pull our icons from this list http://glyphlist.azurewebsites.net/knownmonikers/

1. I'm not sure why the feedback icon is blue. In other themes it matches the same as the upper right icon. VS is automatically updating it to a dark background. This is light theme, and it matches the upper right.
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac8400013

[2021-08-05 19:50] beccamc commented on #925
On item 3.  Here are the two menus open side by side

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/1924ee96-9cc5-47a7-b538-8a99ca1c17dc)

They seem to be the same size. A few differences...
 - Icons are slightly smaller on our side. We can increase the size.
-  Background color is different. This appears to me to be because ours launches from the white background area

[2021-08-05 21:29] beccamc commented on #1663
@torronen, looking at the code I think we just fixed this (not released yet). Are you doing value prediction so I can confirm?

[2021-08-06 06:06] torronen commented on #1663
@beccamc This is from classification (binary) task, I did not check other scenarios.

[2021-08-06 09:14] vzhuqin commented on #1628
not repro this issue on main build: 16.7.2.2140201
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/093b0021-fd93-4148-bd56-5b21ba35623c)

[2021-08-06 09:46] vzhuqin commented on #1500
Not repro this issue on mlnet: 16.7.2
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/16c0d87d-c1e6-48bc-b6a2-d1482fe67f26)

[2021-08-06 10:34] Blessymanna opened #1680 "A11y_.NETWPF_ExpenseItIntro_View Expense Report_ColorContrast: Color Contrast for the "view expense report" title and background is less than 4.5:1(3.981:1)."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

### Environment details:
Application Name: .NET Core WPF
Microsoft .NET Core SDK Version 6.0.100-rc.1.21380.2
Windows Version: Windows10
Microsoft Visual Studio Enterprise 2022
Version 17.0.0 Preview 3.0 [31529.384.main]

### Repro Steps:

1.

[2021-08-06 11:48] Blessymanna opened #1681 "A11y_.NETWPF_ExpenseItIntro_View Expense Report_Zoom: When zooming to 200% the "names" title and the view button is getting truncated."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

GitHubTags:#A11ySev2;#A11yTCS;#A11yWCAG;#DesktopApp;#WCAG1.4.4;#DesktopApp;#Win10;#BM-.NetCore(WinFormsAndWPF)-Win32-July2021;#.NET Core;

### Environment details:
Application Name: .NET Core WPF
Microsoft .NET Core SDK Version 6.0.100-rc.1.21

[2021-08-06 12:12] torronen commented on #1508
Could this feature also take care of hardware crashes?

[2021-08-06 19:00] zewditu commented on #1649
@beccamc  the issue is not reproduced from the current latest main.
when you say reload reopen an OD mbconfig file, right?

[2021-08-06 19:09] zewditu commented on #901
@raduk & @JakeRadMSFT  could you give me more context about the issue?

[2021-08-06 19:31] JakeRadMSFT commented on #1665
@justinormont I don't have that ability.

[2021-08-06 19:41] zewditu opened #1682 "Obeject Detection changing the previwed image from the toggled images removed train status update"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. select Object detection  scenario
2. Complete all steps and click the Train button on the Train tab
3  while train in progress

[2021-08-06 19:49] zewditu commented on #1681
@Blessymanna is this a Model Builder issue?

[2021-08-06 19:52] zewditu commented on #1680
I think this one also coming to the wrong  destination  like https://github.com/dotnet/machinelearning-modelbuilder/issues/1681

[2021-08-06 20:24] beccamc commented on #1649
Yes. Reopen an object detection model builder file. It has to be trained.

[2021-08-06 20:27] zewditu commented on #1649
Thanks, if that is the case the issue does not exist now in our latest main.

[2021-08-07 20:58] #1649 closed

[2021-08-08 11:18] torronen commented on #1535
To reproduce. may need to have a VM running for 1 or more days. I have multiple machines running, about maybe about 10% failure rate per day due to this exception with my data (1-2 gb datasets) but varies a lot per day. Happy to update here if it is no longer occuring for me after there should be a fix for it.

[2021-08-08 11:24] torronen commented on #1645
@LittleLittleCloud ok, I will check the load and save times. You are probably right, on other occasions the cancellation has been quick, even if there has been an iteration running for a long time. Especially my dev machine has low ram, so that could be part of the issue. However, I believe on one occasion I did see one new training results appear in the output log after the training summary, but

[2021-08-09 02:54] vzhuqin opened #1683 "The X of the project name isn't increase if there is a + in Mode Builder."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Adding an additional sample project
- Clear description of the problem: If there

[2021-08-09 07:00] Blessymanna commented on #1680
Closing the issue as logged in incorrect repository

[2021-08-09 07:00] #1680 closed

[2021-08-09 07:05] Blessymanna commented on #1681
Closing the issue as logged in incorrect repository

[2021-08-09 07:05] #1681 closed

[2021-08-09 09:29] vzhuqin opened #1684 "The name of the parent folder is not fully displayed on Data Preview."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2140201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.4
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Data Preview
- Clear description of the problem: If the parent folder name is rel

[2021-08-09 11:15] Bhandari-Sushma opened #1685 "Error while setting up workspace for image classification using Azure"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): Latest
 - Visual Studio Version - 2019

**Describe the bug**
- On which step of the process did you run into an issue: while setting up the workspace to train  for image classification using Azure
-
- Clear description of the problem:

**To Reproduce**
Steps to repr

[2021-08-09 14:55] AmulyaSo opened #1686 "Unable to find ML.Net in add new item field"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-08-09 16:31] briacht commented on #1497
Hi yes! We can definitely add a better description here...

Maybe:

Use Model Builder to train an ML.NET model and add machine learning to your project.

@romalpani

[2021-08-09 17:54] LittleLittleCloud commented on #1651
If so we need to put version info in column info type, as there's more than one schema for column properties

[2021-08-09 17:59] LittleLittleCloud commented on #1686
@AmulyaSo Could you describe the issue you found

[2021-08-09 18:05] LittleLittleCloud commented on #1683
@zewditu  can you take a look?

[2021-08-09 18:06] LittleLittleCloud commented on #1683
And I believe `+` is not a legal character in project name?

[2021-08-09 18:14] LittleLittleCloud commented on #1684
@romalpani
Any advice on this truncated folder name? Maybe similar to what we do with long column name in #1534?

[2021-08-09 18:15] LittleLittleCloud commented on #1685
What error does it say, Is that an Azure error?

[2021-08-09 18:19] zewditu commented on #1683
@LittleLittleCloud  in VS new project dialog it allows `+` in the project name, we are following the VS user experience

[2021-08-09 18:44] LittleLittleCloud commented on #1677
The problem you have right now seems to be the common problem for projects that consumes ML models and tries to retrain models for whatever reason. The root cause behind this, as I believe, is the **training | retraining** step and **consuming** step are quite different. If comparing with Devops, **training | retraining** step is like developing while **consuming** is more like releasing. And it w

[2021-08-09 18:51] LittleLittleCloud commented on #1664
@briacht @zewditu
Should we target net5 for all projects if I recall correctly?

[2021-08-09 18:55] romalpani commented on #1497
That sounds good, with one minor modification - based on how other files have descriptions - they all avoid the use of the action word "_use_" and keep it more like a definition.

So, here's my suggestion:

Customer clicks on the list item...
"Machine Learning Model (ML.NET)"

Description...
"A Model Builder that helps train a machine learning model using ML.NET."

Thoughts @briacht ?

[2021-08-09 18:55] LittleLittleCloud commented on #1678
Can't reproduce it somehow, the update works normal on my computer, can you try again..
![image](https://user-images.githubusercontent.com/16876986/128759084-a8502170-e5ff-4933-995c-1a6c6cef7c45.png)

[2021-08-09 18:59] LittleLittleCloud commented on #1653
Still can't reproduce it and my mbconfig file is not re-written even if I increase its version number. Did you accidentally hit control-s when closing mbconfig window?

[2021-08-09 19:02] LittleLittleCloud commented on #1170
Going to close this issue because of no response,  feel free to reopen it if you have any questions.

[2021-08-09 19:02] #1170 closed

[2021-08-09 19:03] #1512 closed

[2021-08-09 19:05] #1542 closed

[2021-08-09 19:06] #1608 closed

[2021-08-09 19:08] zewditu commented on #1664
Yes, we were targeted to net5, however recently  our web API is targeted  to NET 6 in this PR https://github.com/dotnet/machinelearning-tools/pull/1136 to bring  NET6 OpenAPIsupport  https://github.com/dotnet/machinelearning-modelbuilder/issues/1605

[2021-08-09 19:08] #1647 closed

[2021-08-09 19:12] zewditu commented on #1664
The thing I am not sure is whose responsibility is to upgrade the SDK to support .NET 6? the user? or is there any thing we can do ? @LittleLittleCloud  thought?

[2021-08-09 19:19] LittleLittleCloud commented on #880
@chunky
You can try cli preivew from this feed

To install mlnet from that feed

[2021-08-09 19:27] LittleLittleCloud commented on #1559
Close due to no response, feel free to reopen it if you have any other questions

[2021-08-09 19:27] #1559 closed

[2021-08-09 19:29] #1584 closed

[2021-08-09 19:57] LittleLittleCloud commented on #1429
track in #1642

[2021-08-09 19:57] #1429 closed

[2021-08-09 19:57] LittleLittleCloud commented on #1502
track in #1513

[2021-08-09 19:57] #1502 closed

[2021-08-09 19:58] LittleLittleCloud commented on #1648
@vzhuqin
I believe the fix was not merged at that time point.

[2021-08-09 20:02] LittleLittleCloud commented on #1219
tracking through #1565

[2021-08-09 20:02] #1219 closed

[2021-08-09 20:04] LittleLittleCloud commented on #1563
Model Builder should no longer have this issue since we remove the call for `ToDataFrame` when proccessing dataset

[2021-08-09 20:31] FrequentErvin opened #1687 "Training cycles for a lot of time and then cancels."
**System Information (please complete the following information):**
VS 16.10.4
ML.NET Model Builder 16.6.3.2136603

**Describe the bug**
In the training phase, it would cycle (it would actually train) for a lot of time and then cancel. In the beginning, it says "GPU Service not found. Falling back to CPU AutoML Service".

**To Reproduce**

**Expected behavior**

**Screenshots**

**Additional conte

[2021-08-10 06:41] vzhuqin commented on #1499
Verified on latest main build: 16.7.2.2140901
Browse input field has text center-aligned.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7ef5d750-21d6-4d27-976a-9c5430b86c86)
But can repro this issue on Data page of Image classification and Object detection scenarios, please take a look if need to adjust the alignment just like browse input field?
![image.png](https://i

[2021-08-10 07:06] vzhuqin commented on #1387
Not repro this issue on latest main build: 16.7.2.2140901
![1387Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2dd010c6-f5e9-4d11-bb0b-8a43f6092a8e)

[2021-08-10 08:07] vzhuqin commented on #1399
Not repro this issue on latest main build: 16.7.2.2140901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e81ffbea-7713-4ae8-81a7-a48eff77c7fb)

[2021-08-10 08:10] vzhuqin commented on #1575
Not repro this issue on latest main build: 16.7.2.2140901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/92e426d7-b836-4af2-adc4-178076027de4)

[2021-08-10 08:15] vzhuqin commented on #1615
Not repro this issue on latest main build: 16.7.2.2140901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/649ba7ec-cfc8-402e-87f3-05d7f66e6679)

[2021-08-10 08:25] vzhuqin commented on #394
Not repro this issue on latest main build: 16.7.2.2140901
![394 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/22e5792d-ce22-45bb-aa9c-903f38189f99)

[2021-08-10 08:27] NiharikaTipirishetty commented on #1572
@zewditu the role of 'Feedback' control should be defined, role of feedback should defined as button.

[2021-08-10 08:34] vzhuqin commented on #1648
Not repro this issue for all scenario on latest main build: 16.7.2.2140901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/8a48de46-92a9-467e-9592-f66bd62e259c)

[2021-08-10 17:39] romalpani commented on #1683
Since "Add to solution" is a parallel to "Add new project", the validations should be the same as adding any other project through NPD. I am not sure I understand why the "x" is not incrementing if you hit "add again".

[2021-08-10 17:41] romalpani commented on #1684
@LittleLittleCloud a tooltip that describes the complete name seems like a viable solution in this case - same as in #1534

[2021-08-10 18:33] romalpani commented on #925
Hi Becca,
1. Can we ensure that the icons are the same size as the ones on the global feedback button in VS, as well as the distance between icon and text?
2. The blue color of the icon is a weird issue. I will check with the icons team to see if there's any other moniker to use.
3. Is the problem with the "Suggest a feature" icon the same as above?
4. To keep it consistent with the global feedbac

[2021-08-10 21:35] zewditu commented on #1576
This is not reproducible on the current latest main.

[2021-08-11 07:44] zewditu commented on #1683
VS protects as from the following characters and special case values
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/3ea88809-8876-4e1e-b019-87ec4b6817a8)

I think  we need to do our own sanitization for ModelBuilder.mbconfig file name because they will be used as part of project names in generating sample projects

[2021-08-11 07:59] zewditu opened #1688 "Model File name not sanitized in code behind consumption.csfile"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
![image.png](https:

[2021-08-11 08:06] vzhuqin commented on #1613
Not repro this issue ML.Net Model Builder (Preview): 16.7.2.2140901

Steps:
1. Rename all images to names with spaces;
2. Use Vott tool to label images and export to Vott Json file;
3. Select Create a new project from the Visual Studio 2019 start window;
4. Choose the C# Console App (.NET Core) project template with .Net 5.0;
5. Add model builder by right click on the project;
6. Select Object det

[2021-08-11 08:35] NiharikaTipirishetty commented on #1576
Issue is fixed. After account picker, keyboard focus is going to 'Subscriptions' dropdown. Focus is not going to invisible content.

https://user-images.githubusercontent.com/83570638/128997139-ac5f88bb-93cd-4639-91dd-0b4c51baabf5.mp4

[2021-08-11 08:35] #1576 closed

[2021-08-11 17:15] LittleLittleCloud commented on #1687
Hi @FrequentErvin
You don't even need a GPU to run image classification. And it seems that you are using CPU according to that "GPU Service not found. Falling back to CPU AutoML Service".

Did you see any output during those cycles? This could let us know if the training process starts or not. And could you share your log, which can be found under %temp%MLVSTools\logs,

Regards

[2021-08-11 17:33] beccamc commented on #925
Hi Rohan!
1. Yes we can ensure icons size and spacing is the same.
2. Would be great if you can check on the blue icon moniker
3. Suggest a feature icon is similar. We are using the MessageBubble moniker and that is how it looks. This is the only one I see that looks correct:
![image](https://user-images.githubusercontent.com/9122518/129075928-bc82e20d-1189-43cf-b0db-5c209ad85d5f.png)
4. Yes we ca

[2021-08-11 19:12] beccamc commented on #1579
Rohan, we haven't used the * to denote a required field before. We do have a red outline behavior for missing fields on some of the  Azure fields.

[2021-08-11 20:36] torronen commented on #1645
@LittleLittleCloud  Here is one case where last experiment finished after code was generated according to output window.

![image](https://user-images.githubusercontent.com/26261427/129099208-6cccddd6-4bfa-48ea-bb31-4c589c8b2c84.png)

For some reason, the log file only has this content:
`2021-08-11 17:56:33.7927 INFO Set log file path to C:\Users\inno1\AppData\Local\Temp\MLVSTools\logs\4c1319f4-29

[2021-08-11 22:42] briacht opened #1689 "accuracy is off by 2 decimal points after Azure training image class"
Accuracy should be 95% (not .95%)

![image](https://user-images.githubusercontent.com/10437687/129112944-cc058243-fb61-4e81-b8e6-452123da1bab.png)

![image](https://user-images.githubusercontent.com/10437687/129113036-9f69a2d8-6beb-4640-ad5f-5bc7474e388b.png)

[2021-08-11 22:53] zewditu commented on #1689
Close  b/c duplicated issue of  https://github.com/dotnet/machinelearning-modelbuilder/issues/1633

[2021-08-11 22:53] #1689 closed

[2021-08-12 07:13] vzhuqin commented on #1678
Yes, can add machine learning in VS2019 with latest main build and installed VS2022.

**Microsoft Visual Studio Enterprise 2019 Version: 16.11.0**
![image](https://user-images.githubusercontent.com/81727020/129150731-0714cce2-244d-408f-aea1-a61c79ead846.png)
**ML.NET Model Builder version: 16.7.2.2141201**
![image](https://user-images.githubusercontent.com/81727020/129150202-dd2b7e4f-ada9-4eb1-8cb

[2021-08-12 07:49] vzhuqin commented on #1663
Not repro this issue on latest main build: 16.7.2.2141201

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ebc2991a-337d-44ac-bb0e-8650f6986242)

[2021-08-12 08:10] vzhuqin commented on #1650
Verified this on latest main build: 16.7.2.2141201, @LittleLittleCloud could you help to confirm whether below steps are correct and the behavior is expected?

**Steps:**
1. Select Create a new project from the Visual Studio 2019 start window;
2. Choose the C# Console App (.NET Core) project template with .Net 5.0;
3. Add model builder by right click on the project;
4. Close the model builder;
5.

[2021-08-12 08:20] vzhuqin commented on #1658
Verified this on latest main build: 16.7.2.2141201
Microsoft.ML has been updated to 1.6.0
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5ddd8255-3be0-463b-a7be-1558288d0a2c)

[2021-08-12 15:00] Choda1 opened #1690 "How do I fix this error?"
위치: Microsoft.ML.AutoML.ColumnInferenceApi.InferSplit(MLContext context, TextFileSample sample, Nullable`1 separatorChar, Nullable`1 allowQuotedStrings, Nullable`1 supportSparse)
   위치: Microsoft.ML.AutoML.ColumnInferenceApi.InferColumns(MLContext context, String path, ColumnInformation columnInfo, Nullable`1 separatorChar, Nullable`1 allowQuotedStrings, Nullable`1 supportSparse, Boolean trimWhite

[2021-08-12 17:45] LittleLittleCloud commented on #1554
This should be expected for now.

[2021-08-12 17:46] LittleLittleCloud commented on #1650
Yep the behavior looks good

[2021-08-12 17:57] LittleLittleCloud commented on #1690
@Choda1

Can you share your VS version and model builder version, and a snapshot of your dataset please

[2021-08-12 19:14] #1619 closed

[2021-08-12 19:14] JakeRadMSFT commented on #1619
Closing due to low priority. We can revisit with customer feedback.

[2021-08-12 19:15] JakeRadMSFT commented on #1626
Waiting for customer feedback.

[2021-08-12 19:15] #1626 closed

[2021-08-12 19:18] FrequentErvin commented on #1687
Hi :)
I am indeed using CPU training for now, but I have plans on switching to another GPU. Anyway, output during these cycles was:

[code]

These were the four distinct lines of code that kept on repeating forever until I canceled training completely. I let it cycle for hours. Now, I've updated the Model Builder and it outputs different results. By the way, my folder has 1663 images categorized i

[2021-08-12 19:27] JakeRadMSFT commented on #1105
We should investigate how others are solving this in VS.

[2021-08-12 19:30] JakeRadMSFT commented on #816
Closing for now -  we have an expectation in Model Builder that data is ready/clean for training.

[2021-08-12 19:30] #816 closed

[2021-08-12 19:34] #1439 closed

[2021-08-12 19:35] JakeRadMSFT commented on #1439
We'll revisit our error story.

[2021-08-12 19:38] JakeRadMSFT commented on #1369
Closing for now - waiting for related customer feedback.

[2021-08-12 19:38] #1369 closed

[2021-08-12 19:39] beccamc commented on #1266
Refer to Error experience epic for updates on removing/improving modal dialogs. https://github.com/dotnet/machinelearning-modelbuilder/issues/1378

[2021-08-12 19:39] #1266 closed

[2021-08-12 19:44] JakeRadMSFT commented on #1589
Closing this because it's outside of our control. This is new dialog behavior.

[2021-08-12 19:44] #1589 closed

[2021-08-12 19:45] beccamc commented on #1011
See error experience improvement epic. https://github.com/dotnet/machinelearning-modelbuilder/issues/1378

[2021-08-12 19:46] #1515 closed

[2021-08-12 19:46] JakeRadMSFT commented on #1515
Closing since it's an edge case and we're revisting error on load and revisiting versioning.

[2021-08-12 20:07] LittleLittleCloud commented on #1687
Hi @FrequentErvin
The log looks good until training time out. Can you also put the content your .mbconfig here? I'd like to confirm if TrainingTime is set correctly.

[2021-08-13 01:06] vzhuqin commented on #1554
Thanks for your confirmation.

[2021-08-13 01:07] vzhuqin commented on #1650
Thanks xiaoyun's confirmation.

[2021-08-13 04:46] AmritanshuAVerma opened #1691 "Accessing resnet files takes a lot of time"
We should let the system target a local resnet source if present

![image](https://user-images.githubusercontent.com/40417442/129306028-aae70f5a-288c-48c8-b4f9-e433835e5a59.png)

[2021-08-13 04:47] AmritanshuAVerma commented on #1691
[Source=AutoML, Kind=Error] [Source=ImageClassificationTrainer; Ensuring meta files are present., Kind=Error] resnet_v2_50_299.meta: Download timed out

[2021-08-13 07:16] vzhuqin commented on #1657
Not repro this issue on latest main build: 16.7.2.2141201
Now each experiment has its own folder under %temp%/AutoML-NNI
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/6c98a5d7-db6e-45de-8e3c-c1dd651e074e)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2a90fc27-e72b-4546-8f5b-65dc908bc148)

![image.png](https://images.zenhubusercontent.com/60

[2021-08-13 08:38] vzhuqin opened #1692 "Model Builder Error: Sequence contains no matching element."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.2.2141201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.0
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Data Page
- Clear description of the problem: After training complete, want to ch

[2021-08-13 11:13] FrequentErvin commented on #1687
Here's the config:

So I should change the 2147482 to 2147483647?

[2021-08-13 13:18] arnabl79 opened #1693 "ML.Net model file template cannot be found n Add New Item dialog box"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-08-13 13:19] Choda1 commented on #1690
Visual Studio 2019 & Model Builder Version 16.1.0 & Dataset ->
[sms_spam.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/6982636/sms_spam.csv)

[2021-08-13 13:52] NiharikaTipirishetty commented on #1598
@beccamc the issue is still reproducing in latest main version, could you please let us know in which version we need to verify the fix?

[2021-08-13 17:23] LittleLittleCloud commented on #1687
Yeah this might temporarily fix the issue you have.

Thanks and please let us know how's that going.

[2021-08-13 17:54] LittleLittleCloud commented on #1690
@Choda1
Thanks for sharing the dataset, it looks like you are using a quite old model builder version (you might need to uninstall it in VS installer and reinstall it in market place if directly upgrade doesn't work for you), could you try upgrade your model builder to 16.6.3.* and try again?

BTW the train succeeds on my PC, with 16.6.3
![image](https://user-images.githubusercontent.com/16876986/

[2021-08-13 20:31] beccamc commented on #1598
Can you tell me the version number?

[2021-08-13 21:41] FrequentErvin commented on #1687
Oh my God. I deleted the project and then started fresh out again and this time around, after a stupendous 7 hours of training, it actually worked. It created the training.cs file and it actually trained the model as it should :). I will write here for updates on the situation every so often.

[2021-08-13 22:20] LittleLittleCloud commented on #1687
Sounds good, and I strongly suggest you trying GPU, which accelerates my training ~5 times faster with a GTX1060.

[2021-08-14 00:56] Choda1 commented on #1690
Thank you :)

[2021-08-14 01:13] #1690 closed

[2021-08-15 11:21] jwood803 opened #1694 "Web API for Object Detection isn't returning bounding boxes property"
**System Information:**
 - Model Builder Version: 16.6.3.2136603
 - Visual Studio Version: 16.11 Preview 2

**Describe the bug**
When creating an API from the Consume step, the `BoundingBoxes` property doesn't seem to be getting serialized.

**Screenshots**
API call from Powershell:
![image](https://user-images.githubusercontent.com/1578160/129476702-6cf3f986-e675-4811-94fb-51bfdd20fce3.png)

API

[2021-08-15 11:24] jwood803 opened #1695 "Some text gets cut off when resized"
The "Next step" and "Add to solution" button text gets cut off in dark mode.

Screenshots:
![image](https://user-images.githubusercontent.com/1578160/129476795-9e8fc7ed-4b31-4ab9-829f-08538dfa5583.png)

![image](https://user-images.githubusercontent.com/1578160/129476801-16229eab-923b-424c-a6c2-89690d6c387e.png)

When switching to light mode the text appears completely.

Screenshots:
![image](http

[2021-08-15 12:49] torronen commented on #1645
@LittleLittleCloud  Last week, our team member observed .zip file is generated before the Output window shows the final training results. During this time Train tab showed "Cancelling..." I will open a new ticket once I get some better info. For now, I don't have other information yet so FYI if someone else notices similar issues.

[2021-08-15 23:30] PtrStruct opened #1696 "Can't add data without VS crashing"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
https://marketplace.visualstudio.com/items?itemName=MLNET.07

**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_
2019 Version 16.11.0

**Bug description**
When I go to add my VoTT Json file that was exported using VoTT, Visual Studio crashes.
What I did was, I opened up VoTT, add

[2021-08-16 03:04] vzhuqin commented on #1517
Not meet any error during training Json file.
ML.Net Model Builder (Preview): 16.7.2.2141201 (Main Branch)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7f76b670-ea06-4c24-bb9b-f4605ebb4dbe)

[2021-08-16 10:03] vzhuqin commented on #1592
@zewditu The actual and predicted values are not next to each other, could you help to confirm whether this is expected now?

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/de291806-19dc-4fe5-8f15-522b7b29e14e)

[2021-08-16 16:42] zewditu commented on #1694
Thanks for reporting this, we will take look.

[2021-08-16 16:49] zewditu commented on #1693
@arnableI79  could you tell us the steps to reproduce the issues for better investigation?

[2021-08-16 17:20] LittleLittleCloud commented on #1645
@torronen
Thanks for the FYI, Did your team member find .zip file in solution explorer? Or in %temp% folder.

[2021-08-16 17:21] LittleLittleCloud commented on #1592
It's fine,,, Quite common to have a difference between truth and predict value.

[2021-08-16 17:28] zewditu commented on #1692
@LittleLittleCloud  @beccamc  for visibility.

[2021-08-16 17:43] zewditu opened #1697 "" How long should I train for?" should be a link"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**

**Steps to Reproduce**
1. Select any text classification scenario
2. Use[ this]([https://app.zenhub.com/files/186917455/3f223f80-2a65-42d4-a8c5-204e00e30383/download](https://app.zenhub.com/files/186917455/3

[2021-08-16 17:57] zewditu commented on #1696
@ptrStruct  I am not able to reproduce the issues  in the latest Model Builder, could you update your Model Builder
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/5a31adf9-c1e5-42f3-bfb3-881b55c0596d)

[2021-08-16 18:01] zewditu commented on #1691
@AmritanshuAVerma  usually this error happens for small datasets. when closing the error window what do you see?  How large is your dataset?

[2021-08-17 01:25] vzhuqin commented on #1592
Thanks @LittleLittleCloud , what I want to confirm is, is there no need to put the two values near each other for easy comparison? I saw zewditu and Bri discussed this in comments above.

[2021-08-17 05:43] PtrStruct commented on #1696
I'm pretty sure I'm using the most recent version.
![bild](https://user-images.githubusercontent.com/39096940/129669975-0db36cc1-dc3a-4986-9cb7-1f9909634787.png)

[2021-08-17 05:48] zewditu commented on #1696
Thanks for the confirmation,  I have an internal build that is  ahead of you,  this issue will not shown in the next release

[2021-08-17 06:38] PtrStruct commented on #1696
When will this be available?

[2021-08-17 16:50] beccamc commented on #1697
It will probably be difficult to imbed a link inside of this error message. This is a plain text message. If we want to change how we approach this, we should probably change what it says or how it is presented. There is an issue in the "Needs design" column for this topic https://github.com/dotnet/machinelearning-modelbuilder/issues/1373

[2021-08-17 17:21] zewditu commented on #1697
Thanks, @beccamc  for the explanation, However, I  am wondering what makes it difficult to include the link inside the error message?

[2021-08-17 17:38] beccamc commented on #1693
Please checkout this troubleshooting section https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project

@zewditu FYI we have a troubleshooting section for this.

[2021-08-17 17:42] zewditu commented on #1696
We are targetting to release in sepetember

[2021-08-17 18:31] zewditu commented on #1691
@AmritanshuAVerma  what do you want to do? is this image classification or any you want to do any non -image classification task?

[2021-08-17 19:28] AmritanshuAVerma commented on #1691
It was a small dataset for image classification with 400 images each in 2 categories. it worked after 4 attempts. I am not sure how.

[2021-08-17 21:16] beccamc commented on #1697
The exception returns a plain string. We would need to write a special object that marked what part of the string was a hyperlink. We'd then need a special component to render the hyperlink inside the string. It would be easier with a plain link (e.g. www.bing.com), but we would still need to write a special component

[2021-08-17 22:34] chryw commented on #925
@romalpani I think the monikers are correct.
- Blue feedback icon: This is because `ImageThemingUtilities.ImageBackgroundColor` is not set and not reflecting the actual background.
  ![image](https://user-images.githubusercontent.com/7075677/129807281-a0748a21-e4bc-4d3b-906f-67b82e567d81.png)
- Bubble icon:
  - The global command bar is using `Comment` moniker
  ![image](https://user-images.github

[2021-08-17 22:38] romalpani commented on #925
@beccamc ^^ does that help?
Seems like, for the message bubble icon, we just need to wait.

[2021-08-18 01:48] vzhuqin commented on #1671
Hi @LittleLittleCloud , could you provide the build to verify this issue?
I can repro this issue on ML.NET latest version: 16.7.2 (preview feed):
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/89af81b3-72ee-467c-a69e-0989d8bd6ffa)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0b1e8e0c-1614-41f4-a995-1d50a6c6ff08)

[2021-08-18 02:15] vzhuqin commented on #1513
Still met the error dialog after clicked one scenario.
ML.Net Model Builder: 16.7.2.2141801 (Main Branch)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a569f491-9133-432b-bcdf-faf94a0a7ed2)

[2021-08-18 03:02] JakeRadMSFT commented on #1694
@luisquintanilla - This is what we chatted about right?

I think you were able to work around this?

@LittleLittleCloud thoughts?

[2021-08-18 03:05] JakeRadMSFT commented on #1655
@LittleLittleCloud is there another interface we need to implement?

[2021-08-18 03:07] LittleLittleCloud commented on #1694
@jwood803
If you go check the implementation of ModelOutput.BoundingBox property, you will find it's a read-only property, that's why it's not serialized.

To fix this, you can either add a setter to that property and make it editable, or simply not saving the ModelOutput.BoundingBox. You can reconstruct it through `boxes`, `labels` and `scores` later.

[2021-08-18 03:08] JakeRadMSFT commented on #1653
@luisquintanilla @LittleLittleCloud is this a difference in settings?

@luisquintanilla do you have an auto-save setting enabled?

[2021-08-18 03:08] LittleLittleCloud commented on #1655
I need to take a look,, @torronen Does directly Control-C Control-V works?

[2021-08-18 05:31] zewditu opened #1698 "Nraator does not announce Evaluate tab name and the narrator focuse goes to the top link "How do I understand my model performance?" for non-text scenarios"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-08-18 05:34] torronen commented on #1535
Possible hint: It would seem that the issue happens after a long training run more often than otherwise. Is it possible operating system does something meanwhile, or maybe VS "switches" to another process while the lock was created from another one. Or, maybe experiment 575 has some finalization tasks remaining which normally take milliseconds but with a large model take much longer, and then it t

[2021-08-18 05:35] zewditu commented on #1698
The reason for this issue is the set focus is done for Predict button for all text scenarios,  for the case of Image and OD scenarios the narrator go the first interactive control by default b/c predict Button is collapsed.

[2021-08-18 05:47] torronen commented on #1535
The zip filenames in the folder and the iteration run numbers do not much.
![image](https://user-images.githubusercontent.com/26261427/129843317-0435164e-96f7-4242-b2ec-d9cb18093d73.png)

It seems this became an extreme example. Maybe some version could have an advanced setting to set the maximum size of trees. 6Gb zipped model for a non-zipped 62Gb CSV seems too big.

[2021-08-18 05:50] zewditu commented on #1643
The same issue also happens when we are navigating from Consume to Next steps tab. The issue is not only in image classification but for all scenarios.

[2021-08-18 06:10] zewditu commented on #1643
This issue happens when the set focus is set to the first/ default interactive control  b/c in both Consume tab( Copy hyperlink ) and next steps tab(Deploy your model ) the focus is set to the first / default interactive control.  Hence in order to enable the narrator to announce tab names, we set focus to non-default controls / first interactive control. This may need a design change.

[2021-08-18 06:25] zewditu commented on #1643
Action Item: contact the Accessibility team.

[2021-08-18 07:02] vzhuqin opened #1699 "Model Builder Error: training artifacts not found."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.2.2141801 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.1
- .Net: 5.0.303

**Describe the bug**
- On which step of the process did you run into an issue: Azure Environment
- Clear description of the problem:

**To Reproduce**
Steps to reproduce

[2021-08-18 07:13] dmamel opened #1700 "NullReference in ObjectDetectionDataProvider.GetImageDataFromVott"
NullReference in ObjectDetectionDataProvider.GetImageDataFromVott

   в Microsoft.ML.ModelBuilder.DataProviders.ObjectDetectionDataProvider.GetImageDataFromVott(String filePath)
   в Microsoft.ML.ModelBuilder.ViewModels.ObjectDetectionDataViewModel.OnFileNameChange_SetImageDataAsync()
   в Microsoft.ML.ModelBuilder.Observable.ObservableModel.<ExecuteUpdateHandlerAsync>d__21.MoveNext()
--- Конец тр

[2021-08-18 07:37] #1700 closed

[2021-08-18 11:35] dmamel commented on #1700
the file was missing "tags"

[2021-08-18 11:48] dmamel opened #1701 "Crash Visual Stuio after select json in Model Builder"
Hi. I ned help.
Crash and close Visual Stuio after select json in Model Builder (object detection).
[json.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7006912/result.zip)

ML.Net Model Builder v16.6.3.2136603
Visual Studio 19 v16.11.0

![Snap 2021-08-18 at 14 46 17](https://user-images.githubusercontent.com/45320291/129892704-0354a78a-b87f-42bd-923e-423c091b3a95.png)

![Snap 2

[2021-08-18 12:11] luisquintanilla commented on #1694
Thanks @LittleLittleCloud

@JakeRadMSFT this is what we talked about but I didn't have a workaround for it.

[2021-08-18 13:00] torronen commented on #1655
@LittleLittleCloud yes, it works.

[2021-08-18 16:28] beccamc commented on #925
Yes, thanks for the assistance here Cherry!

[2021-08-18 16:51] beccamc opened #1702 "Remove NC series VMs"
Communication from Microsoft Azure team:

**The Azure NC-series Virtual Machine sizes will be retired on 31 August 2022**

You're receiving this email because you've been a user of NC-series Azure virtual machines within the last 12 months.

Azure NC-series virtual machines, powered by NVIDIA Tesla K80 GPUs, were introduced in 2016 and have been replaced by newer GPU virtual machines such as the N

[2021-08-18 16:52] beccamc commented on #1702
Model Builder azure dialogs recommend NC machines. We need to
- [ ] Look at what is recommended instead
- [ ] Update Azure Compute Dialog to support new SKU

[2021-08-18 17:34] LittleLittleCloud commented on #1535
@torronen
Thanks for the provided info, the 1-line log file is a bug which we already fixed and will soon been released. And we will look into the mismatch model name.

[2021-08-18 17:35] LittleLittleCloud commented on #1671
@vzhuqin
Yeah sure, I'll let you know when its ready

[2021-08-18 19:30] beccamc commented on #1492
We have fixed this issue, and will ship it with our next release. Expect to see it in September. Thanks for your patience!

[2021-08-18 19:31] beccamc commented on #1654
We have fixed this issue, and will ship it with our next release. Expect to see it in September. Thanks for your patience!

[2021-08-18 20:12] beccamc commented on #1674
@briacht Can you update the https://aka.ms/vsmbvott fwlink to the address provided by Luis?

[2021-08-18 20:14] beccamc commented on #1674
Nevermind, I own this link and was able to update!

[2021-08-18 21:07] LittleLittleCloud commented on #1667
We'd better solve this before next insertion

[2021-08-18 22:28] zewditu commented on #1581
@romalpani   I think do we need to prompt the user to  click predict button when the tryout value is changed after the user makes the first prediction,
if yes do we need still to say " Click predict to see predicted result" or something else?

[2021-08-19 07:03] BenjaminCharlton commented on #1492
Well done! Thanks for the update

[2021-08-19 07:34] vzhuqin commented on #1678
Can repro this issue on latest main build: 16.7.2.2141802, please see below GIF.
![Repro-1678-2.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3f0dba7f-abc1-4473-86e6-51ff4e549de1)
Steps:
1. Install  VS2022 from [VS build >= 31618.209](https://devdiv.visualstudio.com/DevDiv/DevDiv%20Team/_build/results?buildId=5106487&view=results), and  update Model Builder to latest main buil

[2021-08-19 07:45] vzhuqin commented on #1674
The link has been updated on latest main build: 16.7.2.2141802
![1674 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/682cc6cf-49aa-4295-a4df-dbaff3f541c2)

[2021-08-19 07:48] torronen commented on #1645
Probably Git Changes window, but we do not have adequate notes about this. I will update if I notice it.

[2021-08-19 07:57] vzhuqin commented on #1683
Not repro this issue on main build: 16.7.2.2141801.
The name of sample project has used '_' by default even if the model builder name has "+" or other hyphen.
Now click "Add again", the X in the project name is increase.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/906b3283-ef83-4077-95fb-bd80e7dbfb74)

[2021-08-19 18:37] beccamc commented on #1627
Everything fixed before August 18th can be validated on rel/candidate build 16.7.2.2141903.

Instructions for private gallery...

The private gallery is used to make it easy for beta testers to try out the latest pre-release build. Follow these steps to add our private gallery to Visual Studio.
Tools -> Options -> Environment -> Extensions -> Add Additional Gallery ->

![image.png](https://images.

[2021-08-19 18:39] beccamc commented on #1631
Validate on  rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:41] beccamc commented on #1598
@NiharikaTipirishetty, I've updated the candidate build. You can validate on  rel/candidate build 16.7.2.2141903.  Anything closed as of today can be validated on that build. Thanks!

[2021-08-19 18:43] beccamc commented on #1154
@NiharikaTipirishetty It seems like our old accessibility contact isn't here anymore. Could you validate this as well? You can check it on rel/candidate build 16.7.2.2141903.

[2021-08-19 18:43] beccamc commented on #1660
Validate on  rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:44] beccamc commented on #1634
Validate on  rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:44] beccamc commented on #1572
Validate on  rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:45] beccamc commented on #1597
Validate on  rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:45] beccamc commented on #1577
Validate on rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:45] beccamc commented on #1599
Validate on rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:46] beccamc commented on #1578
Validate on rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:46] beccamc commented on #1595
Validate on rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:47] beccamc commented on #1573
Validate on rel/candidate build 16.7.2.2141903. See issue 1627 for instructions for install.

[2021-08-19 18:54] beccamc commented on #1579
@romalpani Can you take a look here?

[2021-08-19 19:02] beccamc commented on #1570
@zewditu Can you get the accessibility team help with this one too?

[2021-08-19 19:04] zewditu commented on #1570
Sure!

[2021-08-19 20:11] beccamc opened #1703 "Double "NotStarted" status throws error for RemainingTime"
1. Reload an MBconfig file
2.  Re-train
3. See error when this.TrainStatus == NotStarted and this.AzureTrainingStatus == NotStarted

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/efaf299c-0848-4eb0-ba98-c92594a41333)

[2021-08-19 20:54] beccamc commented on #1668
So the problem here is the "IsBest" flag isn't getting passed from the AutoML process back to the Model Builder process.

Here is the OnAlgorithmIterationEvent in the AutoMLEngine.cs file. It is invoking the AlgorithmIterationCompleted event with `IsBest = true`
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/03554310-2c11-4665-9ee9-323490c37720)

On the ModelBuilder sid

[2021-08-19 21:25] zewditu commented on #1695
@ jwood803 when you say "in dark mode"  is that for windows or VS?

Note: I tried it for both, I am not able to reproduce the issue.

[2021-08-19 21:35] romalpani commented on #1579
@beccamc
To make the field "required", we don't use an asterisk in VS (yet). The patterns that we do use are shown here in the guidelines: https://devdivdesignguide.azurewebsites.net/windows/notifications-and-progress/errors-and-validation/#field-validation

For the problem with the "Create new experiment" dialog, the "Compute name" text field should have the "<Required>" watermark in it. And supp

[2021-08-19 21:54] zewditu commented on #1596
Issues tot reproducible.
 ## For this settings
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/792c3988-8487-428e-adc4-324499630059)

## All parts are visible.

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/0a2fc706-e29b-465e-9cbf-2cadc1373353)

[2021-08-19 22:05] zewditu opened #1704 "Error window header not localized"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-08-19 22:22] jwood803 commented on #1695
@zewditu Hi! It's dark mode in VS

[2021-08-19 22:39] zewditu commented on #1695
@jwood803, thanks for the conformation! for me no cut-off
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/b110da43-7b63-42db-acfd-fe7fa784de52)

[2021-08-19 22:44] beccamc opened #1705 "MBConfig not implemented exception for invalid file"
On file open I'm seeing a terminal error from trying to open the mbconfig.
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/0d0f90e8-6e46-4bbe-9fba-d0c2606c4c76)

Problem is happening in MBConfigConverter ReadJson(), line 130. This is only happening with one weird mbconfig file. It's empty except for a test version number.

I have no idea how I got this particular mbconfi

[2021-08-19 22:45] beccamc commented on #1705
@LittleLittleCloud Any idea how I could have gotten this strange mbconfig file. It causes a problem with mbconfig load. If we can't think of how I could have gotten this file (e.g. if we don't think customers will end up here) I'm okay closing this issue as won't fix.

[2021-08-20 06:09] zewditu commented on #1557
This issue is not reproducible on the latest main.
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/5ab18fd5-bd2b-48f3-a4ba-dac35114b2a5)

[2021-08-20 08:19] vzhuqin opened #1706 "Should not display two repeated error messages."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.2.2141801 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.1
- Windows OS: Windows-10-Enterprise-21H1

**Describe the bug**
- On which step of the process did you run into an issue: Train page
- Clear description of the problem: Due to the short training time, I encountered 2 consecutive

[2021-08-20 09:00] NiharikaTipirishetty commented on #1572
Issue is fixed. Control type for feedback control is defined as button. Issue is fixed
![1572_Narrator_fixed](https://user-images.githubusercontent.com/83570638/130208484-bcb60c1f-d523-4ab8-a5f1-c188fb24a462.png)
![1572_NVDA_fixed](https://user-images.githubusercontent.com/83570638/130208490-b862d9aa-7646-4936-9e64-79df3b899da6.png)

[2021-08-20 12:32] torronen commented on #1535
I've recently experienced this issue less often, so I am thinking it might be something to what I have been doing. Do you know if other people or testing are experiencing same issue?

If others are not, then one more guess is it could be related to opening and setting up another .mbconfig (but not run training yet)

[2021-08-20 15:47] #1572 closed

[2021-08-20 17:36] LittleLittleCloud commented on #1703
Should return `Start Train` instead ?

[2021-08-20 17:39] LittleLittleCloud commented on #1705
Not quite clear... It's missing TrainingTime and Type, so theoretically it can't be something after v1 schema being applied.

[2021-08-20 17:40] LittleLittleCloud commented on #1701
Can we take a look at your json file? Is that vott format?

[2021-08-20 17:41] LittleLittleCloud commented on #1701
Label it as Priority 0 because it crashes VS.

[2021-08-20 17:41] #1687 closed

[2021-08-20 17:42] beccamc commented on #1705
Okay, I think we should just close. I don't see many customers getting into this situation. If they have a blank project they can just start a new project.

[2021-08-20 17:42] #1705 closed

[2021-08-20 17:45] JakeRadMSFT opened #1707 "October 2021 Release rough plan of work"
- #1564

- #1627 (Any Remaining Items)

- #1073
  - [x] #1750

- #1638 - @briacht @luisquintanilla @JakeRadMSFT - We need to figure out our codegen story.
  - [ ] Add Data Loading Code to Training.cs
  - [ ] #1350  - **_3 Days_**
  - [x] #1449
  - [ ] #851  - **_3 Days_**
  - [ ] #967 - **_3 Days_**
  - [ ] **Needs PM/Design** #1662

- #1635
  - [ ] #1655
  - [ ] #1409
  - [ ] #1446
  - [x] #1267

[2021-08-20 17:45] LittleLittleCloud commented on #1508
Possibly be, but not what it intended to do.

[2021-08-20 18:23] briacht opened #1708 "continue training - value cannot be null Error"
1. Create new console .NET 5 app
2. Add > Machine Learning Model, rename to "SentimentModel.mbconfig"
3. Select Text classification
4. Select yelp_labelled.txt dataset
5. Choose "Sentiment" as Label column
6. Get error:

![image](https://user-images.githubusercontent.com/10437687/130277142-4110a32e-571e-4152-9b02-74dee9366239.png)

I was able to continue to Train page but when I hit Start training

[2021-08-20 18:26] briacht opened #1709 "continue training - don't have option to pause training"
![image](https://user-images.githubusercontent.com/10437687/130277594-c43f1c24-1471-41c8-877f-9c62b0b228f9.png)

Can only Cancel

[2021-08-20 18:29] briacht commented on #1709
Also this is what it looks like after I finish training:

![image](https://user-images.githubusercontent.com/10437687/130277862-e44e540b-b6a0-419a-b84e-126d5abef7f4.png)

[2021-08-20 18:32] LittleLittleCloud commented on #851
#967

[2021-08-20 18:34] briacht opened #1710 "Rename Text classification scenario to make it more accurate"
Text classification -> Data classification

(to distinguish from Image classification)

[2021-08-20 19:17] luisquintanilla commented on #1677
Related to #1662

[2021-08-20 19:37] beccamc commented on #1426
Maybe this should go to chopping block? I'm not sure many customers will run into this. @JakeRadMSFT You put this in September, do you think it should be fixed?

[2021-08-20 20:15] dmamel commented on #1701
yes, I have attached a file

![image](https://user-images.githubusercontent.com/45320291/130288829-410fdd42-b7c7-4dd2-b598-f7ffc3e6da27.png)

[2021-08-20 21:41] beccamc commented on #1426
Oh actually this is fixed!
![image](https://user-images.githubusercontent.com/9122518/130296016-5ac6b780-4ec2-4afc-a9b8-b5e0097dcbd3.png)

[2021-08-20 22:04] beccamc commented on #1703
I think that makes sense

[2021-08-22 00:50] AR0106 opened #1711 "Value Prediction Scenario Gives Index Out Of Bounds Of Array Error/Exception"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.3.2136603
 - Visual Studio Version: 16.11.0

**Describe the bug**
- I ran into the issue while I was training some data with the Value Prediction Scenario and the Model Builder was going through each Regression Type after it got through the 3rd type
- Clear des

[2021-08-22 11:27] Exterminated opened #1712 "Training network on GPU. Error: "The JSON-RPC connection with the remote party was lost before the request could complete.""
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.6.3.2136603
 - Model Builder GPU Support Version: 16.6.3.2136603
 - Visual Studio Version (if applicable): Professional 2019 version 16.11.1
 - .Net 5.0

**Describe the bug**
- On which step of the process did you run into an issue: Train step in Image classification scenario using Local GPU and

[2021-08-22 12:14] torronen commented on #1535
@LittleLittleCloud It might be a coincidence, but in this case run was okay for a long time, until I started opening other .mbconfig files and then the error happened.
![image](https://user-images.githubusercontent.com/26261427/130354613-04f3514a-1f51-4ae0-bd78-cbbe5472bc7d.png)

2021-08-22 04:44:29.9509 DEBUG The process cannot access the file 'C:\Users\Administrator\AppData\Local\Temp\2\AutoML-N

[2021-08-22 15:19] torronen opened #1713 "Suggestion: Use Git LFS, and/or allow choosing where to store the model package"
**Is your feature request related to a problem? Please describe.**
Model files (.zip) can grow big, especially trees can reach multiple gigabytes (e.g. https://github.com/dotnet/machinelearning-modelbuilder/issues/1535#issuecomment-900829228 has 6 gigs). Git does not like big files. Storing locally on dev machine is an alternative but developer machines might not run back up solutions like network

[2021-08-23 03:35] vzhuqin opened #1714 "The data pre-filled on the Evaluate page is not the row 1 of the data."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.2.2141801 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.1
- Windows OS: Windows-10-Enterprise-21H1

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: The description of Sample data of Evaluate page is that t

[2021-08-23 13:37] luisquintanilla opened #1715 "Can't create MBConfig from UWP project"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.3.2136603
 - Visual Studio Version: 16.11.1

**Describe the bug**

Can't add mbconfig to UWP app

**To Reproduce**

1. Create UWP project using Blank App (Universal Windows) C# project template.
1. Either
    1. Right-click UWP project > Add > Machine Learning

[2021-08-23 14:09] beccamc commented on #1714
@zewditu Could this have regressed from the change you made to remove the header from the full row count?

[2021-08-23 14:13] beccamc commented on #1697
@zewditu Can I close this?

[2021-08-23 14:15] beccamc commented on #1708
@briacht Thanks for filing! What version of MB were you on?

[2021-08-23 14:17] beccamc commented on #1709
@LittleLittleCloud For visibility.

[2021-08-23 14:29] beccamc commented on #1712
@LittleLittleCloud We have another `The JSON-RPC connection with the remote party was lost before the request could complete` error. This one is on Dev16. Do you have any ideas?

[2021-08-23 14:30] beccamc commented on #1713
Thanks for the detailed suggestion! I'm moving this to triage for prioritization.

[2021-08-23 14:48] briacht commented on #1708
![image](https://user-images.githubusercontent.com/10437687/130468030-f9284a6a-c227-4662-81bc-0978e9f30191.png)

[2021-08-23 14:50] briacht commented on #1709
I talked to @LittleLittleCloud and we determined that this only happens when creating new .mbconfigs. I didn't get the error when opening projects with existing .mbconfig

[2021-08-23 16:09] zewditu commented on #1697
Yes!

[2021-08-23 16:12] zewditu commented on #1714
I am not sure, I will take look

[2021-08-23 17:13] Chittaranjandell opened #1716 "While Starting Train"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-08-23 17:28] #1697 closed

[2021-08-23 17:29] #1693 closed

[2021-08-23 17:29] zewditu commented on #1693
arnabl79 I hope the troubleshooting helps you.

[2021-08-23 17:39] zewditu commented on #1691
I think the screenshot of the error window is not for image classification because we do not have the training time we set for image classification. This error window is for text classification scenarios with a small dataset.

For image classification for a small dataset(< 5 images per class ) we have a warning message on the data page.

@LittleLittleCloud  do we have  an error message for a small

[2021-08-23 18:13] LittleLittleCloud commented on #1409
Could be solved together with #1446

[2021-08-23 18:17] LittleLittleCloud commented on #1679
#1446

[2021-08-23 18:26] beccamc commented on #1716
Hi @Chittaranjandell. I need more information to investigate this issue. Can you please include..
- Your Model builder version
- Steps  you did to get to the error
- Screenshots

Thanks!

[2021-08-23 18:37] beccamc commented on #1540
Sorry for the delay on this issue. The root cause is Model Builder trying to use the unencrypted connection string to access the SQL DB. The unencrypted string doesn't save the password, so it's unable to access. I've made the fix to the encrypted string. The fix will ship in September.

To unblock yourself in the meantime, you can add a password to your SQL connection string. Obviously saving pas

[2021-08-23 19:51] LittleLittleCloud commented on #1715
One work-around is you can just create a file with extension '.mbconfig' which will also open model builder wizard window

[2021-08-23 20:02] luisquintanilla commented on #1715
🤯 Thanks @LittleLittleCloud. I'll give that a try.

[2021-08-23 20:21] beccamc commented on #1570
@NiharikaTipirishetty I've checked with the team that owns this control. They said...

If you press Alt+Space you'll see a menu that is accessible.

![image](https://user-images.githubusercontent.com/9122518/130513918-bc72ac04-3404-4da7-b13c-6e3895b52421.png)

[2021-08-23 20:21] zewditu commented on #901
Radu confirmed that  highlighted values  are replaced by "Model Builder"

![image](https://user-images.githubusercontent.com/36615490/130514052-c16e3b11-eabf-4c0d-9ed9-ed523766445e.png)

[2021-08-23 20:24] beccamc commented on #1540
@vzhuqin I don't think you've tested with this setup before. I added instructions to the [test docs](https://github.com/dotnet/machinelearning-tools/blob/main/docs/tests/Instructions/Pre-Requisites/SQLPassword.md). Ping me if you run into problems!

[2021-08-23 20:27] beccamc commented on #1579
I got some info from Phil about their error handling control

Ok.  I think you can take a look at: https://devdiv.visualstudio.com/DevDiv/_git/WebTools?path=%2Fdocs%2FShared%2FValidatableControls%2FValidatableControls.md&_a=contents&version=GBmain to get a high level read on how we do this at a control level

ValidatableInputField.xaml does a lot of the work

And a common use looks like: 
<validat

[2021-08-23 20:41] LittleLittleCloud commented on #1712
The error `The JSON-RPC connection with the remote party was lost before the request could complete error` simply indicates that the training process was terminated unexpectedly. From the log provided, it seems that the training process was terminated after `RawByteImageLoading` and before `image classification`, which is probably where training is broken.

The reason why the training process bein

[2021-08-23 20:57] beccamc commented on #1642
@LittleLittleCloud Does the user only need to have CUDA 10.1 installed for this to work? Or does it need to be set as the "selected" CUDA?

[2021-08-23 20:59] LittleLittleCloud commented on #1642
No they don't have to, as long as Cuda 10.1 is installed and Cuda_Path_v10_1 is set (which should be set automatically when installing cuda10.1)

[2021-08-23 21:12] zewditu opened #1717 "label column not reset"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-08-23 21:18] LittleLittleCloud commented on #1528
Not reproduce on Dev17

[2021-08-23 21:19] zewditu opened #1718 "Training status update instablity"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-08-23 21:21] LittleLittleCloud commented on #1667
Dev17 looks good

[2021-08-23 21:24] briacht opened #1719 "Change description of Data classification"
Since we changed the title from Text classification to Data classification, let's update the description as well:

![image](https://user-images.githubusercontent.com/10437687/130521193-c5e2bcdf-7dbc-408e-afb9-5e54870447d6.png)

How about "Classify tabular data into 2+ categories..." ?

@JakeRadMSFT @romalpani

[2021-08-23 21:38] LittleLittleCloud commented on #1678
I still have trouble reproducing it
![image](https://user-images.githubusercontent.com/16876986/130522866-8d811f03-2d2f-4654-a406-dcf31a1831cf.png)

@beccamc @JakeRadMSFT @zewditu maybe give it a try and validate it?

[2021-08-23 21:39] beccamc commented on #1718
Closing as duplicate https://github.com/dotnet/machinelearning-modelbuilder/issues/1668

[2021-08-23 21:39] #1718 closed

[2021-08-23 21:39] LittleLittleCloud commented on #1513
Not reproduced on VS2022

[2021-08-23 21:40] beccamc commented on #1717
Sorry Zewditu I'm not understanding. Is it that you've changed the file but the label from the previous file is still selected? Can you include repro steps please?

[2021-08-23 21:43] LittleLittleCloud commented on #1695
Get it reproduced using the following setting

![image](https://user-images.githubusercontent.com/16876986/130523365-6c7890dd-7f20-49c7-b227-78c3fec7e231.png)

[2021-08-23 21:45] LittleLittleCloud commented on #1426
Validate it on VS2022 using the following mbconfig

[code]

[2021-08-23 21:47] beccamc commented on #1624
It seems that selected columns are not being displayed on reload. We should fix this for September release

[2021-08-23 21:48] LittleLittleCloud commented on #1699
LGTM on VS2022

[2021-08-23 21:48] beccamc commented on #1426
I propose it goes to the chopping block! Any thoughts XioaYun?

[2021-08-23 21:50] zewditu commented on #1717
Sure!

[2021-08-23 21:51] LittleLittleCloud commented on #1633
decimal still wrong for object detection

![image](https://user-images.githubusercontent.com/16876986/130524215-d747c421-7445-4752-8f38-fdbe8a4f72ef.png)

[2021-08-23 22:01] briacht opened #1721 "Button text is incorrect when model is Finalizing"
Button text should not say "Start training" when model is Finalizing.

![image](https://user-images.githubusercontent.com/10437687/130522419-ce6466b8-3d90-403e-988e-f80fa57c647c.png)

@romalpani What should the button say here and what should the state be?

[2021-08-23 22:03] LittleLittleCloud commented on #1585
trace in #1404

[2021-08-23 22:03] #1585 closed

[2021-08-23 22:06] #1416 closed

[2021-08-23 22:09] raduk commented on #901
Yes, I confirmed that they should be replaced with "ModelBuilder"

[2021-08-23 22:11] LittleLittleCloud commented on #1302
@beccamc @zewditu
Is there any update on this issue?

[2021-08-23 22:11] romalpani opened #1722 "Scenario page : Scenario cards shadow, tags, tooltip issue"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.2.2142301
 - Visual Studio Version: VS 2022 Preview 4

**Describe the bug**
- On which step of the process did you run into an issue: Scenario step
- Clear description of the problem:
1. There appears to be a blue colored shadow instead of the normal shadow for

[2021-08-23 22:25] romalpani opened #1723 "Data page : Spinner, combo-box selection state, subtitle of preview section."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.2.2142301
 - Visual Studio Version: VS 2022 Preview 4

**Describe the bug**
- On which step of the process did you run into an issue: Data page
- Clear description of the problem:
1. Once a file is selected, the spinner for "data preview" section appears to be

[2021-08-23 23:22] LittleLittleCloud opened #1724 "Image classification should not show remaining times"
**System Information (please complete the following information):**
 - Model Builder Version: current main
 - Visual Studio Version

**Describe the bug**
- Remaining time shows on image classification

**To Reproduce**
Steps to reproduce the behavior:
1. start an image training
2. remaining time shows on training page

**Screenshots**
![image](https://user-images.githubusercontent.com/16876986/130

[2021-08-23 23:27] LittleLittleCloud opened #1725 "Image classification - Model name not correct"
**Model Builder Version**: main

**Bug description**
Image classification model name not correct

**Steps to Reproduce**
1. launch an image classification local train
2. model name is `ImageClassifiaction`

**Expected Experience**
_A description of what you expected to happen. If applicable, add screenshots or "Machine Learning" Output Logs to help explain what you expected._

**Actual Experience*

[2021-08-23 23:48] #1725 closed

[2021-08-24 06:52] zewditu commented on #1714
The cause of this issue try out values are taken from selected rowIndex +1 instead of just select index.

[2021-08-24 07:06] Exterminated commented on #1712
Thank you for responding to my problem! I started the project from the last comment. It looks fine
Results in file
[imageClassificationSample-24-08-21.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7037080/imageClassificationSample-24-08-21.txt)

[2021-08-24 07:28] zewditu opened #1726 "Negative remaining time"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Select any text scenario
2.  Pass all set steps and start training.
3.

[2021-08-24 09:09] vzhuqin commented on #1540
Hi @beccamc, is this issue not fixed on latest main build: 16.7.2.2142301? I can repro it according to the instructions in test docs.
![1540 repro.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a3a0fa53-af90-464e-9dcc-c7c1aa13668a)

[2021-08-24 09:41] vzhuqin opened #1727 "Tooltip icons are different."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.2.2141801 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.1

**Describe the bug**
- On which step of the process did you run into an issue: Data page, Train page
- Clear description of the problem: The tooltip icons on Data page are different from

[2021-08-24 16:45] romalpani commented on #1719
I think the word "Tabular" might work. In my little research, I found this poll run by Fast.ai co-founder.
![image](https://user-images.githubusercontent.com/48927690/130656540-bacc61de-6320-405d-9caf-ea063c37ee31.png)

[Link to tweet](https://twitter.com/math_rachel/status/990375128314736640?s=20)
[Link to related article](https://www.fast.ai/2018/04/29/categorical-embeddings/)

[2021-08-24 17:02] zewditu commented on #901
Thanks for your correction.

[2021-08-24 17:35] LittleLittleCloud commented on #1712
@Exterminated

Thanks for the response. So it seems that mlnet framework itself doesn't have problem. And let's try if we can rule out the automl service as well by running the two experiments below:

### First experiment

Try CPU training in ModelBuilder by selecting CPU in Environment step

### Second experiment

Try image classification in mlnet cli.
- install mlnet cli in private channel by ru

[2021-08-24 17:56] LittleLittleCloud commented on #1602
@vzhuqin
Thanks for the finding, I'll take a look again

[2021-08-24 18:01] lehong3000 opened #1728 "--name (mlnet CLI) is not working"
**System Information**
 - Ubuntu 18.04

**To Reproduce**
~/.dotnet/tools/mlnet image-classification --dataset "/home/dataset" --name "MyProject"
Or
~/.dotnet/tools/mlnet image-classification --dataset "/home/dataset" --name="MyProject"

**Expected output project name**
MyProject

**Actual output project name**
SampleImageClassification

[2021-08-24 18:47] zewditu commented on #1695
If we reproduce it like this I do not think it is being in light and dark mode. It looks it is similar to https://github.com/dotnet/machinelearning-modelbuilder/issues/1197.
we might need to see if we can use ellipses and tooltips but I am not sure if it is ideal on buttons .
@romalpani  any thought?

@jwood803 is this the right way to reproduce the issue?

[2021-08-24 20:02] LittleLittleCloud commented on #1592
I think it's fine for now (to have predict | actual value not close to each other). We can make them next to each other if someone asking for it.

[2021-08-24 20:41] LittleLittleCloud commented on #1602
The first error "Training set has 0 instances" is expected. Because the data type of training label is actually string type and can't be parsed as single, so the training set is actually empty. In this situation, throwing a parse error might be better, but in most of the cases, parsing error is inevitable, and simply ignoring the rows with parsing error or replacing them with NaN or other default

[2021-08-25 00:18] LittleLittleCloud commented on #1688
Is this an issue to resolve? In model builder, the model name always matches mbconfig name, so it's legitimate to have special characters like `+`, `-` as long as it doesn't contain characters that are forbidden to be used in the file name.

[2021-08-25 02:09] vzhuqin commented on #1513
@LittleLittleCloud I still met this Error dialog after clicking one scenario on VS2019 and VS2022.

- ML.Net Model Builder: 16.7.2.2142301 (Main Branch)

- ![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/df873e18-7e8a-4fcb-b901-b1e9eac356cb)

- ![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/65d27863-026d-468f-9cf2-af62c967d192)
![1513 repro.gi

[2021-08-25 04:16] vzhuqin commented on #1569
Not repro this issue on main build: 16.7.2.2142301
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0848e92e-798e-42e2-9937-9483c4e9c9f8)

[2021-08-25 04:20] vzhuqin commented on #1696
Not repro this issue.
- ML.Net Model Builder: 16.7.2.2142301 (main build)
- Microsoft Visual Studio Enterprise 2019: 16.11.1
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e7616986-50c7-4c3f-ad35-3176a4550195)

[2021-08-25 05:53] vzhuqin commented on #1704
Repro on latest main build: 16.7.2.2142301
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e0b64194-ddc6-4b97-94fe-ef3cd88e7a66)

[2021-08-25 06:40] vzhuqin commented on #1581
Verify this issue on latest main build: 16.7.2.2142301
For Data classification, Value prediction:
1. The text "Click Predict to see the predict result" is not display after clicking "Predict" button;
2. The "Predict" button is disabled while predicting;
3. There is a spinner under "Results" during predicting.
![1581 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/856d7193-

[2021-08-25 06:59] vzhuqin commented on #1581
But I found other issues on Recommendation, Image classification, could you help to take a look?

**Recommendation**
The spinner above predicted rating should not be displayed since it already has the result.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/91cfee03-2aff-4706-95e1-2f9a0f011085)
**Image classification**
The spinner shows too early, it should be displayed a

[2021-08-25 07:15] vzhuqin commented on #1484
Hi @LittleLittleCloud @zewditu , please see below Gif, after right click on the blank area, the selected state is lost, then click "Copy", the selected state is back, is this expected?
- ML.Net Model Builder: 16.7.2.2142301 (Main Branch)
![1484_issue.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/95526d1c-e566-4f87-8851-0a8f1c537fe6)

[2021-08-25 09:29] Exterminated commented on #1712
Yep, both experiments was successful. What i should check/reinstall with servicehub side?
[mlnet-image-test-25-08-2021.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7045809/mlnet-image-test-25-08-2021.txt)

[2021-08-25 09:49] vzhuqin opened #1729 "The model name displays on the Evaluate page is different from the Train page."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.2.2142301 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.1
- .Net: 5.0.303

**Describe the bug**
- On which step of the process did you run into an issue: Image classification: Train page, Evaluate page
- Clear description of the problem: The Bes

[2021-08-25 10:35] Latha2564 opened #1730 "https://github.com/dotnet/VisualStudioCodeClient/issues/1660"
GitHubTags:#A11y_VSCode;#A11ySev2;#A11yTCS;#A11yMAS;#DesktopApp;#Visual Studio Code Client;#Focus Order;#Keyboard;#WCAG2.4.3;#Win32;#Win10;#AINotInScope;VisualStudioCode-Mac-Aug2021

### Environment Details:​
Application Name: Visual Studio Code
Standard Violated: Usability
### Repro Steps:​
1.Open Visual Studio Code editor
2.Tab till Welcome tab and press enter
3.Tab till "Show All" link and pres

[2021-08-25 11:04] Latha2564 commented on #1730
https://user-images.githubusercontent.com/89508906/130779613-a74c5c73-f58e-446a-b6b3-3361f6b2aaed.mp4

[2021-08-25 12:21] Latha2564 commented on #1730
Logged the bug in  the wrong Repository.

[2021-08-25 12:21] #1730 closed

[2021-08-25 12:49] jwood803 commented on #1695
@zewditu Yep, I was able to verify on my machine that setting the font size will do that. I think dark mode is setting the font bigger than light mode is.

[2021-08-25 14:43] briacht opened #1731 "Evaluate page Try model brings in 2nd row of data"
It says 1st row of data:

![image](https://user-images.githubusercontent.com/10437687/130811767-f9dc2ff0-1b16-45f6-9116-1c2896a20f16.png)

But it's actually the 2nd row:
![image](https://user-images.githubusercontent.com/10437687/130811955-431f1e5a-39c7-4cfa-adb0-05e736c65291.png)

[2021-08-25 14:54] briacht opened #1732 "Get code errors when copy code into app from Consume page"
I trained a model with Model Builder and then copy + pasted the code from the Consume page into a console app and got an error:

![image](https://user-images.githubusercontent.com/10437687/130813581-be9240a4-ddaf-4f72-93ea-a6e098912748.png)

This happened for both a Data classification model and a Value prediction model.

This code should run when copy + pasted into app.

[2021-08-25 21:59] ghost opened #1733 "Bulk edit in Advanced Data Options"
**Usability Issue**
When working with a File Data Source type, the UI for Advanced Data Options is difficult to work with when there is a large number of columns and columns that have wide names.

**Request**
Can the UI be modified to make this dialog easier to use?

**Additional context**
![image](https://user-images.githubusercontent.com/27367041/130869997-a76599dd-414e-446d-ada1-967136a579bc.pn

[2021-08-25 22:54] joyfinder opened #1734 "error CS0579: Duplicate & warning CS0436: The type 'ModelInput'"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:  Mac mini 2021
 - Visual Studio Version (if applicable): 1.59.1

**Describe the bug**
warning CS0436: The type 'ModelInput' in MLappMLapp/consume_model/SampleClassification/SampleClassification.Model/ModelInput.cs' conflicts with the imported type 'ModelInput' in 'SampleClassification.Model, Versio

[2021-08-26 07:42] vzhuqin opened #1735 "Model Builder Error: SQL connection is not valid. If reloading Model Builder, please re-open the SQL Source dialog to reauthenticate."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.2.2142501 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.1

**Describe the bug**
- On which step of the process did you run into an issue: Reopen model builder
- Clear description of the problem: Input data by selecting SQL Server>Change data sou

[2021-08-26 09:48] vzhuqin opened #1736 "Always display "x minutes, xx seconds remaining..." on Train page."
**System Information (please complete the following information):**

- ML.Net Model Builder: 16.7.2.2142501 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Train page
- Clear description of the problem: After clicking "Start training" button, the message next to

[2021-08-26 09:56] orulcan opened #1737 "ML .Net Image Classification Error"
Hi guys,
When I start train my Images I'm getting error.
![image](https://user-images.githubusercontent.com/34381361/130942769-72deaec1-4886-4768-8340-97e245fb3ecc.png)

Here is my data
![image](https://user-images.githubusercontent.com/34381361/130942825-e091bc43-fcf9-4b7a-bd65-e8662efbb81d.png)

Please help.

[2021-08-26 20:30] luisquintanilla opened #1738 "Save trained models using .mlnet or .model file extension"
**Is your feature request related to a problem? Please describe.**

Since the initial versions of ML.NET, the file extension used to save models has been *.zip*. To my knowledge, this is convention rather than a hard requirement. A *.zip* file may imply it's something you can open and inspect. For ML.NET, while you can open the *zip* file, it's not easy to inspect its contents unless you use somet

[2021-08-26 22:36] LittleLittleCloud opened #1739 "MBConfig not being updated after running mlnet cli train command"
**Model Builder Version**: _main_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
when mlnet cli finishes training with existing mbconfig, the old mbconfig is not updated with new one.

**Steps to Reproduce**
- launch an experiment using mlnet cli(any scenario other than image classification)
- retrain with generated mbconfig.
- mbconfig i

[2021-08-26 23:01] luisquintanilla opened #1740 "Update consume step app templates to .NET 6"
This issue extends #1605 to include the console app template.

Consider using these templates as reference. Thanks @timheuer

Console App: https://github.com/timheuer/MLtoolingplayground/commit/1bb576fbaf3c4e11f6bfac9cc943cc760c342994?diff=split

Web API: https://github.com/timheuer/MLtoolingplayground/commit/5ac8c1b401fc6417b07651f7a407737df996cba7

[2021-08-27 19:23] hariniramp opened #1741 ""Machine Learning" option not available when trying to Add New Item in C# project"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: not relevant yet
 - Visual Studio Version (if applicable): -

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
- Clear description of the problem: On step 2 of the tutorial, it says you sho

[2021-08-27 23:21] JReverse opened #1742 "This extension is not installable on any currently installed products."
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.6.3.2136603
 - Visual Studio Version (if applicable): 17.0.3172-preview3

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): On install
- Clear description of the problem: Can't install vsix

**To Reproduce**
Steps to reproduce the behavior:
1. Go to download
2

[2021-08-28 00:03] hariniramp commented on #1741
How do I find the model builder version? I've tried several places but can't seem to find it. I'm also not sure how to find out if my project is net472 or UWP. Could you help with this?

[2021-08-28 00:42] zewditu commented on #1742
did you install visual studio 2019?

[2021-08-28 01:14] JReverse commented on #1742
I'm using 2022 Preview ill try 2019 👍

[2021-08-28 02:53] #1742 closed

[2021-08-28 21:08] Aze1337 opened #1743 "The JSON-RPC connection with the remote party was lost before the request could complete."
Hello, I have been trying to setup image classification model with two type of Classes (bananas and grapes, 1.5k+ images each)
but I've been getting random errors while training. It never gets to the point where it works. I have tried to google the errors with no luck every time.

I have tried to train with CPU, I would get errors.
So I have decided to try to set it up for GPU (RTX 2070 SUPER, all

[2021-08-29 01:09] BeginTry opened #1744 "Error with Dynamic SqlCommand Query with DateTime type"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.3.2136603
 - Visual Studio Version VS 2019 ~ 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Train Model
- Clear description of the problem: a SqlCommand query fails when there is a space character in a column name. Here

[2021-08-29 01:18] BeginTry opened #1745 "Connect to SQL Server via SQL Authentication"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.3.2136603
 - Visual Studio Version VS 2019 ~ 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Data/Add Data
- Clear description of the problem: Connecting to SQL Server via SQL Authentication does not work. Testing the con

[2021-08-29 13:09] Exterminated commented on #1712
@LittleLittleCloud
Dose i need start training via cmd?

I replaced dll's and then start training via cmd. I don't see any mentions of my gpu in logs
[mlnet-29-08-2021.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7072545/mlnet-29-08-2021.txt)

[2021-08-30 03:18] vzhuqin opened #1746 "A non-experimental model is displayed in the output box."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.3.2142702 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Experiment Results in Output box
- Clear description of the problem: Find one non-experimental model is dis

[2021-08-30 08:24] vzhuqin opened #1747 "Model Builder Error on SQL + Binary Classification."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.3.2142702 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: SQL+Binary Classification
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the beha

[2021-08-30 13:46] sarah-graf commented on #967
Hi @LittleLittleCloud, I'm trying to set bitmaps as input for my training pipeline. However, after I implemented @centrolutions approach, I still get a schema mismatch error (schema mismatch for input column 'ImageSource': expected String, got Image <800, 600>) when the TrainModel method in the ModelBuilder.cs is called. From this I conclude that I still have to adjust the ImageSource somewhere, b

[2021-08-30 16:27] #1745 closed

[2021-08-30 16:34] beccamc commented on #1737
@orulcan can you share the MB version? It should be available in the Manage Extension dialog.

[2021-08-30 16:35] zewditu commented on #1643
After accessibility team office hour there is a follow-up email with Scott O'Hara to answer offline.

[2021-08-30 16:35] zewditu commented on #1594
After accessibility team office hour there is a follow-up email with Scott O'Hara to answer offline.

[2021-08-30 16:36] beccamc commented on #1743
@LittleLittleCloud Another instance of https://github.com/dotnet/machinelearning-modelbuilder/issues/1712

[2021-08-30 16:42] beccamc commented on #1733
Thanks for reporting @BeginTry! We've improved the visibility of column names, the fix will ship in September - Issue [1712](https://github.com/dotnet/machinelearning-modelbuilder/issues/1712).

We've gotten other comments about problems with bulk edit. I'm going to use this issue to track.

[2021-08-30 16:45] beccamc commented on #1735
This is expected. We don't store the plain text password for security reasons. @JakeRadMSFT Do you have thoughts on how we could improve this? Is there a secure way to do this? I can add more context if that would be helpful.

[2021-08-30 17:04] beccamc commented on #1651
Sorry, I didn't get what you mean by that. Is it possible for it to look like this?

"DataSource": {
    "Type": "SQL",
    "Version": 1,
    "ColumnProperties": [
      {
        "ColumnName": "Id",
        "ColumnPurpose": "Ignore",
        "ColumnDataFormat": "String",
        "IsCategorical": false,
        "Type": "Column",
      },

[2021-08-30 17:17] LittleLittleCloud commented on #1651
Kinda, except a small version suffix will need to be added to ColumnProperties

[code]

[2021-08-30 17:24] LittleLittleCloud commented on #967
@sarah-graf

What's your training pipeline looks like, and it will be great if you can paste your ModelBuilder.cs here.

[2021-08-30 17:30] LittleLittleCloud commented on #1712
@Exterminated
What you do looks correct. But from the log it seems that the mlnet cli is still using cpu to train the model.

[2021-08-30 17:37] LittleLittleCloud commented on #1741
You can find it in extension manager window (Extension -> Manage Extensions), then go to Installed.

![image](https://user-images.githubusercontent.com/16876986/131380955-ba14c061-de8d-4d02-9283-65519c25d64f.png)

To find out which type of project you have, you can go to the `.csproj` file and check out the `TargetFramework` value

[2021-08-30 18:10] LittleLittleCloud commented on #1743
Hi @Aze1337

Let's track this issue in #1712

[2021-08-30 18:13] LittleLittleCloud commented on #1686
Close due to no respond, feel free to reopen it if you have more questions.

[2021-08-30 18:13] #1686 closed

[2021-08-30 18:16] LittleLittleCloud commented on #1701
Thanks @dmamel

It seems that model builder will crash in object detection when dataset only contains one image. We will fix it ASAP and in the meanwhile, one workaround can be simply adding more images.

[2021-08-30 18:17] LittleLittleCloud commented on #1685
Close due to no response, feel free to reopen it if you have more questions.

[2021-08-30 18:17] #1685 closed

[2021-08-30 18:18] LittleLittleCloud commented on #914
Close due to no response, feel free to reopen it if you have more questions.

[2021-08-30 18:18] #914 closed

[2021-08-30 18:35] hariniramp commented on #1741
Okay! The version for ML.NET is 16.1.0.2027905. The type of project is net5.0. Hope this helps!

[2021-08-30 18:40] zewditu commented on #1484
The  fix did by the context menu non- focusable regress another accessibility issues (the user is not able to move with in context option using the keyboard)
And it is a  known issue microsoft/microsoft-ui-xaml#1801.

[2021-08-30 18:46] LittleLittleCloud commented on #1741
The config-base training is not available in 16.6.1, could you update your model builder extension to 16.6.3 instead?

[2021-08-30 19:03] beccamc commented on #1746
So the problem here is that the final model is getting reported late? These final models should be printed in the list instead of showing later in the output

[2021-08-30 19:10] beccamc commented on #1734
@joyfinder Sorry you ran into this problem! It sounds like you're using the CLI. Are you able to open the generated project and take a look at the references to the ModelInput file?

[2021-08-30 19:11] beccamc commented on #1437
Unfortunately I'm not sure what to do if that Azure trail has expired. Are you using a new Azure account?

[2021-08-30 19:29] Aze1337 commented on #1743
Hello @LittleLittleCloud ,

thank you for your response, I'll look into the other thread and see if it can help me.

I tried both CPU and GPU on the original post above, when I saw that CPU wasn't working. I installed everything for the gpu to be compatible , yet same errors...

also I just tried to load the folder with the data again and I get this..

![image](https://user-images.githubuserconten

[2021-08-30 19:32] beccamc commented on #1744
Thanks for reporting @BeginTry! I assume you manually edited the query string in the .mbconfig file?

[2021-08-30 19:35] LittleLittleCloud commented on #1743
You can just kill the Servicehub.Host.CLR.x64.exe process in task manager

Back to the topic, How's your memory usage? I notice that the size of your image folder is really large, so it could be OOM which causes the training process to be terminated by OS. Could you check the memory usage  (Both memory and GPU memory) to see if there's a spike or massive grow before the exception?

Meanwhile, coul

[2021-08-30 19:40] beccamc opened #1748 "Update package dialog string"
Using an older project that already has trained models, re-train. I think my project referenced version Microsoft.ML 1.5

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/4d852af6-3571-480a-b01b-9d464bf0be2f)

1. We need to format the string right so it includes an ML.NET version instead of {V0}
2. The string should be the body of the dialog instead of the title so that t

[2021-08-30 19:50] Aze1337 commented on #1743
I have recorded a youtube video from start to when it crashes with task manager being open.
what should I do tho ? let's say it's because of how big my folders are, how can I possibly lower it ? how much is enough ect ?
thank you very much
https://youtu.be/Ysd63RFUFQU
let me know if that's enough for you

[2021-08-30 19:55] zewditu commented on #1643
I had a call with Scott O'Hara on teams, what he updates me is this is WPF by design, not a  Model Builder bug.

[2021-08-30 20:03] zewditu commented on #1594
In Teams call discussion with Scott O'Hara , this might be a narrator issue and we have a follow-up email with the narrator team.
Scott also recommend making a design change to completed Azure workspace set up  with less stack of windows

[2021-08-30 20:35] luisquintanilla opened #1749 "Add link to consume code doc"
Working on a how-to doc to show how to use code generated from Consume step in Model Builder. Add a link in Consume step to point to this doc.

dotnet/docs#25795

[2021-08-30 20:46] dmamel commented on #1701
This is just an example. The minimal file for debugging. I tried different files, and 100 and 1000 records.
Here is an example of 11 entries.
[result (2).zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7079509/result.2.zip)
![image](https://user-images.githubusercontent.com/45320291/131402976-7a53cf22-146f-4698-82d9-cc5637964ee9.png)

[2021-08-30 21:04] Brett-Parker commented on #1738
I have always used the default .zip. I think something like .mlnet would make a lot of sense and be an easy differentiator for viewing in a file explorer.

[2021-08-30 21:07] LittleLittleCloud commented on #1701
@dmamel
I C, can I have the images as well so I can precisely reproduce the error

[2021-08-30 21:17] dmamel commented on #1701
Yes, sure
[Downloads.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7079614/Downloads.zip)

[2021-08-30 21:53] beccamc commented on #1749
So we need Rohan to figure out how to display this? Or is this meant to be a link at the top?

[2021-08-30 23:10] luisquintanilla commented on #1749
Some guidance would help. Its "just" adding a link in the Consume Step, kind of like there's already links to docs in other screens, but help deciding where it's most efficient is appreciated :)

[2021-08-31 00:04] BeginTry commented on #1744
@beccamc: Hmmm. The query is in the _.mbconfig_ file? I didn't know that. :)

I ended up creating a VIEW on the TABLE using aliases that didn't require QUOTENAME.

[2021-08-31 00:06] BeginTry commented on #1745
Thanks, @beccamc! 👍

[2021-08-31 05:06] NiharikaTipirishetty commented on #1578
Issue is fixed. Tool tips present for all fields are keyboard accessible. Hence closing the issue.

https://user-images.githubusercontent.com/83570638/131445150-88a84e90-b376-40c2-8d1d-fd41bf8401cc.mp4

[2021-08-31 05:06] #1578 closed

[2021-08-31 05:12] NiharikaTipirishetty commented on #1570
On pressing Alt + space, a popup will be displayed for keyboard users where close option is available to close the dialog. As there is an alternative for keyboard users to close the dialog, closing this issue.

https://user-images.githubusercontent.com/83570638/131445765-840f6340-1ed7-48a0-bd4a-63f854e79474.mp4

[2021-08-31 05:12] #1570 closed

[2021-08-31 05:37] NiharikaTipirishetty commented on #1595
Screen Reader is announcing status message that is displayed while creating a workspace. Hence closing the issue

https://user-images.githubusercontent.com/83570638/131447724-70b8f93c-5c3b-4906-adf6-552c15f7f924.mp4

[2021-08-31 05:37] #1595 closed

[2021-08-31 05:55] NiharikaTipirishetty commented on #1596
@zewditu For resize, please follow below steps:
1. please select resolution that is average of all display resolutions, (1280*720 in my machine)
2. Navigate to 'Ease of access' settings, select display in sitemap. Under 'Make text size bigger' section, drag the slider to 200% and click on Apply button.

Issue is still reproducing in latest model builder version.

https://user-images.githubusercont

[2021-08-31 06:38] NiharikaTipirishetty commented on #1573
Issue is fixed. Code snippet in Consume tab is now keyboard accessible.

https://user-images.githubusercontent.com/83570638/131454199-a0c2518d-5b2a-4676-979f-9daffa6bfb1d.mp4

[2021-08-31 06:51] NiharikaTipirishetty commented on #1597
Issue is fixed. Narrator/NVDA is announcing about Next steps controls when focus lands on the controls.

https://user-images.githubusercontent.com/83570638/131455818-56ed9308-31b4-48bb-b2f3-3a89e9102003.mp4

![1597_NVDA_fixed](https://user-images.githubusercontent.com/83570638/131455831-1a55c0a7-1b04-4e1f-a5fb-fe9d81ad360e.png)

[2021-08-31 07:32] NiharikaTipirishetty commented on #1599
Issue is fixed. Narrator/NVDA is reading expand/collapsed state of the button on pressing enter.
![1599_Narrator_fixed](https://user-images.githubusercontent.com/83570638/131461781-a1b23c29-9173-4882-8fa7-7c58b57a41c4.png)
![1599_NVDA_fixed](https://user-images.githubusercontent.com/83570638/131461788-b5790b3e-668e-4192-87bb-6934d4b1167d.png)

[2021-08-31 07:44] NiharikaTipirishetty commented on #1634
Issue is fixed. Narrator focus is landing on all controls and also announcing about the controls in 'Next steps' tab. Hence closing the issue.

https://user-images.githubusercontent.com/83570638/131463310-9466f2f9-16e3-436a-90db-70704766af51.mp4

[2021-08-31 07:44] #1634 closed

[2021-08-31 07:55] NiharikaTipirishetty commented on #1630
@zewditu Issue is partially fixed. Train in Azure option is receiving keyboard focus but on pressing enter/space key, no action is getting performed. When train in azure optioned is selected using mouse, it will be navigated to training environment tab.

https://user-images.githubusercontent.com/83570638/131464815-a5435819-9860-4f26-9b58-09d497dc68a9.mp4

[2021-08-31 07:59] sarah-graf commented on #967
@LittleLittleCloud thanks for your reply! Here is my ModelBuilder.cs with the trainings pipeline I am using. The error always occurs when the TrainModel method is called.

[code]

[2021-08-31 15:42] #1599 closed

[2021-08-31 15:43] #1597 closed

[2021-08-31 15:43] #1573 closed

[2021-08-31 15:53] jwood803 commented on #1738
I wonder if something can also be made or added into Netron to recognize the `.mlnet` files to be able to double click on them.

[2021-08-31 16:12] briacht opened #1750 "Add time series forecasting to Model Builder"
Adding a tracking issue for time series forecasting scenario

[2021-08-31 16:21] orulcan commented on #1737
@beccamc I'm using latest version.

[2021-08-31 16:35] beccamc commented on #1651
Okay, maybe this isn't worth it and should just be left as is?

[2021-08-31 16:52] LittleLittleCloud commented on #1651
@beccamc

I think so, however in the future if we are really confident that ColumnProperties class won't be changed we can also remove the version (and even type) info by making it a concrete class in datasource schema

[2021-08-31 16:53] beccamc commented on #1750
Just for record keeping purposes, this is the issue that we were previously tracking customer requests in https://github.com/dotnet/machinelearning-modelbuilder/issues/1651

[2021-08-31 16:58] beccamc commented on #1651
Great! I will close this

[2021-08-31 17:00] #1651 closed

[2021-08-31 17:07] LittleLittleCloud commented on #967
Hi @sarah-graf

The schema mismatch error is from [`LoadRawImageByte`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.imageestimatorscatalog.loadrawimagebytes?view=ml-dotnet), which input column has to be image path and output will be image bytes. However You don't need `LoadRawImageByte` transformer in `BuildTrainingPipeline` because your image has already been loaded and transfer to by

[2021-08-31 17:19] romalpani commented on #1722
1. In the build there appears to be a blue border to the cards. It seems like the shadow is correct, but the blue border is the issue. Happy to take a look at the issue together during our sync later @zewditu. The mocks look like this...
![image.png](https://images.zenhubusercontent.com/5e8f93535a77012adc93d289/e91e4b26-9063-42a1-a281-6e843e77224b)

2. In the screenshot on the main issue, the tags

[2021-08-31 17:22] LittleLittleCloud commented on #1701
@dmamel

It works fine on my PC
![image](https://user-images.githubusercontent.com/16876986/131547660-7629d9ef-3a6b-4dd5-a876-40daeb21fe54.png)
![image](https://user-images.githubusercontent.com/16876986/131547710-1fef58b3-f74c-4c34-adb6-5019739d666d.png)

It could be related with system setting (different decimal separator in English/Russian). I will switch to the Russian language to see if I can

[2021-08-31 17:30] LittleLittleCloud commented on #1743
@Aze1337

Thanks for the video, from the stream it looks like the training has started ( I assume you are using CPU) for a while, and then gets terminated because of a reason that we don't know but very possibly the memory outage. To confirm it you can use mlnet.cli, which should throw exception while getting terminated.

[2021-08-31 17:55] dmamel commented on #1701
Yes, everything works with the English regional settings (though not the first time, but it works).
Thanks))

[2021-08-31 17:57] LittleLittleCloud commented on #1701
Thanks @dmamel for the quick response, we will start fixing this shortly

[2021-08-31 18:22] enjoy8bit opened #1751 "Visual Studio 2022 Preview (Image classification does not work with local GPU)"
**Model Builder (Preview) Version**: 16.6.2.2132901
**Model Builder GPU Support Version (Preview)**: 16.6.3.2136603
**Visual Studion Version**: 2022 Version 17.0.0 Preview 3.1

**Bug description**
I cant run any local GPU image classification training, because the compatibility check always fails.

![image](https://user-images.githubusercontent.com/4288419/131555596-4208045d-5aaf-417b-872f-92347b6

[2021-08-31 18:42] romalpani commented on #1723
For #1 - Loading state of data preview, here's a Figma.
https://www.figma.com/file/bhdPADawiO4YQGdUNExiUc/?node-id=515%3A49175
@briacht any suggestions for the language, feel free to comment on the Figma.

[2021-08-31 18:48] romalpani commented on #1723
For #2 - Padding for selected item in drop-down.
If you notice in this screenshot, there's a bit of padding on the top of the selection area. This screenshot is of a menu item from the top bar of VS.
![image.png](https://images.zenhubusercontent.com/5e8f93535a77012adc93d289/e8a42f79-1dc0-477d-90e8-2015d2d04922)

Whereas in the column to predict dropdown, you'll notice the padding from top is missi

[2021-08-31 19:25] zewditu commented on #1643
I confirmed that this is how the narrator announce by default and the UIA tree shows that everything is set correctly ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/1a82b8ff-33f0-4c7c-b627-8ca73cddb31e)

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/f9a3fb9d-d7c9-47fc-bd49-58b6feae6919)

[2021-08-31 19:43] enjoy8bit commented on #1751
Ok, but it says all my stuff is up 2 date:
![image](https://user-images.githubusercontent.com/4288419/131565934-9d3360b5-02d3-4653-94f9-7664b421354a.png)

![image](https://user-images.githubusercontent.com/4288419/131565989-ba85f59e-d8b8-46ce-bff7-22238deff20b.png)

Any ideas?

[2021-08-31 19:50] beccamc commented on #1751
You can download the newest build from the marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-08-31 19:55] LittleLittleCloud commented on #1751
@beccamc

The binary in that link is for VS2019, I don't think we release model builder for VS2022 to the public yet.

[2021-08-31 20:05] enjoy8bit commented on #1751
![image](https://user-images.githubusercontent.com/4288419/131568573-ac33c537-e36c-4b1c-8a26-7ef66eb3f149.png)

Yup, i installed that specific VS19 version. - But in VS22 i still have the issue.

[2021-08-31 20:15] beccamc commented on #1751
I don't know if that channel is still there. @enjoy8bit We are shipping an official build for VS 2022 in the next two weeks.

@LittleLittleCloud Will we update the Marketplace build before the release on the 15th?

[2021-08-31 20:27] LittleLittleCloud commented on #1751
@beccamc
I don't think so, but maybe we could share v16.7.3 (the one inserted in VS2022 preview4) to unblock @enjoy8bit?

[2021-08-31 22:12] romalpani commented on #1723
For #3:

**When no columns are ignored:**
"10 of 100,000 rows."

**When 1 column is ignored:**
"10 of 100,000 rows, and all 7 columns (including 1 ignored column)."

**When 4 columns are ignored:**
"10 of 100,000 rows, and all 7 columns (including 4 ignored columns)."

@briacht @beccamc  - Thoughts?
I remember some time back we had discussed the strings. Not sure if we had considered this as an op

[2021-09-01 00:31] rseedle1 opened #1752 "ML.NET Tutorial - Get started in 10 minutes issue"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 2019, brand new
 - Visual Studio Version (if applicable): 2019, brand new

Microsoft Visual Studio Community 2019 (3)
Version 16.11.2
VisualStudio.16.Release/16.11.2+31624.102
Microsoft .NET Framework
Version 4.8.03761

Installed Version: Community

Visual C++ 2019   00435-60000-00000-AA818
Microso

[2021-09-01 01:17] vzhuqin commented on #1746
It seems not. I don’t see the trainer of this score from the Experiment list.

[2021-09-01 03:25] vzhuqin commented on #1667
Not repro this issue on:

- VS2022: Microsoft Visual Studio Enterprise 2022 main (64-bit)
Version 17.0.0 Preview 4.0 [31631.462.main]
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9b5d62f4-b872-4c73-ab0f-fce966f29b1c)
- ML.NET Model Builder: 16.7.3.2143002
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/1dccbdd6-0a4e-4634-bcb4-200ced74c310)

[2021-09-01 05:52] zewditu commented on #1722
I need to pull @JakeRadMSFT, I think if I remember correctly @JakeRadMSFT, you are the one recommended to remove "ML" from the tag if I am wrong so sorry about that.

[2021-09-01 06:18] TinkuDhankhar opened #1753 "Issue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-01 07:34] dmamel commented on #1701
Everything works, but this result takes a long time to process. Is this how it should be?
In the Model Builder and in the generated code.
I thought that using a ready-made model should be fast.

![image](https://user-images.githubusercontent.com/45320291/131631003-346db045-5dea-4297-97a4-b1af7b9dabdd.png)

[2021-09-01 08:14] TinkuDhankhar opened #1754 "ML.Net"
**MLNET**
Today we are try to implement bot framework. but we got a error when we train this model
1).
![image](https://user-images.githubusercontent.com/52667071/131634643-da376b1a-2f3c-4b23-85ce-6c8810199a63.png)
show 5 total row in this table
2).
![image](https://user-images.githubusercontent.com/52667071/131636096-130cbdd5-3359-4c29-8e0c-678afec139fc.png)
3).
![image](https://user-images.githu

[2021-09-01 08:17] #1753 closed

[2021-09-01 09:35] vzhuqin commented on #1633
This issue is fixed on main build: 16.7.4.2143102
Object detection:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/72453d5a-168f-4005-bebd-05b73ffd13c1)
Image Classification:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/584a5ece-01ea-4781-8e20-b6e54cc2d019)

[2021-09-01 09:47] vzhuqin commented on #1513
Still met this error after clicked one scenario on main build: 16.7.4.2143102.

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f143c618-1065-4abf-9e30-852c8c6df32a)

[2021-09-01 10:05] vzhuqin commented on #1673
Cannot see the background of buttons which is disabled status, and the box of code snippet on Consume page is not obvious, could you help to take a look at this?
- ML.NET Model Builder from Main:
16.7.4.2143102
- VS2022:
Microsoft Visual Studio Enterprise 2022 Int Preview (64-bit)
Version 17.0.0 Preview 4.0 [31630.363.main]

![image](https://user-images.githubusercontent.com/81727020/131651795-2e7

[2021-09-01 11:14] sarah-graf commented on #967
Hi @LittleLittleCloud

many thanks for your response! I have adjusted the pipeline, but with a small difference because ResizeImages expects a different order of variables (see picture). Which is why I changed `.Append(mlContext.Transforms.ResizeImages("ImageSource", "ImageSource", 224, 224))` to `.Append(mlContext.Transforms.ResizeImages("ImageSource", 224, 224))`.

![Screenshot (19)](https://use

[2021-09-01 16:43] beccamc commented on #1752
Sorry you ran into a problem @rseedle1. Can you check out this troubleshooting guide? https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project

[2021-09-01 16:43] beccamc commented on #1715
Do we know what is special about the UWP project? I want to add this case to our troubleshooting instructions https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project

[2021-09-01 16:48] beccamc commented on #1754
@TinkuDhankhar Thanks for reporting. Is your dataset only 5 rows long? That is probably too small to get a trained model. Can you add more data?

[2021-09-01 16:53] beccamc opened #1755 "Cannot switch Image environment"
1. Select Image Classification & local environment
2. Select data set
3. Go back to environment and choose "Azure". Do not change data
4. Try to train

`Could not find file 'C:\Users\beccam\AppData\Local\Temp\e78b7b8a-c418-4fb9-9cbc-54e45e32faef-CustomerOD.AzureImageTrainData.tsv'.`

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/37522046-affd-49d0-9752-9ac5c1fb9912)

W

[2021-09-01 17:38] LittleLittleCloud commented on #967
Oops I forget adding ['ExtractPixels'](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.imageestimatorscatalog.extractpixels?view=ml-dotnet). It will convert images to byte vectors

[code]

[2021-09-01 17:40] LittleLittleCloud commented on #1701
@dmamel
Is that the first image to predict? If so it's normal as it takes some time to load the model

[2021-09-01 19:23] LittleLittleCloud commented on #1701
The model won't be loaded until it gets called (as per se lazy loading). So the first predict will be slow, but you should see the second and following prediction much faster.

[2021-09-01 20:25] beccamc opened #1756 "Investigate perf of hiding ignored columns"
In [PR 1035](https://github.com/dotnet/machinelearning-tools/pull/1035) we removed Ignore columns for per reasons.

We've gotten some feedback that it would be nice to have ignore columns. Reasons to change back...
- Bri wants ignore column back
- The string explaining what users are seeing is clunky
- It was commented on in our user study

**This issue is to investigate the perf of ignore columns

[2021-09-01 20:51] zewditu commented on #1723
@romalpani  is "Tools" is a dropdown menu or Combobox?  in vs  combo boxes have similar appearance what we have in model builder
![image](https://user-images.githubusercontent.com/36615490/131743189-ce5923bc-f1d6-4857-99bb-d84f1540b0d7.png)

[2021-09-01 20:58] luisquintanilla commented on #1715
@beccamc there's nothing special that I can think of. The third point in that doc was a good workaround for me and I was able to train / consume with no issues.  Thanks for including it 🙂

[2021-09-01 21:05] luisquintanilla commented on #1580
@LittleLittleCloud I have this listed as needing docs. What's needed from a docs standpoint?

[2021-09-01 21:06] JakeRadMSFT commented on #1722
Is the issue here that "ML" doesn't show up in tag? I'm not sure I remember this decision taking place but not all design decision end up making it back in figma.

I think it's fine without ML. What does ML add to the tag?

[2021-09-01 21:07] luisquintanilla commented on #925
@romalpani I have this as needing docs. Is there anything needed from our end?

[2021-09-01 21:08] luisquintanilla commented on #1642
@LittleLittleCloud is this PR the only doc related requirement for this issue?

dotnet/docs#25879

[2021-09-01 21:09] LittleLittleCloud commented on #1642
Yep

[2021-09-01 21:16] luisquintanilla commented on #1404
@LittleLittleCloud after the dotnet-suggest updates merged, what are the setup instructions (if any) to get this working on the CLI? Is it the same as the instructions that were removed from the doc?

---

## Set up CLI suggestions (tab-based auto-completion)

Since the ML.NET CLI is based on `System.CommandLine`, it has built-in support for tab completion.

An example of how tab auto completion w

[2021-09-01 21:18] romalpani commented on #1723
@zewditu - since the issue is at the control level, it is okay for now. Let's not make a custom control.
Instead, if we can figure out who the owner of the original control is - maybe we can assign a bug to them informing of this issue?

[2021-09-02 00:22] romalpani commented on #925
I am not sure what documentation this particular issue would need. May be the “Needs docs” label was attached by mistake, but I don’t see one right now on the issue.

From: Luis Quintanilla ***@***.***>
Date: Wednesday, September 1, 2021 at 2:07 PM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Rohan Malpani ***@***.***>, Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbui

[2021-09-02 00:24] romalpani commented on #1722
@JakeRadMSFT - the issue is not about "ML" but more about the look and feel of the tag. The screenshot from Figma might be old and didn't capture the decision of not having "ML".

It is okay to not have the text "ML" in it. But let's make sure to fix the look and feel i.e. the padding and rounded corners on the tags as per Figma and our conversation from before @zewditu.

[2021-09-02 01:41] BeginTry commented on #1744
I've tried some additional testing with 16.6.3.2136603 and now I am getting a new error. The SQL table I am working with has about 50k rows and is only about 10MB. I could dump that to a separate database and provide you with a native SQL Server backup. I'm happy to do that if desired.
![image](https://user-images.githubusercontent.com/27367041/131767632-766d81fb-b5bc-40a5-b617-128a70ee8a38.png)

[2021-09-02 04:27] vzhuqin opened #1757 "Suggest: shorten tab control length of data source type."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.4.2143102 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Data page
- Clear description of the problem: On data page, I have encountered several times that the data

[2021-09-02 08:02] vzhuqin opened #1758 "Sometimes the tabs after data are disabled after reloaded model builder."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.4.2143102 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Reopen model builder after complete training
- Clear description of the problem: The problem does not occur

[2021-09-02 08:24] WalternativE commented on #1738
Sensible change to not draw people's attention to the archive character of the file. I still enjoy the possibility to look at the contents, though (but I'm also a weird person unpacking JARs and DOCX files from time to time).

[2021-09-02 09:41] vzhuqin opened #1759 "Show Microsoft Visual Studio error when open model builder on VS2022 Preview 3.1."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.3.2143104 (Main Branch)
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 3.1

**Describe the bug**
- On which step of the process did you run into an issue: Open model builder
- Clear description of the problem: Can add model builder by right cl

[2021-09-02 10:52] GHoltmann commented on #1437
Hi Becca! thank you for your help. Yes its a new Azure account and I guess there is something wrong with the accounts permissions. At my company we do have corporate Azure services, but for testing new solutions and concepts like this its easier to test with trial accounts rather than going through all the corporate approvals required internally to use a coporate Azure user.So considering the abov

[2021-09-02 14:24] #1598 closed

[2021-09-02 14:50] saint4eva commented on #1738
I would prefer .mlnet file extension. And it should have a good file extension icon for easy recognition on a solution explorer.

[2021-09-02 16:19] luisquintanilla commented on #1707
## Documentation Work Items

[September 2021](https://github.com/dotnet/docs/projects/138?card_filter_query=label%3Adotnet-ml%2Fprod)

## Areas of Focus

- Tutorial: Model Builder Image Classification Training on Azure
- Tutorial: Model Builder Recommendation
- Update code samples in documentation
- Update how to choose an algorithm & improve model accuracy

[2021-09-02 16:23] luisquintanilla commented on #1710
Created issue dotnet/docs#25921 to address these changes in Docs.

[2021-09-02 16:49] luisquintanilla commented on #1211
Created dotnet/docs#25922 to track and update docs accordingly.

[2021-09-02 17:20] LittleLittleCloud commented on #1404
@luisquintanilla
Yes, the setup step is identical with previous cli.

https://github.com/dotnet/command-line-api/blob/main/docs/Features-overview.md#Suggestions

[2021-09-02 17:24] LittleLittleCloud commented on #1580
@luisquintanilla
I was just thinking that if it's necessary to let audience know we change the schema of .mbconfig so they won't be confused ( something like why after just reopening mbconfig changes my .mbconfig file...) But a better place to mention it seems to be in release doc now.

[2021-09-02 17:25] luisquintanilla commented on #1580
Yeah. In the release notes makes sense.

[2021-09-02 17:30] luisquintanilla commented on #1404
Great. Thanks

[2021-09-02 17:42] LittleLittleCloud commented on #1701
@dmamel
Hmmm thanks, we will look into it

[2021-09-02 17:43] LittleLittleCloud opened #1760 "Slow inference speed for object detection onnx model."

[2021-09-02 17:44] LittleLittleCloud commented on #1701
#1760

[2021-09-02 17:55] briacht commented on #1738
Thanks for the feedback everyone!

@luisquintanilla I think we can move forward with this - .mlnet

[2021-09-02 17:57] LittleLittleCloud commented on #1701
@dmamel

What CPU do you have

[2021-09-02 18:13] LittleLittleCloud commented on #1760
After talking to Azure AutoML Vision, a few seconds is `normal` for a single image and since no batch inference is supported by onnx model, using onnxruntime GPU won't make a big difference.

We should seek out to Azure AutoML Vision to see if they can make input[0] of onnx model as a dynamic axis so it can accept multiple images and run batch inferencing. Although model builder itself won't benef

[2021-09-02 18:34] dmamel commented on #1701
Intel Core i5 1.7GHz 4CPUs 8Gb

![image](https://user-images.githubusercontent.com/45320291/131897989-f8c5ed77-26c7-412f-aa49-aae1ab70ea02.png)

Intel Core i7 3GHz 8CPUs 32Gb

![image](https://user-images.githubusercontent.com/45320291/131897911-52f0f846-f0f2-456f-89c5-28640dcf6b84.png)

[2021-09-02 18:38] LittleLittleCloud commented on #1701
@dmamel

We confirmed from our vision team that seconds can be considered normal for a single image inference. And we are looking into batching inference solution to make it faster on GPU

[2021-09-02 18:40] dmamel commented on #1701
OK thanks

[2021-09-02 19:12] beccamc commented on #1746
Bri also thinks it is odd to include the number column (first column) in "Top x models explored"

[2021-09-02 19:16] beccamc commented on #1735
We need to create a better reauthentication experience.

[2021-09-02 19:23] beccamc commented on #1713
This is waiting on the upcoming collaboration epic

[2021-09-02 19:25] beccamc commented on #1709
@LittleLittleCloud Is this fixed?

[2021-09-02 19:25] JakeRadMSFT commented on #1713
Related to https://github.com/dotnet/machinelearning-modelbuilder/issues/1738

[2021-09-02 19:25] LittleLittleCloud commented on #1709
Nope : - )

[2021-09-02 19:30] beccamc commented on #1664
@JakeRadMSFT To comment on correct approach

[2021-09-02 19:33] beccamc commented on #1672
@LittleLittleCloud FYI on this issue.

[2021-09-02 19:34] beccamc commented on #1673
@vzhuqin Can you check this again? It may have been fixed by Xiaoyun icon fixes

[2021-09-02 19:39] beccamc commented on #1656
Would like to get this into October... may need to push to November.

[2021-09-02 19:39] beccamc commented on #1645
@JakeRadMSFT FYI

[2021-09-02 19:41] beccamc commented on #1621
Jake is looking at this for notebooks. Will bring learnings back into MB code base

[2021-09-02 19:47] beccamc commented on #1536
We should check if this is fixed in the 16.7 release.

[2021-09-02 19:48] beccamc commented on #1644
Also related to #1621

[2021-09-02 19:49] beccamc commented on #1586
Related to #1621

[2021-09-02 19:50] beccamc commented on #531
@beccamc Check if this issue is a duplicate.

[2021-09-02 19:50] beccamc commented on #1098
Moving to Azure so this work gets picked up earlier.

[2021-09-02 19:52] beccamc commented on #723
Validation dataset has been removed from CLI.

[2021-09-02 19:52] #723 closed

[2021-09-02 19:53] beccamc commented on #418
@JakeRadMSFT To break up this issue into correct epics.

[2021-09-02 19:55] beccamc commented on #679
Luis, this should be fixed in the November ML.NET release. Can you validate it then?

[2021-09-02 19:56] beccamc commented on #918
This should be moved to the ML repo. @JakeRadMSFT

[2021-09-02 19:57] beccamc commented on #817
Should be added to an improve CLI epic. @JakeRadMSFT

[2021-09-02 19:58] beccamc commented on #1574
@beccamc connect this to the title issue.

[2021-09-02 20:00] beccamc commented on #1558
Bri approved string per 9/2 meeting:

What are the differences between training environments?

[2021-09-02 20:01] beccamc commented on #1056
@JakeRadMSFT To break this item up.

[2021-09-02 20:02] beccamc commented on #1290
@beccamc To look at current experience for next weeks' triage meeting.

[2021-09-02 21:06] beccamc commented on #1722
Removal of "ML" from the tags was discussed in this [issue](https://github.com/dotnet/machinelearning-modelbuilder/issues/1197), specifically in [this comment](https://github.com/dotnet/machinelearning-modelbuilder/issues/1197#issuecomment-875086250) by Rohan ☺️

FYI, @zewditu I found this by looking at the commit [history](https://github.com/dotnet/machinelearning-tools/commits/46ffe8228f6d65e65e

[2021-09-02 21:43] #1484 closed

[2021-09-02 22:31] beccamc commented on #1437
I haven't seen this problem with a newly created account. We are releasing a new Model Builder version this week (or early next).  I would recommend we try with that.

[2021-09-02 22:33] beccamc commented on #1744
Thanks for the follow up. Sounds like you've unblocked yourself?

We've had problems converting SQL to types that ML.NET is happy with. I'll add this issue to the SQL improvement list for investigation.

[2021-09-02 22:34] beccamc opened #1761 "SQL Improvement"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-09-02 22:44] LittleLittleCloud commented on #1672
It's something related to feature flag, I'll fix this.

[2021-09-02 22:56] beccamc commented on #1737
We are about to release a new model builder version. I'd really like to see if the problem persists on the new version. I'll reach back out tomorrow with details.

[2021-09-02 23:39] zewditu commented on #1759
This happens for Vs 2022  preview 4.0  and model builder version:16.7.4.2145201
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/b5b1fbfe-4a11-480a-a0a4-2d0ffef73e2c)

[2021-09-03 07:12] vzhuqin opened #1762 "Warning MSB4011: "xxx.props" cannot be imported."
**System Information (please complete the following information):**
 - mlnet: 16.7.5

**Describe the bug**
- On which step of the process did you run into an issue: dotnet msbuild run.proj
- Clear description of the problem: please take a look at these warning, I'm not sure if the warnings are external issue?

**To Reproduce**
Steps to reproduce the behavior:

1. Install MLNet CLI: dotnet tool ins

[2021-09-03 08:24] vzhuqin opened #1763 "The trainer number in "Top 5 models explored" doesn't match the experiment list."
**System Information (please complete the following information):**
- mlnet: 16.7.5

**Describe the bug**
- On which step of the process did you run into an issue: Experiment Results
- Clear description of the problem: please see below screenshot:

1. In the experiment list, the number with the highest score of 0.9598 is 26, but it is displayed as 24 in the "Top 5 Models Explored".
2. Experiment n

[2021-09-03 09:30] vzhuqin commented on #1739
not repro this issue on mlnet:16.7.5
Steps:

1. launch an recommendation experiment using mlnet cli :
2. Open the generated ConsoleApp project in VS2019 and VS2022;
3. Open model builder and re-trained it after changed the data option and train time;
4. Save the model builder after completed training;
5. Open the mbconfig file, see the changes have reflected in mbconfig.

[2021-09-03 09:35] vzhuqin commented on #1592
@LittleLittleCloud , On Binary classification, not display the actual value, is this expected?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c73e634c-07fb-4d36-82b5-0b8346815cc4)

[2021-09-03 09:50] vzhuqin opened #1764 "Show training time is not enough when open and re-train using Model Builder."
**System Information (please complete the following information):**

- mlnet: 16.7.5

**Describe the bug**
- On which step of the process did you run into an issue: open generated mbconfig then re-train using model builder with the same train time.
- Clear description of the problem: Completed the training with 60s in mlnetcli, but open the mbconfig in VS, show the training time is not enough in m

[2021-09-03 14:35] GHoltmann commented on #1437
Oh thats great news. Could you lt me know when ot os released? I will try with the new version. 

Enviado desde Yahoo Mail para iPhone

El jueves, septiembre 2, 2021, 7:31 p. m., Becca McHenry ***@***.***> escribió:

I haven't seen this problem with a newly created account. We are releasing a new Model Builder version this week (or early next). I would recommend we try with that.

—
You are receiv

[2021-09-03 16:33] beccamc commented on #1437
We just uploaded the new bits for VS 2019! You can download and try from the marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.07

I think for your scenario you only need the VS 2019 Model Builder extension. In case you need other scenarios covered... the Model Builder GPU extension and VS 2022 aren't out yet. GPU should be available later today. VS 2022 will be available somet

[2021-09-03 16:39] beccamc commented on #1536
@torronen as always, thanks for the detailed information! Seems like there are two issues here...

- Value cannot be null. I think this is fixed in our new build - https://marketplace.visualstudio.com/items?itemName=MLNET.07. Would  you mind trying again on the new bits?
- Cancel takes a long time and still creates code files. Is this covered by [Issue 1645](https://github.com/dotnet/machinelearni

[2021-09-03 16:40] beccamc commented on #1741
@hariniramp We just shipped a new version. Can you try to download and install? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-03 16:41] beccamc commented on #1716
@Chittaranjandell Any update on the above questions?

[2021-09-03 16:44] beccamc commented on #1661
Sorry for the delay here @alozino. We just released a new version. for VS 2019. Can you try to update and see if the problem continues? https://marketplace.visualstudio.com/items?itemName=MLNET.07. Thanks!

[2021-09-03 16:46] beccamc commented on #1646
@Hrishikesh46779 we just shipped a new version. Can you update and try again? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-03 16:47] beccamc commented on #1560
@jv-er We just released a new version. Can you update and try again? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-03 16:48] beccamc commented on #1737
Can you update to this version 16.7.3?  https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-03 17:09] LittleLittleCloud commented on #1592
@vzhuqin

Nope,,, I'll take a look

[2021-09-03 18:13] zewditu commented on #1592
@vzhuqin  are you on the latest build of Model Builder?  ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/80188ae6-b31d-4f2b-bf09-0df1374b6256)
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/a2d94867-c70e-4470-b61a-eb4bea7f9d25)

[2021-09-03 18:53] orulcan commented on #1737
I'm using VS 2019.
I don't want to update 2022, can we try another way?

[2021-09-03 19:06] beccamc commented on #1737
You can use VS 2019. Just update Model Builder via this link: https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-03 19:22] orulcan commented on #1737
![image](https://user-images.githubusercontent.com/34381361/132056291-11a56f1f-6fe8-4635-a3cb-385622cf905b.png)
When I'm update getting this error.

[2021-09-03 21:31] LittleLittleCloud opened #1765 "Add generating forecasting project option to code generator"

[2021-09-03 21:33] LittleLittleCloud opened #1766 "Add forecasting in mlnet cli"

[2021-09-03 21:40] LittleLittleCloud opened #1767 "Forecasting benchmark"
Create benchmark datasets for forecasting.

Current candidates
- [MotorVehicle](https://automlbenchmark.blob.core.windows.net/dataset/MotorVehicle.csv) (_seasonal, non-stationary_)
- [Temperature](https://automlbenchmark.blob.core.windows.net/dataset/temperature.csv) (from https://www.kaggle.com/selfishgene/historical-hourly-weather-data)  (_seasonal, stationary_)
- [BTCUSTD 1h kline](https://auto

[2021-09-03 21:41] LittleLittleCloud commented on #1767
@sonichi Feel free to add more datasets to the candidate lists.

[2021-09-03 21:41] LittleLittleCloud opened #1768 "UI design - Forecasting data page"

[2021-09-03 21:42] LittleLittleCloud opened #1769 "UI design - Forecasting evaluation page"

[2021-09-04 04:35] alozino commented on #1661
@beccamc Thanks for your support. The issue still persists even after the update. Please I need help with this issue.

[2021-09-04 10:08] torronen commented on #1536
Yes, the slow cancellation covered by that issue, it's only here as they might be connected.

I can test it and let you know if the issue reappears but I think I did not find a way to recreate it consistently.

[2021-09-04 18:50] Aze1337 commented on #1743
@LittleLittleCloud In the video, I was using GPU training. Task manager gpu usage was mostly used by OBS (the screen recorder) though.

Thank you for the commands, I'm going to try it right now.

I've ran the image classification, I'll edit this post once It's done running

![image](https://user-images.githubusercontent.com/76887650/132105098-7fc343a5-74e2-4595-95d4-14c59095f215.png)

[2021-09-04 18:51] Aze1337 commented on #1743
Edit - it just crashed - https://gist.github.com/Aze1337/2d25219822496af3195f76e842bf5459
@LittleLittleCloud

[2021-09-04 19:10] dmamel opened #1770 "Model Builder GPU is not worked"
Model Builder GPU is not worked

![image](https://user-images.githubusercontent.com/45320291/132105469-93b7128f-d55f-48de-831b-2f450040ec13.png)

![image](https://user-images.githubusercontent.com/45320291/132105480-1023c404-7802-430f-a4d6-fb7e723fc32a.png)

![image](https://user-images.githubusercontent.com/45320291/132105489-897ca833-1d02-4b27-93f7-36ba78adf24a.png)

[2021-09-06 02:08] vzhuqin commented on #1592
Hi @zewditu Yes, it is the latest main build: 16.7.4.2145201.
I try it again with the [dataset](https://testpass.blob.core.windows.net/test-pass-data/wikipedia-detox-250-line-data.tsv), but the values 1 and 0 are not replaced with true and false, set the "Sentiment" column to Label purpose. If I did something wrong, please let me know.
![image.png](https://images.zenhubusercontent.com/60653e492390

[2021-09-06 02:58] vzhuqin commented on #1728
also not repro this issue on mlnet: 16.7.5
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4f311e2d-70e0-47b8-840e-b47336895e35)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/10f19ed7-b887-4c26-b307-445b85ebcc8d)

[2021-09-06 03:24] vzhuqin commented on #1673
Verify this issue on latest main build: 16.7.4.2145201
The background of Consume page is still not obvious, could you help to take a look again?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3491292a-e0a9-4d55-93ca-444915cc599b)
Others are fixed as below screenshots.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/122cb6d6-dd5d-4b69-96c1-7428

[2021-09-06 06:55] vzhuqin commented on #1602
Thanks @LittleLittleCloud , But I can repro the second error on latest main build: 16.7.4.2145201, please take a look when you have time.
Dataset: [link](https://testpass.blob.core.windows.net/test-pass-data/issues.tsv.txt)
Label Column: Title
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/db4f578c-ced5-4087-92bf-5c1a9d7247ba)
![image.png](https://images.zenhubuserconte

[2021-09-06 08:00] vzhuqin commented on #1678
@LittleLittleCloud  I can repro this issue on latest main build: 16.7.4.2145201
1. This machine itself has already installed VS2022 with latest main model builder, see below screenshot:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3e0e62ba-fb16-44c1-96ad-e3e0b77ca08c)

2. Then download + install VS2019 version 16.11.2 and update the model builder to latest through Man

[2021-09-06 08:52] lorm6807 commented on #1770
Did you solve this problem?

[2021-09-06 08:54] dmamel commented on #1770
No

[2021-09-06 09:00] lorm6807 commented on #1770
What's the Visual Studio version ?? I am Community 2019, because of the version?

[2021-09-06 09:03] dmamel commented on #1770
Community 2019 v16.11.2

[2021-09-06 09:05] lorm6807 commented on #1770
You have updated it to the latest. I also like to... Thank you..ㅠㅠ

[2021-09-06 09:09] vzhuqin opened #1771 "Dataset displays null in Experiment Results Summary."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.4.2145201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Experiment Results Summary
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project fro

[2021-09-06 10:19] praveenraghuvanshi commented on #1738
A good move to get away from a generalized(*.zip) to a specific(*.mlnet) file extension.
- *.zip doesn't provide an intuition of what is present.
- *.zip can be easily interpreted as a compressed set of files
- *.mlnet is explicit in expression(type, technology)
- *.mlnet is easy to filter out from a set of given files which will eventually reduce error in applicatons.

Excited to see this change

[2021-09-06 12:34] Bhandari-Sushma commented on #967
Is it possible to use the above mentioned solution for object detection as well ? Right now the input for the object detection is a string path . However, I want to use a USB camera to connect with my object detection application and create a real time object detection.

[2021-09-06 12:37] Bhandari-Sushma commented on #967
Is it possible to use the above mentioned solution for object detection as well ? Right now the input for the object detection is a string path . However, I want to use a USB camera to connect with my object detection application and create a real time object detection.

[2021-09-06 14:50] sarah-graf commented on #967
Hi @LittleLittleCloud, thank you again for the input!
With ExtractPixels I get a Vector<Singel> where a VarVector<Signel> is expected, should I pass something additional with ExtractPixels besides the ColumnName? I'm sorry that I'm bothering you again, unfortunately there is little to be found online about this topic.

[2021-09-06 15:06] TomJamesAtDataSummit commented on #851
Please can additional overflow methods be added for a Uri too (not just the byte[]) please?

[code]

Error:
`System.IO.IOException: 'The filename, directory name, or volume label syntax is incorrect. : 'C:\GitHub\Repos\MLProject\MLProject\bin\Debug\netcoreapp3.1\https:\azurestorage.blob.core.windows.net\container\Image.jpg'`

I am unable to override the `input` as the appended string is occurring

[2021-09-06 20:33] Su-Bi-su opened #1772 "Model Builder for object detection"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to detect objects on real time using USB Logitech camera.
I collected data using the same USB camera and performed training using Model Builder.
The result was quite good with over 90% accuracy.
This was good until I want to detect

[2021-09-06 21:58] Willyb30 commented on #1701
Hello
I have the same problem : as soon as my first 4 images are loaded and previewes in model builder, VS19 crashes.
I'm running a french OS. I saw changing regional settings to english could solve the problem ;
Did you change VS settings or windows' ?

VS19 Version 16.11.2
i7 8700H

[2021-09-06 23:05] dmamel commented on #1701
Windows

[2021-09-07 07:27] vzhuqin commented on #1771
Also happen on SQL Server data source.
- ML.Net Model Builder: 16.7.4.2145601 (Main Branch)
![image](https://user-images.githubusercontent.com/81727020/132302436-799b4dbd-b5ab-4d86-83e9-871ec2b22a9e.png)

[2021-09-07 16:28] lehong3000 commented on #851
Please add similar solution for Object Detection Model

[2021-09-07 17:33] zewditu commented on #1763
@LittleLittleCloud  for visibility.

[2021-09-07 17:52] beccamc commented on #1770
The problem here is the Model Builder and GPU versions don't match. We released a new version of Model Builder (16.7.3) last week, but technical difficulties prevented us from releasing the GPU version. It's released now - please update here https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilderGPU

Sorry about this issue!

[2021-09-07 17:56] beccamc commented on #1759
@JakeRadMSFT Do we care about fixing VS 2022 Preview 3.1?

@zewditu That seems to be a different issue? If you get a repro can you please open a new issue? Include the mbconfig file that is causing the problem

[2021-09-07 17:59] beccamc commented on #1763
@vzhuqin This looks very similar to https://github.com/dotnet/machinelearning-modelbuilder/issues/1746.  Can these issues be combined?

[2021-09-07 18:00] beccamc commented on #1764
Yes, this is expected. We warn the user in the UI that the training time might not be enough.

[2021-09-07 18:00] beccamc commented on #1764
I'm going to close this. @vzhuqin Let me know if you have other questions or want further explanation

[2021-09-07 18:00] #1764 closed

[2021-09-07 18:05] briacht commented on #1592
I do think that having actual and predicted value next to each other will make it a lot easier to compare and evaluate the model

[2021-09-07 18:35] beccamc commented on #1643
@NiharikaTipirishetty This is by design. As you can see in the UIA tree above, we have correctly set the tab name. Narrator is choosing to announce the interactable element instead. The difference between The Consume and Next Step pages and the previous pages is which element has focus on first load. When the focus is on the first interactable element, narrator chooses to announce that instead of

[2021-09-07 19:23] zewditu commented on #1772
@Bhandari-Sushma could you refer to a related issue [here](https://github.com/dotnet/machinelearning-modelbuilder/issues/967)

[2021-09-08 02:03] #1763 closed

[2021-09-08 02:05] cagy520 opened #1773 "远程服务器返回错误: (400) 错误的请求。 Experiment name must be 1-256 characters, start with a letter or a number, and can only contain letters, numbers, underscores, and dashes."
![image](https://user-images.githubusercontent.com/9970419/132434489-e13e509e-f3eb-454d-a248-3104ff1fa408.png)

看不出来什么原因
VS2019+modelbuilder
对象检测

[2021-09-08 05:28] zewditu opened #1774 "Model Builder error to add Notebook in consume page"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. select  any scenario
2. Complete all the steps
3 In consume page  click on "Add to solution"

**Expected Experience**
_A descri

[2021-09-08 05:34] zewditu commented on #1759
Currently, I am in preview 5 of vs2022, I am not able to back preview 4, and I am not sure if the issues still exist. In preview 5 the issue does not exist

[2021-09-08 14:52] LittleLittleCloud commented on #1762
@vzhuqin

This warning is not from mlnet/model builder. It simply means that "xxx.props" has been imported by other .props for multiple time and you can just ignore it.

[2021-09-08 14:52] #1762 closed

[2021-09-08 14:54] LittleLittleCloud opened #1775 "Upgrade onnxruntime to 1.9.0 when it's published"
onnx runtime 1.9.0 won't ship pdb file within its package

https://github.com/microsoft/onnxruntime/issues/2742

[2021-09-08 18:01] beccamc commented on #1630
@zewditu Please take a look at this issue.

[2021-09-08 18:24] LittleLittleCloud commented on #1743
@Aze1337

Like I said.. it's an OOM error which happens when it tries to allocate space for tensor [4257, 2833, 3]. It's possible that some of your images have very high resolution.

You can try resizing your images to a relatively small size (224 * 224) before training. It's also good for increasing batch size and training speed.

[2021-09-08 18:26] LittleLittleCloud commented on #1712
Hi @Exterminated

What's the largest size of your images, the error could be caused by OOM on GPU and is most likely because of some very large pictures.

[2021-09-08 19:02] LittleLittleCloud commented on #1773
实验名称暂时只能由字母，数字，下划线和短划线组成，你可以把对象检测换成 objectDetection试试

[2021-09-08 19:09] LittleLittleCloud commented on #1772
@Bhandari-Sushma

We are working on that, and you can track the update through #967

For now, as a workaround, you can create a new pipeline which consumes the onnx model from azure and uses bitmap as input

[code]

[2021-09-08 19:17] LittleLittleCloud opened #1776 "Add MAPE metric for forecasting"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-09-08 19:19] #1590 closed

[2021-09-08 19:31] JakeRadMSFT commented on #1774
@zewditu I think this was fixed by

https://github.com/dotnet/machinelearning-tools/commit/82260b0b11ed92d4b2bb66af61b8cf1cfacd3feb

Can you double check this still repros in Main?

[2021-09-08 20:47] Willyb30 commented on #1701
I've changes Windows regional settings.
VS 19 now crashes after clicking "next step" in Azure configuration screen after a small loading time, right before showing Data panel

[2021-09-08 20:50] LittleLittleCloud commented on #1701
@Willyb30

What system language do you have. You probably would still meet this question if your system language is still French.

[2021-09-08 20:51] Willyb30 commented on #1701
Yes it is

[2021-09-08 20:56] Willyb30 commented on #1701
I've installed english language settings and it now seems to work

Thank you

[2021-09-08 22:29] Aze1337 commented on #1743
ok

[2021-09-08 22:29] #1743 closed

[2021-09-09 08:37] vzhuqin opened #1777 "Text is truncated on Environment page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder: 16.7.4.2145801 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Environment page
- Clear description of the problem: The text "Preview" is cut off.

**To Reproduce**
Steps

[2021-09-09 19:09] beccamc commented on #1678
Moving back to committed as Bri is also seeing this problem

[2021-09-09 19:24] JakeRadMSFT commented on #1582
Related to #1591

[2021-09-09 19:27] #1184 closed

[2021-09-09 19:29] JakeRadMSFT commented on #1539
By Design

[2021-09-09 19:29] #1539 closed

[2021-09-09 19:30] JakeRadMSFT commented on #34
At this time we're only planning to have limited support for VB (by leveraging C# code and libraries). Resolving this issue - we can revisit if more customers request VB.

[2021-09-09 19:30] #34 closed

[2021-09-09 19:31] JakeRadMSFT commented on #1158
Closing for now -  thanks for investigating! Please let us know if there ends up being a performance improvement in the future and we can look to adding GPU support in ML.NET for regression.

[2021-09-09 19:31] #1158 closed

[2021-09-09 19:32] JakeRadMSFT commented on #1436
This will be/should be handled by our versioning story. We'll have to figure out what changes cause a new version.

[2021-09-09 19:32] #1436 closed

[2021-09-09 19:34] JakeRadMSFT commented on #1775
@LittleLittleCloud Can you keep track of when this becomes available and get it updated.

[2021-09-09 19:43] beccamc commented on #1646
Closing this issue. Please reopen if you're still having problems. Thanks!

[2021-09-09 19:43] #1646 closed

[2021-09-09 19:45] beccamc commented on #1661
Do you have VS 2022 also installed? Looks like the same error as #1630?

[2021-09-09 19:46] beccamc commented on #1716
Closing this issue. Please respond if you're still having problems. Thanks!

[2021-09-09 19:46] #1716 closed

[2021-09-09 19:48] beccamc commented on #1737
Sorry for the delay. Can you upload the log file (from "Open log file")

It looks like your VS is in English. Is your OS also in English? Or is it in a different language?

[2021-09-09 19:48] beccamc commented on #1734
Any update here?

[2021-09-09 19:49] beccamc commented on #1752
Any update here?

[2021-09-09 19:49] beccamc commented on #1754
Did adding more data improve the results?

[2021-09-09 19:54] LittleLittleCloud commented on #1602
The second error is unrelated to the `index was outside the bounds of array`, I'll create another issue to track down that.

[2021-09-09 20:00] LittleLittleCloud opened #1778 "Model Builder throws error when first trial encounters recoverable error"
Tracking from #1602

When the first trial encounters a recoverable error (out of memory for instance), the experiment still fails because the pipeline suggestor was not initialized correctly. And when updating the pipeline suggestor with a fail trial, it throws a null object exception.

This issue is hard to reproduce because we always start from a small model. It should be able to triggered with

[2021-09-09 20:28] LittleLittleCloud commented on #1775
Of course

[2021-09-09 21:22] zewditu commented on #1630
@NiharikaTipirishetty  I am not able to reproduce the issue in our latest main or model builder version ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/aaf7c098-495b-4514-8b73-c799571a4a05).
Could you update your model builder ?
But I am not sure why you got partially fixed.

[2021-09-09 22:57] LittleLittleCloud commented on #1678
The log
[code]

Indicates that VS2019 can't create an instance of ModelBuiler because it can't find file or assembly Microsoft.VisualStudio.Shell.15.0, Version=17.0.0.0. Which means that the model builder extension installed on VS2019 is for VS2022. The error is an expected behavior as the installed MB is for VS2022.

I'm suspecting that something wrong when @vzhuqin upgrade model builder. As the

[2021-09-09 23:08] LittleLittleCloud commented on #1678
Update

In my case, VS2019 installs ModelBuilder for VS2022 even when VS2019 ones is selected
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/674fe4fe-65e4-4dce-ad71-7cd2e1b59818)

So it could be the regression of recent feed update in VS

[2021-09-10 03:12] cagy520 commented on #1773
OK   THX

[2021-09-10 06:13] #1773 closed

[2021-09-10 07:11] vzhuqin opened #1779 ""Monitor current run in Azure portal" link is not displayed on Train page after re-open model builder."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder: 16.7.4.2145801 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Train page after reloaded model builder
- Clear description of the problem: For Azure environment, after tr

[2021-09-10 07:24] vzhuqin opened #1780 "The prompt text in the search box for Advanced data options flashes."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder: 16.7.4.2145801 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.2

**Describe the bug**
- On which step of the process did you run into an issue: Advanced data options dialog
- Clear description of the problem: When the mouse pointer touches the upper a

[2021-09-10 16:32] beccamc commented on #1594
@zewditu Does this work with NVDA? If it does, can we get a video of it working and move this to validate?

[2021-09-10 16:33] beccamc commented on #1779
We don't have the link to the training run anymore, so this is expected behavior.

[2021-09-10 16:36] beccamc commented on #1574
Fix at the same time as https://github.com/dotnet/machinelearning-modelbuilder/issues/1675?

[2021-09-10 16:42] LittleLittleCloud commented on #1678
Update

Install from vsix works on VS2019

![image](https://user-images.githubusercontent.com/16876986/132888219-66f8ae4b-8874-465f-8e37-0ef291ee34bf.png)

[2021-09-10 23:53] beccamc commented on #1579
Build available here - https://devdiv.visualstudio.com/_apis/resources/Containers/8663755/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix

[2021-09-10 23:54] beccamc commented on #1629
Link to a build available here https://devdiv.visualstudio.com/_apis/resources/Containers/8663755/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix

[2021-09-10 23:55] beccamc commented on #1630
New build is available here https://devdiv.visualstudio.com/_apis/resources/Containers/8663755/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix

[2021-09-12 11:10] torronen commented on #1536
I did not encounter this issue yet, but I only had 3 longer tasks with Model Builder last week. So maybe close, and then re-open if it is found again?

[2021-09-12 11:10] #1536 closed

[2021-09-13 01:51] vzhuqin commented on #1779
@beccamc , Do you mean the link will also be removed during training in the future?

[2021-09-13 03:22] vzhuqin commented on #1678
![image](https://user-images.githubusercontent.com/81727020/133016367-5d578846-b022-4ecd-9cd5-129689317a96.png)

@LittleLittleCloud  sorry for the delay.

- Try 1:

1. I always met error during uninstall Model builder in VS2019, so prepared one machine which only installed VS2022, then installed VS2019: 16.11.2 .
2. Update model builder for 2019 through Manager Extensions.
![image](https://user-im

[2021-09-13 04:41] vzhuqin opened #1781 "Model Builder Error: Unable cast object type"
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2
- ML.Net Model Builder: 16.7.4.2146002 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: save after input data source
- Clear description of the problem: before entered data source and after compl

[2021-09-13 06:39] vzhuqin commented on #1781
I also find a strange case: close the error dialog,  go to open Advanced data options dialog, do some change settings (like change one column's data type), then can save and complete training without error.

[2021-09-13 07:16] zewditu commented on #1594
yes it works
 https://images.zenhubusercontent.com/186917455/0602216b-66b4-46c2-b530-44a11df0e5a5/nvdaok.mp4

[2021-09-13 09:43] rpgeha opened #1782 "Image clasification - loading from Bitmap object. Microsoft.ML"
I created the model using the Visual Studio graphical assistant. The studio generated a project and code for me. Everything suits me, except that at the input I have to give the path to the file as a string. Can I transfer an image to the neural network in Bitmap format?

I find many examples, but they are all different from my code, like I have a different version. I am trying to adapt the code I

[2021-09-13 11:22] Bhandari-Sushma commented on #1772
@LittleLittleCloud @zewditu  Thank you for your time. This work around seems to work for me.

[2021-09-13 13:29] NiharikaTipirishetty commented on #1630
@beccamc @zewditu the new model builder version is throwing error. please suggest what need to be done.
I am using Visual Studio Version 17.0.0 Preview 3.1
![1630_error (2)](https://user-images.githubusercontent.com/83570638/133092036-8dad33da-de67-45a7-af78-ccaa8fa91f67.png)
![1630_error](https://user-images.githubusercontent.com/83570638/133092039-0e3bda66-b589-4988-ae2e-9035b143262a.png)

[2021-09-13 16:27] ekleiman22 opened #1783 "Cannot add new item ML.NET in Visual Studio 2019"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable): 16.11.2

**Describe the bug**
- On which page of the tutorial did you run into an issue [(URL):](https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create)
- Clear description of the problem: In the Add New Item dialog:  Machine Learning Mode

[2021-09-13 16:55] zewditu commented on #1782
@rpgeha We are working on that, and you can track the update through #967

For now, as a workaround, you can follow the instructions  [here](https://github.com/dotnet/machinelearning-modelbuilder/issues/967#issuecomment-721357663), which creates a new pipeline that consumes the onnx model from azure and uses bitmap as input

[2021-09-13 17:03] #1772 closed

[2021-09-13 17:11] zewditu commented on #1783
@ekleiman22 thanks for reporting the issue.  Another customer also hit the same issue could you refer it [here](https://github.com/dotnet/machinelearning-modelbuilder/issues/1741).

[2021-09-13 17:52] zewditu commented on #1781
@beccamc  could you take look?

[2021-09-13 18:17] ekleiman22 commented on #1783
Thank you. I saw the issue you referred to. Then I  updated  Model Builder to the last version and now I succeeded to add .mbconfig file to my project.

[2021-09-13 18:18] #1783 closed

[2021-09-13 18:28] briacht commented on #1662
Hi @torronen ! I think it would be a good idea to add "Class library" to the Project templates.

I'm curious, when you are opening Model Builder, do you normally right-click and "Add > Machine Learning Model" to the project in which you'd like to use the model? Or what does that workflow look like when you Add > Machine Learning Model in Visual Studio?

[2021-09-13 19:24] torronen commented on #1662
@briacht Good question. That is probably the reason for the question :) Actually, maybe out of habit, I am not sure I even considered adding to the main application. I could consider adding the full .mbconfig file + other files directly to main application using it. Only problem is if the same model would be used by multiple projects, then we probably would need to turn it as a web API, or have so

[2021-09-14 01:35] beccamc commented on #1779
No, I phrased this poorly. The link to the training run isn't available on reload. We don't save it, and the run might not exist in Azure anymore.

[2021-09-14 01:50] vzhuqin commented on #1779
Understood, thanks becca's explanation.

[2021-09-14 01:50] #1779 closed

[2021-09-14 01:52] beccamc commented on #1630
@NiharikaTipirishetty sorry about this problem.

Can you install Preview 5 (internal build) from this link?  https://aka.ms/vs/17/pre/vs_Enterprise.exe.  Using this version with the model builder extension above worked for me.

![image](https://user-images.githubusercontent.com/9122518/133181528-b5a70b7a-5fa4-435c-ac3a-0a858293a3f0.png)

You should be able to validate all of our "Ready for review"

[2021-09-14 04:20] zewditu commented on #1759
For my case, the issue does not reproduced in preview 4 any more

[2021-09-14 04:33] #1691 closed

[2021-09-14 07:35] vzhuqin commented on #1678
Update:
As meet install trouble for VS2022 int preview, so installed VS2022 preview 4.0 to do "try 2".

**Try 2:**
1. Prepare one clean machine to install VS2022 and VS2019;
![image](https://user-images.githubusercontent.com/81727020/133212315-02a6120c-8f0f-4690-9571-d5d8b2d7ac5a.png)
![image](https://user-images.githubusercontent.com/81727020/133183742-b6052e6d-9580-481f-a46e-e89807e2ddef.png)

2

[2021-09-14 09:47] ekleiman22 opened #1784 "Cannot compile Web API project TaxiFare_API"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.7.3.2143002
 - Visual Studio Version (if applicable): 2019, Version 16.11.2

**Describe the bug**
- On which page of the tutorial did you run into an issue [(URL):](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/predict-prices-with-model-builder?WT.mc_id=dotnet-35129-website)

[2021-09-14 15:46] zewditu commented on #1784
@ekleiman22 sorry for hitting this issue. The issue is known  https://github.com/dotnet/machinelearning-modelbuilder/issues/1664 and I will be fixed in the September release of the Model Builder.

[2021-09-14 15:46] #1784 closed

[2021-09-14 16:00] beccamc commented on #1594
This is a timeout problem with Windows Narrator. We have reached out to the narrator team to investigate their bug, but this is not a problem with our application. To validate please check NVDA, where the correct behavior happens (see video attached by Zewditu above)

[2021-09-14 19:37] beccamc commented on #1577
Here is a link the most recent Model Builder build. I’ve tested it on VS 17.0.0 Preview 5

Model Builder: https://devdiv.visualstudio.com/_apis/resources/Containers/8681620/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix
VS: https://aka.ms/vs/17/pre/vs_Enterprise.exe

[2021-09-14 19:37] beccamc commented on #1629
Here is a link the most recent Model Builder build. I’ve tested it on VS 17.0.0 Preview 5

Model Builder: https://devdiv.visualstudio.com/_apis/resources/Containers/8681620/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix
VS: https://aka.ms/vs/17/pre/vs_Enterprise.exe

[2021-09-14 19:37] beccamc commented on #1631
Here is a link the most recent Model Builder build. I’ve tested it on VS 17.0.0 Preview 5

Model Builder: https://devdiv.visualstudio.com/_apis/resources/Containers/8681620/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix
VS: https://aka.ms/vs/17/pre/vs_Enterprise.exe

[2021-09-14 19:38] beccamc commented on #1660
Here is a link the most recent Model Builder build. I’ve tested it on VS 17.0.0 Preview 5

Model Builder: https://devdiv.visualstudio.com/_apis/resources/Containers/8681620/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix
VS: https://aka.ms/vs/17/pre/vs_Enterprise.exe

[2021-09-14 20:14] beccamc opened #1785 "Cannot see images in VS 2022"
Can't see images. Looks like something is wrong and they're null, also creating an accessibility problem.

VS 17.0.0 Preview 5 [31710.301 Main]
MB 16.7.4.2146402

### Can't see images

![image](https://user-images.githubusercontent.com/9122518/133327113-e85d48a2-cb89-4a22-8a91-df04d21ed104.png)

### Section 508 502.3.1: (devenv/image '') An onscreen element must not have a null BoundingRectangle p

[2021-09-14 20:21] beccamc opened #1786 "Section 508 502.3.1: (devenv/dataitem 'Microsoft.ML.ModelBuilder.ToolWindows.TryOutPredictedValue') The name property of an element should not contain class names like 'Microsoft.*.*' or 'Windows.*.*' as these are not usually informative."
To reproduce:
1. Text classification scenario
2. Go to evaluate page. Click predict button
3. Run accessibility insights.

The following accessibility issue needs investigation.

**App:** devenv

**Element path:** dataitem 'Microsoft.ML.ModelBuilder.ToolWindows.TryOutPredictedValue'

**Issue Details:** The name property of an element should not contain class names like 'Microsoft.*.*' or 'Windows.

[2021-09-14 20:23] beccamc commented on #1785
This is also happening on the "Next steps" page

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/de25997b-fd61-4b87-b344-219ade67ae8f)

[2021-09-14 20:24] beccamc opened #1787 "Section 508 502.3.1: (devenv/ 'Deploy your model') The LocalizedControlType property must not be null."
To repro:
Go to "Next steps" page for Text Classification.

The following accessibility issue needs investigation.

**App:** devenv

**Element path:**  'Deploy your model'

**Issue Details:** The LocalizedControlType property must not be null. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** Provide a string for the LocalizedContro

[2021-09-14 20:31] beccamc opened #1788 "Section 508 502.3.1: (devenv/text '') An onscreen element must not have a null BoundingRectangle property."
Repo: Training page before training

The following accessibility issue needs investigation.

**App:** devenv

**Element path:** text ''

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** If the element is offscreen, set its IsOffscreen property t

[2021-09-14 20:52] zewditu commented on #1785
@LittleLittleCloud  this has also happened in preview 4 and you had an email thread with Vs extensibility team and they recommended running the following command
"
devenv.exe /clearCache

devenv.exe /updateConfiguration

devenv.exe /resetUserData
"
I had a similar issue a week ago  this helps me to fix
But now I test this one on preview 5 it does not work.
is this a similar issue you discuss with

[2021-09-14 21:15] beccamc commented on #1786
Problem also happens for image classification results.

[2021-09-14 21:50] romalpani commented on #1780
@zewditu
The behavior should be as follows...

Default : Show watermark
Hover : Watermark stays as it is. This behavior should be the same as the other search behaviors in VS.
Focus : Watermark disappears (same as other search behaviors in VS)

Also, when the dialog opens up, let's keep the focus on the first item in the table instead of the search box.
Shift+tab would take them to the search box.

[2021-09-15 02:13] zewditu commented on #1781
@LittleLittleCloud  it seems that this is triggered by  [this](https://github.com/dotnet/machinelearning-tools/commit/85ad96f9b308233d45eab57f10dd3d3373f82406#diff-a48e90aa03f86f486959f81267d8f1e32d708f0d5781661aa1c88638280a03d4R75) change.

the exception is happen  by this line of code  `ColumnProperties = config.ColumnProperties?.Select(x => (Configuration.ColumnProperties)(ColumnProperties)x)`

[2021-09-15 05:48] lorm6807 opened #1789 "Can I be able to train in format like Byte Array, not an image path? (ImageClassification)"
**Model Builder Version**:
**Visual Studion Version**:  2019 Community

 #635, #851, #1782, #967 I've seen these things, but I do not understand whether I'm developing by Byte Array, or I do not understand it now.

![image](https://user-images.githubusercontent.com/50016506/133376570-1d83fa84-d928-4fa4-96ec-0eec5886140c.png)

![image](https://user-images.githubusercontent.com/50016506/133376608-b6

[2021-09-15 06:20] #1789 closed

[2021-09-15 06:23] NiharikaTipirishetty commented on #1629
Issue is fixed. NVDA/Narrator is reading number of images present in each tab clearly. Hence closing this bug.

![1629_Narrator_fixed](https://user-images.githubusercontent.com/83570638/133381317-731b244d-88d0-48d7-b4f9-44c752affb15.png)
![1629_NVDA_fixed](https://user-images.githubusercontent.com/83570638/133381320-104f3a18-b146-4d28-93f6-6d70ad57d8e3.png)

[2021-09-15 06:23] #1629 closed

[2021-09-15 06:37] NiharikaTipirishetty commented on #1630
Issue is fixed. Train in Azure option is receiving keyboard focus and on pressing enter key, it will be navigated to training environment tab.  Train in Azure option is keyboard accessible. Hence closing this bug.

https://user-images.githubusercontent.com/83570638/133382952-23d63c5f-e479-47c1-8932-b6d752455306.mp4

[2021-09-15 06:37] #1630 closed

[2021-09-15 06:43] rpgeha commented on #1782
I don't understand how the onnx models are generated.

I have updated Visual Studio 2019 to the latest version - 16.11.3.

Reinstalled ML.NET Model Builder and ML.NET Model Builder GPU Support. Now the code is generated a little differently than I indicated above. But no mention of onnx. All examples relate to onnx. I don't understand how to adapt the current code. What am I doing wrong? Do I need

[2021-09-15 07:26] NiharikaTipirishetty commented on #1631
Issue is fixed. Narrator/NVDA is reading 'Show undetected objects' button name when focus lands on the button. Hence closing the bug.

![1631_Narrator_fixed](https://user-images.githubusercontent.com/83570638/133389523-65d2a74c-0ec8-4f21-a58a-b3f1c9a3fa48.png)
![1631_NVDA_fixed](https://user-images.githubusercontent.com/83570638/133389552-08ebbc49-d47e-45f7-8dc8-031ad4c757c1.png)

[2021-09-15 07:26] #1631 closed

[2021-09-15 07:35] NiharikaTipirishetty commented on #1660
Issue is fixed. User is able to enter score threshold value manually using keyboard. Hence issue is fixed.

https://user-images.githubusercontent.com/83570638/133390393-c4667472-2b3d-4888-8384-fd434ac393fb.mp4

[2021-09-15 07:35] #1660 closed

[2021-09-15 08:49] Su-Bi-su opened #1790 "USB webcam for real time object detection"
Are there any straight forward libraries or NuGet packages to capture real time data using USB camera in .Net core 5.0 . I want to use this data for real time object detection.

Until now I have a trained object detection model what can take bitmap data as input which will be my output from USB camera.
I tried to use OpenCVSharp, but it campute only from default laptop webcam. I could not capture

[2021-09-15 08:58] NiharikaTipirishetty commented on #1596
@zewditu this issue is still reproducing at my end. all the controls are still not clearly visible at 200% zoom

https://user-images.githubusercontent.com/83570638/133403501-2e983fe8-85f4-4bd7-bcc1-af46cbdf0be0.mp4

[2021-09-15 09:01] vzhuqin opened #1791 "The buttons and the input box on the Add sample console app dialog are too close."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.2
- ML.Net Model Builder: 16.7.4.2146402 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Consume > Add sample console app dialog
- Clear description of the problem:

**To Reproduce**
Steps to repr

[2021-09-15 09:10] NiharikaTipirishetty commented on #1154
Issue is fixed. In scan mode, Narrator is clearly announcing the levels of folders in example folder structure format. Hence closing this bug.

 ![1154_Narrator_fixed](https://user-images.githubusercontent.com/83570638/133405281-23fee855-44ee-4b96-90db-6483384add0a.png)

[2021-09-15 09:54] vzhuqin commented on #1727
Not repro this issue on:
- Microsoft Visual Studio Enterprise 2019: 16.11.2
- ML.Net Model Builder: 16.7.4.2146402 (Main Branch)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d5177c5b-28c9-4c00-9630-1c5ec9d0b177)

[2021-09-15 10:00] vzhuqin commented on #1270
@zewditu now the keyboard selection (dotted border) is only showing up on the left and  bottom of the card. could you help to take a look again?
- Microsoft Visual Studio Enterprise 2019: 16.11.2
- ML.Net Model Builder: 16.7.4.2146402 (Main Branch)

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f16973ab-8388-416a-a155-d5e1af28a785)

[2021-09-15 11:26] rpgeha commented on #1782
It turns out that at the moment there is a solution only for Onnx? How can I remake my ml model for image classification in Onnx? Or am I obligated to use Azure to generate the onnx model?

[2021-09-15 12:17] DanielStaroscik opened #1792 "Model Builder Error"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.3.2143002
 - Visual Studio Version: Community 2019 16.11.3

**Describe the bug**
- An error occurred while trying to train the model.

**Screenshots**
![image](https://user-images.githubusercontent.com/57948564/133431616-14e248c6-c4e7-4b80-814b-0a6cc6d13d43.png

[2021-09-15 12:33] NiharikaTipirishetty commented on #1579
Issue is fixed, a watermark text is given for all required fields. Hence closing this bug.

![1579_fixed](https://user-images.githubusercontent.com/83570638/133433948-a1906aef-a93a-4e0a-bfa7-63e44bfec145.png)

[2021-09-15 12:33] #1579 closed

[2021-09-15 13:16] #1790 closed

[2021-09-15 18:07] enjoy8bit commented on #1751
Hello, any updates?

[2021-09-15 18:16] #1154 closed

[2021-09-15 18:23] beccamc commented on #1751
You can download Preview 4 here. An updated Model Builder version should be built in. https://devblogs.microsoft.com/visualstudio/visual-studio-2022-preview-4-is-now-available/

[2021-09-15 19:04] enjoy8bit commented on #1751
I updated to preview 4.
I still get this message:
![image](https://user-images.githubusercontent.com/4288419/133493833-8f23df39-f745-4a4f-aa1d-9b42667203d1.png)

So where do i get correct version of ML.NET Model Builder GPU Support for VS2022 ? - Many thanks in advance

[2021-09-15 19:09] LittleLittleCloud commented on #1751
After updating your VS 2022 to preview 4, The version of your ModelBuilder extension should be `16.7.3.2143002`. So you can just update your GPU extension (which was `16.6.3.2136603`) to the recent updated one (`16.7.3.2143002`) in the [market place](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilderGPU) and everything should work.

[2021-09-15 19:16] LittleLittleCloud commented on #1751
Just found out that the GPU extension on the market place is for VS2019 only, sorry for the inconvenience.

@beccamc
Didl we release GPU extension for VS2022. If it's not released yet, maybe we can share a download link to unpublished build to unblock @enjoy8bit ?

[2021-09-15 19:20] enjoy8bit commented on #1751
I am starting see a pattern or a Déjà vu in here :)

[2021-09-15 19:24] LittleLittleCloud commented on #1792
Dup of #1778

[2021-09-15 19:56] Markz878 opened #1793 "Input string was not in a correct format."
**System Information (please complete the following information):**
 - Model Builder Version: 16.1.0.2027905
 - Visual Studio Version: 16.11.3

**Describe the bug**
I created a dummy test data set (see below) and tried the model builder for regression.
[Data.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/7172837/Data.csv)
I set the training time to 600 seconds. I get this error

[2021-09-15 20:18] #1752 closed

[2021-09-15 20:18] beccamc commented on #1752
I don't have enough information to help. Please reopen if you're still seeing this problem.

[2021-09-15 22:13] beccamc commented on #1596
@NiharikaTipirishetty Sorry for the confusion on this one.

It looks like this is working on 16.7.4.2146402.  Build available [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdevdiv.visualstudio.com%2F_apis%2Fresources%2FContainers%2F8681620%2FVSSetup_Release17%3FitemPath%3DVSSetup_Release17%252FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix&data=04%7C01%7Cbeccam%40microsoft.

[2021-09-15 22:34] LittleLittleCloud commented on #1532
After some investigating, the bottleneck is in [CancelAfter](https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtokensource.cancelafter?view=net-5.0#System_Threading_CancellationTokenSource_CancelAfter_System_Int32_), which maximum timespan is `int.Max` milliseconds.

So it's not necessary to me to use double/long instead of int for the `Time to train` field as `Int.MaxValue`

[2021-09-15 22:51] #1792 closed

[2021-09-15 23:19] zewditu commented on #1793
The issue is not happening in our latest model builder.
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/bc4b2236-9fd5-43f2-974a-2f15ea579f5a)
It seems that your model builder version is old,  could you update the Model builder from https://marketplace.visualstudio.com/items?itemName=MLNET.07  and try it again?

[2021-09-16 01:33] vzhuqin commented on #1499
@romalpani  @beccamc  Any update on Image classification and Object detection scenarios?

[2021-09-16 02:05] vzhuqin commented on #1711
@LittleLittleCloud  I can repro this issue with the provided data on latest main model builder: 16.7.4.2146502, could you help to check again?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/43303357-2de5-44c7-afb8-a16ad3533252)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/37d7e3f5-9b4b-4b2a-86c7-81eb0666c0ec)

[2021-09-16 02:19] vzhuqin commented on #1732
Not repro this issue on latest main build: 16.7.4.2146502

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7616f2f6-1d39-4ac0-9fd2-64e75d4d2793)

[2021-09-16 02:24] AR0106 commented on #1711
Yes, this issue is the same one I'm getting, if that's you're asking.

[2021-09-16 02:26] vzhuqin commented on #1781
This issue has been fixed on latest main build: 16.7.4.2146502
![1781_fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/adda3823-dfb2-4be5-b32e-184f5b5a3702)