[2021-06-10 16:14] #697 closed

[2021-06-10 16:14] #913 closed

[2021-06-10 16:14] #1033 closed

[2021-06-10 16:14] #1152 closed

[2021-06-10 16:14] #1160 closed

[2021-06-10 16:14] #1167 closed

[2021-06-10 16:14] #1174 closed

[2021-06-10 16:14] #1181 closed

[2021-06-10 16:14] #1213 closed

[2021-06-10 16:14] #1235 closed

[2021-06-10 16:14] #1245 closed

[2021-06-10 16:14] #1251 closed

[2021-06-10 16:14] #1253 closed

[2021-06-10 16:14] #1264 closed

[2021-06-10 16:14] #1276 closed

[2021-06-10 16:14] #1279 closed

[2021-06-10 16:14] #1309 closed

[2021-06-10 16:14] #1313 closed

[2021-06-10 16:14] #1317 closed

[2021-06-10 16:14] #1319 closed

[2021-06-10 16:14] #1320 closed

[2021-06-10 16:14] #1322 closed

[2021-06-10 16:14] #1323 closed

[2021-06-10 16:14] #1335 closed

[2021-06-10 16:14] #1346 closed

[2021-06-10 16:14] #1355 closed

[2021-06-10 16:14] #1361 closed

[2021-06-10 16:14] #1372 closed

[2021-06-10 16:14] #1377 closed

[2021-06-10 16:14] #1385 closed

[2021-06-10 16:14] #1390 closed

[2021-06-10 16:14] #1393 closed

[2021-06-10 16:14] #1396 closed

[2021-06-10 16:14] #1398 closed

[2021-06-10 16:14] #1400 closed

[2021-06-10 16:14] #1401 closed

[2021-06-10 16:14] #1422 closed

[2021-06-10 16:14] #1423 closed

[2021-06-10 16:14] #1424 closed

[2021-06-10 16:14] #1318 closed

[2021-06-10 16:15] JakeRadMSFT commented on #1504
The latest version of Model Builder on the VS Marketplace -

https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 16:15] #233 closed

[2021-06-10 16:15] #749 closed

[2021-06-10 16:15] #999 closed

[2021-06-10 16:15] #1093 closed

[2021-06-10 16:15] #1215 closed

[2021-06-10 16:15] #1230 closed

[2021-06-10 16:15] #1287 closed

[2021-06-10 16:15] #1327 closed

[2021-06-10 16:15] #1328 closed

[2021-06-10 16:15] #1329 closed

[2021-06-10 16:15] #1330 closed

[2021-06-10 16:15] #1356 closed

[2021-06-10 16:15] #1360 closed

[2021-06-10 16:15] #1384 closed

[2021-06-10 16:15] #1388 closed

[2021-06-10 16:15] #1392 closed

[2021-06-10 16:15] #1402 closed

[2021-06-10 16:15] #1407 closed

[2021-06-10 16:15] #1408 closed

[2021-06-10 16:15] #1412 closed

[2021-06-10 16:15] #1417 closed

[2021-06-10 16:15] #1418 closed

[2021-06-10 16:15] #1420 closed

[2021-06-10 16:15] #1433 closed

[2021-06-10 16:15] #1438 closed

[2021-06-10 16:15] #1441 closed

[2021-06-10 16:15] #1444 closed

[2021-06-10 16:15] #1445 closed

[2021-06-10 16:15] #1459 closed

[2021-06-10 16:15] #1460 closed

[2021-06-10 16:15] #1475 closed

[2021-06-10 16:15] #1478 closed

[2021-06-10 16:15] #1486 closed

[2021-06-10 16:15] #1491 closed

[2021-06-10 16:15] saroshwadia commented on #1504
Hi!

Just updated the ML.NET Model Builder Extension "16.6.0.2130907"

Will give a try and let you know.

Thanks

Sarosh

From: Jake ***@***.***>
Sent: Thursday, June 10, 2021 10:06 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Sarosh Wadia ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Model Builder Error while using Guid (#1504)

@saroshwadia<

[2021-06-10 16:16] saroshwadia commented on #1504
Hi!

Got it! 😊

Thanks

Sarosh

From: Jake ***@***.***>
Sent: Thursday, June 10, 2021 10:15 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Sarosh Wadia ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Model Builder Error while using Guid (#1504)

The latest version of Model Builder on the VS Marketplace -

https://marketplace.visualstudio.com/items

[2021-06-10 16:18] beccamc commented on #1307
@carterlist We have a new build ready. Please try it out and let use know what you think! https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 16:19] beccamc commented on #727
@PasaOpasen Can you please download our new build and try this again? I think this is fixed! https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 16:27] saroshwadia commented on #1504
Hi!

Gave it a try - still gives an error but continues the training.

I tried to exclude the Guid column in Advance data options setting but no luck.

***@***.***D75DE3.31386DA0]

Sarosh

From: Jake ***@***.***>
Sent: Thursday, June 10, 2021 10:15 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Sarosh Wadia ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelb

[2021-06-10 16:27] beccamc commented on #1143
Hi everyone, we've shipped a new version of Model Builder. Can you check to see if this is fixed? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 16:28] beccamc commented on #1170
Hi everyone, we just shipped a new version of Model Builder. Can you upgrade and try again? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 16:53] LittleLittleCloud commented on #1476
Hi @sameer-ali13
Sorry for the late reply

Simply run `ls /Users/sameerali/.dotnet/tools` command and check if `mlnet ` is in the output. If not, it indicates that mlnet is not correctly installed

It looks good to me. If it doesn't work, I would replace `~` with `/Users/sameerali` and try again.
`export PATH="$PATH:/Users/sameerali/.dotnet/tools"`

And make sure you reload your .zsrch / .zprofile

[2021-06-10 17:20] LittleLittleCloud commented on #1500
@vzhuqin
Thanks for the testing. This issue hasn't been fixed yet so you don't need to test other feeds.

[2021-06-10 17:43] LittleLittleCloud opened #1505 "Flaml - Add flow2 and implement random start"
empower cfo tuner with random start

[2021-06-10 17:44] LittleLittleCloud opened #1506 "Flaml - cost-related hp"
implement cost-related hp tuning in cfo tuner

[2021-06-10 17:46] LittleLittleCloud opened #1507 "Flaml - implement prune-attribute tuning"
implement prune-attr(sample size) for cfo tuner

[2021-06-10 17:48] LittleLittleCloud opened #1508 "Recoverable AutoML"
It's nice to have a recoverable automl so users can pause and continue training at any time. It also eliminates the performance issue when time budget is small

[2021-06-10 18:01] JakeRadMSFT commented on #1504
@beccamc can you help look into this?

[2021-06-10 18:49] beccamc commented on #804
Hi everyone. Brand new model builder release out. Please update and let me know if you still see this issue. Thanks! https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 18:50] beccamc commented on #1493
@Darlanio we just released the new version. Can you update and try again? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 18:53] beccamc commented on #880
Hi everyone, that version of Model Builder has been released publicly. Please take a look here https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-10 18:58] Darlanio commented on #1493
Thanks! Will do.

[2021-06-10 20:09] chunky commented on #880
I just tried to upgrade, but when I follow through the instructions linked, I still get 16.2.0:

[code]

[2021-06-10 20:15] Darlanio commented on #1493
After updating Modelbuilder I am using version 16.6.0.2130907.
I have only tested training a handful of networks so far, but not had any trouble. I will let you know if I get the error again, but for now this seems to be a bug that is solved.

[2021-06-10 20:46] beccamc commented on #1493
I'm going to close this issue. If you see the bug again feel free to reopen, and please @ mention me. Thanks for reporting!

[2021-06-10 20:46] #1493 closed

[2021-06-10 20:52] beccamc commented on #880
Sorry for the miscommunication. The update is only for VS version. We're still working on releasing the new CLI. Are you still using the VS UI, or only the CLI?

[2021-06-11 01:43] vzhuqin commented on #1494
This issue has been fixed on main branch: 16.5.25.2130702
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/fdfea626-45d7-4eb5-a83a-b95dde2ee323)

[2021-06-11 02:47] vzhuqin commented on #1267
@beccamc I can repro this issue on main branch: 16.5.25.2130702
![Repro 1267.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/fbf63ecf-6914-4f37-8391-914d073046a6)

[2021-06-11 03:01] chunky commented on #880
All the work I do that involved ML.NET is on Linux. As far as I know, that's only CLI for the forseeable future?

[2021-06-11 13:59] dliedke commented on #1143
Hi team, I rested here and worked fine. Thanks a lot for the fix!

[2021-06-11 13:59] #1143 closed

[2021-06-11 18:38] beccamc commented on #1267
Thanks Qin!

[2021-06-11 20:17] beccamc opened #1509 "Consume page code should be colored"
![image](https://user-images.githubusercontent.com/9122518/121921179-613bca80-ccfe-11eb-966a-f0990339ecc4.png)

From Bri - can we add color to the code snippet? Is it possible to hardcode color values since we know exactly what we'll be generating? I think it takes away from the modern design-- there's something just off about it.

[2021-06-11 21:49] beccamc commented on #880
Correct, Linux is CLI for the foreseeable future. I'll update the issue when the new CLI ships.

[2021-06-13 01:23] shaggygi opened #1510 "[Question] Multiple prediction result columns for text classification"
I came across somewhere that the API now supports multiple prediction result columns for the text classification.  Is there any news/updates when this might be added to the Visual Studio UI?  If not, is there any docs that explain how to use with API for now?  Any info is appreciated.  Thx

[2021-06-13 02:38] zewditu commented on #1503
@vzhuqin ,  this issue is fixed in the latest main build. I think ML.Net Model Builder (Preview): 16.5.25.2130702 is not based on the latest main build.

[2021-06-13 05:50] sergiodelossantosjr opened #1511 "Loading Templates....Takes a looooooooooooooong time to load..."
**Model Builder Version**: 16.6.0.2130907
**Visual Studion Version**: Visual Studio 2019 Preview

**Bug description**
After adding new item and select "Machine Learning" menu the Add New Item template take a very very very long time to load...
![image](https://user-images.githubusercontent.com/22256389/121796761-1febe200-cc4e-11eb-879a-12123536862b.png)

**Steps to Reproduce**
1. Just click add ne

[2021-06-13 06:00] sergiodelossantosjr commented on #1511
I finally solved it, it shows loading template infinitely if the project selected is .Net Framework based project not a .Net Core one.

[2021-06-13 06:13] sergiodelossantosjr opened #1512 "Model Builder Error"
**Model Builder Version**: 16.6.0.2130907
**Visual Studio Version**: Visual Studio 2019 Preview

**Bug description**
![image](https://user-images.githubusercontent.com/22256389/121797191-46f7e300-cc51-11eb-9072-b3c6af282400.png)

**Steps to Reproduce**
1. Choose SQL Server as data source
2. Then choose sql server table

**Expected Experience**
_A description of what you expected to happen. If appl

[2021-06-14 06:26] zewditu commented on #1321
I think the original intention of adding "Code generated"  is to update the status of the generation of code-behind files. @romalpani   why we need to remove it, is that because of the redundancy of info(we already have it in the main window)?
Generate code-behind files.

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/86bc21ad-ce42-46da-a3dd-309a03002180)

[2021-06-14 15:47] beccamc commented on #1512
@sergiodelossantosjr Sorry you ran into this issue, and thanks for reporting! Did you ignore any columns?

[2021-06-14 15:48] beccamc commented on #1314
Closing this - issue for colorization has been opened. https://github.com/dotnet/machinelearning-modelbuilder/issues/1509

[2021-06-14 19:05] beccamc commented on #1482
Need some input on how this design should work.

1. I have an Iris dataset that I've trained.
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/3e50bab5-ed9f-4d38-afbb-a49705274ac8)

2. I select a newer version of the data -  Iris_2

3. While I'm selecting the information about that dataset, subsequent pages are disabled.
![image.png](https://images.zenhubusercontent.com/5

[2021-06-15 08:29] SaisreeDandamudi commented on #1157
@beccamc I have verified the bug by downloading the above build and the issue still re-pros. can you please look into it
ML .NET model builder Version: 16.6.0.2130907
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.11.0 Preview 1.0

[2021-06-15 14:54] beccamc commented on #1511
@sergiodelossantosjr Thank you for reporting, and I'm glad you were able to resolve the issue. I'm going to reopen this, because we should block adding to .NET Framework if we don't support it.

[2021-06-15 14:59] beccamc commented on #1454
@DaniloOPAvanade, I'm closing this issue due to lack of activity. If you're still seeing this problem, please update to the latest version https://marketplace.visualstudio.com/items?itemName=MLNET.07.

If that doesn't fix the problem, please ensure that you're label column is of type "single". You can change this in the Data Tab -> Advanced data options.

If you're still having problems feel free

[2021-06-15 14:59] #1454 closed

[2021-06-15 15:03] beccamc commented on #1461
@Ansjosen As we resolved the problem I am closing this issue. Feel free to re-open or file a new issue if you run into anything else. Thanks for reporting!

[2021-06-15 15:03] #1461 closed

[2021-06-15 15:06] beccamc commented on #1490
@Karol-Gor We have released a new version of Model Builder, and this issue should be fixed. Can you update to 16.6.0 and see if it resolves the problem? https://marketplace.visualstudio.com/items?itemName=MLNET.07

Thanks for reporting!

[2021-06-15 15:24] beccamc commented on #804
Closing this issue as it should be fixed in the newest build.

Troubleshooting...
1. Please update to 16.6.0. https://marketplace.visualstudio.com/items?itemName=MLNET.07
2. Ensure you are on the new UI (we had a previous bug where the version didn't match the installed bits). The scenario page should look like this:
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/6e20ef

[2021-06-15 15:24] #804 closed

[2021-06-15 15:27] beccamc commented on #1498
I'm going to close this, but let's keep an eye out for it happening again. Thanks XiaoYun!

[2021-06-15 15:27] #1498 closed

[2021-06-15 18:19] beccamc commented on #1177
We've started adding change logs! You can see them here - https://github.com/dotnet/machinelearning-modelbuilder/tree/main/docs/release-notes. The first one covered about 9 months of work, so it isn't as detailed as I'd like, but we will improve as our releases becomes more regular.

Thank you for the suggestion @jernejk! Please let us know when you have other ideas or thoughts.

[2021-06-15 18:19] #1177 closed

[2021-06-15 18:58] LittleLittleCloud commented on #1510
Hi @shaggygi

Thanks for the ask, I'll try to help you here. Can you add more details about `multiple prediction result columns` though? Do you mean multi-lable classification?

[2021-06-15 20:15] shaggygi commented on #1510
Thanks @LittleLittleCloud  and be aware I'm still very new to ML.NET.

I was successful in setting up a console app, a mbconfig for Text Classification model, reading from a CSV file, and evaluating results.  In the Data tab, there is a "Column to predict" label.  If I understand, there is a future VS update on being able to select multiple labels to predict.

In my scenario related to cause of fa

[2021-06-15 20:18] LittleLittleCloud commented on #1485
Can we have the complete log? It looks like the mlnet is installed and works except that it failed to parse options. So you might not need re-compile the core.

[2021-06-15 22:44] zewditu commented on #1157
@SaisreeDandamudi, could you test on 4.8 target framework?

[2021-06-16 02:09] vzhuqin commented on #1503
This issue has been fixed on main build: 16.5.25.2131501
Named the model builder with a space:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/190cdb1a-ebc8-4281-a6d6-be8b40c6c2df)
Named the model builder with hyphen (-):
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ba036ecc-e113-490e-a3fa-2207ec131882)

[2021-06-16 05:44] romalpani commented on #1321
If the sentences highlighted in the above screenshot are like bookends to what's happening between them, then yes, we can maintain it. My understanding before was that "Code generated" was for the "consume code", not code-behind files.

Since we are at it, could we perhaps update the copy there to reflect exactly what's happening...
E.g.,

**Generating code-behind files**

-----
-------
------
---

[2021-06-16 06:20] LittleLittleCloud commented on #1510
Just to make sure I understand your ask, your dataset has three columns: `Failure Reason`, `Item Number`, `Item Location`. The `Failure Reason` is the label for classification, `Item Number` and `Item Location` are the feature columns. Is that correct? Or your dataset has more than three columns and you want to select those three columns as predict columns?

[2021-06-16 10:30] shaggygi commented on #1510
Yes, I have more columns in the dataset.  Sorry about leaving that info out.  I have about 5 other fields used as parameters and currently only predict `Failure Reason`, but looking to add `Item Number` and `Item Location` to the predicted columns.  Thx

[2021-06-16 14:04] Leozaur1808 opened #1513 "Object reference not set to an instance of an object"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.6.2130907
 - Visual Studio Version (if applicable): 2019

**Describe the bug**
I have actually two bugs:
1)predicted value doesn't change
2)error when I am trying to train it again

**To Reproduce**
Steps to reproduce the behavior:
1) train
2)check are predicted values are changing or not
3)if n

[2021-06-16 18:18] LittleLittleCloud commented on #1510
So the [multi-label classification](https://en.wikipedia.org/wiki/Multi-label_classification) should be the one that you look into.

@briacht @JakeRadMSFT  We have one more ask for multi-label classification, do we want to add this to our roadmap?

[2021-06-16 18:21] LittleLittleCloud commented on #1510
#1414

[2021-06-16 18:37] LittleLittleCloud commented on #1513
Hi @Leozaur1808
Thanks for using the model builder and giving feedback.

The first bug (predict value is not changed) is actually not a bug given that the r-squre is so close to zero, which indicates that `0`%  portion of variance from predicted value can be explained by the input data. And in that case, it's not strange that the predicted value doesn't reflect the input data.

We are aware of the

[2021-06-16 18:38] LittleLittleCloud commented on #1502
#1513

[2021-06-16 18:40] Leozaur1808 commented on #1513
But actually I can see obvious connection between appearing of second bug and unchangable value

[2021-06-16 18:41] Leozaur1808 commented on #1513
I know I have r squared below zero, but actually in som cases the value changes even with that

[2021-06-16 18:47] briacht commented on #1510
Yes! I definitely think we should add this to our roadmap.

[2021-06-16 20:43] LittleLittleCloud commented on #1513
Hi @Leozaur1808

The non-zero rsquare indicates that the variation of prediction values in test dataset is not zero, but since it's quite close to zero, the variation is also quite small, and they should be very close to the average of actual values in test dataset (close to 0.5)

If you want to see the change in label, you can try some random values In my case, I got r-square ~ -0.008 for a 10s t

[2021-06-16 21:06] melissatranuw opened #1514 "mlContext.Transforms.LoadRawImageBytes"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.1.0.2027905
 - Visual Studio Version: VS 2019

**Describe the bug**
- On which step of the process did you run into an issue: Training.cs
- Clear description of the problem: When training an image classification, on the training.cs file, the pipeline appends Load

[2021-06-16 22:03] shaggygi commented on #1510
This would be super helpful if you added.  I'll upvote on the provided link.  Feel free to close this since it appears it might be a duplicate.  I'll subscribe and try watching out for a possible update.  Thanks again for considering this 👍

[2021-06-17 02:03] vzhuqin commented on #1405
This issue not occurs on mlnet version: 16.6.1

Steps:
1. Install mlnet using the command: dotnet tool install mlnet -g --add-source https://mlnetcli.blob.core.windows.net/mlnetcli/index.json
2. Copy yelp_labelled.txt to one folder named: 1405
3. Go to the folder and run command: mlnet classification --dataset "yelp_labelled.txt" --label-col 1 --has-header false --train-time 60
4. Go to the genera

[2021-06-17 04:34] SaisreeDandamudi commented on #1157
@beccamc @zewditu I have tested on .net 4.8 framework and the issue still re-pros

[2021-06-17 07:57] vzhuqin opened #1515 "Should not have "Train in Azure" option on “Next steps” page for scenarios which not support Azure environment even if the data path doesn't exist."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.0.2131501 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: “Next steps” page
- Clear description of the problem: "Train in Azure" is for Azu

[2021-06-17 08:34] gerwintmg opened #1516 "Model Builder Error : Unable to find method 'StartTrainingAsync/1' on {no object}"
**System Information (please complete the following information):**
 - Model Builder Version : 16.6.0.2130907
 - Visual Studio Version: Microsoft Visual Studio Community 2019 Version 16.10.2

**Describe the bug**
- On which step of the process did you run into an issue:
I Pressed the "Start training" butten

- Clear description of the problem:
Model Builder Error
Unable to find method 'StartTraini

[2021-06-17 16:47] beccamc commented on #1504
There has been some discussion for this issue offline, I'll summarize here.

Problems:
1. Using SQL with a Primary Key guid columns causes error: `Bad type in ColumnTypeExtensions.NumberTypeFromType: System.Guid`
2. Ignoring this column still produces the error.

It seems there is a limitation with ML.NET on using guids, they aren't listed in the supported types code [here](https://github.com/dotn

[2021-06-17 17:50] LittleLittleCloud commented on #1516
@JakeRadMSFT could it be something similar to #1513, except that the null object is training config?

@gerwintmg Could you give it a second try and see if the error still exists? If the error is still there, can we get the service hub log on your machine? You can find it through following steps
- close VS
- go to %temp%servicehub folder and delete logs
- set `ServiceHubTraceLevel` to `All`
- reope

[2021-06-17 17:51] #892 closed

[2021-06-17 18:49] beccamc commented on #1488
Any update here?

[2021-06-17 18:50] beccamc commented on #1170
Any update here? Is the problem fixed with the upgrade?

[2021-06-17 19:18] #727 closed

[2021-06-17 19:18] beccamc commented on #727
I've tested, and this works on our new build: 16.6.0.  Please download and try it out - https://marketplace.visualstudio.com/items?itemName=MLNET.07.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/f67adc3b-f111-4509-83bb-821fd6a5cc26)

I'm closing this issue. Thank you for reporting!

[2021-06-17 19:19] zewditu commented on #1157
@SaisreeDandamudi  did you installed .NET framework 4.8 ?

[2021-06-17 19:33] melissatranuw opened #1517 "Object Detection Exception Unhandled"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.1.0.2027905
 - Visual Studio Version: 2019

**Describe the bug**
- On which step of the process did you run into an issue: Training an Object Detection file with
[Balloon_Subset-export.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6672240/Ball

[2021-06-17 20:10] romalpani commented on #1431
Here's a WIP of two options to consider.
https://www.figma.com/file/txIDYwDkd7qM4LV71lPUar/?node-id=32%3A55383

[2021-06-17 20:29] gerwintmg commented on #1516
@LittleLittleCloud
the second try gives the same error.

These are 2 of the logs I got.

[EFF85C23-MicrosoftMLModelBuilderAutoML-14824-eupctufw-1.log](https://github.com/dotnet/machinelearning-modelbuilder/files/6673025/EFF85C23-MicrosoftMLModelBuilderAutoML-14824-eupctufw-1.log)
[EFF85C23-CreateAutoMLServiceAsync-26468-q3rdfaty-1.log](https://github.com/dotnet/machinelearning-modelbuilder/files/6

[2021-06-17 22:35] beccamc commented on #1482
From design sync 6/17.... We think a lot of this will depend on our Model versioning story. We're going to leave this as is until either...

1. Customer complains about behavior
2. Model versioning is more clear.

[2021-06-18 06:12] daniesa commented on #1170
Hey,
Thank you for the follow up.
Yes, the problem was with the number of data on the sample sheet. I just
tried to double them and it's all ok now.

On Thu, Jun 17, 2021, 23:20 Becca McHenry ***@***.***> wrote:

[2021-06-18 16:55] Gattan-Qbit opened #1518 "categorical supervised learning(strings only)"
Model Builder currently supports two data sources, local files (.csv and .tsv) and SQL tables. We understand your data is in many different places and shapes. We'd like to understand where your data comes from so we can better support your scenario in Model Builder.

**Where is your data located?**
My dataset is located on my local c drive.

**What does your data look like?**
My data is text, form

[2021-06-18 18:43] LittleLittleCloud commented on #1516
Thanks @gerwintmg , We are taking a look!

[2021-06-18 18:58] LittleLittleCloud commented on #1516
Hi @gerwintmg
We might need more logs from servicehub,, can you try the previous steps again and this time just zip the entire log folder and upload here? Thanks!

[2021-06-18 19:09] LittleLittleCloud commented on #1518
Hi @Gattan-Qbit

What kind of error do you get? No model produced within time budget or poor performace in accuracy?

In addition, you can set up a column as catagorical in [advanced data option window](https://devblogs.microsoft.com/dotnet/ml-net-model-builder-november-updates/#advanced-data-loading-options)

![image](https://user-images.githubusercontent.com/16876986/122606552-f526d280-d02d-11eb

[2021-06-19 05:41] SaisreeDandamudi commented on #1157
@zewditu Yes.. I am using .Net framework 4.8
![image](https://user-images.githubusercontent.com/51435580/122632212-008e0280-d0ef-11eb-864b-a432acfc39e7.png)

[2021-06-19 09:38] flokie opened #1519 "Confused about generated Model.training.cs for multiple categorical columns."
**System Information (please complete the following information):**
 - Model Builder Version: 16.6.0.2130906
 - Visual Studio Version: 16.11.0 preview 2

**Describe the bug**
Firstly I'm a total newbie on ML.NET and also machine learning. I've used only Model Builder to trying stuff so far. So, I'm not sure if it's a bug or not.

I have "S" and "D" columns as categorical ones and I'm selecting the

[2021-06-19 18:22] Gattan-Qbit commented on #1518
yes, it worked with Text classification scenario with advanced options with text format dataset, before that I was using recommendation scenario and it did not work.
Great thanks

[2021-06-20 21:33] torronen commented on #1207
How is the data split to test and training data? The documentation is not clear if it is from the end, randomly, or based on columns that are somehow decided. This is important as improperly selected training data may cause wrong model to be selected. Is there anyway to change how the data split is done?

[2021-06-21 06:48] gerwintmg commented on #1516
[logs.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6684597/logs.zip)

Hope this helps :)

[2021-06-21 07:45] LittleLittleCloud commented on #1519
hi @flokie , thanks for using Model Builder!

To answer your question, `Onehot encoder` will not apply if the data type of `D` is numeric, even if `D` is marked as categoric.

[2021-06-21 08:39] flokie commented on #1519
@LittleLittleCloud Thank you for the explanation =)

[2021-06-21 08:39] #1519 closed

[2021-06-21 16:30] zewditu commented on #1157
@SaisreeDandamudi  thanks to  let us know.

[2021-06-21 16:52] MikeSifanele commented on #1516
@LittleLittleCloud I also experienced the same issue. I uninstalled the `ML.NET Model Builder GPU Support (Preview)` and I started working/training.

[2021-06-21 19:40] beccamc opened #1520 "ML Ops"
Epic to track ML Ops work related to Model Builder

[2021-06-21 19:44] beccamc opened #1521 "ADO re-training pipeline"
Example code available in https://github.com/dotnet/machinelearning-tools/tree/u/beccam/testPipeline

[2021-06-21 19:49] beccamc opened #1522 "Model deployment (local)"

[2021-06-21 19:49] beccamc opened #1523 "Model deployment (azure)"

[2021-06-21 20:44] LittleLittleCloud commented on #1516
@MikeSifanele

Thanks for the info, are you using image classification when the error appears?

[2021-06-21 21:03] LittleLittleCloud commented on #1516
Hi @gerwintmg , Thank for the log. It still misses verbose log though, can you check if `ServiceHubTraceLevel` is set to `All` in  System variables?
![image](https://user-images.githubusercontent.com/16876986/122827554-59010380-d299-11eb-8459-d7fdb7716a4d.png)

And you will need to restart VS after setting that variable as well. After that, you should see different level of logs(verbose/informatio

[2021-06-22 05:34] vzhuqin commented on #1503
@zewditu this issue happened again on latest main build: 16.6.1.2131904, could you help to take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a8ec65cb-b0c0-4833-981e-0dd6c14939a5)

[2021-06-22 07:50] MikeSifanele commented on #1516
No, I was using the value prediction scenario.

[2021-06-22 14:13] gerwintmg commented on #1516
I did "set ServiceHubTraceLevel All" in Powershell and it was valid... (set is a alias of Set-Variable)

So now with powershell:
[code]

and here are new log: (no zip with all logs as some logs contained tokens, close to authentication)

[C1F86FFE-MicrosoftMLModelBuilderAutoML-8548-byh5vjhq-1.log](https://github.com/dotnet/machinelearning-modelbuilder/files/6694955/C1F86FFE-MicrosoftMLModelBuilder

[2021-06-22 18:03] philipbawn commented on #1308
@JakeRadMSFT @LittleLittleCloud @luisquintanilla  Thank you so much, the preview I downloaded today detected my GPU and informed me which version of cuda I need to install. You rock.

[2021-06-22 19:24] LittleLittleCloud commented on #1516
Hi @gerwintmg
Thanks for the trace logs! It's of great help to us debugging the problem you encountered.

Based on the log, it seems that the error is caused by an older ModelBuilder call into a newer version of AutoML service, which has a different signature of `StartTrainingAsync`. And also it looks like your model builder is not latest because of the missing of GPU training. Maybe the model bui

[2021-06-22 20:00] LittleLittleCloud opened #1524 "Dev17 - Update automl service to use Microsoft.Servicehub.Client 3.*"
Dev17 has recently upgraded to use Microsoft.Servicehub.Framework 3.*, which means for all services that ships its own dependencies, it has to refer to Microsoft.Servicehub.Client 3.* in order to get loaded in VS.

[2021-06-22 20:32] zewditu commented on #1157
Closed because this issue is a know WPF issue and Tracked with [1161493](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1161493/) and It won't be fixed until .Net 6.

[2021-06-22 20:32] #1157 closed

[2021-06-22 23:13] melissatranuw opened #1525 "Documentation Update"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.0
 - Visual Studio Version: 2019

**Describe the bug**
- On which step of the process did you run into an issue: Step "Create your App" on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create

- Clear description of the problem: When followi

[2021-06-24 01:49] vzhuqin commented on #1502
this error also prompts when reopen the model builder or open advanced data option dialog, the occurrence frequency is about 1/5.
ML.Net Model Builder (Preview): 16.6.1.2131904 (Main Branch)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a9131883-841b-45c4-ba9c-7c4e8bf220fb)

[2021-06-24 05:28] John-Ptr opened #1526 "MLModel.zip not found"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-06-24 05:31] #1526 closed

[2021-06-24 06:58] vzhuqin opened #1527 "Should not enable Save button if select multiple Label or Item purpose in advanced data option for Recommendation scenario."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.1.2131904 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Co

[2021-06-24 07:47] vzhuqin opened #1528 "Model Builder Error "Value cannot be null. Parameter name: source"."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.1.2131904 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Data page
- Clear description of the problem: I'm not sure if this is an issue, t

[2021-06-24 11:55] TheTeub commented on #1485
Hello, I gave up to make it on Linux.
I have switched to Windows 10 Version.
Goddbye

[2021-06-25 16:11] beccamc commented on #1157
Just to add some more context here. The related [MAS problem](https://microsoft.sharepoint.com/sites/accessibility/Lists/MASProblemsAndSuggestedFixes/DispForm.aspx?ID=335) states:

We got confirmation from Sam Bent that our problem with the TabControl is the same issue as the above ListView problem. We are resolving this as External.

[2021-06-25 16:13] beccamc commented on #1155
Please use public build https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-25 16:13] beccamc commented on #1154
Please use public build https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-06-25 21:29] beccamc commented on #1525
Related to https://github.com/dotnet/machinelearning-modelbuilder/issues/1511

[2021-06-25 21:31] beccamc commented on #1527
Great find Qin!

[2021-06-28 03:30] vzhuqin opened #1529 "Cannot add projects on Consume page"
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2132601 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Co

[2021-06-28 07:30] torronen opened #1530 "Documentation request: test data + model order"
**Is your feature request related to a problem? Please describe.**
I am concerned about how to evaluate the performance of the models as the documentation does not clearly explain how the test data is split. I also would like to estimate better how long to run iterations if I have already experienced with a related data set.

**Describe the solution you'd like**
I suggest adding to documentation:

[2021-06-28 10:46] torronen opened #1531 "The JSON-RPC connection with the remote party was lost before the request could complete"
Could you advise on finding a temporary fix for this problem? Is it related to my Internet connectivity / "phoning home", or a call between processes inside the system?

**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.6.1.2131904
 - Visual Studio Version: 16.10.2

**Describe the bug**
- On which step of the p

[2021-06-28 11:23] torronen opened #1532 "Training time can not exceed 24 days (int.MaxValue in milliseconds)"
**System Information (please complete the following information):**
- Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
- Visual Studio Version: 16.10.2

**Describe the bug**
User can type any value in Time to train input box.
Training will fail if Time to Train exceeds 2,147,483  (int.MaxValue 2147483647 in milliseconds).

The bug can be reproduced by typing any value

[2021-06-28 11:30] torronen commented on #1531
All of the failed systems were connected to a specific wifi network, while the ones were not. So, possibly a network issues. If so, could the Internet connectivity requirement be enabled by opt-in, or at least ignore failed connections.

[2021-06-28 13:00] torronen opened #1533 "Git Sync will make .mbconfig file unreadable"
**System Information (please complete the following information):**
-    Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
-    Visual Studio Version: 16.10.2

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem:
While training and working on Visual Studio, the .mbconfig file may stop showing trainin

[2021-06-28 13:21] torronen opened #1534 "Long column titles are not shown fully in Advanced Settings tab"
**System Information (please complete the following information):**
-  Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
-  Visual Studio Version: 16.10.2

**Describe the bug**
- On which step of the process did you run into an issue: Setting up training
- Clear description of the problem:
CSV files may contain long column titles. Advanced Data Options modal window has

[2021-06-28 13:58] torronen opened #1535 "Temp file cannot be accessed because it is being used by another process, VS becomes unresponsive"
**System Information (please complete the following information):**
- Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
- Visual Studio Version: 16.10.2

**Describe the bug**
The error occurred after opening the Advanced Data Settings window and waiting (writing another bug description).

Advanced Data Settings window showed "The process cannot access the file ... {temp

[2021-06-28 15:31] torronen opened #1536 "Error message upon cancellation of training: Value cannot be null"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
 - Visual Studio Version: 16.10.2

**Describe the bug**
- On which step of the process did you run into an issue: finalizing model (after pressing cancel)
- Clear description of the problem:
After pressing cancel, the error "Value cannot be null" is r

[2021-06-28 15:54] beccamc commented on #1512
@sergiodelossantosjr Can you give me any more details here? Can I get a description of what your data looked like? Any ignored columns? Any interesting data shapes?

[2021-06-28 15:55] beccamc commented on #1488
Did restarting VS help? Or creating a new console application and seeing if it runs?

[2021-06-28 15:56] beccamc commented on #1490
Closing this due to inactivity. If the upgrade doesn't work, please @ mention me and re-open. Thanks!

[2021-06-28 15:56] #1490 closed

[2021-06-28 16:05] sergiodelossantosjr commented on #1512
Hi @beccamc sorry for my late reply, I've just included all the columns with one hundred rows of data, I can't attach my csv file because github not allowed it.
![image](https://user-images.githubusercontent.com/22256389/123668461-b682ea80-d86d-11eb-92bf-e8e5c6cd250b.png)

[2021-06-28 17:28] torronen opened #1537 "Suggestion: Allow users to choose model selection criteria & show full results of test"
At the moment Model Builder uses internal method of selecting the model it thinks it is best. However, this depends on the contexts and users should be able to select the criteria. Wrong selection criteria may lead to selection of the wrong (for that case) model.

![image](https://user-images.githubusercontent.com/26261427/123677910-56308080-d84e-11eb-94d4-47455d5dec5d.png)
![image](https://user-i

[2021-06-28 20:11] torronen opened #1538 "Error during training: Exception thrown in writing"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
 - Visual Studio Version: 16.10.2

**Describe the bug**
When starting the training of a binary text classification, error "Exception thrown in writing" is returned.

**To Reproduce**
Unknown. I will update here if issue happens again. Issue may be rel

[2021-06-28 20:14] torronen commented on #1538
Another suspect: Potentially could be also related to running out of free RAM. Restart cleared up RAM for successful training.

[2021-06-28 21:38] torronen commented on #1531
Issue seems re-appears even in offline mode. It would seem to appear randomly - the longer training runs, the higher the chance of getting stopped by JSON-RPC. This is the highest priority issue of the ones our team has logged. Any advice on how to debug the issue or find further information on it? The problem is encountered on new PC's with fresh installs + all updates - the older workstations an

[2021-06-29 03:15] vzhuqin opened #1539 "Suggestion: Enable horizontal scrollbar"
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.1.2131904 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: All tabs: Scenario, Environment, Data, Train, Evaluate, Consume, Next steps
- Cle

[2021-06-29 04:36] mrrcomp opened #1540 "Setting SQL DataSource Login Problem"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  Version:16.6.1.2131904
 - Visual Studio Version :16.10.2

**Describe the bug**
- On which step of the process did you run into an issue: After Defining The SQL Connection Properties Did a Test Connection all was fine
- Clear description of the problem: on ok of Con

[2021-06-29 05:01] mrrcomp commented on #1540
Model Builder Version:16.6.1.2131904
Visual Studio 2019 : 16.10.2

After Defining the SQL Connection Properties for the  DataSource and testing that the connection works

![ML_ConnectionDef](https://user-images.githubusercontent.com/710257/123739494-69c00380-d8af-11eb-8ab1-4071f3d9eef1.png)

  returning to select table I get "Login Failed: "
![ML_ConnectionDef2](https://user-images.githubuserconte

[2021-06-29 06:44] mrrcomp opened #1541 "Could not install Package Microsoft Ml 1.5.5"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): Version:16.6.1.2131904
 - Visual Studio Version16.10.2

**Describe the bug**
- On which step of the process did you run into an issue:After Doing a Training at finalizing Model
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-06-29 07:14] torronen commented on #1541
I think .NET Framework 4.6 is not supported, and we will need to create .NET Core project to use the model builder.

Related to: https://github.com/dotnet/machinelearning-modelbuilder/issues/1511

[2021-06-29 07:26] mrrcomp commented on #1525
FYI I was still able to add the Builder to my ,net mvc project after "add machine learning" i got a popup message at the top of the ui telling me to enable it in the options of VS which i did and then i was able to fully enable the machine learning for the mvc solution.

[2021-06-29 07:28] mrrcomp commented on #1541
@torronen will i be  able to add the model to the .net mvc project after?

[2021-06-29 08:15] torronen commented on #1541
@mrrcomp Good question. I don't know. Probably at least .NET Framework 4.7.2 is needed because it supports .NET Standard 2.0. Microsoft.ML seems to be available for it.

[2021-06-29 09:15] torronen commented on #1538
Another machine encountered the same. It also had low disk space (< 2gb free after the error), and the dataset size exceeds the free disk space. So, possibly, the error message would just need some clarification about what could be wrong, and perhaps suggestion to check free disk space and disk status.

[2021-06-29 13:50] raphael-dossantos opened #1542 "Add Machine Learning at VS2019 solution does nothing"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version 2019 Enterprise: 16.8.2

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Solution Explorer
2. Right click on console application
3. Scroll d

[2021-06-29 18:39] LittleLittleCloud commented on #1538
If  the size of your dataset is X and the space left on your disk is smaller than 2X then you might have a writing error.

This is because ModelBuilder will save two copies of dataset in the temporary folder, one copy for hold-out training and the other for cross-validation training. You could find those datasets under %temp%/AutoML-NNI folder, which has a 6-digit name.

@briacht we might need a m

[2021-06-29 18:53] LittleLittleCloud commented on #1537
@briacht another call-out for customizing model selection criteria.

The metrics that are available for selection can be
| scenario | metric |
| - | - |
| multi-class classification| macro accuracy, micro accuracy, log loss |
| binary-class classification | accuracy, auc |
| regression | r-square, rmse |

@torronen @justinormont feel free to ask for more metrics

And @torronen , looks like your da

[2021-06-29 20:03] LittleLittleCloud commented on #1532
Suggest: use `double` in `training time` field

[2021-06-29 20:11] LittleLittleCloud commented on #1531
Hi @torronen
Could we have the servicehub log on your machine? It's located in %temp%servicehub folder and is of great help in detecting what's going wrong. According to what you describe of `407 FastTreeOva`, I'm suspecting an out-of-memory error caused by large model + large dataset.

If the log doesn't indicate anything helpful, we might ask you to set `ServiceHubTraceLevel` to `All` and run ag

[2021-06-29 20:26] LittleLittleCloud commented on #1534
@beccamc Do we handle excessively long column name specifically? Maybe it's worth a discussion with @romalpani on handling these special cases?

[2021-06-29 20:57] LittleLittleCloud commented on #1535
Did you have another model builder instance start training at the same time when this error thrown? That file is the temp dataset created by model builder automl service.

The temp dataset's name is generated from a random seed, which the random seed is initialized using the following way.
![image](https://user-images.githubusercontent.com/16876986/123865991-680f3380-d8e1-11eb-8ed5-6ab5f2ddb5e3.pn

[2021-06-29 20:59] torronen commented on #1531
Yes, give me up to a few days to get it.

It could be a RAM issue. The datasets are 1.5 - 2.5 Gb, the computers with the regular issues have 16 gb RAM. There may have been a report from a computer with 80 Gb RAM, too, but I need to confirm it. I believe we may also have had 1 or 2 Visual Studio crash during training ("disappear" with no errors). On other hand, I think some of the computers with 16

[2021-06-29 21:06] LittleLittleCloud commented on #1531
Meanwhile, you can also collect the error information from event viewer, simply by selecting "Windows Logs" => "Application" and search "ServiceHub.Host.CLR.x64.exe"

[2021-06-29 21:08] LittleLittleCloud commented on #1516
@gerwintmg
Any updates on this issue

[2021-06-29 21:23] torronen commented on #1531
Actually, my home laptop had just got same error message even if the dataset is different.
[servicehub.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6736538/servicehub.zip)
It is from today, so you can probably ignore most of the files which have not been updated today

16 Gb RAM, VS 16.10.2, will update now to 16.10.3 and set ServiceHubTraceLevel to ALL and restart training
La

[2021-06-29 21:30] torronen commented on #1531
Here is export of Microsoft.ServiceHub.Controller.exe application log events
[some-application-logs.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6736566/some-application-logs.zip)

I see there are large number of crashes for NahimicSvc32.exe at the same time which is probably the sound card driver for Lenovo. It could be related to the issue since Lenovo Legion laptops and des

[2021-06-29 21:30] beccamc commented on #1534
@LittleLittleCloud We aren't doing anything special. The problem is we aren't using the WPF data grid, because people didn't like the behavior around [changing values](https://github.com/dotnet/machinelearning-modelbuilder/issues/1316). The down side is we don't get nice resize capabilities.

I can take a look at options here, since customers should be able to see the full name someone (maybe tool

[2021-06-29 21:32] romalpani commented on #1534
@beccamc @LittleLittleCloud
Here are some of the options. Happy to discuss them during our design sync.

1. Have we considered using the Grid control in VS? I believe it has responsive behavior. E.g., try adding a dependency through connected services experience in VS.
![image](https://user-images.githubusercontent.com/48927690/123868885-26808780-d8e5-11eb-9c3a-8e18a0a6cd0a.png)

2. The column nam

[2021-06-29 21:35] torronen commented on #1531
Windows error reporting log files for ServiceHub Controller.
[windows-appcrash-log-files.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6736637/windows-appcrash-log-files.zip)

[2021-06-29 21:54] torronen commented on #1535
I think it was at the time issue https://github.com/dotnet/machinelearning-modelbuilder/issues/1533 happened, so yes, there was another training happening in the background, I believe, even if I could not access it. I was writing about that issue, and noticed this temp file error when coming back to Visual Studio.

[2021-06-29 22:25] beccamc commented on #1316
From "Model Builder Bug Bash - Take 2"

Jake Radzikowski
2/23/2021 5:07 PM
I agree -  it's a bit hard to tell it's editable

Rohan Malpani
2/23/2021 5:07 PM
Bri, I haven't reached Advanced data options yet. I will play around with it a bit. From your screenshot, it does look quite simple.

Jake Radzikowski
2/23/2021 5:08 PM
I think Becca said there was still some styling stuff to do

Becca McHenry

[2021-06-29 22:31] beccamc commented on #1534
@romalpani Thanks for the fast response!

1. We have looked at using the grid control from WPF. People didn't think it was clear the elements were editable. I found the conversation from teams and pasted it into the [issue](https://github.com/dotnet/machinelearning-modelbuilder/issues/1316).
2. Yep, we can add the tooltips
3. Column names are not supposed to be keyboard accessible, as they are a n

[2021-06-29 23:21] LittleLittleCloud commented on #1535
Thanks @torronen , we will start working on a fix to make the temp dataset's name more "random". In the meanwhile, a simple work-around can be re-launching training (if possible). We will look into the frozen VS issue as well, but it's very like that the two issues are unrelated.

[2021-06-30 06:12] zjdandy99ge opened #1543 "model build error--- image trainning base on GPU"
2021-06-30 13:58:39.7692 DEBUG StreamJsonRpc.ConnectionLostException: 在请求完成之前, 与远程方的 JSON-RPC 连接已丢失。
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   在 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   在 System.Runtime.CompilerServices.TaskAwaiter.ValidateEnd(Task task)
   在 StreamJsonRpc.JsonRpc.<InvokeCoreAsync>d__1

[2021-06-30 06:13] zjdandy99ge commented on #1543
GPU  and CUDA environment are good

[2021-06-30 08:10] torronen commented on #1534
For additional context: my current use case requires generating a dataset from a large number of PDF documents (I am running categorization, summarization, unique bigrams etc. on the extracted text). The creation of the dataset is a multi-day run, so I am generating about 20 alternatives for prediction in the same file, such "ResultCategory", "ResultSubCategory", "ResultSentiment", "ResultExpertLe

[2021-06-30 08:34] torronen commented on #1535
Sorry, but I can no longer verify if the Kaspersky antivirus was scanning the specific folder at that time, but it did not warn or detect any items so it should not have changed anything. However, I think the chance of antivirus scanning this file has a low probability because scanning a single file is quick and it was doing full system scan with lots of files. I can try to reproduce it on next ru

[2021-06-30 08:49] vzhuqin opened #1544 "The results should not be predicted without data on the "Evaluation" page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.1.2132901 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: can predict the result with emp

[2021-06-30 09:07] torronen commented on #1544
This is a good point. I think it also relates to the consumption of models. It is a very easy (and risky) mistake to run a model without providing it the data it needs. As a personal example, I had a pricing AI many years ago which gave prices every time. Because some users tend to be lazy, some users just kept clicking "Make price" without providing any additional data. It created huge pricing er

[2021-06-30 10:12] torronen commented on #1531
Here is from another laptop, about 2Gb dataset with 16 gb RAM.
Log level was still standard, nahmic was already disabled, servicehub files were deleted earlier and it seems this error did not write anything there.

In this case, Windows Application logs showed error for ServiceHub.Host.CLR.x64.exe which is exported to the logs.zip file. Error seems to be running out of virtual memory as you suspec

[2021-06-30 10:18] torronen commented on #1531
I wonder if I could still recover Model.zip from some temp folder in these cases?

[2021-06-30 10:45] torronen commented on #1531
On one of the computers running for a longer time, I see fluctuations of 100 - 2000 page faults/second from ServiceHub.Host.CLR.x64, while RAM consumption fluctuates between 17%-49%, averaging maybe bit above 20%.

[2021-06-30 13:43] torronen commented on #1542
@raphael-dossantos  Did you enable the Preview feature from Tools | Options page? If not, there should be a very small notice in Visual Studio asking to do it, but it is easy to miss.

![image](https://user-images.githubusercontent.com/26261427/123970635-f5c25000-d9c1-11eb-861f-d914c67fafba.png)

![image](https://user-images.githubusercontent.com/26261427/123970546-de836280-d9c1-11eb-8201-27e4fb3b

[2021-06-30 14:01] masgh021 opened #1545 "local object detection in model builder (offline)"
hello ,
is it possible local training for object detection (without azure) ?

[2021-06-30 17:42] LittleLittleCloud commented on #1531
Hi @torronen
Thanks for the update

In some way, yes. The model's name is simply the iteration name + .zip, so you can just go to that folder, find out the model you want based on iteration name, and copy and paste it to target folder, if it's not covered by other experiments.

For the other questions, I need to reach out to servicehub team to find out why.

[2021-06-30 17:56] LittleLittleCloud commented on #1535
And did you remember what's the last trainer before crash? Is that all lgbm?

[2021-06-30 18:05] LittleLittleCloud commented on #1531
@torronen
another question, do you remember the last trainer when crash happens? Is that all lgbm?

And can you also pack model builder log and upload here? You can find it in %temp%\MLVSTools\logs. It contains every bits of logs during training process, including the content in output window

[2021-06-30 18:23] torronen commented on #1531
Thanks for the prompt replies.

yes, I think they are all lgbm, on what I could find. Here is debug files from today, but unfortunately this did not have ServiceHubTraceLevel set to All so the servicehub log folder is probably useless. It is in the zip file anyway.

I believe you mean this file:
[46bddea9-59a9-4ae0-9276-cc58947ac50c.txt](https://github.com/dotnet/machinelearning-modelbuilder/files

[2021-06-30 19:56] LittleLittleCloud commented on #1543
The error indicates servicehub host crashes. Can you upload the log from %temp%servicehub/log here so we can take a look?

In the meanwhile, can you confirm that the version of GPU extension is identical with model builder's, and can we have your model builder version number as well?

[2021-06-30 21:15] torronen commented on #1536
Here is the log file of a new run. This happened after pressing "Cancel". Then "Cancelling..." status took about 2 hours or so, with high number of system memory hard faults, and about 85% RAM consumption. Lenovo Legion, Ryzen 7 5800, 16 Gb, fixed size 368 Gb paging file set in Windows System settings.
Visual Studio Version: 16.10.3

I will keep the computer untouched for 1-2 days in case some oth

[2021-06-30 21:29] torronen commented on #1536
It seems all files (model, consumption, training) were created and added to the project. Model makes a prediction in the Evaluate tab of the model builder. So I suppose can be considered a low priority issue.

[2021-06-30 21:52] LittleLittleCloud commented on #1531
Hi @torronen

Since the OOM error possibly only happen on lgbm, we can provide a specifc build that allows you to disable some trainers through environment variables.  In the meantime, can you help us verify if the problem goes after lgbm trainer is disabled?

[2021-06-30 22:09] LittleLittleCloud commented on #1530
@torronen thanks for the feedback

Depends on the size of your dataset. either 5-fold cv or hold-out (10% for test), all randomly. Considering the size of dataset you have, it will be hold-out

It's based on the performance of each trainer. If one trainer has a higher improving speed, it will be assigned with more time budget. The improving speed is evaluated via `ECI`, you can refer to the follow

[2021-06-30 22:45] LittleLittleCloud commented on #1531
Hi @torronen
The build from the following feed will allow you to disable trainers through the environment. You can enable or disable trainers through `env: AutoMLServiceMultiClassifiers`, `env: AutoMLServiceBinaryClassifiers` and `env: AutoMLServiceRegressors`. The default value for those three variables are all identical: `LGBM;RF;FASTTREE;LBFGS;SDCA`. To disable either trainer, you just need to

[2021-07-01 00:39] LittleLittleCloud commented on #1545
Sorry it's not available right now.

@briacht +1 for another request for local object detection training.

[2021-07-01 06:46] vzhuqin commented on #1321
The "Code generated" was removed on main branch:  16.6.1.2132901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/95c689ea-edea-4f20-96f6-63e8343d0002)

[2021-07-01 06:47] sigal1113 commented on #1540
I got the same problem, and I found if I connect to MS SQL 12.0.5207.0 it happens,
However if I connect to another SQL with version 13.0.5103.6 it works.

[2021-07-01 07:07] torronen commented on #1531
thanks, I will try it. I am currently trying if setting a fixed paging file to 368 GB would fix it. So far, potentially promising.

Meanwhile, I might have a new issue of computers restarting / crashing (next time I come I will see they are restarted and waiting for login). Are there additional log files I should look at to see if Visual Studio caused the restart? Windows Event Log does not reveal

[2021-07-01 09:02] torronen commented on #1531
I did not yet get to run with LGBM disabled, but I had another case where FastForestOva failed. This time ServiceHub.Host.CLR.x64.exe consumes 58.6 Gb. I will try next with lgbm and fastforestova disabled.

ML log file:
[a5d1f7f7-cdef-43db-907c-3e4306516f24.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/6746816/a5d1f7f7-cdef-43db-907c-3e4306516f24.txt)

Windows event log items:

[2021-07-01 09:43] vzhuqin commented on #1529
this issue was fixed on main build: 16.6.1.2132901

[2021-07-01 10:30] torronen commented on #1531
This is an interesting case. It is from Windows server w/ EPYC, 168 RAM and 368 GB page file. Dataset size 2.3Gb. Ended in "JSON-RPC error" due to OOM. Windows log says Servicehub consumed 512 GB at time of resource exhaustion. It did not yet have the debug version of the plugin.

FastTreeOva, last completed model 743. I believe (but can not confirm) same dataset with same settings has progressed

[2021-07-01 10:39] torronen commented on #1531
Temporarily, I think it would be adequate if the best model would be stored in some easy-to-find and copy-to-solution place. Potentially .consumption and .training files could also be generated already every time there is a new best model? Even if OOM happens, the progress would not be lost / could be recovered fairly easily.

[2021-07-01 14:55] beccamc commented on #1518
Closing as this issue is resolved. Please @ mention us if there is anything else you need help with!

[2021-07-01 14:55] #1518 closed

[2021-07-01 15:01] beccamc commented on #1533
Thanks for reporting @torronen! We will take a look.

[2021-07-01 15:03] beccamc commented on #1539
@romalpani What is the minimum window size we need to support?

[2021-07-01 15:06] beccamc commented on #1542
@raphael-dossantos In addition to Antti's suggestions, are you trying to add to VB project? We only support C#.

[2021-07-01 15:09] beccamc commented on #1544
@briacht Can we get your thoughts here?

[2021-07-01 15:11] beccamc commented on #1545
@masgh021 Thanks for letting us know! We're still using your previous request to track this... https://github.com/dotnet/machinelearning-modelbuilder/issues/1091

[2021-07-01 16:48] romalpani commented on #1539
@beccamc
Here are the guidelines for VS Win UI and resolutions. Let me know if you have any questions.
https://devdivdesignguide.azurewebsites.net/processes/craftsmanship-checklist/#resolution-and-screen-size

[2021-07-01 17:23] raphael-dossantos commented on #1542
Thanks for repplies, I really appreciate. I'm using C# not VB and I did enabled Preview Tools. Let me try .NET 5, because I was using 3.1.

I'll try and let you know.

Thanks for all kind repplies.

[2021-07-01 17:32] LittleLittleCloud commented on #1531
The code is generated after training is success so no it won't be updated everytime a new best model found

Meanwhile, I also find something interesting from lgbm repo, which datasets is ~1gb and it uses up to 150GB of memory during training.

- https://github.com/microsoft/LightGBM/issues/562

So another potential solution might be just to increase the virtual memory considering that you have ~50

[2021-07-01 17:36] LittleLittleCloud commented on #1516
@gerwintmg

we assume that the reinstallation successfully solve this issue as there's no response, feel free to reopen it and @ me if it's not.

[2021-07-01 17:36] #1516 closed

[2021-07-01 17:39] LittleLittleCloud commented on #1175
Hi @tmdwns7809

We have a build that supports enable/disable some trainers through environment variable, would you like to try it out?

[2021-07-01 17:40] LittleLittleCloud commented on #1219
Having trail running in separate process might help resolve #1531

[2021-07-01 17:42] romalpani commented on #1534
@beccamc
#1 I wonder if we could style the editable content in a grid component to feel more _editable_? Happy to discuss this in more detail or what other options we might have.

#3 I think if not the column name, the entire row at least needs to be keyboard selectable. So, for example,

   ... or ...

While it is true that non-interactive elements don't need to be keyboard focusable, allowing ke

[2021-07-01 17:44] romalpani commented on #1534
@torronen that's a good point. We will look into "bulk-editing" as an option.

[2021-07-01 17:58] idenchik1 commented on #1493
@beccamc same issue, ML.NET 16.6.1.213190
![image](https://user-images.githubusercontent.com/34679695/124169335-55a71c80-dad0-11eb-8619-a8f9aeeeb2e7.png)

[2021-07-01 18:05] beccamc commented on #1493
@idenchik1 Can you share a sample row of your dataset?

[2021-07-01 18:15] LittleLittleCloud opened #1546 "Notebook regression - Compare actual values to predicted values in a scatter plot - predict label doesn't match"
![image](https://user-images.githubusercontent.com/16876986/124171598-a3367180-da5d-11eb-9602-6b4a2de8e919.png)

The predict value is from column `rate_code`

[2021-07-01 18:17] torronen commented on #1531
Yes, I will do that, make the page file to max size for now. That is adequate solution. However, I am concerned if might keep creating bigger and bigger models until time runs out or all space is consumed. Do you think think it is possible it would keep creating bigger and bigger models?

[2021-07-01 18:18] JakeRadMSFT opened #1547 "Generated notebook is missing nuget reference"
![image](https://user-images.githubusercontent.com/31937616/124171851-edb7ee00-da5d-11eb-9474-3134e7c7326c.png)

[2021-07-01 18:19] LittleLittleCloud opened #1548 "notebook - Microsoft.ML.AutoML not required"
We shouldn't need `Microsoft.ML.AutoML` dependency in regression.
![image](https://user-images.githubusercontent.com/16876986/124171981-1e982300-da5e-11eb-90b4-efad73197792.png)

[2021-07-01 18:19] JakeRadMSFT commented on #1547
@LittleLittleCloud should be able to point you to how to get the list necessary of nugets for the pipeline.

[2021-07-01 18:22] LittleLittleCloud opened #1549 "pipeline format error"
pipeline code shouldn't have space at the begining.
![image](https://user-images.githubusercontent.com/16876986/124172262-76368e80-da5e-11eb-9813-0a8f98b1d023.png)

[2021-07-01 18:26] LittleLittleCloud opened #1550 "Suggest - get rid of explicitly defined ModelInput class"
Imaging what it will be on that 7000 column's dataset.

![image](https://user-images.githubusercontent.com/16876986/124172722-04127980-da5f-11eb-9a83-972ea3775ea7.png)

A proper way is to use `DataFrame` class, which supports loading from fixed width text file directly.

[2021-07-01 18:28] LittleLittleCloud opened #1551 "LightGbm nuget is missing when best trainer is lgbm"
![image](https://user-images.githubusercontent.com/16876986/124173101-7420ff80-da5f-11eb-87a5-8c4d11df8add.png)

[2021-07-01 18:29] houghj16 opened #1552 "Inconsistent numerical format in the value column"
![image](https://user-images.githubusercontent.com/46505805/124173039-2791f000-da70-11eb-828a-41a54b2a6946.png)

Seen during the classification scenario.

[2021-07-01 18:30] houghj16 commented on #1552
Suggestion - Preceding 0 should be consistently applied.

[2021-07-01 18:31] justinormont commented on #1175
On the GUI side, along with the raw list of trainers, you may want categories of trainers.

Why? Users aren't generally expected to know about each trainer. Users can then enable/disable the categories of trainers, which in-turn enables/disables sets of trainers.

Possible categories:
* Streaming _(not memory bound; can do TB scale datasets)_
* Trees
* Linear
* Reports feature importance _(exposes

[2021-07-01 18:47] romalpani opened #1553 "Consume page: Add to solution dialog"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- When you click the "Add to solution" button in the project templates section.
- Clear description of the problem:
The dialog should follow designs from this Figma to align with distances between buttons, overall paddi

[2021-07-01 18:52] LittleLittleCloud opened #1554 "Object detection - Object null error on images with 0 boxes detected"
When 0 bboxes detected, the properties in `ModelInput` class will be null. Therefore, an object null error will be thrown if `ModelInput.BoundingBox` get called.

![image](https://user-images.githubusercontent.com/16876986/124175535-936d5c00-da62-11eb-9977-4d946c58b307.png)

[2021-07-01 18:53] romalpani opened #1555 "Consume page: Add to solution experience"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue: Consume page
- Clear description of the problem:
If a project template by any name "xyz" has been added to the solution, and if I try to "Add again" the same tem

[2021-07-01 20:04] melissatranuw commented on #1546
Fixed! Thanks for catching this!
![image](https://user-images.githubusercontent.com/55814458/124183301-e0eec680-da6c-11eb-83b9-3d05c04fb9ed.png)

[2021-07-01 20:30] melissatranuw commented on #1546
Fixed! Thanks for catching this! @LittleLittleCloud
![image](https://user-images.githubusercontent.com/55814458/124185910-6a53c800-da70-11eb-9126-ff305d394b21.png)

[2021-07-01 21:08] melissatranuw commented on #1547
![image](https://user-images.githubusercontent.com/55814458/124189440-8d34ab00-da75-11eb-82fd-710333f3a92d.png)
![image](https://user-images.githubusercontent.com/55814458/124189465-99206d00-da75-11eb-93b1-f83b2cffad8a.png)
Fixed! Thanks for catching this @JakeRadMSFT! All test should generate needed NuGet's in the first cell.

[2021-07-01 21:09] #1547 closed

[2021-07-01 21:09] #1546 closed

[2021-07-01 21:20] melissatranuw commented on #1548
![image](https://user-images.githubusercontent.com/55814458/124190606-69726480-da77-11eb-993c-a1f95f6d6255.png)
Thank you!

[2021-07-01 21:20] #1548 closed

[2021-07-01 21:24] melissatranuw commented on #1549
![image](https://user-images.githubusercontent.com/55814458/124190993-fb7a6d00-da77-11eb-8b48-0224c31b0773.png)
Fixed! Thank you!

[2021-07-01 21:24] #1549 closed

[2021-07-01 21:31] melissatranuw commented on #1551
![image](https://user-images.githubusercontent.com/55814458/124191585-d3d7d480-da78-11eb-9a64-50a8f09325cb.png)
![image](https://user-images.githubusercontent.com/55814458/124191601-dc300f80-da78-11eb-86ff-7a048b6fae0d.png)
I changed the pipeline cell so it should now generated needed nugets. Thanks for catching this!

[2021-07-01 21:31] #1551 closed

[2021-07-01 21:55] melissatranuw commented on #1552
I agree! Thank you! I decided to do no zero's
![image](https://user-images.githubusercontent.com/55814458/124193721-354d7280-da7c-11eb-8452-5f90b7e6149b.png)

[2021-07-01 21:55] #1552 closed

[2021-07-02 00:27] LittleLittleCloud commented on #1531
If bigger model results to better result it will. The main parameters automl service tuning for lgbm is num_leaves, num_iterations and max_bin, where num_leaves and max_bin have a direct infect over the memory usage during training.

[2021-07-02 02:25] ddaa12 opened #1556 "can't appear what i see in instruction"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-07-02 07:03] idenchik1 commented on #1493
https://hastebin.com/raw/ayunozupos
I used this dataset https://www.kaggle.com/fizzbuzz/cleaned-toxic-comments?select=train_preprocessed.csv

[2021-07-02 08:05] vzhuqin commented on #1463
@LittleLittleCloud , this issue still appears on main build: 16.6.1.2132901, could you help to take a look?

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/89918461-1575-4000-bbb0-59fe24eef42b)

[2021-07-02 17:17] romalpani opened #1557 "Train page - Cannot see the drop arrow for "Training setup summary""
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:
In Text classification scenario on the Train page, "Training setup summary" section is missing the drop arrow on the right. A

[2021-07-02 22:15] zewditu commented on #1439
I think this is not a bug,  but we should communicate  exactly what happened there

[2021-07-02 22:23] zewditu commented on #928
@romalpani, I do not have permission for the guideline link  https://devdivdesignguide.azurewebsites.net/windows/patterns/#visual-style-2, do you have a chance to grant me permission?

[2021-07-02 23:05] melissatranuw commented on #1553
3. The subtitle should read
"It will use the most recent model created on 7/1/2021 at 11:24 AM."
![image](https://user-images.githubusercontent.com/55814458/124335457-2edbfb00-db4f-11eb-9f9f-6fb5df2cd45b.png)
Fixed!

4. Minor language update in the "project already exists with the same name" dialog.
![image](https://user-images.githubusercontent.com/55814458/124335489-4ca96000-db4f-11eb-959c-d66a5

[2021-07-02 23:22] zewditu opened #1558 "No need to compare between local and cloud training for text scenarios."
**Screenshots**
![image](https://user-images.githubusercontent.com/36615490/124336113-ac086f80-db51-11eb-9ba9-44979f001852.png)

**Additional context**

[2021-07-03 07:23] torronen commented on #1558
I have been wondering about this page, too, for these cases. Is there a plan, or would it be possible to install "train agents" on separate machines to do the actual training? That would be really cool for the developer workflow. Either push to local or cloud to do the training and continue with your day on the developer workstation.

[2021-07-03 14:37] torronen commented on #1542
I once had disabled the extension by accident. Probably from the notice telling it caused X seconds of unresponsiveness. I think it did the same as you describe. That could be one cause also.

[2021-07-03 14:45] torronen commented on #1496
I think 1 or 2 decimals should be enough, and it is still easy enough to read. Personally, I only use it to see if there has been any improvements (and how big) since the last, but often the output window is better for this purpose. The percentage alone can sometimes be a bit misleading, but it is useful for seeing if the tuning is improving results. Or, if it is giving 99% accuracy, I can cancel

[2021-07-03 20:57] jv-er opened #1559 "Error writing JSON RPC Message: InvalidOperationException: Collection was modified; enumeration operation may not execute."
at StreamJsonRpc.JsonRpc.<InvokeCoreAsync>d__139`1.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.ValidateEnd(Task task)
   at M

[2021-07-03 21:06] torronen commented on #1496
Correction: 2 decimals are needed so it is possible to search form the output window (which shows 4 decimal points) to check other accuracy values + the which model number had the best score so far. Perhaps number of the best model and all accuracy values could be also shown on the main page? That would reduce the need to search the output window.

[2021-07-04 02:37] #1543 closed

[2021-07-04 02:42] zjdandy99ge commented on #1543
both are the lastet version , include model builder and gpu extension.
I could use the previous  vs 2019 preview  version and the related gpu extension for image trainning, but these issures appeare since I upgrad vs 2019  preview version and model biuld and gpu extension

[2021-07-04 02:45] zjdandy99ge commented on #1559
I have the same issures since I upgrade vs version

[2021-07-04 15:17] jv-er opened #1560 "Object reference not set to an instance of an object"
at StreamJsonRpc.JsonRpc.<InvokeCoreAsync>d__139`1.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at Microsoft.

[2021-07-05 10:29] torronen opened #1561 "Array dimensions exceeded supported range."
**Bug description**
After starting training, I receive error "Array dimensions exceeded supported range."

**Steps to Reproduce**
1. Create CSV dataset with high number of rows
2. Create a classification task and start training

**Expected Experience**
Training should start and run normally,
OR, error should tell me if I want to continue by skipping exceeding values
OR, error should tell me what i

[2021-07-05 10:31] torronen commented on #1561
If it is about a hard limit on number of observations, what would be the max?

[2021-07-05 10:47] torronen commented on #1561
The "Data" step in the wizard already counts the rows and columns. Perhaps this page could already warn me if I exceed the supported range?

Even better if it would allow me to skip any rows past the limit (skip randomly best, but skip from the end is ok ay too). If I understand correctly Model Builder creates a temporary copy of the dataset so perhaps it could be implemented fairly easily.

![kuv

[2021-07-05 11:44] shaggygi commented on #724
Yes, I'm also interested in knowing the plans to open-source Model Builder.  I doubt I would be much help in contributing.  Mainly curious on how the extension works when adding the mbconfig and related files to project.  Thx

[2021-07-06 11:20] shaggygi opened #1562 "[Question] Support for Anomaly Detection Training"
Liking the new updates to Model Builder.  Good job team 👍

If I may ask, I noticed there is a link to samples for anomaly detection.  Do you have firm plans when we will see more support for related training and code generation for anomaly detection?  Thanks in advance.

[2021-07-06 15:17] jv-er opened #1563 "Parsing failed with an exception: Stream reading encountered exception"
at Microsoft.ML.Data.TextLoader.Cursor.<ParseParallel>d__33.MoveNext()
   at Microsoft.ML.Data.TextLoader.Cursor.MoveNextCore()
   at Microsoft.ML.Data.RootCursorBase.MoveNext()
   at Microsoft.ML.IDataViewExtensions.ToDataFrame(IDataView dataView, Int64 maxRows, String[] selectColumns)
   at Microsoft.ML.ModelBuilder.AutoMLService.Proposer.ResampleStrategyProposer.Initialize(ProposerSharedContext

[2021-07-06 17:25] romalpani commented on #928
@zewditu here's the updated link:
https://devdivdesignguide.azurewebsites.net/windows/patterns/buttons-and-hyperlinks/#hyperlinks

[2021-07-06 17:26] torronen commented on #1563
If I remember correct, I had same issue with some datasets. It was about one the CSV lines not having enough values. While waiting for Model Builder team to review could it be that or one of these:
- too few values on some lines
- missing value, i.e data,,data3
- lines ending with , or other delimites
- header having different delimiter
- model builder advanced settings not correct
- empty lines a

[2021-07-06 18:06] zewditu commented on #1503
@vzhuqin  the issue is fixed  for version  ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/94acbce7-0095-4033-87a4-c8e9fe7af078)

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/9937fb26-d421-4f13-badb-b64721cc3e49)

[2021-07-06 18:11] JakeRadMSFT opened #1564 "GA Model Builder: VS2022 Remove Feature Flag and "Preview""
- [x] Remove Feature Flag from VS Repo
- [x] Remove Feature Flag check from Model Builder code
- [x] Remove "Preview" from Name

[2021-07-06 20:00] briacht commented on #1530
@luisquintanilla Can we please add a work item to Docs to talk about how Model Builder splits up the data?

[2021-07-06 20:09] briacht commented on #1544
I think it's fine to leave as is. If you train a model with the API and then create a new model input to predict without setting the properties, you'll still get a result.

We could add a warning - something like "You left this input blank which will affect the model results." - @romalpani thoughts?

We should look into inference perf on this step though - "This page is not very good for evaluatio

[2021-07-06 20:22] beccamc commented on #1544
@torronen, regarding your feedback on "This page is not very good for evaluation in many cases because it is slow to use if multiple inputs are required (such as taxi fare example)."  Did you mean the perf is bad, or did you mean it's slow to manually add data? Thanks!

[2021-07-06 21:14] romalpani commented on #1197
We should consider renaming the tags to simply "Local" and "Azure" for all cases.
It would solve this current issue, but also help make the overall size of the tags smaller.
@briacht thoughts?

[2021-07-06 21:19] briacht commented on #1197
Works for me!

[2021-07-06 21:25] romalpani commented on #1197
@zewditu does that solve this issue?
We can keep the tooltips as is.

[2021-07-06 21:25] torronen commented on #1544
@beccamc Slow to manually add data, because it would be best to try at least 10 different observations. Not sure if it is a good idea but if it had a "next" button to iterate through the test data AutoML used, that would make it easier to make at least a quick sanity test.

[2021-07-06 22:05] torronen opened #1565 "Suggestion: Improve performance by running experiments in parallel by monitoring available system resources"
**Is your feature request related to a problem? Please describe.**
Some algorithms utilize CPU fully with good multi-threading performance. Others seem to only utilize single core, yet other algorithms need large amount of system memory and are mostly waiting for paging file access (as it often does not fit in RAM).

**Describe the solution you'd like**
Would it be possible to mix and match algori

[2021-07-07 01:03] Ja1ros opened #1566 "Unable to split the file provided into multiple, consistent columns."
Unable to split the file provided into multiple, consistent columns.

 en Microsoft.ML.AutoML.ColumnInferenceApi.InferSplit(MLContext context, TextFileSample sample, Nullable`1 separatorChar, Nullable`1 allowQuotedStrings, Nullable`1 supportSparse)
   en Microsoft.ML.AutoML.ColumnInferenceApi.InferColumns(MLContext context, String path, ColumnInformation columnInfo, Nullable`1 separatorChar, Nulla

[2021-07-07 02:01] #1566 closed

[2021-07-07 12:13] torronen opened #1567 "Suggestion: Improve performance of .consumption template, only unzip and deserialize once"
**Is your feature request related to a problem? Please describe.**
Current .consumption file has low performance for multiple runs. This would seem to be cause in big part due to unzip and deserialization of the model. For an example, I might predict "suitability" score for a user for all movies he browse in a list. Each page may have 10-20 predictions. Currently .consumption file recreates the mo

[2021-07-07 16:39] beccamc commented on #1558
@briacht for visibility

[2021-07-07 16:40] beccamc commented on #1567
@briacht for visibility

[2021-07-07 16:41] beccamc commented on #1565
@LittleLittleCloud To comment on our future plans here. cc: @briacht

[2021-07-07 16:42] beccamc commented on #1563
@jv-er Thanks for reporting. Can you share your dataset with us?

[2021-07-07 16:42] beccamc commented on #1562
Thanks for the support, and the suggestion!

@briacht Do we have an issue tracking anomaly detection?

[2021-07-07 16:44] beccamc commented on #1560
@jv-er Sorry you ran into this problem and thanks for reporting. What version of Model Builder are you on? You can find this info in the Manage Extension dialog

[2021-07-07 17:07] jv-er commented on #1560
![Most Recent](https://user-images.githubusercontent.com/86890117/124800955-1c750f00-df0b-11eb-8640-1abe338b503e.PNG)

[2021-07-07 17:23] jv-er commented on #1563
I created a new project and have not had the issue since, but I am using the same dataset.

Sure, but it is a larger file.

Download:
https://drive.google.com/file/d/19tCEXd3_GJHyJSt2hTIH1DtrvRfTKzrM/view?usp=sharing

Virus Total:
https://www.virustotal.com/gui/file/deceab16aa78197b164a63dd2823303793772d3f31e55d547e9de9f5dba30ebd/detection
0/ 57

[2021-07-07 17:31] zewditu commented on #1197
@romalpani  to be more specific, each card has an image, title, description, and Tag(azure or local ),  when we say renaming tags "Local" and "Azure" do you mean remove the description?  could you make it clear?

[2021-07-07 17:55] romalpani commented on #1197
@zewditu Just update the tags from "Local ML" to "Local" and "Azure ML" to "Azure".
Everything else remains the same.

For bigger font size ----

1. Title will get truncated if needed. When that happens, the tooltip on hover should read the full title.
2. Description will get truncated if needed (as it does for normal font size if the description is too long). When that happens, the tooltip on hov

[2021-07-07 18:09] zewditu commented on #1197
yes, Thanks @romalpani !!!

[2021-07-07 19:31] LittleLittleCloud commented on #1561
Hi @torronen

Sorry to see you hitting this issue, you might be the first one to hit this bug. The bug is from ML.Net DataFrame. but your issue also let us re-thinking if it is the right way to convert the intermediate dataset into Dataframe to run sampling strategy before training simply because its APIs are easier to use, which turns out to be a bad idea when the dataset is huge.

As a temporary

[2021-07-07 19:33] LittleLittleCloud commented on #1565
#1219

[2021-07-07 19:54] LittleLittleCloud commented on #1531
Since the servicehub process gets crashed because of using up virtual memory, other than increasing virtual memory or ignore trainers that use too much memory, there's little thing model builder can do here. So I'm going to close this issue.

In the future, having trials running in a separate process (or several separate processes) other than servicehub should be the right way to go, which makes i

[2021-07-07 19:59] LittleLittleCloud commented on #1559
Hi @jv-er
Could we have the servicehub log on your machine? It's located in %temp%servicehub folder and is of great help in detecting what's going wrong.

close VS
go to %temp%servicehub folder and delete logs
set ServiceHubTraceLevel to All in environment
reopen VS and model builder, and launch the same experiment
go to %temp%servicehub\logs folder and you should see a bunch of log files, please

[2021-07-07 20:43] briacht commented on #1558
Maybe we leave it generic but just say "What are the differences between the different training environments?" or "Learn more about the different training environments."

@romalpani what do you think?

[2021-07-07 20:50] briacht commented on #1565
@torronen I'd love to chat on Teams to learn more about how you're using ML.NET! You've left a lot of great feedback so far. If you're interested in chatting with the team, could you please e-mail me at briana.achtman@microsoft.com ?

[2021-07-07 20:59] romalpani commented on #1558
@briacht I like your first option. Keeping it generic across scenarios is good too, especially for this page. Although, in general, it would be great to be more contextual where possible.

Also, as per UI Text guidelines, the tone of voice should reflect _the primary question the user would ask_. As an example, https://devdivdesignguide.azurewebsites.net/general-guidelines/anti-patterns/#anti-patt

[2021-07-07 21:31] beccamc commented on #1558
@briacht and @romalpani FYI here is the discussion around the current string https://github.com/dotnet/machinelearning-tools/pull/915.

[2021-07-07 22:16] romalpani commented on #1558
@beccamc thanks for sharing this.
I think between the previous discussion and this one, I see a few things common:
1. Keep it generic
2. Also allow customers to explore what environment options they have for different scenarios and what might be the differences.
3. Tone of voice

I do realize that right now I am moving away from using the words "local v/s cloud" in that statement. My thinking is i

[2021-07-07 22:29] beccamc commented on #1558
Sounds good! So "What are the differences between the different training environments?" is the string we should use for all scenarios?

[2021-07-08 06:36] vzhuqin commented on #1503
Thanks, verified this issue was fixed on main build: 16.6.2.2135501
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a37ceefa-cea9-41c4-b670-177e1b9ceac8)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4fcc7407-3e7e-4891-bdde-46087902daab)

[2021-07-08 07:21] gerwintmg opened #1568 "Customized data Featurization"
**Is your feature request related to a problem? Please describe.**
I'm using Model Builder for text classification, but am unable to train with custom data preparation so Model builder uses English stop words

**Describe the solution you'd like**
I would like Model Builder to allow me to customize the data preparation pipeline (Example: FeaturizeText) before training.

**Describe alternatives you'

[2021-07-08 08:22] vzhuqin opened #1569 "Remove header row from Data Preview summary count"
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2135501 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Data Page
- Clear description of the problem: I guess that the 10 here is meant t

[2021-07-08 10:42] NiharikaTipirishetty opened #1570 "A11y_Model Builder_Create New Experiment_Keyboard: Keyboard focus is not going to close(x) button in 'Create New Experiment' dialog"
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yAuto; #TabStops; #A11yMAS; #A11yTCS; #WCAG2.4.3; #Focus Order; #Keyboard; #Win32; #DesktopApp; #A11ySev3; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name:

[2021-07-08 12:23] SaisreeDandamudi commented on #1155
Verified the issue in latest MS build and the issue is fixed. Hence closing the bug.

[2021-07-08 12:23] #1155 closed

[2021-07-08 21:28] beccamc opened #1571 "CLI only outputs MlModel.zip"
For our ML ops story, we want a CLI that only produces a log file and the ML.Model.zip.  This is so the Azure run only produces the necessary stuff. Example run [here](https://ml.azure.com/experiments/id/eab5ce45-c398-4551-93fc-5657ca789f89/runs/2dc4406f-cf22-458e-9dc6-9c7c119703d8?wsid=/subscriptions/83635e26-687a-4333-a2a0-33e3cd1f573a/resourceGroups/eastus/providers/Microsoft.MachineLearningSer

[2021-07-08 21:30] beccamc commented on #1569
@briacht and @romalpani Do we want to not include the header row in the "total row" number?

[2021-07-08 22:25] romalpani commented on #1569
I wouldn't think so. Because "number of data rows" should simply be the data rows.

[2021-07-09 04:00] SaisreeDandamudi opened #1572 "A11y_ML .NET Model Builder_ Scenarios_ Info and Relationships: Proper control type is not provided for "Feedback" control"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio; #WCAG1.3.1;

### Environment Details:
Microsoft Visual Studio Enterprise 2022 Preview Version 17.0.0 Preview 1.1

### Rep

[2021-07-09 04:11] SaisreeDandamudi opened #1573 "A11y_ML .NET Model Builder_ Consume_ Keyboard: Keyboard users will not be able to see the complete code snippet in the Consume scenarios"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG1.3.1; #Keyboard; #A11yPreview;

### Environment Details:
Microsoft Visual Studio

### Repro Steps:

1. Open

[2021-07-09 08:07] vzhuqin opened #1574 "Suggestion: Enlarge the guided focus on "Next Steps" page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2135501 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Next steps page
- Clear description of the problem: clicking "Tab" key, find some

[2021-07-09 08:26] vzhuqin opened #1575 ""Train in Azure" option cannot be focused with the "Tab" key."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2135501 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: "Next steps" page
- Clear description of the problem: Clicking "Tab" key,  "Train

[2021-07-09 08:54] NiharikaTipirishetty opened #1576 "A11y_Model Builder_Create New Experiment_Keyboard: Keyboard focus is going to invisible content for two tab strokes after account picker button in 'Create new experiment' button."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yMAS; #A11yTCS; #WCAG2.4.3; #Focus Order; #Keyboard; #Win32; #DesktopApp; #A11ySev2; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model Builder

### OS

[2021-07-09 09:21] NiharikaTipirishetty opened #1577 "A11y_Model Builder_Create New Experiment_Usability: 'Create New Experiment' is not defined as heading. Narrator is not announcing heading in the popup"
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yUsable; #A11yTCS; #Win32; #DesktopApp; #A11ySev4; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model Builder

### OS Details:
Windows Version 21H1 OS

[2021-07-09 10:55] NiharikaTipirishetty opened #1578 "A11y_Model Builder_Create New Experiment_Keyboard: Tool tips that are present for each field are not keyboard accessible. Keyboard focus is not going to tool tips in 'Create New experiment' dialog"
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yAuto; #TabStops; #A11yMAS; #A11yTCS; #WCAG2.1.1; #Keyboard; #Win32; #DesktopApp; #A11ySev2; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model Builder

[2021-07-09 12:34] NiharikaTipirishetty opened #1579 "A11y_Model Builder_Create New Compute_Info and Relationships: Visual representation (*) is not provided for mandatory fields in the popup."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yMAS; #A11yTCS; #WCAG1.3.1; #Info and Relationships; #Win32;
#DesktopApp; #A11ySev2; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model Builder

### OS

[2021-07-09 17:22] ForerunnerG34 commented on #1540
Is there a change of getting a sample .mbconfig file with the SQL connection? Or info about how to manually create one? Maybe the issue in the UI, I'm blocked by this bug.

[2021-07-09 17:42] beccamc commented on #1569
We should remove the header row from the reported count (if there is a header row).

**No header:** 10 of {Total rows in file}
**Header:** 10 of {Total rows in file -1}

[2021-07-09 17:49] romalpani commented on #1569
Can a customer train with data that doesn't have a header row?

[2021-07-09 17:49] beccamc commented on #1511
@LittleLittleCloud Can you take a look at this one?

[2021-07-09 17:53] beccamc commented on #1437
Any update on this issue? Was the data uploaded to the expected spot?

[2021-07-09 17:54] beccamc commented on #1512
If this is still happening, can you change your data into a .txt (should be able to safely rename) and upload it?

[2021-07-09 17:55] beccamc commented on #1488
Closing this as it seems to be a problem with VS. Please ping me if it's still happening. Thanks!

[2021-07-09 17:55] #1488 closed

[2021-07-09 18:21] LittleLittleCloud commented on #1571
@beccamc

Can we just update the train cmd to only keep model and .mbconfig file and remove every other files after training end? This might be an easier way to implement

[2021-07-09 18:34] beccamc commented on #1569
Yes. No header row is even a supported option in advanced options. We show default columns names if there is not header row (col0, col1, etc.)

[2021-07-09 18:36] beccamc commented on #1571
What would be the affect for people using the command line locally? They wouldn't get the generated code files anymore?

[2021-07-09 18:37] LittleLittleCloud commented on #1463
KK

[2021-07-09 18:39] LittleLittleCloud commented on #1535
K, In that case, I'm going to close this issue, please reopen it and let us know if you hit another similar error

[2021-07-09 18:40] LittleLittleCloud commented on #1394
I can't reproduce it on the current main, moving it to validate.

[2021-07-09 18:42] LittleLittleCloud opened #1580 ".mbconfig update path"
We need criteria on how to update .mbconfig from older version to newer version. Please visit the following notebook link for a proposal

https://microsoft.sharepoint.com/teams/ML.NETModelBuilder/_layouts/OneNote.aspx?id=%2Fteams%2FML.NETModelBuilder%2FSiteAssets%2FML.NET%20Model%20Builder%20Notebook&wd=target%28Dev.one%7C0CFA1AFB-A2F3-7F41-ADB6-F2123D7B9E2F%2F.mbconfig%20backward%20compatibility%

[2021-07-09 18:44] LittleLittleCloud commented on #320
Suggest solution:

only keep the top five model in temp folder and delete left ones after experiment complete

[2021-07-09 20:40] beccamc commented on #1545
Hi, I'm closing this in favor of tracking in 1091. Thanks for reporting!

[2021-07-09 20:40] #1545 closed

[2021-07-09 20:41] beccamc commented on #1556
@ddaa12 Sorry you've run into this problem. Are you saying you don't see the "Add machine learning" in the right click menu?

[2021-07-09 20:49] beccamc commented on #1525
This is a duplicate. Closing.

[2021-07-09 20:49] #1525 closed

[2021-07-09 21:06] beccamc commented on #1436
Decision from design meeting that we will leave this as is while figuring out our retrain experience. Open questions:
- Choosing a new version of my data (more rows added)
- Choosing a new version of my data (more columns added)
- Updating ignored columns

In the above scenarios, we may not want to "throw out" the old training results.

[2021-07-09 23:19] zewditu opened #1581 ""Click Predict to see the predict result" text should not display after the user clicked predict button in evaluate page"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/36615490/1251

[2021-07-09 23:23] zewditu commented on #1581
,@romalpani, And I think the predict button has to be disabled while prediction is in progress.

[2021-07-09 23:25] romalpani commented on #1581
@zewditu Yes! And we should have a spinner next to it while prediction is going on (same as Train).

[2021-07-10 12:04] torronen commented on #1535
Issue was found again during a multiday run. The Log file indicated in the error does not exist. There are .zip files (models probably) and a binary file in the directory. It seems VS also closed the Output window of Machine Learning so I can not see which one was the best model.

In addition to this and https://github.com/dotnet/machinelearning-modelbuilder/issues/1531 I think we should expect th

[2021-07-10 12:14] torronen commented on #1535
If "recoverable models" need a new log file, it maybe is needed also for https://github.com/dotnet/machinelearning-modelbuilder/issues/1571 as crash may happen in Azure, too. Users may be less happy if they pay for a high-end VM and it ends up crashing without any output. One more reason  for "recover latest" is that new algorithms might be introduced later, and as they are included in Model Build

[2021-07-10 12:25] torronen opened #1582 "Re-opening Train tab should show all metrics"
.mbconfig Train tab should keep all statistics for best model.
Right now only one of the metrics is shown, which in some cases is not relevant, at least until https://github.com/dotnet/machinelearning-modelbuilder/issues/1537 is possible

Workaround is to save the Model builder output file every time, so we can see abit more information from there

![image](https://user-images.githubusercontent.co

[2021-07-10 12:27] torronen commented on #1535
It seems .mbconfig Train tab retains the data for the best found model, even if the Model.zip was not copied to solution ( https://github.com/dotnet/machinelearning-modelbuilder/issues/1582 )

[2021-07-10 18:56] jv-er opened #1583 "Parsing failed with an exception: Stream reading encountered exception"
at Microsoft.ML.Data.TextLoader.Cursor.<ParseParallel>d__33.MoveNext()
   at Microsoft.ML.Data.TextLoader.Cursor.MoveNextCore()
   at Microsoft.ML.Data.RootCursorBase.MoveNext()
   at Microsoft.ML.IDataViewExtensions.ToDataFrame(IDataView dataView, Int64 maxRows, String[] selectColumns)
   at Microsoft.ML.ModelBuilder.AutoMLService.Proposer.ResampleStrategyProposer.Initialize(ProposerSharedContext

[2021-07-10 20:17] zewditu commented on #1581
@romalpani  sounds good! And that might also need to change the place where to displat the  prediction result .

[2021-07-11 05:54] torronen opened #1584 "Suggestion: Recover latest model after failed training"
**Is your feature request related to a problem? Please describe.**
Sometimes training may fail due to multiple reasons. Many training failures are related to various ML algorithms. Due to the variability of the algorithms, various data, and the possibility of new algorithms being introduced, it may be hard to Model Builder to catch all exceptions. Model Builder and Microsoft.ML are relatively new

[2021-07-11 05:55] torronen commented on #1582
This page could also show all of the data from .mbconfig training history in a table

[2021-07-11 05:55] torronen commented on #1535
Added separate issue about "Recoverable models" https://github.com/dotnet/machinelearning-modelbuilder/issues/1584

[2021-07-11 10:58] torronen commented on #1535
This server did not have realtime antivirus, not even Windows Defender.

[2021-07-11 11:00] jwood803 opened #1585 "CLI auto-completion no longer working"
**System Information:**
 - CLI version: 16.2.0+511cc1082bef7a4bbb2f83ad88c1c425c932079c
 - .NET Suggest: 1.1.221601

**Describe the bug**
The [CLI auto-complete](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-ml-net-cli#set-up-cli-suggestions-tab-based-auto-completion) seems to no longer work.

**To Reproduce**
Steps to reproduce the behavior:
1. Performed the steps

[2021-07-11 11:19] torronen opened #1586 "Suspicion: Servicehub + devenv might not terminate upon close + improve temp file cleaning"
**System Information (please complete the following information):**
Latest updates as of 11.7.2021

**Describe the bug**
AppData/Temp folder can quickly get big especially after failed training attempts.
It might be a good idea to remind users to clean it, or perhaps have Model builder check and ask if it should be cleaned.

I am also suspecting some parts of model builder may still keep running u

[2021-07-11 11:45] torronen opened #1587 "Suggestion: Allow downloading CSV from a web location"
**Is your feature request related to a problem? Please describe.**
A multi-location or remote team using Git may have datasets stored in different locations which prevents using .mbconfig file for retraining without editing the JSON. Dataset may also be updated and need to be sent for all team members.

**Describe the solution you'd like**
A better way would be to allow putting a URL in the file p

[2021-07-11 14:37] torronen opened #1588 "Suggestion: User should be able to select his own test data"
**Is your feature request related to a problem? Please describe.**
I have been skeptical if this is really needed, but it seems we have now some cases where the metrics are amazing, but the actual performance very low. At the moment we suspect the reason is the way test data has been taken for this dataset.

If the test data is not selected correctly, a wrong model may  be selected and users may e

[2021-07-11 18:52] torronen commented on #1538
Minor improvement suggestion: Could it reserve disk space upon start, and then give exception upon start if no free space? For example, 7zip does that and it's been pretty handy when unpacking datasets on limited spaces. Especially VM's seem to often have not much extra space. For bigger datasets, it may take over 10 minutes to process the file and give an error, and the user may have already logg

[2021-07-12 02:38] vzhuqin commented on #1394
Yes, can't reproduce this issue on main build:  16.6.2.2135501
![1394.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9f50dd01-44bb-412d-93ba-31c30cf3b887)

[2021-07-12 07:32] torronen commented on #1568
My understanding is that .training.cs is only used to re-train the model with new dataset but it is never used by Model Builder (it is only generated at the end to help the users to consume the model). Model Builder will select the correct fine-tuning = setup parameters in the .training.cs file per my understanding. The Model builder can not be used to re-train the selected model with same paramet

[2021-07-12 09:05] torronen commented on #1219
@LittleLittleCloud The data file processing / reading CSV file would seem to be single-threaded. I think that is also what is happening in the screenshot because no models are tested yet. I believe it is not necessary because the order of observations can change.

I think you maybe changing the way the CSV file is being read, but if it is a longer process, a quick alternative might be to read and

[2021-07-12 09:47] vzhuqin opened #1589 "Suggestion: return to the original add Machine Learning Model window after closing the reminder dialog."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2136201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: add machine learning model
- Clear description of the problem: If a model builder

[2021-07-12 17:58] briacht opened #1590 "Selecting Model Builder in VS Installer should install the latest version of MB"
1. I modified Visual Studio 2019 and removed all instances of Model Builder.
2. I modified VS again and under .NET Core Cross plat workload, I checked ML.NET Model Builder and installed it:
![image](https://user-images.githubusercontent.com/10437687/125334114-db606e80-e2ff-11eb-8982-06160a4c30b0.png)
3. I opened VS and opened Extensions Manager and got the following version:
![image](https://user-

[2021-07-12 18:13] beccamc commented on #1091
Another customer ask in the Marketplace Q&A

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/35d2d3d6-5660-4ca1-9878-80eb9f07ce85)

[2021-07-12 18:27] CommanderLake commented on #1091
Thanks for quoting me, I forgot all about this!

[2021-07-12 18:28] beccamc commented on #1091
No worries, thanks for the feedback @CommanderLake!

[2021-07-12 18:36] LittleLittleCloud commented on #1419
Thanks @luronumen for your wonderful example, @zewditu can you update consumption.cs to the following code?

@briacht Do we want to make `PredictEngine` publicly available?

[code]

Experiment shows a huge perf improvement on predicting 100 data after applying lazy loading
| | before | after |
| - | - | - |
| n = 1 | 952ms | 1420ms |
| n = 100 | 19575ms | 1350ms |

[2021-07-12 18:36] CommanderLake commented on #1091
Unfortunately I still use VS2017 for which support has been dropped.

[2021-07-12 18:49] LittleLittleCloud commented on #1588
@briacht @romalpani for notification. For now, the test dataset can go with the WIP advanced training option so no UI changes will be required on the data page.

[2021-07-12 18:55] LittleLittleCloud opened #1591 "Advanced User Features"
The [`Advanced training option`](https://microsoft-my.sharepoint.com/:w:/p/brachtma/EflGo8r9PmtHo_FRuCho6IIBDFqHa17Pzbc3Ft0tzkDhSw?e=J18RG2) will provide more flexibility on adjusting AutoML algo in order to achieve a better result. A few options that we can put in advanced training are
- remove/add trainers
- select different training metrics
- additional test dataset
- dataset resample strategy

[2021-07-12 19:00] luisquintanilla commented on #1585
@LittleLittleCloud can you confirm whether auto-completion can still be used. If so, how can you go about setting it up?

[2021-07-12 19:00] LittleLittleCloud commented on #1584
Hi @torronen We are working on *Continue training* experience, which will save snapshot automatically during training and restart from the last saving point when re-launch. It should meet your request. And I can ping you for a try-out once the preview is ready

[2021-07-12 19:01] LittleLittleCloud commented on #1584
#1508

[2021-07-12 19:15] LittleLittleCloud commented on #1585
The auto-completion haven't been set up yet for the current mlnet.cli (the version after 0.15.1) so I'm afraid that you can't use it for now. We have a working item on it a long time ago but it's of low priority and might be already buried under the dust. The mlnet.cli on the current document is still the old one (before 0.15.1).

@briacht let me know if we want to prioritize the auto-completion o

[2021-07-12 19:25] LittleLittleCloud commented on #1590
@JakeRadMSFT  for awareness

FYI We would need QB approval on it to make any changes in dev16 released version. The next release for dev16 is 16.11 and ddl for qb approval mode on that release is 08/05

[2021-07-12 19:37] LittleLittleCloud commented on #1587
@torronen
Thanks for your advice. The dataset sharing plan we decide to use is through Azure dataset, but we are still working on that and it will take a while before it's available. Azure dataset will help resolve the security/authenticate concern and dataset sharing among local/cloud training. But sharing through URI is also a feasible solution with the only downside is user needs to take their

[2021-07-12 19:54] LittleLittleCloud commented on #1535
Hi @torronen

You can find all the output in log, Here's an example for one iteration. Using that iteration number, you should be able to find the best model in AutoML-NNI folder. You can find the path to the log on the very top of output window, or in %temp%MLVSTools\logs, where all logs will be retained.

![image](https://user-images.githubusercontent.com/16876986/125347220-83316880-e30f-11eb-8b

[2021-07-12 20:05] LittleLittleCloud commented on #1553
Hi @beccamc
Does this issue already be fixed?

[2021-07-12 20:08] beccamc commented on #1553
I think 1 and 2 are still open. I'll move it to the nice to have column.

[2021-07-12 20:25] LittleLittleCloud commented on #1568
@gerwintmg
Thanks for your feedback. At the current point, there's no way to customize the option for data preparation transformers in model builder, so you would need to follow what @torronen suggested if you want to apply your own featurizer.

Moreover, what @torronen suggest on additional custom code in model builder inspire me on a new way to apply custom transformer. Although it's  a bit hack

[2021-07-12 20:34] LittleLittleCloud commented on #1583
#1561

[2021-07-12 20:36] LittleLittleCloud commented on #1583
Hi @jv-er
We have a fix build for this, could you help us test it?

feed uri
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/xiaoyun/fix#1561/atom.xml

[2021-07-12 20:47] luisquintanilla commented on #1530
Thanks for this feedback @torronen . I've added an issue to our backlog dotnet/docs#25091 to track this work.

[2021-07-12 21:49] beccamc commented on #1347
Per discussion mentioned in 1436, I'm closing this. We are re-evaluating how we handle resetting data/state.

[2021-07-12 21:49] #1347 closed

[2021-07-12 22:27] zewditu opened #1592 "Program.cs does not show the actual value to compare with predicted value"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
The user has to open the dataset to refer the actual value of the dataset.

**Expected behavior**
There should be text that says " Actual Fare_amount: value..."  above "predicted Fare_amount:17.482143"

**Screenshots**

[2021-07-13 02:52] vzhuqin opened #1593 "The mouse scroll fails if the mouse hovers over the data area of "Data" and "Evaluate" pages."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2136201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: "Data" and "Evaluate" pages
- Clear description of the problem:  I often feel tha

[2021-07-13 03:18] zewditu commented on #1553
@romalpani  All focused buttons in  model builder has this style ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/b1edbb83-3e9e-42fd-a0ae-cf6e7197ffb1)
however in the figma for add to solution dialog the style of button focus is looking different ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/8a7157fa-6764-47d7-a3c7-7d5906e00d81)
what do you th

[2021-07-13 03:50] NiharikaTipirishetty opened #1594 "A11y_Model Builder_Create New Resource group_Info and relationships: Narrator focus is not shifting to 'Create new resource group' popup when it is opened and Narrator announces as 'operation timed out'."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yMAS; #A11yTCS; #WCAG1.3.1; #Info and Relationships; #Narrator; #Win32; #DesktopApp; #A11ySev2; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model Buil

[2021-07-13 04:03] NiharikaTipirishetty opened #1595 "A11y_Model Builder_Create New Workspace_Status messages: Narrator/NVDA is not announcing status message/loading state that is displayed while creating a new workspace."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yWCAG2.1; #A11yTCS; #WCAG4.1.3; #Status messages; #NVDA; #Narrator; #Win32; #DesktopApp; #A11ySev2; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model

[2021-07-13 04:12] NiharikaTipirishetty opened #1596 "A11y_Model Builder_Create New Experiment_Resize Text: When resized text to 200%, entire content in 'Create New Experiment' popup is not clearly visible."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

**GitHubTags:**
#A11y_Model Builder; #A11yMAS; #A11yTCS; #WCAG1.4.4; #Win32; #DesktopApp; #A11ySev2; #ModelBuilder-Win32-Jun2021; #Visual Studio Client;

### Environment Details:
Application name: Model Builder

### OS Details:
Windows Version

[2021-07-13 05:12] SaisreeDandamudi opened #1597 "A11y_ML .NET Model Builder_ Scenarios_ Screen Reader: Narrator/NVDA is not reading any information when focus comes to next steps controls"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG1.3.1; #ScreenReader; #Narrator; #NVDA; #A11yPreview;

### Environment Details:
Microsoft Visual Studio

###

[2021-07-13 05:28] SaisreeDandamudi opened #1598 "A11y_ML .NET Model Builder_ Data_ Keyboard: Tooltip provided beside "User Column" control is not available for keyboard users"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG1.3.1; #Keyboard; #A11yPreview;

### Environment Details:
Microsoft Visual Studio

### Re-pro Steps:

1. Open

[2021-07-13 05:52] SaisreeDandamudi opened #1599 "A11y_ML .NET Model Builder_ Train_ Usability: Narrator is not reading the expand/collapse state of "Training Setup summary" button"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yUsable; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #A11yPreview;

### Environment Details:
Microsoft Visual Studio

### Repro Steps:

1. Open Visual Studio Enterp

[2021-07-13 07:08] Cyrusbm commented on #851
Thanks for sharing, but this does not work for me. I'm using model trained by model builder and there is no "ImageSource_featurized" column in it.

[2021-07-13 13:42] George-Castle opened #1600 "ML.net Model Builder Issue"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): 2
- Clear description of the problem: after clicking 'add' and Machine Learning' I am presented with an 'Add New Item' page which says Loading Templates, however the temp

[2021-07-13 14:17] #1600 closed

[2021-07-13 14:18] George-Castle commented on #1600
I was using .NET Framework not .NET Core

[2021-07-13 15:44] luisquintanilla opened #1601 "[Consume] Error adding Web API to Solution"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
 - Visual Studio Version: 2019 16.10.3

**Describe the bug**
- On which step of the process did you run into an issue: Consume
- Clear description of the problem:

1. Click "Add to Solution" for Web API Project
2. Provide name
3. Error is thrown

**Sc

[2021-07-13 21:42] beccamc commented on #1601
The problem here was with a partially deleted project. The project was deleted, but not removed from the solution.

![image](https://user-images.githubusercontent.com/9122518/125493002-aff8582e-d48b-4f6b-8f00-2a7122ce39ca.png)

![image](https://user-images.githubusercontent.com/9122518/125528898-274e9438-db77-43bc-8a5e-237f5385f38c.png)

I believe this put us in a weird situation where the VS proj

[2021-07-14 06:58] vzhuqin opened #1602 "Model Builder Error: Index was outside the bounds of the array."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2136201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Dataset:**
https://testpass.blob.core.windows.net/test-pass-data/issues.tsv.txt

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new proj

[2021-07-14 08:01] vzhuqin opened #1603 "Should not complete the train for the incorrect data type."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2136201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: A "couldn't be parsed" error oc

[2021-07-14 14:12] GHoltmann commented on #1437
Hi Becca, sorry for the delay. I tested many times but got stucked always at the same step. Was unable to solve the Azure issue by myself. Its probably simple for the Azure team to solve. 

Enviado desde Yahoo Mail para iPhone

El viernes, julio 9, 2021, 1:53 p. m., Becca McHenry ***@***.***> escribió:

Any update on this issue? Was the data uploaded to the expected spot?

—
You are receiving this

[2021-07-14 14:57] torronen opened #1604 "Data tab should reflect changes in the columns of the data file"
**System Information (please complete the following information):**
latest versions as of 14.7.2021, windows 10

**Describe the bug**
If the CSV file has changed, by adding new or removing old columns, it is not reflected in Data tab. If trying to retrain with a changed CSV file, it may fail because it tries to read wrong column, or worse, it may not fail but uses wrong columns from CSV to each fe

[2021-07-14 16:56] luisquintanilla opened #1605 "[Consume] Update Web API code-gen template to use latest"
**Is your feature request related to a problem? Please describe.**

The current Web API template in the consume step uses Route-to-code pattern. This is a great solution to provide a minimal application that performs the basic operations. However, this solution has tradeoffs such as no support for OpenAPI, Model Binding, and service injection through methods.

**Describe the solution you'd like**

[2021-07-14 17:14] beccamc commented on #1504
Status update. There are two things going on here...

- GUID isn't a supported type by ML.NET - [issue](https://github.com/dotnet/machinelearning/issues/4583). This blocks us from being able to treat the uniqueidentifier as it's true type.
- There is a conversion bug in the new DataView extension methods that convert to a DataFrame. However, we are in the process of removing this from our code. I'

[2021-07-14 17:24] beccamc commented on #1604
@torronen Thanks for the feedback. When the user selects a file we process it's columns and predict their type. When re-loading an mbconfig file we do not re-process the .csv file because it would wipe out manual changes you made. As you predicted, it's low priority to optimize this case as you can just reload the .csv.

Our team is working on how data set versioning should work. cc: @romalpani an

[2021-07-14 18:04] LittleLittleCloud commented on #1592
@zewditu can you help look at it

[2021-07-14 18:07] LittleLittleCloud commented on #1541
@mrrcomp Have you tried updating your project from net462 to net472 (or other frameworks that work with netstandard2.0) and see if it resolve this issue? Otherwise it's expected that the installation package fails.

[2021-07-14 18:10] zewditu commented on #1592
@LittleLittleCloud  sure!
@briacht & @romalpani  what should be the text and where to show it?

[2021-07-14 18:11] LittleLittleCloud commented on #1563
Ping to see any updates

[2021-07-14 18:17] LittleLittleCloud commented on #1571
@beccamc
I might not make myself clear. What I mean is update the train cmd in azure training, maybe something like this
[code]

The mlnet cli itself will remain unchanged. So it will still generate the entire project at the end

[2021-07-14 18:19] LittleLittleCloud commented on #1605
@zewditu could you take a look at this issue

[2021-07-14 18:27] pgovind commented on #1563
I'll look into the DataFrame part in a bit

[2021-07-14 18:28] briacht commented on #1592
It should be how it was before.

Predicted Fare_amount: 17.482
Actual Fare_amount: 17.5

[2021-07-14 18:31] LittleLittleCloud commented on #1603
Interesting...

Looks like the `SentimentText`'s value is parsed as `float.default` after being set as numeric type, I'll take a look

[2021-07-14 18:33] LittleLittleCloud commented on #1602
Thanks for finding that, this error happens as long as one of trial metric is `NaN`, I'll fix that

[2021-07-14 18:35] LittleLittleCloud commented on #1593
@beccamc can you take a look?

[2021-07-14 18:51] LittleLittleCloud commented on #1476
Close due to no response and @sameer-ali13 feel free to reopen it if necessary

[2021-07-14 18:51] #1476 closed

[2021-07-14 18:52] LittleLittleCloud commented on #1587
@beccamc Can you take a look at it if you have time?

[2021-07-14 18:53] beccamc commented on #1571
I see. Yes that's an appropriate temporary solution.

Long term, I'm wondering if by default the CLI should still be generating all these files. In model builder it's now optional

[2021-07-14 19:04] beccamc commented on #1593
This is a known limitation of WPF. Unfortunately when hovering over a scroll area, it ignores the parent scroll area. The evaluate page is a scroll area (for when there are more fields) and the data preview grid is also a scroll area (horizontal).

More details: https://github.com/dotnet/machinelearning-tools/pull/524

I'm closing as won't fix. Thanks Qin!

[2021-07-14 19:04] #1593 closed

[2021-07-14 19:09] LittleLittleCloud commented on #967
Thanks @luisquintanilla , @maartendweerdt  and @centrolutions for your suggestions. The new ModelInput class will be (steal from @luisquintanilla's example, except I remove the `LoadColumn` attribution) to support load images from memory.

[code]

And for local image classification, which uses `LoadRawImageBytes` to load images from file path
[code]

[2021-07-14 19:11] LittleLittleCloud commented on #1502
#1513

[2021-07-14 19:19] beccamc commented on #1544
Moving this to "Needs design" as we have a few questions for @romalpani

[2021-07-14 22:09] zewditu commented on #1592
The Program. cs template does not include this.

[2021-07-14 22:55] torronen commented on #1604
Makes sense. What about taking the column index from the actual file, but ignore other changes? Now I am afraid it reads based on original col indices, but my team keeps adding new data as they are able to source it. Probably they should have versioning in file names. Anyway I am concerned I might not notice some change and model builder still runs because data type was same. For example, use newl

[2021-07-14 23:43] luisquintanilla commented on #1605
The original sample in the description is time series for which we don't have a PredictionEnginePool. Here's a sample that uses PredictionEnginePool.

https://github.com/luisquintanilla/MLNET-ASP-Minimal/blob/main/Program.cs

[2021-07-15 16:02] beccamc commented on #1556
Are you following the instructions [here](https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install)? Did you enable the feature?

Model Builder does not work on VB projects. If you are using a VB project you won't see the option to add machine learning.

[2021-07-15 16:06] beccamc commented on #1560
Was this with the same dataset you shared [here](https://github.com/dotnet/machinelearning-modelbuilder/issues/1563)?

[2021-07-15 16:07] beccamc commented on #1542
Any update here @raphael-dossantos?

[2021-07-15 16:07] beccamc commented on #1180
@shaggygi I know this issue is older, have you been able to resolve it?

[2021-07-15 16:10] beccamc commented on #1437
Sorry to ask the same question, but was the data uploaded to the right spot, as described [here](https://github.com/dotnet/machinelearning-modelbuilder/issues/1437#issuecomment-853445025)?

[2021-07-15 16:12] beccamc commented on #1170
So is anyone else still experiencing his problem? Or was it resolved in our latest build https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-07-15 16:14] beccamc commented on #1414
I'm closing this, as it's a duplicate of 1510. Please see 1510 for updates on multi-output classification

[2021-07-15 16:42] shaggygi commented on #1180
@beccamc yes, but not sure what resolved.  I believe it was a fluke install of VS or ML extension.  sorry on delay for not closing.  thx for checking in 😄

[2021-07-15 16:42] #1180 closed

[2021-07-15 16:52] jv-er commented on #1560
Yes, it was the same at that time.

[2021-07-15 17:34] beccamc opened #1606 "Model Builder instructions for pipeline"
The flow for getting a training pipeline….
1.	Customer creates MBConfig file, trains, and generates code.
2.	Customer checks in pipeline files based on ML Ops Solution:
a.	Azure Devops .yaml training pipeline file. Sample of pipeline generated here.
b.	Azure CLI environment .yml file. CLI sample here.
c.	Azure CLI .yml job file.
d.	Azure CLI DOCKER file
3.	Via doc instructions, customer adds AML p

[2021-07-15 21:35] zewditu commented on #1605
@luisquintanilla  it seems that we also need to change the   template that contain model definitions(modelInput and modelOutput) because of global usings
![image](https://user-images.githubusercontent.com/36615490/125860915-b1853d89-982e-47d2-a64a-9540708ad5fe.png)

[2021-07-15 23:31] LittleLittleCloud commented on #1571
@beccamc
There'll be, especially after we enable generate Jupyter notebook option for mlnet cli. For now I would suggest filter files in training command as a temporary work around

[2021-07-15 23:33] LittleLittleCloud commented on #1477
@burakkizildemir

I'm going to close this as there's no reply, feel free to reopen it and @ me if you still have any questions.

[2021-07-15 23:33] #1477 closed

[2021-07-15 23:34] LittleLittleCloud commented on #1541
@mrrcomp
I'm going to close this as there's no reply, feel free to reopen it and @ me if you have any other questions

[2021-07-15 23:37] #1414 closed

[2021-07-16 01:16] LittleLittleCloud commented on #1511
@sergiodelossantosjr

We are able to reproduce the error, currently, a work around can be using "Add -> New Item" window instead.

![image](https://user-images.githubusercontent.com/16876986/125877120-69084c55-fe7d-44a2-b67d-c00ea20672a1.png)

![image](https://user-images.githubusercontent.com/16876986/125877153-020e2611-c3e3-411c-a99a-8d41c222966c.png)

The save button also break in net framework

[2021-07-16 03:28] vzhuqin opened #1607 "There is a typo on the environment page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.2.2136201 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Environment page
- Clear description of the problem: The word "on" here may be wr

[2021-07-16 06:02] Hrishikesh46779 commented on #1137
In xamarin this line "public static string MLNetModelPath = Path.Combine(System.AppContext.BaseDirectory, "MLModel.zip");" throws
System.ArgumentNullException: 'Value cannot be null.
Parameter name: path1'

[2021-07-16 06:11] Hrishikesh46779 opened #1608 "Model path's string returns null"
In xamarin this line "public static string MLNetModelPath = Path.Combine(System.AppContext.BaseDirectory, "MLModel.zip");" throws System.ArgumentNullException: 'Value cannot be null. Parameter name: path1

![image](https://user-images.githubusercontent.com/46864647/125900658-36ea7233-2f14-45eb-9716-c174602806d4.png)

[2021-07-16 06:55] LittleLittleCloud opened #1609 "Save button doesn't work when project type is netstandard (net472)"
**Model Builder Version**: 16.6.1

To reproduce
- create a net472 project
- add model builder
- hit ctrl + s

![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/c8bbad67-3fae-4f7a-b2c1-ec359988393b)

[2021-07-16 06:57] LittleLittleCloud commented on #1609
@JakeRadMSFT @beccamc
This issue breaks the config-base training experience in all net472 projects (users won't be able to save .mbconfig), maybe we should consider publishing a hot fix for this bug.

[2021-07-16 07:37] vzhuqin commented on #1528
This error also appears when back to click one scenario after trained.
![1528 error](https://user-images.githubusercontent.com/81727020/125910348-858cfa64-8033-4d38-b22d-0a3dd2566e08.gif)

[2021-07-16 12:19] torronen commented on #1542
I have same issue with Visual Studio 2022, just now trying. Same project works on VS 2019. I'll still try on another machine.

After right-clicking on project, Add > Machine Learning it asks me to select file type without Machine Learning.

![image](https://user-images.githubusercontent.com/26261427/125946247-a8408852-739b-4925-a392-0bf281a71f5e.png)

[2021-07-16 15:46] GHoltmann commented on #1437
Hi Becca, 
I was unable to check specifically on your question once again since my azure trial account has expired. Any suggestions?

Enviado desde Yahoo Mail para iPhone

El jueves, julio 15, 2021, 12:10 p. m., Becca McHenry ***@***.***> escribió:

Sorry to ask the same question, but was the data uploaded to the right spot, as described here?

—
You are receiving this because you were mentioned.

[2021-07-16 17:07] LittleLittleCloud commented on #1609
@beccamc
Unfortunately it doesn't fix #1511, I still need more time to explore on how to fix that bug but there's a workaround for#1511 though so that doesn't block customers.

[2021-07-16 17:10] beccamc commented on #1609
I didn't see the work around before. Makes sense!

[2021-07-16 17:12] beccamc commented on #1485
Sorry you ran into this problem on Linux. If you go back to it, please reopen the issue with the log file.

Let us know if you run into any more problems! Thanks for reporting.

[2021-07-16 17:12] #1485 closed

[2021-07-16 17:14] beccamc commented on #1154
@SaisreeDandamudi can you please verify this? Thanks!

[2021-07-16 18:44] zewditu commented on #1103
Related issue https://github.com/dotnet/machinelearning-modelbuilder/issues/1092

[2021-07-16 18:49] beccamc commented on #1103
Closing this as the validation comes with #1092

[2021-07-16 18:49] #1103 closed

[2021-07-16 18:54] beccamc commented on #1092
Sorry, I didn't realize this was fixed. @vzhuqin here are the instructions for validating.

1.  Installing a different language on your VS.
Vs Installer -> _VS version_ -> Modify -> Language packs
2. Make training fail by running out of time. Use 1-2 seconds and any dataset should fail.

[2021-07-16 19:02] LittleLittleCloud commented on #1608
After searching around google, looks like it's a known issue in xamarin and hasn't be resolved yet.

https://github.com/xamarin/xamarin-android/issues/3489

[2021-07-16 22:04] beccamc commented on #1606
Example instructions are in the Issues repo - https://github.com/dotnet/machinelearning-modelbuilder/tree/u/beccam/training/docs/examples

[2021-07-16 23:51] romalpani commented on #1588
@LittleLittleCloud Let's discuss this suggestion in our design sync before we add anything to Advanced data options.

[2021-07-17 05:30] zewditu commented on #1592
From the text  " Using model to make single prediction -- Comparing actual Area with predicted Area from sample data..."  " "...Comparing actual Area with predicted Area from sample data..."  seems that we need to look the actual value from the sample data instead of creating a separate line "Actual Fare_amount: 17.5" .
 does it like this before @briacht ?
 Predicted Fare_amount: 17.482
Actual Far

[2021-07-17 10:51] torronen opened #1610 "Consider improving understandability of Exceptions from consumption"
**Is your feature request related to a problem? Please describe.**
Consuming models may raise exceptions which may be difficult to understand and pinpoint the issue.

For example, my case I reveice "Index was outside the bounds of the array." an then "Destination is too short"

In StackTrace I can see it it related ngrams, and thus, probably string values in my data. In this case, I was not able t

[2021-07-17 14:39] torronen commented on #1567
It may need to be confirmed PredictionEngine has any static properties or otherwise is not thread-safe even with multiple instance.
The error https://github.com/dotnet/machinelearning-modelbuilder/issues/1610 occurs only simultaneous calls from multiple threads (to above round robin of multiple instances.

[2021-07-17 15:12] torronen commented on #1567
Proper way seems PredictionEnginePool https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/serve-model-web-api-ml-net#register-predictionenginepool-for-use-in-the-application

[2021-07-18 06:59] MrFanciful opened #1611 "Model not added to solution"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: Model Builder
 - Visual Studio Version (if applicable): 2019

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/generate-code
- Clear description of the problem: VS not adding myMLAppML.Model to pr

[2021-07-18 14:04] jv-er opened #1612 "Error writing JSON RPC Message: InvalidOperationException: Collection was modified; enumeration operation may not execute."
at StreamJsonRpc.JsonRpc.<InvokeCoreAsync>d__139`1.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.ValidateEnd(Task task)
   at M

[2021-07-18 20:00] jimmywyatt opened #1613 "Model Builder fails building object detection model"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.1.0.2027905
 - Visual Studio Version (if applicable): 16.10.3

**Describe the bug**
- Every time I upload a vott .json file I get the following error: User errors were found in at least one of the child runs. Worked the first time I ever did it, but now doesn't even if I try a very simple traini

[2021-07-18 20:18] jimmywyatt commented on #1613
Also says

`{
  "error": {
    "code": "UserError",
    "severity": null,
    "message": "All annotations provided are ill-formed.",
    "messageFormat": "All annotations provided are ill-formed.",
    "messageParameters": {},
    "referenceCode": null,
    "detailsUri": "https://aka.ms/azureml-run-troubleshooting",
    "target": null,
    "details": [],
    "innerError": null,
    "debugInfo": nu

[2021-07-19 02:21] vzhuqin commented on #1092
@beccamc I verified this issue according to the instructions on:

- main build: 16.6.3.2136604
- two languages: CHS and ESP

Find that below strings are not localized, please take a look.

String 1: Error
String 2: Yes
String 3: No
String 4: Model Builder Error
String 5: Close
Strings 6: Failed.
Strings 7: Try training your model for more time.

![image.png](https://images.zenhubusercontent.com/60

[2021-07-19 02:56] vzhuqin opened #1614 "Error loading mbconfig file: The method or operation is not implemented."
**System Information (please complete the following information):**
 - Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Add Machine Learning model
- Clear description of the problem: After click "Add"

[2021-07-19 03:26] vzhuqin opened #1615 "The predicted results are not displayed on the Evaluate page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: After clicking the "Predict" bu

[2021-07-19 08:25] vzhuqin opened #1616 "Model Builder Error: The process cannot access temp file as being used by another process."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**Describe the bug**
- On which step of the process did you run into an issue: Data page
- Clear description of the problem: This error has always been difficul

[2021-07-19 08:40] vzhuqin opened #1617 "Error loading mbconfig file: Required property 'FilePath' not found in JSON. Path ‘’, line 7, position 17."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.2
- .Net: 5.0.301

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window;
2. Choose the C# Console App (.NET Co

[2021-07-19 12:24] torronen opened #1618 "Property X is missing the LoadColumnAttribute attribute / ModelInput should have [LoadColum(0)] attribute"
**System Information (please complete the following information):**
 - Model Builder Version:  16.6.2.2133003
 - Visual Studio Version: 16.10.3

**Describe the bug**

Trying to retrain manually with generated ModelInput and .training file raises exception "Property X is missing the LoadColumnAttribute attribute' "

Current generated ModelInput.cs does not have the LoadColumnAttribute
![image](http

[2021-07-19 16:26] briacht commented on #1592
I remember having actual and predicted values near each other. Can we check previous versions?

[2021-07-19 17:09] briacht commented on #1567
Hey @torronen! @LittleLittleCloud is working on improving consumption.cs / Predict function perf. Maybe he can share progress on that so far.

We definitely want to update it so that loading the model and creating the prediction engine only has to happen once.

PredictionEnginePool is what is recommended for web apps. We have talked about adding another method in consumption.cs, something like Pre

[2021-07-19 17:13] zewditu commented on #1582
@briacht  for visibility.

[2021-07-19 17:20] zewditu commented on #1618
@JakeRadMSFT, @LittleLittleCloud  for visibility.

[2021-07-19 17:36] zewditu commented on #1617
@vzhuqin  thanks for catching this .

[2021-07-19 17:43] zewditu commented on #1616
@vzhuqin  I am not able to reproduce these issues on our latest main.

[2021-07-19 17:43] #1541 closed

[2021-07-19 17:47] zewditu commented on #1615
@vzhuqin  thanks for catching!

[2021-07-19 17:47] LittleLittleCloud commented on #1614
Thanks for finding that, this bug is caused by a recent update I made for serializing training config, I'll take a look and fix that

[2021-07-19 17:48] LittleLittleCloud commented on #1617
Thanks for finding that, this bug (along with #1614) might be introduced by the receont serializing training config PR, I'll take a look

[2021-07-19 17:59] LittleLittleCloud commented on #1618
The ColumnName attribute currently makes the first letter uppercase. In the example photo "dtHour" becomes "DtHour". ColumnName annotation probably should keep the original value from the CSV even if properties would follow general C# naming guidelines.

Thanks for the suggestion, and there might be a specific reason behind the capitalized first letter. (@briacht who might knows), which is, based

[2021-07-19 18:01] zewditu commented on #1613
@jimmywyatt thanks for letting us know!
  could you try with the latest Model Builder  ([16.6.1.2131904](https://marketplace.visualstudio.com/items?itemName=MLNET.07))?
 If you still hit the issue let us know!

Thnaks!

[2021-07-19 18:01] LittleLittleCloud commented on #1612
Dup issue #1559

I believe this is from CFO tuner. I'll take a look

[2021-07-19 18:24] zewditu commented on #1611
@MrFanciful  yes you are right, the documentation for the tutorial has to be updated. Now the sample projects use a different  default name pattern-> your ModelName-ConsoleApp1 ,  your ModelName-ConsoleApp2 ...

[2021-07-19 18:29] zewditu commented on #1610
@beccamc , @JakeRadMSFT  for  visibility.

[2021-07-19 18:31] zewditu commented on #1607
@vzhuqin  thanks for catching.

[2021-07-19 18:48] zewditu opened #1619 "Small Image or empty folder warning display everytime we open the .mbconfig file"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. Select image scenario
2. choose any environment
3. On the data page select a dataset that has less than 5 images in the class o

[2021-07-19 18:50] zewditu commented on #1619
@briacht  any thought on this?

[2021-07-19 18:54] torronen commented on #1618
@LittleLittleCloud Thanks I'll try that.

If you will discuss casing, take note .training.cs keeps the original ones.
![image](https://user-images.githubusercontent.com/26261427/126209800-ceaf2d8f-f488-4145-8d54-7e33d63512b8.png)

I mention it because I have some issue with casing on the workaround in the original post.
![image](https://user-images.githubusercontent.com/26261427/126211843-cee98580

[2021-07-19 19:01] Ronimjan opened #1620 "Model Build Error - The type initializer for 'Tensorflow.Binding' threw an exception."
**System Information (please complete the following information):**
 - Model Builder: Visual Studio Extension v16.6.1.2131904
 - Visual Studio Version: Visual Studio Community 2019 v16.10.3

**Describe the bug**
- When trying to train a new Image Classification model an exception gets thrown.
- Clear description of the problem: The following exception gets thrown:

   at Microsoft.ML.AutoML.ImageC

[2021-07-19 19:14] torronen commented on #1610
Issues was very likely to calling the class (but multiple instances, or at least that was the intent) from multiple threads. It is no longer happening after moving all calls to single thread. It was not about the contents of the field/property as I expected.

I think there may have been other issues in Github where it is not clear which columns and row is causing the issue, and/or what exactly is

[2021-07-19 19:20] briacht commented on #1619
I don't think this pop-up should appear right when .mbconfig is re-opened. It can appear when they re-open mbconfig and then hit "Start training"

Thoughts @romalpani

[2021-07-19 19:40] jimmywyatt commented on #1613
My apologies, I already was on 16.6.1.2131904, I picked that up from the "can be reverted to" text

[2021-07-19 19:45] zewditu commented on #1613
Just to confirm, are you on  16.6.1.2131904  but you still hit the issues?

[2021-07-19 20:19] jimmywyatt commented on #1613
Yes

[2021-07-19 20:22] zewditu commented on #1613
Thanks for confirmation we will take look.

[2021-07-19 22:45] JakeRadMSFT opened #1621 "Ensure proper Dispose patterns"
https://github.com/dotnet/machinelearning-tools/blob/6e775ee95a290ca33d5b99b844887a5f2132144f/src/Microsoft.ML.ModelBuilder/AzureAttach/UserAuthorizationManager.cs#L33

UserAuthManager should be Disposable

[2021-07-19 22:46] JakeRadMSFT commented on #1621
(Thanks Phil :) )

[2021-07-20 07:36] vzhuqin commented on #1503
@beccamc , meet this issue on Candidate build: 16.6.3.2136603, but not repro on main build: 16.6.3.2136604, please take a look.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4a71d02e-1959-4dd3-836f-cbbf15c1977c)

[2021-07-20 07:39] vzhuqin commented on #1502
@beccamc  This issue also occurs on candidate build: 16.6.3.2136603

[2021-07-20 10:58] torronen commented on #1535
Here is log file from latest from %temp%MLVSTools\logs  Only one file
[939190b5-6b26-450c-9dcf-7a0de7351539.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/6847655/939190b5-6b26-450c-9dcf-7a0de7351539.txt)

Error:
`   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights,

[2021-07-20 15:28] beccamc commented on #1503
Sorry for the confusion, candidate build 16.6.3.2136603 does not have this fix!

[2021-07-20 15:28] beccamc commented on #1502
Sorry for the confusion, candidate build 16.6.3.2136603 does not have this fix!

[2021-07-20 16:34] zewditu commented on #1620
@LittleLittleCloud  for visibility.

[2021-07-20 16:47] zewditu commented on #1611
@MrFanciful sorry for the inconvenience as the temporary solution you can refer to this recent release blog post
https://devblogs.microsoft.com/dotnet/ml-net-june-updates-model-builder/#model-builder-updates

[2021-07-20 18:05] briacht commented on #1611
I will work on getting the website tutorial updated this week!

[2021-07-20 21:14] behroozbc opened #1622 "add mongodb for training data"
**Is your feature request related to a problem? Please describe.**
hi now in modelbuilder support file and sqlserver database for training data . I want to add mogodb NoSQL database for training data
**Describe the solution you'd like**
add mongdb option for loading data  in cli and ui in visual studio

[2021-07-20 21:18] zewditu opened #1623 "Index was outside the bounds of the array error"
**Model Builder Version**: Latest Main branch
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. select recommendation scenario
2.  complete all the pages/tabs
3. On evaluate page click on predict button

**Expected Experience**
_A description of what you expecte

[2021-07-20 21:19] torronen commented on #1537
Should model size taken into account? If two models are performing identically (or near), perhaps, smaller model should be chosen for performance and to avoid risk of overfitting. It might be difficult to make a balanced decision between size vs. performance.

[2021-07-20 21:21] zewditu commented on #1613
@LittleLittleCloud  for visibility

[2021-07-21 03:25] vzhuqin opened #1624 "The selected columns should not be lost after re-open model builder."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Data page.
- Clear description of the problem: Reopen the model builder, find tha

[2021-07-21 06:36] vzhuqin opened #1625 "File Modification Detected dialog appears after training completed."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136603 (Candidate build)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Train completed
- Clear description of the problem: After training completed,

[2021-07-21 08:38] vzhuqin opened #1626 "The target framework of generated projects should not be .net core when project type is .net framework."
**System Information (please complete the following information):**

- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136603 (Candidate build)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**To Reproduce**
Steps to reproduce the behavior:

1. Select Create a new project from the Visual Studio 2019 start window;
2. Choose the C# Console App (.

[2021-07-21 16:30] beccamc opened #1627 "July Accessibility Pass"
Epic tracking the Accessibility testing pass to ensure we meet the SLA 60 day deadline.

Due for SLA on **September 6th**

### Partner teams:

- [x] Problem is with VSDialog component. #1570
- [x] Strange behavior #1643
- [x] Strange behavior #1594
- [x] Rohan's feedback needed here:  #1579

### Keyboard navigation problems:
- [x] Same fix as 1578: #1598
- [x] Same fix as 1598: #1578
- [x] #1573
-

[2021-07-21 16:40] beccamc commented on #1570
This seems to be the fault of the VSDialog component we are using. Model Builder doesn't have control of the "X" button. I see similar behavior in the Dialog control, that isn't VS specific.

**Action**: Need to email the WPF accessibility team.

[2021-07-21 16:48] beccamc commented on #1579
We may need to pull in Rohan here for how we want to display mandatory fields. Should they be highlighted in red when empty, similar to the VS New project dialogs?

[2021-07-21 17:54] beccamc commented on #1325
I think this can be closed. @LittleLittleCloud we now support boolean classification right? So the intermediate fix of converting a bool to string is out of the product?

[2021-07-21 18:02] zewditu commented on #1626
@briacht, @LittleLittleCloud,  @JakeRadMSFT   I remember the topic about the target framework of generated projects was discussed and we decided to make it net5.0 .
Any thought?

[2021-07-21 18:03] zewditu commented on #1625
@LittleLittleCloud  for visibility

[2021-07-21 18:46] torronen commented on #1618
@LittleLittleCloud DataFrame.LoadCSV works perfectly, thanks!

[2021-07-21 20:01] beccamc commented on #1542
@torronen Thanks for your help diagnosing this issue. I've added this problem to our troubleshooting document [here](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project).  If you want to take a look you can let me know if you have suggestions/improvements.

We're working to get VS 2022 available

[2021-07-21 20:06] beccamc commented on #1619
I'm pushing back that this is not high enough priority to fix. While it would be better to show this on re-train, anyone with only 5 images is using a toy dataset.  IMO not worth spending time on a fix here.

[2021-07-21 20:11] beccamc commented on #1613
@jimmywyatt Are you able to share a zip of your dataset with us? When you made changes to the dataset, did you return to the VOTT tool to do it? The VOTT json can be picky and some actions (like removing images) may break training.

[2021-07-21 20:15] beccamc commented on #1626
@zewditu Previous issue discussing this is here - https://github.com/dotnet/machinelearning-modelbuilder/issues/1384

[2021-07-21 20:17] beccamc commented on #1556
@ddaa12 I don't have enough information to help solve this. Please look at our troubleshooting section for [help](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project) and re-open if none of those work.

Thanks!

[2021-07-21 20:17] #1556 closed

[2021-07-21 20:18] briacht commented on #1611
Just put in a PR for dotnet website to update the tutorial

[2021-07-21 20:26] zewditu commented on #1626
@beccamc thanks for pointing me to that discussion,
As per our previous discussion, we are waiting for customer feedback to match the target framework.

[2021-07-21 20:46] romalpani commented on #1619
As of now, I agree with what @briacht  is suggesting with having the dialog pop-up on train action.

But things to consider for the future -
1. Let's warn the customer at the time of adding data that their folder contains very few images. This is a data warning/error and should live there.

2. We can also work on a mechanism to show such statuses on re-entry via the left hand wizard navigation. We

[2021-07-21 21:13] torronen commented on #1542
Oh, I see. So the VS 2022 is unrelated to problem reported by @raphael-dossantos

Not sure if you mean this, but my installation got a pretty recent version (16.6.2.2132901 dated 17/16/2021) of ML.NET Model Builder installed in VS 2022 Enterprise just installed a few days ago. Trying to uninstall it takes to VS installer so it is probably the one that ships with the installer
![image](https://user

[2021-07-21 23:35] zewditu commented on #1624
This  causes the issue https://github.com/dotnet/machinelearning-modelbuilder/issues/1623

[2021-07-21 23:48] zewditu commented on #1623
It should be fixed  by the fix of https://github.com/dotnet/machinelearning-modelbuilder/issues/1624

[2021-07-21 23:48] #1623 closed

[2021-07-22 01:59] vzhuqin commented on #1609
This issue not occurs on candidate build: 16.6.3.2136603
steps:

1. Select Create a new project from the Visual Studio 2019 start window;
2. Choose the C# Console App (.NET Framework) project template with .Net Framework 4.7.2;
3. Add model builder by right click on the project;
4. Select Text classification scenario, then hit Ctrl+s to save the model builder;

![1609-Fix.gif](https://images.zenhu

[2021-07-22 02:07] vzhuqin commented on #1511
This issue not occurs on candidate build: 16.6.3.2136603
steps:

1. Select Create a new project from the Visual Studio 2019 start window;
2. Choose the C# Console App (.NET Framework) project template with .Net Framework 4.7.2;
3. Right click on the project;
4. Click Add>Machine Learning to add model builder;
5. Can be added quickly.

![1511-Fix.gif](https://images.zenhubusercontent.com/60653e4923

[2021-07-22 07:09] vzhuqin opened #1628 "There is no mbconfig file in the generated project templates."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: generated projects
- Clear description of the problem: For previous main build, t

[2021-07-22 08:55] jimmywyatt commented on #1613
I've tried both, one where someone else completed it for me and I needed to change the file paths and security token, and one where I created a very simple one from scratch. I've attached the simple one.

[VottSimple.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6861043/VottSimple.zip)

[2021-07-22 09:02] vzhuqin commented on #1534
The long title has the tooltip on main build: 16.6.3.2136604
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c1cb8fc0-8a29-46f9-884b-3414bda92b70)

[2021-07-22 09:34] vzhuqin commented on #1489
This issue isn't repro on main build: 16.6.3.2136604
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3dc71b65-70c5-40ef-b279-01e28c58cf1b)

[2021-07-22 13:09] NiharikaTipirishetty opened #1629 "A11y_ML .NET Model Builder_Image Classification-Data Preview_ScreenReader: Narrator/NVDA is not announcing number of items present in a folder in data preview section."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev3; #Visual Studio Client; #WCAG1.3.1; #A11yPreview; #Narrator; #NVDA; #Screen Reader;

### Environment Details:
Microsoft Visual Studio

###

[2021-07-22 13:36] NiharikaTipirishetty opened #1630 "A11y_ML .NET Model Builder_Image Classification-Next Steps_Keyboard: 'Train in Azure' option is not accessible using keyboard. Keyboard focus is not landing on 'Train in Azure' option while navigating using tab key."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG2.1.1; #Keyboard; #A11yPreview; #A11yAuto; #TabStops;

### Environment Details:
Microsoft Visual Studio

###

[2021-07-22 13:42] NiharikaTipirishetty opened #1631 "A11y_ML .NET Model Builder_Object Detection-Evaluate_ScreenReader: NVDA/Narrator is not announcing 'Show undetected objects' button name when focus lands on the button."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG1.3.1; #Narrator; #NVDA; #A11yPreview; #Screen Reader;

### Environment Details:
Microsoft Visual Studio

###

[2021-07-22 17:33] zewditu commented on #1628
@LittleLittleCloud  is this dies to mbconfig migration ?

[2021-07-22 17:43] sauntheninja2 opened #1632 "Unable to load DLL 'MatrixFactorizationNative': The specified module could not be found."
**System Information (please complete the following information):**
 - Model Builder Version : v16.6.1.2131904
 - Visual Studio Version : v16.10.0

**Describe the bug**
- After pressing the train Button the following error message gets displayed
- Clear description of the problem:
 **Unable to load DLL 'MatrixFactorizationNative': The specified module could not be found. (Exception from HRESULT: 0

[2021-07-22 17:54] LittleLittleCloud commented on #1625
It's expected, as Model Builder will update .csproj after training is completed.

[2021-07-22 19:23] briacht commented on #1582
@zewditu @LittleLittleCloud do all the evaluation metrics get logged in .mbconfig file?

[2021-07-22 19:32] briacht commented on #1588
Related to #60

[2021-07-22 19:33] briacht commented on #1537
Related to #207

[2021-07-22 19:34] briacht commented on #323
We now use the yelp labelled dataset which contains more rows and gives a better model.

[2021-07-22 19:34] #323 closed

[2021-07-22 19:37] briacht commented on #681
We now use the Yelp dataset for the Getting Started tutorial which works well.

[2021-07-22 19:37] #681 closed

[2021-07-22 19:47] briacht commented on #1383
This has been updated in the main Model Builder Doc: https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-model-builder

And Jon is working on updating the rest of the Model Builder tutorials. It's being tracked in Docs repo, so I will close this issue here.

[2021-07-22 19:47] #1383 closed

[2021-07-22 19:53] #1324 closed

[2021-07-22 19:55] briacht commented on #1530
This is being tracked in Docs now so I will close this issue here.

[2021-07-22 19:55] #1530 closed

[2021-07-22 19:59] briacht commented on #1562
I don't believe we do, but it is on the roadmap! I believe we will implement forecasting first and then anomaly detection.

[2021-07-22 19:59] #1307 closed

[2021-07-22 19:59] beccamc commented on #1307
This has shipped, closing this issue. Please re-open or file a new issue if you have comments! Thank you!

[2021-07-22 20:36] JakeRadMSFT commented on #1409
@LittleLittleCloud Is there a way to detect name changes and then make sure our project file is up to date?

[2021-07-22 20:41] JakeRadMSFT commented on #1574
@zewditu do the scenario and next steps page use the same style?

[2021-07-22 20:53] #1428 closed

[2021-07-22 21:00] #680 closed

[2021-07-22 21:01] #664 closed

[2021-07-22 21:56] zewditu commented on #1592
@briacht  for some reason my build failed for old commits and I am not able to get some old MB releases to show the screen shouts, However, I confirmed from the sources code used previously they were not near to each other.
But if you want values near each other now I can do it.

[2021-07-22 22:02] briacht commented on #1592
Yes let's put them near each other for easy comparison

[2021-07-22 22:25] zewditu commented on #1572
@SaisreeDandamudi the narrator says  "Feedback", are we expected to say " Feedback button.." or are we expect it to say " feedback ......any actionable control"?

[2021-07-23 01:24] beccamc commented on #1613
Thanks for sharing the dataset. I was able to reproduce the issue. We suspect the problem is using only 1 image (or a small number of images).

1. Are you seeing the same `All annotations provided are ill-formed.` message for both datasets?
2. Is your other dataset also very small?

[2021-07-23 06:49] vzhuqin opened #1633 "Wrong decimal place when showing accuracy for Image classification + Azure environment."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.6.3.2136604 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**Test Matrix:**
https://testpass.blob.core.windows.net/test-pass-data/weather.zip (Weather folder)

**Describe the bug**
- On which step of the process did you

[2021-07-23 07:21] vzhuqin commented on #928
verified this issue on main build: 16.6.3.2136604
Hyperlinks no underline when hovering.
![928 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c4c5e382-d88a-4c66-b07c-ba75d06fb097)

[2021-07-23 08:14] vzhuqin commented on #1463
This issue not occurs on the latest main build: 16.7.0.2137001
Now the log file is named based on the model builder name, it's easy to find and compare, and the file is not empty for all model builders.
![1463 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9fc51553-0b66-4cb0-b192-71939b67834e)

[2021-07-23 08:29] jimmywyatt commented on #1613
The other one is about 400 images and 2600 marked spots, but i did have to re-point some of the file locations and the encryption key

[2021-07-23 12:01] acrigney commented on #776
I have this issue again with VS2022 preview 1 and 2.1

[2021-07-23 13:18] NiharikaTipirishetty opened #1634 "A11y_ML .NET Model Builder_Image Classification-Next Steps_ScreenReader: Narrator focus is not landing on Deploy your model/Train in Azure/Improve your model cards and no information is provided by Narrator regarding those cards."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG1.3.1; #A11yPreview; #Narrator; #Screen Reader;

### Environment Details:
Microsoft Visual Studio

### Re-pro

[2021-07-23 17:09] LittleLittleCloud commented on #1628
@zewditu Yep it's after migration, I'll push a quick fix for that

[2021-07-23 17:25] JakeRadMSFT opened #1635 ".MB Config Save/Restore Issues/State Update"

[2021-07-23 17:33] JakeRadMSFT opened #1636 "Additional Scenarios"

[2021-07-23 17:35] #1636 closed

[2021-07-23 17:45] LittleLittleCloud commented on #1613
@jimmywyatt
The error message could be because it can't find images pointed by remote label file. Maybe It's caused by encoding local path to uri format.

For example, all the images from that dataset you shared with us has a space in their names, when those images are uploaded to azure blob, their names are not encoded, while in label file, their name will be. So if an image has the name `Plate 4

[2021-07-23 17:45] JakeRadMSFT opened #1637 "Update Training Approach"

[2021-07-23 17:46] #1637 closed

[2021-07-23 17:54] JakeRadMSFT opened #1638 "Improve Consume Code"

[2021-07-23 18:01] JakeRadMSFT commented on #1624
@zewditu is this resolved?

[2021-07-23 18:06] zewditu commented on #1624
Nop

[2021-07-23 18:09] #674 closed

[2021-07-23 18:12] #556 closed

[2021-07-23 18:12] #1458 closed

[2021-07-23 18:13] JakeRadMSFT commented on #1520
See https://github.com/dotnet/machinelearning-modelbuilder/issues/1458 for spec and designs.

[2021-07-23 18:17] JakeRadMSFT opened #1639 "Improve Experience"

[2021-07-23 19:36] LittleLittleCloud commented on #1613
@jimmywyatt
The error message could be because it can't find images pointed by remote label file. Maybe It's caused by encoding local path to uri format.

For example, all the images from that dataset you shared with us has a space in their names, when those images are uploaded to azure blob, their names are not encoded, while in label file, their name will be. So if an image has the name Plate 4_

[2021-07-23 19:38] LittleLittleCloud commented on #1613
@beccamc
How can we update our test matrix to include this situation (test od with images that include Uri invalid characters)

[2021-07-23 19:59] beccamc commented on #1613
@LittleLittleCloud Good question. You can add it to the test matrix in the testing docs https://github.com/dotnet/machinelearning-tools/tree/main/docs/tests.

[2021-07-23 20:36] JakeRadMSFT commented on #394
https://github.com/dotnet/machinelearning-tools/pull/1157

[2021-07-23 21:22] JakeRadMSFT opened #1640 "Improve AutoML"
- [ ] AutoMLMonitor in Model Builder during training step
o	Can have fancy trial monitors in model builder as well
- [x] F# support in AutoML [AutoML] Can't create AutoML pipeline in F#  https://github.com/dotnet/machinelearning/issues/6207
- [ ] Don't autogenerate project in the CLI. Make it optional. Instead, do what Model Builder does today. Add any mbconfig and code-behind to an existing proje

[2021-07-23 21:30] jimmywyatt commented on #1613
That entirely seems to be it, annoyingly I removed spaces from the file path in case that was it, but not the files names. Half a job.

[2021-07-23 22:29] zewditu opened #1641 "Error to select dataset for image"
**Model Builder Version**: Latest main
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1.select Image scenario
2.  choose the environment (local)
3 select the dataset

**Expected Experience**
Preview Image dataset and enable training tab
**Actual Experience**
Mod

[2021-07-24 08:35] jimmywyatt commented on #1613
Also any idea how I can pass an in memory image into it rather than the file path?

[2021-07-24 10:06] hb126 opened #1642 "Multiple versions of CUDA installed.Uninstalled all except CUDA 10.1."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.6.1.2131904
 - Visual Studio Version:16.10.4

  Use [Image classification]-[Local(GPU)]-[Check compatibility],always show "Multiple versions of CUDA installed.Uninstall all except CUDA 10.1 ".
  But I only install CUDA 10.1,What is the basis for checking CUDA?

[2021-07-24 13:22] torronen commented on #1565
Initial observations from a 367 GB dataset (79.8 million observations):
 - the loading of the dataset took about 24 hours, with very low CPU consumption.
 Time required might be getting exponentially longer with larger datasets
 - the next 12-24 hours it has already experimented with 450 models.
 - amount of RAM may have a big impact on experimentation time. With too "low" RAM some of the experime

[2021-07-24 14:10] behroozbc commented on #1622
hi
no one see this issue ??

[2021-07-25 10:41] torronen commented on #1586
This is not easily reproducible, so I will write some clues here when I encounter it.
---
There might be something happening still after closing Visual Studio in Service Hub. I closed it, and I could observe CPU consumption for a few minutes. After I came back, then it had stopped (by itself, or starting of Visual Studio update stopped it).

This might have been related to pressing Cancel, or exce

[2021-07-25 18:50] Ronimjan commented on #1620
Hey guys,
I can 100% understand that you are busy and got more important stuff to do than helping an private, non-comercial user, but I'd love to get some support!

If you need any additional information, let me know!

[2021-07-26 09:22] vzhuqin commented on #1496
Verified on main build: 16.7.0.2137001
For all scenarios, the best score of training results shows 2 decimals.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0b1b79e7-dd1a-41d7-8f8a-8c4d4b5856bc)

[2021-07-26 12:54] NiharikaTipirishetty opened #1643 "A11y_ML .NET Model Builder_Image Classification-Evaluate_ScreenReader: While navigating from Evaluate tab to Consume tab, Narrator/NVDA is not announcing the tab name."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG1.3.1; #A11yPreview; #Narrator; #NVDA; #Screen Reader;

### Environment Details:
Microsoft Visual Studio

###

[2021-07-26 14:22] beccamc commented on #1613
There is a code example here - https://github.com/dotnet/machinelearning-modelbuilder/issues/851.

Please add a comment to that issue if it's something you'd like to see support for in the product.

[2021-07-26 16:26] lovettchris opened #1644 "ModelBuilder Training performance after training completed"
**System Information (please complete the following information):**
 - OS & Version: [e.g. Windows 10]
 - ML.NET Version: [e.g. ML.NET v1.6.0]
 - Model Builder extension or Visual Studio included with VS 2019 16.10.4
 - .NET Version: [e.g. .NET 3.1]

**Describe the bug**
My CPU remains busy after training is completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run text sentiment traini

[2021-07-26 18:36] LittleLittleCloud commented on #1620
Hi @Ronimjan, sorry for the late response, community users are what we valued most as the entire ML.Net eco-system is open-source and community-driven, and we are trying our best to track and resolve all user issues. It's not easy especially when the number of open issues grows while we getting more users from ML.Net and model builder, and apologize again if we fail to respond to your thread in ti

[2021-07-26 18:47] LittleLittleCloud commented on #1409
@JakeRadMSFT
There should be a way through VS project system, I can take a look when I have time.

[2021-07-26 19:44] torronen commented on #1644
Although not exactly same issue, could be related: https://github.com/dotnet/machinelearning-modelbuilder/issues/1586
It could be that it's the same issue, just the duration of the CPU consumption is different (maybe depending on the dataset or the current experiment at time of completion / cancellation?)

[2021-07-26 20:35] LittleLittleCloud commented on #1642
I believe we check Cuda version through system environment? @zewditu which variable are we looking into? "CUDA" or "CUDA_10_1"?

[2021-07-26 22:50] Ronimjan commented on #1620
Okay, so:

CPU: Intel Core I7 950 (Bloomfield)

The Logfile is attached.

[48b743b4-54ca-4774-a208-ee9eedcda782 - LOGFILE ML.NET.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/6881601/48b743b4-54ca-4774-a208-ee9eedcda782.-.LOGFILE.ML.NET.txt)

In case of a not working CPU, would selecting the azure enviroment help?

Anyway, thanks for your answer :D

[2021-07-27 02:25] vzhuqin commented on #1616
@zewditu This problem is a bit of a headache, when you want to reproduce it, it just doesn't appear, but it will pop up inadvertently.

I just met this issue on latest main build: 16.7.0.2137001, please take a look.

Repro steps:
1. Create one new Model Builder;
2. Select image classification scenario;
3. Select Local (CPU) environment;
4. Input the image folder, here not issues;
5. Go back to rep

[2021-07-27 05:58] hb126 commented on #1642
I delete system environment [CUDA_PATH_V10_1] show "CUDA 10.1 is missing.", but add it show "Multiple versions of CUDA installed.Uninstall all except CUDA 10.1. ".

[2021-07-27 07:52] torronen opened #1645 "Cancellation of training during dataset reading does not interrupt creation of temp files"
**Describe the bug**
Cancel button does not interrupt reading of dataset. Dataset will be read until end. In case of low disk space, it may consume all free space and encounter an exception. Temp files will be left on disk.

**To Reproduce**

1. Create dataset bigger than free disk space.
2. Create new training task.
3. Click Train.
4. Click cancel.
5. Observe disk will be full and "Exception thro

[2021-07-27 11:33] Hrishikesh46779 opened #1646 "DllNotFoundException during prediction"
![image](https://user-images.githubusercontent.com/46864647/127146877-bb4bcfe7-ffed-4993-b45a-0d3a05ebc606.png)
VS version- 16.10.4
Model builder version- 16.6.1.213.1904

I am using ml.net in xamarin.

[2021-07-27 14:49] jkh675 opened #1647 "The Performent and the GPU extension Bugs"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Preview 2022 and 2019

**Describe the bug**
- On Building the model:
- I run the build model for the first time it takes 5minutes and I run the training more times the speed slower and slower 5min to 10min and 30min:

**To Reproduce**
Steps to reproduce the behav

[2021-07-27 14:57] jkh675 commented on #1647
I solve the performance issue but it was just a temporary way, goto the windows TEMP file (%TEMP%) and delete all the files(!!!!DANGER!!!!)

[2021-07-27 17:00] LittleLittleCloud commented on #1325
@beccamc
I think so, feel free to move it to validate or close

[2021-07-27 17:02] beccamc commented on #1325
This is no longer in the product. Closing!

[2021-07-27 17:02] #1325 closed

[2021-07-27 17:28] LittleLittleCloud commented on #1642
@hb126
Can you go check your Cuda install directory (by default it should be `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA`) and make sure there's only one Cuda10.1 folder there? I take a look at the code and it seems that if you have more than one folder in that install directory you'll get that (Multiple version) error message

[2021-07-27 17:34] zewditu commented on #1642
the variable is "CUDA_PATH"

[2021-07-27 17:34] LittleLittleCloud commented on #1642
@JakeRadMSFT  @zewditu

The current logic of detecting installed Cuda will block the user who has multiple cudas installed, even if they correctly set cuda 10.1 as the selected Cuda. They'll need to remove all other cudas, which is not necessary.

It seems to me that multiple cuda check is unnecessary, especially when `CUDA_PATH_10_1` is set and CUDA 10.1 installation directory is set in $Path var

[2021-07-27 17:57] LittleLittleCloud commented on #1620
@Ronimjan

Yes, it will, but you need to create an AML workspace

Your CPU looks fine, it's not that new, but it supports avx instructions.

Can you try if you can run TF.Net directly? TF.Net is the .net binding to TF and is what ML.Net and model builder uses for image classification training. If you can train with TF.Net directly, we can rule out the TF binary incompatible problem.

You can find

[2021-07-27 18:24] LittleLittleCloud opened #1648 "Try it out page fails for all scenarios"
**System Information (please complete the following information):**
 - Model Builder Version: current main
 - Visual Studio Version

**To Reproduce**
Steps to reproduce the behavior:
- pick a scenario
- launch train
- evaluate

**Screenshots**
![image](https://user-images.githubusercontent.com/16876986/127207402-26f16bfb-ef49-47fa-8c3e-cbe30ca7f62e.png)

**Additional context**
Add any other contex

[2021-07-27 18:32] Ronimjan commented on #1620
Hey,
glad to hear!

Sadly, I am not used to git hub a lot, so.... How do I clone these specific samples?
I don't want to download the whole samples repository.

[2021-07-27 18:38] LittleLittleCloud commented on #1620
@Ronimjan

Unfortunately, I don't think github supports clone "part" of repo,, you'll need to download the entire codebase.

[2021-07-27 19:07] Ronimjan commented on #1620
ah okay.

Gonna do that then I guess and will report back!

[2021-07-27 19:36] beccamc commented on #1645
@LittleLittleCloud Would this behavior be fixed (removed) from the data frame [PR](https://github.com/dotnet/machinelearning-tools/pull/1127)?

[2021-07-27 19:41] beccamc commented on #1429
Moving this to triage for Jake and Xiaoyun to discuss if we want to fix this :)

[2021-07-27 19:43] beccamc commented on #1528
One of our customers ran into this during user testing.

[2021-07-27 19:49] beccamc commented on #1539
This is a nice to have, but has not been requested by any customers. Moving to chopping block for a Jake/Bri decision  if we should invest in this.  We have previously removed horizontal scroll bars Issue [1229](https://github.com/dotnet/machinelearning-modelbuilder/issues/1229).  The experience here would have to turn on scroll when a certain **min** width is reached.

We haven't failed any acces

[2021-07-27 20:03] beccamc commented on #1610
@torronen To confirm, this is a problem coming from your code? This isn't an error being thrown by model builder, but rather an issue working with models?

[2021-07-27 20:04] beccamc commented on #1616
@LittleLittleCloud Any ideas what could be causing this one? I'm setting it as P2 and moving to triage.

[2021-07-27 20:04] LittleLittleCloud commented on #1645
@beccamc No it won't as that PR only changes how row number is counted, it doesn't change how tmp dataset is created.

@torronen Currently we don't check if cancellation token is triggered in the data processing step where tmp dataset is created since in most cases creating tmp files will be finished within seconds. We will see if we can add a cancellation checkpoint in that data processing step.

[2021-07-27 20:10] beccamc commented on #1622
Hi @behroozbc, thanks for letting know this request. @briacht for visibility.

[2021-07-27 20:11] beccamc commented on #1625
Closing as this is expected behavior.

[2021-07-27 20:11] #1625 closed

[2021-07-27 20:14] zewditu commented on #1641
Issue not able to reproduce in latest main branch

[2021-07-27 20:14] #1641 closed

[2021-07-27 20:15] beccamc commented on #1632
@sauntheninja2 Thanks for reporting this problem. Just to confirm, this project is using .NET Framework. Can you tell me what version of .NET Framework?

[2021-07-27 20:16] LittleLittleCloud commented on #1616
@beccamc
Might be caused by update handler? I'm not sure...

[2021-07-27 20:17] beccamc commented on #1633
@vzhuqin Can you include the link to the run? I'm wondering if we are reporting with the wrong decimal place (is this supposed to be 98%?).

[2021-07-27 20:28] beccamc commented on #1645
Oh my mistake, I didn't process that this was %temp% files.

[2021-07-27 20:32] beccamc commented on #1646
@Hrishikesh46779 Sorry you ran into this problem. Can I get some more information?

- VS Version
- Model Builder version (available via Manage Extension dialog)
- Is this a .NET Core or Framework project? Can I get the version.

Thanks!

[2021-07-27 20:33] beccamc commented on #1100
Can we just remove these issues until we actually get the green light to open source?

[2021-07-27 20:35] beccamc commented on #1100
Or move them to a checklist in the Epic (e.g. close all individual issues and just have a list of things todo).  I think it's value to have this information captured, but I don't know it needs to be in individual issues until we are executing.

[2021-07-27 20:36] LittleLittleCloud commented on #1100
@beccamc  I'm OK with both ways, feel free to close it if you think this issue is too early to be created.

[2021-07-27 20:39] beccamc commented on #1100
I'm doing it!! Thanks XiaoYun!

[2021-07-27 20:39] #1100 closed

[2021-07-27 20:41] beccamc commented on #1099
Made sure this information is captured in the Epic. Closing this issue.

[2021-07-27 20:41] #1099 closed

[2021-07-27 20:44] beccamc commented on #1587
I've also considered this as a work around until DataSets are ready. We need a prioritization of this.. I think Antti brings up a great point this would be useful for sampls/tutorials even after datasets are implemented.

[2021-07-27 21:38] beccamc opened #1649 "Cannot GetLabelColumn for OD scenario on reload"
Trying to reload a v1 OD mbconfig I get an error.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/fe36c7d0-e1bc-4639-be9b-12e9b8829121)

After error message is shown, everything seems to be reloaded correctly. [https://app.zenhub.com/files/186917455/7791dfdf-c7a3-4bd4-91bc-4abcf8467692/download](https://app.zenhub.com/files/186917455/7791dfdf-c7a3-4bd4-91bc-4abcf8467692

[2021-07-27 21:39] LittleLittleCloud opened #1650 "schema migration bug - Delimiter not found | FilePath not found"
**System Information (please complete the following information):**
 - Model Builder Version main
 - Visual Studio Version

[code]

### To reproduce
- create a new .mbconfig with above content
- open it!

[2021-07-27 21:49] beccamc opened #1651 "Version number is included in every object"
Not sure if this is "by design at this point"... I may have missed this in a PR review. I don't think we should include a version number in each object.

Although this column data type may not be changed in version 2.x of the mbconfig (e.g. MBConfig version is 2.x but we haven't modified ColumnDataType since version 1) we should infer this from file version number. IMO adding version number to eac

[2021-07-27 21:58] LittleLittleCloud commented on #1651
@beccamc

This is by design in order to avoid reimplement all child schemas once the parent schema is changed. Or avoid changing the parent schema for every child schema change.

[2021-07-27 21:59] briacht opened #1652 "Misalignment with Environment tags"
First - "Example" is off
![image](https://user-images.githubusercontent.com/10437687/127232997-89a2d7c2-72a4-429d-8d65-9fbb9a3893a0.png)

Second - it looks like the box isn't big enough for the "Local" text:
![image](https://user-images.githubusercontent.com/10437687/127233056-b55544cd-ed27-4a19-94f4-007caf3147f5.png)

@romalpani

[2021-07-27 22:01] beccamc commented on #1582
@torronen You want these metrics to be available?

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/35b13960-38ca-4d38-939c-457d3030cda6)

@briacht No, the MBConfig saves score and train time.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/8cedbabd-53d3-4193-b13c-ed687b6f5ef7)

[2021-07-27 22:08] luisquintanilla opened #1653 "Manually changing version to unsupported version rewrites contents of MBConfig file"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.0.2137701
 - Visual Studio Version: 16.10.4

**Describe the bug**

Manually changing versions using the JSON Editor in VS deletes my original MBConfig file and creates a new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Open MBConfig file with JSON

[2021-07-27 22:11] briacht commented on #1582
@torronen If mbconfig json file logged these metrics, would that fill your requirement?

[2021-07-28 00:40] hb126 commented on #1642
@LittleLittleCloud @zewditu
Thank you very much.
Yes, the problem is that there are multiple folders in the CUDA installation directory.
When installing CUDA, I installed development, documentation and samples into three folders under the CUDA directory. After I moved them into a directory, the check passed.
But I think this kind of examination seems unnecessary.

[2021-07-28 02:42] beccamc commented on #1651
I would argue we should change the parent schema version for each child schema change. If we add a new property to ColumnProperties we increment the file version. I'd expect it to work similarly to a rest api, a breaking change to any part is an incremented version of the whole file.

[2021-07-28 02:47] beccamc commented on #1616
Ahhh, yes that's a good guess. We're probably on a background thread writing to this file, open a file and kick off the same write operation, but can't because the previous is still running (and wasn't cancelled).

Similarly, I think there was a request from one of the "%temp% file too large" issues to make these file write operations stop on cancel. We should probably make the operation cancellab

[2021-07-28 02:53] vzhuqin commented on #1633
@beccamc I got the same score on latest main build: 16.7.0.2137701
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/feef1bcf-5327-4d23-9b1b-8a2fb0846af7)
But the Primary metric score is 0.98222 from run link in Azure portal:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2c643661-7d75-4fd3-9061-36a47aa06fb4)
Run link in Azure portal:
https://ml

[2021-07-28 03:42] beccamc commented on #1633
Thanks Qin! The Azure run accuracy should be .98 out of 1. We should be reporting in model builder as 98% instead of the Azure form. Good catch!

@zewditu I think you just did some work on displaying these values? Can you change the Azure value to show xx% instead of the decimal value?

[2021-07-28 03:44] nhannt201 commented on #422
This got my Project working again, thank you!

[2021-07-28 04:20] vzhuqin commented on #1633
@beccamc  @zewditu I found the score in .mbconfig file has issue for Object detection scenario, could you help to take a look together?
I think the scores show on Train page and Azure portal is correct, but it shows 0.01 in mbconfig file.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3782041e-f7f2-4ceb-86ed-f4a424b49b44)

[2021-07-28 04:57] acrigney commented on #1542
I have the same problem with the latest VS2022 v 2.1 on a fresh new windows server.

[2021-07-28 05:55] vzhuqin commented on #1607
not repro this issue on main build: 16.7.0.2137701
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2a3a14d3-1d80-471a-8302-ac7f50e89ac4)

[2021-07-28 06:23] vzhuqin commented on #1614
Not repro this issue on main build: 16.7.0.2137701
![1614Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d2a8f46a-8bdc-4507-bd1b-7a68e498c946)

[2021-07-28 06:31] vzhuqin commented on #1617
Not repro this issue on main build: 16.7.0.2137701
![1617Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7beec158-a3e9-4742-93d3-b5eb623527c9)

[2021-07-28 07:27] vzhuqin commented on #1270
Verified this issue on latest main build: 16.7.0.2137701, now when the keyboard focus is concerned, the dotted border is visible inside the cards border, but the distance between the dotted border and the blue border is a bit to the lower right, could you help to confirm if this is expected behavior?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/dc5def52-e735-4a4e-ac40

[2021-07-28 08:48] acrigney opened #1654 "Unable to create new enterprise workspace"
I could not get the model builder to display with the new VS2022 so I went back to VS2019 preview with .net core 5 and .net core 3.1
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
16.1.0.2027905
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_
VS Community version 2019 16.10.4

**Bug description**
_A clear and concise descr

[2021-07-28 09:35] sauntheninja2 commented on #1632
Net Framework 4.7.2

[2021-07-28 09:52] torronen commented on #1582
@briacht @beccamc yes, it would be convenient if shown on the summary page UI. Currently, I just save the output (in beccamc's screenshot) as a text file which is good enough.

The reason is to check how the different datasets performed, for example, I have one model predict "WillRain" and another model predict "RainAmount". After 1 month I may receive new data (for example, new preprocessing), th

[2021-07-28 09:57] torronen commented on #1645
@LittleLittleCloud Interesting, so maybe, I am using way bigger datasets than generally used. I think the first step (=everything before the first model is evaluated) is almost never completed for me in seconds, at least some minutes up to hours. Maybe I should consider some ways to skip some of the examples while keeping a representation of the original phenomena.

[2021-07-28 09:59] torronen commented on #1610
@beccamc Yes, correct. Only relationship with model builder is that the model is created with Model Builder. The issues was fixed by removing multi-threading.

[2021-07-28 14:10] torronen opened #1655 "File > Save As... does not create a new .mbconfig file"
**System Information (please complete the following information):**
 - Model Builder Version: 16.6.2.21333003
 - Visual Studio Version: 16.11.0 Preview 3.0

**Describe the bug**
User may want to rename or create a new variation of an experiments. For example, user might want to ignore some of the fileds and test their impact. User will select File > Save As... to create a copy of the existing conf

[2021-07-28 14:30] torronen commented on #1655
It seems user can easily achieve the same by manually copying and pasting the file, then renaming it and manually adding to Visual Studio solution. With this workaround, the missing of "Save As..." functionality would seem to be mostly only a usability issue.

[2021-07-28 14:41] torronen commented on #1604
How about adding a "Validate data" button to check the current columns match the ones in .mbconfig? I encountered this issue when working with old .mbconfig files but I no longer have the exact original files and I am unsure if the updates ones have any changes in the columns or their order.

[2021-07-28 15:40] torronen opened #1656 "Suggestion: Data file path should be saved as relative path when in same or subfolder"
**Describe**
It is convenient to save some datasets on same Git repo as the model builder configuration, especially for smaller projects.
Users will pull files to their chosen folder, and the physical path on local machine will often be different.

When user create a new Model Builder configuration (.mbconfig) and selects the file, the file path is always saved as an absolute path. If user will op

[2021-07-28 16:25] torronen opened #1657 "Running two experiments at same time will mix models"
**Describe the bug**
User may decide to run two experiments on same computer. Reasons could include that there is CPU cycles available, or multiple models are left to run over the weekend.

At the moment, all models are saved to same folder. Model Builder A and Model Builder B may replace each others models. If best models for A is 10.zip and B has 20.zip it is possible both of them get wrong mode

[2021-07-28 18:09] LittleLittleCloud commented on #1651
Although we use "parent" and "child" to differentiate schemas in different levels, on the code level, they are treated like the same. And that's the philosophy of the entire schema-based update path, which greatly simplifies the migration process when a schema contains a nested schema: a migration handler only needs to deal with depth = 1 properties, and leaves the migration work to other handlers

[2021-07-28 18:23] LittleLittleCloud commented on #1657
The older model will be replaced by new one because all model has a fix-format name.. We should create different sub-folder to save training artifacts for different experiments

[2021-07-28 19:53] luisquintanilla opened #1658 "Update Model Builder version to 1.6.0 to support ARM devices"
As of 1.6.0, ML .NET offers support for ARM devices. Currently Model Builder trains models using version 1.5.5 which doesn't have ARM support. Therefore, users looking to use models trained with Model Builder on ARM devices (i.e. mobile apps with Xamarin) can't. Instead, they have to manually:

1. Create a new console application to retrain the model
2. Copy training pipeline into console applicat

[2021-07-28 20:39] LittleLittleCloud commented on #1642
We should only check if "CUDA_PATH_V10_1" is available, to make sure Cuda v10.1 is installed. And add the path to its binary to $env:Path when training started, so cuda v10.1 is selected to use during training.

[2021-07-29 08:11] vzhuqin opened #1659 "There is no the selection state of Limited scenarios."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.7.0.2137701 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.3
- .Net: 5.0.302

**Describe the bug**
- On which step of the process did you run into an issue: Scenario page
- Clear description of the problem:
Problem 1. When you choose one

[2021-07-29 08:34] vzhuqin commented on #1440
Not repro this issue on main build: 16.7.0.2137701
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/587b0e18-ed47-41cb-ab01-a3adb722da9e)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/fb3ba463-cca7-41d3-8186-0805a3548960)

[2021-07-29 08:54] NiharikaTipirishetty commented on #1573
Keyboard users will not be able to see the complete code snippet in the Consume step in 'Image Classification' and 'Object detection' scenarios as well

[2021-07-29 12:08] NiharikaTipirishetty opened #1660 "A11y_ML .NET Model Builder_Object Detection-Evaluate_Keyboard: User is unable to enter score threshold value manually using keyboard in 'Score threshold' field."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**
#A11yMAS; #A11yTCS; #Win32; #DesktopApp; #BM-VisualStudioClient-Win32-Jul21; #A11ySev2; #Visual Studio Client; #WCAG2.1.1; #Keyboard; #A11yPreview;

### Environment Details:
Microsoft Visual Studio

### Re-pro Steps:

1. Turn

[2021-07-29 15:35] torronen commented on #1567
How about adding an interface to the template, such as : IMLModel?

I am running multiple models with same data, (maybe `Execute(IModel model, string[][] raw)` or  `Execute<T,Y>(T rawData, Y model) `) so I need some interface or parent calass. For now, I will add the interface declaration manually so not an issue for me, but might one improvement to consider (?)

[2021-07-29 17:25] zewditu commented on #1515
The team had a discussion on what should be the experience when the file path is changed. I do not think we have a specific thing we decided if there is anything anyone can point me to.

I would suggest disabling all tabs after the data tab by letting the user on the data page the file does not exist on the current path.

[2021-07-29 17:38] LittleLittleCloud commented on #1642
Reopen it and move it to "in review" panel

[2021-07-29 21:01] torronen commented on #1550
If ModelInput were not used and only LoadCSV is used, can model skip additional columns?

For apps having  ModelInput may have the benefit of being a list of what fields are needed for the model, and being able to read it during debugging.