[2020-02-19 19:22] beccamc opened #520 "Link for "What is an Azure ML experiment?" goes to wrong place"
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/44970be6-51c9-4b04-a05f-fc2f071d0b3f)

^ Above link goes to - https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-workspace.  It seems it should go to an explanation page instead of instructions on creating a new workspace?

The forward link is http://aka.ms/vsmbazureml

[2020-02-19 19:26] beccamc opened #521 "User token can expire during azure polling"
User token needs to be refreshed during training. Currently your token might expire, leaving you unable to continue in model builder, but still paying for azure resources.

[2020-02-19 19:28] briacht opened #522 "Create new workspace should select new workspace in dropdown"
1. In train choose Azure option
2. Select subscription
3. Create new workspace
4. When workspace is created and workspace dialog closes, no selection is made in the dropdown

Instead, the workspace that was just created locally should populate the Workspace dropdown

[2020-02-19 19:35] briacht opened #523 "No status reported for local workspace creation"
When creating a workspace locally, there should be a bit more status than just the spinner:

![image](https://user-images.githubusercontent.com/10437687/74868780-a9fe9180-530b-11ea-967f-3069598612d6.png)

Maybe we can do something like "Creating an Enterprise workspace in Azure. This may take a few minutes..."

@kawilkin ?

[2020-02-19 19:36] zewditu opened #524 "A compute for new work-space option for the size does not popup"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
As the title.
**Steps to Reproduce**
1. select ImageClassification from scenario page
2.  Upload your data ---> go to train page
3. Select Azure training
4. select your subscription
5. create new work-space
6

[2020-02-19 19:48] JakeRadMSFT commented on #519
We should look into providing a help page for next steps:
- Link them to quota page
- Try different region
- Ask for increased quota

[2020-02-19 19:49] JakeRadMSFT commented on #519
@briacht, @kawilkin can you help mock this up?

[2020-02-19 19:55] luisquintanilla commented on #522
This is also true for the rest of the resources.

[2020-02-19 20:00] beccamc opened #525 "Add region picker for add workspace UI"
Very detailed mock up:
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/a4109ba1-708f-44b2-b9d0-cd51f18f6b84)

Not all regions support a ML Workspace. See where available here:
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=machine-learning-service&regions=all

[2020-02-19 20:09] luisquintanilla opened #526 "[Azure] Error when using Standard_NV12 Compute"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2002.1901
 - Visual Studio Version: VS2017

**Describe the bug**
When training an image classification model in Azure using Standard_NV12 compute, an error is thrown once training is complete.

**Expected behavior**
Model trains successfully

## Additional Context

Training data consists of weather d

[2020-02-19 20:15] luisquintanilla opened #527 "[Azure] Add information on how to create new Resource Group"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2002.1901
 - Visual Studio Version: VS2017

When training on Azure, in the Create A New Workspace dialog, there is no option to create a new Resource Group. There should be something that points the user to information on how to create one (in the portal).

**Screenshots**

![image](https://user-imag

[2020-02-19 20:53] JakeRadMSFT commented on #377
Seems broken still

[2020-02-19 20:54] JakeRadMSFT commented on #377
Just needs more training time.

[2020-02-19 20:57] JakeRadMSFT commented on #489
I think so ...
but maybe it's covered by #519

[2020-02-19 20:57] JakeRadMSFT commented on #519
See #489 for potential links to include.

[2020-02-19 21:32] JakeRadMSFT commented on #526
@beccamc,

RuntimeError: CUDA out of memory. Tried to allocate 124.00 MiB (GPU 0; 7.94 GiB total capacity; 7.38 GiB already allocated; 61.00 MiB free; 54.97 MiB cached)

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-gpu#deployment-considerations

[2020-02-19 22:13] beccamc commented on #523
Jake thinks this can wait til next release

[2020-02-19 22:16] beccamc commented on #526
@justinormont Can you help with this? The machine has 24 GPU GB based on the specs, but it seems to be running out of memory and failing.

[2020-02-19 22:56] beccamc commented on #373
Per Jake this doesn't need to work with recommendation. Moving to ready to ship.

[2020-02-19 23:12] JakeRadMSFT commented on #526
Lets filter out all NV.

[2020-02-19 23:29] justinormont commented on #526
Optimizing for multi-GPUs is work in progress.

Two options:
* Disallow VMs with <= 14GB of RAM per GPU
* Reduce the batch size

I agree w/ @JakeRadMSFT's suggestion. I'd go with the option to filter these VM SKUs for the moment. Generally I'd rather avoid having Model Builder consider hyperparameters like `batch size` and the closely tied-together `learning rate`; hyperparameters should be the do

[2020-02-19 23:43] zewditu opened #528 "Add Limited Support Scenarios"
When a user choose one of the scenarios with limited support ... take them directly to Next Steps and then provide links to Documentation.

[2020-02-20 02:56] beccamc opened #529 "Cannot have spaces or special characters in compute or workspace names"
It turns our you cannot have spaces or special characters in the names of our computes and workspaces. If you have a space in your name we get an ugly error returned from the server.

Yes, ideally we would do a check as users are typing and show a red border with a pop up. This would probably take a day of dev work. I propose doing a faster fix, and come back to the nice fix later if it's importan

[2020-02-20 15:52] JakeRadMSFT commented on #529
I feel like there should just be a regex somewhere we could steal

[2020-02-20 15:55] JakeRadMSFT commented on #529
3. If we show a good enough error message when it fails ... ship it as-is.

[2020-02-20 16:44] briacht commented on #529
I don't think we should change the name they create; let's do #2

"Your compute [workspace] name cannot contain spaces or special characters. Please pick a different name."

[2020-02-20 18:58] JakeRadMSFT opened #530 "Improve Experience for data file is open in other program."
Update: We can fix this by correctly specifying the FileShare parameter in the FileStream. Users can have their files open in Notepad and other programs, so why not excel? Trying approach to fix the problem before implementing the retry experience Jake suggested below.

---------------------------------------------------
Today we throw an exception that is pretty clear. I think we should come up w

[2020-02-20 18:59] JakeRadMSFT commented on #530
It currently gets stuck "Downloading" in Training if the files is opened after Data Screen but before Start Training.

[2020-02-20 20:04] tborgesvieira commented on #337
I had the problem and solved it by changing the double value separator of "," with "."

After that I had no more problems

[2020-02-20 23:52] briacht commented on #520
Changed to https://docs.microsoft.com/en-us/azure/machine-learning/concept-workspace

[2020-02-20 23:52] #520 closed

[2020-02-21 01:35] beccamc opened #531 "Show more descriptive error message when compute quota is full"
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/f84700d1-7646-4ce2-8dae-cb0921710175)

[2020-02-21 12:48] Ivanov-Mihail opened #532 "Add data in ML Model Builder from .csv file (exported from SQL Server)"
- Model Builder Version:
![Screenshot_26](https://user-images.githubusercontent.com/37225753/75035157-88420d80-54b7-11ea-9a11-a13f7c7a916b.png)

 - Visual Studio Version
Microsoft Visual Studio Professional 2019
Version 16.4.5
VisualStudio.16.Release/16.4.5+29806.167
Microsoft .NET Framework
Version 4.8.03761
Installed Version: Professional

**Describe the bug**
Add data in ML Model Builder from .

[2020-02-21 12:53] Ivanov-Mihail commented on #532
Sorry, Issue closed.

[2020-02-21 12:56] #532 closed

[2020-02-21 14:38] ScottinTexasUS opened #533 "Build Errors Following Tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/generate-code
Operating System: windows

When I tried to run the MyMLApp.ConsoleApp there were 7 build errors. CS0579.
These were in MyMLAppML.Model.AssemblyInfo.cs file.

[assembly: System.Reflection.AssemblyCompanyAttribute("MyMLAppML.Model")]
[assembly: System.Reflection.AssemblyConfigurationAttribute("Debu

[2020-02-21 14:55] JakeRadMSFT opened #534 "Error creating Workspace"
Index and length must refer to a location within the string.
Parameter name: length

   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.ValidateEnd(Task task)
   at StreamJsonRpc.JsonRpc.<InvokeCoreAsync>d__94`1.MoveNext

[2020-02-21 15:28] JakeRadMSFT opened #535 "While workspace resource is creating the dialog shouldn't allow changes to fields."
While workspace resource is creating the dialog shouldn't allow changes to fields.

[2020-02-21 20:37] LittleLittleCloud commented on #517
Did you just finish an Azure image train and then run this training?

[2020-02-22 01:00] beccamc commented on #368
#2 fixed previously.

[2020-02-23 16:02] NVentimiglia opened #662 "Text Classification : Failed see more in Output Pane"
### System information

- Windows 10
- 3.1.1

### Issue

- **What did you do?**
I am using the ML.NET Model builder tool for visual studio to add machine learning to an existing dot net core web application. Using the tool, I attempted to train a text classification data set. When training, the progress stops saying

The text in the output pane is

My data set can be found here : https://data.worl

[2020-02-23 23:37] #244 closed

[2020-02-23 23:37] #407 closed

[2020-02-23 23:37] #410 closed

[2020-02-23 23:37] #413 closed

[2020-02-23 23:37] #495 closed

[2020-02-23 23:37] #496 closed

[2020-02-23 23:37] #195 closed

[2020-02-23 23:37] #310 closed

[2020-02-23 23:37] #332 closed

[2020-02-23 23:37] #405 closed

[2020-02-23 23:37] #448 closed

[2020-02-23 23:37] #465 closed

[2020-02-23 23:37] #467 closed

[2020-02-23 23:37] #471 closed

[2020-02-23 23:37] #472 closed

[2020-02-23 23:37] #137 closed

[2020-02-23 23:37] #161 closed

[2020-02-23 23:37] #369 closed

[2020-02-23 23:37] #370 closed

[2020-02-23 23:37] #372 closed

[2020-02-23 23:37] #380 closed

[2020-02-23 23:37] #420 closed

[2020-02-23 23:37] #427 closed

[2020-02-23 23:37] #444 closed

[2020-02-23 23:37] #295 closed

[2020-02-23 23:37] #301 closed

[2020-02-23 23:37] #341 closed

[2020-02-23 23:37] #359 closed

[2020-02-23 23:37] #367 closed

[2020-02-23 23:37] #392 closed

[2020-02-23 23:38] #322 closed

[2020-02-23 23:38] #234 closed

[2020-02-23 23:38] #292 closed

[2020-02-23 23:38] #326 closed

[2020-02-23 23:38] #338 closed

[2020-02-23 23:38] #339 closed

[2020-02-23 23:38] #349 closed

[2020-02-23 23:38] #355 closed

[2020-02-23 23:38] #371 closed

[2020-02-23 23:38] #374 closed

[2020-02-23 23:38] #337 closed

[2020-02-23 23:38] #348 closed

[2020-02-23 23:38] #351 closed

[2020-02-23 23:38] #352 closed

[2020-02-23 23:38] #353 closed

[2020-02-23 23:38] #354 closed

[2020-02-23 23:38] #363 closed

[2020-02-23 23:38] #384 closed

[2020-02-23 23:38] #313 closed

[2020-02-23 23:38] #314 closed

[2020-02-23 23:38] #365 closed

[2020-02-23 23:38] #378 closed

[2020-02-23 23:38] #389 closed

[2020-02-23 23:38] #489 closed

[2020-02-23 23:38] #63 closed

[2020-02-23 23:38] #375 closed

[2020-02-23 23:38] #379 closed

[2020-02-23 23:38] #428 closed

[2020-02-23 23:38] #476 closed

[2020-02-23 23:38] #493 closed

[2020-02-23 23:38] #373 closed

[2020-02-23 23:38] #377 closed

[2020-02-23 23:38] #399 closed

[2020-02-24 18:39] JakeRadMSFT opened #536 "I was able to get the Create Experience dialog to show up twice"
![image.png](https://images.zenhubusercontent.com/5cde1c65e3106e39e8ae08f2/a12e7199-8f8c-4daa-bf21-9bb148a45e21)

I just double clicked quickly

[2020-02-24 18:55] briacht opened #537 "Create new resource group - Create button disabled"
If I try to create a new RG, after create RG name dialog closes, the Create button in workspace creation dialog is disabled.

![image](https://user-images.githubusercontent.com/10437687/75181842-f83cd780-56f3-11ea-86ae-f38dbea46cd2.png)

However, if I select an existing RG, then create a new RG, the button is enabled.

[2020-02-24 22:48] LittleLittleCloud opened #538 "AutoMLService training fails when there's error in one of trainers"
Steps to reproduce

Dataset:
dataset-sqlserver.database.windows.net taxi-fare/Biance

select HighPrice as label, de-select ID and pick regression, click training

[2020-02-24 23:17] luisquintanilla opened #539 "[Azure] - Create New Experiment Subscription List Blank"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2002.2301
 - Visual Studio Version: VS2017

**Describe the bug**
Dropdown list for subscriptions is blank. Pressing the refresh button populates it.

**Screenshots**

![image](https://user-images.githubusercontent.com/46974588/75199752-eb3ed900-5731-11ea-8721-2c6ee7e35820.png)

[2020-02-24 23:21] luisquintanilla opened #540 "[Azure] - 400 Error on Create Compute dialog"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2002.2301
 - Visual Studio Version: VS2017 & VS2019

**Describe the bug**

When creating a compute, a 400 Bad Request error dialog appears regardless of which compute type is selected.

**Screenshots**

![image](https://user-images.githubusercontent.com/46974588/75199978-80da6880-5732-11ea-9ac6-397ea

[2020-02-24 23:22] #517 closed

[2020-02-24 23:22] #512 closed

[2020-02-24 23:22] #498 closed

[2020-02-24 23:33] #469 closed

[2020-02-24 23:35] LittleLittleCloud commented on #529
adding an underline score will cause a 400 bad request, maybe we just add underline as illegal char as well?

[2020-02-25 00:24] luisquintanilla opened #541 "[Azure] - Operation returned an invalid status code 'Forbidden'"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2002.2301
 - Visual Studio Version: VS2019

**Describe the bug**

Dialog box opened with the  following error during training Image Classification model in Azure.

Operation returned an invalid status code 'Forbidden'.

Checking the logs on Azure, training appears to have continued. In Visual Studio

[2020-02-25 01:11] LittleLittleCloud commented on #541
Are you running on the latest master? we have a fix for throwing a retry option when it comes to a 301 error

[2020-02-25 01:14] LittleLittleCloud opened #542 "Training time is zero when it's image training"
Steps to reproduce

pick image training. loaded image folder and go to train step

move backward to data page, reload image folder and click on training tab immediately

start training

![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/d4a46b89-1924-49b5-84f0-860dcd51252c)

[2020-02-25 01:40] #474 closed

[2020-02-25 01:41] #509 closed

[2020-02-25 01:42] #473 closed

[2020-02-25 01:43] #368 closed

[2020-02-25 07:01] natke opened #543 "Error when workspace name is too short?"
**Model Builder Version**: _16.0.2002.2301_
**Visual Studion Version**: Microsoft Visual Studio Enterprise 2019, Version 16.4.3_

**Bug description**
_Exception shown in the attached screenshot when a newly created workspace is less than 8? characters_

**Steps to Reproduce**
1. Go through the Model Builder Image Classification Azure training workflow
2. Create new workspace with a name that is sh

[2020-02-25 13:16] luisquintanilla commented on #541
Not sure if it was the latest in master. I used this version: 16.0.2002.2301

[2020-02-25 17:17] natke opened #544 "Azure training failed"
**Model Builder Version**: _16.0.2002.2301_
**Visual Studion Version**: Microsoft Visual Studio Enterprise 2019, Version 16.4.3

**Bug description**
_Azure training failed._

**Steps to Reproduce**
1. Run the Model Builder Image Classification Azure training experience
2. Training fails

**Additional Context**

![ModelBuilderExFail.PNG](https://images.zenhubusercontent.com/5ce48d4d5eba81334339009f

[2020-02-26 00:21] beccamc commented on #542
Verified. I can't get to the train tab until the image data preview is loaded.

[2020-02-26 00:22] #542 closed

[2020-02-26 00:26] beccamc commented on #523
Added text suggested by Bri above

[2020-02-26 00:32] beccamc commented on #450
Both values now say RSquared. Verified.

[2020-02-26 00:32] #450 closed

[2020-02-26 01:20] beccamc commented on #445
Validated.

[2020-02-26 01:20] #445 closed

[2020-02-26 01:49] beccamc commented on #149
Validated with Spain language config (also uses , for decimal point)

[2020-02-26 01:50] #149 closed

[2020-02-26 05:14] Nivedha6698 opened #545 "In the training phase it doesn't executed properly it shows failed message."
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/data
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-02-26 09:31] FlixMa commented on #337
I am having the same issue.
As I am using a SQL Server as a datasource I would like to know how I can change the 'locale' so the wizard exports the table's float values with "." instead of "," (Indeed the file downloaded to %temp% contains on the "german windows" commas as a seperator).

[2020-02-26 10:14] FlixMa commented on #538
Having the same problem with own dataset:

    Poisson regression must regress to a non-negative label, but label -0.2607227 encountered

Then whole process failes and I am not able to generate the code.
Workaround: Use a training time where it doesnt reach that specific algorithm and retrain after code gen.

[2020-02-26 18:02] #521 closed

[2020-02-26 18:02] #526 closed

[2020-02-26 18:03] #494 closed

[2020-02-26 18:03] #518 closed

[2020-02-26 18:03] beccamc opened #546 "Preparing compute will last forever if quota exceeded"
1. Use subscription and region that have more computes than quota allows. It looks like quota measures active computes, so you can have 30 computes and only 24 are running.
2. Start training. You'll get stuck at "Preparing compute for auto ml"
3. In the portal you'll get this when you look at the compute...
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/f5abdab4-98e9-44

[2020-02-26 18:03] #523 closed

[2020-02-26 18:03] #522 closed

[2020-02-26 18:03] #529 closed

[2020-02-26 18:04] #534 closed

[2020-02-26 18:04] beccamc commented on #534
Dup of #543. Closing.

[2020-02-26 18:17] beccamc opened #547 "Error when compute cluster doesn't exist"
Open azure dialog

1. Choose ModelBuilder workspace

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/725d1fcc-b66a-4389-9d46-beab835ebbec)

The problem is one of the computes is in a bad state
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/15d7934e-d5e6-4770-89de-dcff89ee7e4a)

It's VM size is null
![image.png](https://images.zenhubusercontent

[2020-02-26 20:12] beccamc opened #548 "No result for custom prediction"
1. Do a custom scenario
2. Train, and then go to evaluate
3. Click Predict. We show the loading spinner but the prediction isn't there

![NoResultForCustomPrediction.gif](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/c4a099ed-7964-4c8a-b222-250e8898db5f)

[2020-02-26 20:16] beccamc commented on #548
This will probably get cut if we remove custom this release.

[2020-02-26 20:36] beccamc opened #549 "Local image training says "Preparing workspace" while training"
This should say "Training" for local. It's being overwritten by the azure experience at some point.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/6c4cdc62-f610-4a6f-a92c-3edc1ae66967)

[2020-02-26 22:16] JakeRadMSFT commented on #274
There seems to be a VS/MSBuild issue here.

[2020-02-26 22:16] #543 closed

[2020-02-26 22:16] #538 closed

[2020-02-26 22:16] #537 closed

[2020-02-26 22:17] #456 closed

[2020-02-26 22:17] #525 closed

[2020-02-26 22:17] #524 closed

[2020-02-26 22:19] #527 closed

[2020-02-26 22:19] #260 closed

[2020-02-26 22:19] #516 closed

[2020-02-27 00:23] zewditu opened #550 "Scenario Screen Cards"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2020-02-27 00:27] zewditu opened #551 "Add Environment tab"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2020-02-27 04:56] rajeshchoudhary2312 opened #552 "Ml.net execution"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-02-27 04:56] rajeshchoudhary2312 commented on #552
Plz help me out

[2020-02-27 22:02] JakeRadMSFT commented on #552
Can you please provide more details of what is happening?

[2020-02-27 22:04] jdahan91 opened #796 ""Metadata KeyValues does not exist" in ImageClassification"
Choosing image classification, i'm trying to train a folder with three subfolders each subfolder has one image.

But I don't understand what's the problem that gives me this error. I tried including a .tsv files but still doesn't help.

[2020-02-28 01:12] LittleLittleCloud opened #553 "Update CLI's command"
Update cli's command
- [x] recommendation
- [x] regression
- [x] classification
- [ ] image

[design spec](https://microsoft-my.sharepoint.com/:w:/p/brachtma/EZlvL-aDctdGs445nStgPAMBhtvZhP_zk4wAusA58axH8w?e=6Xxcod)

[2020-02-28 03:14] gigabyte-sha opened #554 "mlnet not recognized"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-02-28 18:51] #475 closed

[2020-02-28 18:51] #463 closed

[2020-02-28 18:51] #455 closed

[2020-02-28 18:52] #366 closed

[2020-02-28 18:52] #433 closed

[2020-02-28 18:52] #441 closed

[2020-02-28 18:52] #439 closed

[2020-02-28 18:52] #440 closed

[2020-02-28 18:52] #443 closed

[2020-02-28 18:52] #442 closed

[2020-02-28 18:52] #438 closed

[2020-02-28 18:52] #436 closed

[2020-02-28 18:52] #437 closed

[2020-02-28 18:52] #68 closed

[2020-02-28 23:35] JakeRadMSFT opened #555 "Evaluate throws exception when MB is running on two instances of VS"
1. Train in Azure on Instance A
2. Train in Azure on Instance B
3. Evaluate on Instance A
4. Get Error

[2020-02-28 23:36] JakeRadMSFT commented on #555
@beccamc ran into this. Just logging the issue so we don't forget

[2020-02-29 22:14] #528 closed

[2020-02-29 22:18] JakeRadMSFT opened #556 "Users can use data from Azure when training in the cloud"

[2020-02-29 22:19] JakeRadMSFT opened #557 "Improve Data Parsing"
- [x] Auto-Detect Separator
- [x] Auto-Detect Header
- [x] Auto-Detect Decimal Separator ( 3.00 vs 3,00)

[2020-02-29 22:22] JakeRadMSFT opened #558 "Simplify Code Gen"
- [x] Remove all the load from file logic and just hard code first row from data.
- [x] Optimize for people calling into Predict multiple times
- [ ] create helper nuget to host CodeGen helper function and custom mapping

[2020-02-29 22:23] JakeRadMSFT opened #559 "Model Builder in-box VS"
- [ ] In Box for Build
- [ ] Preview Feature Flag

[2020-02-29 22:36] JakeRadMSFT commented on #554
Can you please provide more information about what steps you've tried and what errors you're hitting?

[2020-02-29 22:39] JakeRadMSFT commented on #396
Duplicate of #558

[2020-03-01 19:23] #311 closed

[2020-03-01 19:23] JakeRadMSFT commented on #311
Opened separate issues to track.

[2020-03-01 19:24] JakeRadMSFT commented on #548
We're removing custom in the up coming release.

[2020-03-01 19:24] #548 closed

[2020-03-01 19:28] JakeRadMSFT opened #560 "Azure Experience Clean Up"

[2020-03-02 02:35] JakeRadMSFT commented on #198
Duplicate of 103

[2020-03-02 02:35] #198 closed

[2020-03-02 02:36] JakeRadMSFT commented on #87
Closing and waiting for customer feedback.

[2020-03-02 02:36] #87 closed

[2020-03-02 02:37] JakeRadMSFT commented on #242
Closing issue and will wait for customer feedback.

[2020-03-02 02:37] #242 closed

[2020-03-02 02:38] JakeRadMSFT commented on #177
Closing for now. Can re-open if it becomes a priority again.

[2020-03-02 02:38] #177 closed

[2020-03-02 20:52] #549 closed

[2020-03-02 20:52] #511 closed

[2020-03-02 20:57] #480 closed

[2020-03-02 22:28] JakeRadMSFT commented on #458
@ddobrc hopefully Bri answered your questions. Please re-open issue if not!

[2020-03-02 22:28] #458 closed

[2020-03-02 22:29] JakeRadMSFT commented on #423
@mkArtak can you try with latest verion? We're not able to reproduce the issue.

[2020-03-02 22:31] JakeRadMSFT commented on #435
@behroozbc can you try the latest version? We've made some updates to parsing in this release.

[2020-03-02 22:33] JakeRadMSFT commented on #502
I believe it is because the machine's specs are powerful enough. I'll followup with the ML.NET team though.

[2020-03-02 23:32] JakeRadMSFT commented on #510
Can you provide more information about what steps you've taken and what issue you are hitting?

[2020-03-02 23:33] JakeRadMSFT commented on #533
This is resolved in the lastest version of Model Builder - released last Thursday. Can you upgrade and try again?

[2020-03-02 23:33] JakeRadMSFT commented on #545
Can you provide more information about what steps you've taken and what issue you are hitting?

[2020-03-03 00:47] beccamc commented on #557
Failure - no header
1	2	3	4	Forge
3,6216	8,6661	-2,8073	-0,44699	0
4,5459	8,1674	-2,4586	-1,4621	0

[2020-03-03 05:04] mkArtak commented on #423
I have the latest available Community edition installed:
![image](https://user-images.githubusercontent.com/7347708/75744401-0036e180-5cc9-11ea-9101-6f2f644270bc.png)

And I still observe the same issue.

[2020-03-03 12:12] behroozbc commented on #435
![image](https://user-images.githubusercontent.com/20381616/75774502-62ddbb00-5d65-11ea-8fe3-85c0c3dbb661.png)
when i want update

[2020-03-03 13:45] behroozbc commented on #435
i reinstall
but know i get this

![image](https://user-images.githubusercontent.com/20381616/75781471-80655180-5d72-11ea-95d7-52f45cccc4fb.png)

[2020-03-03 14:08] infoneto-shmuel opened #561 "can't install"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
Operating System: windows

I can't install it. and the log doesn't tell me what I am missing.
here is the log:

03/03/2020 16:03:22 - 	SignedBy           : Microsoft Corporation
03/03/2020 16:03:22 - 	Certificate Info   :
03/03/2020 16:03:22 - 		-------------------------------------------------------
0

[2020-03-03 17:27] JakeRadMSFT commented on #561
What version of VS2017 do you have? Can you try updating to the latest version of 2017 or install the latest version of 2019?

Cheers,
Jake

[2020-03-03 17:31] infoneto-shmuel commented on #561
Thx
 I already did it and it works.
Maybe you can add it to the log, so people can understand what's the problem

[2020-03-03 17:31] #561 closed

[2020-03-03 20:17] zewditu opened #562 "Add other elements besides button for scenario cards ."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2020-03-04 21:19] zewditu opened #563 "Create experiment dialog does not display already existed subscriptions"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**

**Steps to Reproduce**
1. Select Image classification  from scenario page
2. Select Azure  training
3. Click cancel button on create new experiment dialog
4.Again select Azure training
5. Click on subscripti

[2020-03-05 01:17] zewditu opened #564 "Add .xml pictures into new Scenario cards ."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2020-03-05 17:38] beccamc commented on #557
Think the yelp dataset has a header[https://app.zenhub.com/files/186917455/748b61af-c0f2-4359-a04e-adb44302e8fe/download](https://app.zenhub.com/files/186917455/748b61af-c0f2-4359-a04e-adb44302e8fe/download)

[2020-03-05 19:42] beccamc opened #565 "Correctly parse no-header tsv"
Bug fixes before turning it on...
1. Fix predict for no header. inputSchema saves with no headers ("Label" and generic "TextFeature" column names). We pass into the the Predict engine our fake "Column1" etc.
2. Ignore columns for no header?

Data shapes...
Can't figure out the yelp dataset
Wow... Loved this place.	1

[2020-03-05 20:06] beccamc commented on #497
@JakeRadMSFT Xiaoyun added retry logic right? Can this be closed?

[2020-03-06 00:36] beccamc commented on #541
Xiaoyun added the retry in 16.0.2002.2502 which is later than the build Luis was on. This is fixed by Xiaoyun's work. Closing.

[2020-03-06 00:36] #541 closed

[2020-03-06 00:47] beccamc commented on #540
A few things here...

1. Root cause of this was a duplicate name for computes.  This error occurred before we further limited the GPU sizes. To repro, select a NV size, get a quota error, and try again with the same name. Server returns a 400 because it already has a (failed) compute by that name. This is now mitigated because no quota computes are available.
2. We're showing a better error messag

[2020-03-06 00:48] beccamc commented on #539
Likely repro...
1. Open dialog. Select a subscription
2. Close dialog without creating an experiment
3. Reopen dialog.

[2020-03-06 13:28] pkidd opened #566 "Cannot select a field from a field set bigger than 7"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/scenario
Operating System: windows 10 Enterprise, 64 bit
VS 2019 16.3.8

Just following the scenario - adding data
Have selected a sql table
Trying to select the Input Columns but can only 7  are accessible the drop down is not scrolling :(

![image](https://user-images.githubusercontent.com/6814097/76087472-1

[2020-03-06 18:12] LittleLittleCloud commented on #397
Will create a helper nuget to save the helper function

[2020-03-06 19:21] beccamc commented on #566
Thanks for reporting @pkidd. We fixed this issue in our latest build. Can you update to 16.0.2003.302 and see if that fixes it?  If you're already on the latest build then there is another issue going on and we'll need to dig in further.

[2020-03-06 19:33] beccamc commented on #555
@JakeRadMSFT I'm putting this as a P2. I don't think many customers will run into this. Feel free to change if you disagree.

[2020-03-06 22:34] beccamc commented on #531
"You have reached your compute quota limit for this Azure subscription. Please follow [these instructions](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/regional-quota-requests#request-a-quota-increase-by-region-from-subscriptions) to request a quota increase."

[2020-03-09 21:35] JakeRadMSFT commented on #563
@zewditu can you sync with Becca? Is this something with the new environment tab ... or is this a regression in Master?

[2020-03-09 22:04] beccamc commented on #563
I think this is a dup of https://github.com/dotnet/machinelearning-modelbuilder/issues/539.  Its happening on the reload of the dialog right? Good find!

[2020-03-10 00:40] beccamc commented on #544
Hmmm... I'm not sure what happened here. On the model builder side we've added retries and have work items for the most common problems users run into.

Moving forward we need a way to report these Azure specific problems to the Azure team (since external customers won't be able to give us a link to their run). I'll open another channel with Dmitry about how best to do this.

Closing this issue.

[2020-03-10 00:40] #544 closed

[2020-03-10 00:40] beccamc commented on #497
Retries have been implemented. Closing this.

[2020-03-10 00:40] #497 closed

[2020-03-10 01:45] zewditu commented on #563
@JakeRadMSFT  , @beccamc  is right I am sure that it  is not because of environment tab.

[2020-03-10 02:03] zewditu opened #567 "Evaluate tab enabled before training status does not say " Training complete"."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**

**Steps to Reproduce**
1. select image scenario in scenario page
2. Choose Azure in Environment tab ==> set all azure dialog details
3.  Go  to Data tab select you image data
4. go to train tab  click start

[2020-03-10 17:43] lebasemog opened #568 "Error creating ML using Microsoft learning"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[error.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/4313911/error.txt)

[2020-03-10 19:56] JakeRadMSFT commented on #568
@lebasemog, did you click the "Add Projects to Solution" button and add a project dependency to the generated *.Model project?

If you can share your code or a screenshot of your dependencies, using, and the code throwing those errors ... we can definitely help!

Cheers,
Jake

[2020-03-10 19:57] JakeRadMSFT commented on #563
Closing as duplicate of #539

[2020-03-10 19:57] #563 closed

[2020-03-10 21:20] beccamc opened #569 "Log run id in Azure errors + bug reports"
Experiment run id is the unique identifier used by the Azure ML team for tracking errors. We should add this on our side to make figuring out issues easier.

1. Add to logged errors, where possible and appropriate
2. Make it easy for customers to log the run id in bug reports

[2020-03-10 21:22] beccamc commented on #546
It seems wrong to me that the run continues even though the compute is in error. This is the error for the compute..
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/a212faf5-5ca7-401e-81b8-468c3e81a9c6)

The run seems to stay queued forever (or at least for a very long time... compute is clearly in error so I would expect the run to fail when it knows.)

[2020-03-10 21:25] beccamc commented on #546
Example run https://ml.azure.com/experiments/id/e3d3f1e3-fc3f-4e19-bf60-040191dee931/runs/AutoML_d7550d44-0458-4da6-b824-74a19efac917_HD_0?wsid=/subscriptions/b856ff87-00d1-4205-af56-3af5435ae401/resourcegroups/jakeradmlresourcegroup/workspaces/beccamtest5&tid=72f988bf-86f1-41af-91ab-2d7cd011db47#details

[2020-03-10 22:09] beccamc opened #570 "Retry connection dialog should change options"
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/de65af8e-0d72-4e70-8913-8646cda36c8a)

This should change to "Retry" and "Cancel".  String should also change to - _please select "**Cancel**" and report this issue._

[2020-03-10 22:32] beccamc commented on #546
Dmitry is going to take a look at this. Blocked for now.

[2020-03-10 22:39] beccamc commented on #567
I can't get a repro @zewditu

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/5ec9606c-9295-408b-be8d-bbbd6e325787)

Was this maybe you're second time training? The button was there and wasn't reset when the training restarted?

[2020-03-10 23:38] zewditu commented on #567
@beccamc, may be because of that , me too I am not able to reproduce it. or it might be fixed after that  with latest merges, whatever,  it is gone now .
 Thanks for your effort to look into it .

[2020-03-10 23:39] #567 closed

[2020-03-11 00:25] beccamc commented on #567
@zewditu I think it was maybe from before you removed the azure code from the train tab? Either way, let me know if you see it again!

[2020-03-11 01:15] beccamc commented on #531
I need to update the error dialog (preferably for expected errors) to allow hyperlinks. I'd like to do this in a generic way but WPF doesn't make it easy. Investigating...

[2020-03-11 07:38] zewditu opened #571 "Data tab uncompleted and Train tab disabled when the user changes environment type ."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
After the user already selected the data-set if wants to change environment type train tab is disabled  and data tab is uncompleted

**Steps to Reproduce**
1. Select image scenario
2. Select local in Environm

[2020-03-11 18:41] zewditu opened #572 "Create color token and use VS color service for new illustrations and scenario cards"
1. we have to use VS color services in-order to theme  all UI elements in our new scenario experience but  we do not have tokens  because they are brand new components

[2020-03-11 22:40] briacht opened #573 "Azure training error"
I'm training on 87k images, ~30 classes

![image](https://user-images.githubusercontent.com/10437687/76470911-8b416700-63ae-11ea-9421-80e34696431f.png)

[2020-03-11 22:46] beccamc opened #574 "Update all info icons"
Info icons should be sized and shaded appropriately. Right now the sizing is all over the place. It should size like this...
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/21718c2f-0c85-4233-9e0f-cb5287dcbb63)

And use the icon that's an outline: [StatusInformationOutline](http://glyphlist.azurewebsites.net/img/images/StatusInformationOutline.png)

[2020-03-12 09:28] Prezy101 opened #575 "myMLApp.exe specified in the 'myMLApp' debug profile does not exist....."
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-03-12 16:30] beccamc commented on #573
@briacht Did the training finish in the portal?

[2020-03-12 17:04] briacht commented on #573
I don't think it did

[2020-03-12 19:56] JakeRadMSFT opened #576 "DotNet Arcade Clean Up Issues"
Follow up tasks from this pr:
https://github.com/dotnet/machinelearning-tools/pull/538

- [x] Validate that the vsix output has no binary Changes
- [x] fix the yaml file to call cibuild.cmd
- [x] setup automated infrastructure update PRs

- [x] Missing image
![MicrosoftTeams-image (1).png](https://images.zenhubusercontent.com/5cde1c65e3106e39e8ae08f2/4e501080-c5cd-4a03-a7f1-5290d5fe237a)

- [x] Fi

[2020-03-12 19:57] JakeRadMSFT commented on #576
VS DLLs we shouldn't be shipping:

envdte.dll
EnvDTE100.dll
EnvDTE80.dll
EnvDTE90.dll
EnvDTE90a.dll
Microsoft.Build.dll
Microsoft.Build.Framework.dll
Microsoft.Build.Tasks.Core.dll
Microsoft.Build.Utilities.Core.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Microsoft.CodeAnalysis.dll
Microsoft.CodeAnalysis.Workspaces.Desktop.dll
Microsoft.CodeAnalysis.Workspace

[2020-03-12 20:58] LittleLittleCloud commented on #576
The `AZCopyService.Tests` and `AutoMLService.Tests` uses different sdk to build project, and they target to different platform as well(AzcopyService.Tests to net472 and AutoMLService.Tests for netcore3.0). Is there a reason to do that?

[2020-03-12 21:02] jmarolf commented on #576
@LittleLittleCloud looks like these should both target `netcoreapp2.0`

[2020-03-12 22:30] JakeRadMSFT opened #577 "azcopy.exe shouldn't be checked into repo."
Download as part of build: https://github.com/MicrosoftDocs/azure-docs/issues/49840
and/or
Look into Git LFS ( I think we might want this for test data anyways ).

[2020-03-12 22:33] JakeRadMSFT commented on #576
or both target Net472 ... the services actually run as Net472 when used by Model Builder.

[2020-03-13 08:36] jlmoya opened #578 "Missing SDK Version"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '2.1.0'

[2020-03-13 18:05] jmarolf commented on #576
Both of those projects needed Winforms references so I had them target the `Microsoft.NET.Sdk.WindowsDeskto` sdk which includes these assemblies automatically.

[2020-03-13 21:12] Azkarell opened #579 "Csv file not correctly parsed"
**Model Builder Version**: 16.0.20003.302
**Visual Studion Version**: 2019

**Bug description**
csv files with escaped string that includes and semicolon fails to be parsed

**Steps to Reproduce**
1. create a csv file with following input
Type;Example
c#;"hi i am not working;
"" i dont see why """
(produced by microsoft excel)
2. use it as an input inside file selection

**Expected Experience**
Pa

[2020-03-15 22:48] rati-dzidziguri commented on #579
![image](https://user-images.githubusercontent.com/52178984/76712285-ac98af00-6730-11ea-80e9-83ea5cf23bc0.png)

[2020-03-16 17:33] beccamc commented on #573
@briacht Can you send a link to the run?

[2020-03-16 17:45] LittleLittleCloud commented on #421
It will go with #397
move it to april milestone

[2020-03-16 18:10] LittleLittleCloud opened #580 "Filter out columns that in ignore-col in console output"
We may only want to print the field that is used in the model
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/651918c3-2b46-419c-ba5c-c39aefdf2af2)

[2020-03-16 21:24] JakeRadMSFT commented on #578
Hello,
It should be available here: https://dotnet.microsoft.com/download/dotnet-core/2.1. Please report back if this doesn't resolve the issue.

Cheers,
Jake

[2020-03-16 21:27] briacht commented on #573
So I actually ended up deleting all my workspaces and don't have it anymore :( Sorry that's not helpful at all.

[2020-03-17 01:37] beccamc opened #581 "Evaluate small UI fixes"
1. Wrong margin on the User/Item column
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/8c3270f6-7689-4070-90b9-2eb0325b938a)

2. Prediction results before predicting look odd. It shouldn't show "Predicted price" right?
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/4789b751-db65-4f4a-bdde-fb77bb11bb50)

3. Spacing is off. I think the problem

[2020-03-17 11:10] pronobeshm opened #582 "Getting Invocation Error while trying to add Machine Learning"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![ML Exception](https://user-images.githubusercontent.com/49061295/76850676-e4f1d780-686d-11ea-9bda-7e8acf101ef2.

[2020-03-17 17:17] briacht commented on #573
Happened again -- got the polling error several times, kept hitting "Yes" and then finally hit "No" and got this:

![image](https://user-images.githubusercontent.com/10437687/76882820-6fb7df80-6838-11ea-9a93-8a0892dd66d4.png)

Still running in Azure ML portal

[2020-03-17 17:54] beccamc commented on #573
@briacht I don't have access to that subscription and can't see the run. Did it ever finish? Was the compute in error due to quota exceeded - like this?
![image](https://user-images.githubusercontent.com/9122518/76886206-a93f1980-683d-11ea-9ca4-97d054e47961.png)

[2020-03-17 18:27] beccamc opened #583 "Spinner doesn't show immediately on file selection"
On file open, it takes a few seconds before the spinner show up. We should start showing the spinner immediately.

![longPause2.gif](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/511199ff-6e7f-4887-923b-5fb691854004)

[2020-03-17 18:37] beccamc opened #584 "Running out of training time"
I run out of training time on the [Titanic dataset](https://www.kaggle.com/c/titanic/data). A few thoughts here...

1. This is a popular dataset (starter dataset for Kaggle) and we should look into why our time prediction is too low. It'd be nice to make this more accurate.

2. I think the "Training time finished" should be an expected exception (shows the error warning dialog without stack trace.

[2020-03-17 18:50] briacht opened #585 "Model consumption error - file not found"
I created a .NET Core console app, did text classification for sentiment analysis (yelp-labelled.txt dataset), and everything worked fine until I tried to copy + paste next steps code and run the app with model consumption:

![image](https://user-images.githubusercontent.com/10437687/76890843-4fdae880-6845-11ea-8136-601026a95bc9.png)

[2020-03-17 21:09] beccamc commented on #585
+1 also saw this in a .Net Core console app.

[2020-03-17 21:15] beccamc opened #586 "Overview/Details tabs not shown"
Overview is not selected on load of the evaluate tab

1. Select a scenario, train, evaluate
2. Select a new scenario, train, go to evaluate
3. Neither tab is selected

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/49d216b8-30c8-44ad-885c-d00a6ff447a3)

This is probably lower priority, I don't think many people train two scenarios in one instance

[2020-03-17 22:59] luislhg opened #587 "Model Builder Error when trying to Train data to Image Class"
### System information

- Windows 10 Pro
- .NET 4.8 and .NET Core 3.1:
- Memory 12GB
- Processor Intel Core i7 CPU 950 @ 3.07GHz

### Issue

- Tried to train an image classification using the Model Builder.

Steps: Create a project.
Add a Machine Learning through solution explorer, then in the ML.NET Model Builder:

1. Scenario -> Image Classification
2. Data -> A folder with around 8.000 images (

[2020-03-17 23:39] mailtruck opened #588 "zsh command not found"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I get command not found when i try to execute `mlnet` from the command line.

I use zsh. I see the instruction ab

[2020-03-18 01:32] beccamc opened #589 "Refactor complete/uncomplete tab to be state based"
Right now we use a complete/uncomplete tab callback system to update current tab. Instead we should have each data context have a state complete/uncomplete, and the ModelBuilder data context reads it.

Talk to Becca for more details

[2020-03-18 07:11] rkarunkumar opened #590 "Can't add ML to my project"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
Operating System: windows
Visual studio 2017 v15.9.21

Shows error as below while adding machine learning to my sample console project :
"Exception has been thrown by the target of an invocation"

[2020-03-18 10:34] GreenShadeZhang opened #591 "About the relationship between gesture recognition and picture classification"
I want to do a gesture recognition function, but this model creation does not support object detection, so I am not sure if i need to do hand object detection before training picture classification when doing gesture recognition. Or do I directly take pictures of many different groups of gestures without any processing, such as not doing hand labels, and then the number of pictures is enough, fini

[2020-03-18 17:21] beccamc opened #592 "Move AzureStorageService out of ModelBuilder"
Move AzureStorageService into the AutoML service to isolate Microsoft.WindowsAzure.Storage.

[2020-03-18 17:46] LittleLittleCloud commented on #585
Did you add reference to .Model project before running?

[2020-03-18 17:52] LittleLittleCloud opened #593 "Repetitive output when training in another project after training in one project is completed"
step to reproduce
- train on one project
- switch to another project and start a new training
- the same output is printed twice

[2020-03-18 19:19] LittleLittleCloud commented on #585
This bug only appears on test VS Build, and will disappear if using release VS Version to open generated project and run.

Perhaps it's something wrong with test VS Build?

[2020-03-19 16:47] briacht commented on #573
Run status actually says "Completed" in the portal

[2020-03-19 22:28] briacht opened #594 "Unauthorized azure training bug"
![image](https://user-images.githubusercontent.com/10437687/77120465-27deb700-69f6-11ea-8d40-b4a97955f124.png)

-hit unauthorized, why didn't refresh token or try getting new token?

[2020-03-19 23:00] beccamc opened #595 "Azure Telemetry fixes"
- [x] Fix image bugs
 ![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/71e97f6c-fd7b-4132-b113-43d973c8d3ec)

- [x] Open create experiment (main) dialog click
- [x] Edit experiment click
- [x] Cancel click (all dialogs)
- [x]  Time it takes to create workspace/compute
- [x] Created new workspace/compute included in create experiment event
- [x]  Learn more hyperlinks clic

[2020-03-20 09:20] infiniteloopltd opened #596 "Training time finished without any models trained."
**System Information (please complete the following information):**
 - Model Builder Version:  1.4 - Not sure
 - Visual Studio Version: 2017 Professional

**Describe the bug**
Creating a classification model on 6 million rows, suggested time 1800 seconds.

**To Reproduce**
Can't share data, sorry.

**Expected behavior**
Model to be created

**Screenshots**
   Training time finished without any mod

[2020-03-20 10:30] infiniteloopltd commented on #596
Same error after 4000 seconds (>1hr)

Output pane doesn't give much more detail

|     Trainer                              MicroAccuracy  MacroAccuracy  Duration #Iteration                     |
|     Trainer                              MicroAccuracy  MacroAccuracy  Duration #Iteration                     |
|     Trainer                              MicroAccuracy  MacroAccuracy  Duration #Iterat

[2020-03-20 10:36] infiniteloopltd commented on #596
But worked on 100 seconds on 10000 rows, so extrapolating, it would take 17 hours to train on 6 million rows.

The issue here is just the fact that the suggestted time is completely underestimated in the Model Builder.

[2020-03-20 10:52] infiniteloopltd commented on #422
Just to verify @Chaopeng-Wu 's solution, this error can be avoided by using .net core instead of .NET standard.

[2020-03-20 17:27] LittleLittleCloud commented on #585
test on  vs master branch and not appear

[2020-03-20 21:16] beccamc commented on #594
@briacht  I know we talked about this yesterday, but did this pop up after you hit "yes" on the retry dialog? Or was the retry dialog never shown?

[2020-03-20 23:10] LittleLittleCloud opened #597 "scenario title not horizontally align with each other"
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/8de4fee0-f524-4162-9b5f-e3526b0b99a5)

[2020-03-20 23:31] LittleLittleCloud opened #598 "remove AutoMLServceLogger debug info"
Step to validate:
check the output pannel and make sure we don't have output start with "AutoMLServiceLogger"

[2020-03-20 23:39] beccamc opened #599 "No error shown for bad predict input"
In evaluate (text) the try it out experience isn't showing an error when a field is empty

![noErrorShown.gif](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/84bba919-fe27-46e5-8fbe-9f8fa95ee0f6)

[2020-03-21 00:23] beccamc opened #600 "Release Stability"
Epic tracking all work related to stabilizing for the 16.6 VS release.

[2020-03-21 05:56] luislhg commented on #587
Any news?

[2020-03-22 12:08] rasikhegde opened #601 "Image Classification - Model Builder"
Below was the error while training the model for image classification

  at System.Linq.Enumerable.Select[TSource,TResult](IEnumerable`1 source, Func`2 selector)
   at Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext() in E:\A\_work\1326\s\Microsoft.ML.ModelBuilder.AutoMLService\Experiments\AutoMLExperiment.cs:line 117
--- End of stack trace from

[2020-03-23 14:20] biztudio opened #602 ".NET Core 3.1 is not supported by ML.NET cli."
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: macos

.NET Core 3.1 is not supported by ML.NET cli. I run the cmd from the MS tutorial but get error.
shenyang@myMacBook-Pro myMLApp001 % mlnet auto-train --task binary-classification --dataset "wikipedia-detox-250-line-data.tsv" --label-column-name "Sentiment" --max-exploration-time 1

[2020-03-23 15:25] infiniteloopltd commented on #596
If anyone in Microsoft is reading these issues, I'd love to put forward a suggestion here -

If someone has enterered a time that is insufficient to train a model, it would be better if it could have a "Resume" option, instead of crashing out.

On large data sets, it could be hours before a model could be trained.

[2020-03-23 17:42] briacht opened #603 "Get AzureML error if parent folder has space in name"
I trained image classification model in Azure, the parent folder name was "Training Data" -- I kept getting errors and training failed but I didn't know why. Once I changed folder name to "TrainingData" it was successful

Can we maybe detect spaces in folder names and get rid of spaces before uploading data?

[2020-03-23 17:48] #559 closed

[2020-03-23 17:48] #550 closed

[2020-03-23 17:48] #564 closed

[2020-03-23 17:48] #551 closed

[2020-03-23 17:49] #572 closed

[2020-03-23 17:51] JakeRadMSFT commented on #552
Resolving due to not enough details. Sorry you're hitting an issue! If you add more details, please re-open bug.

[2020-03-23 17:51] #552 closed

[2020-03-23 17:51] JakeRadMSFT commented on #554
Resolving due to not enough details. Sorry you're hitting an issue! If you add more details, please re-open bug.

[2020-03-23 17:51] #554 closed

[2020-03-23 18:00] LittleLittleCloud commented on #459
@perkst Sorry for the late reply. Could you upgrade to the latest modelbuilder and run the same experiment again, this time it should give you some error information (if there's any)

And what's your dataset's PredictedPrice looks like, is it all NULL value, or part of it is NULL while the other is number?

[2020-03-23 18:08] LittleLittleCloud commented on #435
Based on the exception you get, it seems that you are having dataset with special format.

Currently, we only support csv\tsv\ simple delimiter file ending in txt without special annotation, some csv file might have comment at header and that will cause an exception in data page.

Could we have the dataset you have, that will be of great help for us to investigate the error you have. Thanks

[2020-03-23 18:15] beccamc commented on #585
Fixed on latest build.

[2020-03-23 18:15] #585 closed

[2020-03-23 18:16] LittleLittleCloud commented on #449
dup of #284

[2020-03-23 18:21] #593 closed

[2020-03-23 18:21] beccamc commented on #593
Validated that output isn't printed twice after switching solutions or projects. Closing.

[2020-03-23 18:23] LittleLittleCloud commented on #435
Hi @behroozbc

This error should be fixed in the latest release, just upgrade to latest version of ModelBuilder and have fun

![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/ac636e77-a721-4bdf-89e5-5f857867c3e7)

[2020-03-23 18:25] LittleLittleCloud commented on #457
This should be fixed after we stop parsing multi-classification's label as bool or single

[2020-03-23 18:39] LittleLittleCloud commented on #452
dup of #435

[2020-03-23 18:45] zewditu commented on #462
![val.PNG](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/474ca5b0-8df1-424d-8d9e-8295a04daf39)

![val.PNG](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/e92232e4-c43b-45cf-a2c3-9c8d9866b48f)

[2020-03-23 18:46] LittleLittleCloud commented on #457
Stop parsing label as types other than string in classification should fix this.

[2020-03-23 18:53] LittleLittleCloud commented on #536
[x] VS2019 preview2

[2020-03-23 18:55] LittleLittleCloud commented on #535
- [x] VS2019 Preview2

[2020-03-23 19:01] LittleLittleCloud commented on #547
- [x] VS2019 Preview2

[2020-03-23 19:42] zewditu commented on #584
The same thing for me and there is also customer report  https://app.zenhub.com/workspaces/mlnet-tools-5cde1c97e3106e39e8ae08fc/issues/dotnet/machinelearning-modelbuilder/596

[2020-03-23 20:59] LittleLittleCloud opened #604 "mlnet.cli packaging size exceed 250 mb"
nuget.org has limitation of less than 250 mb for nuget packages.
We need to find out a way to shrink the size

[2020-03-23 21:23] #327 closed

[2020-03-23 21:23] #435 closed

[2020-03-23 21:23] #452 closed

[2020-03-23 21:23] #329 closed

[2020-03-23 21:23] #535 closed

[2020-03-23 21:23] #536 closed

[2020-03-23 21:30] behroozbc commented on #435
Okay I try this in last version

[2020-03-23 21:40] JakeRadMSFT opened #605 "Object Detection"

[2020-03-23 21:42] JakeRadMSFT opened #606 "[Blocked] Migrate to Updated Azure ML Client Library"

[2020-03-23 21:44] JakeRadMSFT opened #607 "Migrate to WebTools Connect Dialog"

[2020-03-23 21:44] JakeRadMSFT opened #608 "[Blocked] Anomaly Detection (Local + Azure)"

[2020-03-23 21:44] JakeRadMSFT opened #609 "[Blocked] Forecasting (Local + Azure)"
Add Forcecasting scenario to Model Builder.

[2020-03-23 21:45] JakeRadMSFT opened #610 "[Blocked] Azure - Text Classification"

[2020-03-23 21:45] JakeRadMSFT opened #611 "[Blocked] Azure - Regression"

[2020-03-23 21:46] JakeRadMSFT opened #612 "[Blocked] Azure - Recommendation"

[2020-03-23 21:52] JakeRadMSFT opened #613 "Update Train, Evaluate, and Next Steps"

[2020-03-23 21:52] JakeRadMSFT opened #614 "Update Next Steps"

[2020-03-23 21:55] JakeRadMSFT opened #615 "Model Explainability"

[2020-03-23 21:55] JakeRadMSFT opened #616 "Users can re-open Model Builder to its last saved state and can add multiple models to the same solution"
[Design spec](https://microsoft-my.sharepoint.com/:w:/r/personal/jakerad_microsoft_com/_layouts/15/doc2.aspx?action=edit&sourcedoc=%7Beccf0c61-3cfa-4ba6-8d7b-b60429b1cc8f%7D&cid=6ef14f3e-35cf-4728-873c-138b5909f2bf)

[Plan Doc](https://microsoft.sharepoint.com/teams/ML.NETModelBuilder/_layouts/OneNote.aspx?id=%2Fteams%2FML.NETModelBuilder%2FSiteAssets%2FML.NET%20Model%20Builder%20Notebook&wd=targe

[2020-03-23 21:58] JakeRadMSFT opened #617 "Deploy Model to Azure and Model Versioning"

[2020-03-24 17:55] #539 closed

[2020-03-24 17:56] #547 closed

[2020-03-24 17:56] #540 closed

[2020-03-24 17:56] #396 closed

[2020-03-24 17:57] #576 closed

[2020-03-24 18:16] JakeRadMSFT commented on #533
Resolving due to lack of activity. I believe this issue has been resolved in the latest version. If you still hit this issue .. please re-open!

Thanks for reporting!

[2020-03-24 18:16] #533 closed

[2020-03-24 18:17] JakeRadMSFT commented on #510
Resolving due to lack of activity. If you still hit this issue .. please re-open!

Thanks for reporting!

[2020-03-24 18:17] #510 closed

[2020-03-24 18:18] JakeRadMSFT commented on #568
Resolving due to lack of activity. If you still hit this issue .. please re-open!

Thanks for reporting!

[2020-03-24 18:18] #568 closed

[2020-03-24 18:18] JakeRadMSFT commented on #545
Resolving due to lack of activity. If you still hit this issue .. please re-open!

Thanks for reporting!

[2020-03-24 18:18] #545 closed

[2020-03-24 18:19] #578 closed

[2020-03-24 18:19] JakeRadMSFT commented on #578
Resolving due to lack of activity. If you still hit this issue .. please re-open!

Thanks for reporting!

[2020-03-24 22:23] luisquintanilla opened #618 "Unable to score using PredictionEnginePool with a pipeline/model that contains custom transforms"
Creating this issue to track dotnet/machinelearning#4965

Basically what's happening is, the pipelines used to save models trained on Azure as zip files contain custom transforms. `PredictionEnginePool` is the recommended way of working with `PredictionEngine` in multi-threaded environments. However, custom transforms that are saved as part of pipeline cannot be registered with `PredictionEnginePo

[2020-03-24 23:05] LittleLittleCloud commented on #588
did you add dotnet-tool path to the Path environment?
[code]

[2020-03-24 23:19] LittleLittleCloud commented on #587
Sorry for the late reply.

Based on the log, it says modelbuilder can't find tensorflow.dll in it's package and throws a DLL not found exception.

What's your system language, And can you go to %Temp%MLNET folder to see if there's a file named `resnet_v2_50_299.meta`?

@codemzs any ideas?

[2020-03-24 23:21] LittleLittleCloud commented on #601
Could you show us error message other than the stack trace

regards

[2020-03-24 23:28] LittleLittleCloud commented on #584
Accuracy after training is finished should be fixed after commit id 0d89134b1e1(Fix Dup Output), let me know if this bug appears after that commit

[2020-03-24 23:32] LittleLittleCloud commented on #582
Could you provide your Visual Studio's version? (Help -> About Microsoft Visual Studio)

[2020-03-24 23:34] LittleLittleCloud commented on #590
dup of #582

[2020-03-24 23:35] luislhg commented on #587
Hello, my system language/culture is PT-BR (ptBR).

Regarding the folder/file, it is never able to manually download the file, it always fails while downloading.

So I downloaded the resnet_v2_50_299.meta file myself through Chrome (https://aka.ms/mlnet-resources/resnet_v2_50_299.meta) and placed it there.
Then it can proceed, as it check the file exists, but when training the data it throw the ex

[2020-03-24 23:42] LittleLittleCloud commented on #599
It's not necessarily to be an error to have an empty field in data. (And why you have three labels in titanic dataset...)

[2020-03-24 23:47] LittleLittleCloud commented on #591
We are working on object detection and you should be able to see it in the next month or two.
if you just want to do gesture recognition ( like finding out whether your hand gesture is 6 or 1) and don't need the location information, you may just need to get enough training data ( and make sure in the training pictures, the target object is obviously enough) and training using image classification

[2020-03-25 00:04] LittleLittleCloud commented on #596
Sorry for the late reply.
how many columns do you have in your dataset, and does that also include some text field? usually it shouldn't take that much long time to train a 10000 row file.

[2020-03-25 00:28] beccamc commented on #565
This is working. Need to update Prose to newest version to fix the yelp dataset, but that is tracked in another issue.

[2020-03-25 00:28] #565 closed

[2020-03-25 08:35] pronobeshm commented on #582
Thanks for your reply.
My Visual Studio Version 2017 and it is community edition.

[2020-03-25 09:28] GreenShadeZhang commented on #591
Thank you for your reply I'll try image classification first, look forward to your new features.

[2020-03-25 15:20] devopriyo85 opened #619 "Getting Error while adding Machine learning reference in solution"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
Operating System: windows 8

While adding Machine leaning Item to the solution.I am getting below error

exception has been thrown by the target of an invocation.

[2020-03-25 16:14] #571 closed

[2020-03-25 17:13] #591 closed

[2020-03-25 17:14] LittleLittleCloud commented on #591
Close this for clean up board, feel free to re-open it should you have any questions

[2020-03-25 21:55] beccamc opened #620 "Not all links are operational"
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/592a238b-5fe1-486b-bdaf-6fc2f5c11d60)
These don't work..

https://aka.ms/mlnet-cli-docs
https://aka.ms/mlnet-cli-telemetry

[2020-03-25 22:04] LittleLittleCloud opened #621 "Miss warning msg when there's contradiction in inferring header"
mlnet-cli should show warning message if --has-header flag is contradicted with auto-detected result.

[2020-03-25 22:09] luisquintanilla opened #622 "More Friendly Errors"
**System Information (please complete the following information):**

 - Model Builder Version: CLI 16.1.0

**Describe the bug**

When trying to run classification on a file with no header, not specifying has-header value and providing the column index displays the whole stack trace. It would be nice to display a more friendly error instead of the stack trace. Add the stack trace to the log and poi

[2020-03-25 22:19] luisquintanilla opened #623 "Auto-detect headers"
**System Information (please complete the following information):**
 - Model Builder Version: CLI 16.1.0

Training on a file without header because has-header flag default is true takes the first row as the column names. It would be good to have it default to false and autodetect/generate headers unless users explicitly say it had header.

Dataset:
[code]

Command:

[code]

ModelInput:
[code]

[2020-03-25 22:21] LittleLittleCloud opened #624 "Error in CodeGen Model Path"
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/16cca6fa-91cb-4f3b-a475-bf25d34199bb)

[2020-03-25 22:21] LittleLittleCloud opened #625 "Showing warning msg when has-header flag does not match with detection result"

[2020-03-25 23:59] LittleLittleCloud opened #626 "Some ideas in making ModelBuilder more reliable in machine learning"
ModelBuilder only picks the best model and dispose of the left ones right now. But there's chances that model performs best in train dataset doesn't necessarily perform well in the dataset that it doesn't see (Known as generalization ability). Using CV allows us to pick the model that has the best generalization ability on training dataset, but that's not always the case when it comes to unseen da

[2020-03-26 12:52] infiniteloopltd commented on #596
Hi @LittleLittleCloud  - Nice cat :)

The training data was text based, and the PC is a few years old.

My only suggestion, is that instead of this error appearing, is that if it could perhaps suggest to continue training the model for x more minutes?, rather than crashing, and having the user re-start the training process.

I would feel that people would prefer the model to complete training, rat

[2020-03-26 15:45] bmigette opened #627 "Input String format incorrect exception while training."
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2003.302
 - Visual Studio Version: 2019

**Describe the bug**
After training a model, Got an exception at the end. I could not go to Evaluate step.

I'm not sure about the translation of the exception, but it should be something like:
Input String format incorrect

Exception:
   à Microsoft.ML.ModelB

[2020-03-26 16:01] Lewis-Fam commented on #627
I received the same error following the ML tutorial (https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/data).

Visual Studio: v16.5.1
Model Builder: 16.0.2003.302

[2020-03-26 17:38] LittleLittleCloud commented on #587
Hey @codemzs  any updates on this issue?

[2020-03-26 18:38] LittleLittleCloud opened #628 "Object Detection Data Preview"
In the `Data` page, we need to figure out how to show the object frame properly

[2020-03-26 18:41] LittleLittleCloud opened #629 "ML.Net Object Detection"
integrate ML.Net Object Detection into AutoMLService (Not training)

https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_ObjectDetection_Onnx

[2020-03-26 18:43] LittleLittleCloud opened #630 "Azure AutoML Object Detection"
training Object Detection using Jasmie service, downloading artifact and wrapping it as ML.Net model

repo for Jasmie:
https://msdata.visualstudio.com/Vienna/_git/vienna?path=%2Fsrc%2Fazureml-api%2Fsrc%2FJasmine

[2020-03-26 18:44] LittleLittleCloud opened #631 "Object Detection try it out"
try it out UI for object detection

[2020-03-26 18:46] ZionLloyd05 opened #632 "Model Builder Error."
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/data
Operating System: windows

Error Encountered :
Model Builder Error.
![error](https://user-images.githubusercontent.com/40478221/77684128-c7252080-6f99-11ea-8b49-ec9e3200a830.jpg)

Stack Trace:
 at Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext()
--- End

[2020-03-26 18:46] LittleLittleCloud opened #633 "CodeGen update for Object Detection"
Should be able to share one CodeGen project for both ML.Net and Azure AutoML Object Detection

How to show object frame in console app

[2020-03-26 18:47] LittleLittleCloud opened #634 "Object Detection Secnario Page"
Azure - guided
Local - non-guided

[2020-03-26 18:48] LittleLittleCloud commented on #629
Maybe provide them with an OD onnx model zoo?

[2020-03-26 19:20] justinormont commented on #596
@infiniteloopltd : What's the size of your dataset in MB? What is your task? (regression/classification)

If classification, how many classes do you have? The number of classes have large effect on runtime, as for most of our trainers, it multiplies the amount of work needed.

Text datasets are expected to take longer than categorical or numeric.

Generally runtimes are: _(slow)_ Images >> Text >>

[2020-03-26 22:32] beccamc commented on #586
Verified! Closing

[2020-03-26 22:32] #586 closed

[2020-03-26 22:34] JakeRadMSFT commented on #602
Thanks for reporting! @LittleLittleCloud can you check that the upcoming release works with just 3.1.1 on the machine?

[2020-03-26 22:37] JakeRadMSFT commented on #602
@biztudio you can download the needed run time from here:

https://dotnet.microsoft.com/download/dotnet-core/2.1

[2020-03-27 00:17] beccamc commented on #324
This bug fixed only for bad file _formats_ (e.g. not .csv or .tsv). Basically it checks if it's a valid file extension before setting fileName to the new file. If it's a bad file type then it doesn't overwrite and tells the user it's using the previous file.

It doesn't revert the selection once we start processing the file. In other words, if you pick BadFile.tsv and we can't process it, we aren'

[2020-03-27 00:22] beccamc commented on #324
Closing. Will reopen if customers hit.

[2020-03-27 00:22] #324 closed

[2020-03-27 10:00] GreenShadeZhang opened #635 "Byte array input for Image classification prediction"
When I used the tool for image classification training and then generated the console program, I had a question about the model input parameters in the sample code as follows
[code]
 ModelInput is as follows
[code]

My question is if I want to read the image directly from the camera and convert it to byte for classification, but the parameters in the example seem to be just the path of the image,

[2020-03-27 18:16] JakeRadMSFT opened #636 "Accessibility"

[2020-03-27 18:16] JakeRadMSFT opened #637 "Localization"

[2020-03-28 11:08] dipeshtare opened #638 "Training time finished without any models trained. #ML.NET"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
   at Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext() in E:\

[2020-03-28 19:20] Tamilmaniaraja opened #639 "Unable to run the commend provided"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/evaluate
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I'm getting the following error.

"**It was not possible to find any compatible framework version
The framework

[2020-03-29 14:47] Abh1sh3kSaxena opened #640 "mlnet not compatible with dotnet core 3.1"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: Ubuntu 18.04.3

Initially path variable did not udpate after installation of mlnet after running mlnet using absolute path got below error. Please confirm if mlnet is not supported in later versions of dotnetcore
_

_

[2020-03-30 17:39] LittleLittleCloud commented on #596
@infiniteloopltd  I'm going to close this issue for clean up portal, should you have any questions, feel free to re-open it.

[2020-03-30 17:39] #596 closed

[2020-03-30 18:12] beccamc commented on #562
New "buttons" are working! Closing.

[2020-03-30 18:12] #562 closed

[2020-03-30 18:19] beccamc commented on #597
Looks good! closing.

[2020-03-30 18:19] #597 closed

[2020-03-30 18:21] beccamc commented on #598
@LittleLittleCloud Can you add more information or a link to the PR here? I'm not sure what I need to validate :)

[2020-03-30 19:03] zewditu commented on #595
@beccamc , I use Vs telemetry monitor to validate this fix and I walked  Image classification-> Azure environment  -> create  new experiment -> edit experiment  > select image folder but i could not see any of the above events. is there any other way to validate it ?

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/9f2f9d6a-302c-4778-9fd0-6b5cd0871c07)

[2020-03-30 19:06] v-mepa opened #641 "Feb Usabilla Feedback: ML.NET Tutorial"
**User Comment 1:** Doesn't work. Error with latest ml version.
**URL:** https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
**Screenshot:**  https://u4w-screenshots-production.s3.amazonaws.com/5e580b57e7703e50475b50cc/screenshot

**User Comment 2:** Doesn't see Machine Learning option, why? I have installed ,Net Core 2.1 SDK, restarted PC, removed ML.Builder, restared PC aga

[2020-03-30 19:08] v-mepa commented on #641
@briacht I tried assigning this to you but it wont let me.

[2020-03-30 21:05] JakeRadMSFT commented on #583
Please investigate

[2020-03-30 21:10] JakeRadMSFT commented on #621
@LittleLittleCloud can you add more details?

[2020-03-30 21:15] JakeRadMSFT commented on #623
@justinormont @beccamc do we have anything that is good at guessing if there is a header?

[2020-03-30 21:18] JakeRadMSFT opened #642 "Users have options for more advanced data loading options in case tooling processes datasets incorrectly"

[2020-03-30 21:24] JakeRadMSFT commented on #632
Hello,
Sorry you're hitting this error.

- How big is your dataset?
- How long did you train for?
- What scenario type did you choose?

[2020-03-30 21:25] JakeRadMSFT commented on #638
Hello,
Sorry you're hitting this error.

- How big is your dataset?
- How long did you train for?
- What scenario type did you choose?

[2020-03-30 23:01] arodrigu12 opened #643 "Value cannot be null. Parameter name: process (ErrorKind: Error HResult: 80004003)"
**System Information (please complete the following information):**
 - Model Builder Version: the latest as of 3/20/2020
 - Visual Studio Version: Microsoft Visual Studio Community 2019
Version 16.5.1

Additional information about my system:
System Type	X86-based PC
Processor	Pentium(R) Dual-Core CPU       T4400  @ 2.20GHz, 2200 Mhz, 2 Core(s), 2 Logical Processor(s)
Installed Physical Memory (RAM

[2020-03-30 23:16] briacht commented on #620
I've updated the aka links so they should work now

[2020-03-31 00:00] beccamc opened #644 "Fix feature flags"
Add json parser to read our home grown feature flags

[2020-03-31 00:13] bsoulier opened #645 "ML.NET CLI performance with more cores"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Would the ML.NET CLI benefit from having more cores at its disposal when training on big amount of data (meaning quicker time to compute a model)?

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-03-31 12:57] Tzamana opened #646 "big eror"
my 2019 VS writed this to me when i tried to train my app
"Provided label column 'Sentiment' was of type Boolean, but only type Single is allowed."

 at Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext() in E:\A\_work\1326\s\Microsoft.ML.ModelBuilder.AutoMLService\Experiments\AutoMLExperiment.cs:line 108
--- End of stack trace from previous locati

[2020-03-31 12:59] #646 closed

[2020-03-31 19:57] barlowjc opened #647 "Update SQL to use streaming to fix System.OutOfMemoryException"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: windows

First off, I am new to ML.NET (and ML as a whole) and I've never filed a bug on GitHub so... sorry if I suck at this.

I am trying to set up a model using a SQL Server table as my data source. I am selecting one label and 18 features from the same table and this table contains

[2020-03-31 22:04] #624 closed

[2020-04-01 13:58] marcselis opened #648 "VS2019 crashes with the CreditCardFraud dataset from Kaggle"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: windows

When training a new model from the CreditCardFraud dataset from Kaggle
(https://www.kaggle.com/mlg-ulb/creditcardfraud), Visual Studio 2019 16.5.2 crashes after starting the training, activating another window and reactivating Visual Studio.

[2020-04-01 17:07] LittleLittleCloud commented on #640
Right now mlnet only works on dotnet core 2.1, but we are working on making it compatible with dotnet3.1 and it will come out pretty soon

#256

[2020-04-01 17:09] LittleLittleCloud commented on #645
@justinormont Will we get bonus training using AutoML.Net when we have more cores

[2020-04-01 17:15] LittleLittleCloud commented on #623
Add a third option for `has-header` flag should be able to solve this

[2020-04-01 17:17] LittleLittleCloud commented on #604
it's ~240MB right now

[2020-04-01 18:34] boblooney2 commented on #579
Similar issue, different test case.  If your CSV contains a string field that is correctly escaped and contains a comma, it will error.  If you remove the comma, it is fine.

0,"Hello, this is a test"  <-- error
0,"Hello this is a test"  <-- works

[2020-04-01 19:54] justinormont commented on #645
Yes ML․NET is multi-threaded, though its use in AutoML should be improved.

See https://github.com/dotnet/machinelearning/issues/4092:

The `NumberOfThreads` task would be quite easy to implement (if it's even needed anymore). Part of that would be to check if ML․NET is currently defaulting a reasonable number of threads for the transforms, trainers, and the pipeline. Some background on threading

[2020-04-01 21:14] briacht commented on #641
Hey @v-mepa , none of these links for the screenshots work

[2020-04-01 21:17] briacht commented on #641
I believe the only actionable feedback (without further info) is:
**User Comment 3** - release CLI for .NET Core 3.1 (which will be our next release)
**User Comment 5** - use the yelp dataset for the getting started tutorial once Model Builder accepts files with no headers

[2020-04-01 21:31] v-mepa commented on #641
The screenshots are only available for a month from the day feedback was logged, we have streamlined the process and trying to share feedback on a bi-weekly basis. These feedback were from Feb 2020. I will start adding the dates to issues so that you don't miss out on screenshots.

[2020-04-01 21:39] v-mepa opened #649 "Mar (1-31st) Usabilla Feedback: ML.NET tutorial"
**User Comment 1:** I have Visual Studio 2019 and can't seem to find Machine Learning.
**URL:** https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
**Screenshot:** https://u4w-screenshots-production.s3.amazonaws.com/5e681a67d6b09b0f832e07d5/screenshot

**User Comment 2:** Can this be done for VC++?
**URL:** https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/crea

[2020-04-02 06:11] ZionLloyd05 commented on #632
Hey, thanks for choosing to help out.

I was trying to follow the sentiment analyzer tutorial on the ml.net docs online, that was where I hit the error. But I think I had a way through it recently, I simply tried the whole thing again, new project i mean, and it worked.
Although if such repeats itself again, I might not be able to solve it, that's the fear

[2020-04-02 13:01] RashiqueR opened #650 "'mlnet' not found"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-02 17:09] beccamc commented on #514
Per discussion with Bri, Azure training time should include the whole time user is running the experiment, even if Azure isn't actually training yet (preparing compute, etc. included). I did not update to use the training time by azure. Instead I renamed the Azure Training time to Total time. Local experiences should still say TrainingTime

![image.png](https://images.zenhubusercontent.com/5d55c3d

[2020-04-02 17:11] beccamc commented on #594
This is very difficult to verify because it is the absence of a flakey error message. I'm going to close this. @briacht please let me know if you see this again!

[2020-04-02 17:11] #594 closed

[2020-04-02 17:14] beccamc commented on #570
To update the buttons to say custom actions like "Retry" and "Cancel" we'd need to build a custom control. This seemed out of scope for this fix. I just changed the text to make the Yes/No action more clear by adding a "Would you like to retry?" at the end of the message.

[2020-04-02 17:49] beccamc commented on #462
Fixed the screen to be disabled on reload. For the issue Zewditu found above, we don't fire an update until the textbox loses focus. This the wpf textbox behavior. If you were to clicked the create button with no name, it would pop and error message. We can fix this later if customers complain.

[2020-04-02 18:00] beccamc commented on #491
I've updated our links to all open with the same utility. It uses the VS browser default "Open with..."  To change it you need to right click on a web file in VS and select "Open with.." (if anyone knows an easier way to change, let me know!)

Browser links are now opening in my preferred web browser (new chromium edge) and popping to the front of the screen.

[2020-04-02 18:02] beccamc commented on #491
This PR https://github.com/dotnet/machinelearning-tools/pull/581

[2020-04-02 18:18] LittleLittleCloud commented on #648
Hey @marcselis . I can't reproduce the error on my computer, could you provide more details on it. Thanks

[2020-04-02 18:49] zewditu commented on #491
when links clicked browsers get focused

[2020-04-02 20:21] briacht commented on #622
I think your error was that you chose col index of 4 when there's only 2 columns in the dataset (but yes that should have friendlier error).

[2020-04-02 20:25] beccamc commented on #581
Validated.

[2020-04-02 21:05] zewditu commented on #514
validated

[2020-04-02 21:34] zewditu commented on #570
@beccamc  just I disconnect my connection to  validate this,  but I am not sure is this right way to do it? if yes , it does not display  retry connection dialog instead model builder error  as shown in the following screenshot
 ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/234284ca-9869-4ac1-a17b-1d0165ec220b)

[2020-04-02 22:28] LittleLittleCloud commented on #650
Could you check if you add dotnet tool's path to `PATH` variable
`export PATH="$PATH:/root/.dotnet/tools"`

[2020-04-02 23:52] Lynx1820 opened #652 "Model builder hangs on large datasets"
**System Information:**
 - Model Builder Version: 16.0.2003.302
 - Visual Studio Version: 2019 Preview

**Describe the bug**
When trying to load a large file in the Data step, VS hangs ("Not responding").

**To Reproduce**
Load a dataset of size 1TB w/ 4.4B rows.

![image](https://user-images.githubusercontent.com/10573634/78310194-0c999e80-7502-11ea-8fa2-ebe3e1b24cd2.png)
**Additional context**

[2020-04-03 00:23] zewditu commented on #462
validated

[2020-04-03 02:36] zewditu commented on #570
when the polling dialog come  it still says yes,/No
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/a8e4668b-df34-4755-92cd-49552839e193)

[2020-04-03 02:40] zewditu commented on #570
when we  click No it display ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/1469ed96-74c7-4155-9995-2ad023d32d44)
?
or just cancel  training ?

[2020-04-03 02:46] zewditu commented on #566
Validated

[2020-04-03 02:54] zewditu commented on #620
validated

[2020-04-03 11:58] marcselis commented on #648
I am following the tutorial in the link above, but I'm using the 155Mb input file from kaggle instead of the input file that is proposed in the tutorial.  When I come to the stage to start training the model it proposes to spend 1800 seconds on training.
After I click "start training", the trainign process starts and the progress keeps updating like expected.

But when I use my computer to do some

[2020-04-03 18:18] ttstanley opened #653 "System.IO.FileNotFoundException: 'Could not load file or assembly 'Microsoft.ML.Data, Version=1.0.0.0,"
**System Information (please complete the following information):**
 - Model Builder Version: N/A
 - Visual Studio Version Version 16.5.2

**Describe the bug**
When trying to use ConsumeModel.predict(); in my WPF app, I get a System.IO.FileNotFoundException:

**To Reproduce**
Steps to reproduce the behavior:
1. Run my project
2. Click the 'Next' box on application
3. choose a random image from "br

[2020-04-03 23:54] beccamc commented on #570
To respond to the three questions/comments you posted...
1. The polling is supposed to show up during training/polling. Ideally we would show a better message for disconnecting during setup but that would be a different item
2. We would have to write a custom control to have it say Retry so I fixed it in a different way. Per my other comment
![image](https://user-images.githubusercontent.com/91225

[2020-04-04 21:50] frankhaugen opened #654 ""Cannot find service module info file" Exception during training-stage"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2003.302
 - Visual Studio Version: 16.6.0 Preview 2.1

(Stack trace and csv-data at the bottom)

**Describe the bug**
When running the training in the Model Builder it crashes with a "Cannot find service module info file"

Detailed message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-04-06 18:26] beccamc commented on #595
The logging of open create experiment was happening after closing the dialog. I've fixed that in this PR. I went through and doubled checked everything else was fixed. See screenshots below.

Fix image bugs...
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/4604fbfd-543f-4a21-b90e-88e0afbaa123)

Open Create experiment
![image.png](https://images.zenhubusercontent.com/5d5

[2020-04-06 18:33] LittleLittleCloud opened #655 "Add project capabilities"
if generated by ModelBuilder, will add
`<ProjectCapability Include="ModelBuilderGenerated" />`
else
`<ProjectCapability Include="MLNETCLIGenerated" />`
to .Model and .Console project

[2020-04-06 18:36] beccamc commented on #519
I'm not sure what to validate here.... @JakeRadMSFT maybe we should just have another azure bash and investigate any issues people run into?

[2020-04-06 18:37] LittleLittleCloud commented on #648
Can you reproduce the crash
@JakeRadMSFT Do you know where can we check VS's crash logs

[2020-04-06 18:51] beccamc commented on #598
Confirmed we have no output with AutoMLServiceLogger.

[2020-04-06 18:51] #598 closed

[2020-04-06 18:54] LittleLittleCloud commented on #647
Sorry for the late reply
ModelBuilder is a 32-bit extension since Visual Studio is 32bit. So it can reach only 4 GB Ram at most.
@beccamc Maybe we need to use streaming to download large sql and write to file

[2020-04-06 19:26] zewditu commented on #570
@beccamc  thanks for your explanation . I think we need create new Item to display ideal message when connection lost during setup.

[2020-04-06 19:27] LittleLittleCloud commented on #653
Right now ML.Net doesn't work well with default netstandard project sdk, can you use [.net core project sdk(Microsoft.NET.Sdk.WindowsDesktop)](https://docs.microsoft.com/en-us/dotnet/core/project-sdk/overview) to build your package instead?

[2020-04-06 19:28] JakeRadMSFT commented on #647
@LittleLittleCloud we should move the SQL code to a ServiceHubService - It's 64bit over there.

Also, why would we need more than 4gb at a time. It should be streaming?

[2020-04-06 21:05] zewditu commented on #570
validated

[2020-04-06 21:08] zewditu commented on #603
Validated

[2020-04-06 21:23] zewditu commented on #595
validated

[2020-04-06 22:09] beccamc opened #656 "Dataset Consumption Errors and Feature Requests"
Epic for Dataset Consumption Errors and Feature Requests

[2020-04-06 22:10] JakeRadMSFT commented on #652
@beccamc can we add this to our datasets issue.

[2020-04-06 22:36] zewditu commented on #457
validated
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/362f8b70-4ab0-4ca0-b038-b9506aaae878)

[2020-04-06 22:38] beccamc commented on #621
@LittleLittleCloud I'm assuming this is a dataset with a weird header. Can you share the dataset?

[2020-04-06 22:57] zewditu opened #657 "If connection lost during Azure set up for training the right message not displayed"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
if intent connection is lost while the user is setting up for azure  taring we have to tell explicitly for the user as they have connection issue

**Steps to Reproduce**
1. _Select Image classification scenar

[2020-04-07 07:02] marcselis commented on #648
Yes I can reproduce the problem.
Steps:
1. start visual studio
2. create a new .NET Core 3.1 console project
3. click add, "Machine Learning"
4. Choose Sentiment Analysis
5. Choose File input and select the creditcard.csv file
6. Set "Column to predict label" to "class"
7. Click the "Train" button
8. Click the "Start Training" button.  The training time counter starts decreasing.
9. Activate anoth

[2020-04-07 07:09] marcselis commented on #648
There is even an easier way to make Visual Studio crash I found out while documenting the steps above: if you activate another window after step 5 above and then reactivate Visual Studio again, the "Visual Studio 2019 stopped working" dialog appears quasi immediately.
[VSLog2.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/4442537/VSLog2.zip)

[2020-04-07 10:27] SandhyaKourla opened #658 "dataset error"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2020-04-07 10:56] marwanatefgaber opened #659 "Sentiment Analysis Model - Error on Training"
Problem encountered on Visual Studio 2017 - Sentiment Analysis Model
Operating System: windows

After Training Visual Studio Gives me this error  >

Error Details :  at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at Microsoft.ML.CodeGenerator.Utilities.Utils.CreateSolutionFile(String solutionFile, String outputPath)
   at Microsoft.ML.CodeGenerator.CSharp.CodeG

[2020-04-07 12:24] pokusnik commented on #638
Hi, unfortunately I have the same problem:
Visual Studio 16.5.2, ML.NET Model Builder 16.0.2003.302

- dataset is simple csv with two columns

input,result
1,10
2,20
3,30
4,40
5,50
6,60

- train for 10s
- scenario Price Prediction (or Custom with regression)

[2020-04-07 12:27] pokusnik commented on #638
Hi, unfortunately I have the same problem:
Visual Studio 16.5.2, ML.NET Model Builder 16.0.2003.302
dataset is simple csv with two columns
input,result
1,10
2,20
3,30
4,40
5,50
6,60
train for 10s
scenario Price Prediction (or Custom with regression)

[2020-04-07 17:49] LittleLittleCloud commented on #645
I'm going to close this issue for clear up, feel free to re-open it whenever you have questions.

[2020-04-07 17:49] #645 closed

[2020-04-07 17:50] LittleLittleCloud commented on #640
Upgrade to 3.1 in this [PR](https://github.com/dotnet/machinelearning-tools/pull/598)

[2020-04-07 23:46] #573 closed

[2020-04-07 23:46] beccamc commented on #573
This should be fixed from PR [592](https://github.com/dotnet/machinelearning-tools/pull/592). Forbidden codes weren't triggering retries until that fix.

This can't easily be tested because its the absence of an external timeout error. @briacht please let me know if you see this again!

[2020-04-08 00:24] zewditu commented on #619
@devopriyo85  thanks for reporting . What version Visual Studio you used?

[2020-04-08 04:17] SH2015 opened #660 "Error while training"
**System Information (please complete the following information):**
 - Model Builder Version: Latest as of today (2020-04-08 )
 - Visual Studio Version : 2019

**Describe the bug**
A clear and concise description of what the bug is.
   at Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext() in E:\A\_work\1326\s\Microsoft.ML.ModelBuilder.AutoMLServic

[2020-04-08 13:42] 11nallan11 opened #661 "Issue Classification Scenario Fails After Multiple Refinements"
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2003.302
 - Visual Studio 2019 Enterprise

**Describe the bug**
Using the Issue Classification Scenario:
After a failed attempt to Train, I revisited the Data screen and changed some of the columns. I then attempted another Train that failed again. I changed more of the columns settings and attempted

[2020-04-08 14:02] 11nallan11 commented on #661
More Additional Context:
The first attempt to train produced this exception:
![image](https://user-images.githubusercontent.com/5529097/78793186-f3816980-79a9-11ea-9183-03a4f0ce81e2.png)

[2020-04-08 17:16] LittleLittleCloud commented on #648
Hey @marcselis, we might need your dump file for further diagnosis.  Could you follow this [link](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019#record-a-repro) and report the issue that you find, thanks

[2020-04-08 17:22] LittleLittleCloud commented on #659
Hi, thanks for your report, It seems that ModelBuilder can't access the location of the solutionFile, maybe it's used by some other process? And BTW could you provide your error message?

[2020-04-08 17:24] LittleLittleCloud commented on #660
What's your training scenario (Is that regression?) label and error message

[2020-04-08 17:32] LittleLittleCloud commented on #661
Looks like a bug to me as issue classification should be able to accept all data type as features.
Is that possible for you to provide part of your dataset, you can clear schema information if you have concern over security matters.

[2020-04-08 17:36] LittleLittleCloud commented on #662
Can you go to the `code` page and there's a button names `Add to projects`. Simply click that to add model to your project

[2020-04-08 17:46] LittleLittleCloud commented on #621
It's not a dataset problem, going to move it from `Dataset Failure` epic

[2020-04-09 01:04] SH2015 commented on #660
It is regression, the dataset is very simple

[2020-04-09 09:07] 11nallan11 commented on #661
Thanks for your quick response to this issue! Here is a copy of the file with all the characters scrambled. The instances of characters are the same, so it should generate the same results. When I encountered the exception, it was using the 'Purpose' column as the Label. Using a different column ('Returns') did not produce an exception, although leaving it running through the night did not result

[2020-04-09 10:20] marcselis commented on #648
Hi @LittleLittleCloud, problem report can be found here: https://developercommunity.visualstudio.com/content/problem/984205/vs2019-1953-crash-while-using-microsoftml-modelbui.html

[2020-04-09 16:24] Gaz819 opened #663 "program"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-09 16:24] #663 closed

[2020-04-09 19:42] #614 closed

[2020-04-09 19:51] zewditu commented on #613
https://www.figma.com/file/jZ6RROEeT5GxcS6Q5zHugU/Updated-Test%2C-Evaluate%2C-%26-Next-Step-Pages---Kaitlin?node-id=60%3A3666

[2020-04-09 23:05] JakeRadMSFT opened #664 "Azure Compute Improvements"
- [ ] Add support for V3 Computes (Likely requires Low Priority Support below)
- [x] Add support for Low Priority Compute Creation
- [x] NC6 should work
- [ ] Right now there is no benefit to using NC12/NC24 over NC6 ... this is coming in a couple months.
- [ ] Expose availability/quota to user.

[2020-04-10 07:55] infiniteloopltd opened #665 "System.OutOfMemoryException"
**System Information (please complete the following information):**
 - Model Builder Version: 1.4.1 (I think)
 - Visual Studio Version: 2017 Pro

**Describe the bug**
A clear and concise description of what the bug is.
When training on a large dataset (56 features, 1.2 million rows - all floats), the ML builder crashes during "Downloading data" (from SQL server), with an OutOfMemoryException.

The

[2020-04-10 17:59] hellomrsun commented on #337
I've met the same error.
|     Trainer                              MicroAccuracy  MacroAccuracy  Duration #Iteration                     |

Because I have a large data set, and the train time is short, and it stopped each time with a MoveNext() exception.

I trained a smaller data set with longer train time, it worked.
So it's just the train time was not long enough.

[2020-04-10 18:33] zewditu opened #667 "Train page update"

[2020-04-10 19:58] zewditu opened #668 "Environment change after training started --->canceled does not work"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. Select Image classification
2.  Complete Azure setup
3. Go to  Train tab and start straining
4. cancel training after a while
5

[2020-04-10 20:28] JakeRadMSFT opened #669 "I think there is a blocking error message but I can't find it/close it."
I hit an issue where the compute failed to create. I believe there is an error dialog blocking me from clicking in the UI. I'll have to force close VS to get around it.

Nothing is clickable:

![image](https://user-images.githubusercontent.com/31937616/79020920-070a0d00-7b2f-11ea-85e7-390366ddcab5.png)

[2020-04-10 20:31] JakeRadMSFT commented on #669
I think the issue was actually that the parent window had focus. In this case the Azure Machine Learning parent dialog had focus. I was able to tab around using my keyboard to bring focus to the front dialog.

[2020-04-10 20:41] JakeRadMSFT commented on #664
NC6 works.
Low Pri works

[2020-04-10 20:41] JakeRadMSFT commented on #664
V2 and V3 Fail with:
Provisioning error: Long running operation failed with status 'Failed'. Additional Info:'The specified vmSize STANDARD_NC6S_V3 belongs to a specialty Sku. It requires your subscription to be whitelisted. Please contact support to whitelist your subscription for this vmSize'

[2020-04-10 20:42] JakeRadMSFT commented on #664
Submitted a request to increase quota using the support tool in the portal:

https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview

[2020-04-10 20:57] zewditu commented on #668
I think , it is  because we change the environment without changing the data in which where new train  is created

[2020-04-10 21:00] JakeRadMSFT commented on #664
Spot Pricing is essentially what we leverage with Low Priority:

![image.png](https://images.zenhubusercontent.com/5cde1c65e3106e39e8ae08f2/797cd9b2-bb9a-4e35-bbb7-8d44805374ce)

https://azure.microsoft.com/en-us/pricing/details/virtual-machine-scale-sets/linux/#ncv3-series

[2020-04-10 21:06] JakeRadMSFT commented on #664
https://azure.microsoft.com/en-us/pricing/details/machine-learning/

The Enterprise edition is currently in preview and there will be no ML surcharge during this time.

[2020-04-10 21:39] JakeRadMSFT commented on #664
It looks like it's on the order of:

$5 for 24 hours of training time on an NC6 Low Priority
$15 for 24 hours of training time on an NC6 V3 Low Priority (V3 are 4-6x faster)

Dedicated is about 5x the cost of Low Priority.

[2020-04-12 10:21] slobo80 commented on #638
I have the same problem.
Q: How big is your dataset?
A: 30 rows. 8 features
Q: How long did you train for?
A: 10 seconds
Q: What scenario type did you choose?
A: price prediction

**Visual Studio information**

Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.6.0 Preview 3.0 [30005.37.master]
VisualStudio.16.IntPreview/16.6.0-pre.3.0+30005.37.master
Microsoft .NET Framework
Version 4

[2020-04-13 17:03] LittleLittleCloud commented on #588
Going to close this issue since no one responses for over 7 days, feel free to re-open it though

[2020-04-13 17:03] #588 closed

[2020-04-13 17:05] LittleLittleCloud commented on #648
Thanks

[2020-04-13 18:06] LittleLittleCloud opened #670 "Log tracing information to tmp file in ModelBuilder"
Following what cli does, creating and logging detailed info into a temp file, which can be of great help in debugging and investigating customer feedback

Things that we want to log
- [x] serialize information of data context
- [x] User operation (saying, jumping to a different page)
- [x] AutoMLService Log

[2020-04-13 18:35] harishsk commented on #671
@JakeRadMSFT I don't see this bug repro in the latest master build. I am transferring this issue over for you to resolve and close as you see fit.

[2020-04-13 20:12] beccamc commented on #665
Thanks for reporting with details @infiniteloopltd! This looks like a duplicate of #647 . Please follow 647 for updates on this fix.

[2020-04-13 20:13] beccamc commented on #658
@SandhyaKourla Sorry you've run into problems using Model Builder. Could you provide more details on the error you experienced? If possible, please attach the dataset that has problems. Thanks!

[2020-04-13 21:46] beccamc opened #672 "Better predict training times"
Our [current guidelines](https://aka.ms/vsmbtrain) for training time doesn't work with some datasets.

Building an ML model to predict how long training should take.

[2020-04-13 21:47] beccamc commented on #662
@NVentimiglia You're absolutely right, thank you for reporting. I've made a few fixes that should help.
1. I added the logging to the output pane
2. An error dialog should have been shown. It might have popped up behind the VS instance. I've fixed it so it should pop up in front.

I've tested with the dataset you provided and I get a result that should put you on the right track:
![image](https://

[2020-04-13 21:49] beccamc commented on #662
@SkyQuant Can you see an "Add projects" button in the "Code" tab (bottom of left hand navigation) ?

[2020-04-13 22:00] beccamc commented on #650
@RashiqueR Did Xiaoyun's suggestion above help?

[2020-04-13 22:24] JacksonKearl commented on #640
@LittleLittleCloud the PR is 404ing, what is status of upgrade?

[2020-04-13 22:53] JakeRadMSFT opened #673 "Design/Spec Requests"
- [ ] Data Upload to Data Screen

[2020-04-13 23:18] JakeRadMSFT opened #674 "Simplify Local -> Azure Training"

[2020-04-13 23:26] JakeRadMSFT opened #675 "Add Feedback Button to each page"

[2020-04-13 23:40] beccamc commented on #639
Sorry you ran into this issue and thanks for reporting @Tamilmaniaraja! We've fixed this problem and it'll be available in our next release of the ML.NET CLI.

Until then, you can get unblocked by installing 2.1.0 from here - https://dotnet.microsoft.com/download/dotnet-core/2.1.  Sorry this link wasn't more accessible!

[2020-04-14 00:11] beccamc commented on #459
@danielcamps or @perkst Any additional info regarding Xiaoyun's questions above? Does this still repro for you with the latest version?

[2020-04-14 00:24] beccamc commented on #423
@mkArtak Sorry for the long delay in response on this issue. Are you trying with the sample dataset [Wikipedia detox dataset](https://raw.githubusercontent.com/dotnet/machinelearning/master/test/data/wikipedia-detox-250-line-data.tsv), or your own dataset?

[2020-04-14 04:15] dtdono0 opened #676 "No option to add ML module"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
Operating System: Windows 8.1
Visual Studio 2019 v16.5.2

I installed the ML.NET Model Builder extension, restarted VS, created a new project, tried to add it to the project, but was not seeing a 'Machine Learning' option under Docker Support in the context menu.  I also noticed it isn't appearing in my

[2020-04-14 17:21] beccamc commented on #601
@rasikhegde Can you provide more information about the problem, including the error message. Are you still seeing a problem?

[2020-04-14 17:24] beccamc commented on #632
@ZionLloyd05 Thanks for reporting! It sounds like you fixed the problem. If this repeats itself, please let us know by commenting here or opening a new issue. Thanks!

[2020-04-14 17:24] #632 closed

[2020-04-14 17:31] beccamc commented on #653
Tevin resolved this. Closing

[2020-04-14 17:31] #653 closed

[2020-04-14 17:37] beccamc commented on #402
@AndersH92 Is this issue still happening? Could you share the dataset you were working with?

@quocdai92 Can you provide more details? Could you also provide the dataset you are working with?

Is the dataset failing because it runs out of time? You should see an error message pop up if that happens.

[2020-04-14 18:07] beccamc commented on #502
@michalkubis Unfortunately this machine isn't powerful enough. We do now offer training on Azure if you need more power... although it sounds like you were able to complete this on another machine. Let us know if you run into any other issues. Thanks for reporting!

[2020-04-14 18:07] #502 closed

[2020-04-14 18:13] beccamc commented on #665
Closing this issue as duplicate. Please follow #647 for updates. Thank you for reporting!

[2020-04-14 18:13] #665 closed

[2020-04-14 18:14] beccamc commented on #659
@marwanatefgaber Thanks for reporting! Can you provide more details for the questions asked above?

[2020-04-14 18:19] beccamc commented on #582
Thanks for reporting @pronobeshm! I'm trying to reproduce this problem. I've used VS 2017 Community
![image](https://user-images.githubusercontent.com/9122518/79259474-a259f580-7e41-11ea-82da-720c39bf308a.png)

I am able to add Machine Learning...
![image](https://user-images.githubusercontent.com/9122518/79259545-bc93d380-7e41-11ea-801c-95e7f44f5902.png)

Can you please update to the latest versi

[2020-04-14 18:21] beccamc commented on #595
I'm closing this because I provided screenshots of all the fixes above.

[2020-04-14 18:21] #595 closed

[2020-04-14 20:49] beccamc commented on #356
Prose flat file parsing fixes the unrecognized data error for the jigsaw dataset. I'm still getting an error from inferColumns() so more works needs to be done here.

Titantic dataset works with the 16.6 preview release.

[2020-04-14 21:12] beccamc commented on #676
@dtdono0 Sorry you've run into this problem and thanks for reporting! It sounds like you've done everything right, installed and restarted.

Just to double check, the extension isn't disabled, correct?
![image](https://user-images.githubusercontent.com/9122518/79274716-d6d9ab80-7e59-11ea-9d95-14641a0bbdaf.png)

[2020-04-14 21:13] beccamc commented on #619
@devopriyo85 Friendly ping.  Can you share your version of visual studio? Thanks!

[2020-04-14 21:39] beccamc commented on #447
@cblake78 This bug was happening because your project has the solution and csproj in the same folder. We've fixed this! If you run the latest version of model builder on this solution again it will work. You'll need to re-run our code generation to get a working model.

Thanks for reporting!

[2020-04-14 21:39] #447 closed

[2020-04-14 23:42] kawilkin commented on #613
[Next Step Illustrations](https://app.zenhub.com/files/186917455/b1bb42c4-aeda-46bc-b10d-3ab82cfd3bd9/download)

[2020-04-14 23:46] kawilkin opened #677 "Update illustrations on scenario page"
**Describe the bug**
One of the color tokens for the Scenario page illustrations doesn't work correctly on dark and blue themes. I've updated the illustrations to remove the need for that token.

[updated-scenario-illustrations.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/4478301/updated-scenario-illustrations.zip)

[2020-04-15 06:25] mkArtak commented on #423
It was my own data set
[data.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/4479428/data.txt)

[2020-04-15 17:11] AndersH92 commented on #402
@beccamc No, I get one step further in the process. I.e. I get to evaluate step. However, there I get an error that say's that the input value is in the wrong format.

[2020-04-15 17:20] CBrauer opened #687 "A CLI-script does not produce the same results as the generated C# code."
Hey Guys,

I have found that the C# source code that is generated by the CLI script does not agree with the script output.

I have modified the solution that is generated by a cli-script to see it they agree.  The cli-script shows metric values that I cannot duplicate with the code that was generated by the script.

I believe that the MLModel.zip file is not for the optimal solution found by the s

[2020-04-15 18:19] LittleLittleCloud commented on #602
Dup of #256

[2020-04-15 18:19] #602 closed

[2020-04-15 20:07] beccamc commented on #402
@AndersH92 Can I see a screenshot of the error message and the data you're using?

[2020-04-15 20:29] beccamc commented on #423
@mkArtak Thanks for sharing the data! The dataset has a small error that blocks training. On line 17 there is a space instead of a tab between `830 `and `25`. Changing to a tab fixes the parsing error shown during training.

Even with that fix the dataset will still run out of time training. There are two reasons for this. 30 rows of data is a fairly small sample and difficult to train against (ML

[2020-04-15 20:34] beccamc commented on #660
@SH2015 It looks like we're running out of time training the model? There are two reasons for this. 30 rows of data is a fairly small sample and difficult to train against (ML.Net will split the set into 80% training and 20% testing). Additionally, it looks like the scenario you're trying to accomplish is more closely aligned to forecasting - predict future cases based on historical data.

Unfortu

[2020-04-15 20:37] beccamc commented on #283
@AceHack, sorry for the extremely long delay on this item. We think this has been fixed in the latest release of the CLI. If you're still experiencing issues please make sure you're targeting x64.

If you're still seeing problems please let me know.

[2020-04-15 20:42] beccamc commented on #272
@vinbrule Are you still experiencing this problem on the latest version of the CLI?

[2020-04-15 20:43] mkArtak commented on #423
Thanks @beccamc.
I understand that the data set was super small, it was not intended for a production use in any way, rather than a simple experimentation.

The only actionable feedback for you from this thread is to potentially expose a more relevant error message to the users, when the training fails due to data error.

[2020-04-15 20:52] beccamc commented on #638
Hi @pokusnik and @slobo80. Thanks for taking the time to report. The problem here is likely that the datasets you're using are too small. 30 rows of data is considered a small sample for ML.NET and is difficult to train against (ML.Net will split the set into 80% training and 20% testing).

Adding more data should allow the model to finish training. Can you share what you're trying to accomplish w

[2020-04-15 20:54] beccamc commented on #650
Please try adding dotnet tool's path to `PATH `variable. If you're still seeing a problem please comment and reopen this issue. Thanks for reporting!

[2020-04-15 20:54] #650 closed

[2020-04-15 21:08] beccamc commented on #424
This is a bug in the .NET Full Framework non-SDK-style project format. We are pursing a permanent fix with the .NET team.

To get unblocked, upgrade your .NET Framework project to use the [SDK-style](https://docs.microsoft.com/en-us/dotnet/standard/frameworks), or start a new project using .NET Core. Checkout this [blog ](https://www.hanselman.com/blog/UpgradingAnExistingNETProjectFilesToTheLeanNe

[2020-04-15 21:16] beccamc commented on #274
Posting the workaround for anyone else who encounters this issue..

This is a bug in the .NET Full Framework non-SDK-style project format. We are pursing a permanent fix with the .NET team.

To get unblocked, upgrade your .NET Framework project to use the [SDK-style](https://docs.microsoft.com/en-us/dotnet/standard/frameworks), or start a new project using .NET Core. Checkout this [blog ](https://

[2020-04-15 21:16] #274 closed

[2020-04-15 21:17] beccamc commented on #422
@philiplai Sorry for the delay in response. Solution below..

This is a bug in the .NET Full Framework non-SDK-style project format. We are pursing a permanent fix with the .NET team.

To get unblocked, upgrade your .NET Framework project to use the [SDK-style](https://docs.microsoft.com/en-us/dotnet/standard/frameworks), or start a new project using .NET Core. Checkout this [blog ](https://www.ha

[2020-04-15 21:21] slobo80 commented on #638
What would be large enough dataset?

[2020-04-15 22:51] #519 closed

[2020-04-15 23:27] beccamc commented on #638
@justinormont Can you provide some guidance on minimum file sizes? Thanks!

[2020-04-15 23:29] beccamc opened #678 "error in train"

[2020-04-15 23:29] #678 closed

[2020-04-15 23:29] beccamc commented on #678
I made this by mistake and don't know how to delete...

[2020-04-15 23:42] beccamc commented on #589
I want to wait for a decision about the ✔️ before completing this issue. The check isn't really based on the state of the page, but on what the customer has clicked on/ seen.

[2020-04-16 05:36] justinormont commented on #638
# Limitation from AutoML code

From the AutoML side, the smallest size which will run is pretty small. I'm not sure the minimum dataset size has been explicitly tested previously.

Quick test gave an answer of:
* 5 rows for **regression**
* 6 rows for **multi-class classification**
* 80-160 rows for **binary classification** (due to a fixable bug, more below)

Just because it runs, doesn't mean it

[2020-04-16 05:44] frankhaugen commented on #654
@JakeRadMSFT Have you had the opportunity to investigate this?

[2020-04-16 17:42] beccamc commented on #654
@frankhaugen Thanks for reporting with details, it makes the investigation much easier!

As of VS version 16.6 Preview 2, we've started shipping Model Builder with VS instead of as an extension. Based on your version numbers above, it looks like you have the VS with Model Builder (16.6 Preview 2) and Model Builder installed as an extension (16.0.2003.302).  Could you try uninstalling Model Builder

[2020-04-16 17:43] beccamc commented on #619
I don't currently have enough information to investigate this issue. If you're still seeing a problem, please reopen this issue and provide your VS version number. Thank you!

[2020-04-16 17:43] #619 closed

[2020-04-16 17:46] beccamc commented on #659
Unfortunately we don't have enough information to investigate this issue. If you're still seeing a problem, please provide answers to the above question and reopen. Thanks!

[2020-04-16 17:46] #659 closed

[2020-04-16 17:53] beccamc commented on #459
We don't have enough information to investigate this issue further. If you're still seeing a problem please...

1. Update to the latest Model Builder
2. Send us any updated error message.
3. Send the .tsv file in the %temp% folder produced from the downloaded sql.

Ping me and we'll re-open the issue. Thanks!

[2020-04-16 17:53] #459 closed

[2020-04-16 17:54] beccamc commented on #601
![image](https://user-images.githubusercontent.com/9122518/79489754-a10b0300-7fd0-11ea-9cfa-76d9089b111d.png)

[2020-04-16 17:54] #601 closed

[2020-04-16 17:56] #283 closed

[2020-04-16 17:58] beccamc commented on #424
Closing, please see workaround above. If you're still experiencing this problem please ping me and we'll reopen the issue. Thanks!

[2020-04-16 17:58] #424 closed

[2020-04-16 18:01] luisquintanilla opened #679 "Azure Training Image Classification - Model Deployment Improvements"
While working on a sample to demo Azure training, there were a few challenges. The ideal sample would deploy the model trained in Azure to a .NET Core WinForms / WPF application. Instead, the current sample hosts the model in an ASP.NET Core Web API as a service and consumes the API from a UWP application.

https://docs.microsoft.com/en-us/samples/dotnet/machinelearning-samples/mlnet-image-classif

[2020-04-16 18:09] JakeRadMSFT commented on #679
For #3 is there a different way to load images in UWP? I think we should be able to work around this ... we just might need a custom mapping and change the pipeline a bit.

[2020-04-16 18:10] JakeRadMSFT commented on #679
# 5 we just need to publish an update extension. We'll have to update all of our install instructions to use the new extension.

[2020-04-16 18:11] JakeRadMSFT commented on #679
Num 4 is in-progress

[2020-04-16 18:12] luisquintanilla commented on #679
Maybe. Re: # 3 the challenge is the `NormalizeMapping` transform which takes the pixel values and normalizes them. The ONNX model expects a `float[]` or `Vector<Single>`. Therefore, `LoadRawImageBytes` wouldn't work. Unless you tweak `NormalizeMapping` transform to also convert the `byte[]` to `float[]`. The local image classification version works just fine by the way because it uses `LoadRawImag

[2020-04-16 18:15] JakeRadMSFT commented on #679
Yeah we could do that conversion ... @LittleLittleCloud can you look into this a bit?

[2020-04-16 20:45] LittleLittleCloud commented on #662
My output window looks like this
![image](https://user-images.githubusercontent.com/16876986/79504226-652f6800-7fe7-11ea-9bd0-3648ef4e9688.png)

[2020-04-16 21:59] JakeRadMSFT opened #680 "Video Backlog"
## Quick getting started
 - [x] Intro to Machine Learning **Initial Video Series**
 - [x] Intro to Model Builder/CLI patterns (Scenario -> Environment -> Data -> Train -> Evaluate -> Code) **Initial Video Series**
 - [ ] Train a Machine Learning model in 60 seconds!
   - Sentiment analysis

## General/Help:
 - [ ] Scenario Breakdown
 - [ ] Local vs Azure
 - [x] What is AutoML? **Initial Video Seri

[2020-04-16 23:07] LittleLittleCloud opened #681 "Update example dataset/experiment for classification"
The current dataset is Wikipedia, which is an NLP sentiment analysis task and isn't perform very well when training using AutoML.Net. We might want to use another dataset as example (like iris or titanic).

[2020-04-16 23:42] JakeRadMSFT commented on #680
Where to post:

- [ ] Youtube Channel
- [ ] Tweet
- [ ] Linked In
- [ ] Hacker News
- [ ] Reddit

[2020-04-17 00:27] beccamc commented on #638
@justinormont Thank you for the detailed analysis! I'll check out the Model Builder bug.

@slobo80 For the number of rows, per Justin's advice above "Just because it runs, doesn't mean it's a useful model. For that, you would like additional rows. This mostly depends on the difficulty of the problem you're trying to solve."

However, you want a model with the rows you have. Also based on Justin's

[2020-04-17 00:35] beccamc commented on #575
@Prezy101 Thanks for reporting! Can you provide me with more details? Are you saying you're trying to add the `using MyMLAppML.Model;` and the reference isn't working?

[2020-04-17 07:16] Prezy101 commented on #575
@beccamc  yes that is exactly what is happening, i have made myMLApp my start up project, i really don't know what i am doing wrong.
![TheBug](https://user-images.githubusercontent.com/9653108/79542456-f9eba180-808b-11ea-8a7d-977ffa4f645b.jpg)

[2020-04-17 09:52] frankhaugen commented on #654
@beccamc Thank you for a detailed reply, and your praise, and the training now works great

__But evaluating on the other hand__
![image](https://user-images.githubusercontent.com/13543585/79556665-ae43f280-80a1-11ea-9d9b-dc7f89ad2af2.png)

[code]

The bugs here is that the error message could be fleshed out to include "expecting X got Y", and that the default suggestion, (based on a random row),

[2020-04-17 17:26] beccamc opened #682 "Initial Try It Out input shouldn't fail & failure should have better message"
Reported by @frankhaugen

Try it out's initial random row may contain invalid data.

The bugs here is that the error message could be fleshed out to include "expecting X got Y", and that the default suggestion, (based on a random row), should never be able to fail due to a "format exception"

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/d2206dfe-3b3a-40dd-95e1-2d98e79

[2020-04-17 17:27] beccamc commented on #654
@frankhaugen I'm glad the work around fixed it!  Let's move to a new issue for the Try It Out issue. I've filed a new one here - #682

Thanks for finding and reporting these bugs!

[2020-04-17 17:29] #395 closed

[2020-04-17 17:29] #505 closed

[2020-04-17 18:32] beccamc commented on #590
@rkarunkumar Thanks for reporting! I'm unable to repro this issue. I'm using..

- VS 2017 Community 15.9.22
- Model Builder 16.0.2003.302
![image](https://user-images.githubusercontent.com/9122518/79602270-0b8a7480-809f-11ea-8ebd-ff249657370b.png)

Could you update your VS and try again? What version of Model Builder are you using? Thanks in advance!

[2020-04-17 18:35] beccamc commented on #672
This is related to #120

[2020-04-17 21:31] beccamc commented on #423
@mkArtak Make sense! I've updated the error shown from timeout to provide more guidance. I recently improved our text loader and it does a way better job with your data file (available in the next release)

![image](https://user-images.githubusercontent.com/9122518/79615650-24535400-80b8-11ea-8942-d012fa055fcc.png)

We have on our backlog to show better messages to point users the exact problem ro

[2020-04-17 21:36] mkArtak commented on #423
Awesome, thanks @beccamc!

[2020-04-17 21:41] #654 closed

[2020-04-17 23:18] beccamc commented on #356
@dotnettrainingacademy There are two problems here for the jigsaw dataset...
1. Model Builder fails parsing the dataset -> This will be fixed in our next version release
2. ML.NET has problems with the newlines in the comment_text field. I took a subset of the data and removed the newlines and it worked. -> We're working with partner teams on fixing this.

To avoid both bugs you could update to th

[2020-04-17 23:34] beccamc commented on #579
@boblooney2, @rati-dzidziguri and @Azkarell Thank you all for providing information and examples!

It looks like there are 4 issues here that should work...
1. Comma inside quotes
2. Semi-colon inside quotes
3. Two quotes inside quotes 😊

We've just started using a new data parsing library that supports comma, semi-colons, and quotes (provided they're two double quotes e.g. John ""Jim"" Johnson) .

[2020-04-17 23:36] beccamc commented on #627
@Lewis-Fam Are you also in a region where the decimal separator is "," ?

[2020-04-18 00:30] beccamc commented on #575
@Prezy101 It doesn't look like you're doing anything wrong. It seems like something is messed up with the myMLApp project, because the executable at that file path should be generated independent of Model Builder. The easy fix would be to create a new .NET Core console app, see if it builds and then add Model Builder to that project.

If you want to keep working with this project...
1. Did you cha

[2020-04-18 17:56] jsaneill opened #683 "myMLApp does not run"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Used ML tutorial for getting started.  myMLApp could not run.  Multiple errors listed such as unable to find NE

[2020-04-20 16:45] JakeRadMSFT commented on #621
@LittleLittleCloud, @briacht Can we update this message to be more clear? This is the error message we currently get when has-header was set to "false" but we detect a header:

"Detect result for input file is True while your input is False. Please double check to confirm."

[2020-04-20 17:27] beccamc commented on #582
@pronobeshm Friendly ping, is this still not working?

[2020-04-20 17:28] beccamc commented on #658
@SandhyaKourla Friendly ping, any more details you can provide on this error?

[2020-04-20 17:29] beccamc commented on #676
@dtdono0 Friendly ping, is this still broken for you? Thanks!

[2020-04-20 18:41] beccamc commented on #655
Yes! I see this in telemetry

ML.Model project -
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/7780d76d-4f2c-4069-9946-a7008f8f62cf)

ConsoleApp project -
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/d270eb05-5e1f-4dc7-86bd-5285b24fcb12)

[2020-04-20 20:25] #584 closed

[2020-04-20 20:25] beccamc commented on #584
1. Tracking getting better training times in #672. Titanic dataset is mentioned
2.  I updated the error message so it now looks like this ![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/26624f8d-438f-4d2c-a3af-2d2666c9f9ad)
3. I haven't seen this problem recently, looks like Xiaoyun fixed it.

Closing directly as 2 is the only one that can be verified, and it already had

[2020-04-20 20:26] beccamc commented on #574
Fix in this PR - https://github.com/dotnet/machinelearning-tools/pull/611

[2020-04-20 21:31] beccamc commented on #635
Thanks for the feedback @GreenShadeZhang.  We don't support this currently but it is a good suggestion. We will look at the possibility of this change.

[2020-04-20 22:28] beccamc commented on #682
1. This should be an expected exception
2.  Message should be more descriptive, e.g. "expecting X got Y"
3. Ensure pre-filled value is valid

[2020-04-20 22:36] beccamc commented on #638
I've updated the error message to be more specific for small datasets. We're also adding more information to our docs.

The stack trace above looks like the rpc exception trace. It's most likely the timeout exception thrown from the service.

@slobo80 Did you get your dataset working?

[2020-04-20 22:43] beccamc commented on #579
We're tracking the newline issue in #356. Please follow the problem there

[2020-04-20 23:26] beccamc commented on #627
@bmigette Could you share your dataset? I've changed my compute region and I'm not able to reproduce with the wikipedia-detox-250-line-data.tsv

[2020-04-20 23:28] LittleLittleCloud opened #684 "ML.NET CLI P0 Changes based on User Study"
[doc](https://microsoft-my.sharepoint.com/:w:/p/brachtma/EechIDUQ_ANNsYQUljM_ImcBdqCozW4dKLXX5YBABFJrnw)

Work items:
- [x] Make required commands more obvious
- - [x] Add Require flag to option invocation hint text. (it's a bonus of using System.Commandline.Api, with this we don't need to add "required" flag in helper text)
- - [x] Add `Required option` section to the end of each of help text.
-

[2020-04-20 23:40] beccamc commented on #627
I also tired to repro with a numbers dataset. It worked and I was able to train. If you could share your dataset that would be really helpful!

Data:
Att1,Att2,Att3,Att4,Forgery
3.6216,8.6661,-2.8073,-0.44699,0
4.5459,8.1674,-2.4586,-1.4621,0
3.866,-2.6383,1.9242,0.10645,0

Model builder preview:
![image](https://user-images.githubusercontent.com/9122518/79809413-3f76cb80-8325-11ea-9f97-bf9451df6f

[2020-04-21 08:07] GreenShadeZhang commented on #635
Okay, look forward to your new features, so that developers can also combine cameras to develop some creative apps.

[2020-04-21 08:54] bmigette commented on #627
Here you go: https://drive.google.com/file/d/1e_bP5Pvq3SNpLR4VvynG9x6FFLjAgWrc/view?usp=sharing
I've chosen Issue classification, and selected trend_next_20 as predicted column.
Removed all trend columns in the input columns.

[2020-04-21 11:36] slobo80 commented on #638
@beccamc , since I dont have a larger dataset I could not get it to work.

[2020-04-21 17:02] dtdono0 commented on #676
@beccamc Yes, still broken.

The ML.NET extension does not appear in the Manage Extensions window.  If I run Microsoft.ML.ModelBuilder.vsix from my Downloads folder, it says the extension is already installed

[2020-04-21 17:13] LittleLittleCloud commented on #683
Thanks for reporting, which step do you fail at? Training model or consuming generated project? Could you provide more details? Such as error logs or screenshot.

[2020-04-21 17:26] LittleLittleCloud commented on #643
Thanks for your report, Unfortunately, the training engine in ModelBuilder is x64 based, so you can't start training on a x86-based system. Sorry for the inconvenience.

[2020-04-21 17:36] LittleLittleCloud commented on #671
@JoeMayo, based on log, it seems that you are using the old mlnet.cli to train your model, which is no longer maintained. The new mlnet.cli doesn't have this issue and will come out soon.

[2020-04-21 18:36] LittleLittleCloud commented on #192
#### Root cause:
AutoML has a limit of inferring up to 10000 columns, in this case, unselect 200 columns and ModelBuilder will (just) work.

Such problem also exists in ML.Net CLI since it also uses AutoML to do column inference.

#### Problems.
the user experience is awful when having 9999 columns in model builder, UI is slow and ModelBuilder window will flash when I select label. (though it's no

[2020-04-21 19:05] ttstanley opened #685 "Refactor Object Detection Data Page into new component"

[2020-04-21 19:22] briacht commented on #621
Does the user have to input something here if it's just a warning message? Or what are the actions there are supposed to take?

"A header has been detected in your dataset, but you have specified --has-header false. Are you sure that your dataset does not have a header? (Input y/n)."

[2020-04-21 19:32] LittleLittleCloud commented on #661
Your scrambled.txt has newline char in string, which can't be loaded in ModelBuilder because of an existing bug: https://github.com/dotnet/machinelearning/issues/4464. And since it's all text-based, ModelBuilder can't detect it's delimiter either, which should be a bug in Prose.

And after I replace the /n char with /newline and replace all ',' to ' ', filter out all the lines which # of '; ;' is

[2020-04-21 19:37] LittleLittleCloud commented on #449
Close this since it's a dup of #284

[2020-04-21 19:37] #449 closed

[2020-04-21 19:48] LittleLittleCloud commented on #621
No it's just a warning msg and they can't do any thing. So maybe just
`A header has been detected in your dataset, but you have specified --has-header false.` when has header
and
`There's no header been detected in your dataset, but you have specified --has-header true.`?

[2020-04-21 20:08] briacht commented on #621
Does this look like too much text in the CLI:

Warning: A header has been detected in your dataset, but you have specified --has-header false. If results are not as expected, please check --has-header option and try training again.

Warning: No header has been detected in your dataset, but you have specified --has-header true. If results are not as expected, please check --has-header option and tr

[2020-04-21 20:09] JacksonKearl opened #688 "Inspect AutoML parameter choices"
Currently when I run an AutoML experiment either from the CLI or manually, I get a log of the runs and the best run, but I can't seem to access the actual parameters (maxIterations, regularizations, etc.) that it used for that run. This makes it very difficult to reproduce single well performing runs.

Is there any way to get the hyperparameter config for the runs AutoML is queuing? Could this be

[2020-04-21 20:09] luislhg opened #689 "Model Builder Error when trying to Train data to Image Class"
### System information

- Windows 10 Pro
- .NET 4.8 and .NET Core 3.1:
- Memory 12GB
- Processor Intel Core i7 CPU 950 @ 3.07GHz

### Issue

- Tried to train an image classification using the Model Builder.

Steps: Create a project.
Add a Machine Learning through solution explorer, then in the ML.NET Model Builder:

1. Scenario -> Image Classification
2. Data -> A folder with around 8.000 images (

[2020-04-21 20:16] #691 closed

[2020-04-21 20:28] beccamc commented on #402
@AndersH92 Friendly ping! Could I get a screenshot of the input value problem? Does correcting the input value fix it?

[2020-04-21 20:29] beccamc commented on #658
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/6e2b3fc2-27e1-4f66-91b3-b64d25ce9bec)

[2020-04-21 20:29] #658 closed

[2020-04-21 20:36] beccamc commented on #660
Closing this issue. @SH2015 please let us know if we can help with anything else. Thanks for reporting!

[2020-04-21 20:36] #660 closed

[2020-04-21 20:38] danucalovj opened #699 "[AutoML,CLI,ModelBuilder] Exploration Time vs Epochs + Loss/AUC (Enhancement)"
This is more of a feature enhancement rather than an issue. Please let me know if this is the correct venue to submit this to.

In both the Model Builder GUI and the CLI for AutoML, the only option to customize training time is through the **max exploration time** setting. Example of CLI options:

![image](https://user-images.githubusercontent.com/12853868/57419929-a7d2a880-71b9-11e9-908e-1ce2d41e

[2020-04-21 20:42] beccamc commented on #638
@Slobo80 how long did you train? Did you try 120 seconds?

Also, I've found for some datasets cannot create a  model because they are actually forecasting problems (predicting **future** values based on historical values) instead of regression (predict a numeric value based on a set of related features). We don't support forecasting in Model Builder yet.

[2020-04-21 21:30] justinormont commented on #638
@slobo80 : With 30 rows & 8 features, your dataset is quite small. What's the use case?

--

Predicting the future is pretty common in regression (and ML in general), though your features should be indicative of that future value.

For instance, your label could be tomorrow's number of Uber rides and your features could be { average number of rides in the last week/month/year, weather prediction f

[2020-04-21 22:36] LittleLittleCloud commented on #621
It's OK, text message is never too much in cli program

[2020-04-22 15:53] AndersH92 commented on #402
@beccamc Please see the screenshot below. I don't really know what's wrong with the input format, hence I don't know how to fix it. I also attach a copy of the data that I'm using. Column 10 is the value to predict and the others arre features.

![image](https://user-images.githubusercontent.com/22051631/80003783-cb255f00-84c1-11ea-8b12-48e1673728bd.png)

[test_ML_data.zip](https://github.com/dotn

[2020-04-22 17:53] LittleLittleCloud commented on #687
Hey @CBrauer, the link to your project is 404, can you update your project link?

[2020-04-22 18:05] #698 closed

[2020-04-22 18:09] LittleLittleCloud commented on #696
Fixed on latest cli

[2020-04-22 18:09] #696 closed

[2020-04-22 18:17] LittleLittleCloud commented on #694
Seems like a bug in AutoML.Net
@justinormont  is this one been fixed or not?

[2020-04-22 18:22] LittleLittleCloud commented on #693
seems to be a bug in old cli. Looking through the code, the latest Microsoft.ML.CodeGenerator should already fix this.

[2020-04-22 18:22] #693 closed

[2020-04-22 18:23] LittleLittleCloud commented on #692
dup of #699

[2020-04-22 18:23] #692 closed

[2020-04-22 18:37] LittleLittleCloud commented on #689
@frank-dong-ms Maybe it's a bug in Tensorflow.Net, could you try to upgrade it's dependency to 1.15.1(the latest one) and see if problems go?

[2020-04-22 18:38] justinormont commented on #698
@gvashishtha: This issue would be better in the machineleaning repo, as it would be implemented in the AutoML code during the dataset analysis.

**Work:**
When AutoML takes a sample of the dataset to figure out the dataset columns and column purposes, if there is a header row, then check if subsequent rows match it.

I'd purpose doing dataset checks as a new step after `InferSplit()` and `InferCol

[2020-04-22 18:41] justinormont commented on #696
Thanks @LittleLittleCloud

[2020-04-22 18:46] justinormont commented on #694
I don't think it's been fixed.

[2020-04-22 19:08] CBrauer commented on #687
Sorry about that.  It's back up at https://github.com/CBrauer/test.zip

[2020-04-22 20:28] JakeRadMSFT opened #702 "ML.NET Asks [Tracking]"
## ML.NET
**P0.5**
- [ ] Object Detection Support
   - Description: Unlike image classification in ML.NET, which provides the high-level API for image classification training via transfer learning, object detection only supports consumption of ONNX and TF models. Thus, we'd like to add support for object detection training. This will also help keep parity with Azure and Local scenarios in Model Bu

[2020-04-22 21:14] JakeRadMSFT opened #703 "Data Ingestion Asks - Prose [Tracking]"
**For Model Builder:**
[P1 - August Release] Can we move InferColumns into data screen? Can PROSE infer column types for us? (731)

- Adding this functionality with Advanced Options work. Issue tracking #894
- See PROSE example code here https://app.zenhub.com/files/186917455/c3748d27-2c7a-4b4f-bdb4-409238e61671/download

[P0] Can we use PROSE to clean data and write a new training file for us? (4

[2020-04-22 22:38] beccamc commented on #579
@boblooney2, @rati-dzidziguri and @Azkarell If anyone has a problem dataset they would be willing to share, please post it here. I'm compiling a list of test datasets to ensure our loader works for a variety of data. Thanks!

[2020-04-22 23:59] JakeRadMSFT commented on #482
Local vs Azure
ASL Dataset: https://www.kaggle.com/kuzivakwashe/significant-asl-sign-language-alphabet-dataset
nc6V3 Total Time: 1h 28m 3s
nc6 Total Time: 2h 34m 59s
Local w/ GPU: 0h 38m 57s

[2020-04-23 08:20] NebuDa opened #704 "Model Builder Error after training"
Hello,

Windows 10
Visual Studio 19

After creating a new C# WPF Framework Project just right clicking -> Add -> Machine Learning:
- Scenario Sentiment Analysis
- File .csv Label: Ausfall der Motoreinheit | Input Columns 2 of 2 selected
- Train for 10 seconds.
- Error Popup:
Model Builder Error
--------------------------
Das System kann die angegebene Datei nicht finden

bei System.Diagnostics.Pro

[2020-04-23 08:37] SkyQuant commented on #662
Each possible buttons are pressed. And "Add projects" obviously first of all. Please, pay attention on 1) how it behave with dataset with delimiter (semicolon) at the row end  2) double to float conversion.

[2020-04-23 17:23] LittleLittleCloud commented on #704
Hey @NebuDa. It seems that your training is success, and it might be bug in Code Generator.
Could you provide your system language info? And could you also go to %Temp%\MLVSTools to check if there's a folder names $(Your_solution_name)ML?

[2020-04-23 18:10] LittleLittleCloud commented on #687
Tested it on latest mlnet.cli. After setting test dataset with `validation-dataset`, evaluate metrics from cli and console app are match.

console: MaroAccuracy ~ 0.86637
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/b29b9240-b803-44d8-b880-3a6fe3db55c7)

cli:
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/41c3f72f-ad86-4989-86dd-0d3f32e1a21

[2020-04-23 18:14] LittleLittleCloud opened #705 "Remove (REQUIRED) text in option invocation text"
Related issue
https://github.com/dotnet/command-line-api/issues/875

[2020-04-23 18:20] beccamc commented on #582
@pronobeshm I can't reproduce the problem so I am closing this issue. If you're still experiencing this problem please let me know and we can re-open. Thanks for reporting!

[2020-04-23 18:20] #582 closed

[2020-04-23 18:22] beccamc commented on #272
@vinbrule I can't reproduce this anymore and I think it has been fixed. If you are still seeing the problem please let me know and we can reopen the issue. Thanks for reporting!

[2020-04-23 18:22] #272 closed

[2020-04-23 18:23] beccamc commented on #575
@Prezy101 Any luck with the above suggestions?

[2020-04-23 18:28] Prezy101 commented on #575
@beccamc  hi hope you well, can you please tell me here i can find .csproj file adn yes i have a bin folder on my current location.

[2020-04-23 18:37] Prezy101 commented on #575
@beccamc  i think i found what you looking for.....  i hope this is what you are looking for.
![SDK_Screen](https://user-images.githubusercontent.com/9653108/80136593-36466280-85a2-11ea-912d-41bdb39bd228.jpg)

[2020-04-23 18:47] JakeRadMSFT commented on #482
Azure Cost Analysis:

For Image Classification and Object Detection we need Enterprise Workspaces ... for now there is no extra cost:
Source: https://azure.microsoft.com/en-us/pricing/details/machine-learning/

Charged only for Compute Hours
Source: https://azure.microsoft.com/en-us/pricing/details/virtual-machine-scale-sets/linux/

No charge for Hyper Drive/Workspace Setup

It looks like it'll be

[2020-04-23 19:01] gvashishtha commented on #702
@JakeRadMSFT can you or @briacht add priorities for AutoML.NET asks? I tried to add priorities I could find in the Azure DevOps epic, but there were some missing.

[2020-04-23 19:07] JakeRadMSFT commented on #702
@gvashishtha done

[2020-04-23 19:45] JakeRadMSFT commented on #702
Things to investigate before adding to asks:
- Easier way to Save/Load custom mappings
- Blazor Support

[2020-04-23 22:52] beccamc commented on #676
@dtdono0 Do you have more than one instance of Visual Studio installed? I've seen similar problems on my machines when I've had more than one VS. You can usually see the specific version(s) in the VS Installer.

[2020-04-24 06:50] NebuDa commented on #704
Hi @LittleLittleCloud
My System Language is German Germany and there is a folder named like my solution "motorausfallKIFloML" but without $

Thanks for responding.

[2020-04-24 09:25] NebuDa commented on #704
I have fixed the problem @LittleLittleCloud
I had to reinstall AND repair Visual Studio. There was a problem with the .NET Core SDK. I've found the problem, because it was not possible to load .NET Core projects.

Thank you very much.

[2020-04-24 09:25] #704 closed

[2020-04-24 13:58] rapidengineering commented on #653
How was this resolved? I am having the same error with WPF.

[2020-04-24 17:05] slobo80 commented on #638
@beccamc I tried 120s and got the same error.
@justinormont The use case is stock price data with 8 features since the lock down started ~March 10.

[2020-04-24 18:30] justinormont commented on #638
@slobo80 : I wouldn't expect that the AutoML will do well on that problem due to size and the general unpredictability of the stock market.

Want to post your data? Then I can try running it in the CLI.

While it will run correctly in the AutoML․NET CLI, you won't be able to run the dataset _correctly_ in Model Builder since it doesn't allow you to provide a separate validation and test dataset (a

[2020-04-26 01:16] LukePogaPersonal opened #706 "doesnt install for VS 2019 community"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-26 20:24] SH2015 commented on #660
@beccamc Any plan to include time-series forecasts in Model Builder? there are too many applications in business for time-series analysis

[2020-04-27 08:14] KotoRina opened #707 "Выполнение завершено без обученной модели"
Ошибка:
   в System.Linq.Enumerable.Select[TSource,TResult](IEnumerable`1 source, Func`2 selector)
   в Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext() в E:\A\_work\1326\s\Microsoft.ML.ModelBuilder.AutoMLService\Experiments\AutoMLExperiment.cs:строка 117
--- Конец трассировка стека из предыдущего расположения, где возникло исключение ---
   в S

[2020-04-27 11:31] Hesham-Abdalbary opened #708 "server not found when downloading"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
Operating System: windows

I have run into a server not found issue when I tried downloading the ML.Net package.

[2020-04-27 17:48] LittleLittleCloud commented on #708
I just tried again, this time it works. Could you give it another try?

[2020-04-27 17:51] LittleLittleCloud commented on #707
Можете ли вы попытаться увеличить время тренировки?

[2020-04-27 17:55] LittleLittleCloud commented on #706
Is modelbuilder extension can't download? or it can't find available VS version after starting install?

[2020-04-27 20:41] LittleLittleCloud opened #709 "write log output to temp path"

[2020-04-27 20:44] LittleLittleCloud opened #710 "Log Data Context status in file"
- [ ] CodeTabDataContext
- [ ] DataTabDataContext
- [ ] EnvironmentTabDataContext
- [ ] EvaluateTabDataContext
- [ ] ModelBuilderDataContext
- [ ] ScenarioTabDataContext

[2020-04-27 22:39] beccamc opened #711 "Evaluate redesign"
https://www.figma.com/file/jZ6RROEeT5GxcS6Q5zHugU/Updated-Test%2C-Evaluate%2C-%26-Next-Step-Pages---Kaitlin?node-id=60%3A16020&viewport=2651%2C-1091%2C0.9272481799125671

[2020-04-28 02:40] jannavarro opened #712 "From Label to User and Item column. What should I put in Item column?"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

So the steps is to download the wikipedia-detox data that has 2 columns: Sentiment and SentimentText. In the tu

[2020-04-28 17:45] aslotte opened #713 "Unable to read file from Kaggle in proper CSV format"
**System Information (please complete the following information):**
 - Model Builder Version:
 - Visual Studio Version

**Describe the bug**
Attempted to use a csv file from Kaggle https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset but got a message saying that the format was incorrect although applications such as Excel can read it okay.

![image](https://user-images.githubusercont

[2020-04-28 18:13] LittleLittleCloud commented on #683
Unfortunately, we don't have enough information to investigate this issue, If you're still seeing a problem, please re-open and provide additional information, thanks for reporting!

[2020-04-28 18:13] #683 closed

[2020-04-28 18:13] LittleLittleCloud commented on #643
Closing this issue due to no response,  if you're still seeing a problem, feel free to reopen it, thanks for reporting!

[2020-04-28 18:13] #643 closed

[2020-04-28 18:14] LittleLittleCloud commented on #671
Closing this issue due to no response,  if you're still seeing a problem, feel free to reopen it, thanks for reporting!

[2020-04-28 18:14] #671 closed

[2020-04-28 18:14] LittleLittleCloud commented on #661
Closing this issue due to no response,  if you're still seeing a problem, feel free to reopen it, thanks for reporting!

[2020-04-28 18:14] #661 closed

[2020-04-28 18:22] LittleLittleCloud commented on #574
Looks good!

![image](https://user-images.githubusercontent.com/16876986/80522899-1a481580-8942-11ea-98f7-745518923d49.png)
![image](https://user-images.githubusercontent.com/16876986/80522948-32b83000-8942-11ea-9514-5ec5614b7bd7.png)

[2020-04-28 18:39] LittleLittleCloud commented on #700
Looks good now
![image](https://user-images.githubusercontent.com/16876986/80524675-db678f00-8944-11ea-9df1-4b3581ec1129.png)

[2020-04-28 18:40] LittleLittleCloud commented on #701
![image](https://user-images.githubusercontent.com/16876986/80524793-081ba680-8945-11ea-81de-8b77ce4ea0af.png)

[2020-04-28 18:53] LittleLittleCloud opened #714 "CodeGen inline data doesn't work under foriegn language system"
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/0951f8cc-585a-4553-befd-6688c811c49a)

need to use culture invariant

[2020-04-28 19:46] EvoGame25 opened #715 "ML.NET"
**System Information (please complete the following information):**
 - Model Builder Version:
 - Visual Studio Version

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2020-04-28 20:20] beccamc commented on #609
#423 and #660 both requesting this feature.

Customer comment (@SH2015) -
Any plan to include time-series forecasts in Model Builder? there are too many applications in business for time-series analysis

@briacht For visibility

[2020-04-28 20:22] beccamc commented on #660
@SH2015 We are planning to add this Model Builder but I'm not sure of the timeline. We're tracking this work in Issue #609. I've added your comments to that issue and pinged our PM. If you want more info, or want to provide additional feedback please checkout 609. Thanks!

[2020-04-28 20:51] briacht opened #716 "model builder generated should be MLNETCLI generated"
![image](https://user-images.githubusercontent.com/10437687/80536497-520d8800-8957-11ea-8a45-7242a1d56e9c.png)

@JakeRadMSFT MLNETCLI was the name we decided on right?

[2020-04-28 23:18] ttstanley opened #717 "Batch uploading using azcopy."
**Model Builder Version**: 16.1.0.2022701
*Visual Studion Version**: 16.5.4

**Bug description**
When uploading images from different paths for OD takes long time since I have to do them individually. For OD we are given a list of random file paths to upload, so folder uploading wont work. Instead we use single file upload which is also inefficent. Instead we would like to upload a list of files t

[2020-04-29 02:44] Mouldi opened #718 "The framework 'Microsoft.NETCore.App', version '2.1.0' was not found."
**System Information (please complete the following information):**
 - Model Builder Version: .NetCore 3.1.201
 - Visual Studio Version :NA
- System :

                  Distributor ID: Ubuntu
                   Description:    Ubuntu 18.04.4 LTS
                      Release:        18.04
                            Codename:       bionic

**Describe the bug**
When you try to train your model, yo

[2020-04-29 08:26] NebuDa opened #719 "Fehler CS0117 '"LightGbmRegressionTrainer.Options" enthält keine Definition für "UseZeroAsMissingValue""
**System Information (please complete the following information):**
 - Model Builder Version: 16.0.2003.302
 - Visual Studio Version: Enterprise 2019
                                       Version 16.5.4

**Describe the bug**
I Trained the  Model as a Price Prediction Scenario (predict numeric value) with a csv File and added the Projects to my Project. Then I tried to run the ConsoleApp, but gets

[2020-04-29 08:31] KotoRina commented on #707
В варианте Image Classification нет выбора времени тренировки.
![image](https://user-images.githubusercontent.com/64101388/80575847-e128a780-8a0c-11ea-812a-2a5b558d9236.png)

[2020-04-29 09:54] Hesham-Abdalbary commented on #708
It works now, thanks A lot

[2020-04-29 09:54] #708 closed

[2020-04-29 10:02] NebuDa commented on #719
Removing the wrong options leads to this Error in the same line of code:

Fehler	CS0747	Ungültiger Deklarator des Initialisierermembers.	MaschinenWartungsVorhersageML.ConsoleApp

[2020-04-29 11:07] Hesham-Abdalbary opened #720 "Arabic Support Issue"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/data
Operating System: windows

I ran into a problem while trying to upload a file that contains Arabic text: it told me that the format is incorrect though I have made sure that it is in the correct tab separated format, so, does ML.Net support Arabic language? meaning Can I give it Arabic text and make predi

[2020-04-29 17:19] LittleLittleCloud commented on #707
Did you see the log start with `[Source=ImageClassificationTrainer; ` before training canceled? (sorry my Russian is bad,,,, so switch back to English here)
[code]

[2020-04-29 19:30] Pn-prog91 opened #721 "Error in ML.NET Model Builder"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2020-04-30 00:10] jernejk opened #722 "Old Model Builder is displayed instead of new if extension not uninstalled"
**System Information (please complete the following information):**
 - Model Builder Version:
 - Visual Studio Version

**Describe the bug**
When I installed Visual Studio 2019 16.6 Preview 2 I was very hyped for the new version of ML .NET Model Builder! 😁

Except I got only the old UI... So I ended up using a stable version of Model Builder in VS 16.5 because in the preview version the images wer

[2020-04-30 09:05] KotoRina commented on #707
My English isn't that good, but I'll try. So far, I have solved the problem by taking the folder out of the project. After that, the learning process ceased to interrupt.
"Did you see the log start with [Source=ImageClassificationTrainer; before training canceled?" - No, there was no logbook.
The program started training and finished the process with the result "0%" and displayed an error.

Why it

[2020-04-30 17:10] LittleLittleCloud commented on #707
This is because image classification's trainer will determine it's training time by itself, so you don't have to set it. The last time I said to increase training time is because my Russia is terrible... so I didn't know that you are using image classificaiton.

Me neither,,, I will try if I can reproduce it

[2020-04-30 17:10] LittleLittleCloud commented on #687
Close due to no response, feel free to reopen it if you have any quesitons.

[2020-04-30 17:10] #687 closed

[2020-04-30 17:14] LittleLittleCloud opened #723 "remove one of `--validation-dataset` and `--test-dataset` in CLI"
It's really confusing to have both options while only `--validation-dataset` will be used during training and `--test-dataset` is only for codegen. We should only keep one of them.

related issue: #687

[2020-04-30 17:19] LittleLittleCloud commented on #707
I'm unable to reproduce it on my PC.
my folder structure is like this
![image](https://user-images.githubusercontent.com/16876986/80739803-eef13200-8acb-11ea-9c9e-996297af7261.png)

where image folder is fruits, which has this folder structure
![image](https://user-images.githubusercontent.com/16876986/80739838-003a3e80-8acc-11ea-9750-ac87a8c75517.png)

Can you provide more detailed info,,,, like

[2020-04-30 18:50] justinormont commented on #723
The way to handle this is to print the test dataset metrics for the one chosen pipeline's model. I'd recommend printing at the sweep summary screen of the CLI.

The validation dataset and test dataset have very specific uses and can not be combined in AutoML.

Dataset usage:
* Training - Model is trained on this dataset
* Validation - During sweeping, the model trained are scored against this data

[2020-04-30 18:52] JakeRadMSFT commented on #680
Video 1 Outline - The Essentials/Surface Level

- Intro to Machine Learning Essentials
  - What is Machine Learning (Very high level)?
    - What is a Model?
      - Training a Model
        - Example Data
      - Predictions with a Model
- Intro to Machine Learning with .NET
  - ML.NET - Framework to train Models with .NET/C#
    -  Deeper dive in future videos.
  - Model Builder
    -  Train mod

[2020-05-01 15:37] dcostea opened #724 "Make Model Builder Open Source"
Could you please let me know where is the source code for Machine Learning Model Builder? Or is that private?

I see only this:

![Untitled](https://user-images.githubusercontent.com/15055082/80817690-38c44000-8bd2-11ea-8ad1-1baa60fc9cc3.png)

[2020-05-01 23:04] Neoplayer opened #725 "Error after to load scv with very long value in row"
![image](https://user-images.githubusercontent.com/17293976/80847705-4e108d00-8c19-11ea-846b-6ba9dd242dab.png)

![image](https://user-images.githubusercontent.com/17293976/80847630-0f7ad280-8c19-11ea-812d-87ae17d8ceac.png)

[2020-05-02 14:30] Darkne77 opened #726 "Model Builder Error"
**Model Builder Version**: 16.0.2003.302
**Visual Studion Version**: 2019

Error:

Tensorflow exception triggered while loading model.

   в Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__23.MoveNext() в E:\A\_work\1326\s\Microsoft.ML.ModelBuilder.AutoMLService\Experiments\AutoMLExperiment.cs:строка 108
--- Конец трассировка стека из предыдущего расположени

[2020-05-03 15:01] PasaOpasen opened #727 "Cannot parse target values from big dataset (classification 3+)"
**System Information:**
 - Model Builder Version: 16.0.2003.302.
 - Visual Studio Version: Community 16.5.4

**Describe the bug**

It cannot parse target values from big dataset (classification 3+ from 0 to 10, almost 600 000 samples) after than over 30% of samples in normally parsed (by Convert.ToDouble) dataset.

This error begins only after click at "start training" at 3th block.

Training fail

[2020-05-04 11:37] PDostalek opened #728 "[loc][Query][mlnet-tools] Localizability of strings"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Thanks in advance for the reply

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
49,204 | mlnet\xlf\Strings.xlf | 0; "Ge

[2020-05-04 17:35] LittleLittleCloud commented on #706
Close due to no response, feel free to reopen it if you have any quesitons.

[2020-05-04 17:35] #706 closed

[2020-05-04 18:30] JakeRadMSFT commented on #681
@LittleLittleCloud is there a better featurizer that we could use?

[2020-05-04 18:32] JakeRadMSFT commented on #686
Thanks for reporting! Can you share how you used it with Ranking?

[2020-05-04 18:37] JakeRadMSFT commented on #694
@LittleLittleCloud Can you look into this?

[2020-05-04 18:38] JakeRadMSFT commented on #695
@ebizupnorth Can you describe your scenario more? What metrics would you like to be able to optimize for?

[2020-05-04 18:42] JakeRadMSFT commented on #712
Hello! It looks like you're using recommendation when trying to train on a sentiment analysis or text classification dataset. Please try training using Text Classification.

For recommendation- an example would be movie recommendations. So the column to predict would be the rating a user would give the movie. The user column would be an ID or name. The Item Column would be the movie id or name col

[2020-05-04 18:43] JakeRadMSFT commented on #712
Thanks for the recommendation on release notes. We'll make sure they're added to our github for the release.

Cheers,
Jake

[2020-05-04 18:46] JakeRadMSFT commented on #713
Thanks for reporting this issue! We're working to support more datasets. The common cause is use of newlines or escaped quotes within value.

We've made some improvements but know we have more to go. What version of Model Builder are you using?

[2020-05-04 18:48] JakeRadMSFT commented on #718
Hello!
For now you could get unblocked by installing a 2.1 runtime. We're planning to release a new version of the CLI soon that supports 3.1 and newer runtimes.

[2020-05-04 18:49] JakeRadMSFT commented on #715
Thanks for reporting an issue! Unfortunately, there isn't any information for us to investigate. I'll be closing the issue but if you add more details ... please re-open.

[2020-05-04 18:49] #715 closed

[2020-05-04 18:50] JakeRadMSFT commented on #717
@ttstanley @LittleLittleCloud does azcopy allow for a list of paths?

[2020-05-04 18:53] JakeRadMSFT commented on #719
@NebuDa Can you share the generated ModelBuilder.cs?

[2020-05-04 18:53] JakeRadMSFT commented on #720
Do you have a dataset you could share with us?

[2020-05-04 19:24] JakeRadMSFT commented on #722
Thanks for the feedback! We're looking into a smooth upgrade path from the old extension to the new built-in VS version.

[2020-05-04 19:42] JakeRadMSFT commented on #724
It's private at the moment. We're looking into the option of making it open source.

Why do you ask? Would you be interested in contributing? Are there certain features you'd like to see added?

[2020-05-04 19:44] JakeRadMSFT commented on #725
Thanks for reporting! We'll definitely look into the root cause.

Are you blocked on this? Is it possible to update the dataset before passing it to Model Builder?

[2020-05-04 19:46] JakeRadMSFT commented on #726
Hello,
Thanks for reporting! Sorry you're hitting this issue. Can you share more details?

What are the specifications of your machine? How much memory/ram do you have?

Cheers,
Jake

[2020-05-04 19:47] JakeRadMSFT commented on #727
Thanks for reporting! We'll look into what might be causing this issue.

[2020-05-04 20:19] beccamc commented on #579
Closing this issue. Please track the fix in #356

[2020-05-04 20:19] #579 closed

[2020-05-04 20:37] Darkne77 commented on #726
SSD 500 Gb, 16 Gb RAM

[2020-05-04 21:01] beccamc opened #729 "Newest VSIX broken in VS2017"
Cannot install a new build of the VSIX on 2017.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/ae2ceb32-6e6e-416f-adc5-b86a1bd542aa)

View install log file
[https://app.zenhub.com/files/186917455/d5609a0e-fc5f-4f8e-9331-2de6f68baa35/download](https://app.zenhub.com/files/186917455/d5609a0e-fc5f-4f8e-9331-2de6f68baa35/download)

[2020-05-04 21:08] JakeRadMSFT commented on #649
Closing for now since we can't reach out to the customers and the information we have isn't actionable.

[2020-05-04 21:08] #649 closed

[2020-05-05 00:12] dcostea commented on #724
I would like to contribute if I can. (I hope it's C#).
In my opinion, the Model Builder has a big impact on adopting ML.NET by developers who don't have Data Science background.
I would like to see more options in preparing the data (this was the point I decided to ask about the repository).
Thank you for your answer.

[2020-05-05 06:51] NebuDa commented on #719
// This file was auto-generated by ML.NET Model Builder.

using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using Microsoft.ML;
using Microsoft.ML.Data;
using MaschinenWartungsVorhersageML.Model;
using Microsoft.ML.Trainers.LightGbm;

namespace MaschinenWartungsVorhersageML.ConsoleApp
{
    public static class ModelBuilder
    {
        private static string TRAIN

[2020-05-05 07:07] NebuDa commented on #719
By the way, training as custom regression scenario is working very well, just as Price Prediction does not work. My problem is solved, but the bug in th price prediction scenario is still present.

[2020-05-05 17:28] JakeRadMSFT commented on #726
Could you try uninstalling and re-installing the ModelBuilder extension. I've only seen this happen when an ML.NET dependency is missing. That shouldn't be possible since we package it with the Model Builder extension but perhaps it had issues installing.

[2020-05-05 17:32] JakeRadMSFT commented on #726
If you can update to VS 2019 16.6 Preview 3 or newer -

https://devblogs.microsoft.com/visualstudio/new-in-visual-studio-2019-v16-6-preview-3/

We have a newer version of Model Builder available.

[2020-05-05 17:33] JakeRadMSFT commented on #724
Thanks! We'll look into Open Sourcing.

[2020-05-05 17:40] aslotte commented on #713
Thanks @JakeRadMSFT! I'm not at that specific computer right now, but I'll let you know shortly.

[2020-05-05 20:39] Darkne77 commented on #726
I tried in

   в
Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__21.MoveNext()
в
/_/src/Microsoft.ML.ModelBuilder.AutoMLService/Experiments/AutoMLExperiment.cs:строка
106
--- Конец трассировка стека из предыдущего расположения, где возникло
исключение ---
   в System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   в
System.Runtime.CompilerServices

[2020-05-05 21:01] JakeRadMSFT commented on #726
Might be related to this issue:

https://github.com/dotnet/machinelearning/issues/5052

[2020-05-05 21:43] aslotte commented on #713
Here's some additional version info:
![image](https://user-images.githubusercontent.com/30201569/81118986-e5b2fb80-8ef7-11ea-8608-8c2a61fa90dc.png)

[2020-05-05 22:34] Darkne77 commented on #726
I find decision. Visual Studio Installer -> VS community 2019 -> additionally(Дополнительно) -> recover(Восстановить).

[2020-05-05 23:26] briacht opened #730 "Scenario page alignment off"
**System Information (please complete the following information):**
 - Visual Studio Version: VS 16.6 preview 5

**Describe the bug**
Alignment of scenario groups is off:
![image](https://user-images.githubusercontent.com/10437687/81125353-c662a100-8eec-11ea-8b97-43e499bd13ca.png)

[2020-05-06 07:02] luisquintanilla commented on #727
I got the same issue.

I used the following dataset: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

It's sparse and is 1.4 GB. Here is the error and stack trace:

[code]

[2020-05-06 07:08] luisquintanilla opened #731 "Vehicles.csv - Unable to split the file provided into multiple, consistent columns."
**System Information (please complete the following information):**
 - Model Builder Version: 16.1.0.2021002
 - Visual Studio Version: VS 2019 16.6 Preview 4

**Describe the bug**

I used the following dataset: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

It's sparse and is 1.4 GB. Here is the error and stack trace:

[code]

[2020-05-06 18:59] ttstanley commented on #717
I don't believe so. From what I have seen it can take a directory or a single file.

[2020-05-06 19:29] islamelgaidi opened #732 "Installation error"
Problem encountered on https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

06/05/2020 21:25:33 - Found setup instance a1e14ef5 but not in launchable state.
06/05/2020 21:25:33 - Install

[2020-05-06 22:19] rquintino opened #733 "official docker image for mlnet cli?"
Hi! wonder if it would be possible to have an official docker image, either on dockerhub or Microsoft Container Registry (MCR).

That would be very cool for single line mlnet cli automl workloads. Can't get easier than that. Also safer to trust an official image.

(example: https://hub.docker.com/_/microsoft-azure-batch-shipyard)

thanks!

[2020-05-06 22:19] harishsk commented on #733
Transferring to modelbuilder for additional input.

[2020-05-06 23:20] beccamc opened #734 "Changing environment isn't reflected in training"
1. Start image scenario (only local and azure scenario)
2. Train on azure
3. Try to train locally. Azure training will start again.

[2020-05-06 23:35] beccamc opened #735 "Tab state not reset after changing scenarios"
1. Start with text scenario
2. Complete through data
3. Return to scenarios. Choose new scenario

This is the state...
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/8ce9d4a4-855f-4c8c-a05f-646288a064ec)

**Data tab shouldn't be complete and train tab shouldn't be available.**

[2020-05-06 23:38] beccamc opened #736 "Small UI fixes for new design"
1. Remove border on button of collapse up/down on Train summary
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/ad7d1b4f-ec24-40d0-acd6-16b2f38d8597)

2. Add padding to Top 5 User prediction in recommendation evaluate page
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/45ba3f73-cbe7-4bde-8dd4-28b8f86ffb99)

3. Next step buttons should be disab

[2020-05-07 18:01] beccamc commented on #733
@briacht and @JakeRadMSFT to comment 😊

[2020-05-07 18:19] beccamc commented on #652
I took a look at our telemetry for number of columns (query in one note -> Shield team -> Kusto Queries). Below are the buckets of datasets and columns. 8,675 datasets have 1-100 columns. 2,744 datasets have 101-200 columns, etc. 47% of our datasets have over 100 columns (our current cut off for rendering in the UI).  5% have over 1000 columns.

NumColumns | count_ |  percentage of total
100 | 867

[2020-05-07 21:37] beccamc commented on #676
@dtdono0 Friendly ping. Would love to see a screenshot of all installed version(s). The Visual Studio Installer should show all this information in one place.

[2020-05-07 22:25] beccamc commented on #402
@AndersH92 Sorry for the delay in getting back to you. I'm trying to reproduce the problem you're experiencing. It looks like you're machine is in a different language? I've changed mine to also have "," for the decimal separator.

![image](https://user-images.githubusercontent.com/9122518/81350339-8deece80-9076-11ea-81db-0486b2000d02.png)

I've tried both , and . as the decimal in the Evaluate da

[2020-05-08 00:15] beccamc commented on #627
Sorry for the delay @bmigette.  I've tried with a `,` separator language on my machine and haven´t been able to reproduce. You are not the only one running into problems with `,` vs. `.` and I want to figure out the problem.

To summarize, you're training a numeric dataset that uses `.` as the decimal separator and , as the delimiter on the file (.csv). Your machine is in a language that expects `

[2020-05-08 00:44] beccamc commented on #575
@Prezy101 Sorry for the delay. The csproj looks normal. Can you do a few things?

1. Check the output path of project (Project > right click Properties > Build > Output path)

![image](https://user-images.githubusercontent.com/9122518/81357818-8684f080-9089-11ea-8f18-ad07da433e64.png)

2. Go to Build menu > Configuration Manager. Check the myMLApp has "Build" checked
![image](https://user-images.g

[2020-05-08 01:12] beccamc opened #737 "Modified 200 column datagrid causes problems for columns not shown"
Showing only 200 columns is causing problems with column selection and the try it out row

1. Select a column outside of the 200 range and an error is thrown (I thought this list was restricted down to 200 also.) Could solve this by restricting the select list or by modifying the grid.  In TextDataControl.xaml.cs

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/421ebd9a-

[2020-05-08 05:08] oneEyedSunday commented on #130
This could have been caused by a stray newline.
If this was the case, you could
[code]

with any other combination of likely carriage return delimiters

[2020-05-08 08:32] bmigette commented on #627
Hi,
Here's the number format of my csv:
0.6361155060774996,0.5670212392831645,0.4545838648895267,0.6762474404317713

It fails at the end of the training process. It failed every attempts (so far I made maybe 3 attempts) I have made using default time of 1800seconds. Not sure why it hasn't failed when using 180seconds.
My VS is in english.

I can't tell for sure this has to do with regional setting

[2020-05-08 19:13] beccamc commented on #732
Thanks for reporting @islamelgaidi and sorry you're running into issues. This looks like a problem with Visual Studio. Can you try to update VS? If that doesn't work can you try to repair VS?

[2020-05-08 23:39] dtdono0 commented on #676
@beccamc Sorry for the delay, I didn't see your last ping.  I only have VS 2019 Enterprise installed:

![vs01](https://user-images.githubusercontent.com/47392570/81457141-1ba7e800-9163-11ea-9ce8-91fd78ee3a87.png)
![vs02](https://user-images.githubusercontent.com/47392570/81457142-1c407e80-9163-11ea-9669-f9eb5f350a34.png)
![vs03](https://user-images.githubusercontent.com/47392570/81457143-1c407e80-

[2020-05-09 11:29] AndersH92 commented on #402
No worries @beccamc. Yes it's in Swedish. I changed from "." to "," for the decimal separator in the sample data for prediction (i.e. 1221.79 -> 1221,79 for example) and it worked. Thanks! I find it strange though because it has obviously trained with the "." convention but is not able to evaluate on the same format?

[2020-05-11 22:07] JakeRadMSFT commented on #652
@Lynx1820, Can you share the dataset? How many columns/rows does it have?

[2020-05-11 22:12] JakeRadMSFT commented on #731
@beccamc do we know what's causing this to fail?

@luisquintanilla - is it failing during training or data preview?

[2020-05-11 22:20] JakeRadMSFT commented on #723
@justinormont @LittleLittleCloud

Can we always create the Validation or Tests datasets from the Train dataset if not provided  ... and then use them as Justin described?

[2020-05-11 22:21] JakeRadMSFT commented on #717
@LittleLittleCloud  what would this take?

[2020-05-11 23:29] justinormont commented on #723
If the user doesn't provide the datasets, we can assume it's IID and safe to split. AutoML does this to create a validation dataset if missing (either using CV or TrainValidate split).

If a user has a pre-split train/test or train/valid/test we should use them. Note how many dataset, e.g. Kaggle, are provided with a train/valid/test (or train/test).

_-- excessive background continues --_

**Why

[2020-05-12 00:13] luisquintanilla commented on #731
@JakeRadMSFT data preview

[2020-05-12 17:19] LittleLittleCloud commented on #707
@KotoRina I'm going to close this issue, feel free to reopen it if you still have questions

[2020-05-12 17:19] #707 closed

[2020-05-12 18:10] beccamc commented on #644
Fixed as of https://github.com/dotnet/machinelearning-tools/pull/629

[2020-05-12 18:10] #644 closed

[2020-05-12 19:45] beccamc commented on #734
This is a dupe of https://github.com/dotnet/machinelearning-modelbuilder/issues/668

[2020-05-12 19:45] #734 closed

[2020-05-13 00:42] beccamc commented on #676
@dtdono0 I am not sure what is going on, I'm going to pull in our extension installation team. Would you mind updating your VS? I think this is going to be the first thing they ask to do.

[2020-05-13 00:53] dunion opened #738 "can't to create a machine learning workspace. Always errors out."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
Attempt to create Azure Machine Learning workspace. Have azure account already.
I am trying to go through one of the Microsoft Samples and am stuck right at the beginning.

The steps I am following are from t

[2020-05-13 18:34] justinormont opened #739 "Remote training error: Operation returned an invalid status code 'Forbidden'"
**System Information (please complete the following information):**
 - Model Builder Version: (where is this listed?)
 - Visual Studio Version: 16.6.0 Preview 2.1

**Describe the bug**
Training a multiclass image model, it failed to make progress, then died w/ the error: `Operation returned an invalid status code 'Forbidden'`.

Reported Error:

[code]

**To Reproduce**
Remote training was used on

[2020-05-13 21:41] beccamc opened #740 "Remove progress checkmarks from tab control"
Per UI updates in this Figma - https://www.figma.com/file/jZ6RROEeT5GxcS6Q5zHugU/Updated-Test%2C-Evaluate%2C-%26-Next-Step-Pages---Kaitlin?node-id=135%3A52347&viewport=51%2C-2161%2C0.9272481799125671

[2020-05-13 21:57] beccamc opened #741 "Image training shows "How long should I train for?""
When doing image training "How long should I train for?" is shown. User has no control over how long image data train so this should be removed (or the docs link should talk about image training )

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/55a9e25b-8c96-4c23-a701-aebafa5bf90d)

[2020-05-13 22:01] briacht opened #742 "There's a lag when you click on a Scenario"
It's kinda awkward

[2020-05-13 22:10] beccamc opened #743 "AZ copy failed but we try to train"
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/1abcd089-3a95-4a0f-a5a2-7d464a7bf970)

[2020-05-13 22:25] beccamc opened #744 "Monitor current run link should be cleared on retry"
1. Start azure training
2. Cancel, complete or fail
3. Retry. The "Monitor current run" link should be cleared. Otherwise I'll click on it while Upload is happening
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/5ec9dd22-12e4-43ab-9674-9c8404b3271d)

[2020-05-13 22:38] kawilkin opened #745 "Visual Bugs: Code Screen"
**Describe the bug**
The background, drop shadows, and hover states don't seem to be properly applied to the cards. The drop shadow looks like its being applied to all the content inside the card (text & image), but it should only apply to the background of the card creating visual distinction with between the card and the rest of the page. The hover state (darker drop shadow) also doesn't appear

[2020-05-13 22:41] justinormont commented on #702
Here's a few feature engineering techniques that could be added as AutoML experts.

Useful feature engineering techniques: _(only light ordering)_

* Per row Feature Selection: _[text]_
[code]

* TargetEncoding w/ a linear model on text ngrams: _[text]_
[code]

* WordEmbeddings + ngrams: _[text]_
[code]

* TreeFeat w/ Leaves: _[text, numeric, categorical]_
[code]

* KMeans distance: _[numeric, cat

[2020-05-13 22:47] kawilkin opened #746 "Visual Bugs: Scenario Screen"
**Describe the bug**
Text is being clipped on the "Clustering" card and users can't see the full description.

**Expected behavior**
Text should be able to been seen and the minimum distance between the bottom of the descriptive copy and the labels should be 8px (right now it looks like it is set to 20px).

**Screenshots**
Current:
![image](https://user-images.githubusercontent.com/47866467/818733

[2020-05-13 22:58] gvashishtha commented on #702
@justinormont can you help me understand what the impact of these improvements would be and how to prioritize among them? What would we get if we only implemented a subset of the [text] ones? Or just the date ones?

[2020-05-13 23:58] justinormont commented on #702
@gvashishtha

### Prioritization
The main of the engineering work is re-enabling sweeping of featurization techniques. After this, adding these additional experts is pretty simple. I would just start w/ the `Word Embeddings` perhaps also the `TargetEncoding w/ a linear model`.

For the date one, we can try sweeping over having/not-having the DateTime featurizer, though I expect we'll find it's mor

[2020-05-14 11:24] antoniovs1029 opened #747 "ModelBuilder fails to use a CSV dataset that contains commas inside a quoted field on the first line"
As part of https://github.com/dotnet/machinelearning-modelbuilder/issues/702 's "Fix TextLoader" task, I was looking into improving the support of ML.NET's TextLoader for CSV, and I opened this PR https://github.com/dotnet/machinelearning/pull/5125. As explained there, ML.NET actually already supports loading regular CSV files, and the only thing that it couldn't load were new line characters insi

[2020-05-14 13:10] Nicklas9822 commented on #329
@simon-curtis Hi, Could you show me the Model Input please cause i have a similar project and i want to iterate the rows of the dataset. My problem that all the data is going in the first column which in your case is Material_Code and of course i need the data to be in its appropriate column. Thanks in advance

[2020-05-14 13:15] simon-curtis commented on #329
@Nicklas9822 the model should be generated automatically for you based on the data you have given the trainer. I don't have the data from my request as it was from an old place of work.

[2020-05-14 13:18] Nicklas9822 commented on #329
@simon-curtis Yes, exactly but at default it's for the first row only. Now i followed your code so it could iterate the rows but now the data is all being sent to the first column instead of their proper columns. as you can see in the image

![image](https://user-images.githubusercontent.com/25117293/81939045-1a107100-95f6-11ea-9877-296ec280594b.png)

[2020-05-14 13:19] Nicklas9822 commented on #329
There are no examples online on this :/

[2020-05-14 13:19] simon-curtis commented on #329
@Nicklas9822 could you send me your code?

[2020-05-14 13:21] Nicklas9822 commented on #329
Yes sure

`
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using Microsoft.ML;
using PlayerPredictionSkillsSet1ML.Model;

namespace PlayerPredictionSkillsSet1ML.ConsoleApp
{
    class Program
    {
        //Dataset to use for predictions
        private const string DATA_FILEPATH = @"C:\Users\Nicholas\AppData\Local\Temp\ee44620c-ed47-4355-b736-94faf81b1d39.tsv

[2020-05-14 13:23] simon-curtis commented on #329
@Nicklas9822 can you set a break point on:
`Console.WriteLine($"name: {modelInput.Name}");`

And then hover over modelInput and it will show you the members inside, could you screenshot that for me?

[2020-05-14 13:25] Nicklas9822 commented on #329
![errorml](https://user-images.githubusercontent.com/25117293/81939882-34971a00-95f7-11ea-929d-5a134eba1aeb.png)

[2020-05-14 13:32] simon-curtis commented on #329
@Nicklas9822 Seems like the code behind isn't splitting your data, because you are using tabs ("\t").

[code]

What format is your data in? CSV

[2020-05-14 13:33] Nicklas9822 commented on #329
It's in SQL Format using SSMS 2018

[2020-05-14 13:35] simon-curtis commented on #329
Ahh okay, so I've just seen on their Docs

Just as a test, can you change any "\t" characters in your physical file to "/t" and try again?

[2020-05-14 13:37] Nicklas9822 commented on #329
I dont have /t in the db

[2020-05-14 13:38] simon-curtis commented on #329
Look for
`private const string DATA_FILEPATH = @"C:\Users\Nicholas\AppData\Local\Temp\ee44620c-ed47-4355-b736-94faf81b1d39.tsv";`

And change it there

[2020-05-14 13:39] Nicklas9822 commented on #329
Okay il try

[2020-05-14 13:40] Nicklas9822 commented on #329
![image](https://user-images.githubusercontent.com/25117293/81941485-2ea23880-95f9-11ea-84ad-ee443f879bc9.png)

[2020-05-14 13:40] Nicklas9822 commented on #329
There wasnt any of them

[2020-05-14 13:52] simon-curtis commented on #329
Okay, copy the contents of that file into https://onlinecsvtools.com/convert-tsv-to-csv .

In the options section, set the separator to $

![image](https://user-images.githubusercontent.com/43214378/81942642-488c4d00-95f2-11ea-8654-52c85a220857.png)

Once done, save the new CSV as `data.tsv` to the desktop. _(yes, definately .tsv)_

Now open that new tsv file in notepad and do a replace all on `$`

[2020-05-14 13:57] Nicklas9822 commented on #329
This is the result

![image](https://user-images.githubusercontent.com/25117293/81943428-a8d3bc80-95fb-11ea-8b09-36a7e3cb890b.png)

[2020-05-14 14:00] simon-curtis commented on #329
Ohh, okay. This looks like they aren't separating tsv files at all.

Just while I get a temporary solution for you, could you try converting to a normal CSV and see if that works?

[2020-05-14 14:12] Nicklas9822 commented on #329
I use a CSV so?

[2020-05-14 14:19] simon-curtis commented on #329
Neither, just use simple `,` so it should look like this:
`Messi,85,90,70`

[2020-05-14 14:23] Nicklas9822 commented on #329
Ok i figured it out i used a normal CSV with only the columns i need and it worked. Thanks for the help

[2020-05-14 14:24] Nicklas9822 commented on #329
![image](https://user-images.githubusercontent.com/25117293/81946196-5ac0b800-95ff-11ea-9538-ca12673fd37b.png)

[2020-05-14 14:26] simon-curtis commented on #329
OOHHHHH I've also just realised the code error.

If you look at the CreateSingleDataSample() method. The mlContext.Data.LoadFromTextFile() method is using `','` as the separatorChar. You should be able to change this to `"/t"` _(note, that its using double quotes " not single quotes ')_

[code]

[2020-05-14 17:28] Nicklas9822 commented on #329
Yes, thanks that was the problem

[2020-05-14 17:39] LittleLittleCloud commented on #738
The log is not quite descriptive here. Could you try creating a workspace from azure portal and see if you are able to create one or get a better error message.

Here's an instruction to create a workspace
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-workspace

[2020-05-14 17:41] LittleLittleCloud commented on #747
It's because ModelBuilder still pin to an older version of AutoML.Net so your fix isn't actually used here, The error should be solved after we upgrade to the latest ml.net after ml.net 1.5 is released

[2020-05-14 17:46] LittleLittleCloud commented on #739
Could you go check the experiment from portal and see if training is successful there?

[2020-05-14 17:55] Nicklas9822 commented on #329
@simon-curtis You have any idea maybe for the score to automatically turn it into percentage instead of the multiple numbers?

[2020-05-14 17:56] simon-curtis commented on #329
When you are outputting to the console?

[2020-05-14 18:03] justinormont commented on #739
@LittleLittleCloud: The job had failed when I checked it. I'm uncertain about the error message as we have  a background script which removes old Azure resources; the workspace has been deleted.

Could it be that Model Builder was waiting on the job, missed that it failed, then M.B. died when the workspace was removed?

In either case, perhaps we could catch the error, and present an actionable ne

[2020-05-14 18:28] antoniovs1029 commented on #747
Hi @LittleLittleCloud . What I'm trying to say is that our fix on my PR https://github.com/dotnet/machinelearning/pull/5125 won't fix this issue on modelbuilder (I haven't checked this as I wouldn't know how to build modelbuilder and test it, though).

And the reason I give for this, is that I can actually load in ML.NET all of those datasets even without the changes on my PR. And also that I can

[2020-05-14 18:33] justinormont opened #748 "Improve error messaging for non-parsable datasets"
I'd recommend improving the current error message:
https://github.com/dotnet/machinelearning/blob/e5a19af589dfb1468cd99628e82f6b49fb125323/src/Microsoft.ML.AutoML/ColumnInference/ColumnInferenceApi.cs#L120-L123

It currently says, `"Unable to split the file provided into multiple, consistent columns."`, which is rather uninformative and non-actionable.

Perhaps, as I think @briacht is suggesting,

[2020-05-14 18:39] Nicklas9822 commented on #329
Yes, exactly

[2020-05-14 18:43] justinormont opened #749 "Remove check for acceptable file extensions"
The CLI & Model Builder have a check for acceptable file extensions:
[code]

We should remove the check in favor of improving the existing error message. See: https://github.com/dotnet/machinelearning-modelbuilder/issues/748

There is no reason for this check and it reduces the functionality of the product.

Why it's not needed:
AutoML already sniffs the file to figure out its format, and from tha

[2020-05-14 18:58] #558 closed

[2020-05-14 18:58] #347 closed

[2020-05-14 18:58] #621 closed

[2020-05-14 18:58] #580 closed

[2020-05-14 18:58] #256 closed

[2020-05-14 18:58] #570 closed

[2020-05-14 18:58] #74 closed

[2020-05-14 18:58] #553 closed

[2020-05-14 18:59] #364 closed

[2020-05-14 18:59] #453 closed

[2020-05-14 18:59] #454 closed

[2020-05-14 18:59] #485 closed

[2020-05-14 18:59] #491 closed

[2020-05-14 18:59] #603 closed

[2020-05-14 18:59] #462 closed

[2020-05-14 18:59] #514 closed

[2020-05-14 18:59] #581 closed

[2020-05-14 18:59] #620 closed

[2020-05-14 18:59] #78 closed

[2020-05-14 18:59] #421 closed

[2020-05-14 18:59] #457 closed

[2020-05-14 18:59] #566 closed

[2020-05-14 18:59] #569 closed

[2020-05-14 19:04] simon-curtis commented on #329
Easiest thing to do is just do

`Console.WriteLine(“Acceleration: { modelInput.Acceleration / 100 }%”);`

[2020-05-14 19:04] JakeRadMSFT commented on #555
Upgrading to P0 - We'll need this fixed with re-entrancy ... I think they could hit this with only one instance of VS and multiple instances of Model Builder.

[2020-05-14 19:17] beccamc commented on #530
I've fixed the problem from the Model builder side, but we're still seeing errors from AutoML

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/23e875f9-24ad-411f-90cb-77bd73a75395)

[2020-05-14 19:58] justinormont commented on #748
Transferring to main ML․NET repo as the PR to fix will be for that repo.

[2020-05-14 21:15] antoniovs1029 commented on #747
After discussing this offline with @LittleLittleCloud :
1. We agreed that we are able to load the text-emotion.csv with ModelBuilder without any problem, so we aren't sure why was it included in the datasets on #702.
2. We agreed that the issue with the remaining datasets might be in the InferColumns() AutoML method (and particularly I insist it isn't in ML.NET's TextLoader).

So having people fro

[2020-05-14 21:52] LittleLittleCloud commented on #747
A few words to add:

I remove the "text-emotion.csv" and "titanic.csv" file on #702  since the dataset parsing error for those datasets is not caused by mlnet/automl and has been fixed in the latest ModelBuilder. The left datasets ([jgsaw](https://www.kaggle.com/c/jigsaw-multilingual-toxic-comment-classification/data)) and [Airbnb](https://www.kaggle.com/airbnb/seattle) listing.csv) all contain ne

[2020-05-14 23:12] JakeRadMSFT commented on #741
Look into changing text and adding to documentation for Image Training.

[2020-05-14 23:13] JakeRadMSFT commented on #743
Try to root cause the bug.

[2020-05-15 06:34] Nicklas9822 commented on #329
No, i want it for the Predictions Scores which are at the bottom

![81943428-a8d3bc80-95fb-11ea-8b09-36a7e3cb890b](https://user-images.githubusercontent.com/25117293/82019111-edf10080-9686-11ea-9037-2e34b114bafa.png)

[2020-05-15 06:35] Nicklas9822 commented on #329
It is a float array

[2020-05-15 08:16] simon-curtis commented on #329
I don't really know what 'Predicted Position scores' actually means. But if you want to display these as one percentage, then you probably want the average.
[code]

[2020-05-15 08:24] Nicklas9822 commented on #329
Oh okay, so i think i cant turn them into percentage each score instead of the average

[2020-05-15 08:28] simon-curtis commented on #329
Can you use paint or something to show me what you want the end result to look like?

[2020-05-15 08:31] Nicklas9822 commented on #329
Basically just the Scores Array which amounts to 10 scores in total and turn them into percentage so they could be read easier

[2020-05-15 08:31] Nicklas9822 commented on #329
So instead of 10 decimal numbers i would have 10 percentages

[2020-05-15 08:42] simon-curtis commented on #329
Like this:

[code]

outputs: `Predicted Position scores: 12.34%, 31.21%, 15.51%`

[2020-05-15 17:12] beccamc commented on #530
AutoML has concerns about allowing file writes while reading. See more details in [this ](https://github.com/dotnet/machinelearning/pull/5128)PR discussion. Returning to Retry pattern suggested by Jake

[2020-05-16 03:31] dunion commented on #738
I have followed your instructions I still get the errors. I have three accounts I can try from work/home.

I do not have the option of ‘basic’ only enterprise apparently for workspace.
I am not sure why but maybe my MSDN/Visual studio Universal version license is doing that.

I only get that stack trace and no useful information other than that it fails.

This is via my main work credential for Vi

[2020-05-18 20:06] beccamc commented on #746
@kawilkin What should happen if the text is longer than the size of the card? Does the card grow horizontally, or do we do a ...?

[2020-05-18 20:10] kawilkin commented on #746
@beccamc I think we need to truncate it. I don't think they should grow horizontally, but we might need to consider a "see more..." option that would potentially increase the hight of the card when selected so people can see the whole description. I also think we should consider adjusting the copy before going too crazy with truncating.

[2020-05-18 21:04] JakeRadMSFT commented on #739
@justinormont Can you share the run id?

[2020-05-18 21:28] LittleLittleCloud commented on #738
The pictures seem to fail to load, so I don't know if you can create workspace through portal,, can you re-upload pictures again?

It seems that you don't have write permission on your azure subscription, so model builder fails to create resourcegroup and ml workspace under your picked subscriptions. Could you double check if you have write permission to you azure subscription?

Regards

[2020-05-19 00:03] dunion commented on #738
How do I know? I have an MSDN Enterprise/Universal subscription that should include basically everything.
The whole problem is that I can't create this workspace it always fails.

What do I look for on my azure subscription?

________________________________
From: Xiaoyun Zhang <notifications@github.com>
Sent: Monday, May 18, 2020 5:28 PM
To: dotnet/machinelearning-modelbuilder <machinelearning-mo

[2020-05-19 08:02] romalpani opened #750 "Visual bugs - Vertical spacing and visual styling in Environment page"
**System Information (please complete the following information):**
 - Model Builder Version: 16.1.0.2026303
 - Visual Studio Version: 16.7.0 Preview 2 [30107.82.master]

**Describe the bug**
1. On the Environment page, the spacing between the page title, sub-title, and the help article hyperlink is inconsistent with the rest of the pages.

2. "Preview tag" for Azure looks different from other tag

[2020-05-19 08:18] romalpani opened #751 "Visual bugs: Train page (UI text, missing icon, spacing)"
**System Information (please complete the following information):**
 Model Builder Version: 16.1.0.2026303
 - Visual Studio Version: 16.7.0 Preview 2 [30107.82.master]

**Describe the bug**
1. In the Training setup summary section, the labels are bolded. Also, the vertical spacing is too much.
2. In the event that a User cancels an ongoing training, the 'canceled' state is missing an icon.
3. The

[2020-05-19 08:39] romalpani opened #752 "Evaluate page: Alignment and UI text bugs"
**System Information (please complete the following information):**
 Model Builder Version: 16.1.0.2026303
 - Visual Studio Version: 16.7.0 Preview 2 [30107.82.master]

**Describe the bug**
1. For image classification scenario, "Try your model" only allows a single image at a time to evaluate the model. But the text says 'images'.
<img width="2305" alt="Evaluate - UI text" src="https://user-images

[2020-05-19 08:50] romalpani opened #753 "Code page - Button padding and hyperlink guidelines"
**System Information (please complete the following information):**
- Model Builder Version: 16.1.0.2026303
- Visual Studio Version: 16.7.0 Preview 2 [30107.82.master]

**Describe the bug**
1. For the "Consume model" button, the size is incorrect.
2. For the "Next steps" cards, the hyperlinks cannot be a part of the sentence (according to Windows UI Text guidelines).
<img width="1986" alt="Code -

[2020-05-19 08:59] romalpani opened #754 "Data page - Alignment and restructuring"
**System Information (please complete the following information):**
 -  Model Builder Version: 16.1.0.2026303
 - Visual Studio Version: 16.7.0 Preview 2 [30107.82.master]

**Describe the bug**
The form for accepting input has a alignment issue, input type dropdown is too long, there's a lot of space between "Select a file" label and the text field, inconsistent input field sizing, and needs restru

[2020-05-19 11:34] PDostalek opened #755 "[loc][Query][mlnet-tools] Localizability of strings"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Thanks in advance for the reply

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
49,758 | Microsoft.ML.ModelBuilder\Reso

[2020-05-19 17:48] LittleLittleCloud commented on #738
Log on to your [Azure portal](portal.azure.com) -> select subscription and go to `overview` page(it should be the same subscription you use to create your workspace in ModelBuilder) -> check `my role`

For example, this is my VS enterprise subscription,
![image](https://user-images.githubusercontent.com/16876986/82359865-56a8e780-99bd-11ea-92a8-ac3cdd9fe768.png)

Make sure your role is higher than