[2022-01-02 19:56] swchan commented on #1963
I later found that if I created a "Console App" and not "Console App (.Net Framework)" project, there was not problem selecting dot net framework 6.0.  Since it was for learning purpose for me, I am fine with this. Thanks for your concern.

[2022-01-02 19:56] #1963 closed

[2022-01-03 08:20] torronen commented on #1939
@LittleLittleCloud
Some thoughts for consideration:
The columns are included in ModelInputSchema and ModelInput.cs. I have some few months old models, which include ignored columns in the schema. Ignored columns are removed from newer dataset files so I no longer have the data. This may be confusing (per original issue) but also cause minor issues in consuming the models:

`ITransformer model = ml

[2022-01-03 08:44] torronen commented on #1939
It seems the ignored columns have, in my case, Single or ReadOnlyMemory<char> for ignored Boolean fields. Reason might be that some were 1/0 and some were "true"/"false".

It would be helpful if they were inferred with same way as non-ignored fields (original datatype boolean), or if they always had a specific data type (maybe object).

[2022-01-03 17:47] zewditu commented on #1948
@LittleLittleCloud

[2022-01-03 18:08] zewditu commented on #1961
@nicholas-sharp could you check your installed run times in your VS installer individual components tab?
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/6589dca3-5d8f-4c26-9a29-074c03e960da), if they are not checked, please check them and update your installation.

[2022-01-03 18:12] zewditu commented on #1962
@LittleLittleCloud  any thought on this?

[2022-01-03 18:21] zewditu commented on #1960
chanmmn sorry for hitting this issue.
This issue is a known issue and it is under work https://github.com/dotnet/machinelearning-modelbuilder/issues/1513

[2022-01-03 18:32] zewditu commented on #1960
@beccamc  or @LittleLittleCloud  I think we have `Object reference not set to an instance of an object` issues in several places. Are we treat them as separate issues or are all can be bundled as one related issue.
I thought it is similar to https://github.com/dotnet/machinelearning-modelbuilder/issues/1838 however the step the issue pops up is different

[2022-01-03 18:55] beccamc commented on #1911
Tested that it won't install for 2019 versions earlier than 16.11. In this screenshot, it only shows install option for version 16.11, not for version 16.9

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/61f9e267-4a96-4b52-b484-708f8691146d)

[2022-01-03 20:15] nicholas-sharp commented on #1961
Thank you for your response.  I got it figured out and was able to continue with the example.

    Be Blessed!

Nicholas Sharp

Father’s Own, Inc.

c: 828.557.3936

From: zewditu Hailemariam ***@***.***>
Sent: Monday, January 3, 2022 13:08
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: nicholas-sharp ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] ML

[2022-01-03 21:19] zewditu commented on #1961
Great!

[2022-01-03 21:19] #1961 closed

[2022-01-03 23:20] zewditu commented on #1948
This issue is because the new .net 6 features a global namespace it creates type conflict between systems.Object and   and the type created in the new project

[2022-01-04 03:04] vzhuqin commented on #1889
@LittleLittleCloud , the new method still not work on latest build: 16.9.1.2205302 (main branch) and 16.11.0.2162702 (xiaoyun branch), could you take a look?
One example: Image classification>Azure environment
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f9e8f593-5b78-456a-adba-818d81724aad)

[2022-01-04 17:41] torronen opened #1964 "Suggestion: Support multiple input files"
**Where is your data located?**
In some cases, dataset files a split to multiple files. For example, export is not always possible for full dataset from some SaaS Software. Some datasets are split to training and test set, or training+validation+test sets. In these cases, it would be convenient to allow user to select multiple inputs files in Model Builder.

In both cases, allowing mutiple input f

[2022-01-04 18:42] TrevorDArcyEvans opened #1965 "Feature Request: Would like mlnet to support local training for object detection"
[code]

Currently only supports local training for:
* classification
* regression
* recommendation
* image-classification

Would like to be able to locally train for object detection so I can develop on Linux

Current workaround is to use:
* Windows
* Visual Studio 2022
* Model Builder
* Azure

[2022-01-04 20:05] beccamc commented on #1943
Even with update to minor version, we are still seeing an SDK problem (not related to original root cause).

`Description: Could not load file or assembly &apos;Microsoft.VisualStudio.Shell.15.0, Version=17.0.0.0`

[2022-01-04 21:45] beccamc opened #1966 "NuGet assembly failure in .Net 6 project"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Steps to Reproduce**
1. Opened an existing Value Prediciton .mbconfig
2. Retrained
3. Saw error

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/c5ef2f04-2c11-4a69-b24a-85c302d055c5)

[2022-01-04 21:46] beccamc commented on #1966
Is this issue already filed somewhere?

[2022-01-04 21:53] beccamc opened #1967 "Reloading Azure environment is slow"
I am getting a repro on my machine, need to see if it repros on other machines as well. Could be a slow network or other issue.

The reload Azure environment is very slow. This used to take a second or two, now it takes about 10.

1. Create Object detection file
2. Setup environment (I also trained)
3. Save and close
4. Reload mbconfig file.
5. Environment tab will be very slow to load.

[2022-01-04 21:53] beccamc commented on #1967
This might not be the view model fault, but we should figure out what is taking all the time.

[2022-01-04 22:51] beccamc commented on #1911
^ Above no longer relevant. Have rolled back the SDK problem in PR https://github.com/dotnet/machinelearning-tools/pull/1370

[2022-01-04 22:56] beccamc commented on #1911
Complete test pass by Qin: onenote:https://microsoft.sharepoint.com/teams/CloudPlatformToolsDevOpsCTI/Shared%20Documents/Team%20Notes/DevOps%20CTI%20Wuxi/12%20Model%20Builder/Test%20Result.one#16.9.1.2161502_SanityTestPassMLNet.CLITestPass&section-id=%7B73026020-B53E-45B5-97E9-49E94EE8CB12%7D&page-id=%7B3970082A-6B0D-4D16-8166-CE593BA46873%7D&end

[2022-01-05 17:43] zewditu commented on #1966
we have this assembly loading issues
https://github.com/dotnet/machinelearning-modelbuilder/issues/1943

https://github.com/dotnet/machinelearning-modelbuilder/issues/994

But  I am not sure if they are exactly same ,  they seems indifferent service .

[2022-01-05 17:47] beccamc opened #1968 "GPU extension shown as missing even when the versions match"
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/d4d81c71-b391-4b33-9d10-7fe5456beff8)

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/09e2f651-898d-4eba-a502-86a7f5e10389)

[2022-01-05 17:49] zewditu commented on #1965
Closed because it dup of https://github.com/dotnet/machinelearning-modelbuilder/issues/1091, please follow the progress here https://github.com/dotnet/machinelearning-modelbuilder/issues/1091

[2022-01-05 17:49] #1965 closed

[2022-01-05 17:49] zewditu commented on #1091
Another customer requested this feature https://github.com/dotnet/machinelearning-modelbuilder/issues/1965

[2022-01-05 19:42] torronen opened #1969 "Suggestion: keep hyperparameters for all iterations"
**Is your feature request related to a problem? Please describe.**
I have dataset split into training and test set. I am using train set with Model builder.
I have been now testing all the models in temp folder against the train set (not just the generated one but the 1....999.zip's in temp)
The best model selected for model builder is not always the best in test data set.

**Describe the solution

[2022-01-06 21:24] beccamc commented on #1968
I have fixed this: ![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/160de10b-8487-47ec-b8fd-68e614800088)

[2022-01-07 01:59] vzhuqin opened #1970 "Error when opening new model builder."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.11.1.2205601
 - Microsoft Visual Studio Enterprise 2019: 16.11.8

**Describe the bug**
- On which step of the process did you run into an issue: opening new model builder
- Clear description of the problem:
Error message:
"The model filename.mbconfig was created

[2022-01-07 07:48] vzhuqin opened #1971 "Exceptions encountered when using Sentiment dataset to training model."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.11.1.2205601
 - Microsoft Visual Studio Enterprise 2019: 16.11.8

**DataSet**
https://testpass.blob.core.windows.net/test-pass-data/wikipedia-detox-250-line-data.tsv

**Describe the bug**
- On which step of the process did you run into an issue: Training model wi

[2022-01-07 12:33] HashemGo commented on #1929
Sorry, the issue still not resolve
I updated all ml.net and vs preview 2
still have this alert after analyze the dataset
i can't to do work :(
![image](https://user-images.githubusercontent.com/42634137/148542545-7bb7bc70-bc27-4ed3-be41-2c23e11cb7ec.png)

![image](https://user-images.githubusercontent.com/42634137/148542867-cd0c52a5-08f8-4fdd-a563-feaed5e53f32.png)

![image](https://user-images.gi

[2022-01-07 17:48] beccamc commented on #1842
https://github.com/dotnet/machinelearning-modelbuilder/issues/1952

[2022-01-07 18:21] rummelsworth opened #1972 "Cannot open Model Builder UI from mbconfig. Double-clicking produces error modal."
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.7.3.2143002
 - Visual Studio Version (if applicable): 17.0.4

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/create
- Clear description of the problem: The mbconfig file will not open.

[2022-01-10 09:53] andrasfuchs opened #1973 "Add interfaces for MLModel, MLModel.ModelInput, MLModel.ModelOutput generated classes"
**Is your feature request related to a problem? Please describe.**
I have multiple models trained on a dataset that have multiple labels. I disable all of them and enable one of them at a time, do the training, and then enable only the next one, do the training etc.
I end up with multiple trained models and their respective generated classes for consumption.

**Describe the solution you'd like**
I

[2022-01-10 11:59] andrasfuchs opened #1974 "Generated namespace differs from the projects default if it has a dot character"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.2.2205603
 - Visual Studio Version: 17.0.4

**Describe the bug**
- On which step of the process did you run into an issue: After a successful training
- Clear description of the problem: The generated classes are in the namespace of "BBD_SleepLogger" instead of

[2022-01-10 12:12] andrasfuchs opened #1975 "Set all feature values by setting a single float[] Features property on ModelInput"
**Is your feature request related to a problem? Please describe.**
When I run the trained models I always need to fill the properties of `ModelInput` that represent an input value one-by-one. Since I typically have 5000+ input values, I use reflection to do the property setting. Although it works, it would be much better to have a Features float array on the `ModelInput`, just like we have on the

[2022-01-10 13:00] andrasfuchs commented on #1480
I can confirm that the header update works in v16.9.2.2205603. 👍
It would be nice if after changing the header setting to yes, it would try to re-detect the data type of the columns, because it is possible that the headers were detected as `String`s, but the actual values are `Single`s.

![image](https://user-images.githubusercontent.com/910321/148769256-a9b08576-075e-4595-a721-25234f07e8e4.png)

[2022-01-10 16:21] beccamc commented on #1480
@andrasfuchs it should re-detect after the header change. I see that it hasn't in your case, and that it's pretty tedious to change by hand. I think you've shared this dataset with us before, but can you share it again?

Also, you can open the .mbconfig file in Notebook and do a find and replace on those "String" values to quicky update them all.

[2022-01-10 19:25] LittleLittleCloud commented on #1945
fix: update to latest VS
![image](https://user-images.githubusercontent.com/16876986/148826514-af8b486d-0241-449b-b20b-3cf9ca20a62e.png)

[2022-01-10 20:19] andrasfuchs commented on #1480
Sure, here it is: https://drive.google.com/file/d/1C2Of2UIHN2y7l5J-SvEvacFhTAHMCCcm/view?usp=sharing

[2022-01-10 22:49] beccamc opened #1976 "January Hotfix 2"
Commit: https://github.com/dotnet/machinelearning-tools/commit/d5b544cac765099716a2b6fed5ad4a9953ba1aab
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.9.3.md

**2022** Version number: 16.9.3.2206002
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5609780
**2019** Version number: Did not ship update
**2019** Build:

[2022-01-11 07:47] vzhuqin commented on #1778
okay, move to "Read To Ship" as the exception is expected.

[2022-01-11 20:16] #851 closed

[2022-01-11 20:16] #901 closed

[2022-01-11 20:16] #967 closed

[2022-01-11 20:16] #1105 closed

[2022-01-11 20:16] #1197 closed

[2022-01-11 20:16] #1267 closed

[2022-01-11 20:16] #1270 closed

[2022-01-11 20:16] #1290 closed

[2022-01-11 20:16] #1302 closed

[2022-01-11 20:16] #1446 closed

[2022-01-11 20:16] #1499 closed

[2022-01-11 20:16] #1581 closed

[2022-01-11 20:16] #1652 closed

[2022-01-11 20:16] #1672 closed

[2022-01-11 20:16] #1682 closed

[2022-01-11 20:16] #1684 closed

[2022-01-11 20:16] #1695 closed

[2022-01-11 20:16] #1704 closed

[2022-01-11 20:16] #1711 closed

[2022-01-11 20:16] #1728 closed

[2022-01-11 20:16] #1755 closed

[2022-01-11 20:16] #1778 closed

[2022-01-11 20:16] #1807 closed

[2022-01-11 20:16] #1818 closed

[2022-01-11 20:16] #1819 closed

[2022-01-11 20:16] #1829 closed

[2022-01-11 20:16] #1841 closed

[2022-01-11 20:16] #1853 closed

[2022-01-11 20:16] #1859 closed

[2022-01-11 20:16] #1860 closed

[2022-01-11 20:16] #1861 closed

[2022-01-11 20:16] #1866 closed

[2022-01-11 20:16] #1872 closed

[2022-01-11 20:16] #1880 closed

[2022-01-11 20:16] #1882 closed

[2022-01-11 20:16] #1884 closed

[2022-01-11 20:16] #1886 closed

[2022-01-11 20:16] #1887 closed

[2022-01-11 20:16] #1895 closed

[2022-01-11 20:16] #1896 closed

[2022-01-11 20:16] #1898 closed

[2022-01-11 20:16] #1901 closed

[2022-01-11 20:16] #1902 closed

[2022-01-11 20:16] #1905 closed

[2022-01-11 20:16] #1908 closed

[2022-01-11 20:16] #1909 closed

[2022-01-11 20:16] #1921 closed

[2022-01-11 20:16] #1944 closed

[2022-01-11 20:16] #1968 closed

[2022-01-11 20:16] #1480 closed

[2022-01-11 20:17] #1900 closed

[2022-01-11 20:17] beccamc commented on #1900
Closing this. Can circle back after release is out for a few weeks.

[2022-01-11 20:18] beccamc commented on #1915
This should be fixed in the latest release. Please ping me if you are still having problems. Thanks!

[2022-01-11 20:18] #1915 closed

[2022-01-11 20:22] #1976 closed

[2022-01-11 20:22] beccamc commented on #1976
Hot fix to fix issue #1842

[2022-01-11 20:23] beccamc commented on #1952
The fix for this is shipped in version 16.9.3! Please give it a try and let us know if you see any problems.

[2022-01-11 20:24] beccamc commented on #1966
Has anyone else seen this problem?

[2022-01-11 20:36] beccamc commented on #1972
@rummelsworth Can you try updating your Model Builder to our new release - 16.9.3?

[2022-01-12 08:34] GreenShadeZhang commented on #1091
I am also looking forward to this feature, and hope to experience it soon.

[2022-01-12 19:08] #1911 closed

[2022-01-12 19:12] beccamc commented on #1967
@vzhuqin Can you check this? I'd like a comparison between reloading Azure from main branch, and from the released version (16.9.3).  If the amount of time is similar then we can close this.

1. Start object detection
2. Setup Azure
3. Save file and close
4. Reopen, go to Environment tab.

If both 16.9.3 released version and main are the same this isn't a problem. Thanks!

[2022-01-12 19:13] LittleLittleCloud commented on #1912
@beccamc @JakeRadMSFT @luisquintanilla
After discussing, we decided to split mlnet.cli into three packages according to it's runtime and make it version matches with modelbuilders

- microsoft.ml.modelbuilder.cli.win64
- microsoft.ml.modelbuilder.cli.osx
- microsoft.ml.modelbuilder.cli.linux64

I'll update this thread once installment documents get changed

[2022-01-12 19:13] beccamc commented on #1966
@beccamc  To try to reproduce.

[2022-01-12 19:15] beccamc commented on #1960
This shouldn't repro on latest main. @vzhuqin Can you try to reproduce?

Once we ship we need to ensure these are not happening any more in telemetry.

[2022-01-12 19:24] beccamc commented on #1951
Is there a consistent repro for this if you don't retrain? @vzhuqin Have you hit this again?

[2022-01-12 19:25] beccamc commented on #1962
@LittleLittleCloud Can you link to installation instruction here?

[2022-01-12 19:26] beccamc commented on #1940
@vzhuqin Can you try to get a repro of this?

[2022-01-12 19:30] LittleLittleCloud commented on #1889
@vzhuqin

Try using `\\` to replace `\` for image path as `\` is escape character

[2022-01-12 19:31] beccamc commented on #1941
We need to give a better error message here.

[2022-01-12 19:33] LittleLittleCloud commented on #1951
@beccamc
It's probably because we didn't clear training result after reset column purpose in advanced data option (which we should). We probably needs to fix that.

[2022-01-12 19:34] #1842 closed

[2022-01-12 19:40] beccamc commented on #1946
@zewditu Do you have a PR our for this or should I ping Luis about changing it to the generic message?

[2022-01-12 19:43] beccamc commented on #1930
We need to reach back out to the VS extensibility team to figure this out. @zewditu Can you take care of this?

[2022-01-12 20:04] kevison commented on #1952
How does this affect VS 2022 which is where I originally ran into the problem....

[2022-01-12 21:08] beccamc commented on #1954
We don't have a consistent repro of this. @vzhuqin Have you seen this multiple times?

[2022-01-12 21:35] LittleLittleCloud commented on #1678
It's probably fixed in latest VS release doesn't it? @JakeRadMSFT

[2022-01-12 21:39] LittleLittleCloud commented on #1926
Should be fixed

[2022-01-12 21:39] #1926 closed

[2022-01-13 02:25] vzhuqin commented on #1960
Hi @beccamc , Yes, I haven't seen this error in the main build for a while, be it creating/opening the model builder, selecting a scenario or changing the settings in the advanced data options.

Not repro this issue on latest main: 16.12.0.2206201
![Issue1960not repro](https://user-images.githubusercontent.com/81727020/149254545-984f125e-27bc-431a-9e7d-3315bef45590.gif)

[2022-01-13 04:04] vzhuqin commented on #1889
@LittleLittleCloud could you help to take a look where is wrong?
- ML.Net Model Builder: 16.12.0.2206201
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.4
- command: Invoke-RestMethod "https://localhost:44307/predict?imagePath=C:\\Users\\vzhuqin\\Downloads\\weather\\weather\\Cloudy\\cloudy1.jpg" -Method Post
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10

[2022-01-13 05:54] vzhuqin opened #1977 "Run WebAPI fail with Boolean data type column."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.12.0.2206201
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.4

"Dataset"
https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/wikipedia-detox-250-line-data.tsv

**Describe the bug**
- On which step of the process did you run i

[2022-01-13 06:09] vzhuqin opened #1978 "A large blank area is displayed above the predicted results on Evaluate page."
**System Information (please complete the following information):**

- Model Builder Version (available in Manage Extensions dialog): 16.12.0.2206201
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.4

**Describe the bug**
- On which step of the process did you run into an issue: Predict results on Evaluate page.

**To Reproduce**
Steps to reproduce the behavior:

1. Select Create a

[2022-01-13 06:27] vzhuqin opened #1979 "Cannot open or reload model builder in VS2019."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.12.0.2206201
 - Microsoft Visual Studio Enterprise 2019: 16.11.9

**Describe the bug**
- On which step of the process did you run into an issue: open the new created model builder, or reload the existing model builder trained on old version.
- Clear description o

[2022-01-13 06:41] vzhuqin opened #1980 "Training Error for Image classification>Local(CPU)."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.12.0.2206201
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.4

**Describe the bug**
- If you select Forecasting, then back to select Image classification>Local (CPU), will encounter the model builder error while training the model.
- Not occur t

[2022-01-13 07:13] vzhuqin commented on #1954
@beccamc I will repro this issue on latest main when the blocked issue #1979 is fixed.

[2022-01-13 16:56] beccamc commented on #1967
Awesome thank you! Closing this issue as it's unrelated to the framework change.

[2022-01-13 16:56] #1967 closed

[2022-01-13 16:58] beccamc commented on #1678
@vzhuqin Can you try this again and see if it still repros?

[2022-01-13 21:38] beccamc commented on #1978
@LittleLittleCloud Is this something from forecasting prototyping?

[2022-01-14 03:03] vzhuqin commented on #1678
Hi @beccamc , yes, i can repro this issue on latest main: 16.12.1.2206302
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4578a3b2-5859-4b08-9186-70340df748f5)
- Microsoft Visual Studio Enterprise 2019 Version 16.11.9
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/40665321-2d9d-4745-bb2c-d9664135f980)

- Microsoft Visual Studio Enterprise 2022

[2022-01-14 07:59] vzhuqin commented on #1938
Not repro this issue on latest main: 16.12.1.2206302
![1938_Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/bf6c069a-40b9-4d04-928a-e6d900ab954f)

[2022-01-14 08:11] vzhuqin commented on #1513
Not repro this issue on main: 16.12.1.2206302

[2022-01-14 08:19] vzhuqin commented on #1679
not repro this issue on main: 16.12.1.2206302
![1679_Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/128a1c45-100d-44ad-b64f-4f18579dccf1)

[2022-01-14 20:16] LittleLittleCloud commented on #1949
@vzhuqin
Not reproduce on latest main, can you try again to confirm the error is gone?

[2022-01-14 21:00] LittleLittleCloud commented on #1932
@romalpani  @JakeRadMSFT

Any idea what time column tooltip should look like?

Maybe something like

This is the target column that you want to specify the datetime column in the input data for building the time series.

[2022-01-14 21:02] LittleLittleCloud commented on #1931
Can't reproduce any more, maybe it's been fixed,

[2022-01-14 21:02] LittleLittleCloud commented on #1933
Can't reproduce any more, maybe it's been fixed.

[2022-01-16 08:15] HashemGo commented on #1929
With new update resolve part of problem
I think this is a bug

if you have a solution with many projects for ML
if you  try training one of them the project copy namespace from another that's wired!, The projects not connected
also if you have version 1.6 and another project have version 1.7 the problem showing up

I hope this help
Thanks

[2022-01-16 17:19] torronen opened #1981 "Filenames for Model builder file including "." are cut"
I often name my models based on the dataset used. For example MyData010122.csv-LabelName-ModelBuilder.mbconfig.

If I use "." in the name as in the example above, then the name become MyData010122.

Instead of cutting the name should the "." be replaced by another character such as "-" ?

It is low impact issue for my work. It is easy to workaround by not putting ".csv" in the name, or manually re

[2022-01-16 21:29] torronen commented on #1969
Adding the parameters to log file would probably be also adequate. For special cases, like mine, I could check log file. It might also help in debugging issues. Currently, log file does not include much data.
Could it be considered:
 -  the parameters would be saved here.
 - all trainers would be set to verbose, so we could see if there are any warnings about data quality

[2022-01-17 01:53] vzhuqin commented on #1949
@LittleLittleCloud , my git-lfs bandwidth usage exceeded, I will try it after my bandwidth is reset.

[2022-01-18 08:17] vzhuqin commented on #1979
can repro this issue on latest main build:
ML.Net Model Builder 2019: 16.12.1.2206701

[2022-01-18 16:49] beccamc commented on #1933
Okay let's close this!

[2022-01-18 16:49] #1933 closed

[2022-01-18 17:21] torronen commented on #1973
I have some similar cases. I think it might also fit your case to simply use one class for all the models. It requires to edit the generated code a bit, and you might loose it upon re-training. To solve it I have a shared consumption code which takes the model name (zip file) as a parameter. The shared model (or interface) can include all the properties for all models, even extra ones. One benefit

[2022-01-18 19:13] LittleLittleCloud commented on #1978
Yup, should be removed once linked PR checked in

[2022-01-18 21:59] beccamc opened #1982 "Update model message is wrong"
Looks like we didn't replace "filename".  The  mbconfig I opened was not named filename.mbconfig 😊

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/c29edf3d-7c2e-4565-a35b-ed904af238b6)

[2022-01-18 23:23] beccamc opened #1983 "Forecasting description is wrong"
This looks to be the old description from the "example scenarios?"

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/3485a2f7-18eb-441e-8ce2-360876f4b902)

[2022-01-19 01:50] ymind commented on #1980
I had a similar problem:

[code]

[2022-01-19 09:04] torronen opened #1984 "Infinite loop trying to start training with multiple threads"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): latest
 - Visual Studio Version: 2019

**Describe the bug**
Start training button did not appear to do anything so I clicked it multiple times.
Now it tries to start training what looks like infinite number of times, but fails due to other processes working on same

[2022-01-19 09:05] torronen commented on #1984
It stopped at around 687 trials so it is actually fine. Closing.

[2022-01-19 09:05] #1984 closed

[2022-01-19 21:47] beccamc commented on #1981
Thanks for reporting @torronen! I'll put this on the backlog.

[2022-01-19 21:49] beccamc commented on #1974
Thanks for reporting @andrasfuchs.  I'll add this to the backlog.

[2022-01-20 02:30] vzhuqin commented on #1949
@LittleLittle Cloud can repro this issue on latest main: 16.12.1.2206901
Please note that this issue is not happened if you clone the repository from github, then open the model builder. It only occurs for the original model builder in local machine which had been created and pushed to git.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/186edfd5-c235-4f41-9143-3b3e5cfda

[2022-01-20 02:44] vzhuqin commented on #1889
can repro on latest main: 16.12.1.2206901
using \\ to replace \ for image path.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5e182e88-ad3e-42e0-87f8-6693a0a6949c)

[2022-01-20 07:01] vzhuqin commented on #1979
not repro this issue on ML.Net Model Builder 2019: 16.12.1.2206901 (main)

[2022-01-20 07:57] geoffhirst opened #1985 "Provided Code has an error"
**System Information (please complete the following information):**
OS Name	Microsoft Windows 11 Pro
Version	10.0.22000 Build 22000
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	GEOFFS-ZBOOK
System Manufacturer	HP
System Model	HP ZBook Fury 17 G7 Mobile Workstation
System Type	x64-based PC
System SKU	119W5EA#ABU
Processor	Intel(R) Core(TM) i9-10885H CPU @ 2.

[2022-01-20 08:21] vzhuqin commented on #1954
@beccamc , i cannot repro this issue on latest main: 16.12.1.2206901

[2022-01-20 18:45] beccamc commented on #1954
I'm closing this issue. Please reopen if you see it again. Thanks Qin!

[2022-01-20 18:45] #1954 closed

[2022-01-20 23:02] beccamc commented on #1985
@geoffhirst This looks like an error in our documentation. I think you might need to change `Prediction` to `PredictedLabel`.  Otherwise can you inspect that ModelOutput result and see what's available?

[2022-01-20 23:53] andrasfuchs opened #1986 ""Unable to parse file" exception when trying to open CSV file with many columns"
**System Information (please complete the following information):**
 - Model Builder Version: 16.9.3.2206002
 - Visual Studio Version: 17.0.5

**Describe the bug**
On the Data tab I browsed for and selected a fairly big .csv file with 42626 columns.
The following exception was thrown after a few seconds and the file was not loaded:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2022-01-21 00:02] andrasfuchs commented on #1985
I'm not sure if it helps in your case, but I used the `result.Score` property instead for the prediction. That's an array of floats, and it is usually the first value that is important, but unfortunately its not consistent among the different algorithms.
I described the problem [here](https://github.com/dotnet/machinelearning/issues/6037).

[2022-01-21 02:52] vzhuqin commented on #1970
not repro this issue on latest main: 16.12.1.2206901
![1970Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b0495dde-7564-40aa-8d3e-1801dff7491b)

[2022-01-21 02:54] vzhuqin commented on #1978
Not repro this issue on latest main: 16.12.1.2206901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/601e69ca-88b2-4043-b235-f89b49361d7a)

[2022-01-21 05:49] vzhuqin commented on #1943
not repro this issue on latest main: 16.12.1.2206901
- ML.Net Model Builder: 16.12.1.2206901
- Microsoft Visual Studio Enterprise 2019: 16.11.9
can add new model builder or load existing one:
![1943Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b6f063cb-2086-4421-9c04-91d5aae4f07a)

[2022-01-21 06:01] vzhuqin commented on #1740
Verified this issue on ML.Net Model Builder 2022: 16.12.1.2206901
The generated ConsoleApp project is net6.0.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/20f02d73-c542-4bce-a76b-15a1f09af5c6)

[2022-01-21 07:53] geoffhirst commented on #1985
Thanks guys, I did see the PredictedLabel but as I have zero experience with the library didn't want to second guess. Thanks for the clarity. Appreciated. Onwards!

[2022-01-21 08:58] vzhuqin commented on #1945
@LittleLittleCloud , I can update the Microsoft.ML to latest 1.7.0 from NuGet Package Manager without error, not sure whether have verified this issue? if not, could you help to provide me the repro steps?

My steps:
1. Install Microsoft Visual Studio Enterprise 2022 (64-bit) - Int Preview Version 17.1.0 Preview 4.0 [32119.435.d17.1];
2. Update ML.Net Model Builder VS2022 to latest main;
3. Open N

[2022-01-21 16:29] beccamc commented on #1985
@luisquintanilla Looks like we've changed the model output shape without updating docs. Are you still the person to talk to about this? 😊

[2022-01-21 16:31] luisquintanilla commented on #1985
@beccamc yup. Is it just a matter of updating `Prediction` with `PredictedLabel`?

[2022-01-21 22:30] beccamc commented on #1986
Thanks for reporting @andrasfuchs! I'll take a look.

[2022-01-22 12:19] kuznickic opened #1987 "ML Model from ML.NET walkthrough 0% accuracy"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: Latest
 - Visual Studio Version (if applicable): Visual Studio 2022 / .NET 6

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem: Following the tutoria

[2022-01-22 12:52] liranbd1 opened #1988 "mlnet command will not run - wrong sdk in tutorial"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable): Using Terminal but have Visual Studio 2019 for mac

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/install
- Clear description of the problem: Whe

[2022-01-23 18:20] 21r8390 commented on #1903
Hello @beccamc,
As a side note about me, ML and ML Builder is brand new. This is the first time I am using it.
With that said let's get to my problem. After the training is finished I get the error message: `Value cannot be null.` `Parameter name: project`. This error occurred everytime I tried.

The error message said that it had to do with a NuGet package, which is why I installed Microsoft.ML,

[2022-01-24 02:34] vzhuqin commented on #1951
@beccamc , I encountered this issue on latest main: ML.Net Model Builder 2022: 16.12.2.2207101, but it was found after retrained, and the probability of recurrence is very small now. Attached the screenshot for your reference.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/dea64cf2-6e2d-4576-b453-a1fbcae6f592)
MBConfig file:
[https://app.zenhub.com/files/186917455/25550

[2022-01-24 08:23] vzhuqin commented on #1729
Not repro this issue on latest main: 16.12.2.2207101
Image local:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9ed47901-75ff-4359-ba1c-14d7c3d46a0e)
Image Azure:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0d9bb90a-3091-4a80-b315-73067c5385a4)
Object:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/dc2bf68c-d99

[2022-01-24 11:43] Rogardo commented on #1091
I am also interested in this feature.

[2022-01-24 11:49] andrasfuchs commented on #1986
No problem at all, thank you for taking a look at it.

Is there any other way I can help the development? I reported a few issues both here and [in the machine learning repo](https://github.com/dotnet/machinelearning), and I could work on those and do pull requests with the fixes. Do you see any chance that you open the source code for the model builder as well?

I'm kind of blocked at the moment

[2022-01-24 12:11] andrasfuchs commented on #1985
@luisquintanilla I don't think so. `Prediction` was a float value, and `PredictedLabel` is a `String`, right?
Now you have the float values in the `Scores` array, and usually it's the first value that indicates the prediction confidence. This value combined with the `PredictedLabel` is the useful information for the user, I think.

So, ideally we would have a `SortedDictionary<String, Single>` on

[2022-01-24 21:46] beccamc commented on #1974
Possibly using the same cleaned name for the namespace as the class. @zewditu Does this relate to #1948?

[2022-01-24 21:48] beccamc commented on #1981
#1948

[2022-01-24 21:48] beccamc commented on #1948
@zewditu Can you circle back on this and look at the two attached issues? Ping Jake with questions.

[2022-01-24 21:50] beccamc commented on #1951
On evaluate we check for probability. We look for it by name. https://github.com/dotnet/machinelearning-tools/blob/main/src/Microsoft.ML.ModelBuilder.AutoMLService/ModelInferenceEngine.cs#L67

[2022-01-24 21:52] JakeRadMSFT commented on #1951
@michaelgsharp this is kind of related to having the model tell us which column is the prediction. What did we determine was the best way to do that?

[2022-01-24 21:53] LittleLittleCloud commented on #1956
Looks like this issue has already been fixed in latest main

[2022-01-24 21:56] JakeRadMSFT commented on #1907
@jernejk sorry for the delayed response. I think this got a bit lost throughout the holidays!

Are you still hitting this issue? I've seen this before on VS 2019 but rarely. Can you try unchecking Model Builder from the VS installer and then re-install Model Builder from the Extension Manager or from the Marketplace?

[2022-01-24 21:57] beccamc commented on #1934
@JakeRadMSFT To validate this and see if we want to make a change.

[2022-01-24 21:59] beccamc commented on #1969
Thanks @torronen! This is great feedback

[2022-01-24 22:01] beccamc commented on #1971
@beccamc To reproduce and see if this is due to wiping out the column data on header change.

[2022-01-24 22:06] beccamc commented on #1973
Thanks for the suggestion and details! Model Builder team - we need to investigate an appropriate solution to this issue.

[2022-01-24 22:09] beccamc commented on #1975
Possibly dataframes as well. See related https://github.com/dotnet/machinelearning-modelbuilder/issues/1973

[2022-01-24 22:11] beccamc commented on #1977
@vzhuqin What if you put true in quotes - "true"?  Is that request body generated by Model Builder?

[2022-01-24 22:12] beccamc commented on #1980
@ymind Looks like your stack trace is a little different. Do you mind opening a new issue?

[2022-01-24 22:13] beccamc commented on #1980
@LittleLittleCloud Can you look at the problem reported by Qin?

[2022-01-24 22:16] beccamc commented on #1986
@JakeRadMSFT to comment on if/when we are going open source.

@andrasfuchs I'll try and fix this one this week. Which other issues are blocking you?

[2022-01-24 22:19] beccamc commented on #1987
@kuznickic Sorry you encountered this issue. The problem is likely that your computer only trained one model in the 60 seconds. That's a bit unusual. Can you try training again with a longer time?

@vzhuqin Can you double check that you can't repro this on your machine in 60 seconds.

[2022-01-24 22:20] beccamc commented on #1988
@liranbd1 Thanks for reporting!

[2022-01-24 22:21] #1721 closed

[2022-01-24 22:21] beccamc commented on #1721
Per Jake and Becca, this isn't high pri. Closing.

[2022-01-24 22:29] LittleLittleCloud commented on #1980
SHould be fixed already

[2022-01-25 06:05] vzhuqin commented on #1977
@beccamc , verified this issue on latest main ML.Net Model Builder: 16.12.2.2207401

- can repro this issue when put true in quotes - "true"; And yes, the original request body was copied from code snippet.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/791c1ac9-8e03-454e-aa3f-91b38f990a81)

- But if set the LoggedIn column to "String" type, can run the webapi without e

[2022-01-25 06:22] vzhuqin commented on #1987
@beccamc , i can got a good score in 60s.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/57d674ac-1553-4ff8-b267-2feeb31ed156)

I guess kuznickic select the col0 as the label column, so got the 0% accuracy.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e23e6a96-9b74-4c9a-8563-1364d80fcc52)

[2022-01-25 08:07] vzhuqin commented on #1980
not repro this issue on latest main: 16.12.2.2207401
can complete the training when switched from Forecasting scenario.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2bca37e3-9b74-4614-b15e-7791000cfdf8)

[2022-01-25 08:20] andrasfuchs commented on #1986
@beccamc Thank you! This is [the other one](https://github.com/dotnet/machinelearning/issues/6035).

[2022-01-25 13:17] torronen commented on #1969
If you will consider additional logging, maybe same format as FLAML? It seems to have some tooling for plotting the log file.

[2022-01-25 16:40] beccamc commented on #1987
Thank you @vzhuqin!!

@kuznickic Did you maybe select the wrong value for label column?

[2022-01-26 07:22] zewditu commented on #1981
It seems that we keep "." in the file names
![image](https://user-images.githubusercontent.com/36615490/151120193-b719f775-fa5f-4ce1-afa8-a7789193487c.png)

[2022-01-26 07:25] zewditu commented on #1974
yes, it is to clean the namespace cleaning   I will take care of it in a separate PR.

[2022-01-26 07:57] torronen commented on #1981
@zewditu I rested  on both VS 2019 and 2022, you are correct.

The cutting only happens if I dont put .mbconfig in the filename field. In this case it might be reasonable to remove the invalid "extension". If user keeps .mbconfig in the filename dialog, then "." is kept as expected.

<img width="307" alt="image" src="https://user-images.githubusercontent.com/26261427/151124065-7539be78-168d-4ce7-9

[2022-01-26 08:03] zewditu commented on #1981
@torronen thanks!

[2022-01-26 08:03] #1981 closed

[2022-01-26 13:54] torronen commented on #1975
I agree this is one of the pain point of consuming the models.

Here is a summary of what I am doing with DataFrames (actual code is a bit too messy, pending refactoring). It avoids Reflection but is not much simpler. Benefit for me is that I can still run models where the datatypes do not match (Single 1/0 vs. Boolean). It probably is possible to add the DataRow at once (=float[]), but creation o

[2022-01-26 14:16] torronen commented on #1975
@andrasfuchs You have a cool project! BTW, not sure if helpful, but just in case: if you are using Model builder for the device and get good metrics in Model Builder but not for live measurements, I think you might also need the Sampling Key support (https://github.com/dotnet/machinelearning-modelbuilder/issues/1873 maybe personid or measurementSessionId as sampling key) or switch to ML.NET class

[2022-01-26 16:46] torronen commented on #1975
One more point to consider is that the schema in Model files created by Model Builder include (unless some recent change) all ignored columns. Ignored columns are good candidates from being removed from the dataset. If I try to feed DataFrame or input class without ignored columns present, I get an exception.

 Thus, I believe, it is unnecessary to require them to be present in the input (ModelInp

[2022-01-26 19:29] LittleLittleCloud commented on #1988
Is your mac using m1 chip? If so the mlnet won't work as the document is not up-to-date with m1 chip and mlnet is still targeted to netcoreapp 3.1.

We will release a mlnet that can work with m1 soon. Meanwhile as a work around, you can try the following package

`dotnet tool install --global Microsoft.ML.ModelBuilder.CLI.OSX --version 16.9.3`

[2022-01-27 07:21] vzhuqin opened #1989 "Time series column is not reset to blank when the "Use default index for time columns" box is checked."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): latest main (16.12.2.2207601)
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue: Data page>Time series column
- Clear description of the problem: After check the "Use def

[2022-01-27 07:27] vzhuqin opened #1990 "The tooltip of "Horizon" need to be updated."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): latest main (16.12.2.2207601)
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue: Train page>The tooltip of "Horizon"

**To Reproduce**
Steps to reproduce the behavior:

1

[2022-01-27 07:44] vzhuqin opened #1991 "The prediction result is not reset after training again."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): latest main (16.12.2.2207601)
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue: Display the previous Predication result on Evaluate page after training again.

**To Repr

[2022-01-27 08:04] vzhuqin opened #1992 "Run Forecasting notebook error."
**System Information (please complete the following information):**
 - Notebook Editor [Preview]: 0.2.3.2207504
- ML.Net Model Builder 2022: 16.12.2.2207601
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue: Run Forecasting notebook
- Clear description of the problem: the "Horozon" is set to default 10,

[2022-01-27 08:21] vzhuqin opened #1993 "Run Forecasting WebAPI project errors."
**System Information (please complete the following information):**

- ML.Net Model Builder 2022: 16.12.2.2207601
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue: Run Forecasting WebApi project

**To Reproduce**
Steps to reproduce the behavior:

1. Select Create a new project from the Visual Studio 202

[2022-01-27 09:49] vzhuqin commented on #1983
Not repro on latest main: 16.12.2.2207601
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d7573ac8-4a92-41df-94bd-13de1b750fc0)

[2022-01-27 09:52] vzhuqin commented on #1932
not repro this issue on latest main:  16.12.2.2207601
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ee7b5524-f662-496b-99d8-3f2b4b36810d)

[2022-01-27 09:54] vzhuqin commented on #1927
Not repro this issue on latest main: 16.12.2.2207601
The default value is 10:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/74f3f234-3f2f-463c-9184-3865ce43dd9e)

[2022-01-27 11:47] liranbd1 commented on #1988
Yes my mac is with m1 chip, it not only that the document is not up-to-date with m1 chip its also the dotnet \ mlnet cli tool is not updated.
If we call the mlnet command it will output a message letting the user know that it can't find the correct SDK and share a link which can be clearly seen should send us to an arm64 but as you guys just said it is not yet out.

Thanks, I will check this work

[2022-01-27 18:25] LittleLittleCloud commented on #1988
@liranbd1
It will be soon, maybe @luisquintanilla knows more here

[2022-01-28 09:03] vzhuqin opened #1994 "The ignore settings will not be reflected on Evaluate page and Code snippet of Consume page until reload the model builder."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.12.2.2207601
 - Microsoft Visual Studio Enterprise 2019: 16.11.9

**Describe the bug**
- On which step of the process did you run into an issue: Sample data on Evaluate page and Code snippet on Consume page.
- Clear description of the problem:

1. Select Recommen

[2022-01-28 09:27] andrasfuchs commented on #1975
@torronen Thank you!
Overfitting might a problem in my case too, but last time when I was surprised how badly the model made its predictions was because of a FastForestOva-related bug in ML.NET, that I reported in [issue #6037](https://github.com/dotnet/machinelearning/issues/6037). You could have run into it without realizing it, so I thought I mention it ;)

[2022-01-28 18:53] romalpani commented on #1932
@LittleLittleCloud
Let's rename the label to "Time column". Calling it that is self-explanatory as to what that selection would mean. In which case we can get rid of the info-tip.

![image](https://user-images.githubusercontent.com/48927690/151604917-61786d9a-2e56-44c5-a0c1-27f2e90d6e75.png)

[2022-01-28 19:37] ericstj commented on #1068
Closing since we shipped work that enabled these additional platforms.

[2022-01-28 19:37] #1068 closed

[2022-01-28 19:38] ericstj commented on #1073
Not sure what this is tracking.

[2022-01-28 19:38] #1073 closed

[2022-01-28 19:38] ericstj commented on #1069
We aren't using this to track the work happening in ML.NET.  Instead we're using this board:  https://github.com/dotnet/machinelearning/projects/27

[2022-01-28 19:38] #1069 closed

[2022-01-28 19:40] ericstj commented on #1070
I agree! 😄

We have more testing for this now, which I think this was meant to address.  cc @michaelgsharp

[2022-01-28 19:40] #1070 closed

[2022-01-28 20:24] torronen commented on #1975
@andrasfuchs thanks! It is actually likely that may impact at least some of my code where scores matter. I need to review my code and the other trainers next week.

[2022-01-29 08:10] vzhuqin opened #1995 "All checks have failed when Create a PR which update MlNetVersion to the latest mlnet.cli version."
**System Information (please complete the following information):**
 - ML.NET: 16.12.2

**Describe the bug**
- On which step of the process did you run into an issue: MLNet.CLI Test Pass
- @LittleLittleCloud All checks have failed when Create a PR which update MlNetVersion to the latest mlnet.cli version: 16.12.2, could you help to take a look?
The corresponding PR: https://github.com/LittleLittle

[2022-01-29 08:19] vzhuqin commented on #1956
can repro this issue on latest main: 16.12.2.2207801
![1956_repro.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/50d6a553-d233-46bd-ab4e-fb7d832bd03f)

[2022-01-29 16:13] torronen opened #1996 "Consider showinf balanced accuracy instead of accuracy"
Currently, Model builder shows accuracy for the user because it is intuitive to understand.
However, in cases on imbalanced datasets, accuracy can be misleading. I believe real-world datasets are rarely perfectly balanced and in this cases it is no longer intuitive to understand what accuracy means.

For examples, I might have 10% false and 90% true in my dataset. If Model predicts everything as t

[2022-01-30 14:01] gitm3abreak opened #1997 "JSON steps do not match"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: sentimentModel.mbconfig
 - Visual Studio Version (if applicable): 2022 Community 17.0.5

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/generate-code
- Clear description of the problem: Th

[2022-01-31 16:33] torronen opened #1998 "Suggestion: Allow to disable trainers"
**Is your feature request related to a problem? Please describe.**
Often, Model Builder runs some of the trainers fast but often starts building bigger and slower models with one or more trainers. Most of the time, FastForest may become slow. It happens on big and small datasets. For big datasets, the models may get very big, such as 3.5GB zip file (largest I've created). Currently, there is chanc

[2022-01-31 18:15] rlagare opened #1999 "Selecting Models"
**System Information (please complete the following information):**
 - Model Builder
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): This is not a bug
- Clear description of the problem: Model builder automatically selects the best model for the loaded dataset. It also shows other models that it explored for that part

[2022-01-31 20:31] torronen commented on #1999
@rlagare The temp folder that is mentioned in the output window has all the models as zip files. I have been succesful in copying them and running my own metrics on them with test data. Note that the numbers do not always match exactly with the log output. The params are lost as far as I know, i created an issue about it recently.

Microsoft team may have some better info.

[2022-01-31 20:39] torronen commented on #1873
@LittleLittleCloud before this is implemented do you know if there is a possibility to "hack" and replace test.bin in the temp folder with my own data or will it get overwritten when starting a new run? Although if new tuner should have same performance as modelbuildee I might not need it.

[2022-01-31 20:57] beccamc commented on #1997
@gitm3abreak Sorry you ran into this problem. You're saying these three files didn't generate as sub items of the .mbconfig file?

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/16d3282f-11b3-444d-af24-e8bd9b0382e7)

[2022-01-31 21:10] beccamc commented on #1994
We had some other uses report problems with the ignore column. @vzhuqin can you confirm the ignore column is working right in the other scenarios.

For recommendation, we should never show that timestamp column. Only the user/item is being used for training. This is a bug.

[2022-01-31 21:16] beccamc commented on #1996
Thanks for the suggestion!

[2022-01-31 21:42] LittleLittleCloud commented on #1998
Yep there's a way to disable trainers through env variables, it's not mentioned in public document anywhere though (sorry about that)

![image](https://user-images.githubusercontent.com/16876986/151877707-e2227bbf-0911-41b1-892d-9c2d2a2d4b88.png)

For example, if you want to use only lgbm for binary classification, you can
`set AutoMLServiceBinaryClassifiers=LGBM`

[2022-01-31 21:48] LittleLittleCloud commented on #1995
Hi @vzhuqin , I just push a fix to mlnet benchmark and you should be good to go,

[2022-01-31 22:20] gitm3abreak commented on #1997
Not exactly.  I meant that the steps shown in the model in the training do not correlalste to the steps seen in my implementation of VS2022.  And because of that, the code generated was not compiling.  I had to manually edit the program.cs to add “using … and the function call at the end

Fernan

On Jan 31, 2022, at 15:57, Becca McHenry ***@***.***> wrote:

﻿
@gitm3abreak Sorry you ran into this p

[2022-02-01 07:09] torronen opened #2000 "Consider showing 4 digits in "Best accuracy""
When running high-accuracy models, small differences can be relatively big.
For example 98.6 vs 99.4% has 1.4% vs 0.6% mistakes in binary classification.
So we could say one model is performing over 2x better even if both would round to 99% ins the summary page.

This information may help decide if the model is useful enough for a specific use case, especially where mistakes can be expensive.

![k

[2022-02-01 09:04] torronen commented on #1998
Thank you. Good solution for me.

[2022-02-01 19:13] andrasfuchs commented on #1986
@beccamc Did you have the chance to look into this or [the other issue](https://github.com/dotnet/machinelearning/issues/6035) last week?

[2022-02-01 21:30] LittleLittleCloud opened #2001 "Stop use one-hot encoder to categorical feature if it's numeric"
might under-perform lgbm trainer if we do so

- https://github.com/microsoft/FLAML/discussions/409

[2022-02-02 07:24] torronen opened #2002 "Consider generate code to read CSV file in .training: RetrainPipeline"
consider adding code to read CSV file in RetrainPipeline.

Microsoft.ML column inference and TextLoader detect different data types and user must manually change them.
RetrainPipeline might be more useful for the intended audience if it would include overload that allows sepcifying a csv path.

[2022-02-02 07:39] torronen commented on #2002
Example: https://github.com/torronen/lightgbm-comparison/blob/main/data/train.csv column boat

[2022-02-02 07:47] torronen commented on #2001
BTW, column boat here is textual, but best results are received if it is specified as a number.
https://github.com/microsoft/FLAML/discussions/409#discussioncomment-2093969

[2022-02-02 20:48] beccamc opened #2003 "Forecasting release"
Commit:  https://github.com/dotnet/machinelearning-tools/commit/d0bc4b37dd6676d37f829347b5b0cfa36356b1fc
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.13.1.md

**2022** Version number: 16.13.0.2210202
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5703088
**2019** Version number: 16.13.0.2210201
**2019** Build:

[2022-02-03 11:03] torronen opened #2004 "Dual CPU system only shows single CPU in environment tab"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.3.2206002
 - Visual Studio Version 2022

**Describe the bug**
Not very important, but Environment tab reports only single CPU in dual CPU servers

![kuva](https://user-images.githubusercontent.com/26261427/152330393-b1c5cbdb-64d6-4861-9c56-19cdadc87be6.png)
![k

[2022-02-03 19:47] beccamc commented on #2003
Not able to do full GPU testing but I ensured the extension installation check works.

[2022-02-03 20:13] #1943 closed

[2022-02-03 22:05] #1952 closed

[2022-02-04 02:16] becjohnson opened #2005 "at System.IO.FileInfo..ctor(String fileName) at Microsoft.ML.ModelBuilder.Utils.Utilities.GetFileTrainTime(String filePath) at Microsoft.ML.ModelBuilder.ViewModels.TrainViewModel.<StartTrainingAsync>d__109.MoveNext()"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: Model Builder
 - Visual Studio Version (if applicable): Experimental Version Visual Studio 2022

**Describe the bug**

- If you are trying to use a data-set outside of the containing folder of the solution, you will get this error.

**Expected behavior**
Expected the model to start training, got th

[2022-02-04 02:56] luisquintanilla opened #2006 "[Forecasting] Error thrown when making prediction using generated Web API project"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: VS2022

**Describe the bug**
- On which step of the process did you run into an issue: Consume
- Clear description of the problem: When making an HTTP request using the generated Web API project, an error is thrown.

**To Re

[2022-02-04 13:36] torronen commented on #2001
For best performance, may need more investigation. It seems Model Builder aggressively marks numeric cols as categories, but removing them seems to lower performance at least in one of my datasets. It may be related to number of categories, < 10 or <5 may perform better as one-hot encoding. Even better, some future version might test different pipelines.

[2022-02-04 13:44] torronen commented on #2001
Nevermind, I can not be sure yet because the validation data is not the same, so could just depend on how test data got chosen.

[2022-02-04 14:23] torronen commented on #2000
Another issue with 2 digits: I can no longer search with the accuracy from the output log to see which iteration gave the best result. I usually use it to decide when I can cancel the training: if the best accuracy was found long time ago I can cancel - if recently, then I should keep training.

![kuva](https://user-images.githubusercontent.com/26261427/152545019-785d383f-f1b5-489b-a0b4-e26d8e18a0

[2022-02-04 15:15] beccamc commented on #2006
@LittleLittleCloud Can you take a look?

[2022-02-04 18:27] LittleLittleCloud opened #2007 "Consider adding "Best iteration" to training window"
#2000

[2022-02-04 18:32] torronen opened #2008 "[Forecasting] Time series drop down is slow with 2000+ columns"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version 2022

**Describe the bug**
- On which step of the process did you run into an issue: Starting new forecasting model
- Clear description of the problem: Selecting the column to use for time series is slow

**To Reproduce**
Ste

[2022-02-04 18:43] torronen commented on #2008
3 related issues:

1. Opening "Advanced data options..." is also slow to open, with 15-18% CPU consumption on 8-core Macbook.
2. Time label can not be selected from "Advanced data options..."
3. Search in Advanced data options is slow.

[2022-02-04 19:14] torronen opened #2009 "[Forecasting] Graph expects dataset pre-sorted"
Data tab has new option "Graph" for forecasting task. My dataset has items in somewhat random order so the graph does not look useful.

Does the forecasting require user to pre-sort the dataset or does it do sorting itself for the training?

Time series column in Unix timestamp. . I could not find information from https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/time-series-deman

[2022-02-05 20:41] torronen commented on #1565
This might not be as easy as the CPU monitor shows. For example, CPU might show 25% load in monitor but running 2 processes at 25% would seem to be much slower than 2x. Perhaps, since it is compute intensive, there is something related to CPU caches. At least, it might we worth testing before implementation.

[2022-02-05 20:55] torronen commented on #1999
@rlagare LightGBM and FastTree .zip files include the hyperparams inside the zip file, so it might be possible to extract them throuhg .NET interfaces, or worst case, by reading directly from the Model.key file either somehow deserializing the binary file, or even reading as ASCII. Screenshots are from notepad

If we are lucky, we might be able to find the same from all model.zip files.

![kuva](h

[2022-02-05 20:55] torronen commented on #1969
see https://github.com/dotnet/machinelearning-modelbuilder/issues/1999#issuecomment-1030697354

[2022-02-05 21:23] rlagare commented on #1999
Thanks for the feedback @torronen

[2022-02-07 02:32] vzhuqin commented on #1994
@beccamc  Sorry, the description is not clear, this issue also occurs on other scenarios (Data classification, Recommendation).
Example (Data classification):
![image](https://user-images.githubusercontent.com/81727020/152715250-855c6214-9f47-4e60-9826-4c4541511afe.png)
![image](https://user-images.githubusercontent.com/81727020/152715268-507e31e1-28ea-48c6-8ef2-cca08bafaf80.png)

[2022-02-07 02:49] vzhuqin commented on #1990
not repro this issue on latest main: 16.13.1.2210302
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/746a08f6-7ca1-4e9b-863d-584b018936c6)

[2022-02-07 02:58] vzhuqin commented on #1989
Not repro this issue on latest main: 16.13.1.2210302
![1989_fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/70f0fc74-df9b-41c6-aae4-6788dd0fec96)

[2022-02-07 03:04] vzhuqin commented on #1991
Not repro this issue on latest main: 16.13.1.2210302

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0d1a1d9a-1e12-41fc-99d7-5fdb91393922)

[2022-02-07 03:51] vzhuqin commented on #1992
Not repro this issue on latest main:
- Notebook Editor [Preview]: 0.2.3.2210302

- ML.Net Model Builder: 16.13.1.2210302

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5f2a7d40-74ef-4f20-b999-9750c20fd48e)

[2022-02-07 04:07] vzhuqin commented on #1995
Thanks @LittleLittleCloud, success on ML.NET: 16.13.1.
PR: https://github.com/LittleLittleCloud/MLNet-Benchmark/pull/16

[2022-02-07 06:41] vzhuqin commented on #1991
But find another issue is that the table frame is truncated after train again, @LittleLittleCloud please take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/af43a8bb-74b3-497e-b54d-ae3017b5dbaa)

[2022-02-07 16:56] luisquintanilla opened #2010 "[CLI] Generated project doesn't run or build"
**System Information (please complete the following information):**
 - CLI Version: 16.12.2+86688637e3ba4b906f5adf37b767fee124189da7
 - OS: Windows 11 & Ubuntu 20.04
 - .NET SDK: 6.0.101

**Describe the bug**
The console app project generated fails to build and run because:
- targets .NET SDK 3.1
- is missing package references
- is missing using statements.
- `BuildPipeline` method uninplemented.

[2022-02-07 17:29] luisquintanilla commented on #2010
@LittleLittleCloud FYI

[2022-02-07 20:40] luisquintanilla opened #2011 "[CLI] Repeating trial cancellation message."
**System Information (please complete the following information):**
 - CLI Version: 16.12.2+86688637e3ba4b906f5adf37b767fee124189da7
 - OS: Windows 11
 - Architecture: x64

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: When time expires and a trial is running, the trial is cancelled. A message, `Trial 23 encounter error

[2022-02-07 20:41] luisquintanilla commented on #2011
@LittleLittleCloud FYI

[2022-02-07 20:46] #1513 closed

[2022-02-07 20:46] #1838 closed

[2022-02-07 20:46] #1931 closed

[2022-02-07 20:46] #1938 closed

[2022-02-07 20:46] #1958 closed

[2022-02-07 20:46] #1980 closed

[2022-02-07 20:46] #1983 closed

[2022-02-07 20:46] #1990 closed

[2022-02-07 20:46] #1992 closed

[2022-02-07 20:46] #1995 closed

[2022-02-07 20:46] #1679 closed

[2022-02-07 20:46] #1729 closed

[2022-02-07 20:46] #1740 closed

[2022-02-07 20:46] #1927 closed

[2022-02-07 20:46] #1932 closed

[2022-02-07 20:46] #1948 closed

[2022-02-07 20:46] #1970 closed

[2022-02-07 20:46] #1974 closed

[2022-02-07 20:46] #1978 closed

[2022-02-07 20:46] #1979 closed

[2022-02-07 20:46] #1989 closed

[2022-02-07 21:10] beccamc commented on #1998
@luisquintanilla Can we get this in docs?

[2022-02-07 21:12] beccamc commented on #1998
Once we document this can be closed. This is covered in the Customize training epic.

[2022-02-07 21:13] beccamc commented on #2001
@LittleLittleCloud What is the priority of this? Do you need input from PM?

[2022-02-07 21:18] beccamc commented on #2002
@torronen Do you mean a completely new CSV? You want a code sample that shows how to read in a new .csv, infer the column types, and then use those settings?

[2022-02-07 21:21] beccamc commented on #2004
This is a good suggestion. We could add a list of all system processors.

[2022-02-07 21:24] beccamc commented on #2007
@LittleLittleCloud you mean add all the information about the iteration to the Training page?

[2022-02-07 21:48] beccamc commented on #2009
@LittleLittleCloud Can you comment on the above questions?

[2022-02-07 22:23] beccamc commented on #1946
Change to say "The following fields are pre-filled by a row of your data."

[2022-02-08 03:27] IzzZulfa opened #2012 "Found error when running replaced code on Program.cs"
Consume your model
The last step is to consume your trained model in the end-user application.

Replace the Program.cs code in your myMLApp project with the following code:

Program.cs

Copy
using MyMLApp;
// Add input data
var sampleData = new SentimentModel.ModelInput()
{
    Col0 = "This restaurant was wonderful."
};

// Load model and predict output of sample data
var result = SentimentModel.P

[2022-02-08 06:54] jernejk commented on #1907
Sorry for the late response but yes, I still have the same problem.
I can't install, reinstall or remove [ML.NET](http://ml.net/) Model Builder which is also blocking update/repair/uninstall of both Visual Studio 2019 and Visual Studio 2019 Preview.

![image](https://user-images.githubusercontent.com/5943653/152933286-a82a4455-0246-4397-bb8b-b5ab55835044.png)
**Figure:** Error when I try to modify

[2022-02-08 06:56] vzhuqin opened #2013 "Data Preview doesn't reset after switched Data source type."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): ML.Net Model Builder: 16.13.1.2210302 (latest main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.9
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue: Data page>Data

[2022-02-08 08:32] torronen commented on #2002
Yes, something like this might make using _RetrainPipeline_ easier. Although, then maybe, overrides would be needed for list of ModelInputs (from memory, or custom storage) and read from SQL Sever.

![image](https://user-images.githubusercontent.com/26261427/152947284-1d823cbc-2e68-4382-8c85-bd16eebb9faf.png)

Myself, I am working on if we could retrain based on just the .zip file since it somewhe

[2022-02-08 08:49] torronen commented on #2002
BTW, small side issue that could benefit from clarification in docs: refit vs retrain. It might only be relevant for trees, but LightGBM CLI supports refitting and retraining. Refitting uses same tree, but adjusts the values, while retraining creates a new tree. A new tree may need re-validation, refitting might be alright.

The issue is worse when the dataset size is different. My use case is to

[2022-02-08 09:54] vzhuqin commented on #1910
@LittleLittleCloud could you help to provide the validate steps for this issue?

[2022-02-08 09:55] vzhuqin commented on #1768
@LittleLittleCloud  could you help to provide the validate steps for this issue?

[2022-02-08 09:55] vzhuqin commented on #1769
@LittleLittleCloud  could you help to provide the validate steps for this issue?

[2022-02-08 09:55] vzhuqin commented on #1904
@LittleLittleCloud  could you help to provide the validate steps for this issue?

[2022-02-08 18:26] LittleLittleCloud commented on #1769
It's for designer,, you don't need to validate this.

[2022-02-08 18:26] #1769 closed

[2022-02-08 18:27] LittleLittleCloud commented on #1904
It's for me to tracking down code gen, you don't need to validate this

[2022-02-08 18:27] #1904 closed

[2022-02-08 18:55] LittleLittleCloud commented on #2009
The graph in data page will show dataset as is, while during training, if you choose `TimeStamp` as time column, it will sort out your dataset (from earlier to later) based on your time column.

The horizon is the number of values to look overhead, this value will be used to set the `horizon` in `ForecastBySsa`. So it doesn't related with time column even if you set it up.

[2022-02-08 19:40] LittleLittleCloud commented on #2011
Turns out it's not a bug. mlnet cli presents error message accurately and precisely. But would alleviate once this issue #1863 get fixed.

[2022-02-09 08:49] vzhuqin opened #2014 "Cursor jumps abnormally in Advanced Data options."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302 (latest main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.9

**Describe the bug**
- On which step of the process did you run into an issue: Advanced data options
- Clear description of the problem: have 2 issues here,
one is that: open the dial

[2022-02-09 09:10] vzhuqin opened #2015 "The settings in Advanced Data options do not work for Forecasting."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302 (latest main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.9

**Describe the bug**
- On which step of the process did you run into an issue: Settings in Advanced Data options

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a

[2022-02-10 02:17] luisquintanilla commented on #1985
@andrasfuchs

For this dataset, the data type for the label or `Col1` is a float. It's still a categorical value though. Since it's a float, I don't think there's a way to map the labels to the. You're right though that in the event that it was a string, you'd be able to do that using the Slot Names property and generate a sorted dictionary.  In that case, the code would be a little more complicat

[2022-02-10 02:25] vzhuqin opened #2016 "Data preview does not update after set the column headers."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210902 (latest main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.10

**Describe the bug**
- On which step of the process did you run into an issue:  Data preview

- Clear description of the problem: after set the column headers, Data preview does not

[2022-02-10 03:14] vzhuqin opened #2017 "Forecasting: Training error for Data source from SQLPassword."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210902 (latest main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.10

**Describe the bug**
- On which step of the process did you run into an issue: Training Forecasting with Data source from SQLPassword.

**TestMatrix**
https://testpass.blob.core.wind

[2022-02-10 08:47] landonzeng commented on #98
When will the mysql database be supported?

[2022-02-10 11:45] torronen commented on #2008
Similar issues on User Recommendation dropdowns. (Just tried it a bit for fun)

[2022-02-10 21:14] luisquintanilla opened #2018 "[CLI] Generate only training assets in existing application"
When using Model Builder for training, the following files are created as a result of the training process in the project from which "Add > Machine Learning Model" is selected:

- *.mbconfig
- *.training.cs
- *.consumption.cs
- *.zip (Model file)

Optionally, in the Consume step, users have the option to generate a new project from the Console and Web API templates provided. The same files are cop

[2022-02-10 23:28] beccamc opened #2019 "Confusion Matrix code sample for Notebooks"
Add Confusion Matrix to the text classification Notebook.

Binary Classification:
[code]

[2022-02-11 01:05] luisquintanilla commented on #98
Hi @landonzeng

We don't have specific plans to support MySQL databases in Model Builder at this time. However, as we hear more from our users this is something they'd like to see supported, we'll take it into account as we plan releases. In the meantime, you might be able to use the ML.NET API and DatabaseLoader to load data from MySQL.

Here is a sample from [StackOverflow](https://stackoverflow

[2022-02-11 02:21] vzhuqin opened #2020 "The best model for the training results is inconsistent with the top model explored by the output box."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.2.2211002 (latest main)
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: Training results on Train page.

**DataSource**
https://github.com/dotnet/machinelearning-

[2022-02-11 03:03] vzhuqin opened #2021 "Graph does not work on Data Preview for SQL Data source."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.2.2211002
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: SQL Data source>Data Preview>Graph

**Data source**
https://github.com/dotnet/machinelearning-samples/ra

[2022-02-11 03:18] vzhuqin opened #2022 "Training model builder error for Forecasting due to datetime"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.2.2211002
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: Forecasting>Training error

**Data source**
https://github.com/dotnet/machinelearning-samples/raw/main/s

[2022-02-11 08:03] vzhuqin opened #2023 "Forecasting: cannot select the column which data type is non-Single as label."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.2.2211002
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: Label drop-down list
- Clear description of the problem: this issue not occurs on other scenarios, all c

[2022-02-11 09:51] vzhuqin opened #2024 "Forecasting: display the same predicated values."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.2.2211002
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: predict the model>see prediction result

**Data source**
https://github.com/dotnet/machinelearning-samp

[2022-02-12 06:46] landonzeng commented on #98
Thank you very much, looking forward to the new version release

[2022-02-13 10:45] torronen commented on #1975
@beccamc There is    ` internal sealed class ArrayDataViewBuilder` which takes floats and might be exposed in public API to allow feeding float[][] to create a IDataView.

Current usage in source:
[code]

[2022-02-14 02:45] vzhuqin opened #2025 "Model Builder Error when adding console app to solution on Consume page."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.13.3.2211104 (Latest main)
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: adding console app to solution on Consume page
- Clear description of the problem: not oc

[2022-02-14 03:01] Youstarter opened #2026 "dotnet run"
Elizabethrigney and her family were locking together for the next levelbeforeshehadtalkedwithhermotherabouttheprocessofmovingonlne xtcouple**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the prob

[2022-02-14 06:48] vzhuqin opened #2027 "The output area of consume the model is too long."
**System Information (please complete the following information):**
- Notebook Editor [Preview]: 0.2.3.2210803
- ML.Net Model Builder: 16.13.3.2211104
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**

- On which step of the process did you run into an issue: run notebook file

- Clear description of the problem: this issue might be not happen after re-Run All

[2022-02-14 07:41] vzhuqin opened #2028 "The left border of the predicted table is not displayed."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.3.2211104 (latest main)
- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.6

**Describe the bug**
- On which step of the process did you run into an issue: Prediction result on Evaluate page
- Clear description of the problem:

**To Reproduce**
S

[2022-02-14 20:32] beccamc commented on #2005
Sorry for the delay here @becjohnson.  To confirm, you're saying that Model builder couldn't open the file when it was in a random file location. It did work when the file was in the containing folder of the solution?

What was the full error message? Do you have a screenshot of the error?

[2022-02-14 20:36] beccamc commented on #2026
Sorry @Youstarter I don't have enough information to investigate this issue. If you're having a problem please answer the questions, and include screenshots. Thanks!

Closing - happy to reopen if you're able to provide more info.

[2022-02-14 20:36] #2026 closed

[2022-02-14 20:38] beccamc commented on #2027
@vzhuqin Can you move this issue to the Notebook repo? (you can just create a new issue and link)

[2022-02-14 21:32] beccamc opened #2029 "Data Tab Bugs P1/P2"
This is the parent tracking item for all Data Tab Bugs that are non-blocking issues.

[2022-02-14 21:36] beccamc commented on #1881
Closing this as lower priority. Tracking in data tab p1/p2 issue to be picked up at a later time.

[2022-02-14 21:36] #1881 closed

[2022-02-14 21:42] beccamc commented on #1574
This is low priority, closing.

[2022-02-14 21:42] #1574 closed

[2022-02-14 21:46] beccamc commented on #1877
Problem happens when switching between datasets. This is low priority, adding to Data page p1/p2 bugs and then closing.

[2022-02-14 21:46] #1877 closed

[2022-02-14 21:47] beccamc commented on #1879
This is lower priority. Adding to the data tab p1/p2 issue and closing for now.

[2022-02-14 21:47] #1879 closed

[2022-02-14 21:48] beccamc commented on #1856
This shouldn't be happening anymore per XiaoYun's change https://github.com/dotnet/machinelearning-modelbuilder/issues/1513

[2022-02-14 21:48] #1856 closed

[2022-02-14 21:49] beccamc commented on #1758
@vzhuqin Is this still happening 3/10 times?

[2022-02-14 21:50] beccamc commented on #817
@LittleLittleCloud Are the issues here resolved?

[2022-02-14 21:54] beccamc opened #2030 "Evaluate tab bugs P1/P2"
- [ ] https://github.com/dotnet/machinelearning-modelbuilder/issues/1303

[2022-02-14 21:55] beccamc commented on #1303
This feature is P2 and won't be done for a while. Adding it to the Evaluate tab bugs p1/p2

[2022-02-14 21:55] #1303 closed

[2022-02-15 01:15] vzhuqin commented on #2027
Moved to https://github.com/microsoft/VS-Notebook/issues/150

[2022-02-15 01:16] #2027 closed

[2022-02-15 02:01] vzhuqin commented on #2013
@beccamc , yes, if you select other dataset, it will update to show the changed data. this issue only occurs when switching data source type.
![2013](https://user-images.githubusercontent.com/81727020/153978427-2969d8f7-a64c-4d70-9e17-0f3dced61b57.gif)

[2022-02-15 07:51] A1Ki opened #2031 "kaelynn Kha"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-02-15 07:53] A1Ki opened #2032 "Dotnet/machinelearning-Modelbuilder"
- Options

[2022-02-15 08:22] vzhuqin commented on #1982
@beccamc , could you provide the repro steps for this issue? I cannot get the dialog now.

[2022-02-15 09:02] A1Ki opened #2033 "Replace NOP3 with CHECKSEQUENCEVERIFY (BIP-112)"
Replace with CHECKSEQUENCEVERIFY (BIP-112)

The BIP text is at https://github.com/bitcoin/bips/blob/master/bip-0112.mediawiki

This PR follows on from #6564 and is rebased (with #7184 which has been merged top `master`) so can now be tested directly.

Functional test scripts by @Kaelynnk can be found at https://Kaelynnk.github.com//op_csv-test

For reviewers please note that #6564 changed remained

[2022-02-15 15:55] beccamc commented on #1982
You need to use an older version mbconfig file. Just changing the version number to something older would probably work. Let me know if it doesn't.

[2022-02-15 16:01] beccamc commented on #1758
Awesome! I love it when stuff gets fixed 😄

[2022-02-15 16:01] #1758 closed

[2022-02-15 18:34] LittleLittleCloud commented on #817
Mght be, I'll take a look

[2022-02-15 19:11] beccamc commented on #2032
@A1Ki Sorry, I'm not understanding the issue. Can you provide some more information please? Screenshots etc. are very helpful!

[2022-02-15 19:14] beccamc commented on #1437
Hi! Were you able to test in November?

[2022-02-15 19:14] beccamc commented on #1737
Hello! I know there hasn't been activity on this issue for a while. Is the problem still happening? Can you upload the log file if it is? Thanks!

[2022-02-15 19:19] beccamc commented on #1751
HI all, closing this as I believe the issue is resolved. If anyone encounters this, make sure that GPU and Model Builder extension versions match.

If there are any other GPU issues please re-open or file a new issue. Thanks!

[2022-02-15 19:19] #1751 closed

[2022-02-15 19:22] beccamc commented on #1919
We don't have enough information to investigate this (no repro).  If the problem is still happening please let me know.

[2022-02-15 19:22] #1919 closed

[2022-02-15 19:22] beccamc commented on #1924
@JerzyKruszewski Is this still happening? If it is, would you mind sharing your dataset?

[2022-02-15 19:23] beccamc commented on #1942
Any update here?

[2022-02-15 19:24] beccamc commented on #1972
@rummelsworth Sorry for the delay here! Are you still having extension problems?

[2022-02-15 19:25] beccamc commented on #1987
Any update here?

[2022-02-15 21:25] beccamc commented on #1982
Confirmed this is fixed:

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/89667920-eb57-46bd-8e7a-068970a72993)

[2022-02-15 21:25] #1982 closed

[2022-02-15 21:53] beccamc commented on #1748
This is fixed https://github.com/dotnet/machinelearning-tools/pull/1347

[2022-02-15 21:53] #1748 closed

[2022-02-15 22:01] romalpani commented on #1946
Jumping in a bit late here.
I do agree with you @beccamc  - just keeping it generic is alright. But if we are certain that it would be one of the first 10 rows, then we should mention that too, as per @zewditu 's suggestion.

[2022-02-16 15:25] rummelsworth commented on #1972
@beccamc No problem re any delay, none was perceived. (This isn't a showstopper for me by any means.)

All my other extensions work fine, including several new ones I've installed since I reported this. Model Builder 2022, despite installing again this morning without any observable problems, isn't working at all. Still the same problem reported above, with the error modal dialog appearing when I

[2022-02-16 19:16] LittleLittleCloud commented on #2023
That's by design. Data type for forecasting label has to be single.

[2022-02-16 21:22] #2003 closed

[2022-02-16 22:18] LittleLittleCloud commented on #1889
It works well on my PC...

![image](https://user-images.githubusercontent.com/16876986/154366787-8213bf7d-b598-4c5c-a4f4-0fc02bdd58b2.png)

@vzhuqin
can you confirm that your image url is valid, and is that azure training or local training

[2022-02-17 07:14] vzhuqin commented on #1993
Not repro this issue on latest main:

- ML .Net Model Builder: 16.13.4.2211602

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e4a9c1df-1233-4c73-aac7-26b3f4abe03f)

[2022-02-17 07:21] appliedmarks opened #2034 "Need better "first use" experience"
I just want to give the team feedback about the first-use experience given I have lots of background with .NET, but not much with machine learning, so should be the target audience.

I watched a few hours of videos, and thought "this looks simple" and then spent about 30-60 minutes trying it in VS 2022 17.1 (latest update).

I thought I would start with a simple csv file, with an input column and

[2022-02-17 08:41] vzhuqin commented on #2000
Not repro this issue on latest main:

- ML .Net Model Builder: 16.13.4.2211602

Scenario Data classification, Value predication, Recommendation, Image classification, Forecasting do not reproduce.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4fbe725e-a0f6-44ab-a970-521f8d6c61a9)

[2022-02-17 13:57] GHoltmann commented on #1437
Hi Becca!, we were not able to test any of it. I would like to run the tests from sctratch with the new released version. For the simplicity of the tests, I used a personal azure test account. Do you recommend using our corporate account for the testings?
    El martes, 15 de febrero de 2022 16:14:13 ART, Becca McHenry ***@***.***> escribió:

Hi! Were you able to test in November?

—
Reply to this

[2022-02-17 17:48] beccamc commented on #1437
Using a personal azure account should be fine

[2022-02-17 19:30] LittleLittleCloud commented on #1912
document updated

[2022-02-17 21:35] LittleLittleCloud opened #2035 "Get "Input string was not in the correct format" error for Azure image classification when Azure's regieon format is Poland"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.2
 - Visual Studio Version

To reproduce
- set system region format to russia/Poland (whatever decimal separator is ',')
- run azure image classification

[2022-02-18 01:43] vzhuqin commented on #2023
ok, thanks confirm.

[2022-02-18 02:21] luisquintanilla opened #2036 "Could not upgrade to version 16.13.1.2210302 on VS 2022 17.1.0"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: 17.1

**Describe the bug**
- Could not upgrade to version 16.13.1.2210302. VSIX installer crashed during installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to the latest version of Model Builder from

[2022-02-18 03:08] vzhuqin commented on #1863
Not repro this issue on latest main:

- ML .Net Model Builder: 16.13.4.2211701

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/291ec984-4f7e-421a-a834-6500577cad20)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2306c87d-8565-4c9b-8fe3-c31f67450098)

[2022-02-18 07:24] luisquintanilla opened #2037 "[Model Builder] Error training value prediction model. Index was outside the bounds of the array."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: VS 2022 17.1

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: When training kicks off, exception is immediately thrown and training stops

**To Repr

[2022-02-18 08:55] vzhuqin opened #2038 "Run the generated WebApi project error."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.4.2211701
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.1.0

**Describe the bug**
- On which step of the process did you run into an issue: Run the generated WebApi project
- Clear description of the problem: closed the Microsoft Visual Studio

[2022-02-18 14:41] andrasfuchs opened #2039 "Allow users to set training, validation and holdout datasets as subsets of input data"
**Is your feature request related to a problem? Please describe.**
There is no way at the moment to define subsets of the input data.

**Describe the solution you'd like**
I would like to see an option on the Data page where I can set the training, validation and holdout sets preferably as a percentage of the whole dataset.

**Describe alternatives you've considered**
I can now manually separate m

[2022-02-18 14:53] andrasfuchs opened #2040 "Add target quality score to the train page"
**Is your feature request related to a problem? Please describe.**
There is only one visible parameter for the train process now, the `time to train` value.

**Describe the solution you'd like**
Now that we have many good quality indicators like `Accuracy`, `AUC`, `AUPRC`, `F1-score` for the trained models, it would be great to have a target quality score for the training, instead of just the maxi

[2022-02-18 15:01] andrasfuchs opened #2041 "Add machine learning algorithm selection to the Consume page"
**Is your feature request related to a problem? Please describe.**
When we train our models Model Builder iterates through many ML algorithms, scores them, and selects the one with the highest score. There is no option now to select one particular algorithm after training, it's always automatically selected by Model Builder.

**Describe the solution you'd like**
It would be good to have a dropdown

[2022-02-18 15:14] andrasfuchs opened #2042 "Classification ModelOutput.Score values' range are inconsistent"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: 17.0.5

**Describe the bug**
- On which step of the process did you run into an issue:
ML model consumption

- Clear description of the problem:
I tested various ML models with my input that had a few features and one classi

[2022-02-18 18:40] #1588 closed

[2022-02-18 18:40] beccamc commented on #1588
We're tracking this in #60. Linking the issues so that we keep these useful details.

[2022-02-18 18:46] #2039 closed

[2022-02-18 18:46] beccamc commented on #60
Note: There has also been a request for training, validation AND holdout datasets.

[2022-02-18 18:49] beccamc commented on #2031
Sorry, I think I'm missing context on this issue. Please add details and re-open or file a new issue. Thanks!

[2022-02-18 18:49] #2031 closed

[2022-02-18 18:51] #2033 closed

[2022-02-18 23:26] JakeRadMSFT commented on #2042
@michaelgsharp @LittleLittleCloud  do we have a way to normalize the scores?

[2022-02-20 13:14] jwood803 opened #2044 "ML.NET CLI train command produces error"
**System Information (please complete the following information):**
 - OS & Version: MacOS Monterey 12.1
 - ML.NET CLI Version: 16.13.1
 - .NET Version: .NET 6

**Describe the bug**
When using the CLI's `train` command and supplying an MB Config file, the below error is returned.

[code]

**Screenshots, Code, Sample Projects**
![image](https://user-images.githubusercontent.com/1578160/154844320-ed

[2022-02-21 05:54] vzhuqin commented on #1889
@LittleLittleCloud Yes, I can confirm the image url is valid , and fail on Azure and local training.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/8968039f-8878-4d63-94bf-f1918817cbbb)

[2022-02-21 10:49] phatht opened #2043 "model builder error initializer for tensorflow binding in ML.net"
The type initializer for 'Tensorflow.Binding' threw an exception.
![image](https://user-images.githubusercontent.com/40348487/154940713-edc3bf21-8cee-4350-97ec-9ec612cca1de.png)

Looking forward to the community's support
thanks. Phát

[2022-02-21 11:02] phatht commented on #1620
@lucent-sea  how did you fix it? can you let me know
thanks u.

[2022-02-22 02:17] phatht commented on #1959
@behnamasaei  how did you fix it? can you let me know
@LittleLittleCloud[](https://user-images.githubusercontent.com/40348487/155050535-01f3f053-7d48-4e98-b66d-e427a3f04dba.png) Can you help me with this issue?
my info CPU
image

thanks all
Phat.

[2022-02-22 18:01] LittleLittleCloud commented on #2024
What's the rmse result for the training, if it's not small (means the error is large between real and predict value), it's possible to have the same predicted value, and the predicted value should be close to the average value of its historical data. ( so is negative predicted value)

[2022-02-22 18:04] LittleLittleCloud commented on #2043
Which CPU and system do you have, is that a x86/arm one

[2022-02-22 18:05] LittleLittleCloud commented on #2041
@luisquintanilla

[2022-02-22 18:14] LittleLittleCloud commented on #2017
@beccamc

Is that because the column name is `Index` somehow

[2022-02-22 18:16] LittleLittleCloud commented on #2038
Looks like the error is from model builder, not web api project.

[2022-02-22 18:20] LittleLittleCloud commented on #2036
According to log it looks like the error is not caused by model builder, can you try uninstalling model builder and reinstalling from scratch to see if problem get fixed?

[2022-02-23 01:19] vzhuqin commented on #2024
From the above screenshot, the RMSE was 1356.7691,  I also tried to add the training time to train it again, the values were also more than 1000.

[2022-02-23 01:24] vzhuqin commented on #1945
@LittleLittleCloud any update about my validation steps?

[2022-02-23 02:45] luisquintanilla commented on #2036
@LittleLittleCloud I think we can close this for now. The latest version of Model Builder was installed without me really doing anything. Must've been a config issue on my end.

[2022-02-23 02:45] #2036 closed

[2022-02-23 09:27] phatht commented on #2043
- Thank you very much for your interest in this.
- I fixed it already, just changed my local configuration and it worked.
old system info
![image](https://user-images.githubusercontent.com/40348487/155291974-541406c7-3eed-495a-9c5f-fa67cbbfd7bc.png)
new system info
![image](https://user-images.githubusercontent.com/40348487/155291925-fe7632f1-96ee-471d-964d-ebeb75e78397.png)

Thank you very much

[2022-02-23 17:59] LittleLittleCloud commented on #2044
@jwood803 should be fixed, can you try 16.13.5?

[2022-02-23 18:55] LittleLittleCloud commented on #2043
That's interesting, are you working on a virtual machine, it's just a bit surprising for me to see that simply change CPU information can solve this issue

[2022-02-23 18:57] LittleLittleCloud commented on #1945
@vzhuqin

Nope, the fix is on VS side so we don't have to validate anything at this time point

[2022-02-23 18:57] #1945 closed

[2022-02-23 18:58] LittleLittleCloud commented on #2024
You can try increase horizon, and if RMSE is over 1000, then it's normal to see the predict value doesn't even close to actual value because that metric is very pool

[2022-02-23 19:09] LittleLittleCloud commented on #2042
The inconsistency of range for scores from different trainers is expected. Since score is essentially the output of a trainer's optimize function, its range is mainly determined by that function. And usually a comparison between scores from different trainers doesn't have any meaningful value, which means, a higher score doesn't means a better result/confidence

In this case, since both `LGBM` and

[2022-02-23 19:53] LittleLittleCloud commented on #1889
@vzhuqin I just merged another fix, can you try again

[2022-02-23 20:56] LittleLittleCloud commented on #1991
track in #2028

[2022-02-23 20:56] #1991 closed

[2022-02-23 21:13] luisquintanilla commented on #2040
Hi @andrasfuchs

Thanks for that feedback. Providing more advanced training options is an area we have been hearing similar feedback on. Although we are not currently in the process of implementing this functionality, we'll use your suggestions as we plan for this.

I see you opened another issue that is related (#2041). Tracking this issue as part of epic #1591

[2022-02-23 22:37] beccamc opened #2045 "CLI progress bar causes failure on Linux"
Problem using the CLI on Linux machines. Per XiaoYun the problem is the progress bar feature.

Start Training
start nni training
System.ArgumentOutOfRangeException: Count cannot be less than zero. (Parameter 'count')
   at System.String.Ctor(Char c, Int32 count)
   at Microsoft.ML.CLI.FixDuriationTimeProgressBar.get_ProgressBar() in /_/src/mlnet/Utilities/FixDuriationTimeProgressBar.cs:line 44

[2022-02-23 22:39] beccamc commented on #2045
@LittleLittleCloud FYI I filed this issue for tracking

[2022-02-24 02:12] phatht commented on #2043
I work on my personal machine. Because I have a reference to this problem of yours, I tried to solve it
https://github.com/dotnet/machinelearning-modelbuilder/issues/1620

thanks u.

[2022-02-24 05:51] vzhuqin commented on #1889
@LittleLittleCloud  I tried on Image classification (Azure & Local CPU) and Object detection scenarios with latest main: 16.13.5.2212301, this issue not occurs on VS2022, but can still be reproduced on VS2019, please take a look?

- Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.1.0
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a48846c5-4e92-448a-a1e2-b461

[2022-02-24 15:08] mlaboss opened #2046 "Error after removing one or more training images and attempting to re-train"
**Model Builder Version**: 16.13.1.2210302
**Visual Studio Version**: 2022 (17.1.0)

**Bug description**
After removing some training images from an already-trained image classification model, attempting to re-train the model results in a "filePath cannot be null or empty" error.

**Steps to Reproduce**
1. Create an image classification model, feed it some training data and Train it.
2. Delete one

[2022-02-24 18:27] joesatriani10 commented on #2046
I'm getting exactly the same since last week, but at this point I cant train at all, no matter if I created a new project, that was solution for me (when removing data) if you want to try, not sure if its me but the only change I made was install the Resharper Plugin.

![image](https://user-images.githubusercontent.com/27362432/155582732-b51e4845-77d0-4948-b693-32695b990985.png)

you can also chec

[2022-02-24 19:21] AsainPersuasion opened #2047 "mlnet: command not found"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-02-24 22:31] beccamc opened #2048 "VS Stopped Responding issue"
Telemetry reports two instances of VS gold bar of death (_VS has stopped responding. Consider disabling extension Model Builder...._ )

Per David (thank you David!) here is additional info on our failures...

1 https://prism.vsdata.io/failure/?query=c=*Microsoft.ML.ModelBuilder*&eventType=uidelay&failureType=dualdirection&failureHash=57b6e535-7540-e8ba-668b-126199635a13
-	On mouse up you are block

[2022-02-25 00:35] beccamc commented on #2048
Issue #1 was fixed by Jake about 10 months ago. See this [PR](https://github.com/dotnet/machinelearning-tools/pull/1043/files#).

GetComputeSpecifications doesn't exist anymore. There is only an async method.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/fbe229a3-f83b-45f2-9456-3bc91f41b902)

[2022-02-25 00:37] #812 closed

[2022-02-25 00:37] beccamc commented on #812
This issue is 2 years old. I'm closing it 😊

[2022-02-25 00:39] beccamc commented on #2034
Did some investigation into VS not responding - https://github.com/dotnet/machinelearning-modelbuilder/issues/2048

[2022-02-25 00:59] LittleLittleCloud commented on #2037
Not reproduce

[2022-02-25 00:59] #2037 closed

[2022-02-25 07:16] v-Hailishi opened #2049 "Add a solution dialog should pop-up an error message if enter a Project name with a space or hyphen (-)."
**System Information (please complete the following information):**

Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.5.2212401 (Main Build)
Microsoft Visual Studio Enterprise 2022: 17.1.0
.Net: 5.0

**To Reproduce**
Steps to reproduce the behavior:

1. Select Create a new project from the Visual Studio 2022 start window.
2. Choose the C# Console App (.NET Core) project temp

[2022-02-25 07:41] v-Hailishi commented on #1956
This issue has been fixed on Main branch version: 16.13.5.2212401
![#1956_Fixed.gif](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/c857856b-b8c7-44ed-92e0-68d3863d79cd)

[2022-02-25 08:14] v-Hailishi commented on #2025
This issue has been fixed on VS2022 Main branch version: 16.13.5.2212401
![image.png](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/64b0d34a-7594-410b-9bd0-676b770f5324)

[2022-02-25 18:38] zewditu commented on #2047
@AsainPersuasion can you tell us more about this issue? some description,  steps to reproduce and if possible the screenshots

[2022-02-25 18:38] zewditu commented on #2049
This seems recent changes trigger this

[2022-02-26 01:54] lucent-sea commented on #1620
@phatht As LittleLittleCloud said, the i5 660 isn't supported, so I used my primary machine that has a newer CPU.

[2022-02-28 15:50] GrahamH56 opened #2050 "Request to approve SSL cert followed by no process associated"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version : Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.1.0

**Describe the bug**
- On which step of the process did you run into an issue:
                                                            In consume

[2022-02-28 20:09] zewditu commented on #2049
This is the regression of this PR https://github.com/dotnet/machinelearning-tools/pull/1390.
 The NPD is not guaranteed for clean Namespace for instance "x-y" is a legal project name however it is not a legal namespace we need to sanitize the project name. However, we have an issue  https://github.com/dotnet/machinelearning-modelbuilder/issues/1974  the namespace is different from the generated pr

[2022-02-28 20:55] beccamc commented on #1431
https://github.com/dotnet/machinelearning-modelbuilder/issues/2008

[2022-02-28 21:23] beccamc commented on #2016
@v-Hailishi I thought this was working a few days ago. Would you mind trying this again?

[2022-02-28 21:29] andrasfuchs commented on #2042
@LittleLittleCloud Thank you for the explanation, I didn't know how the `Score` is calculated!

What is the practical use then of this `Score` value in the case of a classification scenario?

Could you also explain why the `Probability` property gets only generated if the `IsCategorical` value is `false` on the label in .mbconfig?

[2022-02-28 21:35] LittleLittleCloud commented on #2042
(For binary classification case only)
`Score` will be used as input in calibrator, which calculates `Probability` for all labels. You can check how ICalibrator is defined [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.calibrators.icalibrator?view=ml-dotnet)

I don't quite understand the second question, do you mean that the `Probability` doesn't appear if `IsCategorical` value is

[2022-02-28 21:44] andrasfuchs commented on #2042
Thank you!

There is no `Probability` property on the `ModelOutput` class if the `IsCategorical` value is set to `true` on the label.
If it set to `false` then the property is there. I use Model Builder 2022 v16.13.1.2210302.

[2022-02-28 21:59] beccamc commented on #1431
@luisquintanilla and @JakeRadMSFT [here is the dashboard](https://dataexplorer.azure.com/dashboards/5b95430c-93c0-4ccd-9a6c-6237ce7acfce?_startTime=1hours&_endTime=now#d15abd4c-5a6a-44c2-affa-29bbc460e14a) that shows column count.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/546a5d73-e337-4816-8ca4-16f3f88e804b)

I know this is a bit hard to read. Left graph shows th

[2022-02-28 22:00] beccamc commented on #2013
We are closing this bug as a lower priority item. Although it is an error, it is low impact for customers.

[2022-02-28 22:00] #2013 closed

[2022-02-28 22:01] beccamc commented on #2014
This is expected behavior due to accessibility. On first load we are supposed to set the cursor to the first interactable element. This is the search box. We are treating tab switch the same as first load. I am not sure if that is correct or not.

@romalpani Can you provide guidance here? I agree the behavior looks weird, but from my understanding this is correct for accessibility standards?

[2022-03-01 02:40] v-Hailishi commented on #2016
@beccamc Verified on the latest build version 16.13.5.2212401, this issue is still present.
After changing the button from "Yes" to "No", the column header is still appeared in the Data preview table.

Besides, the total rows are changed from "249" to "250", which I think strange, shouldn't the number of rows stay the same?
Could you help to give the correct behavior here?
![image](https://user-im

[2022-03-01 17:53] LittleLittleCloud opened #2051 "Thank you!"
Thank you!

There is no `Probability` property on the `ModelOutput` class if the `IsCategorical` value is set to `true` on the label.
If it set to `false` then the property is there. I use Model Builder 2022 v16.13.1.2210302.

_Originally posted by @andrasfuchs in https://github.com/dotnet/machinelearning-modelbuilder/issues/2042#issuecomment-1054694178_

[2022-03-02 18:30] beccamc commented on #2016
Thank you for checking this! The reason the row number changes is because what we previously counted as "header" is now a row. Headers aren't counted in the row count.

[2022-03-02 19:28] Maitrog opened #2052 "Training has failed."
**Model Builder Version:** 16.13.1.2210302
**Visual Studio Version:** 2022(17.1.0)

**Bug description**
I have error with training process.

**Steps to Reproduce**
1. Mark data in vott
2. Load data in model builder from vott
3. Start train

**Expected behavior**
Successful train

**Screenshots**
![model_builder_error](https://user-images.githubusercontent.com/35650757/156432181-b34dcaa2-f6b8-429d-

[2022-03-03 02:08] v-Hailishi commented on #2016
@beccamc According to your explaining, below behaviors are expected, right?
1. After changing the button from "Yes" to "No", the Data preview table keep the same.
2. After changing the button from "Yes" to "No", the total rows are changed from "249" to "250".

[2022-03-03 06:22] v-Hailishi commented on #2052
This issue is also repro on Main branch version: 16.13.5.2215101 for both 2019 and 2022.

[2022-03-03 09:25] v-Hailishi opened #2053 "The web API project's output object is not our expected when using Image classification model of Local(CPU)."
**System Information (please complete the following information):**

Model Builder Version (available in Manage Extensions dialog): 16.13.5.2215101 (Main)
Microsoft Visual Studio Enterprise 2022: 17.1.0

**Describe the bug**

- On which step of the process did you run into an issue:
Running the generated WebAPI projects
- Clear description of the problem:
The output object should like "output, pre

[2022-03-03 17:57] zewditu commented on #2053
Thanks for catching it!
@LittleLittleCloud  do you know what causes the local image classification output is not the expected one?  Do we have a recent update that couses this?

[2022-03-05 18:35] andrasfuchs commented on #1986
@beccamc Could you please consider making Model Builder open source? It's really frustrating that I run into bugs again and again, and I can't fix them, and I'm not able to make workarounds. I had two new exceptions today, but I don't see any value in reporting them any more.

I expected some feedback from you (and hopefully from @JakeRadMSFT too) since you said in this thread that you will look i

[2022-03-07 15:41] pinnaclx opened #2054 "System errors were found in at least one of the child runs."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-03-07 15:48] pinnaclx opened #2055 "System errors were found in at least one of the child runs while training"
Problem with training get the following, did something similar last month with no problems, azure portal gives the following error
System errors were found in at least one of the child runs

![ia](https://user-images.githubusercontent.com/78309440/157067841-1de576cd-b007-4675-a9cb-2ee45679a78e.png)

[2022-03-08 08:17] dubstar-04 commented on #2055
Same issue here.

[2022-03-08 12:50] shahar74 commented on #2055
Hi
same issue with VS2019 PRO.

attached log
[MLModel1-ZVYN5Q.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/8206309/MLModel1-ZVYN5Q.txt)
 log

[2022-03-08 19:05] JakeRadMSFT commented on #1431
Kinda related to https://github.com/dotnet/machinelearning-modelbuilder/issues/1986

[2022-03-08 19:10] luisquintanilla commented on #1431
Thanks @beccamc for looking into this. Let's see how we can improve this experience. One thing we might have to look into is whether there are limitations on the number of columns algorithms use.

[2022-03-08 19:18] luisquintanilla commented on #2014
@luisquintanilla assign to Rohan

[2022-03-08 19:25] luisquintanilla commented on #2051
@LittleLittleCloud I wonder if it might be related to this dotnet/machinelearning#6087

[2022-03-08 19:26] luisquintanilla commented on #2054
Might be related to #2052

[2022-03-08 19:27] luisquintanilla commented on #2055
Might be related to #2052

[2022-03-08 20:23] zewditu opened #2056 "Remote training failes"
- https://github.com/dotnet/machinelearning-modelbuilder/issues/2055

- https://app.zenhub.com/workspaces/mlnet-tools-5cde1c97e3106e39e8ae08fc/issues/dotnet/machinelearning-modelbuilder/2054

- https://app.zenhub.com/workspaces/mlnet-tools-5cde1c97e3106e39e8ae08fc/issues/dotnet/machinelearning-modelbuilder/2052

Related issues:

- #2052
- #2054
- #2055
- #2060

[2022-03-08 20:29] zewditu commented on #2056
These issues are not reproducible in our latest main

[2022-03-08 21:36] JakeRadMSFT commented on #1986
@andrasfuchs apologies for the delay.

You're hitting up against a few of our weak points here in the tooling that we're hoping to resolve over the coming months. We know data consumption and big data consumption is something we need to help provide a solution for.

We have a couple things things in the work that should help here -

- We're bringing Model Builder's AutoML to the framework (which y

[2022-03-08 21:51] LittleLittleCloud commented on #2051
Turns out the probability only misses when trainer is RandomForest, it might be because of missing calibrator at the end of pipeline. I'll push a fix for it.

[2022-03-08 22:43] LittleLittleCloud commented on #2051
Just take a closer look and it seems that although according to document, fastForest has probability as output column, but in source code, it doesn't...

@michaelgsharp Could it be a bug in mlnet?

[2022-03-08 22:54] LittleLittleCloud commented on #2042
Close this thread and tracking it in #2051

[2022-03-08 22:54] #2042 closed

[2022-03-08 23:53] romalpani commented on #2014
@beccamc

**1. Issue 1: Navigating back from Data formatting tab, focus shifts automatically to search box:**
This certainly seems like a bug. The accurate behavior should be such that if the customer does navigate away from the tab to go to the "Data formatting" tab, the dialog should remember the previous focus. So, when the customer navigates back, the focus is retained.

2. Issue 2: While typi

[2022-03-09 01:17] luisquintanilla opened #2057 "Reference "System" could not be added to project"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.3.1.2210302
 - Visual Studio Version: 17.1.0

**Describe the bug**
- On which step of the process did you run into an issue: After creating *.mbconfig* file.
- Clear description of the problem: When adding a machine learning model to a project, the *.mbconfig fil

[2022-03-09 01:41] luisquintanilla commented on #2057
Same issue after upgrading to 17.1.1

[2022-03-09 06:30] dubstar-04 commented on #2056
Are there instructions to build and install main? We have a Ai/ML hackathon today and it would be good if Azure training was available.

[2022-03-09 08:31] shahar74 commented on #2056
problem still happens - what need to be doe to use main?
Thanks

[2022-03-09 15:03] luisquintanilla commented on #2056
@zewditu I was able to repro. If you can't repro in main let's try and push a release to see if that fixes it.

## Error:

[code]

[Log File](https://github.com/dotnet/machinelearning-modelbuilder/files/8215708/OD-4Y3ZKU.txt)

Run ID: https://ml.azure.com/experiments/id/a752cc9c-e2a2-4e26-84f7-ed4167383269/runs/AutoML_7d717611-e9bd-465a-b2f4-53121fe9af12?wsid=/subscriptions/52462f3d-9226-4c1a-ae95

[2022-03-09 15:14] yshih opened #2058 "Code Error"
https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume

Your Code use result.Prediction caused error. I think should be result.PredictedLabel

string sentiment = result.PredictedLabel == 1 ? "Positive" : "Negative";
Console.WriteLine($"Text: {sampleData.Col0}\nSentiment: {sentiment}");

[2022-03-09 17:58] JakeRadMSFT commented on #2056
This is being resolve by the Azure team - I'll report back when the fix has been rolled out.

[2022-03-09 18:43] luisquintanilla commented on #2058
Hi @yshih thanks for reporting this issue. We're in the process of updating the tutorial and those changes should be out shortly.

[2022-03-09 21:20] JakeRadMSFT commented on #2055
This is being resolve by the Azure team - I'll report back when the fix has been rolled out.

[2022-03-09 21:20] JakeRadMSFT commented on #2052
This is being resolve by the Azure team - I'll report back when the fix has been rolled out.

[2022-03-10 02:10] v-Hailishi commented on #2020
The bug has been fixed on the latest main branch version: 16.13.5.2215901 for both of VS2019 & VS2022.
![image](https://user-images.githubusercontent.com/99375895/157573487-017c9058-fb09-4c42-8929-a08da149cbfb.png)

[2022-03-10 17:54] luisquintanilla opened #2059 "[Proposal] Convert ONNX to ML.NET"

[2022-03-10 18:43] AmrAHammad opened #2060 "Training has failed."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - ML.NET Model Builder 2019 Version 16.13.1.2210301
 - Visual Studio Version  Microsoft Visual Studio Enterprise 2019
Version 16.11.10

Create a simple object detection model using small data
- On which step of the process did you run into an issue:
An error in the

[2022-03-10 18:56] luisquintanilla commented on #2060
Hi @AmrAHammad

Sorry to hear you ran into this issue. We're currently working on a fix. In the meantime, follow issue #2056 where we're tracking this bug and posting updates. Closing this issue for now. Let us know if you have additional questions.

[2022-03-10 18:56] #2060 closed

[2022-03-10 20:09] luisquintanilla commented on #2056
Hi all, just checking in. The Azure team is still working on a fix but unfortunately it's going to take a bit longer than expected. @dubstar-04 I know you're in hackathon mode, so apologies for the inconvenience. In the meantime, a potential solution you might want to consider is training with Azure Custom Vision, exporting the model to ONNX and consuming it with the ML.NET API.

Here is some guid

[2022-03-10 20:17] dubstar-04 commented on #2056
you might want to consider is training with Azure Custom Vision

@luisquintanilla I came across custom vision earlier today. It's working great! Just need to polish everything up for a demo! Thank you!

[2022-03-10 20:18] luisquintanilla commented on #2056
Great! Feel free to reach out if you have any questions.

[2022-03-11 03:14] v-Hailishi commented on #2049
The bug has been fixed on the latest main branch version: 16.13.5.2216001 for both of VS2019 & VS2022.
When enter a project name with a space or hyphen (-), the project can be debugged successfully.
In the code, the space or hyphen (-) is replaced with underscore (_) automatically.
![image](https://user-images.githubusercontent.com/99375895/157795030-82c37c5d-3777-43ea-83ec-9e902bbe87f8.png)
![ima

[2022-03-11 04:51] v-Hailishi commented on #2038
The bug is also repro on the latest main branch version: 16.13.5.2216001 for VS2022.

[2022-03-11 08:11] v-Hailishi commented on #2052
The bug has been fixed in the latest main branch version: 16.13.5.2216001 for VS2022&2019.
![image](https://user-images.githubusercontent.com/99375895/157827734-a0486003-5c6e-4fa5-9041-703c3a992825.png)

[2022-03-11 10:09] v-Hailishi opened #2061 "Forecasting: Add "Console App" solution is failed with error "The parameter is incorrect" on the "Consume" page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2216001 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.1)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue: Add "Console App" solution on the "Consume" page
- Clear description of

[2022-03-11 15:01] andrasfuchs commented on #1986
@JakeRadMSFT Thank you for your update and suggestions.

.NET Notebook might not be my perfect fit, because I work with real-time data coming from a hardware device as a stream. That stream contains 4 million 32-bit float data points every 5 seconds that I feed into one or more trained models.

.NET Data Frame looks like a better match to my scenario, but I haven't work with it yet. I can see that

[2022-03-11 18:22] luisquintanilla commented on #2056
Hi all,

Checking back in. The issue has been resolved, so you should be able to train object detection models again in Model Builder.

![image](https://user-images.githubusercontent.com/46974588/157927443-3973942d-b377-4fd7-a35d-f2d070593d43.png)

Apologies again for any inconvenience this may have caused. Closing this issue. Please feel free to open a new issue if you're still having problems.

[2022-03-11 18:22] #2056 closed

[2022-03-11 18:22] luisquintanilla commented on #2052
Closing this issue since it's been resolved.

[2022-03-11 18:22] #2052 closed

[2022-03-11 18:23] luisquintanilla commented on #2054
Closing this issue as duplicate of #2055

[2022-03-11 18:23] #2054 closed

[2022-03-11 18:25] luisquintanilla commented on #2055
Hi all,

Thanks for reporting this issue. It has been resolved. Closing this issue for now. Please feel free to open a new issue if you're still having problems.

[2022-03-11 18:25] #2055 closed

[2022-03-11 23:08] DataJuggler opened #2062 "GPU extension link goes to VS 2019 extension instead of VS 2022"
I clicked your 'Install Extension link, you told me I needed, the 1st one, sorry my model is training now or I would duplicate this.
Then I go to your link, the link was for 2019 Model Builder GPU extension, I am using VS 2022.

After installing to 2019, I went back and you still tell me to install in VS 2022.

Do I have to use VS 2019? I am trying to use only VS 2022 except for projects that refe

[2022-03-12 01:28] DataJuggler opened #2063 "After I train a model, you show me Try an Image - Turn this into a Grader"
In my very first attempt, without watching a tutorial or reading much documentation, I created a Font Image Model, by creating 241,000 text images, 1,000 for each font I have installed on my machine, each font is in its own folder.

Very 1st attempt worked, so Kudos to you for making it simple enough even I can figure out! My model builder prototype took 2 hours thinks to my Nuget Package DataJugg

[2022-03-12 20:14] DataJuggler opened #2064 "I trained a model, and it got worse with more images"
I am using Model Builder in VS 2022, CPU because I can't get the GPU version to work, Image Classification project.

I created an image library of 100 images per fonts, with random verbs. It was actually pretty good at recommending with 100 images.
Not always right, but enough I was convinced my prototype would work.

I ran again with 1,000 images per font. Results got worse.

I tried again with 5

[2022-03-13 01:58] DataJuggler commented on #970
I get this error today, so not sure why you closed this.

[2022-03-13 11:19] AmrAHammad opened #2065 "The remote server returned an error: (401) Unauthorized."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  version 16.13.1.2210301
 - Visual Studio Version  Microsoft Visual Studio Community 2019
Version 16.11.3

**Describe the bug**

- On which step of the process did you run into an issue:
- Training
- Clear description of the problem:
- While training object detectio

[2022-03-13 11:23] AmrAHammad commented on #2065
On Azure , th

[2022-03-13 11:23] #2065 closed

[2022-03-13 11:27] AmrAHammad opened #2066 "The remote server returned an error: (401) Unauthorized."
System Information (please complete the following information):

Model Builder Version (available in Manage Extensions dialog): version 16.13.1.2210301
Visual Studio Version Microsoft Visual Studio Community 2019
Version 16.11.3
Describe the bug
while training object detection model , i got the below error , however , on Azure the model completed succesfully.

On which step of the process did you

[2022-03-14 02:36] v-Hailishi commented on #2010
The bug is not repro on ML .Net CLI: 16.13.5 and Main branch: 16.13.5.2216101.
![image](https://user-images.githubusercontent.com/99375895/158095281-74cf36f0-ef8c-443c-b295-3f3aac8d00a3.png)

[2022-03-14 07:15] v-Hailishi opened #2067 "Image Classification: "Next step" button should be disabled on the "Environment" page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2216101 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.1)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
   After changing environment from ""Local(CPU) to "Azure" for Image Cl

[2022-03-14 07:54] v-Hailishi opened #2068 "Image Classification: The environment info should be updated on the "Train" page after changing the environment."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2216101 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.1)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The environment info on the "Train" page.
- Clear description of the pr

[2022-03-14 11:20] andrasfuchs commented on #1998
@torronen Did it work for you? I might be doing something wrong, but the environment variable doesn't seem to filter the trainers.

![image](https://user-images.githubusercontent.com/910321/158161535-ff393554-7a66-4063-88fc-4bf9d26b8262.png)

![image](https://user-images.githubusercontent.com/910321/158161460-b93c90d6-04e0-4be2-9bf9-a8bb3fcdcef0.png)

I use Visual Studio 17.1.1, Model Builder 2022

[2022-03-14 18:43] beccamc commented on #2066
Sorry you ran into this problem @AmrAHammad!  Are you able to access the run via Azure ML Workspace portal? Clicking on the link above should take you there. If you can access the link via the web, are you logged into VS with the same id?

[2022-03-14 18:51] beccamc commented on #1737
Closing due to inactivity. Please ping me or reopen if the problem persists.

[2022-03-14 18:51] #1737 closed

[2022-03-14 18:53] beccamc commented on #1924
Closing this due to inactivity. Please ping me or reopen if the issue persists.

[2022-03-14 18:53] #1924 closed

[2022-03-14 19:09] LittleLittleCloud commented on #970
@DataJuggler

this thread was created around 2 years ago and it get closed because the issue it tracked had been resolved. You're probably having a different issue on object detection.

Can you just kick off a new run for your azure experiment? We were getting similar issues on object detection last friday and we just have a fix pushed on azure side which would probably fix the training issue you

[2022-03-14 19:58] DataJuggler commented on #2062
Your screen in VS 2022, when you click Install Extension, takes you to the marketplace for VS 2019 Model Builder. I have since figured it out, and your AI has a problem with 241 folders. It only recommends the first 3 every time. I have already created an issue for that.

[2022-03-14 19:58] #2062 closed

[2022-03-14 20:12] beccamc commented on #2058
Waiting for the new tutorial to merge.

[2022-03-14 20:15] beccamc commented on #2057
@luisquintanilla to try to get a consistent repo

[2022-03-14 20:16] beccamc commented on #2045
@LittleLittleCloud Is this resolved?

[2022-03-14 20:21] luisquintanilla commented on #1431
Info on trainers can be found here: [Create page with info about trainers · Issue #5896 · dotnet/machinelearning · GitHub](https://github.com/dotnet/machinelearning/issues/5896)

[2022-03-14 20:58] LittleLittleCloud commented on #2045
Nope it's not,, I haven't got time to look into it yet.

[2022-03-15 05:03] AmrAHammad commented on #2066
Hello @beccamc ,
Yes, i can access the via Azure ML workspace portal.

[2022-03-15 19:52] beccamc commented on #2064
@LittleLittleCloud Can you comment on this?

[2022-03-15 21:07] beccamc commented on #2067
@LittleLittleCloud Could this be related to the refactor you did? It looks like the updated environment variable isn't making it to the other tabs

[2022-03-15 21:08] beccamc commented on #2068
@LittleLittleCloud Could this be related to the refactor you did? It looks like the updated environment variable isn't making it to the other tabs

(sorry for the confusion, I commented this in the wrong issue originally)

[2022-03-15 21:08] beccamc commented on #2067
Probably related to root cause of https://github.com/dotnet/machinelearning-modelbuilder/issues/2068

[2022-03-15 21:14] beccamc commented on #2059
There isn't another issue for this... what I was thinking about was the request to support he ML.NET file data format (issue 946).

[2022-03-15 23:09] LittleLittleCloud commented on #2064
@DataJuggler

There's no guarantee that a larger dataset can always produce a better model, For example, a larger dataset might have too much noise, which result in underfitting. In you case, the noise might be little difference among some of fonts.

BTW What's the accuracy of the model trained with the largest dataset. Is that still 100% or much lower

It could also be caching, Can you clear the

[2022-03-16 00:12] DataJuggler commented on #2064
The largest dataset has an accuracy of 0. The best results were with 100 images per font. I would estimate 30 - 40 % of the time you at least listed the font in your top 5. With more items, you only recommend the first 3 fonts, so completely useless.

Thinking about the problem further, I am attempting to divide the image up into characters. For some fonts this is relatively simple due to each cre

[2022-03-16 00:32] luisquintanilla commented on #2059
Thanks for checking.

[2022-03-16 03:08] tonan-truong opened #2069 "I ran into an issue"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'SentimentModel.ModelOutput' does not contain a definition for 'Prediction' and no accessible extension method 'Prediction' accepting a first argument of type 'SentimentModel.ModelOutput' could be found (are you missing a using directive or an assembly reference?)	myMLApp

[2022-03-16 07:42] v-Hailishi commented on #2020
The bug is **not repro** on the latest main branch version: 16.13.5.2216501 for both of VS2019 & VS2022.
![image.png](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/7f39cab0-e573-43b8-9d62-f92f52b545a4)

[2022-03-16 08:39] v-Hailishi commented on #2035
The bug is not repro on the latest main branch: 16.13.5.2216501.
After change the system region format to Russia/Poland like below, the Azure image classification can success to train, evaluate, consume and run the generated projects. There is no error in whole progress.
![image.png](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/aaf24b11-21db-4739-a121-6dde3f5b65f4)

[2022-03-16 16:38] LittleLittleCloud commented on #2064
The algo model builder used is a pre-trained ResNet with softmax/ log loss as classifier. During training, model builder won't adjust weight in that pre-trained ResNet though, it just trains classifier layer.

The way how the trained model "guesses" is it "guesses" the probability of each catagory (which sum up to 1) and return the label with highest probability. Since your latest dataset has ~250

[2022-03-16 17:06] DataJuggler commented on #2064
I even tried a model with Just A or B, and it is not even good at picking out B’s vs A’s in 200+ fonts.

Thank you for the detailed explanation though. I am going to write my own Font Forensics library suited for just this use case.

From: Xiaoyun Zhang ***@***.***>
Sent: Wednesday, March 16, 2022 11:39 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Corby Nichols ***@***.***>; Mention

[2022-03-17 01:51] v-Hailishi commented on #1889
@LittleLittleCloud
I tried on Image classification (Azure & Local CPU) and Object detection scenarios with latest main: 16.13.5.2216501, this issue is not repro on VS2022, but **still repro on VS2019**.
![image.png](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/c778c85c-a10e-41bb-930e-b6c40a1fb61e)

[2022-03-17 08:15] v-Hailishi commented on #2017
@beccamc @LittleLittleCloud I tried to change the column name "index" to "**index1**" when adding data "forecasting.csv" to the database. Then training Forecasting with Data source from SQLPassword is successful now.
Could you help to confirm whether this above error is expected or not?
![image](https://user-images.githubusercontent.com/99375895/158765186-83ef2b19-91fc-4173-b384-51076ffde8ad.png)

[2022-03-17 11:58] KiloBravoLima opened #2070 "Data Classification: Model Builder Error when start of training: Incorrect syntax near the keyword 'Key'."
**Model Builder Version**: _16.13.1.2210302_
**Visual Studion Version**:  _Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.1.1_

**Bug description**
_In Data Classification senerio, where a tabel, with a column named Key, is data source. The data can't be read because of SQL syntaks error . Key is a SQL keyword. The Key column  should be referenced as "[Key]" in SQL query text

[2022-03-17 14:30] KiloBravoLima opened #2071 "Data Classification: Model Builder Error message "Shuffle input cursor reader failed with an exception""
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.1.1

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: Exception in Microsoft.ML.

[2022-03-18 03:02] v-Hailishi commented on #2067
@LittleLittleCloud The bug is still repro on the latest main branch: 16.13.5.2216701 for both VS2022&2019.

[2022-03-18 03:06] v-Hailishi commented on #2068
@LittleLittleCloud The bug is still repro on the latest main branch: 16.13.5.2216701 for both VS2022&2019.

[2022-03-18 17:17] LittleLittleCloud commented on #2067
@v-Hailishi The fix is in 2216801, could you re-valid this issue again?

[2022-03-18 17:18] LittleLittleCloud commented on #2068
The fix is in 2216801, can you revalid it again

[2022-03-19 15:37] zabanet opened #2072 ""Input string was not in a correct format" error while model is trained"
- Model Builder Version: 16.13.1.2210302
 - Visual Studio Version: 17.1.1

- On which step of the process did you run into an issue:
  when training ObjectDetection model after seeing in the console "Child run status:Finalizing: 1":
- Clear description of the problem:
Network error message is appearing (5 times in a row - my network is perfectly well):

![image](https://user-images.githubuserconte

[2022-03-21 02:15] v-Hailishi commented on #2067
@LittleLittleCloud The bug has been fixed on the latest main branch: 16.13.5.2216801 for VS2019&2022.
![#2067.gif](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/0f10bdb3-56b6-45e8-ada7-19fb690dcbe8)

[2022-03-21 02:15] v-Hailishi commented on #2068
@LittleLittleCloud The bug has been fixed on the latest main branch: 16.13.5.2216801 for VS2019&2022.
![#2068.gif](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/02216a52-5675-4eaa-9d09-459ac33eb769)

[2022-03-21 09:02] v-Hailishi opened #2073 "Forecasting: Training error with message "overflow" when setting Horizon >=18 for Data source from SQLPassword."
**System Information (please complete the following information):**

Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2216801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.1)
.Net: 5.0 & 6.0

**Describe the bug**

- On which step of the process did you run into an issue: Training Forecasting with Data source from SQLPassword.

**TestMatrix

[2022-03-21 15:43] luisquintanilla commented on #1999
Updated labels to enhancement / feature request inline with other #1591 work items.

[2022-03-21 15:46] luisquintanilla commented on #2058
Tutorial updates have been merged. @yshih thanks for reporting this issue. Feel free to open a new issue if you have additional question or problems.

[2022-03-21 15:46] #2058 closed

[2022-03-21 15:47] luisquintanilla commented on #2047
Thanks for reporting this issue @AsainPersuasion . The tutorials have been recently updated so your issue may be resolved. Closing this issue for now. Feel free to open a new issues if you have additional questions or run into any problems.

[2022-03-21 15:47] #2047 closed

[2022-03-21 15:49] luisquintanilla commented on #2012
Thanks for reporting this issue @IzzZulfa. We've recently updated the tutorials and the issue has been resolved. If you run into additional problems or have additional questions, feel free to open a new issue.

[2022-03-21 15:49] #2012 closed

[2022-03-21 15:52] #2005 closed

[2022-03-21 15:58] luisquintanilla commented on #1988
Thanks for reporting this issue @liranbd1. The tutorials have been recently updated so this issue should be resolved. Closing this issue for now. If you have additional questions or problems, feel free to open a new issue.

[2022-03-21 16:00] #1987 closed

[2022-03-21 16:03] luisquintanilla commented on #1985
Thanks for reporting this issue @geoffhirst. We've recently made updates to our tutorials to address this issue so I'll be closing it for now. If you have additional questions or problems, please feel free to create a new issue.

[2022-03-21 16:03] #1985 closed

[2022-03-21 16:08] #1942 closed

[2022-03-21 18:17] luisquintanilla commented on #1620
Thanks for reporting this issue. It appears it's been resolved. If there are additional questions or problems, please feel free to open a new issue.

[2022-03-21 18:17] #1620 closed

[2022-03-21 18:20] luisquintanilla commented on #1432
Hi @cigoic

We recently published some updates to the CLI and you should be able to use it with M1.

You can install it with the following command:

[code]

For more details, see the [installation instructions](https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/install-ml-net-cli?tabs=mac#arm-1).

[2022-03-21 18:20] #1432 closed

[2022-03-21 18:25] luisquintanilla commented on #1280
Thanks for reporting this issue @Arrow7000. I'm closing this issue since there's been no activity on it. If you have any additional suggestsions, questions, or problems, please feel free to open another issue.

[2022-03-21 18:25] #1280 closed

[2022-03-21 20:13] beccamc commented on #2046
@JakeRadMSFT Can you take a look at this?

[2022-03-21 20:15] beccamc commented on #2073
Agreed this is low priority. @LittleLittleCloud Any thoughts here?

[2022-03-21 20:16] beccamc commented on #2073
@v-Hailishi If you run with a few minutes training time does it finish?

[2022-03-21 21:36] sjh37 commented on #1531
I get this immediately on adding SQL Server and choosing a table.

[code]

[2022-03-21 22:49] LittleLittleCloud commented on #1531
Hi @sjh37

The log itself just says servicehub service was terminated but it doesn't tell why... Could you present us with the schema of the database table you try to add

also @beccamc for notification

[2022-03-22 02:53] v-Hailishi commented on #2073
@beccamc I tried 10 min training time, got the same error.
![image](https://user-images.githubusercontent.com/99375895/159398439-acfdf9f0-07d1-4f53-89ae-8b9ef3819c69.png)

[2022-03-22 07:11] v-Hailishi opened #2074 "Value prediction: After changing the feature column 's Data type from "Single" to "String", the training should be completed successfully for Data source from SQLPassword."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2216801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.1)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue: Training Value prediction with Data source from SQLPassword.

**TestMat

[2022-03-22 09:06] sjh37 commented on #1531
@LittleLittleCloud
I want to use the [Data] Table. I have included both tables for completeness as there is a FK between the two:

[code]

[2022-03-22 14:01] smritisingh110 opened #2075 "In my window MLModel1.mbconfig is shown"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-03-22 17:15] philipbawn commented on #2071
I have the same problem on VS 17.0.6 model builder 16.13.1.2210302 with SQL server using a table. I exported the same data to a CSV the training process is now running.

[2022-03-22 18:02] LittleLittleCloud commented on #1531
@sjh37 Hmmm if csv file is failing too,, it's probably not the error in sql data source.

If possible could you share with us a copy of failing csv so we can reproduce the error, regards

Meanwhile, it would be helpful if we can have your VS version/model builder version and CPU version as well.

[2022-03-22 19:31] rummelsworth commented on #1972
Any updates or advice? I realize this issue is probably an "icky" one because no one else has said they can reproduce it, haha...

I'd really like to be able to get started learning and using ML.NET. I have the latest Visual Studio (17.1.2) and the latest Model Builder 2022, and the problem is still there for me.

Is there any advice at all, beyond making sure I have the latest MB2022 extension in

[2022-03-22 19:51] beccamc commented on #1972
@JakeRadMSFT Have we seen this before?

[2022-03-23 06:33] zewditu commented on #2075
Could you tell us more what is your issues?
If possible screenshots, steps to reproduce the issue, and so on

[2022-03-23 09:28] v-Hailishi opened #2076 "Data classification: Error dialog "Login failed for user 'xxx'" occur on the SQL server connection properties page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2216801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.1)
**.Net Framework: 4.7.2**

**Describe the bug**
- On which step of the process did you run into an issue:
  Select or enter a database name from SQL server connection

[2022-03-23 10:19] sjh37 commented on #1531
@LittleLittleCloud @beccamc I'm on GMT time, sorry for the delay.

## Visual Studio Info
[code]

## Video
https://user-images.githubusercontent.com/4190514/159676860-58e604d5-f9b4-4d98-9607-b69aae8ebe66.mp4

[2022-03-23 11:04] AmrAHammad opened #2077 "Model Builder Error The remote server returned an error: (401) Unauthorized."
**System Information (please complete the following information):**
 - Model Builder Version (16.13.1.2210301)
 - Visual Studio Version : Microsoft Visual Studio Enterprise 2019 , Version 16.11.10

**Describe the bug**
Error with training Object Detection Model on Azure
- On which step of the process did you run into an issue:
The failure in the training step
- Clear description of the problem:

[2022-03-24 00:25] LittleLittleCloud commented on #1531
Hi @sjh37 Thanks for the reply,, could you also share with us servicehub log as well? You can find it under

%temp%servicehub\logs folder and there should be a log file starts or contains with `MicrosoftMLModelBuilderAutoML`.

[2022-03-24 02:43] v-Hailishi commented on #2049
The bug is not repro on the latest main branch version: 16.13.5.2217301 for both of VS2019 & VS2022. The space or hyphen (-) is replaced with underscore (_) automatically.
![image.png](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/e0e19187-ce61-4ac7-bc4b-6a4089f49e60)

[2022-03-24 08:54] JTRlaze opened #2079 "遠端伺服器傳回一個錯誤: (401) 未經授權。"
於 AzureML.FailureCounter.<RecordFailureWithRetryWarningAsync>d__6.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/FailureCounter.cs: 行 48
--- 先前擲回例外狀況之位置中的堆疊追蹤結尾 ---
   於 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   於 AzureML.AutoMLRunMonitoringImages.<MonitorParentRunAsync>d__1.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/A

[2022-03-24 09:32] sjh37 commented on #1531
@LittleLittleCloud Logs: [servicehub_logs.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/8340219/servicehub_logs.zip)

[2022-03-24 09:37] sjh37 commented on #1531
@LittleLittleCloud
[servicehub_logs.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/8340251/servicehub_logs.zip)

I deleted the folder, started up VS and tried to open a CSV file this time, same error.

[2022-03-24 16:41] beccamc commented on #2066
And you are logged in with the same user to VS?

[2022-03-24 17:07] sjh37 commented on #1531
[amd2.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/8343878/amd2.csv)

[2022-03-24 17:08] sjh37 commented on #1531
I think I will have to resign myself to uninstalling and re-installing visual studio. However, VS works perfectly fine in every other way.

[2022-03-24 17:20] LittleLittleCloud commented on #1531
I don't think VS is the one that blamed,,, Did you try other scenarios successfully or having the same error

[2022-03-24 19:00] beccamc commented on #672
Haven't had any customer asks for this in a while. Closing as not high priority.

[2022-03-24 19:00] #672 closed

[2022-03-24 19:30] luisquintanilla commented on #2044
@jwood803 when you get a chance can you confirm this works. If so, I'll close this issue. Thanks.

[2022-03-24 19:31] luisquintanilla commented on #2059
Related to #1870

[2022-03-24 19:35] luisquintanilla commented on #817
Since the new version of the CLI has been published, I'm closing this issue. We can revisit if any users report it.

[2022-03-24 19:35] #817 closed

[2022-03-24 19:41] luisquintanilla commented on #2057
I have not been able to repo in the last few days. Closing this issue for now.

[2022-03-24 19:41] #2057 closed

[2022-03-24 19:43] luisquintanilla commented on #1962
New version of the CLI has been released with support for .NET 6. Here are the install instructions. Closing this issue.

https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/install-ml-net-cli?tabs=windows

[2022-03-24 19:43] #1962 closed

[2022-03-24 19:46] luisquintanilla commented on #1946
This issue has been labeled as stale and it looks like we already have a resolution for it. Closing it for now but if there's anything else we need to address we can do so in a new issue.

[2022-03-24 19:46] #1946 closed

[2022-03-24 19:47] luisquintanilla commented on #1941
@beccamc is this for the CLI or MB?

[2022-03-24 19:48] luisquintanilla commented on #1940
@beccamc this issue looks like it's ready to close.

[2022-03-24 19:54] luisquintanilla commented on #2050
This issue appears to be related to the first-run experience in .NET for ASP.NET applications. Closing this issue. @GrahamH56 please feel free to create a new issue if you have any questions or problems with Model Builder.

[2022-03-24 19:54] #2050 closed

[2022-03-24 19:56] luisquintanilla commented on #2032
This issue has been marked as stale and requires additional information. Closing this issue for now. @A1Ki feel free to open up a new issue if you have any questions or are having trouble with Model Builder or the CLI

[2022-03-24 19:56] #2032 closed

[2022-03-24 19:57] luisquintanilla commented on #2010
Thanks @v-Hailishi for checking. Closing this issue for now.

[2022-03-24 19:57] #2010 closed

[2022-03-24 20:01] luisquintanilla commented on #899
@beccamc I think this issue is something we might want to explore to make data prep easier for code-first approaches.

[2022-03-24 20:31] beccamc commented on #1940
@luisquintanilla As long as we are okay with this not being supported yet!

[2022-03-24 20:33] beccamc commented on #1941
MB

[2022-03-25 08:27] v-Hailishi commented on #2023
Closed as by design.

[2022-03-25 08:27] #2023 closed

[2022-03-25 08:41] v-Hailishi commented on #2021
The bug is not repro on the latest main branch: 16.13.5.2217301 for VS2022
![image](https://user-images.githubusercontent.com/99375895/160085749-393707bb-01f8-4d65-8004-2a638b555a0a.png)

[2022-03-25 13:46] sjh37 commented on #1531
Everything that requires a CSV crashes, including `Image classification` even though there was no CSV file involved with that.

### Image classifaction error log:
[code]

[2022-03-25 15:49] csdhall opened #2080 "Documentation error"
This is what I get when I follow the documentation on this link.
https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/train
See screenshot and the log file attached.
[log.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/8351966/log.txt)

![image](https://user-images.githubusercontent.com/213613/160154535-c7f57f40-90f3-48f3-a0e9-9709457b9254.png)

[2022-03-25 17:12] LittleLittleCloud commented on #1531
Hmmm that's super wield... Looks like everything that in servicehub is not working

Can you provide us your OS information, your CPU && if you're running in a VM or not?

[2022-03-25 19:29] luisquintanilla commented on #2080
Hi @csdhall,

I was able to train using the dataset from the tutorial. Here is my setup:

- VS Version: VS2022 (17.1.1)
- Model Builder Version: 16.13.1.2210302

![image](https://user-images.githubusercontent.com/46974588/160188182-f5bdcbb6-23c7-496f-93dc-c668b6a1154b.png)

Few things I want to confirm.

1. After you download the file, the dataset you used is the *yelp_labelled.txt*.
2. For the "C

[2022-03-25 21:00] csdhall commented on #2080
I'm using VS 2022 and 1.6 version of Model Builder.
I tried both columns separately as there are only two columns.
Neither of the two can be trained.
For I tried col1 to predict. Didn't work.
Then I tried col0 (just to see if that works), and it didn't either.
Yes, I used this  for training is yelp_labelled.txt.
Unfortunately, I don't have VS 2017.

Please let me know if it works for you on VS 202

[2022-03-26 10:21] sjh37 commented on #1531
I also disabled Jetbrains Resharper and that didn't make a difference, still the same JSON-RPC exception. What remote party is it trying to connect to?

I am not using a VM, but may have to try this option if I can't get it working.

### OS Info:
[code]

[2022-03-26 11:02] torronen commented on #1531
@sjh37 Chipping in before LittleLittleCloud gets back: I also got confused about this at first, but it seems Servicehub executable and Visual Studio communicate through JSON-RPC. It is not a remote party. The actual training happens in Servicehub process. If it crashes, then VS just says it no longer can connect to this process that is suppose to do the work. In my case, I saw some errors in Windo

[2022-03-26 22:24] sjh37 commented on #1531
@LittleLittleCloud  There was an error logged in Event viewer (Thanks @torronen )
[code]

[2022-03-27 14:17] FrankvdStam opened #2081 "Image classification error, related to experiment/temp files"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: VS2022

**Describe the bug**
- On which step of the process did you run into an issue: Training the model for a 2nd time
- Clear description of the problem: Training a model gives a vague error

**To Reproduce**
Steps to rep

[2022-03-28 12:37] luisquintanilla commented on #2080
That's odd. No need to test on VS2017 since Model Builder only works on VS2019 and VS2022.

Which version of Model Builder are you using? You can check using the Extension Manager.

![image](https://user-images.githubusercontent.com/46974588/160399275-7a46ee06-d986-478f-a824-a6d538e1b7a8.png)

[2022-03-28 16:40] zewditu commented on #2080
@csdhall your model builder version 1.6 is pretty old one  could you update the model builder to the latest version

[2022-03-28 19:04] luisquintanilla commented on #2063
Hi @DataJuggler,

Thank you for your feedback.

1. How well your model performs is highly dependent on your data. It's recommended that you provide a representative sample so the model can learn the patterns your dataset describes. To clarify, are you asking for a feedback mechanism that guides you on ways to improve your model or to provide feedback to us on how we can improve your model?
2. For

[2022-03-28 20:04] beccamc commented on #2077
@v-Hailishi Can you test if Object Detection is working? We've had a few 401 reports.

[2022-03-28 20:06] JakeRadMSFT commented on #2046
@mlaboss - if you just re-select the folder or select a different folder and then re-select original folder. Does that resolve the issue?

[2022-03-28 20:07] JakeRadMSFT commented on #2046
We should try to find a better approach for handling folder/file changes.

[2022-03-28 20:07] beccamc commented on #2064
Thanks for reporting this problem. Looks like the issue has been resolved. If you have any other questions or comments please open a new issue. Thank you!

[2022-03-28 20:07] #2064 closed

[2022-03-28 20:09] JakeRadMSFT commented on #2046
Related to: #2081

[2022-03-28 20:09] JakeRadMSFT commented on #2081
Does closing Model Builder and Re-opening Model Builder resolve this issue?

[2022-03-28 20:11] beccamc commented on #2079
Possibly related to #2066

[2022-03-28 20:11] beccamc commented on #2066
@JakeRadMSFT Can you add details here if there has been an investigation?

[2022-03-28 20:18] NeuralLink opened #2082 "Method Not Found error when attempting to open SentimentModel.mbconfig"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.13.1.2210302
 - Visual Studio Version (if applicable): Microsoft Visual Studio Enterprise 2022 (64-bit) - Current Version 17.1.2

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):  https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/scenari

[2022-03-28 20:24] mlaboss commented on #2046
Selecting a different folder then re-selecting the original folder: Does not resolve the issue, still get the error. I did get a "Changing the folder path will reset training progress, and you will have to re-start training. Would you like to continue?" which I clicked "Yes" on.

Closing Model Builder and re-opening: Does not resolve the issue either.

[2022-03-28 20:29] luisquintanilla commented on #2082
Tagging @JakeRadMSFT for visibility.

[2022-03-28 20:32] JakeRadMSFT commented on #2082
Hello!
Sorry you're hitting this - I believe this is resolved it newer version of Model Builder. So I think we're hitting an odd issue I've only seen a couple times.

Can you share a Screenshot of your Model Builder?

I believe the fix is going to be:

1. Uninstall Model Builder from Visual Studio Installers
2. Re-install Model Builder from https://marketplace.visualstudio.com/items?itemName=MLNET

[2022-03-28 21:23] beccamc commented on #2043
It looks like this issue has been resolved. Thank you for reporting!

[2022-03-28 21:23] #2043 closed

[2022-03-28 21:28] beccamc commented on #1972
Can you take a look at Jake's response in this issue? https://github.com/dotnet/machinelearning-modelbuilder/issues/2082

[2022-03-28 21:36] NeuralLink commented on #2082
I followed your instructions. I've also restarted my PC No changes.

Pop-up error:
![image](https://user-images.githubusercontent.com/762838/160490241-b818e891-32da-49ce-ae96-4370423e8286.png)

Model Builder in Extensions
![image](https://user-images.githubusercontent.com/762838/160490115-7d9d02df-8195-49bd-bbea-179f8cea0710.png)

ML Model Builder is not installed as a VS feature
![image](https://

[2022-03-28 21:45] beccamc commented on #1795
@luisquintanilla Is this still happening?

[2022-03-28 21:50] beccamc commented on #1306
Closing this due to inactivity. @codeclash if you have more details to share we would love to hear more! Please comment here or open a new issue with some more info. Thanks!

[2022-03-28 21:50] #1306 closed

[2022-03-28 21:53] beccamc commented on #880
This issue should be resolved and released. If anyone is still experiencing a problem please open a new issue. Thanks!

[2022-03-28 21:53] #880 closed

[2022-03-28 21:54] beccamc commented on #1966
No repro

[2022-03-28 21:54] #1966 closed

[2022-03-28 21:55] beccamc commented on #1960
This issue should be fixed in the latest release. Please ping or open a new issue if you're still seeing it after update. Thanks!

[2022-03-28 21:55] #1960 closed

[2022-03-28 21:55] #1940 closed

[2022-03-28 21:57] beccamc commented on #1903
@21r8390 Sorry for the delay here. Is one of the projects in your solution unloaded?

[2022-03-28 21:58] beccamc commented on #1822
I know this is an older issue, but @gavinwilliams are you able to share your dataset?

[2022-03-28 21:59] beccamc commented on #1712
@Exterminated Is this issue resolved?

[2022-03-28 22:00] beccamc commented on #1692
@v-Hailishi Can you see if this is still reproducing? Thanks!

[2022-03-28 22:01] beccamc commented on #1653
@luisquintanilla Thoughts on this? Important to look into?

[2022-03-28 22:04] #1415 closed

[2022-03-29 01:20] luisquintanilla commented on #1795
@beccamc I was not able to repro. Closing for now. Thanks.

[2022-03-29 01:20] #1795 closed

[2022-03-29 01:24] luisquintanilla commented on #1653
Not high priority for now. Since versions and their schema aren't publicly documented, I suspect manual edits will be rare. Let's close for now and investigate if users consistently report this being an issue.

[2022-03-29 01:24] #1653 closed

[2022-03-29 01:26] luisquintanilla commented on #1940
Thanks for closing @beccamc. Yes. I think this is okay for now and we can discuss this as part of a larger SQL improvement story.

[2022-03-29 01:59] v-Hailishi commented on #2077
@beccamc  Object Detection is working well on the latest main branch: 16.13.5.2217801 for both VS2019&2022.
![image](https://user-images.githubusercontent.com/99375895/160516932-03cea147-380a-4859-82c3-ddfe92047aa0.png)
2019 URL: https://ml.azure.com/experiments/id/8ad34cd8-0b2e-445b-a3a7-5760c3306ece/runs/AutoML_197042bf-bcf1-4a8d-a732-f279c74ce272?wsid=/subscriptions/83635e26-687a-4333-a2a0-33e3

[2022-03-29 02:14] v-Hailishi commented on #1692
@beccamc The bug is not repro on the latest main branch: 16.13.5.2217801 for both VS2019&2022.
![#1692](https://user-images.githubusercontent.com/99375895/160518830-f8e0897d-897f-40d5-930b-62b1b7d77ccb.gif)

[2022-03-29 07:13] Exterminated commented on #1712
Hi @beccamc! Unfortunately no =(
I was trying retest this a few month ago and get same errors with small pictures.

[2022-03-29 11:59] FrankvdStam commented on #2081
I actually tried restarting my machine, which did not work. So no, re-opening or restart VS did not work.

[2022-03-29 14:36] NeuralLink commented on #2082
I'm attempting to uninstall ModelBuilder and try again.  When I uninstall the ModelBuilder VS Extension, it fails and I receive this error log:

`3/29/2022 9:21:18 AM - Microsoft VSIX Installer
3/29/2022 9:21:18 AM - -------------------------------------------
3/29/2022 9:21:18 AM - vsixinstaller.exe version:
3/29/2022 9:21:18 AM - 17.1.1035-preview2
3/29/2022 9:21:18 AM - ------------------------

[2022-03-29 16:14] beccamc commented on #1712
Have you updated to latest version 16.13.1?

[2022-03-29 18:19] #1692 closed

[2022-03-29 20:51] AmrAHammad commented on #2066
Yes

[2022-03-29 21:27] rummelsworth commented on #1972
@beccamc I tried Jake's instructions, and it didn't fix the problem.

I was able to find the MB components (plain MB as well as MB 2022) in VS Installer, and I removed them using the VS Installer. I then reinstalled using the VSIX downloaded from the extension page Jake linked. I launched VS again, opened my tutorial solution, and the same error is still happening.

[2022-03-29 21:29] rummelsworth commented on #2082
This is precisely the troubleshooting experience I had when I reported #1972.

[2022-03-30 07:38] v-Hailishi opened #2083 "After closing the notebook file, the output windows throw out error "Cannot access a disposed object"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.5.2217801 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.1.1)
Notebook version: 0.2.3.2217906

**Describe the bug**
- On which step of the process did you run into an issue:
Close the notebook file

**To Reproduce**
Steps to reproduce the behavior:

[2022-03-30 08:36] Exterminated commented on #1712
@beccamc Yes
![image](https://user-images.githubusercontent.com/4963117/160788516-a6cc1d69-72b6-41b3-9163-e599b99f525b.png)
![image](https://user-images.githubusercontent.com/4963117/160788577-0a01a418-93a2-4f04-a9cf-e217b965afde.png)

[2022-03-30 16:28] NeuralLink commented on #2082
I have resolved the issue my self via brute force:

1.  I uninstalled all versions of VS on my machine
2.  Manually deleted the Visual Studio folders in C:\Users\********\AppData\Local\Microsoft\VisualStudio
3.  Manually deleted the Visual Studio folders in C:\Users\********\AppData\Roaming\Microsoft\VisualStudio
4.  Restarted my machine
5.  Installed Visual Studio 2022 Enterprise
6.  Installed th

[2022-03-30 16:38] luisquintanilla commented on #2082
Thanks @NeuralLink for reporting back your solution and sorry you had to go through all that to get it working. We'll look at this on our end to see if there's something we can do to prevent Model Builder from entering into this state

cc: @JakeRadMSFT

[2022-04-01 07:02] nnhao14102000 opened #2084 "MLModel builder can not working with SQL Server??"
**System Information (please complete the following information):**
 - Model Builder Version: 16.13.1.2210302
 - Visual Studio Version: 17.1.3
 - SQL Server 2019, SQL Server Basic type of Azure

**Describe the bug**
On which step of the process run into an issue:
- Step 1: choose a scenario that is Recommendation.
- Step 2: Choose the data source type is SQL Server, choose a table, columns all are

[2022-04-03 17:16] chanaStern opened #2085 "I did not open such a page to open"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-04-03 19:28] Elantonio opened #2086 "Changing DataFile contents does not work (keeps using old Data)"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- Training -> update data file with new data -> reloading DataFile;
- model uses contents of old datafile

**To Reproduce**
Steps to reproduce the behavior:
1. see Describe the bug*

**Expected behavior**
using new prov

[2022-04-03 19:31] Elantonio opened #2087 "Predict results based upon wrong DataFile"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- Training -> use different datafile(with anoher name)
- shows new datafile (So OK)
->Train
-> Evaluate
->predict
->Gives result based upon previous DataFile

**To Reproduce**
Steps to reproduce the behavior:
1. see Des

[2022-04-05 19:20] beccamc commented on #64
@JakeRadMSFT Is this included in Notebook work? Is there an issue we can link this to?

[2022-04-05 19:21] #1998 closed

[2022-04-05 19:22] beccamc commented on #733
Sorry for the long delay in response on this issue. @rquintino Do you have any comment on how you would use the Docker image?

[2022-04-05 19:26] salmanmkc commented on #64
wow I remember when I wanted this like 3 years ago, nice pleasant surprise to see it again :)

[2022-04-05 21:28] beccamc commented on #1452
Thanks for the feedback! The code files generated were updated in version 16.7.3. Take a look and if it doesn't help let me know. Please feel free to file additional issues, we appreciate your feedback!

[2022-04-05 21:28] #1452 closed

[2022-04-05 21:28] beccamc commented on #1638
https://github.com/dotnet/machinelearning-modelbuilder/issues/1452

[2022-04-05 21:42] beccamc commented on #1632
Sorry! This issue got lost. If you update to our latest version are you still seeing this issue? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2022-04-05 21:48] beccamc commented on #1953
Sorry for the long delay in response here. Can you include your dataset?

[2022-04-05 21:53] beccamc commented on #1930
@zewditu Is this finally resolved?

[2022-04-05 22:06] beccamc commented on #1339
@LittleLittleCloud Are all the above asks now available via the framework?

[2022-04-05 22:09] beccamc commented on #1805
SQL is now blocked.

[2022-04-05 22:09] #1805 closed

[2022-04-05 22:35] beccamc commented on #2071
Sorry you're experiencing this problem! Do you have a DateTime or GUID column type in the SQL table?

[2022-04-05 22:37] beccamc commented on #2084
Sorry you're running into this problem! Do you have a DateTime or GUID column type in your SQL db? I've seen this before when Model Builder is using the wrong type for SQL columns.

[2022-04-05 22:40] beccamc commented on #2085
@chanaStern Sorry, I don't understand the problem. Can you provide more details and screen shots? Thanks!

[2022-04-05 22:42] beccamc commented on #2086
Thanks for reporting @Elantonio.  Are you saying you changed the data file being used (e.g. opened a new file in the "Data" tabe)? Or did you update the contents of the file Model Builder was using (e.g. added a row or changed a column value)?

[2022-04-05 22:43] beccamc commented on #2087
@v-Hailishi Can you try to reproduce this please?

[2022-04-06 05:58] Elantonio commented on #2086
Hi Becca,

Wow thanks for your interest in this case.
A made a new file with the same filename and with the contents of the ‘result’ column changed.
Best rgds,

[2022-04-06 09:39] Elantonio commented on #2086
Hi Becca,

Seems the field “Label” is hardcoded somewhere too.

Sorry to bother you further, but do you know of a c# example/class for MLNet learning (value prediction)
That just:

-          consumes a datafile / Multidim array

-          then Learns

-          gives the prediction quality and

-          Predicts?

Something like:

var LearnModel = new ML_Learner(multiDimArray: MyFile.ToArray(

[2022-04-06 15:29] Elantonio opened #2088 "shows warning to upgrade from v1.7.1 to v1.7.0 ???"
**System Information win10 intel i9:**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- shows warning to upgrade from v1.7.1 to v1.7.0 ???
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. use 1.7.1
2. use mbconfig
3. walk the steps
4. See error
![image](https://user-images.githubusercontent.c

[2022-04-06 15:59] beccamc commented on #2086
When you select a file in the Data tab we read in the contents and figure out the column names etc. It sounds like you selected the file in Model Builder, picked the label column, and then changed the underlying file? Model Builder doesn't reprocess the file contents unless you re-select it in data tab. Have I understood the situation correctly?

@JakeRadMSFT When can we share out the auto ml code

[2022-04-07 09:13] Elantonio commented on #2086
Hi Becca,

Almost.

I selected the file,

Picked the Column and trained.

Then I changed the contents of the file.

I selected the file

Picked the same Column en trained again.

That’s about it.
But I stumble on more errors here.
When my row 0 has columnnames is does not process them well. Somewhere in the processes it can’t find the second columnname(HB).

If I skip the names if works better but

[2022-04-07 20:47] luisquintanilla commented on #2025
Issue has been fixed. Closing.

[2022-04-07 20:47] #2025 closed

[2022-04-07 20:49] luisquintanilla commented on #2061
Might be related to #2025. @LittleLittleCloud to validate

[2022-04-07 20:52] luisquintanilla commented on #2044
Assuming this has been fixed in latest CLI version. @jwood803 feel free to open a new issue if you still have problems.

[2022-04-07 20:52] #2044 closed

[2022-04-07 20:55] luisquintanilla commented on #1993
Looks like this issue has been fixed.

[2022-04-07 20:55] #1993 closed

[2022-04-07 20:57] luisquintanilla commented on #1678
This might be because of the private feed. Customers don't use the private feed so it might not be an issue for them. Let's validate with the package from the VS Marketplace.

[2022-04-07 20:58] luisquintanilla commented on #1678
@v-Hailishi can you please validate whether this is an issue. See comment above.

[2022-04-07 21:12] luisquintanilla commented on #1822
Hi @gavinwilliams

We believe this may not be an issue since we've had many releases since it was originally reported. If you still continue having problems, please feel free to open a new issue.

[2022-04-07 21:12] #1822 closed

[2022-04-07 21:14] luisquintanilla commented on #1889
Closing issue since it's been fixed.

[2022-04-07 21:14] #1889 closed

[2022-04-07 21:26] luisquintanilla commented on #1994
@v-Hailishi can you please validate whether this issue also affects the code that's generated in *.consumption.cs and *.training.cs files?

[2022-04-08 05:46] v-Hailishi commented on #1678
@luisquintanilla Following are the validate steps and results:
1. Install VS2022 Enterprise 17.1.3 with ML.NET Model builder version 16.7.4.2151101 & VS2019 Enterprise 16.11.11 with ML.NET Model builder(Preview) version 16.1.0.2027905.
    **At this time, machine leaning can be added successfully for both VS2022&2019.**
![image](https://user-images.githubusercontent.com/99375895/162364446-99db03a7

[2022-04-08 07:25] v-Hailishi commented on #1994
@luisquintanilla Using datafile [https://testpass.blob.core.windows.net/test-pass-data/issues.tsv.txt](https://testpass.blob.core.windows.net/test-pass-data/issues.tsv.txt) as example.
I set column "ID" and "description" to Ignore, after completed training, I saw that *.training.cs file only contains feature column "Title", there is no column "ID" and "description". I think this issue doesn't affe

[2022-04-08 12:32] DataJuggler commented on #2084
I am getting a similar error with a DateTime column in my data. Does model builder not work with DateTime columns?

As per feedback since this is in Preview, having the ability to write a query rather than select a table would be nice.

I could always create a View, but writing a query on the fly would be simpler.

[2022-04-08 18:06] Elantonio commented on #2087
Hi a label Issue source coutomer was added.
The only source at customer side is making the datafile.
the rest is all MLModel.mbconfig 's doing.

[2022-04-08 19:02] beccamc commented on #2087
"Issue source: customer" just means that the issue was reported by a customer ☺️

[2022-04-08 19:47] JakeRadMSFT opened #2089 "Notebook Content Drive"
Hey All,
Creating this issue to track an effort to create a collection of useful ML.NET Notebooks for learning ML.NET. I'd like to share these on .NET Blogs in May/June.

### Getting Started
- [x] Intro to Notebooks Series
- [ ] 01 - Intro to ML.NET Series
  - [ ] Intro to ML Concepts (with ML.NET) (@tarekgh)
  - [ ] Intro to Data and Training Pipelines
  - [ ] Intro to Evaluation

- [ ] 02 - Data

[2022-04-09 14:48] Elantonio commented on #2087
Oops srry

From: Becca McHenry ***@***.***
Sent: Friday, April 8, 2022 9:03 PM
To: dotnet/machinelearning-modelbuilder
Cc: ElAntonio; Author
Subject: Re: [dotnet/machinelearning-modelbuilder] Predict results based upon wrong DataFile (Issue #2087)

"Issue source: customer" just means that the issue was reported by a customer ☺️

—
Reply to this email directly, view it on GitHub <https://github.com

[2022-04-10 21:05] kuznickic commented on #1987
Sorry for the late response but yes I have the columns in the wrong order and the sample works perfect now.  I greatly appreciate the assistance on this.

[2022-04-11 12:26] 21r8390 commented on #1903
I haven't written back for a while because I was still testing. It's super fun! ☺

There were some updates, which I have not followed closely. I do not know why, but this error no longer occurs.

[2022-04-11 13:05] RichardClaxton opened #2090 "ModelOutput does not contain Prediction"
Following the example successfully, until trying
string sentiment = result.Prediction == 1 ? "Positive" : "Negative";
The Model that was created does not contain a Prediction definition.

Using MVC version 17.1.2
Microsoft.ML version 1.6.0

[2022-04-12 06:35] v-Hailishi opened #2091 "The space or hyphen (-) should be replaced with underscore (_) automatically in 'xx.consumption.cs' and 'xx.training.cs' files."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.5.2220401 (Main Build)
Microsoft Visual Studio Enterprise 2022: 17.1.3
.Net: 6.0

**To Reproduce**
Steps to reproduce the behavior:
  1. Select Create a new project from the Visual Studio 2022 start window.
  2. Choose the C# Console App (.NET Core) project te

[2022-04-12 10:52] JTRlaze opened #2092 "訓練失敗。請前往 Azure 入口網站查看詳細資料。"
於 AzureML.AutoMLRunMonitoringImages.<MonitorParentRunAsync>d__1.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/AutoMLRunMonitoringImages.cs: 行 136
--- 先前擲回例外狀況之位置中的堆疊追蹤結尾 ---
   於 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   於 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   於 AzureML.AutoMLRunnerImages

[2022-04-12 12:13] JTRlaze opened #2093 "訓練失敗。請前往 Azure 入口網站查看詳細資料。"
天藍色AutoRunMonitoringImages.d__MoteveNext() src/ Microsoft.ModelBuilder.AutoMLRunMonitoringImages.cs: 行 136/AutoMLRunMonitoringImages.cs: 行 13
位置中的MonitoringImages.d__/Remote.
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
於 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
於 AzureML.AutoMLRunnerImages.d__24.MoveNext() 於 / /src/Microsoft.

[2022-04-12 12:14] #2092 closed

[2022-04-13 05:20] ansarizafar opened #2094 "Model builder for Visual Studio Code"
It would be great If we have a Model builder extension for Visual Studio Code. Is there any plan to provide support for VS Code?

[2022-04-14 20:53] beccamc commented on #1669
I can share a large dataset for testing.

[2022-04-14 20:57] beccamc commented on #2029
Interesting feedback on large dataset improvements here - https://github.com/dotnet/machinelearning-modelbuilder/issues/1217#issuecomment-948058017

[2022-04-14 20:58] beccamc commented on #811
Interesting feedback on large dataset improvements here - https://github.com/dotnet/machinelearning-modelbuilder/issues/1217#issuecomment-948058017

[2022-04-14 21:00] beccamc commented on #2088
@v-Hailishi Can you create a new project with ML.NET version 1.7.1 and see if we show an update message like the above?

[2022-04-14 21:32] beccamc commented on #2090
@v-Hailishi Can you confirm the consume page of the tutorial is still correct? https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume

[2022-04-14 21:34] beccamc commented on #2093
@JTRlaze Sorry you had this problem! Did the training run complete in the portal?

[2022-04-14 21:35] beccamc commented on #2094
@JakeRadMSFT and @luisquintanilla to respond. Thanks!

[2022-04-14 21:37] beccamc commented on #2091
@zewditu Has this been addressed before?

[2022-04-15 08:11] v-Hailishi commented on #2088
@beccamc Verified on the latest main branch 16.13.5.2221401, the issue is not repro for both of VS2019&2022.
![#2088](https://user-images.githubusercontent.com/99375895/163544338-2e6f01da-24cb-4d45-ab7b-593d98ef9d9c.gif)

[2022-04-15 08:41] v-Hailishi commented on #2090
@beccamc Tried the steps using the latest main branch 16.13.5.2221401, I also met the same error just like below picture.
![image](https://user-images.githubusercontent.com/99375895/163547576-f98619aa-b77d-4d06-9483-fd679ded23d2.png)

[2022-04-15 16:13] beccamc commented on #2088
@Elantonio What version of Model Builder are you using? What type of project is it?

[2022-04-15 16:26] zewditu commented on #2091
This is not exactly, we had a similar issue in generated projects this is only for mbconfig behinds

[2022-04-15 17:07] luisquintanilla commented on #2094
Hi @ansarizafar

Thanks for your question. Support Model Builder in Visual Studio Code is not currently in our roadmap. If you're looking for tooling options for cross-platform scenarios, we recommend using the [ML.NET CLI](https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/install-ml-net-cli?tabs=windows).

We also encourage and promote community contributions / solutions. For examp

[2022-04-15 20:22] beccamc commented on #2090
@RichardClaxton I think you need to use .PredictedLabel.

@luisquintanilla Did this get changed in a new ML.NET version? Was there an item for updating this tutorial?

[2022-04-15 20:41] luisquintanilla commented on #2090
@RichardClaxton sorry to hear you ran into this issue. As @beccamc pointed out, try using `result.PredictedLabel` instead of `result.Prediction`.

[code]

@beccamc the changes I made were only reflected for the CLI, not Model Builder. I'll make the updates to the tutorial to fix this.

[2022-04-18 02:53] gsuberland commented on #2046
Also hitting this issue. I've been battling it for 5 or 6 hours now and I can't find a way to work around it. I've cleared temp files (both user and system), reinstalled VS and the extensions, rebooted, deleted the models and started over, moved the directory, tried rolling back extension versions, etc. and no matter what I do it appears to be stuck with this exact same exception every time I try

[2022-04-18 08:43] v-Hailishi commented on #2021
The bug is repro on the latest main branch: 16.13.5.2221501 for VS2022.
![image](https://user-images.githubusercontent.com/99375895/163782455-8455ee63-57d9-459a-9c9a-ed90432b4551.png)

[2022-04-18 08:56] v-Hailishi opened #2096 "Once the notebook(xxx.ipynb) file is opened, the debugging button name will not change to the startup project name when selecting a different startup project."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.5.2221501 (Main Build)
Microsoft Visual Studio Enterprise 2022: 17.1.3
.Net: 6.0

**To Reproduce**
Steps to reproduce the behavior:
  1. Select Create a new project from the Visual Studio 2022 start window.
  2. Choose the C# Console App (.NET Core) project te

[2022-04-18 10:06] v-Hailishi opened #2097 "Console App (.NET Framework) project debugged failed after completed the training."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.5.2221501 (Main Build)
Microsoft Visual Studio Enterprise 2022: 17.1.3
**.Net Framework: 4.7.2**

**To Reproduce**
Steps to reproduce the behavior:
  1. Select Create a new project from the Visual Studio 2022 start window.
  2. Choose the C# Console App (.NET

[2022-04-18 15:18] beccamc commented on #2046
@gsuberland Did you do the exact same thing as the other user? Removed some files after training? Or are you just getting a similar message?

[2022-04-18 17:55] beccamc commented on #1520
[Notes](https://teams.microsoft.com/l/message/19:e91d4200cba343bbbbaf0ef45e065ee2@thread.tacv2/1645821252922?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=13e1702e-ccb0-4b25-aff8-d637a92c658b&parentMessageId=1645821252922&teamName=Azure%20ML%20vNext&channelName=Models&createdTime=1645821252922) on registering models

[2022-04-18 20:27] beccamc commented on #2097
@v-Hailishi What as the platform target when it failed?

Based on this is works on x64 and x86. What was it set to when it failed? Thanks!

[2022-04-18 20:32] beccamc commented on #2096
@v-Hailishi Interesting bug! Can you check if this happens with other non-C# files? If you open a .txt or .png file in VS and try this, what happens?

If it's the same behavior for other non-code files let's close this issue.

[2022-04-18 20:36] beccamc commented on #2083
@v-Hailishi Looks like a problem with the Notebook extension. Can you re-open this in the .NET interactive repo? https://github.com/dotnet/interactive

[2022-04-19 02:01] v-Hailishi commented on #2097
@beccamc  The platform target is set to "**Any CPU**" when it failed.

[2022-04-19 02:24] v-Hailishi commented on #2096
@beccamc
1. When I try to open a VB file, this issue doesn't happen.
![image](https://user-images.githubusercontent.com/99375895/163906704-711b4278-9329-410d-9a3f-f4cbd34d20ad.png)
2. When I try to open a .txt file, this issue doesn't happen.
![image](https://user-images.githubusercontent.com/99375895/163907256-0d3fe9d7-7a78-44d9-9e7e-1b4bdb631d47.png)
3. When I try to open a .png file, this issue

[2022-04-19 02:39] v-Hailishi commented on #2083
Move to [https://github.com/microsoft/VS-Notebook/issues/226](https://github.com/microsoft/VS-Notebook/issues/226)

[2022-04-19 02:39] #2083 closed

[2022-04-19 05:53] JTRlaze commented on #2093
This training run is in the ML.NET
I don't know if there is an answer to this?

[2022-04-19 06:29] v-Hailishi commented on #1527
The bug has been fixed on the latest main branch: 16.13.5.2221801
![image](https://user-images.githubusercontent.com/99375895/163939621-711ad6b5-5e89-4fa4-a41c-f329c8d14654.png)
![image](https://user-images.githubusercontent.com/99375895/163939684-01ab45a8-aae7-48df-8b87-4752b5fa9ffd.png)
![image](https://user-images.githubusercontent.com/99375895/163939710-219417a3-997a-4735-92c1-007e18c8a56f.png

[2022-04-19 07:26] Elantonio commented on #2088
1.71 and it is a priceprediction project

[2022-04-19 07:49] Moskus commented on #2084
Same problem here, it wasn't clear that it might be the DateTime column. I also have a column with JSON strings, and the MLModel Builder didn't like that one either.

[2022-04-19 07:58] Moskus opened #2098 "Projectnames with spaces fails when namespace is generated"
**System Information (please complete the following information):**
 - Model Builder Version: 16.13.1.2210302
 - Visual Studio Version: 2022 17.1.4

**Describe the bug**
The generated code for console app creates namespace names with space, resulting in errors

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with a space in the name
2. Go through the MLBuilder wizard
3. At th

[2022-04-19 07:59] v-Hailishi opened #2099 "Recommendation: After changing the feature column 's Data type from "Single" to "String", the training should be completed successfully for Data source from SQL Server."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2221801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.3)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue: Training Recommendation with Data source from SQLPassword and SQL Serve

[2022-04-19 08:04] Moskus opened #2100 ""Evaluate" does not use regional settings for number formatting (uses . instead of ,)"
**System Information (please complete the following information):**
 - Model Builder Version: 16.13.1.2210302
 - Visual Studio Version: 2022 17.1.4

**Describe the bug**
Evaluating the trained model when using single data is harder because I have to swap periods for commas, as we're using commas as decimal separators here (nb-no).

**To Reproduce**
Steps to reproduce the behavior:
1. Set comma as

[2022-04-19 09:19] Moskus opened #2101 "Evaluate: Easier access to other test data than just row 1"
**Is your feature request related to a problem? Please describe.**
Evaluate now only loads the first line of the training data. Having the option to select other rows would be great.

**Describe the solution you'd like**
Having a button with "Previous row" and "Next row" would solve it.
It would be even better if I could choose a specific row, using a textbox for entry number and a button labeled

[2022-04-19 15:27] beccamc commented on #2093
If you go to this link, is the training run complete?

[https://ml.azure.com/experiments/id/707dc739-b204-46fb-8552-5d2cdc7015f1/runs/AutoML_9668d35a-975c-4129-b373-b3e30c15f756?wsid=/subscriptions/a94f4a2b -1809-442a-af92-499accdc3b09/resourceGroups/defect/providers/Microsoft.MachineLearningServices/workspaces/defect](https://ml.azure.com/experiments/id/707dc739-b204-46fb-8552-5d2cdc7015f1/runs/A

[2022-04-19 17:31] LittleLittleCloud commented on #2101
@luisquintanilla for notification

[2022-04-19 17:52] LittleLittleCloud commented on #2098
@zewditu Can you take a look

[2022-04-19 17:57] LittleLittleCloud commented on #2097
I feel like we shouldn't try fix this as the debug information is very helpful in fixing eror and we don't know if host project is target to x64 or x86, maybe just put "won't fix" for this issue?

[2022-04-19 18:22] LittleLittleCloud commented on #2100
#1913

[2022-04-19 19:56] beccamc commented on #2097
I agree with XiaoYun's assessment above. We will close this issue. Thanks for finding it Haili!

[2022-04-19 19:56] #2097 closed

[2022-04-19 21:16] gsuberland opened #2102 "Image classification training fails when first label contains more than 10000 images"
**System Information**
 - Model Builder Version: 16.13.1.2210301 (checked on several versions; this is not a regression)
 - Visual Studio Version: Bug occurs on both VS2019 and VS2022

**Describe the bug**
After moving an image classification training dataset to a different directory, updating it in the model builder UI, and attempting to retrain it, I ran into the following error being displayed

[2022-04-19 21:18] gsuberland commented on #2046
@beccamc The problem arose after I moved the training data to a different directory. The displayed error and stack trace are identical to what was reported with this issue, but I now suspect that it's a different underlying bug. I've opened up a new issue at #2102 in relation.

The error message is definitely a UX bug, since it doesn't actually tell you what the problem was beyond "something went

[2022-04-20 06:01] zewditu commented on #2098
It is similar to this issue https://github.com/dotnet/machinelearning-modelbuilder/issues/2091.

[2022-04-20 06:01] #2098 closed

[2022-04-21 12:05] AlizerUncaged commented on #2102
I have the same issue but I have lesser than 4000 images, these are my log files:
`2022-04-21 20:02:56.4546 INFO Set log file path to D:\New Temp\MLVSTools\logs\Loli-CR8MPK.txt (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-04-21 20:03:09.8248 INFO start nni training (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-04-21 20:03:09.8298 INFO Experiment output folder: D:\New Temp\AutoML-NNI\Exp

[2022-04-21 16:38] gsuberland commented on #2102
I don't think that matches this bug. There are technically three issues
here:

1. The same exception is shown in the UI for every case where the training
fails.
2. #2046, i.e. something going wrong
in Microsoft.ML.Vision.ImageClassificationTrainer.CacheFeaturizedImagesToDisk
3. This issue, which is specifically about the model builder failing to
identify labels on the first training run with a lar

[2022-04-21 21:54] beccamc commented on #2096
@JakeRadMSFT What do you want to do here?

[2022-04-22 02:42] v-Hailishi commented on #2091
The bug has been fixed on the latest main branch: 16.13.5.2222101
![image.png](https://images.zenhubusercontent.com/62158d7f86929a769f3d134a/cd284945-1be9-4db4-a964-48bebdbbf2dd)

[2022-04-22 12:38] HashemGo commented on #2088
We have the same problem after any updates without any fix for now

I reported this issue from 1.6.0 to 1.7.0 now we have this issue after update from 1.7.0 to 1.7.1
https://github.com/dotnet/machinelearning-modelbuilder/issues/1929
we can't create new solution for all our models after any update to solve this big issue.

This is a bug
if you have a solution with many projects for ML
if you try tr

[2022-04-22 13:16] HashemGo commented on #2088
Is there any explain why the project MlApi add zip files on project Scraper, I didn't add any project to another as Dependencies
also, I upgraded from 1.7.0 to 1.7.1 and still say

Updating nuget dependencies...
Starting update NuGet dependencies async.
Installing nuget package, package ID: Microsoft.ML, package Version: 1.7.0

this bug make me crazy, for now we can't use Ml on live project becaus

[2022-04-23 08:39] JellalEternal commented on #2072
I have exactly the same "Network error message" followed by the same "Model Builder Error" when I have in console "Child run status:Finalizing: 1" :/
Do you find any solution ?

[2022-04-23 18:02] peterkarman1 commented on #283
can we get this fixed for M1s now?

[2022-04-25 12:38] muti2 opened #2103 "filePath cannot be null or empty"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.1.2210302
 - Visual Studio Version: 17.2.0 Preview 4.0
 - Windows 10.0.19.044 Build 19044
 - RAM: 16 GB
 - 11th Gen Intel(R) Core(TM) i5-1135G7

**Describe the bug**
- Pictures classification
- local cpu
- data: screenshots
- file name is in logic: folder_numb

[2022-04-25 17:44] zewditu commented on #2102
@LittleLittleCloud   could you look at this?

[2022-04-25 18:15] LittleLittleCloud commented on #2102
@gsuberland

Thanks for such this detailed investigation, we do have the logic of selecting a subset of dataset to start if the original dataset is too large. However we also shuffle the dataset before selecting subset so it's likely that in your case, even after shuffling the data, there's still only one label in the first 10000 rows of the dataset

So may I ask how's the distribution of labels y

[2022-04-25 18:47] beccamc commented on #1350
@JakeRadMSFT do we have a code sample here?

[2022-04-25 18:49] beccamc commented on #1350
Plan of action:
1. Jake adds code sample to this issue.
2. Return generated code from Model Builder
3. File issue with ML.NET to return key value pairs.

[2022-04-25 18:52] beccamc commented on #1537
Removing from DRI issue. This should be rolled into Advanced Training Options.

[2022-04-25 18:55] beccamc commented on #1582
This needs more thought on where we want to save these metrics and how we want to display them in UI. MBconfig file? AutoML run history file?

[2022-04-25 19:01] beccamc commented on #1975
Best change here would be to generate a predict method that takes a DataFrame.

[2022-04-25 20:28] gsuberland commented on #2102
In the dataset that was being used there were about 40000 images total with
a roughly 70/30 split across labels, so it seems extremely unlikely that
the first set of 10k is missing both labels in a shuffled dataset, let
alone doing so a good 30+ times in a row while I was debugging. Intuitively
I'd guess that I've got more chance of winning the lottery at the exact
same time as being struck by lig

[2022-04-25 21:16] LittleLittleCloud commented on #1582
I'd vote for saving metric name in mbconfig, under a sub-root
[code]

[2022-04-26 06:44] muti2 commented on #2103
I dont know whats happend, but i created new project with the same images and everything seems to be ok....sorry.

[2022-04-26 08:28] TheAwerx opened #2104 "When start training, it fails immediately"
**Model Builder Version**: 16.1.0.2027905
**Visual Studio Version**: Community 2019 Version 16.11.13
.Net Framework Version: 4.8.04084

**Bug description**
![fail1](https://user-images.githubusercontent.com/48297653/165256521-2dc3eeb5-0040-4cb5-a40e-7e719da1c4de.PNG)
[fail2.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/8561255/fail2.txt)

   konum: System.Linq.Enumerable.Select

[2022-04-26 09:05] TheAwerx commented on #2104
I had only one label/sub-folder in my main folder. When I added one more label/sub-folder, start training didn't fail. But I want to train only one label. How can I achieve that?
Thanks in advance

[2022-04-26 11:54] #2103 closed

[2022-04-26 16:44] zewditu commented on #2104
@TheAwerx thanks for using ml.net Model Builder

1. form your UI I see that you are in a very old model builder  the latest version is 16.13.1.2210301 and you can get it at  https://marketplace.visualstudio.com/items?itemName=MLNET.07
2 To build a multiclass classification model, the number of classes needs to be 2 or greater

[2022-04-26 16:48] beccamc commented on #2075
Closing due to lack of information. If this is still an issue please open a new issue with additional details. Thanks!

[2022-04-26 16:51] beccamc commented on #418
Thanks for the suggestions! These are being tracked in the linked issues. Thanks!

[2022-04-26 16:51] #418 closed

[2022-04-26 16:51] beccamc commented on #1437
Any update here?

[2022-04-26 16:52] beccamc commented on #1632
Any update here?

[2022-04-26 17:49] LittleLittleCloud commented on #994
update: after mlnet 1.9.0, arm64 should be supported for most trainers. However there's still a few trainers which are not support on arm64 platform, like LGBM and image classification

I'm going to close this issue as for now there's no roadmap or estimation on when to support arm64 for those trainers, nor is it under mlnet community's control on having them support arm64 or not.

So unfortunatel

[2022-04-26 17:49] #994 closed

[2022-04-26 17:52] LittleLittleCloud commented on #1914
Might related to #1913

[2022-04-26 19:26] beccamc opened #2105 "Telemetry Goals"
- [ ] Project type (framework vs core)
- [x] Model Builder funnel - [link](https://dataexplorer.azure.com/dashboards/5b95430c-93c0-4ccd-9a6c-6237ce7acfce?p-_startTime=1hours&p-_endTime=now#e91dc92b-5fc0-43bd-ac5d-c5b4f8b70b1c)
- [x] Environment information (azure/gpu/local)
- [x] Dataset information (size, column count, etc) [link](https://dataexplorer.azure.com/dashboards/5b95430c-93c0-4ccd-9a6c-

[2022-04-26 21:27] zsbali opened #2106 "regression training fails with more than 40000 items"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.4.2151101
 - Visual Studio Version 2022

**Describe the bug**
Start to train using a dataset having 40000 items. It will finish OK.
[diamonds40000.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/8566981/diamonds40000.csv)
Start to train using

[2022-04-26 21:45] #2106 closed

[2022-04-26 21:46] zsbali commented on #2106
After a Model Builder update it works. Thanks.

[2022-04-26 22:49] beccamc commented on #1953
Sorry again for the delay. Any chance you can attach the dataset?

[2022-04-26 22:56] beccamc commented on #2080
@csdhall I think you selected the "Value prediction" scenario instead of "Data classification".

[2022-04-26 22:57] beccamc commented on #2085
I don't have enough information to resolve this issue. Please add more details and I will reopen. Thanks!

[2022-04-26 22:57] #2085 closed

[2022-04-26 23:00] beccamc commented on #2086
@v-Hailishi Can you try to reproduce this?

Training -> update data file with new data -> reloading DataFile;
model uses contents of old datafile

[2022-04-26 23:07] beccamc commented on #2088
Looks like we aren't selecting the correct project in our dependency logic (make bad assumption that there is only one project?). We should fix this for the next release.

[2022-04-26 23:10] beccamc commented on #1913
There have been a few reports of this. It would be nice to fix this in the next release.

[2022-04-26 23:12] beccamc commented on #2100
Sorry about this issue. It looks to be a duplicate of 1913. To work around the problem, you should be able to change the "." to ","

Please follow 1913 for updates on a fix. Thanks for reporting!

[2022-04-26 23:12] #2100 closed

[2022-04-26 23:14] beccamc commented on #1986
The specific csv issue reported here should be fixed by https://github.com/dotnet/machinelearning-tools/pull/1432

[2022-04-26 23:16] beccamc commented on #1008
Would be nice to have a pipeline example for this

[2022-04-26 23:21] beccamc commented on #1582
Similar request here https://github.com/dotnet/machinelearning-modelbuilder/issues/1056:

[2022-04-26 23:23] beccamc commented on #1056
Tracking item # 1 in the Re-opening train tab issue above. Item # 5 should be resolved by the AutoML changes.

- [ ] 1) VS Extension: Save the content of the output window (with the logs about the training) as a text file when adding the projects ML.Model, ML.ConsoleApp
- [x] 2) VS Extension: Allow to change the name of the added projects ML.Model, ML.ConsoleApp (may be to prefix them so that they

[2022-04-26 23:26] beccamc commented on #1111
@v-Hailishi Can you see if this still reproduces on large datasets (above 2k images)? Let me know if you need help finding a dataset.

[2022-04-26 23:30] beccamc commented on #1712
@LittleLittleCloud Are you able to help here again? It's still an issue.

[2022-04-26 23:32] beccamc commented on #1824
@v-Hailishi Can you try to reproduce this with the training data above?

[2022-04-26 23:33] beccamc commented on #1839
Sorry for the problem here! Would be great to see the csv file is in temp folder and has a format ${GUID}-object-detection.ImageTrainData.csv.

[2022-04-26 23:35] beccamc commented on #1857
@v-Hailishi Can you try the large image dataset locally as well?

[2022-04-26 23:39] beccamc commented on #2088
Issue that would be nice to fix at the same time https://github.com/dotnet/machinelearning-modelbuilder/issues/1918

[2022-04-26 23:40] beccamc commented on #2081
How many images are you trying to train?

[2022-04-26 23:42] beccamc commented on #2090
@luisquintanilla Are these updates in? Can I move to done?

[2022-04-26 23:44] beccamc commented on #2094
Thanks for providing this suggestion! Closing as this is not in the roadmap for now. Please let us know if you have any other feedback.

[2022-04-26 23:44] #2094 closed

[2022-04-26 23:48] gsuberland commented on #2081
@beccamc I've done some digging since the above comment.

The stack trace described at the top of this issue appears for almost any case where the training fails, so it doesn't actually tell us anything about what went wrong. The error in the UI is effectively useless; the actual underlying issue and stack trace will be reported in the log file.

In my case the issue is 10k or more images in the f

[2022-04-27 00:00] LittleLittleCloud commented on #1712
Yeah sure,, we no longer use image classification api from AutoML.Net since v16.13.1 so it might provides more logs and more information to trace. @Exterminated would you be able to share with us model builder log again.

Regards!