[2022-04-27 00:18] HashemGo commented on #2088
Thanks, we are waiting
Also, please check screenshot
![image](https://user-images.githubusercontent.com/42634137/165412013-6790b017-43e9-4582-9bfe-4b88753cd06b.png)

##1 the model can not read the path, you can see the model create the class on the right path but zip file path in  **_.consumption.cs_** file not right
`private static string MLNetModelPath = Path.GetFullPath("**StatementType.zip**")

[2022-04-27 05:40] zabanet commented on #2072
No. Strange that maintainers didn't respond. Is this project alive?

[2022-04-27 07:44] v-Hailishi commented on #2086
@Elantonio I have saved Elantonio's data file to [test.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/8569723/test.txt)
This bug is not repro on the latest main branch: 16.13.5.2222101, the following are the steps I reproduced:
1. Choose "Value prediction" scenario, select above test.txt data file, choose "Move" column as Label, then completed the training.
![image](https://user

[2022-04-27 08:22] TheAwerx commented on #2104
I updated my model builder to 16.13.1.2210301 version. Now another error occures. I have tried to close/reopen VS, selecting another folder then reselecting my original folder as my data, closing and reopening model builder, covering the data of classes to even number; but none of these approaches didn't solve the error. I am waiting for your help. I think my error is similar to that one #2046
![f

[2022-04-27 10:34] Elantonio commented on #2088
Great support!
thnks.

From: Becca McHenry ***@***.***
Sent: Wednesday, April 27, 2022 1:40 AM
To: dotnet/machinelearning-modelbuilder
Cc: ElAntonio; Mention
Subject: Re: [dotnet/machinelearning-modelbuilder] shows warning to upgrade from v1.7.1 to v1.7.0 ??? (Issue #2088)

Issue that would be nice to fix at the same time #1918 <https://github.com/dotnet/machinelearning-modelbuilder/issues/1918>

[2022-04-27 10:47] v-Hailishi commented on #1824
@beccamc This issue is not repro on the latest main branch: 16.13.5.2222101 when I using above training data [ml_train_data.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7340646/ml_train_data.zip)
![image](https://user-images.githubusercontent.com/99375895/165501098-ccc9d3a6-ebe0-4ac5-adf3-b52286f86fbd.png)
Run link in Azure portal:
https://ml.azure.com/experiments/id/8ad34cd8-

[2022-04-27 11:16] v-Hailishi commented on #1111
@beccamc Tried on the on the latest main branch: 16.13.5.2222101, I met the network issue when using the datasets frankhaugen provided:
Images: https://github.com/freedoom/freedoom/tree/master/sprites
Vott-model: [Model.json.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/5565005/Model.json.txt)
![image](https://user-images.githubusercontent.com/99375895/165474703-6b83417b-98dd-4

[2022-04-27 11:35] v-Hailishi commented on #1857
@beccamc I only have the [weather](https://testpass.blob.core.windows.net/test-pass-data/weather.zip) dataset with 1125 images.
![image](https://user-images.githubusercontent.com/99375895/165508962-04b81842-fc94-4b2c-8193-75d797161d7a.png)
This weather dataset can be trained success on the latest main branch: 16.13.5.2222101.

If this dataset size is not enough laege, could you help to provide a l

[2022-04-27 12:07] JellalEternal commented on #2072
Yes strange that maintainers didn't respond :/ Yes it's still alive

[2022-04-27 13:38] luisquintanilla commented on #2090
@beccamc yup. Changes are in.

[2022-04-27 15:36] #2090 closed, assigned to beccamc

[2022-04-27 16:30] zewditu commented on #2104
Do you have still one subfolder  in  your main folder

[2022-04-27 17:46] beccamc commented on #1824
@Philip2809 Can you update your Model Builder version and see if the problem is still happening?

[2022-04-27 19:19] Philip2809 commented on #1824
Hello! I no longer use this to image recognition, I used Custom Vision for a while to make a model and use it but later found out it wasn't what I was looking for. Also it turned out image recognition was not really used in the project I was working on so I stopped using it.

Sadly I no longer have the project where I was testing this stuff out as I have a new computer, the old one was erased. It

[2022-04-27 19:43] beccamc commented on #1824
Thanks for the response Philip! Let us know if you run into any other problems using our product in the future.

[2022-04-27 19:43] #1824 closed

[2022-04-28 08:57] TheAwerx commented on #2104
@zewditu, No I have more than 2 subfolders

[2022-04-28 20:33] FrankvdStam commented on #2081
I have 4 labels, all below 10k images

credits       77
gameplay  9502
loading      914
credits       131

But the total amount does go over 10k.

[2022-04-28 23:05] LittleLittleCloud commented on #2102
Hmmm that's interesting,,, I tried your way to see if I can reproduce this bug but it trains successfully,, can you share with us the .tsv file as well. It should be in temp folder and should look like this

`17ae09b4-408f-4955-adf4-1cac9e157e65-image.ImageTrainData.tsv`

[2022-04-28 23:36] LittleLittleCloud commented on #2102
I just take a close look on how shuffle is implemented in ml.net, it seems that unlike what I used to think how shuffle is implemented, it uses a pool to avoid loading entire dataset into memory, which might be the case of this bug.

The size of that pool is defaulted to 1000, and when shuffling, it keeps pulling data randomly from the pool  and insert new data in that pool again. So in your datas

[2022-04-29 16:20] zewditu commented on #2104
@TheAwerx   If you add the subfolder to the existing Mainfolder it might relate to  https://github.com/dotnet/machinelearning-modelbuilder/issues/2046.
could you try creating a new folder add your subfolders?

[2022-04-30 05:39] ericc8321 opened #2107 "PredictedLabel"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-04-30 07:41] torronen commented on #2105
Would it be possible to get summary of Telemetry visible somewhere in the UI or website? Users may sometimes work with sensitive data (E.g. "antti_torronen_health_data_and_financial_transactions.csv") so it will be good to be able to confirm what might get sent. Maybe this list is somewhere already?

[2022-05-01 06:46] truebigsand commented on #2046
I think it probably relates to the name of the folder which contains the training data. I first put the training data in the folder "train_data" and the problem arose. When I renamed the folder to another name(very different from "train_data") and tried again, it works normally.

[2022-05-02 15:56] torronen opened #2108 "Support for Ranking scenario"
**Is your feature request related to a problem? Please describe.**
Ranking is one of the features of ML.NET. Model Builder is missing this scenario.
I found only mention of it here https://github.com/dotnet/machinelearning-modelbuilder/issues/702 but perhaps it ha been delayed since then.

**Describe the solution you'd like**
I'd like support for Ranking scenario.

**Describe alternatives you've c

[2022-05-02 19:38] luisquintanilla commented on #2107
Hi @ericc8321

Could you please provide more details about your issue.

[2022-05-02 20:07] beccamc commented on #2101
Short term, let's provide a code sample for this. Is it already included in consumption code?

[2022-05-02 20:14] LittleLittleCloud commented on #2102
I'd rather say it's a feature in ML.Net (to have a pool for shuffling data). There might be some reason for such design.

@michaelgsharp do you have any comments or information on shuffling data in ml.net

[2022-05-02 20:24] beccamc commented on #2108
Thanks for adding this issue! We haven't had a lot of requests for this scenario. We'd love to learn more about your use case... can you give us some more details on what you want to accomplish?

@LittleLittleCloud Have you tried this?

[2022-05-02 21:32] torronen commented on #2108
My current use case is to enhance a chatbot classifier. If NN seems uncertain then we could show list of most relevant topics. Current data is numbers only (embeddings + some other data).

It is probably correct there are less use cases for ranking in general. I am not sure, but maybe, most classification tasks could be reframed as ranking tasks (probability of belonging to a class vs. what is the

[2022-05-02 22:30] LittleLittleCloud commented on #2108
You can create your own automl experiment using sweepable api now! It allows you to optimize parameter on customed pipeline and search space and I can help you on this task, would you mind sharing subset of your dataset to begin with?

[2022-05-03 08:18] Moskus commented on #2101
As far as I understand, the first row is always hard coded in the consumption code too. The code can of course be changed, but for evaluation and simple testing it's actually a bit more work than having access to more rows from the Test page.

One could argue that just presenting one data point for testing could be considered somewhat limiting and even misleading.

[2022-05-03 16:06] #1953 closed

[2022-05-03 16:11] #1750 closed

[2022-05-03 16:12] beccamc commented on #1749
@luisquintanilla What's the deal with this item?

[2022-05-03 16:15] luisquintanilla commented on #1749
@beccamc there's a draft but hasn't been published. Since we're tracking it on the docs repo, I'd be okay closing this issue.

[2022-05-03 16:17] #1449 closed, assigned to JakeRadMSFT

[2022-05-03 16:18] beccamc commented on #1350
@JakeRadMSFT can you add that code sample?

[2022-05-03 16:32] beccamc commented on #832
@JakeRadMSFT This is from two years ago. Can we close?

[2022-05-03 16:45] justinormont commented on #832
This is old, but AFAIK still valid. So depends on how you'd like to manage old bug reports / issues.

[2022-05-03 19:11] #1749 closed

[2022-05-03 19:25] beccamc commented on #2015
@LittleLittleCloud Do we want this to make the current release? If so, do you want me to take a look at this?

[2022-05-03 19:30] beccamc commented on #1890
@v-Hailishi Can you see if the Notebook generated for object detection is still broken?

[2022-05-03 19:32] beccamc commented on #1678
If I am understanding this correctly the problem will only happen if you're also subscribed to our private feed. In this case, are we okay marking this as fixed? @luisquintanilla

[2022-05-03 19:32] LittleLittleCloud commented on #2102
After a few digging, it seems that `CacheDataView.CanShuffle` is true, which means when shuffling a `CacheDataView`, ml.net will shuffle both pool and source, which provides more randomness.

[2022-05-03 21:16] torronen commented on #2108
@LittleLittleCloud This is one validation set I have been trying https://u.pcloud.link/publink/show?code=XZ1PppVZfy8O5LuUeQFf6HKUpyeyBXxNkND7

Columns Rank and Group are the last ones. Other columns are scores and embeddings from models trying to match a query to topics. Distribution by rank:
4 - 749
3 - 3000
2 - 7286
1 - 250

I am still having the problem of getting 1.0 NDCG for every position I

[2022-05-03 23:52] LittleLittleCloud commented on #2108
One tip when running ranking task: you probably want to sort according to GroupId before feeding dataset into pipeline because ML.Net doesn't respect group id sometimes

check the following for detailed information
https://github.com/dotnet/machinelearning/issues/5022

[2022-05-04 11:55] torronen commented on #2108
Wow, thanks, that is cool! I suppose my problem has been not sorting by GroupId. Actually, our datasets are the opposite. There was some reason why datasets with similar items one after another caused problems (maybe something with Keras models?). The current datasets were created so that similar rows are not one after each other, so instead it is 1 item from each group, then 2nd from each group e

[2022-05-04 12:02] torronen commented on #2108
Another question I have: how to change the metric to optimize? How to create a custom metric? Custom metric is sometimes needed because not all entries are equal. For example, it is better to detect few severe anomalies than all light anomalies, even if standard metrics would be lower because of it.

I'll have a look at the API later to understand better, questions just FYI.

[2022-05-04 17:24] LittleLittleCloud commented on #2108
Yeah you can, it would need to be in two `AutoMLExperiment` though, where the first experiment would go through a set of pre-defined parameters and the second one go through original search space.

To achieve this you would need to provide a customize search space. The gist of this is to use a `Choice` option which maps to pre-defined parameter sets.
[code]
Then in `CreateSweepableEstimator`, simp

[2022-05-04 20:05] beccamc opened #2109 "Fake customer issue"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-05-04 20:10] beccamc commented on #2109
Ask a question

[2022-05-05 03:47] v-Hailishi commented on #1890
The bug is not repro on the latest main branch 16.13.5.2225301 and notebook 0.3.1.2225313.
![image](https://user-images.githubusercontent.com/99375895/166861063-604bad1d-26ca-4faf-b294-5e0b76a96bfb.png)

[2022-05-05 14:29] #1890 closed

[2022-05-05 17:04] toanlcgift commented on #1182
I think modelbuilder should generate 2 outputs: .zip file & .onnx file. It is easier than converting from code.

[2022-05-07 07:58] v-Hailishi opened #2110 "Model builder error "String reference not set to an instance of a String. Parameter name: NumberDecimalSeparator" on the "Evaluate" page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.5.2225601 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.11); 2022(17.1.3)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue: Predict the sample data source from SQLPassword and SQL Server Database

[2022-05-09 19:46] JakeRadMSFT commented on #2105
@torronen - Great suggestion! I like the idea of being more open about what we're tracking. We'll look into adopting something like this to help give folks peace of mind.

For people that really want to double check our work - you can use any networking capturing to see what we capture. We abide by all the GDPR guidelines and processes for privacy and PII information.

There is also an option to o

[2022-05-09 20:08] beccamc commented on #1655
@zewditu Can you take a look at this one?

[2022-05-10 08:51] v-Hailishi commented on #2110
The bug has been fixed on the latest main branch 16.13.6.2225901 for both of VS2022 & VS2019.

[2022-05-10 08:58] v-Hailishi commented on #2038
@beccamc the bug is still repro on the latest main branch 16.13.6.2225901 for VS2022.
![image](https://user-images.githubusercontent.com/99375895/167590555-14ebe413-7f29-4dee-9259-ea75a5a74f3f.png)

[2022-05-10 09:05] v-Hailishi commented on #2096
The bug is not repro on the latest main branch 16.13.6.2225901.
![image](https://user-images.githubusercontent.com/99375895/167591975-60a001a9-1ee9-4b52-b27c-5f5c8e670a1c.png)

[2022-05-10 20:38] beccamc opened #2111 "April Release"
Commit: https://github.com/dotnet/machinelearning-tools/pull/1448
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.13.6.md

**2022** Version number: 16.13.6
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6145014
**2019** Version number: 16.13.6.2226101
**2019** Build: https://devdiv.visualstudio.com/DevDiv/_build/r

[2022-05-10 20:42] beccamc commented on #2111
- Classification 2022
- Regression 2022
- Recommendation 2022
- Image Detection - Local - 2022
- Image Detection - Azure - 2022
- Object Detection 2022
- GPU 2022

- Classification 2019
- Regression 2019
- Recommendation 2019
- Image Detection - Local - 2019
- Image Detection - Azure - 2019
- Object Detection 2019
- GPU 2019

- Generated Web API
- Generated Console App
- Generated Notebook

[2022-05-10 21:12] LittleLittleCloud commented on #2053
@v-Hailishi It's just not showing all labels in one row because "imageSource" is too long, you can use `select-object` to filter on columns you want

[2022-05-10 21:16] LittleLittleCloud commented on #2015
No, we don't have plan to fix any forecasting-related issues in this release, I will move this to May release

[2022-05-10 21:18] zewditu opened #2112 "A column ignored in advanced option in forcasting still avalible as an option for Label column"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-05-10 21:20] LittleLittleCloud opened #2113 "GPU validation section should be themed"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): main
 - Visual Studio Version Dev17
<img width="290" alt="image" src="https://user-images.githubusercontent.com/16876986/167723720-8d02c2b1-20ce-4a34-9c44-9418aa690d85.png">

[2022-05-10 21:30] zewditu commented on #2112
In general, the refresh between advanced option and the combo box is too slow for other scenarios too.

[2022-05-10 21:32] LittleLittleCloud commented on #2053
<img width="707" alt="image" src="https://user-images.githubusercontent.com/16876986/167725414-ca1ca703-9f7f-448d-bc93-1cc222cffdb9.png">

[2022-05-10 21:35] beccamc opened #2114 "VS 2019 broken due to 17.0 ref"
![image](https://user-images.githubusercontent.com/9122518/167725800-827d6191-6ee5-4d5d-9f5e-ec1f308e9a10.png)

CreateInstance failed for package [ModelBuilderPackage]Source: &apos;mscorlib&apos; Description: Could not load file or assembly &apos;Microsoft.VisualStudio.Shell.15.0, Version=17.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a&apos; or one of its dependencies. The system cannot

[2022-05-10 21:44] zewditu opened #2115 "Ignored column values are used for sample data, evaluate, & ModelInput code"
**Screenshots**
![image](https://user-images.githubusercontent.com/36615490/167726883-800dcbc4-83c1-4c60-b6ce-8706c2db5d39.png)

![image](https://user-images.githubusercontent.com/36615490/167726979-a31b8899-82b7-42f4-a25e-1282a82fb84e.png)

**Additional context**
Add any other context about the problem here.

[2022-05-10 21:45] LittleLittleCloud commented on #2088
We are targeting at v1.7.1 now

[2022-05-10 21:45] #2053 closed

[2022-05-10 21:50] zewditu commented on #2104
Follow up on this issue  here  https://github.com/dotnet/machinelearning-modelbuilder/issues/2046

[2022-05-10 21:50] #2104 closed

[2022-05-10 22:01] JakeRadMSFT opened #2116 "Install Cuda Link when Cuda is installed"
"Install Cuda" link is showing up when it doesn't need to.

![image](https://user-images.githubusercontent.com/31937616/167728963-a3752880-e5db-417b-8ce4-05ca3e8d54fe.png)

[2022-05-10 22:04] LittleLittleCloud commented on #2061
Still not fix, I'll see if I can fix it before april release

[2022-05-10 22:45] JakeRadMSFT opened #2117 "Re-opening GPU Trained MB Config looks incomplete"
For GPU trained MB Config - it should auto-check GPU on re-load. Right now it looks like all training info is lost on re-open.

[2022-05-11 08:11] TheAwerx commented on #2104
Renaming the main folder solved the issue. Thanks!

[2022-05-11 16:23] beccamc commented on #2114
I've very confused because I only see references to 16.9.3 when I build for Dev 16

![image](https://user-images.githubusercontent.com/9122518/167899521-648cf47c-2e7f-4072-a966-d255d0d4dc65.png)

[2022-05-11 17:28] JakeRadMSFT commented on #2089
Notebook Editor Extension:
https://marketplace.visualstudio.com/items?itemName=MLNET.notebook

[2022-05-11 22:22] beccamc commented on #1217
Are you sure you were on 16.13.6? I just tested on that dataset and I got ~15 seconds to load the preview.

[2022-05-12 00:09] JTRlaze opened #2118 "遠端伺服器傳回一個錯誤: (401) 未經授權。"
於 AzureML.FailureCounter.<RecordFailureWithRetryWarningAsync>d__6.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/FailureCounter.cs: 行 48
--- 先前擲回例外狀況之位置中的堆疊追蹤結尾 ---
   於 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   於 AzureML.AutoMLRunMonitoringImages.<MonitorParentRunAsync>d__1.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/A

[2022-05-12 17:20] luisquintanilla commented on #1678
cc: @JakeRadMSFT

[2022-05-12 17:30] luisquintanilla commented on #1709
This issue might be related #1645.

[2022-05-12 17:41] luisquintanilla commented on #60
Let's look into whether we have designs for this. Potential places:

- Optional dropdown in data source selection
- Advanced Data Options

[2022-05-12 17:45] beccamc commented on #60
I found the PM [spec ](https://microsoft.sharepoint.com/:w:/r/teams/ML.NETModelBuilder/_layouts/15/Doc.aspx?sourcedoc=%7BC6FA529F-47DB-4D85-88A5-ED81575DC95C%7D&file=MB%20Spec%20-%20Advanced%20Options.docx&action=default&mobileredirect=true&share=IQGfUvrG20eFTYil7YFXXclcAQrT-C5s6i3UeOd_5VmVSbY)

[2022-05-12 17:51] luisquintanilla commented on #1865
Realted to #1587

[2022-05-12 20:30] luisquintanilla commented on #2089
# Notebook Hack Guidelines & Resources

## Instructions

### Prerequisites

- [Visual Studio 2022](https://visualstudio.microsoft.com/vs/)
- [Notebook Editor extension](https://marketplace.visualstudio.com/items?itemName=MLNET.notebook)

### Creating samples workflow

1. Fork the [csharp-notebooks](https://github.com/dotnet/csharp-notebooks) repo.
1.  Clone your fork.
1. Create a new branch.
1. Au

[2022-05-13 02:01] v-Hailishi commented on #2061
@LittleLittleCloud  The bug has been fixed on the latest main branch 16.13.6.2226101 for both VS2019&2022.
![image](https://user-images.githubusercontent.com/99375895/168195330-64b4a443-55e1-4252-a921-013b0017a41d.png)

[2022-05-13 03:30] AlvinStefanus opened #2119 "Forecast Prediction Data Is Different From Graph Data"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.13.1.2210302
 - Visual Studio Version: 2022 (17.1.6)

**Describe the bug**
- On which step of the process did you run into an issue: Forecasting Prediction generates different table and graph
- Clear description of the problem:

The data inside the table is diff

[2022-05-13 19:47] #2111 closed

[2022-05-13 19:49] beccamc commented on #2114
This was due to a weird situation with the private feed. Closing.

[2022-05-13 19:49] #2114 closed

[2022-05-13 19:50] beccamc commented on #2102
A fix for this has been released! Please test it out and let us know if you see any problems!

[2022-05-13 19:50] #2102 closed

[2022-05-13 19:51] beccamc commented on #2088
A fix for this has been released! Please test it out.  @HashemGo let me know if this solves all your issues. If not, can you file a new issue and we will work on addressing those problems. Thanks!

[2022-05-13 19:51] #2088 closed

[2022-05-13 20:01] beccamc commented on #1217
You should now be able to open a large file. We are limiting what is show in the UI for better perf. Check if out and let me know what problems you find! Thanks for all the details on this one Andras!

[2022-05-13 20:01] #1217 closed

[2022-05-13 20:02] beccamc commented on #2080
If "Data Classification" scenario doesn't work please ping me and we will troubleshoot!

[2022-05-13 20:02] #2080 closed

[2022-05-13 20:03] beccamc commented on #1986
The problem here was a timeout in the package we use to predict column type. I increased the timeout. If it works intermittently we may need to look at making that timeout value configurable. Let me know!

[2022-05-13 20:04] #1986 closed

[2022-05-13 20:08] beccamc commented on #1913
Release is out. I found it difficult to test this one so please let me know if you run into any problems. Thanks!

[2022-05-13 20:08] #1669 closed

[2022-05-13 20:09] #2061 closed

[2022-05-15 07:09] Harshwardhanpjadhav opened #2120 "command not found: mlnet"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-05-16 18:15] LittleLittleCloud commented on #2120
Are you running in MacOS or windows

[2022-05-16 18:17] LittleLittleCloud commented on #2119
Graph data should be exactly the one you see in table data, so they should be exactly match,, let me take a closer look

[2022-05-16 18:19] LittleLittleCloud commented on #2118
Are you training in Azure China or Azure HK?

[2022-05-17 02:01] v-Hailishi commented on #2038
@beccamc The bug has been fixed on the latest main branch 16.13.6.2226601 for VS2022.

[2022-05-17 06:38] v-Hailishi opened #2121 "Data classification: The mbconfig file would be abnormal closed after clicking the "Reload" or "Reload All" button on the Train page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.6.2226601 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.2.0)
**.Net Framework: 4.7.2**

**Describe the bug**
- On which step of the process did you run into an issue:
  Click the "Reload" button on the Train page.

**TestMatrix**
https://testpass.bl

[2022-05-18 04:26] chenzanyu commented on #1091
Hope to support local training as soon as possible

[2022-05-18 18:00] LittleLittleCloud commented on #2121
We probably won't fix that, it's out of our control on how reload works in VS.

[2022-05-19 07:25] hollowdrutt commented on #1913
@beccamc I have tested the same steps with the latest version and now it works, thank you!

[2022-05-19 15:32] beccamc commented on #1913
Awesome! Closing this issue.

[2022-05-20 09:12] cuicaihao opened #2122 "dotnet/sdk/6.0.203/NuGet.targets(466,5): error MSB4044:"
Running  [ML.Net Tutorial](https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume) with .Net6.0.203.

To step: Consume your model.

macOS Monterey version 12.4.

~/Documents/Developer/dotnet/ml.net/myMLApp/SentimentModel ·················································  base  system  19:02:20

[code]

[2022-05-21 13:20] DataJuggler opened #2123 "When using Visual Studio 2022, if the GPU extension is missing you send the user to 2019 Extension"
I have to go the Marketplace and search to get find this link:

https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilderGPU2022

This happens on the screen when you are creating a new model in VS 2022. I selected local GPU. If VS detects the extension is missing, user is shown a link 'Get Extension'.

That link goes to 2019. It should go to the 2022 version if current VS version is 2

[2022-05-22 02:28] JakeRadMSFT commented on #2123
Thanks for reporting! We'll get this taken care of!

[2022-05-23 01:41] v-Hailishi opened #2124 "Add Notebook failed with model builder error on the Consume page."
Copied form https://github.com/microsoft/VS-Notebook/issues/245
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.6.2226601 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.2.0)
Notebook version: **0.3.2.2226306**

**Describe the bug**
- On which step of the process did you run into an issue:
Add Note

[2022-05-23 07:22] LittleLittleCloud commented on #2122
Looks like it's missing .csproj in generated project, I can take a look

[2022-05-23 07:26] LittleLittleCloud commented on #2124
My best guess is something wrong with System.Text.Json,, will take a look on Monday

[2022-05-23 19:54] #2038 closed

[2022-05-23 20:27] sretz opened #2125 "134 Columns parsing problems"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.6.2226201
 - Visual Studio Version: 17.2.1

**Describe the bug**
- On which step of the process did you run into an issue: The problem happens on the Train step
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Scenario:

[2022-05-24 02:26] v-Hailishi opened #2126 "Generating the code behind files failed with model builder error on the Train page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019: 16.13.6.2227301 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.15)
.Net Core: 5.0

**Describe the bug**
- On which step of the process did you run into an issue:
  Click the "Start training" button on the Train page.

**To Reproduce**
Steps to reproduce

[2022-05-24 02:53] v-Hailishi commented on #2124
The bug has been fixed on the latest main branch 6.13.6.2227301 and Notebook 0.3.3.2227302.
![image](https://user-images.githubusercontent.com/99375895/169939154-99699a43-7c1c-42dd-a635-eba716887845.png)

[2022-05-24 06:12] v-Hailishi opened #2127 "Value predication: Generated Console App project, Web API project and Notebook run failed with error."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.6.2227301 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.2.0)
Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Running the generated Console App project, Web API project and Notebook for Value predication scena

[2022-05-24 08:07] KalasB commented on #1091
I would love to have this feature.

[2022-05-24 13:30] andrasfuchs commented on #1975
Is there any chance to have this in the next release?

[2022-05-24 14:33] cmckechney commented on #2022
I am having the exact same error.  ML 2022 and VS2022 w/ SQL Server data column

[2022-05-24 21:20] madison-passolano-ub opened #2128 "Change variable name from PredictedLabel"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable): 2022

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume
- Clear description of the problem: on the Consume your model page, look at line 12 o

[2022-05-25 15:33] CBrauer opened #2129 "Please add code to do cross validation."
I have three datasets: train, validate, and test.

Please consider adding the option to use all these datasets.
In paticular, do cross validation on the validate dataset.

[2022-05-25 17:48] zewditu opened #2130 "Retro Action items"
## April Retro actions
| Responsibl |Action item    | Status |Comment|
|----------|-------------|------|------|
| Zewditu| Tracking board for action items| Done |This issue is used as tracking board |
| Everyone| Hold retros for specific topics on things that go very well or very poorly|  |
| Luis/Jake/Becca | New Github board | Done |
|| Complete vision doc. Share a new cohesive vision externally

[2022-05-26 07:25] Alexfiringbird commented on #2118
we have the same issue with azure china cloud subscription .  Can you confirm whether the  modelbuilder support azure china or not ?

[2022-05-26 10:15] Camkonrad opened #2131 "m,"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2022-05-26 17:55] #2091 closed

[2022-05-27 00:34] luisquintanilla commented on #2128
Hi @madison-passolano-ub,

Which version of Model Builder are you using? If possible could you try to update to the latest version?

Here's some instructions on how to update the extension:

https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/install-model-builder?tabs=visual-studio-2022#upgrade-model-builder

That worked for me. Here's the version I'm using.

![image](https://user-im

[2022-05-27 00:48] luisquintanilla opened #2132 "Column headers not automatically detected for large datasets"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): v16.13.6.2226201
 - Visual Studio Version: Enterprise 2022 v17.2.1

This issue is related to #1217

https://github.com/dotnet/machinelearning-modelbuilder/issues/1217#issuecomment-1135890067

Report from @andrasfuchs

The not-so good is that the header detection see

[2022-05-27 00:50] luisquintanilla commented on #1217
Hi @andrasfuchs

Thank you for trying out the new release and great to hear loading times are better! Sorry you're still running into the column header issues.

I've opened an issue already to track the header issue so no need to create one. Thanks again for the feedback. You can track progress and provide additional feedback here: #2132

[2022-05-27 01:03] luisquintanilla commented on #2132
Issue #2125 might be related.

[2022-05-27 02:35] v-Hailishi commented on #2126
The bug has been fixed on the latest main branch 16.13.6.2227601.
![image](https://user-images.githubusercontent.com/99375895/170617403-aef27ffe-9595-454e-89e9-5a863d320ff7.png)

[2022-05-27 07:43] andrasfuchs commented on #1217
Thank you @luisquintanilla

[2022-05-27 15:12] zewditu commented on #2131
@Camkonrad could you tell us more  about your issue, it seems that it is just the template.

[2022-05-27 15:49] beccamc commented on #2132
@andrasfuchs I'm able to change the header setting in advanced data options. Does that work for you?

![image](https://user-images.githubusercontent.com/9122518/170734404-bea0a877-67a8-4803-b329-be77f6f25b78.png)

[2022-05-27 16:00] beccamc commented on #2132
I've also reached out to the partner team (PROSE) that we use to predict if the dataset has a header. They'll take a look at why this example isn't predicting correctly.

[2022-05-27 17:22] tauheedul opened #2133 "Suggestion: Update Model Builder to include support for NPU / TPU devices (USB or PCI-E) and non-CUDA GPUs"
Extend Model Builder support to include PCI-E or USB Machine Learning Accelerator processors e.g. NPU / TPU devices and non-CUDA Graphics cards

Laptops have limited processing power and not all developers are using CUDA powered Desktop workstations.
In some cases Developers may want to give their devices a boost using non-traditional processors.

Examples include
- PCI-E Accelerator based on Goog

[2022-05-27 19:55] beccamc commented on #2132
Response from partner team:

`I was able to repro the issue on our side.  We'll work to fix it as soon as possible and let you know when we have done so.`

[2022-05-31 22:12] #2124 closed

[2022-06-01 06:10] haoxin opened #2134 "Authentication failed when using Chinese Azure with modelbuilder"
suspect 'setup workspace' refers to azure global endpoints but not Chinese endpoints.

[2022-06-01 12:10] cannja opened #2135 "Can't even start the training"
I get this error immediately, not clear on how to resolve this...

It seemed to work fine yesterday, I created a brand new project with the same image data, but this time.. see below

2022-06-01 09:31:18.7575 INFO Set log file path to C:\Users\User\AppData\Local\Temp\MLVSTools\logs\ImageTest-R195Q6.txt (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-06-01 09:32:49.8111 INFO start nni training (

[2022-06-02 15:35] beccamc commented on #2125
Sorry you ran into this problem! It looks like we didn't correctly predict that this dataset has a column header. Can you manually change the setting in the advanced data options to "Yes"? When I did that it trained for me.

![image](https://user-images.githubusercontent.com/9122518/171666374-dec63f1e-462d-43fd-924a-fba015164287.png)

[2022-06-02 15:41] beccamc commented on #2131
Sorry @Camkonrad we need more information to solve this issue. Please file a new issue if you're still having problems. Thanks!

[2022-06-02 15:41] #2131 closed

[2022-06-02 15:56] beccamc commented on #2134
@haoxin Sorry you ran into this problem. Are you have the same problem as this issue - https://github.com/dotnet/machinelearning-modelbuilder/issues/2118?

[2022-06-02 16:57] nick1941 commented on #1952
Every time I open VS2022, I get the notification that there is an update to "ML.NET Model Builder 2022'.  However when I click the "More details" link, the "Manage Extensions" dialog box continuously shows "Retrieving information..." without ever switching to an installation.  Eventually, I close the attempted update to use VS2022.  But, the next time I start VS2022, the same thing happens again.

[2022-06-02 17:42] beccamc commented on #1952
What version of Model Builder are you on? You may need to manually update from the marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-06-02 17:52] zewditu opened #2136 "Throw exception with clear message on deploy dev 16 on vs2022 and Viseversa"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/36615490/171694986-467013e4-c0c6-49dc-bcf1-d69e8edff920.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3.

[2022-06-02 18:12] nick1941 commented on #1952
Thanks!  Got it working now!

From: Becca McHenry ***@***.***>
Sent: Thursday, June 2, 2022 12:43
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Nicholas Piazza ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Version repetitive ML.Net Model Builder 2022 updates of the same version (Issue #1952)

What version of Model Builder are you on? You may need

[2022-06-03 15:23] CBrauer commented on #2129
Hi Becca,

Thanks for the notebook reference.

I have a question and I cannot find an answer. I’m interested in using Platt probability calculations.

I am wondering if it is possible to tell AutoML to calculate the Platt probabilities.

Any suggestions, or references, will be greatly appreciated.

Charles

From: Becca McHenry ***@***.***>
Sent: Thursday, June 2, 2022 8:40 AM
To: dotnet/machinelea

[2022-06-03 21:30] LittleLittleCloud opened #2137 "Not Implement Error when adding console app"
- Model Builder Version
 -  26f79b14df1935a971b00847f010311ba7d76528
 - Visual Studio Version
<img width="649" alt="image" src="https://user-images.githubusercontent.com/16876986/171955534-229b1ec4-91a7-4ab3-8e4a-e9eed905d923.png">

Can be reproduced when adding console app
Looks like this not implement error comes back again, @zewditu can you take a look

[code]

[2022-06-04 15:04] lgong-rms opened #2138 "Model Builder Error: Package restore failed"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

Microsoft Visual Studio Enterprise 2022 (64-bit) - Current
Version 17.2.1

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): Train your model
- Clear description of the problem: Package restore failed. Rolling back packa

[2022-06-04 16:40] lgong-rms commented on #2138
Package Manager shows:

Restored E:\Users\lgong\Git\as-aiml-analytics-sagemaker\ConstructionMapping\ConstructionMapping.csproj (in 81 ms).
Time Elapsed: 00:00:00.2248117
========== Finished ==========

[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json.
  An error occurred while sending the request.
  The underlying connection was closed: An unexpected erro

[2022-06-04 17:24] superichmann opened #2139 "ML Model builder will not start training"
**System Information (please complete the following information):**
 - Model Builder Version : 16.13.6.2226201
 - Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.1.4

- On which step of the process did you run into an issue: Run training
- Clear description of the problem: training will stop after a second and will show exception

**To Reproduce**
Steps to reproduce the behavi

[2022-06-06 20:08] beccamc commented on #1091
@luisquintanilla to kick off partner team conversation for this.

[2022-06-06 20:21] beccamc commented on #1935
I'm leaning more towards creating a sample notebook with this information. Then users have the code to do anything and we don't need to support as much UI in Model Builder.

[2022-06-06 20:34] luisquintanilla commented on #1930
@JakeRadMSFT to try Fully qualified namespace registration before reaching out to partners.

[2022-06-06 20:35] luisquintanilla commented on #1678
@JakeRadMSFT to look into it. It might only be an issue with private feed.

[2022-06-06 20:41] luisquintanilla commented on #1865
Blocked by not being able to pass list of datasets to job. @zewditu to follow up.

[2022-06-06 20:43] luisquintanilla commented on #1935
@beccamc let's start with a notebook and reevaluate based on feedback. Issue to remain open to track Notebook work.

[2022-06-06 20:44] luisquintanilla commented on #2046
@JakeRadMSFT to take a look and get into May release.

[2022-06-06 20:44] luisquintanilla commented on #2015
Pushing to June release.

[2022-06-06 20:46] luisquintanilla commented on #2123
This is WIP and PR is under review

cc @zewditu

[2022-06-06 20:47] luisquintanilla commented on #2116
Related to #2123

[2022-06-06 20:47] luisquintanilla commented on #2117
In progress. Related to #2123

[2022-06-06 21:12] beccamc commented on #1744
DataFrame problem blocked on https://github.com/dotnet/machinelearning/issues/6213

[2022-06-07 02:33] haoxin commented on #2134
Yes.

[2022-06-07 16:44] beccamc commented on #2134
@haoxin What region are you in? According to [docs]( https://docs.microsoft.com/en-us/azure/machine-learning/reference-machine-learning-cloud-parity#azure-china-21vianet) looks like CH-East-2 is supported and CH-North-3 is not supported. Are you using CH-East-2?

[2022-06-08 09:58] JTRlaze opened #2140 "Azure compute quota filled"
The specified subscription has a Standard NC family vCPU quota of 0 and cannot accomodate for at least 1 requested managed compute nodes which maps to 12 vCPUs. Talk to your Subscription Admin or refer to https://docs.microsoft.com/azure/machine-learning/how-to-manage-quotas#request-quota-increases to increase the family quota

[2022-06-08 10:06] JTRlaze opened #2141 "遠端伺服器傳回一個錯誤: (401) 未經授權。"
於 AzureML.FailureCounter.<RecordFailureWithRetryWarningAsync>d__6.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/FailureCounter.cs: 行 48
--- 先前擲回例外狀況之位置中的堆疊追蹤結尾 ---
   於 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   於 AzureML.AutoMLRunMonitoringImages.<MonitorParentRunAsync>d__1.MoveNext() 於 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/A

[2022-06-08 11:00] arafattehsin opened #2148 "Sample Project generated by CLI does not launch in Visual Studio 2022"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version:  ML.NET CLI version 16.3.6
 - .NET Version: 6.0

**Describe the bug**
When I try to create a sample project using ML.NET CLI, I get an error message in launching the library / application.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a classification model using ML.NET

[2022-06-08 18:18] beccamc commented on #1678
Confirmed that this is related to private gallery. Closing as fixed.

[2022-06-08 18:18] #1678 closed

[2022-06-08 18:21] beccamc commented on #2046
Action plan: Regenerate file on training instead of file selection. If this fails add a refresh button.

[2022-06-08 20:00] caiocodo commented on #1091
I'm not allowed to use Azure, please add support for local object detection training. It would be a great feature.

[2022-06-08 20:12] beccamc commented on #2022
Just checked this with the addition of DateTime type and it looks like it's blocked by the DataFrame bug - https://github.com/dotnet/machinelearning/issues/6213

[2022-06-08 20:34] beccamc commented on #2048
Fixed via this PR - https://github.com/dotnet/machinelearning-tools/pull/1414

[2022-06-08 20:34] #2048 closed

[2022-06-08 20:58] beccamc commented on #2034
Thanks for this detailed report! We've just created some Notebooks that walk you through machine learning with a code first approach. There are also end to end examples that you can modify. We are continuing to improve Model Builder, but these may be helpful for getting started!

Repo: https://github.com/dotnet/csharp-notebooks#machine-learning

[2022-06-08 21:27] beccamc commented on #2002
FYI, if you install the [Notebook extension](https://marketplace.visualstudio.com/items?itemName=MLNET.notebook) and generate the code notebook we give you a similar snippet

![Image](https://user-images.githubusercontent.com/9122518/172720274-27d7f3a1-9d8a-4295-9ca5-30ec7f484cd8.png)

@luisquintanilla I think we removed this from the code behind files. Thoughts on adding it back?

[2022-06-08 21:33] beccamc commented on #1437
Hi! Thanks for reporting this problem and testing out our Azure solution. I'm closing this issue. If you still have this problem (or any new problems) feel free to open another issue! Thanks again!

[2022-06-08 21:33] #1437 closed

[2022-06-08 21:34] #1632 closed

[2022-06-08 21:38] beccamc commented on #2002
@luisquintanilla I'm seeing asks for the data ingestion from a few other customers https://github.com/dotnet/machinelearning-modelbuilder/issues/1917#issuecomment-973666301

[2022-06-08 21:41] beccamc commented on #1744
Related https://github.com/dotnet/machinelearning-modelbuilder/issues/2084

[2022-06-08 21:44] beccamc commented on #2086
For the Model Builder issue, try updating to the [latest version](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022). We were able to train with your data.

For the code examples, we just put together some [example notebooks](https://github.com/dotnet/csharp-notebooks#machine-learning) that show how to use code to train. There are also end to end examples of different scen

[2022-06-08 21:45] beccamc commented on #2087
@Elantonio Do you still see this on [16.13.6](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)? We weren't able to reproduce.

[2022-06-08 21:48] beccamc commented on #694
@LittleLittleCloud Is this fixed?

[2022-06-08 21:51] GHoltmann commented on #1437
Hi Becca, I really was unable to test further but our company is very interested in testing and implementing machine learning for video recognition. Thank a lot for your help! 
    El miércoles, 8 de junio de 2022 18:33:50 ART, Becca McHenry ***@***.***> escribió:

Hi! Thanks for reporting this problem and testing out our Azure solution. I'm closing this issue. If you still have this problem (or a

[2022-06-08 21:57] beccamc opened #2142 "Show Notebook option when the extension isn't installed"
Notebook option is hidden for users who don't have the extension installed.

- If extension isn't installed: show link to install it
- If it is installed keep the current behavior.

[2022-06-08 22:42] luisquintanilla opened #2143 "Update training.cs code-behind"
1. Add XML documentation to `RetrainPipeline` method:

[code]

2. Change MLContext param name in `RetraionPipeline` to `mlContext` like the `BuildPipeline` model.

![image](https://user-images.githubusercontent.com/46974588/172729258-e7f36e80-c77f-430c-955e-e3ddd3773176.png)

[2022-06-08 22:44] beccamc commented on #2143
@zewditu Would you be able to do this for the May release?

[2022-06-08 22:55] luisquintanilla commented on #2002
Thanks @torronen for the suggestion and @beccamc for looking into it.

For the most flexibility and reusability, I think a `LoadDataFromEnumerable` method would make sense. By doing so, we wouldn't have to add the `LoadColumn` attributes to the `ModelInput` class. In the event the column order changes, you're not locked into the original ordering. Also, LoadFromEnumerable is more source agnostic.

[2022-06-09 07:45] famschopman commented on #694
I am not sure if I still have the code laying around to help you with a repro, but if needed just ping me and I will try to find. I will be picking up ML.Net soon again. First have to finish some other software first ... 😘

[2022-06-09 14:42] Elantonio commented on #2087
I’m on 1.7.1 now and that seems to work.

Thanks for your help.
Great Work!

Best Regards,
Elantonio.

From: Becca McHenry ***@***.***
Sent: Wednesday, June 8, 2022 11:46 PM
To: dotnet/machinelearning-modelbuilder
Cc: ElAntonio; Mention
Subject: Re: [dotnet/machinelearning-modelbuilder] Predict results based upon wrong DataFile (Issue #2087)

@Elantonio <https://github.com/Elantonio>  Do you still

[2022-06-09 16:24] #2087 closed

[2022-06-09 20:17] #1912 closed

[2022-06-09 20:19] beccamc commented on #1482
No one has complained about this, and there hasn't been activity for a year. Closing.

[2022-06-09 20:19] #1482 closed

[2022-06-09 20:20] #1371 closed

[2022-06-09 20:22] #656 closed

[2022-06-09 21:16] beccamc opened #2144 "Data Preparation"
- [ ] https://github.com/dotnet/machinelearning-modelbuilder/issues/60
- [ ] Auto Featurizer
- [ ] SQL Code Gen
- [ ] SQL Notebook https://github.com/dotnet/machinelearning-modelbuilder/issues/1935
- [ ] https://github.com/dotnet/machinelearning-modelbuilder/issues/1431

-----------
- [ ] https://github.com/dotnet/machinelearning/issues/6128 & https://github.com/dotnet/machinelearning/issues/6133

[2022-06-09 21:28] beccamc opened #2145 "[Epic] Cross Project Notebook"
- [ ] Other Kernel Support
o	F# - Native F# support in VS Notebook Editor extension
o	Powershell
o	SQL
- [x] https://github.com/dotnet/machinelearning-modelbuilder/issues/2142
- [ ] Update all graphs to use Plotly.NET
- [x] For large code cells horizontal scroll bar not visible to see top elements (https://github.com/microsoft/VS-Notebook/issues/262)
- [ ] Add diagnostic info
- [ ] Mouse Scrolling

[2022-06-09 22:15] beccamc commented on #1707
This release is out. Closing.

[2022-06-09 22:15] #1707 closed

[2022-06-09 22:16] beccamc opened #2146 "Azure Integration"
Azure Integration/MLOps
- [ ] Notebook using the SDK
---
- [ ] Model Builder using SDK
- [ ] Model Builder DataSet work https://github.com/dotnet/machinelearning-modelbuilder/issues/1865
- [ ] Add Azure as an environment option for all scenarios. XL
- [ ] Create Docker ML.NET Azure custom curated environment file S

[2022-06-10 05:28] haoxin commented on #2134
Yes, we used CH-east-2

[2022-06-10 05:28] haoxin commented on #2134
Yes, We used CH-east-2

[2022-06-10 08:14] v-Hailishi opened #2147 "The result.csv file is empty when running MLNET.CLI Test Pass on the latest mlnet.cli version: 16.13.7"
**System Information (please complete the following information):**
 - mlnet.cli Version: 16.13.7

**Describe the bug**
- On which step of the process did you run into an issue: when running MLNET.CLI Test Pass on the latest mlnet.cli version: 16.13.7
- Clear description of the problem: The result.csv file is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Find out the latest mlnet.cl

[2022-06-10 18:46] beccamc commented on #2134
@v-Hailishi Can you try to repro this with a CH-east-2 region?

[2022-06-12 09:04] Idaogah opened #2149 "Unable the start program"
**System Information (please complete the following information):**

Hello,

It's  my first time to use ML.NET.
I ran into debugging issues while trying run my sample sentiment classification model.
I was the final stage where I have to consume myMLApp.
Please, see the screenshot.

<img width="325" alt="t2" src="https://user-images.githubusercontent.com/77480065/173225526-58d2d7c0-64e8-4cdb-99c1-1

[2022-06-13 02:28] zewditu commented on #1771
@vzhuqin looks fixed in our latest main

[2022-06-13 05:27] zewditu commented on #2127
@LittleLittleCloud ​   the root Couse of this issue seems  "CSharpUsingStatements" in Automl to generate the right using statement for the estimator.

[2022-06-13 06:07] v-Hailishi commented on #2134
@beccamc The "ML.NET Model Builder Demo" subscription cannot support the CH-east-2 region.
Could you help to provide a special subscription which can support the CH-east-2 region?
<img width="622" alt="image" src="https://user-images.githubusercontent.com/99375895/173289303-538036b1-c480-4d22-bbd6-b711a8dc02d7.png">

[2022-06-13 17:36] beccamc commented on #2140
@JTRlaze Looks like the compute type you're trying to create doesn't have quota on your subscription. You can try to create a compute of a different type, or talk to your admin about increasing that compute.

Let me know if you want more information about this!

[2022-06-13 17:38] beccamc commented on #2149
@Idaogah Sorry you ran into this problem. What was the build error?

[2022-06-13 20:01] joshuar49 opened #2150 "ML.NET Tutorial Issue"
Versions:

Microsoft Visual Studio Community 2022
Version 17.2.3
VisualStudio.17.Release/17.2.3+32526.322
Microsoft .NET Framework
Version 4.8.04084
Installed Version: Community
ASP.NET and Web Tools 2019   17.2.392.13739
ASP.NET and Web Tools 2019
Azure App Service Tools v3.0.0   17.2.392.13739
Azure App Service Tools v3.0.0
C# Tools   4.2.0-4.22252.24+47cdc16a21bbb8a4aadfb666b011e2059e1be5d2
C#

[2022-06-13 20:10] beccamc commented on #2112
None of the column settings are applicable to Forecasting (@LittleLittleCloud to confirm). We should hide the Column Settings tab.

[2022-06-13 20:13] beccamc commented on #2148
@v-Hailishi Can you try to reproduce this?

[2022-06-13 20:20] beccamc commented on #1531
@LittleLittleCloud Is the issue Simon is experiencing the same root cause?

[2022-06-13 20:30] luisquintanilla commented on #1531
@LittleLittleCloud with the FLAML implementation of AutoML is this still an issue? @torronen @sjh37 would a code sample using the AutoML API help with some of these issues?

[2022-06-13 20:32] beccamc commented on #2034
Thanks again for the feedback here. We've fixed a few of the VS responsiveness issues. Additionally, you might be interested in the code samples in our Notebooks - https://github.com/dotnet/csharp-notebooks#machine-learning.  Let us know if you have any other thoughts.

[2022-06-13 20:32] #2034 closed

[2022-06-13 20:58] luisquintanilla commented on #1026
Hi @chunky & @johnwc

Reinforcement learning is currently not part of our roadmap mainly because it's not natively supported in the framework. However, as we hear more from the community we can take a look at this at a later time. In the meantime, there is a project that shows how to use RL models with ML.NET that you might be interested in:

https://github.com/JimFFM/ml-hackathon-2021/tree/main/G

[2022-06-13 22:38] zewditu opened #2151 "An elemnet Isoffscreen in data Page"
![image](https://user-images.githubusercontent.com/36615490/173459126-aaefb979-22cb-4b84-9fa7-ca7d8c20850d.png)

[2022-06-13 22:40] zewditu opened #2152 "Isooff screen on Train page"
![image](https://user-images.githubusercontent.com/36615490/173459222-3a674432-ae67-416d-af56-cf3e67a99520.png)

[2022-06-13 22:40] beccamc opened #2153 "CUT LINE"

[2022-06-13 22:49] zewditu opened #2154 "IsOffScreen in evaluate page"
![image](https://user-images.githubusercontent.com/36615490/173460134-f22f121f-8e2e-4c2f-956d-36aa7b436493.png)

[2022-06-13 22:54] zewditu opened #2155 "Environment (GPU) accessibility issues"
![image](https://user-images.githubusercontent.com/36615490/173460626-fb629cbd-fde6-4149-b913-b34e3ca84053.png)

[2022-06-13 23:03] zewditu opened #2156 "Model builder error window Acessibility"
![image](https://user-images.githubusercontent.com/36615490/173461573-cc5d7454-cdfc-4079-bbec-baa8cc46e6d7.png)

[2022-06-13 23:09] zewditu opened #2157 "Text consume page acessbility issue"
![image](https://user-images.githubusercontent.com/36615490/173462024-fff2d180-51cd-4b7e-a9e7-61577e32ef2c.png)

[2022-06-13 23:15] zewditu opened #2158 "Forecasting data page acessiblity issue"
![image](https://user-images.githubusercontent.com/36615490/173464936-3a3f610c-1882-44e4-8282-886b8c62dcaa.png)

[2022-06-13 23:47] zewditu opened #2159 "Forecasting evaluate page accessiblity issue"
![image](https://user-images.githubusercontent.com/36615490/173465504-6257ea65-78cb-4e53-b0cf-a5b1488009b3.png)

[2022-06-14 04:45] v-Hailishi opened #2160 "Although I have installed Notebook Editor in advance, I still need to install it on the Consume page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.8.2231401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.2.2)
Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Generated Notebook on the Consume page.

**To Reproduce**
Steps to reproduce the behavior:
**Pre-Re

[2022-06-14 07:40] johnwc commented on #1026
Should we open a request for RL in the framework's repo?

[2022-06-14 08:37] v-Hailishi commented on #2148
@beccamc The bug is not repro on the latest MLNET CLI version **16.13.8**.

The following are my repro steps:
1. Install install MLNET CLI by run command:
    **dotnet tool install -g mlnet-win-x64 --add-source https://mlnetcli.blob.core.windows.net/mlnetcli/index.json**
    <img width="422" alt="image" src="https://user-images.githubusercontent.com/99375895/173529208-1b65ca5c-2032-4536-9c0b-34313

[2022-06-14 09:12] v-Hailishi commented on #2147
@LittleLittleCloud  The bug has been fixed on the latest mlnet.cli version: 16.13.8.
PR: https://github.com/LittleLittleCloud/MLNet-Benchmark/pull/25

[2022-06-14 12:40] malterman opened #2161 "confusion matrix"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-14 12:41] #2161 closed

[2022-06-14 14:16] beccamc commented on #2160
@v-Hailishi Does this only happen when you're using the private feed?

[2022-06-14 14:30] beccamc commented on #2160
Never mind! I found the problem

[2022-06-14 21:10] beccamc commented on #2156
![image](https://user-images.githubusercontent.com/9122518/173689491-8421c32f-e8f1-48d5-b06e-3b4adb33beb4.png)

[2022-06-14 22:00] beccamc commented on #2158
![image](https://user-images.githubusercontent.com/9122518/173696552-99d7fca7-37f2-4d91-8d56-2b9324ab0f53.png)

[2022-06-14 22:25] JakeRadMSFT commented on #2151
No-Repro/Flakey.

[2022-06-14 22:25] #2151 closed

[2022-06-14 22:26] JakeRadMSFT commented on #2152
No-Repro/Flakey.

[2022-06-14 22:26] #2152 closed

[2022-06-14 22:26] JakeRadMSFT commented on #2154
No-Repro/Flakey.

[2022-06-14 22:26] #2154 closed

[2022-06-14 22:30] beccamc commented on #2159
![image](https://user-images.githubusercontent.com/9122518/173700003-82aabad8-9d49-4d23-8bf2-1ec576e7a927.png)

[2022-06-14 22:42] arafattehsin commented on #2148
Hey team. The latest version does not have this issue so I am happy to close it. I think dotnet CLI is still installing the older version which is 16.13.6

[2022-06-14 22:47] beccamc commented on #2155
![image](https://user-images.githubusercontent.com/9122518/173701828-1568141a-992f-4a58-907f-acb1a3dabb2b.png)

[2022-06-15 01:09] flowerdna opened #2162 "not run"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-06-15 07:42] TheAwerx opened #2163 "Low Accuracy in Image Classification Problem"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.6.2226201
 - Visual Studio Version: Microsoft Visual Studio Community 2022 (64-bit) - Current
Version 17.2.3

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: I have tried different dat

[2022-06-15 08:40] v-Hailishi opened #2164 "Error CS0103"The name 'context' does not exist in the current context" occurs when running generated Console App project and Web API project"
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.8.2231501 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.2.2)
Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Running the generated Console App project and Web API project for any scenario.

**To Reproduce**
S

[2022-06-15 09:03] torronen commented on #1531
@luisquintanilla  for me, I actually only encountered this in ModelBuilder, but never in Microsoft.ML. Now if Microsoft.ML.AutoML if comparative to ModelBuilder then it is a good solution. Particularily being able to set the search space to limit consumption of RAM. For sjh37 it was probably not about RAM. If nothing else, I suppose debugging in AutoML API is probably easier than trying to find wh

[2022-06-15 09:30] sjh37 commented on #1531
@luisquintanilla That would be handy thanks as I would get to use the resources on my laptop instead of having to do this in a VM in Azure.

For clarity, I get the RPC error after browsing for and selecting a CSV file.
![image](https://user-images.githubusercontent.com/4190514/173794565-84c4dfe4-d5fd-460a-99e3-cdee84b4e789.png)

[2022-06-15 15:37] beccamc commented on #2105
Moving to next release. Need to figure out code for logging project type.

[2022-06-15 18:12] #1639 closed

[2022-06-15 18:24] #1635 closed

[2022-06-15 18:25] #1378 closed

[2022-06-15 18:27] #1048 closed

[2022-06-15 18:28] #1071 closed

[2022-06-15 18:28] #1053 closed

[2022-06-15 18:32] #811 closed

[2022-06-15 18:32] JakeRadMSFT commented on #1097
https://github.com/dotnet/machinelearning-modelbuilder/issues/724

[2022-06-15 18:39] JakeRadMSFT commented on #2146
https://github.com/dotnet/machinelearning-modelbuilder/issues/1520

[2022-06-15 18:41] JakeRadMSFT commented on #1640
Maybe resolve with:

- https://github.com/dotnet/machinelearning-modelbuilder/issues/1591

[2022-06-15 19:34] beccamc commented on #2160
@JakeRadMSFT What do you think we should do for VS 2019? Not show the Notebook extension at all? Change then link to say something about VS 2022?

[2022-06-15 19:40] LittleLittleCloud commented on #2162
Please fill the template so we can help

[2022-06-15 19:41] LittleLittleCloud commented on #2164
@zewditu

[2022-06-15 21:10] spramanik96 opened #2165 "Error in Running ML.NET Model(https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/intro)"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable): VS 2022 Community

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): last Page
- Clear description of the problem: Following Error Message when myMLApp is run

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.

[2022-06-15 22:33] beccamc opened #2166 "DateTime type doesn't work with Forecasting scenario"
**System Information (please complete the following information):**
 - Model Builder Version: 16.13.9

**Describe the bug**
Cannot use DateTime with forecasting. I set the Time Series column as a date and it doesn't work.

![image](https://user-images.githubusercontent.com/9122518/173943757-3e263a5d-6bac-4a19-b8ad-33e359efe920.png)

Error on train:

![image](https://user-images.githubusercontent.c

[2022-06-15 22:46] LittleLittleCloud opened #2167 "Datetime doesn't create correctly in code snippet"
<img width="439" alt="image" src="https://user-images.githubusercontent.com/16876986/173954674-7a271c8b-8722-4956-a54d-fbd9a057b8b9.png">

[2022-06-15 22:46] luisquintanilla commented on #2166
+1 although the format was different for me. We're going to want to be able to support / parse various DateTime formats.

![image](https://user-images.githubusercontent.com/46974588/173954671-e8d62130-89c4-470d-b875-baf10f193b51.png)

[product-sales.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/8913952/product-sales.csv)

[2022-06-15 22:50] LittleLittleCloud commented on #2167
@beccamc
If code snippet doesn't work, it's likely console app also doesn't work, we might want to fix this before release

[2022-06-15 23:00] luisquintanilla commented on #1930
Still running into this issue with the latest version from the private feed.

Hypothesis: The source you install from is the issue. If you install from the private feed it's an issue but if you install from the marketplace it's not.

[2022-06-16 09:14] Tradyn commented on #2006
Can someone provide a fix for this?

[2022-06-16 09:31] JTRlaze commented on #2141
East US 2

[2022-06-16 09:32] JTRlaze commented on #2140
How to  admin about increasing that compute?

[2022-06-16 12:23] TheAwerx commented on #2163
@LittleLittleCloud 150 classes and about 500 images for each class. Image's sizes are 299x299
![report2](https://user-images.githubusercontent.com/48297653/174068633-c0f4f692-fecc-461c-80c4-c250e33a4a00.PNG)
![report1](https://user-images.githubusercontent.com/48297653/174068647-e61a7592-fdab-40de-a0d4-35cc17cc8c37.PNG)

[2022-06-16 15:03] Unicodist opened #2168 "ModelBuilder won't process training set with unknown error"
**Model Builder Version**: _16.7.4.2151101_
**Visual Studion Version**: _2022_

**Bug description**
_ModelBuilder Error_

**Steps to Reproduce**
1. _Add new Machine Learning Model_
2. _Choose Classification_
3. _Use training dataset attached with this issue (Label : Label)_
[Test.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/8920016/Test.csv)

4. _Start Training_

**Expected Ex

[2022-06-16 15:15] beccamc commented on #2139
Sorry you ran into this problem! I think the issue is with the DateTime column. We are shipping fix for that this week. Let me update you when it's out and you can try again?

[2022-06-16 15:23] Unicodist commented on #2168
The file I provided seems to be too big to be trained within a minute. I changed training time to 120 seconds and now it works.

[2022-06-16 15:23] #2168 closed

[2022-06-16 16:23] luisquintanilla commented on #2167
@LittleLittleCloud good find. @beccamc I'm okay to ship this release without this fix as long as we make the changes in the next release.

[2022-06-16 18:28] beccamc opened #2169 "May Release"
Commit: https://github.com/dotnet/machinelearning-tools/commit/03b3e51129ec46fb44a0bb9f61633404acdb247f
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.13.9.md

**2022** Version number: 16.13.9.2231505
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6290055
**2019** Version number: 16.13.9.2231506
**2019** Build: h

[2022-06-16 19:32] beccamc commented on #2117
I validated this in the bug bash

[2022-06-16 19:32] #2117 closed

[2022-06-16 19:34] #2169 closed

[2022-06-16 19:36] beccamc commented on #2159
Validated by Zewditu

[2022-06-16 19:36] #2159 closed

[2022-06-16 19:36] beccamc commented on #2158
Validated by Zewditu

[2022-06-16 19:36] #2158 closed

[2022-06-16 19:37] beccamc commented on #2157
Validated by Zewditu

[2022-06-16 19:37] #2157 closed

[2022-06-16 19:37] beccamc commented on #2156
Validated by Zewditu

[2022-06-16 19:37] #2156 closed

[2022-06-16 19:37] beccamc commented on #2155
Validated by Zewditu

[2022-06-16 19:37] #2155 closed

[2022-06-16 20:33] beccamc commented on #2165
Sorry you ran into this problem! I think you're on an older version of Model Builder that uses "Prediction" instead of "PredicatedLabel". You can update from the [Marketplace](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022).

This is a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2128.

[2022-06-16 20:50] beccamc commented on #1744
We just released an [update](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) with DateTime support. Give it a try and let me know if it works?

If it doesn't work, are you able to share a sample of your SQL data via mdf file?

[2022-06-16 20:51] beccamc commented on #2084
We just released an [update](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) with DateTime support. Give it a try and let me know if it works?

If it doesn't work, are you able to share a sample of your SQL data via mdf file?

[2022-06-16 21:01] beccamc commented on #1839
@v-Hailishi Can you try this with the data the customer originally included?

[2022-06-16 21:02] beccamc commented on #1857
@LittleLittleCloud Did we release that fix that allows for training with many images? That was in the last release?

[2022-06-16 21:05] #2009 closed

[2022-06-16 21:08] beccamc commented on #1917
We just released a VS Notebook Editor extension. If you have it installed we will generate a Notebook file, which gives a better step by step re-training flow. - https://marketplace.visualstudio.com/items?itemName=MLNET.notebook

Give it a try and let me know what you think!

[2022-06-16 21:09] beccamc commented on #2107
I suspect this is a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2128

[2022-06-16 21:09] #2107 closed

[2022-06-16 21:09] beccamc commented on #2120
Sorry we don't have enough information to investigate. Please fill out the template if you still need help. Thanks!

[2022-06-16 21:09] #2120 closed

[2022-06-16 21:10] beccamc commented on #2125
Please try this again with the "Has Header" value changed to Yes. If you're still having problems after that let me know!

[2022-06-16 21:10] #2125 closed

[2022-06-16 21:11] beccamc commented on #2135
Any update on the above information?

[2022-06-16 21:17] beccamc commented on #2086
This should be fixed on the latest version. Give it a try and please re-open if it doesn't work. Thanks!

[2022-06-16 21:17] #2086 closed

[2022-06-16 21:20] beccamc commented on #2140
I think these are the instructions to find the quotas and increase them - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/per-vm-quota-requests

[2022-06-16 21:21] beccamc commented on #2149
When you build the project in VS does it show anything in the "Erro List"?

[2022-06-16 21:22] beccamc commented on #2148
@luisquintanilla Can you look at the dotnet CLI installing the older version? Is that something you can look at?

[2022-06-16 21:31] luisquintanilla commented on #2148
Just did a fresh install from Windows using Docs and the right version installed. I think we can close this issue. However to avoid confusion we might want to deprecate or unlist the mlnet global tool in NuGet because it still shows up.

https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/install-ml-net-cli?tabs=windows

![image](https://user-images.githubusercontent.com/46974588/1741

[2022-06-17 01:33] v-Hailishi commented on #1839
@beccamc The data the customer originally provided only contains a json file, there is no any picture.
Hence I cannot see the error the customer got.
<img width="854" alt="image" src="https://user-images.githubusercontent.com/99375895/174201919-ab8bfc90-57f3-42d5-ac78-9226ae99396e.png">
<img width="500" alt="image" src="https://user-images.githubusercontent.com/99375895/174204188-bf11728e-7828-40c

[2022-06-17 07:10] Idaogah commented on #2149
No. Everything works perfectly including testing.

On Thu, Jun 16, 2022 at 11:22 PM Becca McHenry ***@***.***>
wrote:

[2022-06-17 09:37] v-Hailishi commented on #2127
The bug has been fixed on the latest main branch 16.13.9.2231506.

[2022-06-17 09:43] v-Hailishi commented on #2164
The bug has been fixed on the latest main branch 16.13.9.2231506.

[2022-06-17 14:17] beccamc commented on #1839
Sorry for the long delay here. @fredrick72 or @JackMutobu Are you still seeing this problem? If you are, can you zip a file with your data and upload it?

[2022-06-17 14:28] beccamc commented on #2141
I'm closing this as a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2118

[2022-06-17 14:28] #2141 closed

[2022-06-17 14:29] beccamc commented on #2118
Region for OP is East US 2

[2022-06-17 14:35] beccamc commented on #64
You can accomplish something similar to this with Notebooks! We have example notebooks on [Github](https://github.com/dotnet/csharp-notebooks#machine-learning), including a Notebook on basic visualizations.

From [latest Model Builder](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) you can generate a starting Notebook file that includes code to retrain your pipeline an

[2022-06-17 14:36] rummelsworth commented on #1972
I updated, but the problem remains. I'll try to make some time soon for the reinstall.

[2022-06-17 14:41] beccamc commented on #2142
This has been validated https://github.com/dotnet/machinelearning-modelbuilder/issues/2160

[2022-06-17 14:41] #2142 closed

[2022-06-17 15:52] #2126 closed

[2022-06-17 16:15] beccamc commented on #1972
Sorry you need to take such drastic steps. I've found that a complete clean fixes this problem - https://docs.microsoft.com/en-us/visualstudio/install/uninstall-visual-studio?view=vs-2019#remove-all-with-installcleanupexe

[2022-06-17 16:23] beccamc commented on #2138
Sorry for the delay here. @LittleLittleCloud Can you take a look at this?

[2022-06-17 17:26] LittleLittleCloud commented on #2138
@lgong-rms
Looks like it's something related to restoring from nuget feed.  It's not something caused by model builder but we can try to help you on this issue, to start can you share your `csproj` file

[2022-06-17 18:03] LittleLittleCloud commented on #2163
@TheAwerx Is the difference obvious among 150 classes? By __obvious __ I mean can easily being distinguished from human eyes. For example, in the following pictures, the first is adana kebap, the second is beyti kababi and their difference is not obvious.
![image](https://user-images.githubusercontent.com/16876986/174350185-ae1b6486-cac2-4a4e-88a6-65dc78da17c0.png)
![image](https://user-images.git

[2022-06-18 09:36] superichmann commented on #2139
Fixed :)

[2022-06-18 21:19] PauloFilho852 opened #2170 "Model Builder Cofiguration Page is Showing a Discrepant Value"
- Model Builder Version 16.13.9.2231505
 - Visual Studio Version 17.2.4

**Describe the bug**
-In model bulding cofiguration page,  on value prediction mode, when evaluating the model, there is showing a discrepant value, even with 95% of model's accuracy. Despite that, the model is running regularly on the application.
- Althoug the trained model is working regularly in the application, it has tw

[2022-06-20 06:30] TheAwerx commented on #2163
@LittleLittleCloud I am grateful for your advices. I will try to improve my dataset and try again later. Hopefully this time I can get better results.

[2022-06-20 09:20] khteh commented on #1917
Any tutorial for me to follow?

[2022-06-20 18:26] LittleLittleCloud commented on #2170
@PauloFilho852 thanks for reporting that issue, can you provide a minimal reproduction example for us, or small pieces of dataset, or training log? As the more information you provided, more helpful it will be for us to locate problems.

[2022-06-20 18:29] LittleLittleCloud commented on #2163
Cool, since this issue is related to training performance rather than bugs in model builder, I'm going to close this issue. Feel free to re-open it if you still have questions after improving dataset && retraining.

[2022-06-20 18:29] #2163 closed

[2022-06-20 18:32] LittleLittleCloud commented on #2162
close due to no response, feel free to reopen it if you have any questions

[2022-06-20 18:32] #2162 closed

[2022-06-20 18:34] LittleLittleCloud commented on #2122
@cuicaihao  should be fixed now.

[2022-06-21 13:40] Philippe-Laval opened #2171 "Problem parsing decimal values like 1.1 when training the model on french system"
I was following the documentation :
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/predict-prices-with-model-builder

When training the model, I got a problem with the CSV file containing decimal values for an-US like 1.1
Working with a french system, the value should be 1,1 to be parsed properly.
In the GUI, you should add a way to select the numerical settings in use.

   à S

[2022-06-21 16:37] beccamc commented on #1744
Confirmed through other customer issues that DateTime now works. Please let me know if you run into any problems in the future. Thanks!

[2022-06-21 16:37] #1744 closed

[2022-06-21 16:43] beccamc commented on #2116
@zewditu Can you just include a screenshot of the fix in the bug, then I think we can close.

[2022-06-21 16:53] zewditu commented on #2116
![Image](https://user-images.githubusercontent.com/36615490/174855423-60cc7b64-67b0-480c-9c2b-a6454e1bf68b.png)

[2022-06-21 16:53] #2116 closed

[2022-06-21 16:59] beccamc commented on #2143
![image](https://user-images.githubusercontent.com/9122518/174856569-3d503e38-dcb4-465c-964e-cff367986f89.png)

[2022-06-21 16:59] #2143 closed

[2022-06-21 17:00] #2164 closed

[2022-06-21 18:43] beccamc commented on #2171
Sorry you ran into this problem! We have a setting for this in the GUI.  Open the "Advanced data option" link on the Data tab and go to Data formatting. You can select the decimal separator style.

![image](https://user-images.githubusercontent.com/9122518/174874613-8a6fdc7d-2a8f-4ab4-9066-57085e5e00b1.png)

This should fix the error, but let us know if it doesn't. You can share you dataset and we

[2022-06-22 00:57] PauloFilho852 commented on #2170
@LittleLittleCloud
![imagem1](https://user-images.githubusercontent.com/56146300/174920764-7eeb2eb7-fa6c-4022-9c2f-e394b731e0c2.PNG)
![imagem2](https://user-images.githubusercontent.com/56146300/174920792-bc6c743d-2bee-49d7-8df3-132ddc4fe396.PNG)
![imagem3](https://user-images.githubusercontent.com/56146300/174920801-66876db3-6acf-410d-81d6-f47b5a7af583.PNG)

[2022-06-22 02:26] LittleLittleCloud commented on #2170
Have you tried re-run console app and re-try out in model builder consume page, and is the result deterministic?

And I noticed that in your laptop price predictor, ram type is capital (DDR), while in console app it's small letter (ddr). (and the GPU brand). Since either hash encoding or text featurizer is case sensitive, can you update them to match what it is in train dataset and try prediction

[2022-06-22 02:34] PauloFilho852 commented on #2170
I converted all the letters to lowercase. I tested it several times and there are always different outputs between the console app and my application. But the big problem is the outlier on the model review page.

[2022-06-22 08:09] Aselector opened #2172 "Machine Learning is not showing up in add to solution"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: ML.NET
 - Visual Studio Version (if applicable): 2022 Community

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): Installation of ML.NET completed successfully
- Clear description of the problem: On right click on solution, selecting add, Machine Learning should

[2022-06-22 10:16] Tradyn opened #2173 "Version string portion was too short or too long."
**System Information (please complete the following information):**
 - Model Builder Version : 16.13.9.2231505
 - Visual Studio Version 17.2.4

**Describe the bug**
- On which step of the process did you run into an issue: AutoML model builder forecasting
- Clear description of the problem: When training complete, this error is thrown

**To Reproduce**
Steps to reproduce the behavior:
Run Train on

[2022-06-22 17:22] zewditu commented on #2173
@LittleLittleCloud  Do you have context about this ?

[2022-06-22 18:39] LittleLittleCloud commented on #2170
Got it, I assume it's probably because of the digital separator causes the inference engine fail to parse it to the right numeric value. Would you mind sharing with us a subset of your dataset so we can make a minimal reproduce?

[2022-06-22 18:43] beccamc commented on #2099
If we implement the custom SQL query it would make sense to just hide the advanced data options columns.

[2022-06-22 18:45] beccamc commented on #2006
@LittleLittleCloud Is this fixed? Jake thinks it might be fixed.

[2022-06-22 18:48] luisquintanilla commented on #2006
IIRC, I tried with the latest release and it still wasn't fixed.

[2022-06-22 18:49] beccamc commented on #1747
Closing as duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2071

[2022-06-22 18:51] luisquintanilla commented on #1930
@beccamc

I think we're okay to close this issue. It only appears to happen with builds from the private gallery. After installing the latest release from the Marketplace, the images are there.

![image](https://user-images.githubusercontent.com/46974588/175114194-f61320a2-9091-4aba-a3f5-31791862b6fa.png)

[2022-06-22 18:53] beccamc commented on #2166
@LittleLittleCloud From this stack trace can you tell if this is AutoML or ML.NET?

[2022-06-22 19:59] beccamc commented on #1930
@luisquintanilla Jake told me today that he has a consistent repo without the private gallery.

[2022-06-23 02:39] PauloFilho852 commented on #2170
You are right. The decimal separator is causing the error. Should be the model buider configaration page prepared to multiculture scenarios?

[2022-06-23 07:56] Philippe-Laval commented on #2171
Hello,

Thanks for your reply.
I tried again with the advanced settings setup correctly for the data (which is displayed properly in the column settings). I got the same exception (it seems the settings are not taken into account) during training of the model.
Regards
Philippe

[2022-06-24 07:59] vpenades opened #2174 "Support custom data sources"
**Is your feature request related to a problem? Please describe.**
I want to use image classification, but I have images in heterogeneous locations, and some need some kind of custom pre-processing, so the current image data sources is very limiting

[code]

**Describe the solution you'd like**

Something like this:

[code]
[code]

**Describe alternatives you've considered**
not using AutoML and w

[2022-06-24 14:27] beccamc commented on #2171
@Philippe-Laval Can you share your dataset? Or a partial dataset?

[2022-06-25 11:32] cuicaihao commented on #2122
Hi @LittleLittleCloud, I just re-do the tutorial on my mac, it is still the same issue.
[code]

Here is the project snapshot:

![dotnet ML issue iShot_2022-06-25_21 26 27](https://user-images.githubusercontent.com/3784477/175771508-b2f6c467-a4cc-4803-9c72-f8c2c80cd157.jpg)

Reference: https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/intro

My OS:
- macOS 12.4 (Monterey) CPU

[2022-06-25 15:28] malterman commented on #2173
Same error occurred for me at the end of a 10-minute learning phase.

 at System.Version.VersionResult.SetFailure(ParseFailureKind failure, String argument)
   at System.Version.TryParseVersion(String version, VersionResult& result)
   at System.Version.Parse(String input)
   at System.Version..ctor(String version)
   at Microsoft.ML.ModelBuilder.Utils.Utilities.InstalledVersionNeedsUpdate(String

[2022-06-26 01:33] #2170 closed

[2022-06-26 01:39] PauloFilho852 commented on #2170
I suggest to adapt the Model Builder Configuration Page to multicultural when reading the data to perform the evaluation of the model.

[2022-06-27 17:15] heroic-defeat opened #2175 "When i am input the data into the ML module, i encounter a bug here but dont know how to solve it .. . .."
at Microsoft.ML.ModelBuilder.AutoMLService.Experiments.AutoMLExperiment`3.<ExecuteAsync>d__22.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Microsoft.ML.ModelBuilder.AutoMLEngine.<St

[2022-06-27 17:20] wsficke opened #2176 ""Column to predict (Label):" combobox has no options for SQL Server data source"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.9.2231505
 - Visual Studio Version: 17.2.5

**Describe the bug**
- On which step of the process did you run into an issue: Data > Input (Sql Server) > Column to predict
- Clear description of the problem:
The "Column to predict (Label):" combobox has no option

[2022-06-27 21:05] wsficke opened #2177 "Column names not properly escaped for SQL Server data source"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.9.2231505
 - Visual Studio Version: 17.2.5

**Describe the bug**
- On which step of the process did you run into an issue: "Train"
- Clear description of the problem: Column named "Group" results in SQL error "Incorrect syntax near the keyword 'Group'."

**To

[2022-06-28 12:53] aminm1364 opened #2178 "Predicted value is always Zero 0"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: ML.NET v16.13.9.2231505
 - .NET Version: .NET 6.0
 - Visual studio 2022 v17.2.5

**Describe the bug**
I am using the ```50 startups``` dataset (https://www.kaggle.com/datasets/farhanmd29/50-startups) and ```value prediction``` scenario.
after training the model (for about 1 minute), t

[2022-06-28 15:07] joshuar49 opened #2179 "Consume Issue: Printing the Result in the Console"
Model was trained and evaluated. Issue with consuming using the provided code snippet seen below:
![image](https://user-images.githubusercontent.com/107435186/176212904-13c2d18c-22d4-4ef0-8e6f-99c3b46e7bc0.png)
![image](https://user-images.githubusercontent.com/107435186/176213028-652ae8e6-1605-4b76-8610-62f983ee1825.png)

I made my own adjustments in hopes that I can print out the result in the c

[2022-06-28 15:14] aminm1364 commented on #2178
Hello @luisquintanilla,

and thanks for the reply.
I'm afraid those zeros are actually part of the Dataset and they're not missing data.
Moreover, as an AutoML, I expect that the library can handle these kinds of data cleaning as well, which I believe ML.Net does.

Best,
Amin

[2022-06-28 15:22] luisquintanilla commented on #2178
@LittleLittleCloud do you know how AutoML handles outliers?

[2022-06-28 17:32] joshuar49 commented on #2179
Nevermind, I didn't add a .Score at the end of result, which is apparently needed for predicting numerical values.

[2022-06-28 17:32] #2179 closed

[2022-06-28 22:32] victorarshon opened #2180 "ML.NET Tutorial - Get started in 10 minutes is not running"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (2022):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume
- Clear description of the problem: I have replaced the code in the Program.cs as it is recommended.

[2022-06-29 00:34] haoxin commented on #2134
Hello Haili,
    May I contact with you offline and provide you an Azure China ML workspace to do a test? thanks.

[2022-06-29 19:57] beccamc commented on #1957
@JohnMasen Sorry for the delay here. This is failing when trying to create a new ML Workspace in a China-East-2 resource group?  Or do you already have a ML Workspace in the China-East-2 region?

[2022-06-29 20:50] beccamc commented on #2175
Sorry you ran into this problem! Can you provide some more information...

- What scenario are you working on?
- What data are you using? Are you able to share a dataset sample?

[2022-06-29 20:54] beccamc commented on #2180
Sorry for the confusion here! This happens when you run the tutorial on an older version of Model Builder, which generates code referencing an older version of ML.NET.

In a newer version of ML.NET the property `Prediction `was renamed to `PredictedLabel`. There are a few options for resolving this.

- Change PredictedLabel to Prediction.
- Update ML.NET to 1.7.1
- Update Model Builder version to

[2022-06-30 01:15] sbuchok commented on #1953
@beccamc
I would like to say that I got the same error. I am unable to provide the dataset as at this time as it was a direct connection to a DB. However, when I exported the data I wanted to a CSV file, it was able to read the CSV file fine and do the training. I will try to see if I can somehow sanatize the data and get you a DB backup that causes the error.

I am using
ML.Net Model Builder 2022

[2022-06-30 02:57] v-Hailishi commented on #2134
@beccamc  I have reproduced this issue after using the account provided by haoxin.
The following are the repro steps:
1. Add the China Azure cloud: https://login.chinacloudapi.cn
![image](https://user-images.githubusercontent.com/99375895/176582290-8235e5b1-3bd4-489b-b5ba-e910047b5076.png)
2. On the "Set up workspace" dialog, select "Azure in China".
![image](https://user-images.githubusercontent.

[2022-06-30 12:51] manaswita-chougule opened #2181 "A11y_Model Builder_Add Data_Focus Order : Focus is shifting to the data source radio button directly at down and then with shift tab focus is moving to link at top."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG2.4.3; #FocusOrder; #Keyboard;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:
1. Instal

[2022-06-30 13:08] manaswita-chougule opened #2182 "A11y_Model Builder_Add Data_Input_Screen Reader: Narrator is not announcing the name of “column to predict” and “Time series column” combo box menu items."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev3; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG1.3.1; #Info And Relationship; #ED:Product:Narrator; #ED:Bug41132404; #External; #External:Narrator; #FirstParty:Bug41132404;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual S

[2022-06-30 13:38] manaswita-chougule opened #2183 "A11y_Model Builder_Add Data_Input_Non-Text Contrast: Focus has ratio 1.37 over the combo box menu items of “column to predict” and “Time series column”."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG1.4.11; #Non-textContrast;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:

1. Install V

[2022-06-30 14:06] manaswita-chougule opened #2184 "A11y_Model Builder_Add Data_Data Preview_Keyboard : Graph controls are not accessed with keyboard."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev1; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG2.1.1; #Keyboard;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:

1. Install Visual stu

[2022-06-30 14:08] beccamc commented on #1953
@sbuchok The dataset or even the schema would be helpful.

[2022-06-30 15:53] sbuchok commented on #1953
@beccamc I will try to have a DB backup with only the table in it and the data by end of day. I will also try to provide screenshots and an STR.

[2022-07-01 07:39] JohnMasen commented on #1957
I already have ML workspace

[2022-07-01 07:42] JohnMasen commented on #1957
one more thing to add, I found I do not have enough quota to create a compute cluster(GPU), is this a possible reason?

[2022-07-01 15:31] beccamc commented on #1957
It looks like we're trying to hit the global endpoint for authentication and we would need to hit the China specific endpoint.

@JohnMasen Thanks for the info. Unfortunately the compute cluster is a different problem. We need to re-write our auth to work for the Azure China. As of now the only work around is to use a workspace in a global subscription.

[2022-07-01 17:58] beccamc commented on #2177
Thank you for the detailed issue! This problem is on our backlog to fix. I'll bump up the priority given we have multiple reports.

I'm going to close this issue as duplicate. Please track progress in this issue - https://github.com/dotnet/machinelearning-modelbuilder/issues/1871

Thank you for reporting!

[2022-07-01 17:58] #2177 closed

[2022-07-02 16:05] JohnMasen commented on #1957
@beccamc
Thanks for your info. Hope we can have the good news soon.

[2022-07-03 13:32] Sire commented on #804
For me, this is an old bug relating to how different cultures parse decimal numbers, using comma instead of dot. Using an English culture on the thread is a workaround until this is resolved. I reported this years ago and I see it's still not fixed.

in F# use
[code]

[2022-07-03 15:55] PurdueSimon opened #2185 "visual studio 2022 and ML.NET extension doesn't work"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-07-03 15:56] PurdueSimon commented on #2180
might need to downgrade to VS2019 as i did to get things running...

[2022-07-03 17:07] manaswita-chougule opened #2186 "A11y_Model Builder_Train_Focus Order: After entering “Training setup summary” control to expand/collapse, focus is shifting to whole train window."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG2.4.3; #Focus Order;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:

1. Install Visual

[2022-07-03 17:20] manaswita-chougule opened #2187 "A11y_Model Builder_Add Data_Input_Name Role Value : Name is defined incorrectly for "Time Series Column" tooltip."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG4.1.2; #Name, Role, Value;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:

1. Install V

[2022-07-05 12:04] manaswita-chougule opened #2188 "A11y_Model Builder_Add Data_Data Preview_Keyboard : Data Table is not accessed with tab, or any table shortcut keys."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev1; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG2.1.1; #Keyboard;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:

1. Install Visual stu

[2022-07-05 12:04] manaswita-chougule opened #2189 "A11y_Model Builder_Evaluate_Try Your Model_Use Of Color : When the "Horizon" field is not set, an error is shown with the help of color(red) only."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG1.4.1; #Use Of Color;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.0 Preview 2.0

### Repro Steps:

1. Install Visual

[2022-07-05 12:10] Elantonio opened #2190 "Package restore failed. Rolling back package changes vs 1.71"
**Model Builder Version**: 1.71
Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.2.5

**Bug description**
After Start Training -> Finalizing Model:
_**Package restore failed. Rolling back package changes for 'PricePredictor'.**_

**Steps to Reproduce**
load trainfile -> Train_

**Expected Experience**
just finish without errors

**Actual Experience**
![image](https://user-image

[2022-07-05 17:38] luisquintanilla commented on #2185
Hi @PurdueSimon

Sorry to hear you ran into isssues. Could you please provide more details on what isn't working when trying out the Getting Started tutorial?

[2022-07-08 21:27] luisquintanilla opened #2191 "Advanced Training Options - Optimization Metrics / Exclude algorithms"
In the Model Buidler training tab, provide a dialog for "Advanced Training Options", similar to the existing "Advaced Data Options" in the data tab. In this dialog, a user should be able to:

- Select which metric they want to optimize for related to the scenario they've chosen (i.e. Value Prediction = R-Squared, Data classification = Micro-accuracy)
- Choose which algorithms to exclude from train

[2022-07-08 21:30] luisquintanilla commented on #60
@zewditu to look into it this month.

[2022-07-08 21:42] luisquintanilla opened #2192 "[DataFrame] IDataView <-> DataFrame Interop"
Interop between the IDataView and DataFrame is currently possible except when working with the following types:

- VectorDataViewType
- DateTimeDataViewType
- KeyDataViewType (UInt)

This causes calls to `.ToDataFrame()` to throw an error.

Add support for the data types listed above to enable deeper interop between DataFrame and IDataView.

[2022-07-08 21:49] luisquintanilla opened #2193 "[Forecasting] Investigate auto-regressive algorithms"
Investigate auto-regressive algorithms:

- ARIMA
- SARIMA

To see what it would take to bring them to ML.NET

[2022-07-09 14:28] johnrickabe opened #2194 "JSON input data source type"
It's not really burden to convert JSON to CSV but having this feature would be great. :)

[2022-07-11 18:11] andrasfuchs opened #2195 "Model Builder can't handle large CSV files"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.9.2231505
 - Visual Studio Version: 17.2.5 Enterprise

**Describe the bug**
- On which step of the process did you run into an issue:
Right after I tried to load my large CSV file as data source.
- Clear description of the problem:
I usually work with large CS

[2022-07-11 19:20] JakeRadMSFT commented on #2194
@johnrickabe thanks for reaching out!

Is it one or many JSON files? Is it an array of objects that are all the same shape?

[2022-07-13 11:47] v-Hailishi opened #2196 "Model builder error occurs when setting up workspace on the Environment page for Azure supported scenarios."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019: (16.13.9.2236101)
**URL: https://privategallery.blob.core.windows.net/gallery/refs/heads/u/zewd/GetAzureResources/atom.xml**
Microsoft Visual Studio Enterprise: 2019(16.11.16)
Net: 5.0

**Describe the bug**
- On which step of the process did you run into an issue:
S

[2022-07-13 18:14] beccamc commented on #2185
Sorry, we don't have enough information to investigate this issue. Please add more information or open a new issue with details. Thanks!

[2022-07-13 18:15] beccamc commented on #2180
If anyone else runs into this, please update Model Builder to the latest version and re-train the model.

Or change "PredictedLabel" to "Prediction". [Troubleshooting](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#cannot-run-code-from-tutorial-because-predictedlabel-does-not-exist) for more information.

[2022-07-13 18:15] #2180 closed

[2022-07-13 18:17] beccamc commented on #2196
This would need to get fixed for the next release

[2022-07-14 02:30] v-Hailishi commented on #2196
The bug is still repro on the latest u/zewd/GetAzureResources branch: 16.13.9.2236301 for VS2019.

[2022-07-14 20:57] zewditu commented on #2196
@v-Hailishi  still investigating the issue.

[2022-07-16 03:17] zewditu commented on #2196
@v-Hailishi update Model Builder from the same private gallery and test it.

[2022-07-18 07:02] v-Hailishi commented on #2196
The bug has been fixed on the latest u/zewd/GetAzureResources branch: 16.13.9.2236604 for VS2019.

[2022-07-20 20:23] luisquintanilla opened #2197 "[Azure] Enable Azure training environment for supported scenarios"
Currently in Model Builder, we support the following scenarios and environments:

| Scenarios | Local | Azure |
| --- | --- | --- |
| Data classification | ✅ | ❌|
| Value Prediction | ✅ | ❌|
| Recommendation | ✅ | ❌|
| Forecasting | ✅ | ❌|
| Image classification | ✅ | ✅ |
| Object detection | ❌| ✅ |

Enable Azure as a training environment for all supported scenarios:

- [ ] Data classification
- [

[2022-07-20 20:26] luisquintanilla opened #2198 "[Notebooks] Create notebooks for limited scenarios"
In Model Builder we currently have the following unsupported scenarios:

- Anomaly Detection
- Clustering

Make the experience interactive and ready-to-run

- [ ] Creating notebooks for unsupported scenarios.
- [ ] Exposing notebooks in the Scenario screen.
  - [ ] Prompt installation of Notebook Editor extension
  - [ ] Download scenario notebook
  - [ ] Launch scenario notebook in Visual Studio

[2022-07-20 20:30] luisquintanilla opened #2199 "[Deep Learning] Add Text Classification Scenario to Model Builder"
ML.NET now supports [Text Classification](https://devblogs.microsoft.com/dotnet/introducing-the-ml-dotnet-text-classification-api-preview/) powered by TorchSharp. Add Text Classification as one of the supported scenarios in Model Builder.

- Supported Training Environments
  - Local CPU
  - Local GPU
  - Azure
- Supported Data Formats
  - File
  - SQL

[2022-07-20 20:39] luisquintanilla commented on #2191
@zewditu - UI
@LittleLittleCloud - Backend

[2022-07-21 08:57] v-Hailishi opened #2200 "All scenarios are training failed with model builder error."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2237001 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.17); 2022(17.2.6)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
  All scenarios are training failed with model builder error on the Tra

[2022-07-21 14:26] beccamc commented on #1364
Validate...
- Tables in alphabetical order
- Can use keyboard to navigate without each table trying to load

[2022-07-21 17:54] beccamc commented on #2181
@romalpani Can you help me here? I think we set the focus to the first interactable element. Is this correct? Have I understood the bug correctly?

[2022-07-21 18:00] beccamc commented on #2184
@LittleLittleCloud What are your thoughts on this? Can we get the keyboard focus into the graph? Or do we need to remove/disable those controls?

[2022-07-21 18:53] LittleLittleCloud commented on #2184
The graph is not a WPF control. It's using daytona to present js code. We probably need further investigation to see if it's available to get into graph using keyboard only.

For now I would sugguest just disable the access to graph as we already have table control. Any suggestions? @JakeRadMSFT

[2022-07-21 20:22] beccamc commented on #2184
Disable access to the graph? Or remove the controls in the upper right that allow the user to manipulate the graph?

[2022-07-22 16:30] nillmaker commented on #1111
My friends,

I has same error.

Even using NC6 / NC24 virtual machines with approximately 750 images, after some training time the same problem occurs (sometimes faster).
In the case of the NC24, the Model Builder is "eternally" in "provisioning computation" until this same error occurs.
It has also occurred in other old trainings that the strangeness lasts for 2 hours. When this time arrives, the

[2022-07-22 16:33] beccamc commented on #2183
@manaswita-chougule I'm confused about this issue. It should be the comparison between the black text of "Low" and the blue highlight right? Where is the white #FFFFFF color coming from?  When I look at this contrast I see 12.1

![image](https://user-images.githubusercontent.com/9122518/180484024-24b088ba-dcc8-4108-b416-64dc5bb4414f.png)

[2022-07-22 18:44] beccamc commented on #2189
@LittleLittleCloud How is the red border even getting set here? I don't see it in the Forecasting xaml https://github.com/dotnet/machinelearning-tools/blob/428b58214eaacf5c6bfeec45f789ec22e7bc8b3a/src/Microsoft.ML.ModelBuilder/ToolWindows/ForecastingTryOutControl.xaml#L29

[2022-07-25 09:25] manaswita-chougule commented on #2183
Hi @beccamc, the contrast ratio of the focus is passing the minimum required criteria of non-text contrast. Hence closing the bug. Please find attachment.
Thanks!

![2183_Fixed](https://user-images.githubusercontent.com/91586101/180744409-f7cf842d-69a2-4497-b5f0-b277ce0ceadf.png)

[2022-07-25 09:25] #2183 closed

[2022-07-25 19:58] beccamc commented on #2182
Can you try this again with Version 17.3.0 Preview 3.0? It worked for me. If I went fast through the list then narrator didn't announce until something was selected. Going through the menu items at a normal speed read them out loud.

![dropdown_working](https://user-images.githubusercontent.com/9122518/180863636-c7249b6e-95f2-4a17-85d6-ded80d64dcd4.gif)

[2022-07-25 20:01] luisquintanilla opened #2201 "[NLP] Add Text Classification as Model Builder supported scenario"
The [Text Classification API](https://devblogs.microsoft.com/dotnet/introducing-the-ml-dotnet-text-classification-api-preview/) powered by TorchSharp was recently added to the framework.

Add it as a supported scenario in Model Builder.

Supported environments

- Local CPU
- Local GPU
- Azure

Supported data sources:

- CSV
- SQL

[2022-07-25 20:02] beccamc commented on #2188
@manaswita-chougule  We have previously gotten the feedback that the table should not be tab-able because it is not interactive.

Please see this issue: https://github.com/dotnet/machinelearning-modelbuilder/issues/1131

[2022-07-25 20:04] luisquintanilla commented on #2201
Closing as duplicate of #2199

[2022-07-25 20:04] #2201 closed

[2022-07-25 20:09] beccamc commented on #2189
I think we could remove the red border and just disable the predict button until there is input. That is what we do for train time, horizon, and other input boxes.

[2022-07-25 21:22] luisquintanilla opened #2202 "[Azure] Create Dockerfile with .NET and ML.NET CLI components for training"
Create Dockerfile that can be used for training ML.NET models.

[2022-07-25 22:23] #2202 closed

[2022-07-26 03:06] v-Hailishi commented on #2160
@beccamc The Notebook description to include that the extension is required has been changed and link has been changed to always be "add to solution" on the latest main branch: 16.13.9.2237501 for both VS2019&VS2022.
![image](https://user-images.githubusercontent.com/99375895/180914433-50b7f5eb-cc0f-40a9-ae5a-e0c3b24b3b47.png)

[2022-07-26 09:09] v-Hailishi commented on #2200
@LittleLittleCloud The bug is still repro for **Data classification (SQL Password)** scenario on the latest main branch: 16.13.9.2237501. Other scenarios are fixed well.
<img width="481" alt="image" src="https://user-images.githubusercontent.com/99375895/180915598-26bb5f9f-07b5-41ee-ad12-a9a8fe2210e7.png">
The following are the dataset and advanced data setting I usually use:
https://testpass.blob

[2022-07-26 20:57] LittleLittleCloud opened #2204 "Add telemetry for loading/migrating mbconfig"
Since we have multiple version for mbconfig, it will be helpful for us to add telemetry for loading mbconfig

Telemetries that worth tracking on top of my head are
- metadata for loading ( mbconfig version, model builder version, if need migration, if load succeed(*))
- metadata for migration (if migration succeed(**), and if not, if user click 'yes' on prompt window)

(*) loading mbconfig could f

[2022-07-26 21:19] andrasfuchs commented on #2195
@LittleLittleCloud @luisquintanilla Sorry for mentioning you guys directly in this issue, but I think it highlights an important bottleneck ML.NET and/or Model Builder has when it comes to big data files.

Could you test it too and confirm that it's a valid problem before the issue becomes stale/closed (again)?

I can give you other, similar files to do tests with, or I can even screenshare my typ

[2022-07-26 21:28] beccamc commented on #2204
This looks great to me!

[2022-07-26 23:36] LittleLittleCloud commented on #2195
@beccamc, will your new PR on improving parsing large CSV in data page helps improve this scenario.

[2022-07-27 09:17] manaswita-chougule commented on #2182
Hi @beccamc, verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.3.0 Preview 4.0
OS : Windows 11 22H2 OS Build 25163.1000

The narrator is not announcing the combo box menu items, please find attachment for reference.
![2182_Not Fixed](https://user-images.githubusercontent.com/91586101/181210883-ee64cdf7-7053-48f8-9cc3-54231d8158f6.gif)

[2022-07-27 15:32] superichmann opened #2206 "mlnet regression cli model classed cannot be used to load data from csv"
**System Information:**
 - OS & Version: Windows 10
 - ML.NET Version: tried on latest(`1.71`) and latest prerelease (`2.0.0-preview.22313.1`)
 - .NET Version: 6
 - cli version: `16.13.9+3066041f1761935763bdd267a9bcbb64cb3ec543`

**Describe the bug**
After creating the model C# files with the cli I am trying to test it on test data.

I receive the following error when trying to load from CSV:
`Sys

[2022-07-27 17:40] sjh37 commented on #1531
I used visual studio installer and removed ML.Net, then re-added it. I then updated the to the latest "Model Builder 2022" VSIX update and got the following error: **Install Error : System.IO.IOException: Cannot create a stable subkey under a volatile parent key.**

Log:
[code]

[2022-07-27 17:57] LittleLittleCloud commented on #1531
@sjh37 I sent an email to VS team for the installation issue, and I'll put the reply in this thread once I get it.

[2022-07-27 18:00] beccamc commented on #2188
Are you in scan mode (caps lock + space)? In scan mode it reads it.

![scan_mode](https://user-images.githubusercontent.com/9122518/181341005-f4e0bb94-a15f-4678-b2f3-fba5948194ee.gif)

[2022-07-27 18:08] LittleLittleCloud commented on #1531
@sjh37 I reach out to VS team and the installation problem appears to be an old bug in VS2022, and they suggest one of the following fixes that I just quote below

[2022-07-27 20:14] beccamc commented on #2182
@zewditu When you get back can you try to repro this? I can't get a repro and I'd like another set of eyes.

[2022-07-27 22:39] beccamc commented on #2184
We don't actually want users to be able to manipulate this graph. We have removed the buttons (they were built in via the tool we're using to generate the graph). This is resolved as there are no longer buttons to interact with.

[2022-07-28 06:15] v-Hailishi commented on #2121
The bug is not repro on the latest VS version 17.2.6.

[2022-07-28 09:32] manaswita-chougule commented on #2184
Hi @beccamc could you please provide us the latest model builder environment, as we are still able to see the button controls of graph.
Thanks!

[2022-07-28 18:15] zewditu commented on #2182
@beccamc I am able to reproduce it .

[2022-07-28 18:35] luisquintanilla commented on #2195
Hi @andrasfuchs

Thanks for your patience. Did you run into this issue? I tried with the full file and it can't load it (I assume because of missing data or parsin issues).

![image](https://user-images.githubusercontent.com/46974588/181612681-e056c5fb-ac5c-48f1-9d10-1360cc54771c.png)

[2022-07-28 20:53] luisquintanilla commented on #2206
Would you be able to provide what your model input / output class look like? At first glance, I suspect the reason for your issue is that the generated input class doesn't have the LoadColumn attributes. As a result, when trying to load the file, it doesn't know the index of the columns. I would recommend adding the LoadColumn attribute to each of the properties in ModelInput for it to work. Here

[2022-07-29 02:12] v-Hailishi opened #2207 "Model builder error occurs after choosing the Table when using the SQL Server data source type on the Data page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2237801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.17); 2022(17.2.6)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
  Model builder error occurs after choosing the Table when using the SQ

[2022-07-29 02:56] v-Hailishi opened #2208 "Training result section is missing on the Training page for all scenarios."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2237801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.17); 2022(17.2.6)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training result section is missing on the Training page for all scenari

[2022-07-29 07:57] superichmann commented on #2206
Hi Luis, thanks for the quick response!

I have tried the `Enumerable<ModelInput>` method as well before posting here but it didn't work :(

I have managed to solve this by adding `LoadColumn(n)` with numbering to all of the data members.

I think that mlnet cli should populate the class with the necessary attributes in order for the csv loader to work properly without any changes :)

[2022-07-29 07:57] #2206 closed

[2022-07-29 10:17] jofori89 opened #2209 "Object reference not set to an instance of an object."
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-08-01 07:59] andrasfuchs commented on #2195
@luisquintanilla I have just tested it again, and I'm still in the loading state after 15 minutes. The `Train` tab is inactive and my CPU is constantly ~20%. For how long did you wait after opening the file until you got that error?

[2022-08-01 12:21] luisquintanilla commented on #2195
@andrasfuchs the error was immediately thrown. The file never loaded in Model Builder.

[2022-08-01 21:03] LittleLittleCloud commented on #2208
This issue is already fixed in this PR
https://github.com/dotnet/machinelearning-tools/pull/1496

[2022-08-02 08:20] andrasfuchs commented on #2195
@luisquintanilla Strange, it works fine on my machine. Your error message seemed familiar, and I realized that I had the same problem before, back in January.
It is a closed issue now, so it supposed to be solved: https://github.com/dotnet/machinelearning-modelbuilder/issues/1986

[2022-08-02 16:08] beccamc commented on #2182
@zewditu Are you on Windows 11?

[2022-08-02 23:11] luisquintanilla commented on #2195
Thanks for referencing that issue @andrasfuchs. I've updated my version of Model Builder to  16.13.9.2237801 but still get the same issue. I'll try an internal Build to see if the issue persists.

[2022-08-03 00:51] zewditu commented on #2182
Yes, I am  in Windows 11
________________________________
From: Becca McHenry ***@***.***>
Sent: Tuesday, August 2, 2022 9:08 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Zewditu Hailemariam ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] A11y_Model Builder_Add Data_Input_Screen Reader: Narrator is not announcing the name of “column to predict”

[2022-08-03 05:30] manaswita-chougule opened #2210 "A11y_Model Builder_Add Data_Data Preview_Screen Reader : When Narrator is on data table is not accessed with any table shortcut keys."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev3; #DesktopApp; #Visual Studio Client; #SH-ModelBuilder-Win32-Jun2022; #Win32; #WCAG1.3.1; #Info and relationship; #Narrator; #Regressed:09-14-22; #Closed;

### Environment Details:
Application Name: Model Builder
Windows Version: Windows 11 22H2 OS Builder 25145.1011
Visual Studio: Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview Version 17.3.

[2022-08-03 05:31] manaswita-chougule commented on #2188
Closing the bug as the data table is not interactive it is the expected behavior not to be tab-able or accessed by keyboard.
Logged new bug for screen reader issue: https://github.com/dotnet/machinelearning-modelbuilder/issues/2210
Thanks!

[2022-08-03 05:31] #2188 closed

[2022-08-03 15:51] beccamc commented on #2210
@manaswita-chougule What are table shortcut keys? Is there documentation on this requirement?

[2022-08-03 18:15] beccamc commented on #2182
@zewditu That might be the difference. Can you run Accessibility Insights for Windows on that page with Windows 11?

[2022-08-03 19:35] beccamc commented on #2182
@manaswita-chougule Can you try this in Windows 10? Can you also check your narrator verbosity settings too please?

![image](https://user-images.githubusercontent.com/9122518/182694187-d07e42cc-abb1-4be2-bb73-2295ebc5557a.png)

[2022-08-03 19:56] beccamc commented on #2209
Sorry you ran into this problem! Can you make sure you're on the latest version of model builder and try again? https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-03 21:48] romalpani commented on #2181
Hi Becca!

According to accessibility guidelines, the focus should go to the first interactable element.
https://devdivdesignguide.azurewebsites.net/general-guidelines/designing-for-everyone/#focus

In this case, it would be the hyperlink. But I think, we had decided to bring focus directly to the "environment" selection area because that gets customers to achieve their task faster (one less tab k

[2022-08-03 23:20] romalpani commented on #2181
After discussing with the design team, here's what I think we should do to resolve the bug.

1. Bring focus to the first interactable element - in this case, the **hyperlink** (and I believe all other steps of the wizard too).
2. Reasons

- It is a more predictable interaction flow for sighted keyboard and screen reader users.
- Having to move back (shift-tab) to access the hyperlink does seem cou

[2022-08-04 15:24] beccamc commented on #2181
Great - will do. Thanks for the help here Rohan!!

[2022-08-05 19:56] luisquintanilla opened #2211 "Event we were waiting on was subject to an exception"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.9.2237801
 - Visual Studio Version: VS 2022 17.2.5

**Describe the bug**
- On which step of the process did you run into an issue: Train
- Clear description of the problem:

Train a model using Value Prediction scenario using [House Prices](https://www.kaggle.

[2022-08-08 23:29] andrasfuchs commented on #2195
@luisquintanilla Did you have the chance to try this with an internal build?

[2022-08-09 03:06] v-Hailishi commented on #2020
@LittleLittleCloud The bug is repro on the latest main branch 16.13.9.2240801 for both VS2019&2022.
![image](https://user-images.githubusercontent.com/99375895/183554253-ecfcb12c-0840-4aaf-8590-1b7a6c4bd975.png)
![image](https://user-images.githubusercontent.com/99375895/183554787-9509ae6b-fd73-442a-9fa0-90ddab076729.png)

[2022-08-09 06:17] v-Hailishi opened #2212 "Total number of models explored is incorrect in the output window."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2240801(Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.17); 2022(17.2.6)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Total number of models explored is incorrect in the output window when t

[2022-08-09 08:46] v-Hailishi opened #2213 "After click "Reload" button and go back to "Train" page, the value of Model explored(total) is changed to "5" abnormally."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2240801(Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.17); 2022(17.2.6)
**.Net Framework: 4.7.2**

**Describe the bug**
- On which step of the process did you run into an issue:
After click "Reload" button and go back to "Train" page, the v

[2022-08-09 14:45] luisquintanilla commented on #2195
@andrasfuchs I did and I'm getting the same error as before. We'll investigate some more on our end but I agree with your initial point that for large files although the training should take a significant amount of time, data preview should be quick.

[2022-08-09 19:12] LittleLittleCloud opened #2214 "Azure auth fail"
<img width="462" alt="image" src="https://user-images.githubusercontent.com/16876986/183742069-960363ba-04ce-4de4-9750-07a85e8d7666.png">

[2022-08-09 21:09] danieldugger commented on #851
I am in desperate need of assistance with the issue being described within this ticket. I am using ML.net within VS 2022 to develop a monkeypox lesion detection system. I am able to use the ImagePath, however, I do not want to write the images to disk when received via my API.

[2022-08-09 21:48] beccamc commented on #851
@danieldugger Which issue specifically are you seeing? Does this sample not work for you? https://github.com/dotnet/machinelearning-modelbuilder/issues/851#issuecomment-833967834

[2022-08-09 21:56] danieldugger commented on #851
Thanks for the quick reply. I am getting the following: System.ArgumentOutOfRangeException: 'Could not find input column 'ImageSource' (Parameter 'inputSchema')'

[2022-08-09 21:58] danieldugger commented on #851
namespace Monkeypox_ConsoleApp
{
    class Program
    {
        static void Main(string[] args)
        {
            // Create single instance of sample data from first line of dataset for model input
            Monkeypox.ModelInput sampleData = new Monkeypox.ModelInput()
            {
                ImageSource = @"C:\Users\ddugger\Downloads\MPX Pictures\ML.net\Positive\M01_01.jpg",

[2022-08-10 09:51] v-Hailishi commented on #2200
The bug has been fixed on the latest main branch on the latest main branch 16.13.9.2240801 for both VS2019&2022.
<img width="323" alt="image" src="https://user-images.githubusercontent.com/99375895/183872069-0249fc46-2e38-4909-b621-189555c150be.png">

[2022-08-10 09:54] v-Hailishi commented on #2208
The bug has been fixed on the latest main branch on the latest main branch 16.13.9.2240801 for both VS2019&2022.
![image](https://user-images.githubusercontent.com/99375895/183872700-def8d160-8842-49a6-9615-aeff4a556018.png)
![image](https://user-images.githubusercontent.com/99375895/183872540-bf147f5c-29ce-4d03-b1cd-0c4e72f48755.png)

[2022-08-10 09:56] v-Hailishi commented on #2207
The bug has been fixed on the latest main branch on the latest main branch 16.13.9.2240801 for both VS2019&2022.
![image](https://user-images.githubusercontent.com/99375895/183873205-e69e96b3-5ec5-4e15-8fd3-a9370af7be9e.png)

[2022-08-10 17:30] LittleLittleCloud commented on #851
@danieldugger  Can you also share your `ModelInputBytes` class here?

The error basically says that the model can't find a column named "ImageSource", so I would check if `ModelInputBytes` has that column.

Besides, can you also share which version model builder you are using, the model  generated from latest version should use raw  byte image input by default and it also has an example of how to

[2022-08-10 17:38] danieldugger commented on #851
Thanks. I based the class off what was listed above. I have also tried ImageSource. Don't know where to find the version of ML.net. The example did show using a physical file vs. memorystream.

//Load sample data
var sampleData = new Monkeypox.ModelInput()
{
    ImageSource = @"C:\Users\ddugger\Downloads\MPX Pictures\ML.net\Negative\NM01_01.jpg",
};

//Load model and predict output
var result = Mo

[2022-08-10 18:43] LittleLittleCloud commented on #851
You can go to "extensions -> Manage extensions" to find which version of model builder you are using
![image](https://user-images.githubusercontent.com/16876986/183989939-be4e5384-ae8b-47cc-8f74-9fc22dea7d09.png)

The code example you share here looks like from a previous version of model builder, and the new version is
[code]

which loads images from memory

[2022-08-10 18:46] danieldugger commented on #851
I appreciate it. It looks like I am using the same version as above. Any ideas?

[2022-08-10 19:01] LittleLittleCloud commented on #851
That's not latest version, the latest one is `16.13.9.2231505`

You can either update it in extension manager or download from here
https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

Notice that you might need to kick off a new training once you update model builder, since the model need to be re-generated for loading image from memory

[2022-08-10 19:35] danieldugger commented on #851
I really appreciate your help!

Daniel Brittain Dugger
Founder
Bail Bond Software Solutions
615.405.4589 mobile
866.201.5079 toll-free

***@***.***

From: Xiaoyun Zhang ***@***.***>
Sent: Wednesday, August 10, 2022 2:02 PM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Daniel Dugger ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Predict In-Memory Im

[2022-08-10 19:37] LittleLittleCloud commented on #851
You are welcome, let us know if updating model builder resolve your issue

[2022-08-10 20:09] danieldugger commented on #851
Will do.

Daniel Brittain Dugger
Founder
Bail Bond Software Solutions
615.405.4589 mobile
866.201.5079 toll-free

***@***.***

From: Xiaoyun Zhang ***@***.***>
Sent: Wednesday, August 10, 2022 2:37 PM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Daniel Dugger ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Predict In-Memory ImageData in Image Class

[2022-08-10 23:58] danieldugger commented on #851
Thanks, LittleLittleCloud. Being behind in ML.net builder version was the issue.

[2022-08-11 19:14] beccamc commented on #2214
Is this a ship blocker? Or did you decide that this could be fixed later? @LittleLittleCloud Did you speak about this yesterday at standup?

[2022-08-11 19:15] LittleLittleCloud commented on #2214
It should be fixed already

[2022-08-11 19:46] zewditu commented on #2182
I run accessibility insight in windows 11, no issue found
![image](https://user-images.githubusercontent.com/36615490/184226251-11e3a459-ad32-41c8-8709-10a7f37f0e08.png)

[2022-08-11 19:53] luisquintanilla commented on #1857
@LittleLittleCloud @beccamc are we okay to close this issue?

[2022-08-11 19:55] LittleLittleCloud commented on #1857
I think so

@ffquintella  feel free to reopen it if you see any other issues

[2022-08-11 20:02] luisquintanilla commented on #1857
Great! Closing the issue.

[2022-08-11 20:02] #1857 closed

[2022-08-11 20:03] luisquintanilla commented on #1972
@beccamc are we okay to close this issue?

[2022-08-11 20:08] luisquintanilla commented on #1645
No longer an issue with FLAML AutoML

[2022-08-11 20:08] #1645 closed

[2022-08-11 20:10] luisquintanilla commented on #1535
Related to #1645. Issue should be fixed now. @torronen feel free to open a new issue if you're still having problems.

[2022-08-11 20:10] #1535 closed

[2022-08-11 20:17] luisquintanilla commented on #1709
Closing issue for now until work on Framework supports this.

[2022-08-11 20:17] #1709 closed

[2022-08-11 20:20] luisquintanilla commented on #1865
Moving to MLTables instead. Closing issue for now.

[2022-08-11 20:20] #1865 closed

[2022-08-11 20:24] luisquintanilla commented on #2105
Work item complete.

[2022-08-11 20:24] #2105 closed

[2022-08-11 20:26] luisquintanilla commented on #2006
@LittleLittleCloud to investigate

[2022-08-11 20:29] luisquintanilla commented on #1504
Changing title. We don't need to enable training with GUIDs, however, we do need to honor / enforce "Ignore" selection in Advanced Data options.

[2022-08-11 20:33] luisquintanilla commented on #1871
Thanks for reporting this issue. This will be worked on as part of our SQL improvements in #1935 . Closing for now.

[2022-08-11 20:33] #1871 closed

[2022-08-11 20:36] luisquintanilla commented on #2134
@v-Hailishi can you please test / validate that this has been fixed in the latest build. Thanks

[2022-08-11 20:41] luisquintanilla commented on #1935
@beccamc @luisquintanilla to draft UI for advanced data options in Model Builder.

[2022-08-11 20:43] luisquintanilla commented on #2071
Closing due to lack of activity. Work is already ongoing for DateTime support and ignoring GUID columns.

[2022-08-11 20:43] #2071 closed

[2022-08-11 20:44] luisquintanilla commented on #1899
Might no longer be an issue because of changes in SQL / MB experience. @LittleLittleCloud to validate.

[2022-08-11 20:45] luisquintanilla commented on #2112
Duplicate of #2115

[2022-08-11 20:45] #2112 closed

[2022-08-11 20:46] luisquintanilla commented on #2099
Work being tracked as part of #1935. Closing for now.

[2022-08-11 20:46] #2099 closed

[2022-08-11 20:51] luisquintanilla commented on #2166
Issue to be fixed with DateTime support in framework.

[2022-08-11 20:51] #2196 closed

[2022-08-11 21:09] LittleLittleCloud commented on #1899
Not reproduced

[2022-08-11 21:09] #1899 closed

[2022-08-11 23:08] rummelsworth commented on #1972
Hey y'all, I forgot to follow-up here: I actually had to use that complete clean with installcleanup.exe just last week for another extension installation problem that somehow totally destroyed my VS installation. (Again, different extension, not MB.) But, I had forgotten to try out the MB demo again to see if it would now work. I'll check this tomorrow morning and report back here.

Although, I g

[2022-08-12 02:06] v-Hailishi commented on #2134
@luisquintanilla The bug is still repro on the latest main branch: 16.13.9.2241103
![image](https://user-images.githubusercontent.com/99375895/184271717-3ab75d47-92bb-4e23-9471-aad902b6f076.png)

[2022-08-12 09:31] v-Hailishi opened #2215 "Column separator option cannot be changed successful on the "Advanced data options->Data formatting" dialog."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2241103 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Column separator cannot be changed successful on the "Advanced data opt

[2022-08-12 10:47] v-Hailishi opened #2216 "Data classification: VS would be crashed after click "Start training" button when choosing "Title" column as Label."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.9.2241103 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
VS would be crashed after click "Start training" button when choosing "

[2022-08-12 17:41] rummelsworth commented on #1972
It works now! I went through the whole ML.NET Model Builder tutorial and had no issues.

Okay to close from my perspective. Thanks again!

[2022-08-12 17:52] luisquintanilla commented on #1972
Great! Thanks @rummelsworth

[2022-08-12 17:52] #1972 closed

[2022-08-12 18:41] #2214 closed

[2022-08-12 18:41] beccamc commented on #2209
Any luck with an updated version?

[2022-08-12 18:42] #2207 closed

[2022-08-12 18:42] #2200 closed

[2022-08-12 18:51] beccamc commented on #2216
This is a problem with the machine. It's out of memory. Closing as a not Model Builder issue.

[2022-08-12 18:51] #2216 closed

[2022-08-14 03:32] zyzhangyh commented on #1618
We need specify"LoadColumn" ,like this:
public class ModelInput
 {
            [LoadColumn(0)]
            public float Column1 { get; set; }
}

[2022-08-15 06:42] v-Hailishi commented on #2216
@beccamc But testing the previous version in the same machine, VS crash and VS restarting never happen.

[2022-08-15 18:27] beccamc commented on #2195
@luisquintanilla I think the problem you're seeing is a timeout from PROSE. IIRC it just returns a null object when it times out, which we can't distinguish from a null result. I'll double check the code because if its a timeout we should be showing a different error

[2022-08-16 20:13] beccamc commented on #2215
The root cause was that the call to update columns was failing to return the new columns. This made the whole update process cancel.

[2022-08-16 20:14] #2153 closed

[2022-08-16 20:20] beccamc commented on #2210
@manaswita-chougule Ping on this. We have previously gotten feedback from the accessibility pass that this component should not be a tab stop because you cannot interact with it ([Issue 1131](https://github.com/dotnet/machinelearning-modelbuilder/issues/1131)). Instead it should read aloud in scan mode. That is the current behavior.

If only reading in scan mode is not the correct behavior can you

[2022-08-16 21:23] LittleLittleCloud opened #2217 "[proposal] validation datasource format in mbconfig"
This issue discusses how to save validation datasource in mbconfig

## Context on `DataSource`
All data-related informations, like data schema, parsing option, are saved in `DataSource` section in `.mbconfig`. It currently has four major types, which can be observed in `DataSource.Type` field.
- SQL
- TabularFile
- Folder
- Vott

Among those four types, `SQL` and `TabularFile` are for tabular-form

[2022-08-16 21:26] LittleLittleCloud commented on #2217
#60

[2022-08-16 21:27] LittleLittleCloud commented on #2217
@luisquintanilla @beccamc  @zewditu @JakeRadMSFT

[2022-08-17 03:26] jcztina opened #2218 "Object detection training has failed"
Model Builder Version: 16.7.4.2151101
Visual Studio Version: 2022(17.2.6)

Bug description
I have error with training process.

Steps to Reproduce

Mark data in vott
Load data in model builder from vott
Start train
Expected behavior
Successful train

Screenshots

![image](https://user-images.githubusercontent.com/17807952/185028405-ae5fa6b3-e006-4b11-ba8f-a378b82a9f2c.png)
![image](https://user-im

[2022-08-17 10:32] manaswita-chougule commented on #2210
Table keys here I want to refer Alt+Ctrl+arrow keys.

[2022-08-18 09:12] jcztina opened #2219 "object detection train model error not find child run"
Model Builder Version: 16.7.4.2151101
Visual Studio Version: 2022(17.2.6)

Bug description
I have error with training process.

Steps to Reproduce

Mark data in vott
Load data in model builder from vott
Start train
Expected behavior

**Additional context**
2022-08-18 15:31:44.7462 INFO Set log file path to C:\Users\MyUser\AppData\Local\Temp\MLVSTools\logs\MLModel1-SWFH3J.txt (Microsoft.ML.ModelBui

[2022-08-18 10:34] v-Hailishi commented on #2215
The bug has been fixed on the latest main branch: 16.13.9.2241702 for both VS2022&2019.

[2022-08-18 23:29] luisquintanilla commented on #2217
Thanks for this detailed writeup @littlelittlecloud.

LGTM.

[2022-08-19 02:12] v-Hailishi opened #2220 "Forecasting: Generated Console App cannot run on .NET6.0 in VS2022."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.9.2241702 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.0)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Generated Console App cannot run on .NET6.0 in VS2022 for Forecasting scenario.

**TestMatrix**
ht

[2022-08-19 07:06] kitosd opened #2221 "Model Builder Error"
**System Information (please complete the following information):**
 - Model Builder Version : 16.1.0.20.27905
 - Visual Studio Version : 16.11.18

Bug description
With freshly-updated [as of today, 2022-08-19] VS2019 and model builder, I tried to use the new ML builder wizard "Value prediction". It failed with an exception: Method not found: 'System.Collections.Generic.IEnumerable1<System.ValueTu

[2022-08-19 07:41] kitosd opened #2261 "Model Builder Error"
Model Builder Version : 16.1.0.20.27905
Visual Studio Version : 16.11.18

Bug description
With freshly-updated [as of today, 2022-08-19] VS2019 and model builder, I tried to use the new ML builder wizard "Value prediction". It failed with an exception: Method not found: 'System.Collections.Generic.IEnumerable1<System.ValueTuple2<Microsoft.ML.AutoML.RunDetail`1<!!0>,Int32>> Microsoft.ML.AutoML.Best

[2022-08-20 10:20] DifferentialityDevelopment commented on #2123
The documentation here on how to add GPU support for the Model Builder in 2022 also links to the 2019 visual studio extension
https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-gpu-model-builder
But I was able to install it by searching for the extension in Visual Studio 2022, perhaps add a link to the 2022 version in the documentation.

[2022-08-21 06:45] AbdallahR99 opened #2222 "zsh: command not found: mlnet"
I can't use `mlnet` command it's always shows `zsh: command not found: mlnet`

I tried to add in the environment but still not works

works only when I use `~/.dotnet/tools/mlnet` instead

here is the `PATH` value: `PATH=/Library/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:~/.dotnet/tools:/Library/Frameworks/Python.framework/Ve

[2022-08-22 14:53] beccamc commented on #2123
@luisquintanilla Can you update the link to install the version in the doc above? Maybe two links that go to either 2019 or 2022

https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-gpu-model-builder

[2022-08-22 15:01] luisquintanilla commented on #2195
Hi @andrasfuchs

For the issue you reported of MB taking a long time to load a file with 150k columns I believe we narrowed it down to the checks we perform using PROSE to detect and set column types (@beccamc to confirm). Other than working with the PROSE team to improve these checks, the other alternative is to disable them which would mean you'd have to manually set the data types for each of t

[2022-08-22 15:09] luisquintanilla commented on #2123
Done. PR pending review / merge. dotnet/docs#30786

[2022-08-22 17:13] #2123 closed

[2022-08-22 19:16] beccamc commented on #2181
@manaswita-chougule  Please verify this on build 16.13.10.2241902 available from the Marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-22 19:16] beccamc commented on #2184
@manaswita-chougule  Please verify this on build 16.13.10.2241902 available from the Marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

We actually don't want users to be able to manipulate the graph. We have removed those utility buttons.

[2022-08-22 19:16] beccamc commented on #2186
@manaswita-chougule  Please verify this on build 16.13.10.2241902 available from the Marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-22 19:17] beccamc commented on #2187
@manaswita-chougule  Please verify this on build 16.13.10.2241902 available from the Marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-22 19:17] beccamc commented on #2189
@manaswita-chougule  Please verify this on build 16.13.10.2241902 available from the Marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-22 19:32] beccamc commented on #2132
We've updated the PROSE (column detection library) in the new build of 16.13.10. It should fix the problem for the dataset shared here!

[2022-08-22 19:35] beccamc commented on #1431
I've taken a closer look at the telemetry, and the large number of columns I reported earlier is incorrect. Due to a bug we were bucketing failed and folder data into the large number of columns bucket.

![image](https://user-images.githubusercontent.com/9122518/186003949-ba5495fb-f083-488f-8b6b-133f2ca1e4b0.png)

The true numbers show that small (<10 columns) datasets are more common.

[2022-08-22 19:36] #1431 closed

[2022-08-22 19:36] beccamc commented on #1364
We've added a delay so that you can use the up and down arrows to navigate through the tables.

[2022-08-22 19:36] #1364 closed

[2022-08-22 19:37] #2084 closed

[2022-08-22 19:37] beccamc commented on #2084
Closing due to lack of activity. DateTime is now supported. If you run into further problems please ping me or open a new bug.

[2022-08-22 19:37] #2215 closed

[2022-08-22 19:38] #2167 closed

[2022-08-22 19:38] #2160 closed

[2022-08-22 19:41] beccamc commented on #2221
Sorry you ran into this problem! To be clear you are using...

- VS 2019
- Image classification scenario
- GPU training environment

Is this correct?

[2022-08-22 19:42] beccamc commented on #2219
Sorry you ran into this problem! Can you update to the latest version 16.13.10? https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-22 19:43] beccamc commented on #2222
@LittleLittleCloud Can you provide some guidance here?

[2022-08-22 19:47] beccamc opened #2223 "August 2022 Release"
Commit: https://github.com/dotnet/machinelearning-tools/commit/62eef39390746f3a885d8d16ea6daf4c9dc8f999
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.13.10.md

**2022** Version number: 16.13.10.2241902
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6582476
**2019** Version number: 16.13.10.2241901
**2019** Build

[2022-08-22 19:47] #2223 closed

[2022-08-22 20:18] LittleLittleCloud commented on #2222
Can you try replace alias `~` with it's full path (I remember it's /user/home or so?) and try again. If I recall correctly, there's issue with dotnet tool that can't parse `~` correctly

[2022-08-22 20:43] beccamc commented on #2134
@haoxin We just released a new version that upgrades some calls to use the Azure SDK. Can you re-try on your side and see if you still see the same error message?

[2022-08-23 00:44] luisquintanilla commented on #2222
You'll need to give mlnet executable permissions and include mlnet to the system path. Instructions on how to do this should appear in the terminal when you install mlnet (or any global tool).

@LittleLittleCloud do we have those instructions so I can update the docs with them?

[2022-08-23 06:21] v-Hailishi opened #2224 "Image classification-Local: The selected images data cannot be loaded on the Data page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2242201 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The selected images data cannot be loaded on the Data page for Image c

[2022-08-23 07:07] jcztina commented on #2219
![image](https://user-images.githubusercontent.com/17807952/186092738-d2ea2ef1-ed3f-4750-8ba5-2b3adf15e5d3.png)
![image](https://user-images.githubusercontent.com/17807952/186093257-e038765d-8a85-4efc-b525-49010f00a8ca.png)

still error : didn't find child run

[2022-08-23 07:14] kitosd commented on #2221
•VS2019
yes

•Image classification scenario
yes but every scenario doesn't work

•GPU training environment
yes both GPU and CPU

[2022-08-23 08:41] v-Hailishi opened #2225 "Image classification-Azure: The evaluate result is not accurate and exist garbled on the Evaluate page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2242201 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The evaluate result is not accurate and exist garbled on the Evaluate

[2022-08-23 09:59] v-Hailishi opened #2226 "Object detection: The evaluate result is failed with error "No BBox detected" on the Evaluate page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2242201 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The evaluate result is failed with error "No BBox detected" on the Eva

[2022-08-23 10:21] v-Hailishi opened #2227 "Image classification-Azure: Generated Web API is running failed with error 500."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2242201 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Generated Web API is running failed with error 500 for Image classific

[2022-08-23 19:43] #2208 closed

[2022-08-24 08:38] v-Hailishi opened #2228 "MLNET.CLI Test Pass is running failed on the latest mlnet.cli version: 16.13.10"
**System Information (please complete the following information):**
 - mlnet.cli Version: 16.13.10

**Describe the bug**
- On which step of the process did you run into an issue: when running MLNET.CLI Test Pass on the latest mlnet.cli version: 16.13.10
- Clear description of the problem: MLNET.CLI Test Pass is running failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Find out the late

[2022-08-24 11:33] 1gituser opened #2229 "Severity Code Description Project File Line Suppression State Error CS1061 'SentimentModel.ModelOutput' does not contain a definition for 'PredictedLabel' and no accessible extension method 'PredictedLabel' accepting a first argument of type 'SentimentModel.ModelOutput' could be found (are you missing a using directive or an assembly reference?) myMLApp C:\Users\Andrej\source\repos\myMLApp\myMLApp\Program.cs 15 Active"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:  2022
 - Visual Studio Version (if applicable):2022

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume
- Clear description of the problem: Severity	Code	Description	Project	File	Line

[2022-08-24 20:29] LittleLittleCloud commented on #2228
should be fixed already
https://github.com/LittleLittleCloud/MLNet-Benchmark/pull/28

[2022-08-24 20:30] #2228 closed

[2022-08-25 09:36] andrasfuchs commented on #2132
Thank you @beccamc for the update!

I have just tested it, and it worked perfectly even for the case when there are dots in the column names. Excellent!

[2022-08-25 09:39] andrasfuchs commented on #2195
@luisquintanilla It's understandable.

Thank you, yes, a notebook sample would be great, if you don't mind creating one!

[2022-08-25 12:22] philix615 opened #2230 "filePath cannot be null or empty 参数名: filePath"
在 Microsoft.ML.Runtime.Contracts.CheckNonEmpty(IExceptionContext ctx, String s, String paramName)
   在 Microsoft.ML.ModelOperationsCatalog.Load(String filePath, DataViewSchema& inputSchema)
   在 Microsoft.ML.ModelBuilder.AutoMLService.Experiments.LocalAutoMLExperiment.<ExecuteAsync>d__15.MoveNext() 位置 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/Experiments/LocalAutoMLExperiment.cs:行号 236
--- 引发

[2022-08-25 14:57] beccamc commented on #2181
@manaswita-chougule What is the ETA on validation of these bugs? Our SLA is next week so I'd like to make sure we have reaction time if there is a regression. Thanks!

[2022-08-26 14:58] CBelmonte opened #2231 "The program.cs code seems incomplete. I replaced the program.cs code with the code provided and it will not compile."
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-08-26 20:07] luisquintanilla commented on #2231
Hi @CBelmonte can you please provide more details on the issue you're seeing

[2022-08-26 20:13] luisquintanilla commented on #2195
Hi @andrasfuchs

Here you go.

https://gist.github.com/luisquintanilla/a7fb1eb3ce00685a29f6fcd25abe1a42

Some things you might have to change are:

1. Update `dataPath` with the location of your data
2. Remove shuffling and sampling. I did those to quickly validate the pipeline I set up worked on a small subset (5k rows) of the full dataset.
3. Update the number of seconds to train for. Since you'

[2022-08-26 20:13] #2195 closed

[2022-08-28 18:46] JohnMahanDavis opened #2232 "visual studio 2022 and ML.NET extension doesn't work"
**Model Builder Version**: 16.13.10.2241902
**Visual Studion Version**: 17.3.2

**Bug description**
I am not able to start the **Machine Learning Model**.  When I try to build a ML learning model as described in the animation on the following Microsoft website ...  https://dotnet.microsoft.com/en-us/apps/machinelearning-ai/ml-dotnet/model-builder  ... I am **not** able to reproduce the expected re

[2022-08-29 05:11] manaswita-chougule commented on #2187
Verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.4.0 Preview 1.0

The issue is fixed, hence closing the bug. Please find below attachment for reference.

![#2187_fixed_Time series col name](https://user-images.githubusercontent.com/91586101/187127358-38e4c58c-15b0-4588-bf24-7974a097824c.png)

[2022-08-29 05:11] #2187 closed

[2022-08-29 05:12] manaswita-chougule commented on #2184
Verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.4.0 Preview 1.0

The Graph controls are removed, so it's non-interactive control. Hence there is no need for keyboard accessibility.
Closing the bug. Please find below attachment for reference.
![2184_keyboard_graph_fixed](https://user-images.githubusercontent.com/91586101/187126828-b9cb4

[2022-08-29 05:12] #2184 closed

[2022-08-29 05:13] manaswita-chougule commented on #2186
Verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.4.0 Preview 1.0

The issue is fixed, hence closing the bug. Please find below attachment for reference.
![2186_train_focus order_fixed](https://user-images.githubusercontent.com/91586101/187127473-b1549dc6-1987-48e8-8d1f-3660d320c9c7.gif)

[2022-08-29 05:13] #2186 closed

[2022-08-29 06:33] manaswita-chougule commented on #2189
Verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.4.0 Preview 1.0

"Horizon" control get disabled if it's not set to any value, hence the issue is resolved.
Closing the bug. Please find below attachment for reference.
![2189_use of color_fixed](https://user-images.githubusercontent.com/91586101/187135039-9367f057-2384-47cc-92a9-de0c5aee6

[2022-08-29 06:33] #2189 closed

[2022-08-29 06:40] manaswita-chougule commented on #2181
Verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.4.0 Preview 1.0

The issue is fixed, hence closing the bug. Please find below attachment for reference.
![2181_fixed](https://user-images.githubusercontent.com/91586101/187138308-488ad822-045a-4e1e-9be1-ed3e7989948e.gif)

[2022-08-29 06:40] #2181 closed

[2022-08-29 19:53] beccamc commented on #2232
Sorry this isn't working! You aren't missing anything, it looks like our file type isn't available for some reason.

@v-Hailishi Can you try to reproduce the above problem on Visual Studion Version: 17.3.2?

[2022-08-29 22:31] JohnMahanDavis commented on #2232
The app that I had the problem with is a C# **UWP** app.  I continued to research the problem and was able to to get the ML.Net Model Builder to work by using the tutorial described on this page ... https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/create .  One key difference is the app that worked is a C# **Console App** instead of a C# UWP app.  I believe that was the only

[2022-08-30 01:34] v-Hailishi commented on #2232
@beccamc I have tried on the latest main version 16.13.10.2242501, just like JohnMahanDavis said that the bug is reproducible when creating a C# UWP app.

[2022-08-30 15:14] andrasfuchs commented on #2195
First of all, thank you @luisquintanilla for the notebook, it worked like a charm!

Good news is that I was also able to load the big CSV file into Model Builder after the #2132 fix!
Here are my quick notes about my 5-hour-long training process, you might or might not find it useful :)

[code]

[2022-08-30 15:26] luisquintanilla commented on #2195
@andrasfuchs great to hear it worked and as always, thanks for the detailed writeup. A few questions:

1. I see the scenario you used was value prediction (regression), but I thought based on the data you provided it was a classification problem (trying to predict the value of the last column to determine whether the activity is meditation). Did I misunderstand the problem?
2. When you say generat

[2022-08-30 16:10] andrasfuchs commented on #2195
@luisquintanilla
1. Your assumption was right, but I prefer to use regression for now, because I'm switching from mental state detection to more numerical values (eg. medical values gained from blood samples). My understanding is that it's not wrong to use value prediction in case of meditation detection either, because there can be different levels to meditation, I'm just not able to detect them

[2022-08-30 16:12] luisquintanilla commented on #2195
Makes sense. Thanks for clarifying.

[2022-08-30 16:44] rperez030 commented on #2182
@zewditu  The question is not whether issues were found. We need to check whether the right properties and patterns are being used so that we can tell if it is a narrator issue or an issue with the control. For example, does selection.Selection pattern updates as we select element in the ComboBox? Has this been tested with a different screen reader for comparison, for example NVDA?

[2022-08-30 19:41] luisquintanilla commented on #1702
## Migration Plan

P0: Replace NC v1 VM series to NC T4 v3 VM series in Azure Compute Dialog
P1: Add NC v3 VM series SKUs as compute options in Azure Compute Dialog

[2022-08-30 20:00] zewditu commented on #2182
We discuss this offline with  @beccamc ,   when we make the Combo box property `IsEditable`  set to `True `  the narrator does not announce item names.

[2022-08-30 23:47] zewditu commented on #1702
Our current list allowed computes are
`"STANDARD_NC6",
                "STANDARD_NC12",
                "STANDARD_NC24",
                "STANDARD_NC24R",`

where we could get the current recommended lists ?

[2022-08-31 00:10] luisquintanilla commented on #1702
The [migration guide](https://docs.microsoft.com/en-us/azure/virtual-machines/n-series-migration) lists those out. So for the current options in Model Builder they map out to the following:

| Current  SKU| Updated SKU |
| --- | --- |
| STANDARD_NC6 | Standard_NC4as_T4_v3 |
| STANDARD_NC12 | Standard_NC16as_T4_v3 |
| STANDARD_NC24 | Standard_NC64as_T4_v3 |
| STANDARD_NC24R | Standard_NC24rs_v3 |

[2022-08-31 00:28] zewditu commented on #1702
To confirm are these the right  new  C v3 VM series
https://docs.microsoft.com/en-us/azure/virtual-machines/ncv3-series

![image](https://user-images.githubusercontent.com/36615490/187566722-100d57fe-cb62-4429-9052-b7362ee00421.png)

[2022-08-31 15:13] luisquintanilla commented on #1702
It should be the NCas* SKUs. Here's the direct mapping

https://docs.microsoft.com/en-us/azure/virtual-machines/n-series-migration#nc-series-vms-featuring-nvidia-k80-gpus

![image](https://user-images.githubusercontent.com/46974588/187714170-cf312844-a40c-44f4-aa81-493ff387e14c.png)

![image](https://user-images.githubusercontent.com/46974588/187714319-cfd922a1-09c5-4d34-b7e6-a724f148d357.png)

[2022-08-31 20:39] beccamc commented on #2230
Can you make sure you're on the latest version of Model Builder? https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-08-31 20:41] beccamc commented on #2229
Sorry you ran into this problem! This is probably happening because you're on an older version of ML.NET

[2022-08-31 20:41] beccamc commented on #2231
@CBelmonte Is this the problem you're seeing? https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#cannot-run-code-from-tutorial-because-predictedlabel-does-not-exist

[2022-08-31 21:22] rperez030 commented on #2182
Thanks @zewditu  for clarifying that. It pointed me in the right direction.

[2022-09-02 09:29] v-Hailishi opened #2233 "Image classification-Azure: Training failed when you create and use a "Standard_NC24" or "Standard_NC24r" size compute."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2243103
**URL: https://privategallery.blob.core.windows.net/gallery/refs/heads/u/zewd/UpdateVmsHotFix/atom.xml**
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did y

[2022-09-02 16:40] beccamc commented on #2233
@zewditu Can you look at this? Is this the right list of computes?

[2022-09-02 18:11] zewditu commented on #2233
I used the old  vm-sizes to create  compute .

@v-Hailishi  are you able to get successful run  for already created computes with this vm-sizes? becouse Still we let userds to use existing computes with this vm-sizes

[2022-09-02 20:23] beccamc commented on #2182
This is a WPF issue. Here is the associated bug - https://github.com/dotnet/wpf/issues/7005

@manaswita-chougule Is this enough to close this bug? If not, are you able to test on Windows 10? It will work on Windows 10.

[2022-09-03 06:18] SPYazdani opened #2234 "DEBUG Package restore failed. Rolling back package changes for 'ML-Model-Builder-2022'."
**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/train

**Additional context**
Copying generated code to project... (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-09-03 16:08:10.0746 INFO Copying SentimentModel.consumption.cs to folder: C:\Users\Payam\Source\Repos\ML-Model-Builder-2022

[2022-09-05 01:45] v-Hailishi commented on #2233
@zewditu I am able to get successful run for already created computes with "Standard_NC6" or "Standard_NC12" vm-sizes.
But I am not sure for "Standard_NC24" and "Standard_NC24r" vm-sizes, because I have no these size computes before.

[2022-09-06 02:13] v-Hailishi commented on #2233
The bug is also repro on the main branch: 16.13.10.2245501.

[2022-09-06 06:04] v-Hailishi opened #2235 "Recommendation: The predicted rating is garbled on the Evaluate page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2245501 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The predicted rating is garbled on the Evaluate page for Recommendatio

[2022-09-06 06:17] v-Hailishi opened #2236 "Recommendation: Generated Web API is running failed with error 500."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2242201 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Generated Web API is running failed with error 500 Recommendation scen

[2022-09-06 08:16] v-Hailishi commented on #2233
Verified on the /u/zewd/UpdateVmsHotFix/ version 16.13.10.2245201 and main branch: 16.13.10.2245501
1.	The Azure computes size have been updated like below.
![image](https://user-images.githubusercontent.com/99375895/188582891-1c21b6ca-fd5f-4aa6-96f8-a6916d7ab112.png)

2.	When creating all new computes with **Dedicated** priority, I met the error message like below.
I also tried to increase the vC

[2022-09-06 12:22] anjalisheel-wpf commented on #2182
@manaswita-chougule @beccamc I investigated this bug, it seems it is narrator's issue and not specific to wpf. I observed the same behavior for tooltip and textbox as well. Please open it for the narrator team.

Linking similar item for your reference  :  https://github.com/dotnet/wpf/issues/5557

[2022-09-06 16:40] beccamc commented on #2182
It looks like Narrator may already have this issue filed - https://microsoft.visualstudio.com/OS/_workitems/edit/41132404

[2022-09-07 16:21] beccamc commented on #2231
We don't have enough information to investigate this issue. If your issue is not the same as [this](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#cannot-run-code-from-tutorial-because-predictedlabel-does-not-exist) feel free to open a new bug.

[2022-09-07 16:21] #2231 closed

[2022-09-07 16:28] beccamc commented on #2093
Any update here?

[2022-09-07 16:29] beccamc commented on #2128
Hi, please take a look at our troubleshooting doc on this issue if you're still having problems https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#cannot-run-code-from-tutorial-because-predictedlabel-does-not-exist

[2022-09-07 16:29] #2128 closed

[2022-09-07 16:29] beccamc commented on #2135
We don't have enough information to investigate this issue. Please re-open with more info if this is still a problem.

[2022-09-07 16:29] #2135 closed

[2022-09-07 16:30] beccamc commented on #2140
Were you able to update the quota?

[2022-09-07 16:31] beccamc commented on #2149
Apologies for the delay here. Is this error still happening?

[2022-09-07 16:33] #2148 closed

[2022-09-07 16:34] beccamc commented on #2171
Any update here? Can we see the dataset?

I would also make sure you're on the latest version - [16.13.10.2241902](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)

[2022-09-07 16:37] beccamc commented on #2221
Can you update your Model Builder to the latest version - [16.13.10.2241901](https://marketplace.visualstudio.com/items?itemName=MLNET.07)

[2022-09-07 16:38] beccamc commented on #2219
Are you able to share your training data?

[2022-09-07 17:44] judahr opened #2237 "Shuffle input cursor reader failed with an exception (Date type)"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.10.2241902
 - Visual Studio Version: 17.3.2

**Describe the bug**
- On which step of the process did you run into an issue: Train Model
-
- Clear description of the problem:
Using SQL Server view as the datasource, training produces an exception: Shuffle input

[2022-09-07 19:11] beccamc commented on #2182
@manaswita-chougule Given the narrator bug above can we close this?

[2022-09-07 20:15] beccamc commented on #2237
@judahr Can you provide us more info about the SQL table you're using? The schema or sample data would be great.

[2022-09-07 20:32] beccamc commented on #2173
Does anyone have the package version for Microsoft.ML.TimeSeries (or whatever package is mentioned)?

[2022-09-07 20:34] beccamc commented on #2178
@aminm1364 Any luck with the above advice?

[2022-09-07 20:35] beccamc commented on #2175
Sorry, we don't have enough information to solve this issue. If this is still a problem please provide the above details. Thanks!

[2022-09-07 20:35] #2175 closed

[2022-09-07 20:36] #2002 closed

[2022-09-07 20:39] beccamc commented on #1733
Sorry, we haven't gotten enough feedback on this to prioritize this experience. I assume your dataset had a lot of similar looking data and we didn't correctly predict the type. Can you share your dataset?

Alternatively you can open the .mbconfig file and edit the column value there. I know this isn't idea but a search and replace all can update many columns from "Single" to "String".

[2022-09-07 20:42] #2150 closed

[2022-09-07 20:43] beccamc commented on #2174
@LittleLittleCloud Can you provide the code sample for streaming images? A notebook or code first approach here is probably the way to go.

[2022-09-07 20:50] beccamc commented on #2194
@johnrickabe We have a code sample for this! Take a look at our set of Notebooks, specifically [Data Preparation and Feature Engineering](https://github.com/beccamc/csharp-notebooks/blob/main/machine-learning/02-Data%20Preparation%20and%20Feature%20Engineering.ipynb) in the section **Loading in memory collection**. If you train with a .csv Model Builder we will generate sample Notebooks and code f

[2022-09-07 20:52] #2082 closed

[2022-09-07 21:44] vpenades commented on #2174
@beccamc Ah, sorry, forgot about this issue... I was able to use the custom image loading with help from a similar issue, but I agree it's anything from trivial, so complete examples would be desirable.

I am using a custom loader because I have a wrapped structure so I can do things like loading the same image and flip it horizontally to double the number of input samples... or running a detector

[2022-09-07 22:08] beccamc commented on #2113
@v-Hailishi Can you validate if this is fixed?

[2022-09-07 22:09] #2172 closed

[2022-09-07 22:09] beccamc commented on #64
Let me know your thoughts on the Notebooks! We're actively working on our docs and Notebooks so feedback is appreciated! Thansk!

[2022-09-07 22:09] #64 closed

[2022-09-08 00:18] Casablanca9 opened #2238 "My Project is a new System. It has no think to do with: IBM, Microsoft, Dell, HP tools. Microsoft Machine Learning stop user to think out of the Box. I also participated in International Conferences with direfences Intervents from different Countries. Under Supervision of a Microsoft Manager. We used to talk about Innovations, Discoveries and Inventions. They Universal and International from participants used to be from Israel, Scandinavians and Australia. My System is Theories, and Hypothesis, If experience is positive. The World will start to look different to Mathematiques and Physiques. So I need a Conferential Software under Microsoft Manager Supervision like we use to do from 2000 to 2006. Thank you"
My Project is a new System. It has no think to do with: IBM, Microsoft, Dell, HP tools. Microsoft Machine Learning stop user to think out of the Box. I also participated in International Conferences with direfences Intervenient from different Countries.  Under Supervision of a Microsoft Manager. We used to talk about Innovations, Discoveries and Inventions. They Universal and International from pa

[2022-09-08 00:55] Casablanca9 commented on #2238
America is a great country. Leading the world in Sciences, Technologies, Literatures and Arts. But some no experimented young Manager(es). Break the way by using there own procedure and believe in the new Proverb: { My way or the Hight way}

[2022-09-08 00:55] #2238 closed

[2022-09-08 01:15] v-Hailishi commented on #2113
@beccamc The bug is not repro on the latest main branch: 16.13.10.2245501
![image](https://user-images.githubusercontent.com/99375895/189011987-dd977c4e-6a6f-45c7-8bb3-86d26e305f68.png)

[2022-09-08 15:59] #2113 closed

[2022-09-08 18:00] LittleLittleCloud commented on #2234
Thanks for reporting the issue, we are actively working on a fix.

In the meanwhile, you can manually install `Microsoft.ML 1.7.1` to resolve this exception.

[2022-09-08 18:02] SPYazdani commented on #2234
 Hi $contact_first_name $contact_last_name,
					    We've received your case $acase_name (# $acase_case_number) on $acase_date_entered
					    Status$acase_statusReference$acase_case_numberDescription$acase_description
On 09/09/2022, 04:01, ***@***.*** wrote:Thanks for reporting the issue, we are actively working on a fix.
In the meanwhile, you can manually install Microsoft.ML 1.7.1 to resolve

[2022-09-08 18:05] LittleLittleCloud commented on #2237
It's probably because shuffle is not support for `Datetime` type? Let me take a look

[2022-09-08 18:20] LittleLittleCloud commented on #2235
can't reproduce in latest main

[2022-09-08 19:04] LittleLittleCloud commented on #2236
Verify on latest main and no reproduce

[2022-09-08 19:42] zewditu commented on #2197
For this work Item @luisquintanilla proposes options:

1.Run the ML.NET CLI in a custom environment (Docker). With this option, we get access to the model, mbconfig, and code-behind so we can download those down to the users' machine when training is complete. Also the benefit to this is we don't have to ship or create a custom environment with our proprietary training components MB users.
2. Run

[2022-09-08 20:39] #1606 closed

[2022-09-08 20:43] beccamc commented on #2197
I think that Option 1 is the most elegant. Running the ML.NET CLI in Azure just makes sense to me and seems easy to explain. Additionally...
- Keeps us honest that everything in Model Builder also works in the CLI
- Provides reproducibility for users outside of Model Builder

I don't like Option 3 as much. If users want to use Azure AutoML they can use Azure AutoML directly? I feel it adds confusi

[2022-09-08 21:03] LittleLittleCloud commented on #2197
The question here is what do we want to earn from azure training: better model, better performance, or something else

[2022-09-08 21:03] luisquintanilla commented on #2197
+1 for Option 1.

[2022-09-08 21:07] luisquintanilla commented on #2197
1. Using larger compute than you have locally.
2. Leverage the following Azure ML capabilities.
    1. Dataset versioning
    2. Model versioning
    3. Experiment tracking
4. Similar to the one above, when working with data scientists / developers already using Azure ML, your ML.NET experiments and models don't have to be treated or worked with differently. You can track and manage everything in

[2022-09-09 00:08] LittleLittleCloud opened #2239 "Prediction result from Azure image classification is rediculous"
<img width="537" alt="image" src="https://user-images.githubusercontent.com/16876986/189246597-1c437092-5f43-41bb-8559-d310eb879ee4.png">

This is because the normalizer layer is missing from onnx model

<img width="632" alt="image" src="https://user-images.githubusercontent.com/16876986/189246450-6e7d04f0-9f24-489d-9396-bc15fa211b7a.png">

To fix this, we need to set `enable_onnx_normalization` t

[2022-09-09 00:41] zewditu commented on #2239
Now we do not have `AmlJsonsetting` , we use the sdk, hence the sdk should have a way  to enable  `enable_onnx_normalization `

[2022-09-09 01:42] v-Hailishi commented on #2235
The bug has been fixed on the latest main branch: 16.13.10.2245801
![image](https://user-images.githubusercontent.com/99375895/189254529-2dda6fb7-e89f-4eeb-afe2-17f3d7c6566b.png)

[2022-09-09 01:43] v-Hailishi commented on #2236
The bug has been fixed on the latest main branch: 16.13.10.2245801
![image](https://user-images.githubusercontent.com/99375895/189254655-d527cfcd-4ff6-45b5-8434-197efd57973b.png)

[2022-09-09 01:53] v-Hailishi commented on #2224
The bug has been fixed on the latest main branch: 16.13.10.2245801
![image](https://user-images.githubusercontent.com/99375895/189255121-2d475093-98c3-4ff6-8963-67a004a10060.png)

[2022-09-09 03:02] v-Hailishi opened #2240 "Training failed with model builder error on the Training page for all scenarios."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2019&2022: 16.13.10.2245801 (Main Build)
Microsoft Visual Studio Enterprise: 2019(16.11.18); 2022(17.3.0)
.Net: 5.0 & 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training failed with model builder error on the Training page for Data

[2022-09-09 06:01] v-Hailishi opened #2241 "Notebook is generated failed with error "Value cannot be null"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2245801 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.0)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Notebook is generated failed on the Consume page.

**TestMatrix**
https://testpass.blob.core.wind

[2022-09-09 07:58] imranshams commented on #2166
Same issue, can anybody help? Any solution?

[2022-09-09 08:08] manaswita-chougule commented on #2182
As per the comment from Narrator team over the bug https://microsoft.visualstudio.com/OS/_workitems/edit/41132404, it seems the issue is not with narrator but with this application. Could you please look into this issue and provide us with the fixes.
Thanks!

[2022-09-09 17:56] LittleLittleCloud commented on #2166
`Datetime` PR is out and once it's merged in we should be able to fix this issue by updating ml.net

@imranshams
Currently model builder doesn't have any mechanism to make use of `time` column other than using it as index, so for now you can just unselect `Time series column` and select `use default index as time column` instead

[2022-09-09 18:04] LittleLittleCloud commented on #2240
the image classification and object detection error should be fixed by this [PR](https://github.com/dotnet/machinelearning-tools/pull/1523)

[2022-09-09 18:10] luisquintanilla commented on #1930
@JakeRadMSFT to try to repro / fix next week

[2022-09-09 18:17] luisquintanilla commented on #1702
@beccamc to add more details.

Looking into whether quota availability can be queryied / displayed. Otherwise, we need to provide documentation / guidance so quota can be increased / requested.

[2022-09-09 18:23] luisquintanilla commented on #2006
@v-Hailishi can you please validate whether this has been fixed in the latest version. Thanks.

[2022-09-09 18:28] beccamc commented on #2165
Please see the [troubleshooting](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md) doc for more info on this problem.

[2022-09-09 18:28] #2165 closed

[2022-09-09 18:28] #2138 closed

[2022-09-09 18:29] #2194 closed

[2022-09-09 18:32] luisquintanilla commented on #1656
Options:

1. Save all paths as relative paths when the .mbconfig file is created.
2. Save full path when .mbconfig file is created. Allow user to change relative path to absolute path. Would not require changes in Model Builder. AutoML service needs to add a check whether path is absolute / relative. No .mbconfig changes required.

[2022-09-09 18:32] luisquintanilla commented on #1656
+1 Option 2

[2022-09-09 18:35] beccamc commented on #724
Closing this in favor of the linked epic.

[2022-09-09 18:35] #724 closed

[2022-09-09 18:35] beccamc commented on #1453
This has gotten no customer traction for over a year. Closing.

[2022-09-09 18:35] #1453 closed

[2022-09-09 18:36] luisquintanilla commented on #2199
@luisquintanilla to add details / priority.

[2022-09-09 18:37] beccamc commented on #1509
We've gotten no additional feedback about this. Closing.

[2022-09-09 18:37] #1509 closed

[2022-09-09 18:37] luisquintanilla commented on #2134
@v-Hailishi can you please validate using the latest version. Thanks.

[2022-09-09 19:28] beccamc commented on #2182
@manaswita-chougule I'm not sure which comment from Narrator team you are referring to. This is a problem with Narrator + Windows 11. We are able to reproduce this on a simple application. What is the appropriate way to file a Narrator bug so that we can close this issue?

Running this program will reproduce the error when using Windows 11. [ComboBox.zip](https://github.com/dotnet/machinelearning-

[2022-09-09 20:15] beccamc commented on #1702
Low priority updates:
- [ ] Update the default compute creation to be "Low Priority". This means auto-selecting "Low Priority" in the drop down but allowing users to change it.
- [ ] Add "Low priority is selected automatically." to the tooltip explaining the computes.

Quota updates:
We need to surface information about the [quota](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-man

[2022-09-09 20:42] rperez030 commented on #2182
I'm sharing a readout of the events fired by the Combobox taken with the Inspect tool. The text portion of the Combobox is notifying about the changes in selection, and the ComboBox is firing the valueChange event containing the new value when I navigate using the arrow keys. @manaswita-chougule  unless the Narrator team can indicate the behavior that this control is failing, this should be resolv

[2022-09-09 20:47] beccamc commented on #2182
Thank you @rperez030! Really appreciate it

[2022-09-09 21:30] luisquintanilla commented on #1930
I was unable to repro when updating to the latest version: 16.13.10.2245901

[2022-09-09 22:06] rzvme commented on #851
I actually have the same issue

ML.NET Model Builder 2022 extension version 16.13.10.2241902

Code:

Models:
 public class ModelInput
        {
            [ColumnName(@"Label")]
            public string Label { get; set; }

            [ColumnName(@"ImageSource")]
            public string ImageSource { get; set; }

        }
      public class ModelInputBytes
        {
            [ColumnName(@

[2022-09-09 23:48] danieldugger commented on #851
So, I was able to use the following class to submit to the prediction engine:

`public class ModelInput
        {
            [ColumnName(@"Label")]
            public string Label { get; set; }

            [ColumnName(@"ImageSource")]
            public byte[] ImageSource { get; set; }

        }`

If you used the Model Builder, you can view the Consume tab and it will give a code snippet showin

[2022-09-10 06:25] deiruch opened #2251 "Using LoadFromTextFile to load CSVs should work with ColumnName attributes"
**Is your feature request related to a problem? Please describe.**
I have generated a ModelInput class using AutoML. It contains several columns, all annotated with `[ColumnName]`, like this:
[code]

Then I try to load CSV data for this model:
[code]

This fails, because the fields in `ModelInput` do not contain a `LoadColumn` attribute.

**Describe the solution you'd like**
LoadFromTextFile shoul

[2022-09-10 07:30] rzvme commented on #851
Thx for the reply @danieldugger

I believe my code was copied per the reply from Jake.  I did use the model builder, but like a few on this thread, I want to feed images in the form of bytes[] to the predict method, so I did all the changes mentioned above. What I am really interested in is a working solution which would take bytes[], because none of the changes recommended above on the generated

[2022-09-10 14:24] danieldugger commented on #851
Does your Model Builder look like this?
![image](https://user-images.githubusercontent.com/5862232/189487733-2159d11f-0d53-439a-8099-11712c535a70.png)

[2022-09-11 07:52] rzvme commented on #851
No, I've already added the console app project to a solution. And also, it seems the builder won't show for since updating to the latest version of the VS extension

[2022-09-11 13:41] danieldugger commented on #851
Ok. Hopefully, someone else can weigh in on the issue.

Daniel Brittain Dugger
Founder
Bail Bond Software Solutions
615.405.4589 mobile
866.201.5079 toll-free

________________________________
From: rzvme ***@***.***>
Sent: Sunday, September 11, 2022 2:52:14 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Daniel Dugger ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelear

[2022-09-12 07:09] andrasfuchs commented on #2195
I had a productive week last week, so I thought I share a few of my notes again with you, I think it has some useful insights for the Model Builder team. The #2132 fix finally unblocked me, thank you again for that :) I used Model Builder v16.13.10 for my tests and I limited to algorithm to FastTreeRegression only.

So, I moved from console application to a locally run web API app that has a singl

[2022-09-12 11:51] manaswita-chougule commented on #2182
@beccamc As per Roberto’s comment, this is external to Narrator and not a product team bug. Since this is sev3, as per [Bug Severity Process](https://microsoft.sharepoint.com/teams/cea11y/SitePages/Bug-Severity-Process.aspx?xsdata=MDV8MDF8fGU5OTBkMWQ0NTk0NDRkZWQ3NWJlMDhkYTkxOGNlNDM1fDcyZjk4OGJmODZmMTQxYWY5MWFiMmQ3Y2QwMTFkYjQ3fDF8MHw2Mzc5ODIzMzE1MzY1MDQyNTR8R29vZHxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZM

[2022-09-12 14:35] luisquintanilla opened #2242 "Machine Learning for .NET Developer Survey - 2022"
Every year we conduct a survey to gather feedback on pain points and feature requests that help shape the direction of Machine Learning in .NET.

This past year we have made major improvements to [ML.NET](https://dot.net/ml) tooling and APIs, and now we're investigating new areas to improve and grow, including documentation, data prep, notebooks, deep learning, MLOps, model explainability, and mor

[2022-09-12 15:18] beccamc commented on #2182
Great! If product team can close, we will close this bug. Thanks everyone!

[2022-09-12 15:18] #2182 closed

[2022-09-12 18:21] #2239 closed

[2022-09-12 20:24] Zimo commented on #1959
Installing the latest version of "VC_redist.x64.exe" solved the issue for me.

I hope this will help others!

[2022-09-12 21:53] beccamc commented on #2210
@manaswita-chougule Can you take another look at this please? In scan mode I am able to use the table keys. I cannot use the table keys until I am in the contents of the table. In the header it doesn't work. In the below gif you can see me jumping around once I reach the first row of numbers.

![table](https://user-images.githubusercontent.com/9122518/189764972-de07c762-423d-4b44-b6e5-fde3dfb08254

[2022-09-13 05:04] v-Hailishi commented on #2006
@luisquintanilla I have tried on the latest main branch 16.13.10.2246201 for VS2022, the webapi.program.cs has been updated like below and Web API project also can be run successfully.
![image](https://user-images.githubusercontent.com/99375895/189813292-feadce51-bd55-40be-980a-dd927843bbb4.png)
![image](https://user-images.githubusercontent.com/99375895/189813395-7a5b66e5-9e06-4733-90bd-9ebdc8cd2

[2022-09-13 06:16] v-Hailishi commented on #2134
@luisquintanilla On the latest main branch 16.13.10.2246201 still can see 401 error:
![image](https://user-images.githubusercontent.com/99375895/189824091-6ea71652-a2f6-4328-bea0-47a3940df8de.png)

[2022-09-13 07:40] v-Hailishi commented on #2225
The bug has been fixed on the latest main branch 16.13.10.2246201.
![image](https://user-images.githubusercontent.com/99375895/189840279-ddf4cad6-8168-4b34-a531-1775f873437e.png)
![image](https://user-images.githubusercontent.com/99375895/189840475-dd5a605c-f4af-45cf-95d5-6c290e1a0819.png)
![image](https://user-images.githubusercontent.com/99375895/189840657-db93fbdd-5743-42d0-876b-3d0d36922e28.pn

[2022-09-13 07:44] v-Hailishi commented on #2227
The bug has been fixed on the latest main branch 16.13.10.2246201.
![image](https://user-images.githubusercontent.com/99375895/189841466-957dc288-8f72-4cc0-aa84-b98d8999e72c.png)

[2022-09-13 07:50] v-Hailishi commented on #2226
The bug has been fixed on the latest main branch 16.13.10.2246201.
![image](https://user-images.githubusercontent.com/99375895/189842001-2e617830-2205-4c0a-be3e-f68bab58cb73.png)
![image](https://user-images.githubusercontent.com/99375895/189842520-58f92516-7c95-4c4a-b0a4-e7f1e9da6b0a.png)
![image](https://user-images.githubusercontent.com/99375895/189842820-ae5a83a1-5097-4802-ab07-754ae4306379.pn

[2022-09-13 07:53] v-Hailishi commented on #2240
Verified on the latest main branch 16.13.10.2246201, the bug has been fixed for Image classification-Azure and Object detection scenarios on VS2022.

[2022-09-13 14:31] luisquintanilla commented on #2006
Perfect. Thanks @v-Hailishi @LittleLittleCloud

Closing this issue.

[2022-09-13 14:31] #2006 closed

[2022-09-13 14:31] luisquintanilla commented on #2134
Hmm. Thanks for checking.

cc @beccamc

[2022-09-13 17:22] luisquintanilla commented on #2199
@zewditu here are additional details about this scenario. Let me know if you have any questions.

## UI

### Scenario

- Add a new tile for Text Classification as one of the supported scenarios
  - Tile Details:
    - Title: Text Classification
    - Description: Assign a label or category to raw text. e.g. sentiment analysis on customer reviews
    - Icon: TBD
    - Environment Tag: Local
- Updat

[2022-09-13 17:52] #1733 closed, assigned to romalpani

[2022-09-13 17:52] beccamc commented on #2173
Anyone able to provide the package version?

[2022-09-13 17:54] #2145 closed

[2022-09-13 17:56] beccamc commented on #2149
Any update here on getting the details of the build error?

[2022-09-13 17:56] beccamc commented on #2221
Any update with the latest version of Model builder?

[2022-09-14 05:00] kitosd commented on #2221
I cannot update 16.13.10.2241901
I have this Install error

Microsoft.VisualStudio.Setup.PackageFailureException:
Package 'Incredibuild' failed to download;Package 'Unity3d.x64' failed to download; 'Linux.GCC.arm_none_eabi' failed to download; 'Microsoft.VisualStudio.WorkflowManagerTools.Msi' failed to download;

[2022-09-14 12:30] manaswita-chougule commented on #2210
Verified the issue in below environment:
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.4.0 Preview 1.0

The issue is fixed as with arrows will able to navigate through table headers and to data cells from headers. In data cells will able to navigate using table keys(Ctrl+Alt+arrows). Hence closing the bug. Please find below attachment for reference.

![2210_Fixed](https://u

[2022-09-14 12:30] #2210 closed

[2022-09-14 15:22] beccamc commented on #2221
I haven't seen that before. It could be a problem with the VS version. Are you able to update any other extensions?

Looks like a similar problem in [this thread](https://social.msdn.microsoft.com/Forums/vstudio/en-US/ee1259f1-97df-45e8-8729-973c73ce5e4b/microsoftvisualstudiosetuppackagefailureexception-package?forum=vssetup). Can you update VS successfully? What version of VS are you on?

[2022-09-14 18:26] beccamc commented on #2173
We don't have enough information to investigate this issue. Please open a new issue or leave a comment if you're able to provide more info. Thanks!

[2022-09-14 18:26] #2173 closed

[2022-09-14 18:27] beccamc commented on #2149
I don't have enough information to investigate this issue. if you're still seeing a problem please comment with more info.

[2022-09-14 18:27] #2149 closed

[2022-09-14 18:28] beccamc commented on #2178
Thanks for reporting this problem. Please clear out the cache in %temp%AutoML-NNI and launch a new experiment to resolve this issue. If you're still having a problem please comment and we'll try to help out. Thanks!

[2022-09-14 18:28] #2178 closed

[2022-09-14 18:31] beccamc commented on #2237
@judahr Any update on more info about your SQL data?

[2022-09-14 18:31] #2235 closed

[2022-09-14 18:33] beccamc commented on #2229
Please refer to the troubleshooting doc for more info. https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md

[2022-09-14 18:33] #2229 closed

[2022-09-14 18:33] #2225 closed

[2022-09-14 18:34] #2236 closed

[2022-09-14 18:34] #2227 closed

[2022-09-14 18:34] #2226 closed

[2022-09-14 18:34] #2224 closed

[2022-09-14 18:36] #2096 closed

[2022-09-14 18:36] #2068 closed

[2022-09-14 18:36] #2049 closed

[2022-09-14 18:37] beccamc commented on #2024
Closing this is a problem specific to this data.

[2022-09-14 18:37] #2024 closed

[2022-09-14 18:41] beccamc commented on #2016
This behavior is expected. Closing

[2022-09-14 18:41] #2016 closed

[2022-09-14 18:42] #1863 closed

[2022-09-14 18:45] beccamc commented on #1828
This is no longer a priority issue. Closing.

[2022-09-14 18:46] beccamc commented on #1771
Closing as fixed on latest main per Zewditu

[2022-09-14 18:46] #1771 closed

[2022-09-14 18:48] beccamc commented on #1616
Over a year with no updates on this issue or customers reporting. Given that it's flakey to reproduce I am closing.

[2022-09-14 18:48] #1616 closed

[2022-09-14 18:49] #1527 closed

[2022-09-14 18:50] beccamc commented on #1544
Closing in favor of https://github.com/dotnet/machinelearning-modelbuilder/issues/2101

[2022-09-14 18:50] #1544 closed

[2022-09-14 18:51] beccamc commented on #1386
No traction on this issue in over a year. Closing as low priority

[2022-09-14 18:51] #1386 closed

[2022-09-14 18:58] beccamc commented on #2089
@JakeRadMSFT Can this be closed?

[2022-09-14 18:58] beccamc commented on #2222
@LittleLittleCloud Are there instructions for Luis? (see above)

[2022-09-14 19:17] beccamc commented on #2066
Two things...
- Are you on the Azure global cloud? Or one of the other clouds (China, German, US Govt)?
- Can you update your Model Builder to the latest version? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2022-09-14 19:19] beccamc commented on #1907
I know this is a very late reply, but for others running into this issue...

_Sometimes Model Builder doesn't update correctly and VS is still referencing older Model Builder code. If uninstalling and re-installing Model Builder doesn't work, or you find yourself in a strange VS state, we recommend doing a [clean install of VS](https://docs.microsoft.com/en-us/visualstudio/install/uninstall-visual

[2022-09-14 19:23] beccamc commented on #1702
@zewditu Are you able to take on this work item? Details in the comment above.

[2022-09-14 19:26] beccamc commented on #2166
This is in [PR ](https://github.com/dotnet/machinelearning/pull/6302)in the ML.NET repo. The fix will need to ship and reference the new version in Model Builder before this can be closed.

[2022-09-14 20:51] luisquintanilla commented on #2191
This issue is blocking #60 @luisquintanilla to provide design by EOW.

[2022-09-14 20:51] luisquintanilla commented on #60
Waiting on #2191 before finishin implementation of this feature.

[2022-09-14 21:25] luisquintanilla opened #2243 "Compare AutoML InferColumns to PROSE column inference"
In Model Builder and the ML.NET CLI, we leverage the PROSE set of libraries to infer column types on a dataset.

The AutoML API provides the `InferColumns` method which has a different implementation. [Sample](https://gist.github.com/luisquintanilla/fa3e8d1fb61c7f8669be179efe4e0bae)

Compare both approaches based on:

- Time
- Accuracy / Correctness

 Use the benchmark results to align both implem

[2022-09-15 05:54] zewditu commented on #1702
@beccamc   does tooltip make sense here?  If we make it tooltip the user should hover over on it to see the information , this has a high chance that it will be overlooked by the user.
I recommended  static information somewhere on top "Low priority is selected automatically"
![image](https://user-images.githubusercontent.com/36615490/190324948-158ae24e-9363-4c93-b86b-69038d78522c.png)

[2022-09-15 07:15] v-Hailishi commented on #2240
The bug is only fixed on VS2022, but still repro on VS2019.

[2022-09-15 16:58] beccamc commented on #1702
@luisquintanilla see above question

[2022-09-15 17:46] luisquintanilla commented on #1702
@zewditu Are we prepopulating the Compute priority dropdown with "Low priority"? If so, I'd be okay with keeping that information in the tooltip since the fact we're prepopulating the field implies it's the default / recommended setting.

[2022-09-15 18:21] LittleLittleCloud commented on #1656
@v-Hailishi
To validate it, you just need to
- create classification or regression experiment
- select a file as training data (not SQL)
- train the model
- close model builder, go to .mbconfig, and change the file path to relative path that related to your mbconfig file
- reopen model builder and retrain model again, the training should success.
- reopen .mbconfig afterwards and verify the file p

[2022-09-15 18:32] zewditu commented on #1702
@luisquintanilla  "Are we prepopulating the Compute priority dropdown with "Low priority"?  yes

[2022-09-15 18:50] LittleLittleCloud commented on #2240
THe fix for VS2019 is not check in yet
https://github.com/dotnet/machinelearning-tools/pull/1526

[2022-09-15 20:11] luisquintanilla commented on #1702
@zewditu just wanted to get some clarity on where the tooltip would be vs the static text. Would it be at the top where you've underlined with the red pen or would it be in the already existing tool tip for "Compute priority"? Also, what is the message you were going to use?

[2022-09-15 23:05] zewditu commented on #1702
I recommend having it at the top  where I underline it with red  because we already have a tooltip
![image](https://user-images.githubusercontent.com/36615490/190523410-bf2296fe-032a-409d-9fd1-b5ece0f8fa98.png)

 but I am ok with adding a tooltip  but are we gonna add  a tooltip explaining two things " Priority determines cost and avaliblity of  compute" and "Low priority is selected automatically

[2022-09-15 23:07] zewditu commented on #1702
Low priority is selected automatically

[2022-09-16 02:34] christopherfowers opened #2254 "CLI --ignore-cols ignored on MacOS"
**System Information (please complete the following information):**
 - OS & Version: MacOS 12.6
 - ML.NET Version: mlnet-osx-x64 - 16.13.9
 - .NET Version: .NET 6.0.302

**Describe the bug**
When using the CLI from terminal to train a model using data from a csv file and specifying columns to ignore using `--ignore-cols 1, 2, 3` results in an output model and sample project that does in fact use t

[2022-09-16 03:18] v-Hailishi opened #2244 "Value predication: The bottom 5 models are listed on the output instead of the top 5 models."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2246501 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.0)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The bottom 5 models are listed on the output instead of the top 5 models.

**TestMatrix**
https:/

[2022-09-16 06:11] v-Hailishi opened #2245 "Value predication: The generated Console App and Web Api projects run failed."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2246501 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.0)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The generated Console App and Web Api projects are run failed.

**TestMatrix**
https://testpass.b

[2022-09-16 06:34] v-Hailishi opened #2246 "Forecasting: The name of the best accuracy is missing and the value for it is wrong in Training results."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2246501 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.0)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The name of the best accuracy is missing and the value for it is wrong in Training results.

**Te

[2022-09-16 14:53] chenzanyu commented on #1091
@luisquintanilla  @beccamc   This Issue was removed from Fall 2022 Milestone. Will it support the future?

[2022-09-16 15:34] luisquintanilla commented on #1091
Hi @chenzanyu

We are working on bringing this scenario to ML.NET and Model Builder in the near future.

[2022-09-19 00:40] AddioElectronics opened #2247 "GPU Extension not detected in 2022"
While trying to create a MLModel, I selected Local (GPU), checked the compatibility and installed all the required components.
The only thing that is not working properly is the GPU Extension, which says "GPU extension is missing. Install extension."
When I click "Install Extension" it directs me to the VS 2019 extension.
I manually installed the 2022 extension from the Extension Manager, and it i

[2022-09-19 01:21] severalpens opened #2248 "Change PredictedLabel to Prediction"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/consume
- Clear description of the problem:
`SentimentModel.ModelOutpu`t does not contain a defini

[2022-09-19 08:49] v-Hailishi opened #2249 "Forecasting: The generated Console App and Web Api projects run failed."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2246601 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The generated Console App and Web Api projects are run failed.

**TestMatrix**
https://testpass.b