[2021-09-16 02:30] cagy520 opened #1794 "远程服务器返回错误: (401) 未经授权。 AzureML.FailureCounter"
An error is reported when training the model

远程服务器返回错误: (401) 未经授权。
在 AzureML.FailureCounter.<RecordFailureWithRetryWarningAsync>d__6.MoveNext() 位置 /_/src/Microsoft.ML.ModelBuilder.AutoMLService/RemoteAutoML/FailureCounter.cs:行号 48
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   在 AzureML.AutoMLRunMonitoringImages.<MonitorParentRunAsync>d__1.MoveNe

[2021-09-16 02:32] vzhuqin commented on #1664
Not repro this issue on:
- Microsoft Visual Studio Enterprise 2019: 16.11.3
- ML.Net Model Builder: 16.7.4.2146502 (Main Branch)

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9833452f-101f-4d75-9b2d-53d56a7bc0fe)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3953aafa-01e7-4885-87f3-067028f80641)

[2021-09-16 02:49] vzhuqin commented on #1719
The description has been changed.
- ML.Net Model Builder: 16.7.4.2146502 (Main Branch)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/64c25e74-a7bb-4399-a043-b217a1709a5e)

[2021-09-16 06:01] #1793 closed

[2021-09-16 07:05] zewditu commented on #1794
@cady520, sorry for hitting this issue, which model builder version you used?

[2021-09-16 16:55] beccamc commented on #1290
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/f29eb8f0-f8b0-4ce4-a80f-9aea33cec90f)

[2021-09-16 18:05] beccamc commented on #1290
This has regressed, it's supposed to look like this:
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/257ca0dc-207c-48ab-b989-153eefb35ec7)

Regressed from this [PR](https://github.com/dotnet/machinelearning-tools/pull/1050)

[2021-09-16 19:05] beccamc commented on #1437
Any luck with the new version?

[2021-09-16 19:06] beccamc commented on #703
This isn't a priority now. When we figure out the dataprep story this may come back.

[2021-09-16 19:06] #703 closed

[2021-09-16 19:10] beccamc commented on #1759
Closing. We can open a new issue if there are new repro steps.

[2021-09-16 19:10] #1759 closed

[2021-09-16 19:45] beccamc commented on #1785
This is fixed with a VS update.
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/686f2393-e9c9-4582-addd-d936ceeb005e)

If this problem comes up again we should bring it up to the framework team.

[2021-09-16 19:45] #1785 closed

[2021-09-16 19:54] luisquintanilla commented on #1782
Hi @rpgeha

You can't retrain ONNX models*. That's not a Model Builder limitation, but an ONNX one. ONNX is just a way to represent your models and make them interoperable between frameworks. You are not obligated to use Azure for image classification. If you want to be able to retrain your model with the same pipeline, there's always the local training option that doesn't use Azure, but instead u

[2021-09-17 02:23] cagy520 commented on #1794
![image](https://user-images.githubusercontent.com/9970419/133714005-6b843cdc-c097-4d9b-8d94-65c7237b1cb9.png)

I downloaded the model builder on September 7

[2021-09-17 12:43] cagy520 commented on #1794
Run requested 1 node(s). 'okmining' cluster is resizing. Requested VM size STANDARD_NC6 is not supported.

I can't train the model

[2021-09-17 12:47] cagy520 commented on #1794
model builder version:16.7.3.2143002

[2021-09-17 16:52] luisquintanilla opened #1795 "Unable to load the service index for source https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.3.2143002
 - Visual Studio Version: VS2019 16.11.3

**Describe the bug**
- On which step of the process did you run into an issue: Train
- Clear description of the problem: When the model is done training, an error `Unable to load the service index for source h

[2021-09-17 17:21] Su-Bi-su opened #1796 "System.NullRefrenceException"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version
Microsoft.ML -> 1.6.0
Visual Studio -> 2019

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

1. Trained a custom object detection model using Model Builder.
2. Object detect

[2021-09-17 19:05] GHoltmann commented on #1437
Hi Becca, we will be testing your new version in November, as our team is currently working on other projects. I will keep you updated!
    El viernes, 3 de septiembre de 2021 13:33:24 ART, Becca McHenry ***@***.***> escribió:

We just uploaded the new bits for VS 2019! You can download and try from the marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.07

I think for your scen

[2021-09-17 22:52] peho-ea opened #1797 "Model Builder Error"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.7.3.2143002
 - Visual Studio Version (if applicable): 16.11.3

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/object-detection-model-builder#set-up-an-azure-ml-workspace
- Clear description

[2021-09-18 02:04] cagy520 commented on #1794
I created a new azure account to solve this problem！！！

[2021-09-19 01:49] MoritaMasaki opened #1798 "Does not show Machine Learning Model (ML.NET) in the "Add New Item""
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-09-20 12:00] #1796 closed

[2021-09-20 13:34] NiharikaTipirishetty commented on #1596
Issue is fixed. At 200% zoom, all controls in the Create new experiment, Create new workspace, Create new compute popups are clearly visible without any loss of content. Hence closing this bug.

![1596_fixed (2)](https://user-images.githubusercontent.com/83570638/134011270-91d5f653-c3b8-44f1-9182-5d3b1fc9e930.png)
![1596_fixed (3)](https://user-images.githubusercontent.com/83570638/134011276-af4cc

[2021-09-20 13:34] #1596 closed

[2021-09-20 13:40] NiharikaTipirishetty commented on #1577
@beccamc Issue is not fixed. Narrator is still not reading headings in the popup. Since this is a usability bug there is no compliance blocking, please add this bug to your backlog, If you are not going to fix this issue, you can feel free to close this bug

![1577_not fixed](https://user-images.githubusercontent.com/83570638/134012229-b9ae92ea-cbfe-4af2-998e-a3bc831381a4.png)

[2021-09-20 15:05] beccamc commented on #1577
Thanks Niharika! I'll mark this as resolved for the accessibility pass. @zewditu Can you look at why this isn't fixed?

[2021-09-20 15:14] beccamc commented on #1627
For 1577, while not completely fixed, this is resolved as accessibility issue. Will close when we determine if we want to make the full fix.

[2021-09-20 15:55] beccamc commented on #1798
Sorry you ran into this problem! Can you check out our [troubleshooting](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project) section on this topic. Let me know if that doesn't help.

[2021-09-20 16:00] beccamc commented on #1797
Sorry you ran into this problem @peho-ea.  Does it look like the workspace was successfully created in the portal? You can check at ml.azure.com. If you can't access the ml portal, go to portal.azure.com -> "Azure services" at the top of the page -> Machine Learning

Based on this...
- If there is a workspace, it should be visible in Model Builder. Is the Azure dialog now loading things correctly?

[2021-09-20 16:03] beccamc commented on #1795
@LittleLittleCloud I have no idea. Do you have insight into this?

[2021-09-20 16:05] #1719 closed

[2021-09-20 16:06] beccamc commented on #1104
This is fixed! Please download the new build from the VS Marketplace.

[2021-09-20 16:06] #1104 closed

[2021-09-20 16:06] #1405 closed

[2021-09-20 16:06] #1668 closed

[2021-09-20 16:07] #1314 closed

[2021-09-20 16:07] #1494 closed

[2021-09-20 16:07] #1321 closed

[2021-09-20 16:07] #1529 closed

[2021-09-20 16:07] #1503 closed

[2021-09-20 16:07] #1394 closed

[2021-09-20 16:07] #1609 closed

[2021-09-20 16:07] #1463 closed

[2021-09-20 16:08] #1387 closed

[2021-09-20 16:09] #394 closed

[2021-09-20 16:09] #1399 closed

[2021-09-20 16:09] #1426 closed

[2021-09-20 16:09] #1517 closed

[2021-09-20 16:09] #1528 closed

[2021-09-20 16:09] #1563 closed

[2021-09-20 16:09] #1575 closed

[2021-09-20 16:09] #1650 closed

[2021-09-20 16:09] #1670 closed

[2021-09-20 16:09] #1671 closed

[2021-09-20 16:09] #1683 closed

[2021-09-20 16:10] #1501 closed

[2021-09-20 16:10] #1505 closed

[2021-09-20 16:10] #1524 closed

[2021-09-20 16:10] #1540 closed

[2021-09-20 16:10] #1557 closed

[2021-09-20 16:10] #1561 closed

[2021-09-20 16:10] #1583 closed

[2021-09-20 16:10] #1592 closed

[2021-09-20 16:10] #1624 closed

[2021-09-20 16:10] #1633 closed

[2021-09-20 16:10] #1666 closed

[2021-09-20 16:10] #1706 closed

[2021-09-20 16:10] #1724 closed

[2021-09-20 16:10] #1732 closed

[2021-09-20 16:10] #1736 closed, assigned to LittleLittleCloud

[2021-09-20 16:10] #1739 closed

[2021-09-20 16:11] #1667 closed

[2021-09-20 16:12] #1714 closed

[2021-09-20 16:13] beccamc commented on #1696
@PtrStruct this issue should be resolved. Please download the latest build from https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-20 16:14] #1569 closed

[2021-09-20 16:14] #1703 closed

[2021-09-20 16:14] #1654 closed

[2021-09-20 16:14] #1492 closed

[2021-09-20 16:14] #1657 closed

[2021-09-20 16:15] #1489 closed

[2021-09-20 16:15] #1614 closed

[2021-09-20 16:15] #1617 closed

[2021-09-20 16:15] #1440 closed

[2021-09-20 16:16] #1628 closed

[2021-09-20 16:16] #1613 closed

[2021-09-20 16:17] #1658 closed

[2021-09-20 16:17] #1580 closed

[2021-09-20 16:17] #1642 closed

[2021-09-20 16:18] #1419 closed

[2021-09-20 16:18] #1404 closed

[2021-09-20 16:18] #1211 closed

[2021-09-20 16:18] #1710 closed

[2021-09-20 16:36] beccamc commented on #1794
@cagy520 Did you change the compute size too?

[2021-09-20 16:37] beccamc commented on #1754
I'm closing this due to lack of activity. If the issue continues, please re-open or ping me. Thanks!

[2021-09-20 16:37] #1754 closed

[2021-09-20 16:39] beccamc commented on #1734
I'm closing this issue due to lack of activity. Please reopen or ping me if it is still a problem. Thanks!

[2021-09-20 16:39] #1734 closed

[2021-09-20 16:44] beccamc commented on #1741
This is expected behavior for versions earlier than 16.6.0.2130907.  Please either update via the marketplace https://marketplace.visualstudio.com/items?itemName=MLNET.07, or use right click "Add Machine Learning"

If you've updated and don't see the "Add Machine Learning" option, please refer to our [troubleshooting doc](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshoo

[2021-09-20 16:44] #1741 closed

[2021-09-20 16:45] beccamc commented on #1437
Sounds good. I'll keep this open for tracking until you're able to test.

[2021-09-20 16:47] beccamc commented on #1009
No repro for this issue. Please upgrade to 16.2.0. If you still see a problem, feel free to re-open or file a new issue. Thanks!

[2021-09-20 16:47] #1009 closed

[2021-09-20 17:13] luisquintanilla commented on #1795
Something I noticed was, the error was thrown at the end of training and both the model and training / consumption codegen were created in the project as expected.

[2021-09-20 17:23] dmamel commented on #1770
When using the GPU, the accuracy of the model is <5%. If I train my dataset on CPU, the accuracy is 75%

[2021-09-20 18:09] LittleLittleCloud commented on #1105
Setting it to priority:0 because it's crashing VS now

[2021-09-20 19:47] Su-Bi-su opened #1799 "Loading a model trained on Model Builder is pretty slow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Loading a model trained on Model Builder is pretty slow. This may not be an issue during object detection on a static image. However, it a quite a problem during real-time object detection.

**Describe the solution you'd like**
A clear and

[2021-09-20 20:04] PtrStruct commented on #1696
Running this version and I'm still experiencing the same issue unfortunately.
![bild](https://user-images.githubusercontent.com/39096940/134067654-d187cc4b-0728-4a04-b286-a5dcaddc1652.png)

[2021-09-20 20:08] beccamc commented on #1696
@PtrStruct Looks like your VS is in English. Is your machine in a different language that uses "," decimal separator?

@LittleLittleCloud Is this the same as the "," issue for non-US culture?

[2021-09-20 20:17] PtrStruct commented on #1696
@beccamc Holy smokes that was a fast response!
My machine should be installed using a English language pack, but there could be something hiding since my keyboard layout is Swedish.

[2021-09-20 23:31] beccamc commented on #1696
I think this is the same problem as #1701. You need to get the default to ".".  I think changing to "en-US" would do it.

We have a fix for this, but it won't ship for a few more weeks.

[2021-09-21 16:39] #647 closed

[2021-09-21 16:39] beccamc commented on #647
I'm closing this, will reopen if any customers run into trouble.

[2021-09-21 17:19] LittleLittleCloud commented on #1696
Looks like the same issue to me

[2021-09-21 17:26] LittleLittleCloud commented on #1795
Looks like the error in from IVsPackageInstallerServices. Can you remove that feed and try again?

[2021-09-21 18:03] beccamc commented on #1786
Closing directly

[2021-09-21 18:03] #1786 closed

[2021-09-21 18:03] beccamc commented on #1787
Closing directly

[2021-09-21 18:03] #1787 closed

[2021-09-21 18:03] beccamc commented on #1788
Closing directly

[2021-09-21 18:03] #1788 closed

[2021-09-21 22:47] PtrStruct commented on #1696
@beccamc @LittleLittleCloud I managed to solve the issue by heading into the "Region" tab in windows, then moving over to "Additional Settings.." and changing the decimal symbol to `.`.

Thanks! 😄

[2021-09-21 22:47] #1696 closed

[2021-09-22 06:42] vzhuqin opened #1800 "Workspace and Compute name should not be reset after clicking Edit workspace."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.3
- ML.Net Model Builder: 16.7.6.2146601 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Edit workspace
- Clear description of the problem: sometimes Workspace name is rest, sometimes Workspace na

[2021-09-22 15:46] beccamc commented on #1696
Great! Glad you were able to fix it! You should be able to change that setting back when we release a new version. Thanks!

[2021-09-22 20:24] beccamc commented on #1800
Yeah, this is a timing issue. You'll see them flash the correct value, and then it gets reset. Flaky, and doesn't happen all the time. Good find!

[2021-09-23 03:02] vzhuqin commented on #1774
Adding a notebook encountered another model builder error, could you please take a look?
- ML.Net Model Builder: 16.7.6.2147201 (Main)
- Notebook Editor [Preview]: 16.6.0.2147206 (Main)
- microsoft.dotnet-interactive: 1.0.246601
- Microsoft Visual Studio Enterprise 2022 Preview (64-bit) Version 17.0.0 Preview 4.1

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/fd900df1-

[2021-09-23 06:10] AmritanshuAVerma opened #1801 "Object Instance not set to an instance of an object on training image classification on CPU"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.3.2143002
 - Visual Studio Version 16.11.3

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: Object instance not set to an instance of an object

**To Reproduce**
Steps to reproduce the

[2021-09-23 17:53] zewditu commented on #1577
From my end on the latest Model Builder, it announces "Asure machine learning. create new experiment window "

[2021-09-23 18:57] zewditu commented on #1577
The narrator announces the header in scan mode too.

[2021-09-23 18:57] #1577 closed

[2021-09-24 16:16] beccamc commented on #1799
The initial load of the model can be slow, but subsequent uses should be faster due to caching. Are you reloading every time. @LittleLittleCloud Did you share some code samples for this recently?

[2021-09-24 16:25] LittleLittleCloud commented on #1799
@Su-Bi-su Can you describe your using case? Like How many pictures are you inferencing at one time and how much time does it cost for each image

[2021-09-24 17:01] beccamc commented on #1801
Thanks for reporting! I'll take a look.

[2021-09-26 17:27] naster01 commented on #1701
My system was in english but my region in french. Switched to english and now I can import my json data.

[2021-09-27 07:47] vzhuqin commented on #1532
not repro this issue on latest main build: 16.7.6.2147403
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f93bbaaf-2848-4f15-a506-47d21196ed83)

[2021-09-27 08:36] vzhuqin commented on #1701
Not repro this issue on latest main build: 16.7.6.2147403
- Microsoft Visual Studio Enterprise 2019: 16.11.3
- ML.Net Model Builder: 16.7.6.2147403
- Windows OS: Windows-10-Enterprise-21H1
- English System with Russia Region
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5ef41cd1-e075-47e6-9c65-f65f87c40600)
- VS Language: Russian
![image.png](https://images.zenhubuserc

[2021-09-27 09:21] vzhuqin opened #1802 "Model Builder Error: "The remote server returned an error: (400) Bad Request." when creating Azure experiment on Russian VS."
**System Information (please complete the following information):**
- Microsoft Visual Studio Enterprise 2019: 16.11.3
- ML.Net Model Builder: 16.7.6.2147403 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: VS language setting is Russian > create Azure Experiment

- Clear description of the problem: Model Builder Error:  The remote server returned an er

[2021-09-27 20:30] beccamc commented on #1802
Very nice find!

[2021-09-28 03:36] vzhuqin commented on #1774
Can repro the error on:
- Notebook Editor [Preview]:0.1.0.2147707 (Main)
- ML.Net Model Builder: 16.7.6.2147701 (Main)

[2021-09-28 08:43] Su-Bi-su commented on #1799
@beccamc yes the initial loading is slow and the subsequent uses are relatively fast. However, it is not as fast as I would expect it to be.

@LittleLittleCloud : My use case is to detect object in a movable machine.

I collected data, trained it using Model Builder and used this trained model for real time object detection. I am using USB camera for this purpose. The detection is good enough. How

[2021-09-28 12:28] NiharikaTipirishetty commented on #1643
Issue is fixed with NVDA. While navigating from Evaluate tab to Consume tab, NVDA is announcing the tab name.

![1643_NVDA](https://user-images.githubusercontent.com/83570638/135086583-ab7df6d3-6ea3-437f-a380-c0d0a2be1940.png)

[2021-09-28 12:29] NiharikaTipirishetty commented on #1643
@beccamc Since the issue is still reproducing with Narrator, could you please provide sample app where similar issue reproduces with Narrator to raise an external bug against Narrator

[2021-09-28 12:32] NiharikaTipirishetty commented on #1594
@beccamc Could you please provide sample app where similar issue exists to raise an external bug against Narrator.

Note: This issue is not observed with NVDA

[2021-09-28 14:09] briacht opened #1803 "Should this say .NET Interactive Notebook?"
![image](https://user-images.githubusercontent.com/10437687/135103868-7a11eae2-c017-4e6a-abf5-f9b024766d7b.png)

[2021-09-28 14:14] briacht opened #1804 "Error when trying to add Notebook from Model Builder"
I get this error when trying to add to solution from Consume page in MB:
![image](https://user-images.githubusercontent.com/10437687/135104358-928921d9-67d4-4413-9dc8-4eead7b09101.png)

And then when I close out of the error dialog, this happens and doesn't go away:

![image](https://user-images.githubusercontent.com/10437687/135104512-3cd4882e-e0c8-4b4c-8527-8e284defedba.png)

![image](https://us

[2021-09-28 16:43] beccamc commented on #1804
@briacht Can you upload your mbconfig file?

[2021-09-28 16:46] briacht commented on #1804
[TaxiFareModel mbconfig.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7246026/TaxiFareModel.mbconfig.zip)

[2021-09-28 19:54] zewditu commented on #1092
For  ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/b2f9a2c6-b782-498b-bf27-b1eaa5ba47fc)

it seems that  these strings  ( error , yes and no) are not the in  string resource file in Model builder  they are coming from VS message box .
@beccamc  is this the VS bug ? because I am excepting that if the string is from VS that is  not our responsibility  or do we need to cu

[2021-09-28 20:04] zewditu commented on #1092
For
 ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/89879f03-71ef-4286-86fc-8e3260a0c3a3)

It seems translated. The screenshots below show English and French versions.
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/4ed320c0-eb42-48da-88c2-511cdbc663d7)

[2021-09-28 23:39] beccamc commented on #1643
@NiharikaTipirishetty I will work on getting the sample app. Can the priority of this bug be lowered since it is a Narrator problem?

[2021-09-28 23:39] beccamc commented on #1594
@NiharikaTipirishetty I will work on getting the sample app. Can the priority of this bug be lowered since it is a Narrator problem?

[2021-09-29 04:48] vzhuqin opened #1805 "Model Builder Error: "The method or operation is not implemented." when adding Notebook for SQL Data source."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.7.6.2147804 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 4.1
- Notebook Editor [Preview]:0.1.0.2147804
- microsoft.dotnet-interactive:1.0.247702

**Describe the bug**
- On which step of the process did you run into an issue: SQL Data Source>Adding Notebook on Consume pa

[2021-09-29 13:24] briacht commented on #1677
Adding more customer evidence from [Marketplace review comment](https://marketplace.visualstudio.com/items?itemName=MLNET.07&ssr=false#review-details):

![image](https://user-images.githubusercontent.com/10437687/135276993-13bc869f-66d7-4cee-9f14-94d780c75ea2.png)

[2021-09-29 17:30] beccamc opened #1806 "Typos in GDPR Telemetry"
### modelbuilder.traingconfigid

Last change to this property 10/22/2020 2:29:56 PM +00:00

Introduced in this PR, and spelled correctly in the checked in version https://github.com/dotnet/machinelearning-tools/pull/781/files#

### modelbuilder.feiledetails

Last change to this property is 10/19/2020 2:30:48 PM +00:00

Problem introduced in this commit - https://github.com/dotnet/machinelearning-t

[2021-09-29 17:33] lucent-sea commented on #1620
I'm having the same issue on one of my computers.  My main dev laptop is fine, though.  Both are running the same version of Visual Studio 2019 and .NET SDK.  I tried repairing the VS installation.  Here's what I'm getting when running the SciSharp-Stack-Examples project:

[code]

[2021-09-29 17:46] #1806 closed

[2021-09-29 22:03] beccamc commented on #1594
I've created a small app, but I can't get a repro of this problem. I can't reproduce this problem in Model Builder either. See the following video. All the dialogs are reading correctly in narrator:

https://user-images.githubusercontent.com/9122518/135354864-2cec0d9b-c898-49a8-9367-27472d3bcfe3.mp4

[2021-09-29 22:06] beccamc commented on #1594
Here is the latest Model Builder version https://devdiv.visualstudio.com/_apis/resources/Containers/8811121/VSSetup_Release17?itemPath=VSSetup_Release17%2FMicrosoft.ML.ModelBuilder.Gallery.Dev17.vsix

[2021-09-29 22:43] beccamc commented on #1643
I've created a small app that tries to demonstrate the problem. It is attached. Here is a video of the app:

https://user-images.githubusercontent.com/9122518/135358398-34fb7d98-730f-4589-943f-c31ea1767ed0.mp4

[WPF_VSIX_Repo.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7255410/WPF_VSIX_Repo.zip)

@NiharikaTipirishetty Is this sufficient to close this bug? Thanks!

[2021-09-30 00:00] zewditu opened #1807 "Consume page controls background looks wrong."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
![image.png](https:

[2021-09-30 00:04] zewditu commented on #1803
if we follow the same pattern with others  it should say "Add Sample Interactive Notebook"

[2021-09-30 04:20] NiharikaTipirishetty commented on #1594
@beccamc Could you please confirm if this feature is publicly available? If the feature is publicly available we don't need sample app. Once the bug is logged against Narrator we will be closing this bug as it is working fine with NVDA.

[2021-09-30 04:20] NiharikaTipirishetty commented on #1643
@beccamc Could you please confirm if this feature is publicly available? If the feature is publicly available we don't need sample app. Once the bug is logged against Narrator we will be closing this bug as it is working fine with NVDA.

[2021-09-30 04:31] vzhuqin opened #1808 "Error for refusing overwrite Notebook project on Consume page."
**System Information (please complete the following information):**

- ML.Net Model Builder: 16.7.6.2147903 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 4.1
- Notebook Editor [Preview]:0.1.0.2147804
- microsoft.dotnet-interactive:1.0.247702

**Describe the bug**
- On which step of the process did you run into an issue: Refuse to overwrite Notebook project on Cons

[2021-09-30 06:37] vzhuqin commented on #1780
Not repro this issue on model builder: 16.7.6.2147903 (Main Branch)
![1780 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/86053c7a-6c19-4603-a374-962c50fbf537)

[2021-09-30 07:08] NiharikaTipirishetty commented on #1594
Closing this bug as this issue is not observed in latest model builder version. Narrator is reading all the info in 'Create new resource group' popup.

![1594_no issue](https://user-images.githubusercontent.com/83570638/135404259-4c853aa6-b4c8-412d-b92e-48258720d66d.png)

[2021-09-30 07:08] #1594 closed

[2021-09-30 13:27] beccamc commented on #1643
@NiharikaTipirishetty, yes the navigation bug from Evaluate to Consume tab is publicly available. It's visible in our public release here https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-09-30 13:41] NiharikaTipirishetty commented on #1643
Logged an external bug against Narrator. Since the issue is not repro with NVDA screen reader, closing this bug
External Narrator bug: https://microsoft.visualstudio.com/OS/_workitems/edit/36546211

No issue with NVDA:
![1643_NVDA_no issue](https://user-images.githubusercontent.com/83570638/135466286-39feedcf-84d5-4d27-a80c-7110eeb68b79.png)

[2021-09-30 13:41] #1643 closed

[2021-09-30 13:59] beccamc commented on #1643
Thank you @NiharikaTipirishetty!

[2021-09-30 14:02] beccamc commented on #1627
All issues fixed and closed. Closing this tracking item.

[2021-09-30 14:02] #1627 closed

[2021-09-30 15:15] beccamc commented on #1805
We need to make a decision on the experience for this before we ship. We could block SQL case as a short term solution.

[2021-09-30 15:27] LittleLittleCloud commented on #1620
@lucent-sea

The error is usually because system can't load binaries. We have a known error for loading dlls when your CPU is too old and don't support avx.

Can I have your TF version and CPU mode, Thanks!

[2021-09-30 16:22] lucent-sea commented on #1620
@LittleLittleCloud

That explains it.  It's an old PC I use for hosting services on my LAN.  CPU is Intel Core i5 660.

How do I check TF version?  I'm new to ML.  I'm just using this extension: https://marketplace.visualstudio.com/items?itemName=MLNET.07.

[2021-09-30 17:22] zewditu commented on #1092
For the case of localization issue here
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/cc898524-f7b8-4b81-b59a-36c20b2b5fba)

The window is VS Message Box. The language for the Message box is coming from the  OS.

[2021-09-30 18:09] JakeRadMSFT commented on #418
@mauryflag - I'm splitting up this issue so that we can triage/prioritize each suggestion separately.

"Add the chance to do all model builder steps , including code generation , by using GPU."

For this do you mean having the generated code use GPU (like just update the NuGet reference to be the GPU tensorflow)?

Add the chance to made multiple test classification. Semi related - #60 #1588

[2021-09-30 18:09] JakeRadMSFT commented on #418
"Add the chance to made multiple test classification." Semi related - #60 #1588

[2021-09-30 18:11] JakeRadMSFT commented on #418
"Add the chance to made test classification by loading an existing model"

@mauryflag Can you expand on this one a bit? We added the ability to save and re-open mbconfig ... does that work for this?

[2021-09-30 18:12] JakeRadMSFT opened #1809 "Train/Load images from SQL database from varbinary field."

[2021-09-30 18:16] JakeRadMSFT commented on #1056
- [ ] 1) VS Extension: Save the content of the output window (with the logs about the training) as a text file when adding the projects ML.Model, ML.ConsoleApp
- [ ] 2) VS Extension: Allow to change the name of the added projects ML.Model, ML.ConsoleApp (may be to prefix them so that they are unique across different sessions?
- [ ] 3) VS Extension: Rename "Text Classification" scenario to somethin

[2021-09-30 18:20] JakeRadMSFT commented on #1056
@nsulikowski what do you use from the output window? If we move it somewhere in model builder or in the MB Config ... would that resolve 1?

I believe 2 is resolved but I'll test it out to verify.

The upcoming CLI you'll be able to retrain by passing the mbconfig. Does that resolve  number 4?

Can you add more details for number 5? What do you mean by Model Builder API? Do you mean the ML.NET Aut

[2021-09-30 18:26] luisquintanilla opened #1810 "Load Data From Multiple Files"
Issue created based on discussion on .NET Discord.

ML.NET has the option to load data from multiple files that are either in a single directory or multiple directories so long as the data is format the same way across the different files.

The suggested feature is to enable this in tooling.

https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/load-data-ml-net#load-data-from-multiple-

[2021-09-30 18:29] JakeRadMSFT commented on #918
@michaelgsharp Can you help move this over?

[2021-09-30 19:07] beccamc commented on #1807
@zewditu If you're already looking at a fix for this and it's easy, feel free to just do it!

[2021-09-30 19:11] beccamc commented on #1805
For V1 release, remove option for SQL and show a string stating it isn't supported (follow environment page)

for next release this is a P1

[2021-09-30 19:13] beccamc commented on #1803
Both should be called "Notebook"

Project template becomes "Notebook" and add dialog is "Add Notebook"

[2021-09-30 19:15] nsulikowski commented on #1056
Hi @JakeRadMSFT,
Great. Thanks for making all the amazing improvements.
By 5) I meant generating the c# to train and run a model (as you do in the addin), but be able to do it when I run automl using the api. Does that make sense?

[2021-09-30 19:18] beccamc commented on #1802
We should update the name to their project name instead of "Object detection." Then the error experience is acceptable.

[2021-09-30 19:21] beccamc commented on #1800
Time box the investigation of this.

[2021-09-30 19:25] beccamc commented on #1810
This should be addressed when we take some time for data prep. For now users can work around by merging into one big CSV.

[2021-09-30 19:52] LittleLittleCloud commented on #1620
@lucent-sea
If you are using ModelBuilder, your TF version should be 2.3.1, which is compiled with avx instructions.

I just googled i5 660 was launched in 2010, while most of CPU with avx support comes out after 2011. So it's probably that your CPU doesn't support avx.

[2021-09-30 20:53] lucent-sea commented on #1620
@LittleLittleCloud

Okay.  Thanks for looking into it.  :)

It works fine on my primary machine, and I've been having a lot of fun playing with datasets.  Thank you for helping to make ML so easy for beginners to get started!

[2021-10-01 16:47] bilalchraibi opened #1811 "ML.NET Getting Started Tutorial: Out of Date"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.1.0.2027905
 - Visual Studio Version (if applicable): Vs 2019 Version 16.11.3

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
- Clear description of the problem: Tutorial out of date

[2021-10-01 17:38] zewditu opened #1812 "VS 2022 not able to open Model builder solution"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. Install ![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/1f68c9dc-7918-458b-8aa6-e8a98ada0872)
2. Ope

[2021-10-01 17:41] zewditu commented on #1807
It is blocked by  https://github.com/dotnet/machinelearning-modelbuilder/issues/1812. This needs to open the  solution in VS2022

[2021-10-01 18:08] zewditu commented on #1812
As per our conversation with vs extensibility, we do not need to figure it out from our side. This issue is opened for the purpose to reference it somewhere else.

[2021-10-01 18:10] zewditu commented on #1794
Closed, no enough information was found from the user for further investigation.

[2021-10-01 18:10] #1794 closed

[2021-10-01 19:43] beccamc commented on #1812
@zewditu Is it correct to mark this as just "Tracking"?

[2021-10-01 19:48] zewditu commented on #1812
@beccamc . I think yes it works.

[2021-10-02 01:03] Gloppy opened #1813 "MLContext.BinaryClassification.CrossValidate - System.IndexOutOfRangeException"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.3.2143002
 - Visual Studio Version:  Community 2019 version 16.11.1

**Describe the bug**
- On which step of the process did you run into an issue: CrossValidate
- Clear description of the problem: Unable to cross validate, throws an IndexOutOfRangeException

*

[2021-10-02 17:12] zewditu commented on #1652
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/85aa3034-66a9-421d-996c-1ff90976bde6)
 ## Fixed in our main
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/3901fbf1-2ce3-4c96-b524-c08b1018d1e0)

[2021-10-04 04:15] greg-x-Chen commented on #1516
still see this issue after revert/update of ModelBuilder

[2021-10-04 04:25] greg-x-Chen commented on #1516
finally works after removed ModelBuilder with GUP support

[2021-10-04 16:42] LittleLittleCloud commented on #1813
Looks like an error in ML.Net @michaelgsharp Can you take a look

[2021-10-04 16:45] LittleLittleCloud commented on #1775
onnx 1.9.0 is availanle now

[2021-10-04 17:15] LittleLittleCloud commented on #1516
It's probably you are having an older version of GPU extension, which confuses VisualStudio on finding the correct AutoML Service when launching ModelBuilder

[2021-10-04 17:18] LittleLittleCloud opened #1814 "Considering include version as suffix for AutoML service name for each release?"
This is because VS use service name to locate AutoML service, so if more than one AutoMLService is installed on user's machine, it's very likely that VS loads the wrong one and might causes imcompatible problem.

Like this one
https://github.com/dotnet/machinelearning-modelbuilder/issues/1516#issuecomment-933132636

[2021-10-04 20:12] beccamc commented on #1811
@bilalchraibi The included screenshot is of your screen right? The tutorial shows this for me, which is correct.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/1a4cb5d9-207f-49ed-8061-ffbeefe6c4d6)

The most recent version of Model Builder includes Object Detection in the "Train with your data" scenarios. If you don't see that, can you update here https://marketplace.v

[2021-10-04 20:18] luisquintanilla commented on #1811
Thanks for reporting this.

The [scenario step](https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/scenario) in the tutorial looks mostly accurate (when it comes to # of scenarios). However, there are a few things that need updates.

- Update Text Classification to Data Classification
- Update latest version number.

![image](https://user-images.githubusercontent.com/46974588/135918

[2021-10-04 20:58] tomcdevoe opened #1815 "Getting "Trial 0 encounter error with message: Must be at least 2. Parameter name: numClasses""
- Windows 10 Pro
- 19043.1237

I'm new to Machine Learning and ML.Net (both from a coding and model builder perspective). I've written code to train and predict but though the model would be best since it seems to pick the best algorithm(s).

I'm using the Data Classification scenario in the model builder. I have a dataset (from SQL Server) that successfully trains but needed to grab a different v

[2021-10-04 21:58] bilalchraibi commented on #1811
@beccamc I had a different behavior than the one described in the tutorial, even by having visual studio and the ML Builder up-to-date.

After a restart of my computer, everything seems to behave properly, except for those small adjustments mentioned by @luisquintanilla :

- Update Text Classification to Data Classification
- Update latest version number

You can close the issue once it is fixed 😉

[2021-10-04 22:04] beccamc opened #1816 "[October] MB Release w/ Notebooks"
Version number: 16.7.6.2150402
Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5289647&view=artifacts&pathAsName=false&type=publishedArtifacts
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.7.6.2150402.md

## Testing
- [x] Test Local Scenarios
- [x] Test Azure Scenarios
- [x] Test Generated Code
- [x] Test VS 2019
- [x] Te

[2021-10-04 22:43] beccamc commented on #1816
Everything looked good for Model Builder in **VS 2022**.

[2021-10-05 01:39] #1816 closed

[2021-10-05 01:39] #1564 closed

[2021-10-05 17:03] zewditu commented on #1483
The reason for being dirty at the beginning is for non-mbconfig properties it set to be dirty like tab changing.
However, the Mb.config file is only dirty for the following property changes such as scenario, environment, Datasource, and training time.
But the data set path to change, column properties change, run history change does not notify

[2021-10-05 20:15] LittleLittleCloud commented on #1815
Hi Tom

The error indicates that your dataset has only one label to classify. however, most classifier requires at least two labels to train. In the meantime, it's also possible that even if your dataset has two label type (in your case, True/False), it's still possible to see that error if your dataset is severely imbalanced (one label kind is much more than the other). This is because we split y

[2021-10-06 16:32] KasperPi opened #1817 "Training time finished without any models trained."
Greetings,
I'm new to using this tool as well as Machine Learning. I figured I would try out the ML.NET on some data I have. I did try searching for fragments of the error message I encountered online as well as here but could not find anything relevant.

The scenario data is a book synopsis and correctly identified corresponding genre codes. (Note: there may be some meaningless synopsis in the da

[2021-10-06 19:33] beccamc opened #1818 "Add error message when newer version of MB config is opened on old Model Builder"
As we continue to update Model Builder and the .mbconfig files, some versions of Model Builder won't be able to support some .mbconfig files.

For example, if Jake crates an mbconfig files on version 16.6.8, and it creates a mbconfig file with version 1.2,  Becca won't be able to open that version on Model Builder 16.0 because it has no idea what to do with mbconfig version 1.2.

We should add in

[2021-10-06 22:40] beccamc commented on #1801
@AmritanshuAVerma It looks like there is a problem with your DataSource. Can you save your model builder file and open it in notepad? It should look something like this...

[code]
If it looks like that, can you re-open model builder and try to run again?  If that doesn't work, can you please upload your .mbconfig file here. Thanks!

[2021-10-06 23:29] luisquintanilla opened #1819 "Error thrown when training with < 100 rows"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.3.2143002
 - Visual Studio Version: VS2022 Preview 4

**Describe the bug**

Error is thrown when training with a small dataset.

**To Reproduce**
Steps to reproduce the behavior:
1. Select value prediction scenario
2. Train using a dataset with < 100 rows.

[ta

[2021-10-07 15:09] MalvernApps opened #1820 "problerm new dialogs exist"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-10-08 08:10] vzhuqin commented on #1558
The string has been updated on ML.Net Model Builder: 16.7.7.2150601 (Main Branch)

Image classification scenario:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b40b0b09-65cd-4d6a-83a4-41fae9a6aa72)

Other scenarios:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/803929d1-3101-454c-9de9-22027f533933)

[2021-10-08 08:33] vzhuqin commented on #1803
The strings have updated on:

- ML.Net Model Builder: 16.7.7.2150601 (Main Branch)
- Notebook Editor [Preview]: 0.1.1.2150613
- Microsoft.dotnet-interactive: 1.0.250604
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/94d694e6-43d4-4f94-8e40-bc0c80b368fd)

[2021-10-08 08:51] vzhuqin commented on #1757
not repro this issue on ML.Net Model Builder: 16.7.7.2150601 (Main Branch)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b2c7e842-15a4-4774-9589-f4cd4ea28d8b)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f933625c-b853-4617-9a7e-c80a9c922d2c)

[2021-10-08 13:15] Monrother opened #1821 "Failed to Open .mbconfig File"
**System Information:**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2150501
 - Visual Studio Version: Version 17.0.0 Preview 4.0 [31601.41.main]

**Describe the bug**
- On which step of the process did you run into an issue: Create a ML Builder file.
- Clear description of the problem: Keeps failing to open the .mbconfig file in Solution Explorer.

**Screenshots**
![im

[2021-10-08 18:16] zewditu commented on #1821
Sorry for hitting this issue!
Is your VS the latest preview ? if not please update and if you still hit the issue let us know!

[2021-10-08 20:43] gavinwilliams opened #1822 "Cannot add Console app to solution and Code snippet is empty"
**Model Builder Version**:  16.7.6.2150501
**Visual Studion Version**:  16.11.4

**Bug description**
Cannot add Console app to solution and Code snippet is empty

**Steps to Reproduce**
1. Add Machine Learning to project
2. Select Image Classifier
3. Train using Local CPU
4. Select image folder
5. Train
6. Press next steps
7. Click next steps on Evaluate
8. The consume tab appears

**Expected Expe

[2021-10-08 22:52] #1774 closed

[2021-10-09 07:40] gavinwilliams commented on #1822
Nope, location hasn't changed and the preview works on the data tab.

It's a brand new project. I also have the same issue as some others (in both VS 2019 & 2022 on multiple machines) where the add new model button just opens the new file dialogue.

This has only started happening with the latest update to model builder.

[2021-10-09 12:14] shaggygi opened #1823 "Referencing Unmanaged Libraries used with Managed APIs in Notebook Editor"
This issue was created here based on discussion from [here](https://github.com/dotnet/roslyn/issues/51480#issuecomment-938192377).  Please let me know if I need to move elsewhere as it is not related to the ML Model Builder.

I have a Class Library wrapper API that includes an unmanaged DLL (with DLLImports on functions) that must be located in the same directory as API and EXEs when using.  How d

[2021-10-09 20:31] Philip2809 opened #1824 "Can't Train Azure Model?"
Hello There!

I wanted to do a quick project with machine learning and followed:
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/object-detection-model-builder

BUT I ran into a problem; Visual studio thinks that the training failed when it did not according to Microsoft Azure Machine Learning Studio. I did it 3 times but got the same resultat. I can assure you I have a good int

[2021-10-09 20:47] Philip2809 commented on #1824
BTW I downloaded the latest verion from:
https://marketplace.visualstudio.com/items?itemName=MLNET.07 earlier today, as I found; https://github.com/dotnet/machinelearning-modelbuilder/issues/1793

[2021-10-09 22:03] Philip2809 commented on #1824
I think I found out what I did wrong but correct my if I am incorrect, I had WAY too little to train on, only 9 images and all failed or "skipped"?

[2021-10-10 12:43] basvanharten opened #1825 "Notebook Editor doesn't work with latest dotnet interactive version."
**System Information:**
 - Visual Studio Version: VS 2022 Preview 4.1
 - Model Builder Extension: 16.7.6.2150501
 - DotNet interactive: 1.0.250604
 - Notebook Editor extension: 0.1.0.2150107

**Describe the bug**
- Running a code block within a notebook doesn't give any result.

**To Reproduce**
Steps to reproduce the behavior:
1.Create a new Notebook with the **Add New Item** dialog (or open an e

[2021-10-10 12:58] basvanharten opened #1826 "Format the MarkDown blocks in the VS 2022 Notebook Editor"
**Is your feature request related to a problem? Please describe.**
When reviewing or using a notebook within VS 2022 formatting MarkDown helps to comprehend the notebook as intended. (Only when editing a block should the actual MarkDown code be shown).

**Describe the solution you'd like**
The MarkDown should be formatted (e.g. `**Bold**` should become **Bold**), just like in VS Code.
So this
![im

[2021-10-10 13:10] basvanharten opened #1827 "Format code blocks in VS2022 Notebook Editor"
To easily write and read C# code in the VS2022 Notebook editor it should be formatted like in the VS2022 C# Interactive tool.

So instead of
![image](https://user-images.githubusercontent.com/49393118/136697071-828e3d45-d77b-4c07-a3ea-e00b2aad6931.png)
it should be
![image](https://user-images.githubusercontent.com/49393118/136697109-1c58d999-d373-4318-bf25-ad616ceb361e.png)

This is already part

[2021-10-11 03:18] vzhuqin opened #1828 "The notebook file is not displayed under .Net472 project after added from Consume page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 4.1
- ML.Net Model Builder: 16.7.7.2150601 (Main Branch)
- Notebook Editor [Preview]: 0.2.0.2150901
- Microsoft.dotnet-interactive: 1.0.250604

**Describe the bug**
- On which step of the process did you run into an issue: no

[2021-10-11 06:41] vzhuqin opened #1829 "An overwrite notebook dialog will prompt when it is added immediately after adding other project templates."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 4.1
- ML.Net Model Builder: 16.7.7.2150601 (Main Branch)
- Notebook Editor [Preview]: 0.2.0.2150901
- Microsoft.dotnet-interactive: 1.0.250604

**Describe the bug**
- On which step of the process did you run into an issue: ad

[2021-10-11 07:06] zewditu commented on #1826
Thanks for your feature request, we are working to improve our markdown render we will have improvements in future releases.

[2021-10-11 07:41] vzhuqin opened #1830 "Model Builder Error: Not implemented (Exception from HRESULT: 0x80004001 (E_NOTIMPL)) when adding project templates to solution where has one unloaded project."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.4
- ML.Net Model Builder: 16.7.7.2150601 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: adding project templates to solution where has one unloaded project.
- Clear description of the problem: If

[2021-10-11 16:41] beccamc commented on #1797
Were you able to check the portal for this issue?

[2021-10-11 18:30] #1673 closed

[2021-10-12 06:59] vzhuqin commented on #1197
Still have some text is truncated on : ML.Net Model Builder: 16.7.7.2150601 (Main Branch), could you please take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/016d6983-e5cd-4808-aa48-19a3ddeb2049)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a6d3d846-ef59-45bc-b40e-88854415573a)
![image.png](https://images.zenhubusercontent.com/606

[2021-10-12 12:48] basvanharten commented on #1825
Downgrading to dotnet-interactive 1.0.247702 solved it. @JakeRadMSFT Thanks for the quick response

[2021-10-12 21:42] LittleLittleCloud opened #1832 "Local image classification -- search space and advance option"
Suggested search space

- Architecture : choice of [ResnetV2101, InceptionV3, MobilenetV2, ResnetV250]

Suggested option
- batch size
- epoch
- learning rate

[2021-10-13 16:55] eduardomoraes opened #1833 "VS 2022 can not consume the model"
**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):  https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
- Clear description of the problem: When I click on 'start without debug' I receive a pop up message saying 'there were build errors', and it also ask me if I would like to continue and run the last successful build.  If I click yes, there

[2021-10-13 17:25] eduardomoraes opened #1834 "Model Build error"
- Visual Studio Version (if applicable): 2022

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem:
When I click on train the model I have this message: Package restore failed. Rolling back package changes for 'myMLApp'.

 at NuGet.PackageManagement.NuGetPacka

[2021-10-13 18:11] gifhuppp opened #1835 "gifhuppp"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-10-13 18:24] JasonBock opened #1836 "Code changes aren't resulting in output changes."
**System Information (please complete the following information):**
This bug isn't related to the Model Builder, but [this page](https://devblogs.microsoft.com/dotnet/ml-net-and-model-builder-october-updates/) said to add issues here, so....I am.

**Describe the bug**
I installed the Notebook Editor (0.2.02151216) in VS 2022 Preview 5.0. I added a notebook to a project, added this code:
[code]
But

[2021-10-13 18:28] JasonBock commented on #1836
I saw [this issue](https://github.com/dotnet/machinelearning-modelbuilder/issues/1825). My `dotnet interactive` version is `1.0.251301+06badd73c27d2c2065cf835ab7bd65bccd2339ee`, but I have the latest VSIX, so....should I "downgrade" `dotnet interactive` to `1.0.247702`?

[2021-10-13 18:42] zewditu commented on #1824
@ Philip2809 please send your data.
Assume your data is not in the proper format, are you expecting to get information on the data page if there is something wrong with your data instead of your training failure?

[2021-10-13 18:44] zewditu commented on #1824
@JakeRadMSFT  @LittleLittleCloud  and @beccamc  arr all data issues in OD notified to the user in data page?

[2021-10-13 18:53] JasonBock commented on #1836
At least the notebook is running now. I'll put in separate issues for behaviors I'm seeing.

[2021-10-13 19:00] JasonBock opened #1837 "Notebook File Doesn't Detect Changes"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): Notebook Editor: 0.2.0.2151216
 - Visual Studio Version - Version 17.0.0 Preview 5.0

**Describe the bug**
Changes aren't saved until I explicitly save the document.

**To Reproduce**
Steps to reproduce the behavior:
1. I open a notebook
2. I change code
3. I close

[2021-10-13 19:33] JakeRadMSFT commented on #1836
Re-opening issue to use this as tracking the issue mentioned above.

[2021-10-13 19:37] #1827 closed, assigned to zewditu

[2021-10-13 19:37] #1825 closed

[2021-10-13 20:41] fredrick72 opened #1838 "Object reference not set to an instance of an object."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2150501
 - Visual Studio Version 16.11.3

**Describe the bug**
- On which step of the process did you run into an issue: Code Generation
- Clear description of the problem: After model training i get the exception just as the code behind is about to be create

[2021-10-13 21:04] eduardomoraes commented on #1834
The target framework is set up to .net5.0
This is happening when I try to train the model, as I've shown in the previous screenshot.

This is the log file:

2021-10-13 16:57:01.7901 INFO Set log file path to C:\Users\eduar\AppData\Local\Temp\MLVSTools\logs\SentimentModel-5A7DLM.txt (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2021-10-13 16:57:21.5581 DEBUG AutoMLType: Octopus (Microsoft.ML.ModelB

[2021-10-13 21:15] #1836 closed

[2021-10-14 06:26] zewditu commented on #1833
@eduardomoraes, Sorry for the confusion actually it should also work for projects targeted to .net 6.
It might not be a wise solution but could you uninstall your vs and install it. I saw a similar issue online  https://stackoverflow.com/questions/61140481/visual-studio-debug-executable-specified-in-the-debug-profile-does-not-exist.

[2021-10-14 09:28] fredrick72 opened #1839 "Unable to split the file provided into multiple, consistent columns."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2150501
 - Visual Studio Version 16.11.3

**Describe the bug**
- On which step of the process did you run into an issue: Model Training
- Clear description of the problem: While creating an image tagging project I hit an exception after the VOTT JSON transfer

[2021-10-14 17:51] JakeRadMSFT commented on #1839
@fredrick72 Can you walk us through the steps you took?

Did you choose Object Detection on the main page? This makes it seem like it's trying to parse as CSV/TSV which I think we only do for the other scenario types.

[2021-10-14 19:07] JakeRadMSFT commented on #1817
@KasperPi can you share the dataset you're trying to use?

[2021-10-14 19:13] #1811 closed

[2021-10-14 20:45] bonafideL7 opened #1840 "What scenario do I select?"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): 3
- Clear description of the problem: I am not provided an option to name the ML project only select a scenario

**To Reproduce**
Steps to reproduce the behavior:
Follow

[2021-10-15 02:47] vzhuqin opened #1841 "Model Builder Error: "The method or operation is not implemented." during Azure training."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Azure training
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Se

[2021-10-15 02:54] vzhuqin commented on #1837
also repro on notebook editor: Notebook Editor [Preview]: 0.2.1.2151402

[2021-10-15 03:11] vzhuqin opened #1842 "Model Builder reverted to the old version after updated another extension."
**System Information (please complete the following information):**

- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Model Builder version reverted to one older after update other extensions in Manage Ext

[2021-10-15 05:54] zewditu commented on #1835
@gifhuppp could you tell more about the issue you found to help you better?

[2021-10-15 06:25] vzhuqin opened #1843 "Cannot scroll up and down the notebook file if hover on the results area."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- Notebook Editor [Preview]: 0.2.1.2151402

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2022 start window;
2. Choose the C# Console App (.NET Core) p

[2021-10-15 06:53] vzhuqin opened #1844 "Cannot add new cells above the first cell of the notebook file."
**System Information (please complete the following information):**
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder 2022: 16.8.3.2151403 (Main Branch)
- Notebook Editor [Preview]: 0.2.1.2151402

**To Reproduce**
Steps to reproduce the behavior:

1. Select Create a new project from the Visual Studio 2022 start window;
2. Choose the C# Console App (.NET C

[2021-10-15 07:33] vzhuqin opened #1845 "Only the last three lines of code displays in the cell after copied and pasted multiple lines of code to Notebook file."
**System Information (please complete the following information):**
 - Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Notebook Editor [Preview]: 0.2.1.2151402

**Describe the bug**
- On which step of the process did you run into an issue: copy and paste multiple lines of code to the cell
- Clear description of the problem:

[2021-10-15 08:07] vzhuqin opened #1846 "Should keep the focus on the newly added cell in the Notebook file."
**System Information (please complete the following information):**
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Notebook Editor [Preview]: 0.2.1.2151402

**Describe the bug**
- On which step of the process did you run into an issue: add blank notebook or add new cell
- Clear description of the problem: the cursor is n

[2021-10-15 08:17] pierre01 commented on #1751
Sucky support for ML.NET, Why can't it be at least backward compatible on a technology that isn't even  2 years old.

[2021-10-15 08:35] vzhuqin opened #1847 "Squiggles are not displayed for the code in errors in Notebook file."
**System Information (please complete the following information):**
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Notebook Editor [Preview]: 0.2.1.2151402

**Describe the bug**
- On which step of the process did you run into an issue: The problematic code in the cell.

**To Reproduce**
Steps to reproduce the behavior:

[2021-10-15 09:20] vzhuqin opened #1848 "The result of running in the Notebook file does not display the string with <>."
**System Information (please complete the following information):**

- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Notebook Editor [Preview]: 0.2.1.2151402

**Describe the bug**
- On which step of the process did you run into an issue: run the code in https://tinyurl.com/csharp-notebook10

**To Reproduce**
Steps to repr

[2021-10-15 17:24] zewditu commented on #1840
@bonafideL7
To answer what scenario do I select please refer https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-model-builder#which-machine-learning-scenario-is-right-for-me.
Could you explain more?  what do you mean by " I am not provided an option to name the ML project only select a scenario"

[2021-10-15 17:27] #1835 closed, assigned to zewditu

[2021-10-15 17:33] #1820 closed, assigned to zewditu

[2021-10-15 18:02] zewditu opened #1849 "Add notebook to Solution has Model Builder error"
**Model Builder Version**: 16.8.3.2151403
**Visual Studion Version**: 17.0.0 preview 4.1

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of what you expected to happen. If applicable, add screenshots or "Machine Learning" O

[2021-10-15 20:03] JakeRadMSFT commented on #1848
Nice find! Anything that isn't coming back as html should be html encoded before we send it

[2021-10-15 21:24] #1848 closed

[2021-10-16 15:03] SKYR0M opened #1850 "Machine Learning Model (ML.NET) not there"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 1.5.0-preview2
 - Visual Studio Version (if applicable): Version 16.8.6

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): Page 3 (https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create)
- Clear description of the problem: When I go to add 'Mach

[2021-10-16 17:59] JaDaar opened #1851 "Missing ML.NET Context Menu Item"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.2.0+511cc1082bef7a4bbb2f83ad88c1c425c932079c
 - Visual Studio Version (if applicable): 2019 16.11.5

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/create
- Clear description of the problem: S

[2021-10-18 03:14] vzhuqin opened #1852 "Cannot stop cell execution during running cell in Notebook file."
**System Information (please complete the following information):**

- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Notebook Editor [Preview]: 0.2.1.2151510

**Describe the bug**
- On which step of the process did you run into an issue: running any cell
- Clear description of the problem: it always displays the run cell

[2021-10-18 06:34] vzhuqin commented on #1845
This issue has been fixed on Notebook Editor [Preview]: 0.2.1.2151510
![1845Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/53680658-20ec-4b29-82ce-00ccb9157bb9)

[2021-10-18 07:14] vzhuqin opened #1853 "The combination of background color and font color of "Add to solution" button looks dazzling in dark theme."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Dark theme>Consume page>Add to solution dialog
- Clear description of the problem: When hovering on the "Ad

[2021-10-18 08:22] vzhuqin opened #1854 "The order of the predicted label scores is unruly."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: the running results of generated ConsoleApp and WebApi project of Image classification scenario.
- Clear de

[2021-10-18 09:36] vzhuqin opened #1855 "Error "The name 'BinaryClassification' does not exist in the current context" when running the generated projects for Data classification scenario."
**System Information (please complete the following information):**
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 5.0

**Describe the bug**
- On which step of the process did you run into an issue: run the generated projects for Data classification scenario
- Clear descriptio

[2021-10-18 10:09] vzhuqin opened #1856 "Sometimes prompt Model Builder Error when training Data classification scenario."
**System Information (please complete the following information):**
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- ML.Net Model Builder: 16.8.3.2151403 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: training Data classification scenario
- Clear description of the problem: This issue doesn't occur 100%, it maybe completed without error when you t

[2021-10-18 16:44] ffquintella opened #1857 "Bug in model builder during training"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_

16.7.6

**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_
2022 (but it also happens on 2019)

**Bug description**
_A clear and concise description of what the bug is._
I receive the message:

Microsoft.ML.ModelBuilder.ViewModels.TrainViewModel.<<StartTrainingAsync>b__109_0>d.Mo

[2021-10-18 17:10] LittleLittleCloud commented on #851
What's the error says?

[2021-10-18 18:06] LittleLittleCloud opened #1858 "Forecasting - scenario page"
// design doc

[2021-10-18 18:06] LittleLittleCloud opened #1859 "Forecasting - scenario page"
// design doc

// implementation

![image](https://user-images.githubusercontent.com/16876986/137788087-1f7b5758-2ebd-48c3-a263-d06e3b5612cc.png)

[2021-10-18 18:40] #1858 closed, assigned to LittleLittleCloud

[2021-10-18 18:43] LittleLittleCloud opened #1860 "Tool tip in scenario page doesn't work"
**System Information (please complete the following information):**
 - Model Builder Version: Current main

**Describe the bug**
the hint text message doesn't show when moving mouse over scenario description text box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to scenario page
2. put mouse over object detection's description
3. tootip doesn't show

[2021-10-18 20:32] LittleLittleCloud commented on #1672
The error `2021-08-03 17:37:55.2373 DEBUG System.FormatException: String ' available trainer: LGBM, RF, FASTTREE, LBFGS, SDCA ' was not recognized as a valid Boolean.` is not fatal. It will just causes FF manager to return false and disable functions.

The fatal error is in data processing, where the dataset's header is determined as "false" by prose while it's true. However even setting `--has-he

[2021-10-18 20:33] LittleLittleCloud commented on #1672
@beccamc Can you fix this in model builder side and I'll take over mlnet.cli side

[2021-10-19 00:53] ffquintella commented on #1857
yes there is an error dialog and a log file

The error dialog can be seen on the following image
![image](https://user-images.githubusercontent.com/4389839/137826026-f4a6b5d2-0d13-4294-a51d-9758bb0b22e3.png)

And the log file is:
[MLModel1-PNHWF3.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7369398/MLModel1-PNHWF3.txt)

[2021-10-19 00:56] ffquintella commented on #1857
Just to make it easier the first line on the error dialog means:
Object reference not defined to an object instance

[2021-10-19 06:34] mturetchi commented on #851
An error occurs because ModelInputBytes does not contain ImageSource, and if I add this field, (thinking that Features Column will be copied to ImageSource), then the result will be an array of scores with values 0

[2021-10-19 08:08] vzhuqin opened #1861 "No generate the .csv reports started with "Train" and "MBConfig"."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- MLNet: 16.8.3

**Describe the bug**
- On which step of the process did you run into an issue: check after running "dotnet msbuild Run.proj"
- Clear description of the problem: Not sure if this is a new update, is there no the two csv files generated?

**To Reproduce**
Steps to reproduce t

[2021-10-19 08:24] vzhuqin opened #1862 "Some explored models are not shown in the experiment output list of mlnet cli."
**System Information (please complete the following information):**
-  Windows OS: Windows-10-Enterprise-21H1
- MLNet: 16.8.3

**Describe the bug**
- On which step of the process did you run into an issue: Manually run a regression experiment to see if output looks fine

**To Reproduce**
Steps to reproduce the behavior:
1. Manually run a regression experiment;
2. See issue: sometimes not all explo

[2021-10-19 08:36] vzhuqin opened #1863 "Show error message: "The last trial encounter error with message: One or more errors occurred. (Operation was canceled.)" in the output of mlnet cli."
**System Information (please complete the following information):**

- Windows OS: Windows-10-Enterprise-21H1
- MLNet: 16.8.3

**Describe the bug**
- On which step of the process did you run into an issue: Manually run a regression experiment to see if output looks fine

**To Reproduce**
Steps to reproduce the behavior:

1. Manually run a regression experiment;
2. See issue: The output at the end

[2021-10-19 09:07] vzhuqin opened #1864 "The pre-filled fields on Evaluate page are from the first row without blank values."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- ML.Net Model Builder: 16.8.3.2151801 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: when there are blank values in the first few rows, the pr

[2021-10-19 21:36] beccamc commented on #1217
@andrasfuchs The problem with the data preview for your dataset is the `"."` character in the column header.  The decimal dot `"."` is used by the WPF binding expression as property path separator.  It is just a problem with our display and shouldn't affect the training itself.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/07ecb856-d8a4-446f-8f76-f74b6099eb72)

That b

[2021-10-20 01:22] #1864 closed, assigned to nobody

[2021-10-20 02:22] vzhuqin commented on #1842
This issue also occurs after updated VS version.

Update Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0  to Preview 6.0 from Preview 5.0

[2021-10-20 17:57] beccamc opened #1865 "Azure Dataset support"
Option for working demo: Use pipeline to download the data to the correct place for training
- [ ] Need relative file path: https://github.com/dotnet/machinelearning-modelbuilder/issues/1656
- [ ] Download the dataset with Azure ML CLI and place in relative path specified by mbconfig file

V0: Create new dataset each time. e.g. replace blob with dataset
V1: Add dataset support with UI

Design spec

[2021-10-20 21:52] beccamc commented on #1092
@zewditu Can this issue be closed if the Error, Yes and No are from the OS?

[2021-10-21 12:42] chethan-nichi opened #1866 "Value cannot be null: file name"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
Ans:- 16.6.0
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_
Ans:- VS 2019 Version - 16.11.5

**Bug description**
I was unable to generate code after model training is completed

**Steps to Reproduce**
1. Select scenario as Image classification
2. Select environment as local C

[2021-10-21 17:08] #1834 closed, assigned to zewditu

[2021-10-21 17:11] #1833 closed, assigned to zewditu

[2021-10-21 18:37] enjoy8bit commented on #1751
![image](https://user-images.githubusercontent.com/4288419/138336981-051f8ae8-8ba5-4194-8d27-f67be781f134.png)

The full path seems to already be used here.

[2021-10-21 21:46] beccamc commented on #1862
@beccamc double check if this is a duplicate

[2021-10-21 21:52] beccamc commented on #1856
Need epic for Object null errors.

[2021-10-21 22:11] beccamc commented on #1105
Add warning on data page that file header cannot be used.

[2021-10-21 23:21] beccamc commented on #1862
It looks like there is some overlap with https://github.com/dotnet/machinelearning-modelbuilder/issues/1746, but additional issues are mentioned here.

[2021-10-21 23:26] beccamc commented on #1852
Moved to https://github.com/microsoft/VS-Notebook/issues/88

[2021-10-21 23:26] #1852 closed

[2021-10-21 23:27] #1843 closed, assigned to nobody

[2021-10-21 23:28] beccamc commented on #1847
Moved to https://github.com/microsoft/VS-Notebook/issues/90

[2021-10-21 23:28] #1847 closed

[2021-10-21 23:29] beccamc commented on #1846
https://github.com/microsoft/VS-Notebook/issues/91

[2021-10-21 23:30] beccamc commented on #1846
Oh wait, my mistake. This is fixed. Moving this issue to valid, and closing the issue in the notebook repo

[2021-10-22 02:27] vzhuqin commented on #1844
Fixed on Notebook Editor [Preview]: 0.2.1.2152103
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/67166ae5-97d8-438c-b7f2-d4bde16e2084)

[2021-10-22 17:19] LittleLittleCloud opened #1867 "Unable to save model when training complete"
**Model Builder Version**: main
**Visual Studion Version**: vs 2022

Looks like a regression caused by this PR

https://github.com/dotnet/machinelearning-tools/pull/1281

which makes JsonRpc fail to marshal PathConfiguration to Json correctly

[2021-10-22 19:49] #1867 closed, assigned to nobody

[2021-10-23 17:08] Adevill20 opened #1868 "JSON Deserialize error for image classification"
**System Information (please complete the following information):**
 - 16.7.6.2150501
 - Visual Studio Version 16.11.5

**Describe the bug**
- Once I've selected image classification and the folder containing the Microsoft demo flower images ( [https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-model-builder#data] ).
- At the training step, as soon as I've started the

[2021-10-24 08:14] DooHyeonKo opened #1869 "How to fix this error?"
위치: Microsoft.ML.AutoML.UserInputValidationUtil.ValidateTrainDataColumn(IDataView trainData, String columnName, String columnPurpose, IEnumerable`1 allowedTypes)
   위치: Microsoft.ML.AutoML.UserInputValidationUtil.ValidateColumnInformation(IDataView trainData, ColumnInformation columnInformation, TaskKind task)
   위치: Microsoft.ML.AutoML.ExperimentBase`2.ExecuteCrossValSummary(IDataView[] trainData

[2021-10-24 13:06] #1869 closed, assigned to nobody

[2021-10-24 16:45] peter249 opened #1870 "ONNX model generation"
**Is your feature request related to a problem? Please describe.**
Would save all the bother of creating it in the code

**Describe the solution you'd like**
ONNX model generated by default - or at least available by option

**Describe alternatives you've considered**
Creating it within the generated console app

**Additional context**
none

[2021-10-25 16:20] ooples opened #1871 "Column names not properly escaped for SQL Server data source"
Trying out the model builder and I have a column called Open in my database table which after the initial error I tried to set to ignore and still get the error below:

[code]

[2021-10-26 01:57] vzhuqin opened #1872 "No code snippet and "Add to solution" buttons on Consume page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- ML.Net Model Builder: 16.9.0.2152501 (Main Branch)

**Describe the bug**
- On which step of the process did you run into an issue: Consume page
- Clear description of the problem: After training completed, find that there is no the code s

[2021-10-26 11:14] torronen opened #1873 "Column purposes should have Sampling Key"
**Is your feature request related to a problem? Please describe.**
At the moment, Advanced Data Options dialog box only supports 3 column purposes: Feature / Label / Ignore.

Some datasets overfit easily when validation/test data is chosen randomly. These might include datasets which include items about the same entity (for example, blood results of the same patient at different times or credit ca

[2021-10-26 11:35] torronen opened #1874 "Help understand results: Show estimate for chance of being above random"
**Background**
The "ethics of AI" is increasing in importance, especially in government projects. Tools like Model Builder make building machine learning models very fast and easy which could lead to de-emphasis on testing and validation. Low-performing models have ethical implications in certain cases as it may influence decision making.

While tracking a potential bug, I am running a random valu

[2021-10-26 16:25] torronen opened #1875 "Consider limiting the search range of tree parameters to save system memory"
It seems Model Builder has better search range for hyperparameters than defaults in AutoML ML.NET library. However, the trees can grow extremely big which will no longer fit in RAM + swap space of even high-end development machines. For example, latest generation Ryzen's are limited to 128 GB RAM and heavy swap usage makes it very slow.

Maybe limiting the tree size in Model Builder might be suita

[2021-10-27 05:43] #1837 closed, assigned to zewditu

[2021-10-27 06:52] vzhuqin opened #1876 "Display incorrect evaluation metrics on Train and Evaluate pages for Multiclass classification."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152702
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Train and Evaluate pages
- Clear description of the problem: the evaluation metrics should be MicroAccuracy, but displa

[2021-10-28 03:23] vzhuqin opened #1877 "Model Builder Error: can't find image in boxes after input the json file with image labeling."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152703
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Object detection>Data page
- Clear description of the problem: after input the json file with image labeling, prompt Mo

[2021-10-28 22:34] #1844 closed, assigned to zewditu

[2021-10-28 23:07] beccamc opened #1878 "Wrong tooltip on local label for cards"
Local label is using the Azure string

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/254effce-33c6-41fc-8a26-f60bcf3ca2ae)

[2021-10-29 07:55] vzhuqin opened #1879 "The display of file path is delayed by data preview."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Data page
- Clear description of the problem: Browse to input a file data set, then find that the file path is displaye

[2021-10-29 08:16] vzhuqin opened #1880 "The input field is not focused."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Data page
- Clear description of the problem: Except image classification, the input fields for other scenarios are not

[2021-10-29 08:29] vzhuqin opened #1881 "Json file path picker wrong for Object detection."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Object Detection>Data page>select a json file
- Clear description of the problem: Click "..." to select a json file, it

[2021-10-29 08:50] vzhuqin opened #1882 "Code gen error on Titanic dataset"
**System Information (please complete the following information):**
 - Windows OS: Windows-10-Enterprise-21H1
 - Model Builder Version (available in Manage Extensions dialog): 16.8.3

**Describe the bug**
- On which step of the process did you run into an issue: build the generated consoleApp project for data classification.
- Clear description of the problem:

**To Reproduce**
Steps to reproduce

[2021-10-29 17:18] #1878 closed, assigned to nobody

[2021-10-29 17:25] LittleLittleCloud opened #1884 "Image scenario - notebook generation is broken"
**System Information (please complete the following information):**
 - Model Builder Version: current main
 - Visual Studio Version

[2021-10-29 20:12] beccamc commented on #1884
This should be in the next build we release right?

[2021-10-29 20:12] LittleLittleCloud commented on #1884
Yep

[2021-10-29 23:38] pierre01 commented on #1751
No:
***@***.***
 And when I trey to reinstall the

ML.NET Model Builder GPU Support 2022

I get:

***@***.***

From: Becca McHenry ***@***.***>
Sent: Friday, October 29, 2021 09:59
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Pierre Huguet ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Visual Studio 2022 Preview (Image classification does not work

[2021-10-30 00:00] pomeara commented on #1333
@beccamc sure thing here are my nugets...

    <PackageReference Include="Microsoft.ML" Version="1.6.0" />
    <PackageReference Include="Microsoft.ML.FastTree" Version="1.6.0" />
    <PackageReference Include="Microsoft.ML.LightGbm" Version="1.6.0" />

And here is my stack trace
`Copying generated code to project... (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2021-10-30 03:39:43.1003 INFO Copyi

[2021-10-30 15:40] Wvader commented on #858
[code]
With the following dataset: https://archive.ics.uci.edu/ml/machine-learning-databases/00601/

The MS tutorial: https://youtu.be/sBHRd6e5ZBY

[2021-10-30 16:21] sahgilbert commented on #851
Regarding [This comment above](https://github.com/dotnet/machinelearning-modelbuilder/issues/851#issuecomment-913715010) I too have the same problem and would like to see **an overload for Uri's being supported** when making predictions.

This will of course allow us to upload images via an API to Azure Blob Storage, and then make predictions against these images simply by passing in the public bl

[2021-10-31 02:40] ffquintella commented on #1857
I didn´t find anything relevant there but here it is
[1d5d63e0-aa53-47df-ba66-5bb9e51c3b37-MLModel1.ImageTrainData.tsv.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7447959/1d5d63e0-aa53-47df-ba66-5bb9e51c3b37-MLModel1.ImageTrainData.tsv.txt)

[2021-10-31 02:41] ffquintella commented on #1857
Another version of the file form another tria
[7419ed04-e0c3-479d-9935-9d98aec92521-MLModel1.ImageTrainData.tsv.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7447961/7419ed04-e0c3-479d-9935-9d98aec92521-MLModel1.ImageTrainData.tsv.txt)
l

[2021-10-31 14:38] torronen opened #1885 "Suggestion: Shareable dataset schema"
**Is your feature request related to a problem? Please describe.**
Sometimes the InferColumns from ML.NET and Model Builder assume the data type differently. Also, in some cases I might want to change 0/1 values to Boolean manually, or vice versa.

**Describe the solution you'd like**
A file describing the column types and purposes for both Model Builder and ML.NET library. .MBConfig file could be

[2021-10-31 14:51] sahgilbert opened #1886 "Image Classification: Model Builder Error - Value cannot be null. Parameter name: path"
**System Information (please complete the following information):**
 - Model Builder Version: ML.Net Model Builder 2019 Version 16.7.6.2150501
 - Visual Studio Version: VS Community 2019 Version 16.11.5

**Describe the bug**
- Training stops after a few minutes, followed by a popup dialog box error message.
- The error message is pasted further down the page.

**To Reproduce**
Steps to reproduce t

[2021-11-01 07:02] vzhuqin opened #1887 "Model Builder Error "Could not find input column 'ImageSource' Parameter name: inputSchema" when adding WebAPI project to solution."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Object detection>Consume page: Add WebAPI project to solution

**To Reproduce**
Steps to reproduce the behavior:
1. Sel

[2021-11-01 07:42] vzhuqin commented on #1887
This issue happens on Azure environment ( Image classification and Object detection),  and also see the error when predicting the model on Evaluate page of Image classification>Azure.
![image](https://user-images.githubusercontent.com/81727020/139637959-8cc26242-d3ca-44cc-b5ea-c5c1dff93c46.png)

[2021-11-01 07:52] zewditu commented on #1829
- Model builder version 16.9.1.2152802

- Notebook Editor [Preview]: 0.2.2.2152602

- VS 2022 preview 7.0
The original and blocker issues are not reproducible.

[2021-11-01 07:56] zewditu commented on #1808
- Model builder version 16.9.1.2152802

- Notebook Editor [Preview]: 0.2.2.2152602

- VS 2022 preview 7.0
This issue is not reproducible.

[2021-11-01 07:59] vzhuqin opened #1888 "Model Builder Error during training if the scenario is switched from Forecasting."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Switched the scenario from Forecasting, continue the next steps, prompts model builder error during training.

**To Rep

[2021-11-01 08:25] vzhuqin opened #1889 "Running Web API fail for Image classification."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: Image classification (Local CPU)>PowerShell run the generated Web API project

**To Reproduce**
Steps to reproduce the

[2021-11-01 08:44] vzhuqin opened #1890 "Errors for running Notebook of Object detection."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802
 - Notebook Editor [Preview]: 0.2.2.2152602
 - Microsoft Visual Studio Enterprise 2022 Preview (64-bit): Version 17.0.0 Preview 7.0

**Describe the bug**
- On which step of the process did you run into an issue: run the generated notebook of Object de

[2021-11-01 09:07] vzhuqin opened #1891 "Error messages in the notebook file cannot be copied and not wrap."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802 (Main)
 - Notebook Editor [Preview]: 0.2.2.2152602

**To Reproduce**
Steps to reproduce the behavior:

1. Select Create a new project from the Visual Studio 2022 start window;
2. Choose the C# Class Library (.NET Core) project template with .Net 6.0;

[2021-11-01 10:06] vzhuqin opened #1892 "The output of running WebAPI is confusing."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2152802 (Main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: running the generated WebAPI projects
- Clear description of the problem: why print the Feature columns with wei

[2021-11-01 15:24] beccamc commented on #1751
Sorry @pierre01 I can't see the image or error you included after "I get:"

[2021-11-01 16:13] beccamc commented on #1891
This should go in the Notebook repo. I've moved it - https://github.com/microsoft/VS-Notebook/issues/99

Thanks Qin!

[2021-11-01 16:13] #1891 closed

[2021-11-01 16:55] gruxie opened #1893 "Model builder error while generating notebook"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2155101
 - Visual Studio Version:  VS 2022 / V. 17.0.0 Preview 6.0

**Describe the bug**
Created the ML SentimenetModel project through consume (did not create notebook)
Tested the code through 2-3 cycles
Returned to the .mbconfig file -> selected "Notebook"

[2021-11-01 22:24] beccamc commented on #1520
Working run with datasets [here](https://ml.azure.com/experiments/id/eab5ce45-c398-4551-93fc-5657ca789f89/runs/6b935572-37ea-4cf6-a2f3-46d43ac64bf5?wsid=/subscriptions/83635e26-687a-4333-a2a0-33e3cd1f573a/resourceGroups/eastus/providers/Microsoft.MachineLearningServices/workspaces/BasicWorkspace&tid=72f988bf-86f1-41af-91ab-2d7cd011db47&isGlobalView=false#outputsAndLogs)

[2021-11-01 22:51] zewditu opened #1894 "The JSON-RPC connection with the remote party was lost before the request could complete."
**Model Builder Version**: Latest  main
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of what you expected to happen. If applicable, ad

[2021-11-01 22:59] pierre01 commented on #1751
I modified the images in my comment above.

**You can ignore my comment as the latest version has fixed this issue .**

[2021-11-02 01:47] vzhuqin commented on #1828
Also met this issue on latest main: 16.9.1.2155101

[2021-11-02 02:15] vzhuqin opened #1895 "Should not have "Train in Azure" option on "Next steps" page for scenarios that do not support Azure."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2155101 (Main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- On which step of the process did you run into an issue: "Next steps" page
- Clear description of the problem: "Train in Azure" option on "Next steps" page should only s

[2021-11-02 02:26] pierre01 commented on #1886
I have the exact same  issue.

VS Studio 2022 - ML.NET Builder GPU 2022  16.7.6.2152701

I can't send the full log as it occurs at the end of the training with 34,000 images

The logs ends like this:

2021-11-01 16:58:40.1490 DEBUG Value cannot be null.
Parameter name: path
   at System.IO.DirectoryInfo..ctor(String path)
   at Microsoft.ML.ModelBuilder.ViewModels.TrainViewModel.<SendTrainingCompl

[2021-11-02 02:29] vzhuqin opened #1896 "VS will crash when clicking "Train in Azure" option."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2155101 (Main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.5
 - Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 7.0

**Describe the bug**
- On which step of the process did you run into an issue: "Next steps" page
- Clear description of

[2021-11-02 02:35] pierre01 commented on #1886
Although the Model is created and the experiment ended,
I am unable to go to the next step, because it is showing as failed,
I am able to open the Generated Model with Netron

[2021-11-02 08:10] vzhuqin commented on #1499
this issue has been fixed on latest main: 16.9.1.2155101
Image classification:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f8bd2f23-8346-49a2-bf0b-4162645913a9)
Object detection:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4cc1cb2f-4e96-41a6-8a12-1e4aaebd294c)

[2021-11-02 08:56] vzhuqin commented on #1829
Yes, not repro the original issues. I will open new issue for the new error dialog.

[2021-11-02 09:07] vzhuqin commented on #1808
Hi @zewditu , I can repro this issue on latest main, could you take a look?
- Notebook Editor [Preview]: 0.2.2.2152602
- ML.Net Model Builder: 16.9.1.2155101 (Main)
![Repro_1808.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ab897bfb-5ef9-4d51-81c1-f933442fc266)

[2021-11-02 09:32] vzhuqin commented on #1829
update, @zewditu I met this issue on Value predication scenario, please take a look?
- Notebook Editor [Preview]: 0.2.2.2152602
- ML.Net Model Builder: 16.9.1.2155101 (Main)
[Dateset](https://testpass.blob.core.windows.net/test-pass-data/taxi-fare.csv)
![Repro_1829.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f5560c18-b942-46f0-a281-881d573c2dea)

[2021-11-02 13:05] himalpatel81 opened #1897 "Sql data source doesn't work when columns contain Datetime type."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.7.3.2143002
 - Visual Studio Version : VS 2022

**Describe the bug**
- I'm training sql server data for value prediction. While starting training getting the error.
- Clear description of the problem:
-

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-11-02 16:51] beccamc commented on #925
- [x] Icons are larger
- [x] Message icon is outline instead of filled
- [x] Title case and ellipses at the end of text
- [x] Smaller spacing between text and icon

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/cbc4b69b-a640-458c-acba-00d1ec67c9af)

[2021-11-02 16:51] #925 closed

[2021-11-02 16:56] LittleLittleCloud commented on #1897
Looks like trial fail to load data from dataset

![image](https://user-images.githubusercontent.com/16876986/139910446-d6b44d93-5ec2-4ccf-a505-744fcfe0405a.png)

Can you upload `C:\Users\hpatel\AppData\Local\Temp\AutoML-NNI\Experiment-VH6LNV\train.bin` so we can examine the file header, regards

[2021-11-02 16:58] beccamc commented on #1723
#### Item 1
![processingdata.gif](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/97407556-752a-4cb2-bdd3-cad9a202ac3c)

#### Item 2
Default behavior of control

#### Item 3

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/8bebee70-cc64-40d4-9ff4-b016370d1de0)

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/11bf1dfa-999f-401b-815

[2021-11-02 16:58] #1723 closed

[2021-11-02 17:21] LittleLittleCloud commented on #1839
The error indicates that the file is not in a valid fix-width tabular format. It's probably something wrong when we transfer VOTT json into csv and saved in temp folder and it would be of great help if you can upload that file for us to debug.

The csv file is in temp folder and has a format ${GUID}-object-detection.ImageTrainData.csv.

Regards
Xiaoyun

[2021-11-02 17:25] LittleLittleCloud commented on #1874
@briacht

Thanks for the suggestions, and something to add

Accuracy is a bad metric to default with especially in binary classification, the least thing we can do is default to AUC, which will be more indicative.

[2021-11-02 17:26] LittleLittleCloud commented on #1881
@beccamc

[2021-11-02 17:40] LittleLittleCloud commented on #1886
Looks like the same issue with https://github.com/dotnet/machinelearning-modelbuilder/issues/1751#issuecomment-948794309

One solution can be check your .mbconfig file and make sure folder path is there, then start a new training with the same config. In the meanwhile, we will fix this in next release.

Thanks for reporting!

[2021-11-02 17:42] LittleLittleCloud commented on #1887
The code gen is broken for all image scenarios, I'll fix that.

[2021-11-02 17:44] LittleLittleCloud commented on #1888
won't fix
It's expected in main branch since forecasting is still in progress.

[2021-11-02 17:50] LittleLittleCloud commented on #1894
Can't reproduce it on main

[2021-11-02 17:51] LittleLittleCloud commented on #1895
@zewditu Can you take a look?

[2021-11-02 17:51] LittleLittleCloud commented on #1896
@zewditu Can you take a look?

[2021-11-02 17:53] LittleLittleCloud commented on #1893
Looks like you are on our latest main branch which is unstable and might be buggy, could you try the one on market place?

[2021-11-02 17:55] LittleLittleCloud commented on #1893
#1884

[2021-11-02 17:58] LittleLittleCloud commented on #1855
This error is the same with #1882, I'll close this issue and tracking the error on that thread

[2021-11-02 17:58] #1855 closed

[2021-11-02 18:04] LittleLittleCloud commented on #1886
Looks like the error has already been fixed by @beccamc

[2021-11-02 18:47] zewditu commented on #1829
The original issue is resolved.  This is a separate issue.

[2021-11-02 18:53] zewditu opened #1898 "Add Notebook overwrite user answere NO shows error window"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1.select value prediction
2. Pass all the steps  Add notebook with the same name as the existed notebook
3. Click no in the dialog

[2021-11-02 21:50] beccamc commented on #1884
Is this the same as https://github.com/dotnet/machinelearning-modelbuilder/issues/1890?

[2021-11-02 23:34] LittleLittleCloud commented on #1884
Nope,, should be a different issue

[2021-11-03 00:26] himalpatel81 commented on #1897
Hi @LittleLittleCloud ,
train.bin file is empty. 0 KB.
 I restart the VS and tried again and got attached error.

Error Detail: Shuffle input cursor reader failed with an exception.
If I try again, the error is : Object reference not set to an instance of an object.

[MLWorkflowPredictionModel-W41J9H.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7464684/MLWorkflowPredictionMode

[2021-11-03 02:20] vzhuqin commented on #1513
the error dialog is still prompts after clicked one scenario on latest main: 16.9.1.2155201
- Windows OS: Windows 11 Enterprise 21H2
- Microsoft Visual Studio Enterprise 2022 Preview: 17.0.0 Preview 7.0
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/78d6eff2-850b-4cbd-8e82-df7f99a861d6)

[2021-11-03 03:43] zewditu commented on #1894
@LittleLittleCloud   Thanks to confirm it , it is not also reproduced in my latest main just in time.

[2021-11-03 03:43] #1894 closed

[2021-11-03 15:02] torronen commented on #1874
This article discusses uncertainty in small datasets https://towardsdatascience.com/small-data-large-uncertainty-1d4059ced4f8 As I recall, validation data set size depends on the size of the full dataset in Model builder and is not a fixed percentage. That makes me think that it might be a good idea to show how many items were used in the validation set. It could help users to estimate the uncerta

[2021-11-03 15:41] beccamc commented on #1206
For others who may come across this WPF issue.

**Root cause:**  When a combobox is marked as editable, an underlying edit control is added to the UIA tree as a child of the combobox. This edit control is the one that receives focus, which means narrator reads the properties of the edit control rather than the ones from the combobox.

**Work around:**
For whatever reason AutomationProperty.Name do

[2021-11-03 18:42] LittleLittleCloud commented on #1897
I see, so it seems that the error is because model builder fails to save IDataView into train.bin when data source is sql. We will take a look.

In the meanwhile, one work-around can be export sql as csv and load it as file. Let us know if that works for you

[2021-11-03 19:47] LittleLittleCloud commented on #1897
Hmmm I have some trouble reproducing this error, would you mind sharing the schema and maybe the first 100 row of data with us so I can reproduce it?

[2021-11-03 19:55] LittleLittleCloud opened #1899 "Multiple re-auth window prompt up when reopening .mbconfig with data source as SQL server."
**Model Builder Version**: current main

reopen the following mbconfig to reproduce it
[code]

![image](https://user-images.githubusercontent.com/16876986/140183301-07d3d803-184d-4b07-aa98-14bdcec7c4cf.png)

[2021-11-03 20:23] beccamc commented on #1817
Sorry @KasperPi we don't have enough info to investigate...

It sounds like you have chosen the correct scenario (data classification; label to predict is genre). I would increase the runtime to several minutes and see if it succeeds.

If you upload or link your dataset we can take a look. Ping me and we can reopen this issue. Thanks!

[2021-11-03 20:23] #1817 closed

[2021-11-03 21:34] beccamc opened #1900 "Top customer errors from 16.7.6.0"
- [x] Value cannot be null. Parameter name: source at **EvaluateTabContext Update Handler**
at System.Linq.Enumerable.Where[TSource](IEnumerable`1 source, Func`2 predicate)
   at Microsoft.ML.ModelBuilder.ToolWindows.EvaluateViewModel.<CreateAsync>d__2.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForN

[2021-11-03 23:28] himalpatel81 commented on #1897
Got a different error while using CSV. Attached the screenshot. Coulple of the column in my schema is datetime. not sure if that is the root cause of the error.
Also, attached the SQL schema and the data, CSV Data.

Please let me know if any additional detail is required
![advanced configuration](https://user-images.githubusercontent.com/14814661/140232753-76c6877b-e1d6-4cd7-a853-98a9e46a4f36.jpg)

[2021-11-04 08:58] vzhuqin commented on #1446
Sorry, i forgot to verify the issue #1679 on this thread.
On Net472 on latest main 16.9.1.2155301, the generated files still cannot detect the name update of mbconfig , @zewditu could you please take a look?
![1446 repro.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2a5f9f91-8380-4809-946d-38f94c5d79ae)
If need to reopen the old issue or open new one to track, please let me kn

[2021-11-04 19:06] beccamc commented on #1881
@zewditu Is this a fast fix? Time box for 30 minutes?

[2021-11-04 19:15] beccamc commented on #1895
Why does this keep regressing?

[2021-11-04 19:19] beccamc commented on #1892
Jake will take a look at this strange output. What is in the project we generate? Doesn't seem right.

[2021-11-04 19:26] beccamc commented on #1885
Jake to find issues on bringing tooling AutoML into the framework. Needed for our experience of doing everything from code.

[2021-11-04 19:39] beccamc commented on #1880
Regression in the OD data control.

[2021-11-04 19:47] beccamc commented on #1871
Investigate to see if we can escape columns.

[2021-11-04 19:50] beccamc commented on #1876
If we're adding additional metrics we need to use the right names. The current experience is by design. We need to reconsider this when we add additional metrics.

[2021-11-04 19:57] beccamc commented on #1888
Can this be closed as the feature isn't finished yet?

[2021-11-04 20:02] zewditu commented on #1446
I reopen the original issue [1679](https://github.com/dotnet/machinelearning-modelbuilder/issues/1679)

[2021-11-04 20:09] JakeRadMSFT commented on #1892
I oddly don't remember that change ... I would have expected just the output.

@michaelgsharp has a way to get just the output columns ... I think ... from schema.

[2021-11-04 20:11] JakeRadMSFT commented on #1885
@michaelgsharp ... is custom transform the best route here?

I wonder if it would be useful to have an easy way to just use delegates in pipelines ... and just not try to save it out to model ... just for use on the data processing side. Thoughts?

[2021-11-04 20:13] JakeRadMSFT commented on #1814
@LittleLittleCloud .... I think @beccamc added better error messages when the extensions don't match ... is that enough?

[2021-11-04 20:18] beccamc commented on #1814
Correct! Instead of "GPU extension is missing" it says "Installed GPU extension version must match Model Builder extension version. Please update both the extensions
in VS extension manager."

[2021-11-04 21:23] zewditu commented on #1881
I think we fix the same issue with Image  data picker in this PR https://github.com/dotnet/machinelearning-tools/pull/1157

[2021-11-04 22:28] beccamc commented on #1896
I couldn't get a repro of this on VS2022. From your notes it seems like it was happening on both? Can you try again Qin?

![failureAzureNextSteps.gif](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/f529ae56-1c72-4516-95c7-aa16ec8110f0)

[2021-11-05 02:47] vzhuqin commented on #1896
Hi @beccamc, I can repro it on VS2022, my environment is:

- Windows OS: Windows 11 Enterprise 21H2
- ML.Net Model Builder: 16.9.1.2155301 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/cfd4cf26-2113-4396-94e0-57f3dc0b7bdc)
- Microsoft Visual Studio Enterprise 2022 RC (64-bit): Version 17.0.0 RC3
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea

[2021-11-05 06:07] vzhuqin opened #1901 "Azure portal link on Train page doesn't work."
**System Information (please complete the following information):**
 - Windows OS: Windows 11 Enterprise 21H2
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2155301 (Main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.5
 - Microsoft Visual Studio Enterprise 2022 RC (64-bit): Version 17.0.0 RC3

**Describe the bug**
- On which step of the process did you run into an is

[2021-11-05 06:27] vzhuqin commented on #1886
Not repro this issue on latest main: 16.9.1.2155301
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5b8e062b-fc0e-4a1c-9a4d-f085d5ab45cd)

[2021-11-05 08:45] flokie opened #1902 "Parameter name issue in the generated Model.training.cs file"
**System Information**
- Model Builder: 16.9.1.2155301 (Latest main)
- Visual Studio: 2022 Preview 6
- Scenario: Data Classification

**Describe the bug**
- It generates "ınputColumnName" instead of "inputColumnName". Probably because of my regional settings which is Turkish. It might be related as #1475

**Screenshots**
<img width="763" alt="Screen Shot 2021-11-05 at 11 18 42" src="https://user-i

[2021-11-05 15:50] beccamc commented on #1896
@zewditu Can you check this on your Windows 11 OS? I don't have Windows 11 and I'm wondering if that is what is required for the repro.

[2021-11-05 16:48] beccamc commented on #1881
I'm a little confused why we need to store the "LastUsedFolder" value. I would think the experience would be this...

- If there is a selected file/folder path, open to that location
- If there isn't a selected path, open to wherever the folder picker wants to open.

Instead I think the experience is that if there isn't a selected path, open to the "LastUsedFolder" according to the picker?

[2021-11-05 16:53] beccamc commented on #1886
Yes, that error should be mitigated with PR 1298 (added try/catch around telemetry call). I don't know why Folder Path is empty for some customers at that point... it shouldn't be since we just trained with that info.

If anyone has more details about when this happens (e.g. only on reload, only with GPU, etc.) that would be really helpful!

[2021-11-05 17:12] beccamc commented on #1333
@pomeara Somehow the project we've selected is null. Do you have an unloaded project in your solution? Or a project in a bad state?

[2021-11-05 17:41] LittleLittleCloud commented on #1893
Should already been fixed in the main branch

[2021-11-05 17:56] LittleLittleCloud commented on #1897
@himalpatel81
Could be the Datetime problem. I'll see if I can reproduce it on my side.

BTW looks like the csv training is success on my side, looks like it's some wield issue in data source, where the column type is not correctly updated. Could you create a new .mbconfig and start from scratch to see if it works?
![image](https://user-images.githubusercontent.com/16876986/140556554-579223d4-f276

[2021-11-05 18:23] LittleLittleCloud commented on #1897
After some digging, looks like the error is because the column inference result from model builder doesn't actually match table schema. In the table, the type of CreatedDate and CompleteDate is Datetime, while in column inference result, both are string, which results to an error while downloading dataset.

@beccamc
Can you take a look at this issue. I feel like the root cause is we didn't create

[2021-11-05 18:24] #1814 closed

[2021-11-05 18:25] LittleLittleCloud commented on #1888
Since we disable forecasting, this error won't exist for October release.

[2021-11-05 18:25] #1888 closed

[2021-11-05 18:26] chryw commented on #925
Thanks @beccamc ! I forwarded this to UX team.

[2021-11-05 18:27] LittleLittleCloud commented on #1884
#1849

[2021-11-05 18:27] #1849 closed

[2021-11-05 18:27] #1893 closed

[2021-11-05 18:28] LittleLittleCloud commented on #1849
tracking in #1884

[2021-11-05 18:28] #1514 closed

[2021-11-05 20:42] michaelgsharp commented on #1892
This will figure out the Score, Probability, and PredictedLabel columns.

[code]

[2021-11-05 20:43] michaelgsharp commented on #1892
If it doesn't, it means that some of our trainers aren't annotating the columns correctly, and thats a bug we would need to fix.

[2021-11-05 22:58] beccamc opened #1903 "Value cannot be null. Parameter name: project"
Problem happens after training completes.

**Log file:**
Updating nuget dependencies... (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2021-10-30 03:39:43.1003 INFO Installing nuget package, package ID: Microsoft.ML, package Version: 1.6.0 (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2021-10-30 03:39:43.1003 DEBUG Value cannot be null.
Parameter name: project
   at NuGet.VisualStudio.VsPackageInst

[2021-11-05 23:00] beccamc commented on #1903
Root cause is that the Project we're trying to use to update the NuGets doesn't exist. I've added some additional logging (will come out in November release). If anyone runs into this problem please let me know we can gather some more info about your project!

[2021-11-05 23:00] beccamc commented on #1333
I've opened a new issue to track this, as it's different than Ladi's original issue. https://github.com/dotnet/machinelearning-modelbuilder/issues/1903

[2021-11-08 02:41] vzhuqin commented on #1861
MLNet.CLI Test Pass has been updated. Move to Ready To Ship

[2021-11-08 05:04] vzhuqin commented on #1896
@beccamc , I prepared one Win10 machine today, still can repro this issue.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/1a973bb7-a95d-4120-acec-0ed6134e21b7)

- Windows OS:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2e7387a9-2251-45cc-9228-31410199b519)

- VS2022:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb1

[2021-11-08 09:13] vzhuqin commented on #1711
Can complete the training without error on ML.Net Model Builder: 16.9.1.2155501 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/bc8da3c4-95df-4ea2-ba20-d182e6fa74d0)

[2021-11-08 09:17] vzhuqin commented on #1652
Fixed on ML.Net Model Builder: 16.9.1.2155501 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/1ee28082-76d8-4727-82fc-06425bd35697)

[2021-11-08 16:21] beccamc commented on #1901
Does this not work for all Azure training, or only for this case of switch from local to Azure?

[2021-11-08 16:28] beccamc commented on #1897
Duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/1744, which is on the backlog. We should absolutely fix!

In this case though, adding date time won't unblock the customer because we can't do a value prediction on a date. Right?

[2021-11-08 16:34] beccamc commented on #1661
Any update here? Did updating work?

[2021-11-08 17:13] beccamc commented on #1704
Looks like this is translated in the xlf files now. Can you try again Qin?

[2021-11-08 17:38] LittleLittleCloud commented on #1897
Depends on how "block" is defined. If block includes user error (having datetime as label type, etc), then yes.

[2021-11-08 18:47] LittleLittleCloud opened #1904 "Code generator - forecasting notebook"

[2021-11-08 19:46] LittleLittleCloud commented on #1904
[motor-vehicle.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7499685/motor-vehicle.txt)

[2021-11-08 20:42] briacht opened #1905 "In VS 2022 generate .NET 6 projects"
For the Project templates in VS2022, Model Builder should generate .NET 6 projects (console app, web API)

We should also update the description:

![image](https://user-images.githubusercontent.com/10437687/140814771-472eabe9-4da2-45c1-83bc-a64eaf0eb3ef.png)

Console app: a .NET console app...

(not .NET Core)

Web API description can stay the same because it is still ASP.NET Core (with .NET 6)

[2021-11-08 20:57] beccamc commented on #1868
Any update here? Can you upload your mbconfig file?

[2021-11-08 20:58] beccamc commented on #1850
Any update here? Are you willing to try a VS reinstall?

[2021-11-08 20:59] beccamc commented on #1770
Any update here? @dmamel are you able to share your dataset?

[2021-11-09 01:15] vzhuqin commented on #1901
@beccamc only happen when switch from local to Azure and not change dataset.

[2021-11-09 04:18] vzhuqin opened #1906 "Shouldn't need .NET Core 3.1 SDK for ML.NET CLI installation."
**System Information (please complete the following information):**
 - Windows OS: Windows 11 Enterprise 21H2
 - MLNET: 16.8.3

**Describe the bug**
- On which step of the process did you run into an issue: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-ml-net-cli
- Clear description of the problem: need to update the doc that  .NET Core 3.1 SDK shouldn't be the pre

[2021-11-09 05:38] zewditu commented on #1901
@vzhuqin thanks for the confirmation.

[2021-11-09 06:15] vzhuqin commented on #1704
Error window header and Close button has been localized on ML.Net Model Builder: 16.9.1.2155801 (Main)
![image](https://user-images.githubusercontent.com/81727020/140872111-1cd62765-c2dd-4129-842f-47872e9a7e91.png)

[2021-11-09 06:51] jernejk opened #1907 "Unable to update, uninstall or repair Visual Studio 2019 (package Model Builder not found)"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.1.0.2027905
 - Visual Studio Version: 16.11.3

**Describe the bug**
- I tried to install the latest version of ML Model Builder and it failed for Visual Studio 2019
![image](https://user-images.githubusercontent.com/5943653/140874834-c24d2071-6baa-449b-a150-29cee

[2021-11-09 07:04] zewditu commented on #1889
@vzhuqin   is this issue only happens for local training ? or for both local and Azure?

[2021-11-09 08:15] vzhuqin commented on #1896
Not repro this issue on latest main: 16.9.1.2155801
- Windows OS: Windows 11 Enterprise 21H2
- Microsoft Visual Studio Enterprise 2019: 16.11.5
- Microsoft Visual Studio Enterprise 2022 (64-bit) - Current: Version 17.0.0
![Fixed 1896.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/bcccaaed-1ef7-4b4d-9543-1847d3b21d80)

[2021-11-09 08:19] vzhuqin commented on #1895
not repro this issue on scenarios which not support azure.
- ML.Net Model Builder: 16.9.1.2155801 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9decfe07-a771-4b84-9860-92dd000961ff)

[2021-11-09 08:30] vzhuqin commented on #1889
@zewditu  I tried on latest main: 16.9.1.2155801 just now, it happens on Image classification ( local and Azure) and Object detection scenarios.
Image classification:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4a8f2aec-a8b3-4748-a0c2-65a5381f0917)
Object detection:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7cfcdeea-1587-42f8-90a6-3eb

[2021-11-09 08:37] zewditu commented on #1889
Have you tried `ImageSource= (Bitmap)Image.FromFile(...)`?
![image](https://user-images.githubusercontent.com/36615490/140890325-93913171-2dbd-4765-b66d-f2e84ddb6c62.png)

[2021-11-09 08:48] vzhuqin commented on #1887
@LittleLittleCloud this error still happens when trying the model on Evaluate page (Image classification + Azure).
- ML.Net Model Builder: 16.9.1.2155801 ( Latest Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5b23d3ad-f02e-4bc6-ba6f-4ebca47a2171)

Not happens when adding WebAPI project to solution.

[2021-11-09 09:46] vzhuqin commented on #1889
I don't know why remove the character @ , then can run successfully? get the result as below, could you help to see if this is expected?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/870b5734-505a-4fc4-afd8-0fba684605d9)

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7e004e6f-36bf-45e0-81d6-284401285828)

And if this is expect, do i need to

[2021-11-09 16:58] briacht commented on #1876
I think it's fine to keep Accuracy for now. We can revisit once we add option for more optimizing metrics

[2021-11-09 17:00] beccamc commented on #1876
@briacht do you think we can close this for now?

[2021-11-09 17:03] briacht commented on #1874
This is a great point!

@romalpani This will be something to look into for the UI as well -- how do we tell users - "Hey, it looks like you trained on a small dataset; even though your accuracy is high, this may not be a good model"

@LittleLittleCloud I think it's ok to keep Accuracy as default. A lot more people (without data science knowledge) will know what Accuracy means over AUC. But this do

[2021-11-09 17:05] briacht commented on #1876
Yep

[2021-11-09 17:39] #1876 closed

[2021-11-09 17:51] LittleLittleCloud commented on #1906
@luisquintanilla

Could you update prerequisite from net core 3.1 to .net 6 before next cli release, thanks!

[2021-11-09 19:13] zewditu commented on #1907
@jernejk sorry for hitting these issues,
I also had the same issue. I was not able to install ModelBuilder in Vs2019, I am not able to update and uninstall vs2019 with the same error message you found.
@JakeRadMSFT , @LittleLittleCloud  and @beccamc  do you have a context on this?

[2021-11-09 19:15] LittleLittleCloud commented on #1889
The post delegate in web api dev17 needs to be updated to
![image](https://user-images.githubusercontent.com/16876986/140989471-d774041e-8728-4046-a2e9-f534c8fd9138.png)

when scenario is azure image &&  object detection.

And when scenario is local image classification, using File.LoadAllBytes to load image
![image](https://user-images.githubusercontent.com/16876986/140989678-de5bb8cc-1559-4d10-b

[2021-11-09 19:16] LittleLittleCloud commented on #1889
@luisquintanilla  @briacht

It's really wield to me that web api using image path as input. It means that such prediciton will only applied on images with valid path in host machine. Should we allow user to upload image instead (maybe through media type)

[2021-11-09 20:01] LittleLittleCloud commented on #1889
@vzhuqin

To verify web api project when it's image scenaio, please use
[code]

instead

The output should looks like
![image](https://user-images.githubusercontent.com/16876986/140996083-ec4f4b64-4ab0-4363-9145-de3cae3c1927.png)

[2021-11-09 20:21] beccamc commented on #1841
No repro for me anymore, everything seems to be working.

[2021-11-09 21:08] torronen commented on #1874
One thing here has been bothering me. How is it possible to reach ~63% accuracy with 1000 random values, and especially with Random Forest and not FastTree? Decision tree probably could probably choose any decision points since values should be spread out randomly, and then the one matching validation data would be selected. I thought FastForest should average it out.

That makes me wonder if the

[2021-11-10 09:14] vzhuqin commented on #1746
Similar issue occurs on mlnet cli: 16.9.2
Recommendation scenario:
![image](https://user-images.githubusercontent.com/81727020/141084565-dac9d460-0a31-49b3-af72-db511936df6b.png)

[2021-11-10 19:57] zewditu commented on #1679
I just noticed that this issue is a little different from [1446]("https://github.com/dotnet/machinelearning-modelbuilder/issues/1446").
For this issue,  the rename has to be made after code-behind files are generated and all file names behind the .mbconfig should be updated accordingly.

[2021-11-10 20:19] beccamc commented on #1838
@vzhuqin Did you report both of these errors in another issue? I remember this month you had a bug where there were several errors coming up during code generation.

[2021-11-10 21:17] beccamc commented on #1838
Never mind! I found the issue I was thinking of and it's unrelated

[2021-11-10 23:17] zewditu opened #1908 "Rename .mbconfig file does not save the Model.zip file with the right name"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-11-11 04:07] BenjaminCharlton commented on #1487
I saw this suggestion had been automatically marked as "stale". I thought maybe a new comment would freshen it up a bit. I still think it would be a cool feature.

[2021-11-11 05:55] vzhuqin commented on #1880
@beccamc this issue also happens on Data classification, Value predication, Recommendation scenarios, please take a look again?
Fixed for object detection scenario on main: 16.9.1.2155901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0df6d78c-a511-422c-9599-f25b0c42fdc2)

[2021-11-11 06:30] vzhuqin commented on #1841
Not repro issue on latest main: 16.9.1.2155901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ccc85ed3-7285-4227-b94b-7701e7f9af63)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4ea466a0-c7db-4af9-97dd-47f78cc7b9f7)

[2021-11-11 06:39] vzhuqin commented on #1884
Not repro this issue on latest main.
- Notebook Editor [Preview]: 0.2.2.2155404
- ML.Net Model Builder 2022: 16.9.1.2155901

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/950ecb18-9157-4b61-ac6a-6c57b24a0722)

[2021-11-11 08:25] vzhuqin opened #1909 "Display error under "Consume the model" of Notebook for Data classification."
**System Information (please complete the following information):**
- Notebook Editor [Preview]: 0.2.2.2155404
- ML.Net Model Builder 2022: 16.9.1.2155901 (Main)
- Microsoft Visual Studio Enterprise 2022 (64-bit) - Current: Version 17.0.0

**Describe the bug**
After run the generated notebook of Data classification, find that error displayed under "Consume the model".

**To Reproduce**
Steps to re

[2021-11-11 11:26] SKYR0M commented on #1850
Hi apologies for the inactivity
It now works thank you!

[2021-11-11 16:13] beccamc commented on #1850
No worries - glad it's working!

[2021-11-11 16:13] #1850 closed

[2021-11-11 18:15] LittleLittleCloud opened #1910 "Forecasting - Evaluation page"

[2021-11-11 20:14] zewditu commented on #1909
This issue is fixed in our latest main.

[2021-11-11 22:01] beccamc opened #1911 "November MB Release"
Commit:  https://github.com/dotnet/machinelearning-tools/commit/4d615ba420977a1685c11b97f9fc3acbdd84b5c5
Release notes:

**2022** Version number: 16.9.1.2205404
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5588797
**2019** Version number: 16.9.1.2205403
**2019** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5588184

Tracking work item: https:

[2021-11-11 22:04] beccamc commented on #1868
Sorry, I don't have enough info to investigate this issue. If you're still having problems please ping me. Thanks!

[2021-11-11 22:04] #1868 closed

[2021-11-11 22:06] beccamc commented on #1770
Original issue is resolved: MB version and GPU version need to match. @dmamel if you're still having accuracy issues can you open a new issue?

[2021-11-11 22:06] #1770 closed

[2021-11-11 22:09] beccamc commented on #1661
Sorry, I don't have enough information to help here. If anyone else has problems with loading Model Builder check out our troubleshooting guide - https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#i-cannot-add-machine-learning-to-my-project

In this case it looks like Model Builder had some installation problem. I would try uninstalling,

[2021-11-11 22:09] #1661 closed

[2021-11-11 22:25] beccamc opened #1912 "November CLI Release"
Version number:
Build:
Commit:

- [ ]  Test Local Scenarios
- [ ]  Test Generated Code

[2021-11-11 22:26] beccamc commented on #1912
Important! Will be updating to .NET 6 for this release. Need to update docs. #1906

[2021-11-12 06:42] vzhuqin commented on #1672
@beccamc Still have model builder error: An item with the same key has already been added. on ML.Net Model Builder: 16.9.1.2155901 (Main)
Column Headers: No
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/28bfd627-88ad-4c89-8423-6396e7bd31c5)
Column Headers: Yes
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b02402e5-85cb-4645-bb5f-33dbda0e06e

[2021-11-12 06:50] vzhuqin commented on #1853
Not repro on latest main: 16.9.1.2155901

![1853fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c411c1ff-0d2e-493a-ac41-e3729268d49c)

[2021-11-12 07:09] vzhuqin commented on #1882
can repro this issue on latest mlnet: 16.9.2
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7021f1b1-b759-44f8-a869-94d6001c0692)
Titanic dataset:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d833b400-05a9-4439-bd48-6e66737706c5)
True-car-listing dataset:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9bc3296e-49

[2021-11-12 15:13] beccamc commented on #1911
With the updates of #1905 Model Builder now generates:

.NET 6 for VS 2022
.NET 5 for VS 2019.

We need to update the docs. (and confirm with team that above is true 😀)

[2021-11-12 15:16] sahgilbert commented on #1886
Hello, I was able to reproduce the same folder path error today using the latest versions of Visual Studio 2022 and the Model Builder extension using a .Net 6.0 Console App and choosing "Image Classification".

- Windows 10.
- Microsoft Visual Studio Community 2022 Version 17.0.0.
- (VisualStudio.17.Release/17.0.0+31903.59).
- .NET Runtime 6.0.0.
- ML.Net Model Builder 2022 Version 16.7.6.2152701.

[2021-11-12 15:33] hollowdrutt opened #1913 "Evaluate step can not parse the sample data it has generated, when using Swedish locale"
**System Information (please complete the following information):**
 - Model Builder Version :  16.7.6.2152701
 - Visual Studio Version : Microsoft Visual Studio Enterprise 2022 Version 17.1.0 Preview 1.0

**Describe the bug**

- On which step of the process did you run into an issue: Evaluate

- Clear description of the problem: I have imported data from a csv file where . is used as decimal sepa

[2021-11-12 15:40] sahgilbert commented on #1886
I've just moved the images folder from being at the solution level, to being at the project level, and started training again.

The result was a successful training completion of image classification.

I've updated the [source code repository I mentioned](https://github.com/sahgilbert/DotNetSixConsoleApp) with the folder change.

Thank you.

[2021-11-12 15:54] beccamc commented on #1886
Thank you for this Simon. The issue is that FolderPath is empty in the .mbconfig file!

![image](https://user-images.githubusercontent.com/9122518/141492507-dfa264c1-a8fb-42d6-8907-a2a736f07ace.png)

This means somehow we're setting your training parameters without saving the folder path (or erasing it at some point).  I need to dig through the code. Thank you again for the repro project!

[2021-11-12 15:55] sahgilbert commented on #1886
Understood, thanks for taking a look, it's much appreciated!

[2021-11-12 16:08] hollowdrutt opened #1914 "The generated sample data code snippet does not contain data for all features"
**System Information (please complete the following information):**
 - Model Builder Version :  16.7.6.2152701
 - Visual Studio Version : Microsoft Visual Studio Enterprise 2022 Version 17.1.0 Preview 1.0

**Describe the bug**

- On which step of the process did you run into an issue: Consume

- Clear description of the problem: The generated sample data code snippet does not contain data for all

[2021-11-12 16:22] beccamc commented on #1886
@LittleLittleCloud Thoughts on this one? I think we're somehow resetting FolderPath after the .tsv training files have been generated.

I tried a few things to set the path to null/empty. None worked.
1. Delete the folder path from the text box in the data page
2. Open the folder path picker and don't select anything; try to select something invalid
3. I considered it could be some failure to writ

[2021-11-12 17:16] sahgilbert commented on #1886
@beccamc I've just created a fresh console app and started from the beginning, resulting in a successful completion of training. Unfortunately this isn't particularly helpful as it's difficult to assess why this time it completed training successfully, as oppose to the previous failures.

I've documented the exact steps I took below. I purposely did not navigate around any more than I needed to.

[2021-11-12 17:29] alozino commented on #1661
Sorry for replying late, yes the update worked. And it is working perfectly now.

[2021-11-12 17:58] beccamc commented on #1886
Thanks! At this point I'm thinking race condition. Really appreciate the help and extra info here.

[2021-11-12 18:29] beccamc commented on #1890
I'm getting a completely different error. I think @LittleLittleCloud You changed up what is generated, and some of the problems from before aren't even in the notebook anymore?

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/fc9d67a2-16c8-4220-b3d4-11edb58397e4)

My Onnx runtime can't find OrtGetAPIBase. Are we using the right version of the onnx runtime? [https://app.z

[2021-11-12 18:31] LittleLittleCloud commented on #1890
Looks like an onnx runtime not matching error

@beccamc Can you update onnxruntime to 1.9.0 and run notebook again

[2021-11-12 20:05] beccamc commented on #1890
I think we're already using 1.9.0

![image](https://user-images.githubusercontent.com/9122518/141528117-1b818950-18e4-41a0-ab65-771cb0c1a00e.png)

[2021-11-12 20:08] LittleLittleCloud commented on #1890
Is that a new model or it's an old model but the notebook is newly generated

[2021-11-12 20:10] LittleLittleCloud commented on #1890
It looks like the generated object detection notebook is still the old one. Maybe that model builder doesn't include the notebook fix yet?

[2021-11-12 20:13] beccamc commented on #1890
Running main at 1f3565a0c5ca83bc2e026a4df7501de711b2520e (latest).  I used an old mbconfig file but re-trained the model so it should be brand new. I can start a new run if this seems to be using old bits somewhere.

[2021-11-12 20:17] LittleLittleCloud commented on #1890
Meanwhile, can you try using Microsoft.ML.OnnxRuntime.Gpu 1.9.0 and see if error gone

[2021-11-13 01:13] johndohoneyjr opened #1915 "ML Sentiment Model does not populate score"
Microsoft Visual Studio Community 2022
Version 17.1.0 Preview 1.0
VisualStudio.17.Preview/17.1.0-pre.1.0+31903.286
Microsoft .NET Framework
Version 4.8.04161

Installed Version: Community

.NET Core Debugging with WSL   1.0
.NET Core Debugging with WSL

ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools

ASA Service Provider   1.0

ASP.NET and Web Tools 2019

[2021-11-14 20:24] blahblehblah commented on #1897
I am having similar issues

Console
`Trial 5974 encounter error with message: Read only 0 bytes in file, expected header size of 256
Trial 5975 encounter error with message: Read only 0 bytes in file, expected header size of 256
Trial 5976 encounter error with message: Read only 0 bytes in file, expected header size of 256`

Logs
`2021-11-14 22:21:11.8093 DEBUG    at Microsoft.ML.Data.IO.BinaryLoa

[2021-11-14 20:44] blahblehblah opened #1916 "Training; Read only 0 bytes in file, expected header size of 256"
**System Information (please complete the following information):**
 - Model Builder Version  16.7.6.2152701
 - VS 2022 17.1.0 Preview 1.0

**Describe the bug**
- Using model builder for a value prediction

Sample Data: Label (Won)
Symbol	Speed	Above70	OffsetSpeed	Offset	Offset2	Offset3	Offset4	Offset5	Offset6	Height	Max	Low	Won
Shark	73.67	TRUE	78.81	0.001266298	0.001400573	0.000906639	0.00107380

[2021-11-15 01:29] zewditu commented on #1915
Sorry for hitting this issue.
Data classification we only show the predicted class if you want to see the probability of each label for a sample data you can look at on evaluating page.

Do you want to see the probability of each class in Program.cs?
@briacht  what is your thought?

[2021-11-15 01:58] vzhuqin commented on #1909
Hi @zewditu , could you help to kick off one new main build? I see the top five main build are all failed. The latest main build is still 16.9.1.2155901

[2021-11-15 02:05] zewditu commented on #1909
@vzhuqin Yes, you are right it seems that our remote build fails as soon as we figured it out I will kick off a new build.

[2021-11-15 04:45] vzhuqin commented on #1581
Not repro this issue on main: 16.9.1.2155901
Recommendation:
![Recomm_fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e67c132e-f379-481d-ad17-7b1af4aa0753)
Image classification:
![1582image fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3d40df75-00db-4d2c-9d69-4c7ba57d2cd9)

[2021-11-15 04:49] vzhuqin commented on #1807
Not repro this issue on:
- ML.Net Model Builder: 16.9.1.2155901 (Main)
- Microsoft Visual Studio Enterprise 2022 (64-bit) - Current: Version 17.0.0

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f91758b9-88f2-4a76-8be8-3cde2113133b)

[2021-11-15 09:41] vzhuqin commented on #1909
@zewditu  failed again, could you take a look?

[2021-11-15 15:30] beccamc commented on #1916
@blahblehblah Sorry you're running into this problem. What is your file separator/delimiter? In the sample provided above it looks like spaces?

[2021-11-15 16:00] blahblehblah commented on #1916
Its actually comma delimiter

[2021-11-15 20:07] beccamc commented on #1890
Unfortunately Microsoft.ML.OnnxRuntime.Gpu 1.9.0 didn't fix it. Re-ran everything as well and it still produced the same notebook.

[2021-11-16 02:12] khteh opened #1917 "Customize auto-generated model .zip file"
I am using VS 2022. Why is there no option to customize auto-generated mode `.zip` file? For example I would like specific path to the auto-generated model files to be updated automatically during retrain.

[2021-11-16 02:25] khteh opened #1918 "VS2022 always prompts to update package and then throws exception at the end of model training!"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2152701
 - Visual Studio Version: 17.0.0
![image](https://user-images.githubusercontent.com/3871483/141884069-9973d6a9-0dca-45a4-ae5f-abaecd448497.png)
![image](https://user-images.githubusercontent.com/3871483/141884148-766caf50-0647-47a2-8479-8d074d620cbb.p

[2021-11-16 03:05] khteh opened #1919 "Value Prediction model throws "Training time finished without any models trained" exception!"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2152701
 - Visual Studio Version: 17.0.0
![image](https://user-images.githubusercontent.com/3871483/141888356-b83ffe3a-8244-4b3c-8fa6-db65aad85957.png)
[PricePredictionRegressionModel-YMJ982.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/75

[2021-11-16 03:46] khteh commented on #1919
I deleted the model builder file and do it again and the exception doesn't happen. This time, I didn't interrupt the **first** training but let it run to completion.

[2021-11-16 05:42] vzhuqin commented on #1909
@zewditu , i can repro this issue on latest main:
- Notebook Editor [Preview]: 0.2.2.2156601
- ML.Net Model Builder: 16.9.1.2156601
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d9fddbd4-e0b6-404e-b98f-f7a2e5bbea26)

[2021-11-16 05:51] vzhuqin commented on #1898
can repro this issue on latest main:
- Notebook Editor [Preview]: 0.2.2.2156601
- ML.Net Model Builder: 16.9.1.2156601
![1898Repro.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c2a77758-6988-4679-8f2d-49274e87d4c9)

[2021-11-16 06:00] vzhuqin commented on #1197
Not repro this issue on latest main: 16.9.1.2156601
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/372e5214-496d-40d8-9131-191c0ee276b8)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/66a0784f-4492-4746-9947-cebe7e68e235)

[2021-11-16 06:07] vzhuqin commented on #1846
can repro this issue on latest main:
- Notebook Editor [Preview]: 0.2.2.2156601
- ML.Net Model Builder: 16.9.1.2156601
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/75a2ae3d-7f20-4aec-846d-624844f4709b)

[2021-11-16 06:15] vzhuqin commented on #1695
Not repro this issue on latest main: 16.9.1.2156601

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5cbcaab3-4d41-4d73-ac3d-3c1a9b593740)

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/38d65188-a3f8-422f-a118-69f3b4498404)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e2d82f77-489a-4e80-bd43-0c59d8b85ad1)

[2021-11-16 06:41] vzhuqin opened #1920 "Tooltip for long/large text"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2156601 (Main)
- Microsoft Visual Studio Enterprise 2019: 16.11.5

**Describe the bug**
- Set environment size to 15
![image](https://user-images.githubusercontent.com/81727020/141934035-eed5a166-f384-4950-8476-9f01e0c2db56.png)
- On which step of the process

[2021-11-16 07:08] vzhuqin commented on #1302
@beccamc @zewditu any update?

[2021-11-16 07:46] vzhuqin commented on #1902
Not repro this issue on latest main: 16.9.1.2156601
Region: Turkey
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2a9c13f3-b23e-408a-8fc9-000b4c270731)

[2021-11-16 12:53] vborovikov opened #1921 "Input string was not in a correct format"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2152701
 - Visual Studio Version 2022 Community

**Describe the bug**
- On which step of the process did you run into an issue: training the model for 2 hours, almost done
- Clear description of the problem: train a model on a CSV file of 16M rows

**Expected

[2021-11-16 16:15] beccamc commented on #1921
@vborovikov Sorry you've run into this problem. We've had other customers report this from machines in non-english language, specifically a machine that uses `,` as the decimal separator value for numbers.

Can you tell me...
1. What language your machine is in
2. What language your VS is in
3. What the expected decimal separator of your data set is (you can see what it is set to in the Data Advan

[2021-11-16 17:34] blahblehblah commented on #1916
[sTank.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7548580/sTank.zip)
@beccamc sure.

[2021-11-16 17:37] zewditu commented on #1909
@vzhuqin  you can update the version to 16.9.1.2156603

[2021-11-16 17:58] vborovikov commented on #1921
1. English, but Russian for date-time and numeric data
2. English
3. Decimal dot (it's a correct setting for my data)

I've found what the issue was. My CSV file contained several rows with improper quotation marks way below the row # 430000. I tried to make a small sample of data (100 rows) to reproduce the issue but ML.NET recognized the incorrect format immediately.

[code]

[2021-11-16 18:13] zewditu commented on #1302
@vzhuqin I will look into it.

[2021-11-16 18:25] zewditu commented on #1898
Fixed In the latest  main

[2021-11-16 19:05] beccamc commented on #1890
Michael's fix https://github.com/dotnet/interactive/issues/967 didn't resolve the problem either. Attached notebook still produces error and I think its setup right (correct me if I'm wrong)
[NewNotebook.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7549105/NewNotebook.zip)

![image](https://user-images.githubusercontent.com/9122518/142049224-86393a8c-d7d5-48ed-8743-2aa413b1bf7

[2021-11-16 19:41] beccamc commented on #1818
To test, manually open an mbconfig file and change a version to be newer (e.g. make something version 3). You don't need to change anything about the actual object. Error message should show saying "version 3 of type x".

[2021-11-17 02:06] vzhuqin commented on #1909
@zewditu , does this issue not occur on your side?
I still can repro it on latest main: 16.9.1.2156604
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/103ce0a9-e4e1-43d2-937d-d60efef869c1)

[2021-11-17 02:15] vzhuqin commented on #1863
@LittleLittleCloud This issue occurs again on latest main: 16.9.1.2156604, please take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/148e3f35-772e-4bcd-ac62-183c208f29f5)

[2021-11-17 02:54] vzhuqin commented on #1916
@beccamc , i met the same error on Value predication with SQL server dataset: https://testpass.blob.core.windows.net/test-pass-data/iris.mdf

![image](https://user-images.githubusercontent.com/81727020/142108055-163a4a2d-536a-4986-8100-2d6fef9551bb.png)

Table: taxi
Advanced settings:
![image](https://user-images.githubusercontent.com/81727020/142101574-d25e324a-b781-441f-942b-851e53eefbee.png)
MB

[2021-11-17 05:26] zewditu commented on #1909
@ vzhuqin,  Thanks for catching this issue yes still it is reproduced from my side too.

[2021-11-17 07:53] zewditu commented on #1909
it seems that we only use the mode output template for the Notebook ModenOuput generator.
the current  template is
`[ColumnName("PredictedLabel")]
    public <#=LabelType#> Prediction { get; set;}
 public float[] Score { get; set;}`
 if we can update it to
``[ColumnName("PredictedLabel")]
    public <#=LabelType#> PredictedLabel { get; set;}
 public float[] Score { get; set;}``
will fix this issue

[2021-11-17 08:49] Oluwasunmibola opened #1922 "Unable to load shared library 'lib_lightgbm' or one of its dependencies on Apple Silicon"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:  16.2.0
 - Visual Studio Version (if applicable): 2019

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):  https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem: Unable to load shared library 'lib_lightgbm' or

[2021-11-17 15:57] beccamc commented on #1921
@LittleLittleCloud Any thoughts as to why this might fail if more training time is given? Is it possible there is another bad row further down that ML.NET only gets to with more time?

Long term, what do we need to do to skip these rows?

[2021-11-17 15:58] luisquintanilla commented on #1889
@LittleLittleCloud good question. Uploading files might make more sense. The only concern I'd have is testing. Once you have the code generated, PowerShell makes it easy to test. I assume you should be able to upload files with PowerShell, but it's something to look into.

[2021-11-17 18:48] LittleLittleCloud commented on #1921
@vborovikov Can you share with us the log file. You can find the link to log file at the very top of output window. And is there any trial completed successfully other than the current failing trial?

I feel like it's still the number format problem. In [this line](https://github.com/dotnet/machinelearning-tools/blob/main/src/Microsoft.ML.ModelBuilder.AutoMLService/Proposer/HyperParameterProposer.

[2021-11-17 20:36] zewditu commented on #1846
It is focused but the difference is the focus color  has issue in the dark team

[2021-11-17 21:44] LittleLittleCloud commented on #1890
@beccamc

Maybe try this

[code]

[2021-11-17 21:51] vborovikov commented on #1921
[Food-14YUSR.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/7558166/Food-14YUSR.txt)
This is the log file.

I can't open the code from the link provided but looking into Model Builder DLLs with ILSpy shows me this code that fails:
[code]
And, I believe, the value for the parameter is created using this code:
[code]
This combination of calls ToString/Parse will fail 100% on my ma

[2021-11-17 21:58] LittleLittleCloud commented on #1921
Got it, so the error happens when sample size is not integer. The sample size will have an initial value of 10000 and that's why there're a few trials success at the begining but fails when tunner start optimizing sample size

[2021-11-17 22:05] LittleLittleCloud commented on #1922
ModelBuilder && ML.Net still uses Lgbm 2.3.1, which doesn't support M1 if I recall correctly. @michaelgsharp might know more.

[2021-11-17 22:13] michaelgsharp commented on #1922
Just checked, even the latest version of LBGM doesn't have pre-compiled bits for the M1. We can't add support till they do.

[2021-11-18 02:29] vzhuqin commented on #1889
@LittleLittleCloud ,it met error with your provided method. But now can get below output with docs' method.
- ML.Net Model Builder: 16.9.1.2156701 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7b25bf0e-d973-4e44-9917-4dcf2309e7e6)

[2021-11-18 02:31] vzhuqin commented on #1887
not repro this issue on latest main: 16.9.1.2156701
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9dcd304d-5a65-43e1-9048-b73e1513f5fc)

[2021-11-18 08:41] vzhuqin commented on #1818
Yes, got the the error message on ML.Net Model Builder: 16.9.1.2156701 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/15c6ca62-e1eb-4ac1-9fd0-d92b0d82d059)

[2021-11-18 08:59] vzhuqin commented on #967
@LittleLittleCloud  Could you provide me with information on how to validate this issue?

[2021-11-18 09:00] vzhuqin commented on #851
@LittleLittleCloud   Could you provide me with information on how to validate this issue?

[2021-11-18 09:52] vzhuqin opened #1923 "Sometimes cannot detect Data path on Train page after data setting."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.9.1.2156701 (Main)
 - Microsoft Visual Studio Enterprise 2019: 16.11.7

**Describe the bug**
- On which step of the process did you run into an issue: Data is empty on Train page
- Clear description of the problem: have already input the data source, and set the

[2021-11-18 18:35] LittleLittleCloud commented on #967
Yeah sure, (#851 will have the same validation step)

There are four places to validate here

## azure image classification && object detection
create an azure image classification or object detection experiment, finishing training and validate the following places
### evaluate page
everything should work
### consume page
everything should work, plus
#### snippet code
The snippet code should creat

[2021-11-18 22:46] beccamc commented on #1917
@khteh Can I hear more about what you're trying to accomplish? Are you trying to create different versions of the model in different folders?

[2021-11-18 23:00] beccamc commented on #1918
Thanks for reporting! Per the log file we're trying to update to 1.6.0

`Installing nuget package, package ID: Microsoft.ML, package Version: 1.6.0`

@khteh What type of project is this (.NET Core, framework...) and what version? Can you check the csproj?

[2021-11-18 23:02] beccamc commented on #1919
@vzhuqin Can you try the first set of steps with the taxi fare dataset?

1. Start training with 600 seconds
2. Stop this first training before it completes
3. Start the training again. See if the exception happens.

[2021-11-18 23:12] beccamc commented on #1880
The focus for the text scenarios goes to the file/sql radio buttons. Focus is supposed to go to the first element you can interact with.

[2021-11-19 00:27] beccamc commented on #1672
The problem here isn't the spam/ham thing, but that there three empty columns.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/f2e3f34a-1df1-43db-ac62-303dfac6c89f)

[2021-11-19 01:32] vzhuqin commented on #1905
In VS2022, generated projects are .Net6 on 16.9.1.2156701 (Main)
ConsoleApp:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/99823fa8-5a79-44ac-b3a1-a1c3113e3d0a)
WebAPI:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c4ad9efd-b3ae-4bf5-b6d8-8003d258ff57)

And have updated Console app: a .NET console app...
![image.png](https://images.zenhubus

[2021-11-19 01:39] vzhuqin commented on #1880
Yes, thanks for your explanation. Focus on the file type for the other three text scenarios.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/f6045c03-b01c-4ff1-b936-6ad8c0f547ca)

[2021-11-19 01:58] khteh commented on #1918
[code]

[2021-11-19 02:19] khteh commented on #1917
Hi @beccamc regardless of the versioning of the model, I was looking for the option to customize the path/location to put the model `.zip` from the Model Builder in order for other projects in the solution (`.sln`) to cosume it. It seems that the current behaviour always puts the `.zip` together with the model builder config file....

I know that this is possible using the ML.Net API and I have tr

[2021-11-19 02:31] vzhuqin commented on #1919
@beccamc this issue was not reproduced on latest main: 16.9.1.2156701, also completed training after trained again, please check below gif.
![not repro1919.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3cb16ccc-5204-4e66-af81-9be4e185a6e2)

[2021-11-19 06:01] vzhuqin commented on #1901
Not repro this issue on latest main: 16.9.1.2156701
![1901 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/64ca01f1-860e-4b4b-b31a-a545e1594621)

[2021-11-19 07:00] vzhuqin commented on #967
Verified this issue on latest main: 16.9.1.2156701, finished training without error for Image classification (Local (CPU) & Azure) and Object detection scenarios, and everything work fine, details as below.
**Image Local:**
Evaluate:

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/01a9c73f-540a-42d8-9b1b-b26a4746ad97)

Consume:
- Can add projects to solution and run (Co

[2021-11-19 07:01] vzhuqin commented on #851
Verified this issue on latest main: 16.9.1.2156701, finished training without error for Image classification (Local (CPU) & Azure) and Object detection scenarios, and everything work fine, details as below.
**Image Local:**
Evaluate:

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/01a9c73f-540a-42d8-9b1b-b26a4746ad97)

Consume:
- Can add projects to solution and run (Co

[2021-11-19 09:42] JerzyKruszewski opened #1924 "Could not find a part of the path 'C:\Users\Admin\AppData\Local\Temp\ukvjzu3u.t2y\validationSetBottleneckFile.csv_features.bin'."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2152701
 - Visual Studio Version: 2022 Community 17.0.0

**Describe the bug**
- On which step of the process did you run into an issue: About 40 min into training an Image Classification scenario with 2 labels and 1819 images. It happened to me twice.
- Clear

[2021-11-19 17:23] beccamc commented on #1672
Two things to verify...

1. As stated above the issue isn't actually with the spam/ham data. The problem is that the spam dataset linked has empty columns. PR 1347 adds an error message that makes a bit more sense. Note that for this dataset, the column name will be empty in the error message (it will say "Please remove or rename column .").  I think this is enough info for the customer to open th

[2021-11-19 19:53] beccamc commented on #1918
Thank you @khteh! This helps a lot.

The code checks to see if the current version and target version match, and if not it tries to upgrade. The problem here is that we're actually trying to downgrade from 1.7.0 to 1.6.0. @LittleLittleCloud Are we good to ignore the nuget package install if we'd actually be going backwards?

[2021-11-19 20:11] LittleLittleCloud commented on #1918
@khteh let us know if this error blocks you from model builder but you should be able to just ignore the error window since the downgrade error is a recoverable one.

@beccamc  We can ignore downgrade ml.net if there's no api breaking change for the newer version and the newer ml.net can always load old model. Otherwise it's better to try downgrading. However, I feel like it's always unsafe to try

[2021-11-20 00:50] zewditu opened #1925 "No code snippet"
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/7fba711b-b416-45c4-b467-e8b626700bb9)

[2021-11-20 00:53] zewditu opened #1926 "Some elements not themed in data page"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-11-20 01:02] zewditu opened #1927 "Training continues without horizon value entered"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
_A description of w

[2021-11-20 04:13] khteh commented on #1918
Not a show-stopper but

Can you verify this and provide a better VS2022 experience with ML.Net?

[2021-11-22 02:23] vzhuqin commented on #1270
not repro this issue on latest main: 16.9.1.2156904
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/e9b88ee0-89db-4605-bd6f-158aeab375ad)

[2021-11-22 03:00] vzhuqin commented on #1909
Not repro this issue on latest main:
- Notebook Editor [Preview]: 0.2.2.2156601
- ML.Net Model Builder: 16.9.1.2156904
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a62c7b38-adbd-42b4-9a1b-bed1e799b14b)

[2021-11-22 21:38] LittleLittleCloud commented on #1918
Unfortunately under the current technology, there's no way to verify things that do not happen. even though mlnet will try their best to maintain backward compatibility. However we will push a fix and provides clearer information on such exception to avoid downgrading packages and  reduce confusions.

[2021-11-23 22:51] beccamc commented on #1924
@LittleLittleCloud Any ideas here?

[2021-11-24 09:46] sairaj-badam opened #1928 "'Input string for '...' is not in the correct format' getting this error when trying to evaluate the model"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.21.50.50.1
 - Visual Studio Version 16.11.7

**Describe the bug**
- On which step of the process did you run into an issue: After clicking 'Pridict' in step 5. Evaluate
- Clear description of the problem: Unable to Evaluate the model with sample data

**To Re

[2021-11-24 21:23] HashemGo opened #1929 "Model Builder Error: Index was outside the bounds of the array"
**System Information (please complete the following information):**
 - Model Builder Version: NET6:
 - Visual Studio Version 2022

**Describe the bug**
- Clear description of the problem:
Just a simple test

   at Microsoft.ML.ModelBuilder.AutoMLService.Proposer.PipelineProposer.Propose(TrialParameter trialParameter) in /_/src/Microsoft.ML.ModelBuilder.AutoMLService/Proposer/PipelineProposer.cs:li

[2021-11-25 01:29] LittleLittleCloud commented on #1924
Looks like the file `validationSetBottlenectFile.csv_features.bin` is created from this [code](https://github.com/dotnet/machinelearning/blob/0577957256c296fdea2deb6b6e00e7be9b458167/src/Microsoft.ML.Vision/ImageClassificationTrainer.cs#L671)

It's probably a bug in AutoML.Net and might not be reproduced in the latest main since we implement our own image classification training. @JerzyKruszewski

[2021-11-25 02:49] vzhuqin commented on #1778
Can repro this issue on: 16.9.1.2156904 (Main)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7593d92a-9422-4d3e-bd55-f0a58f30ca5f)

Column settings:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/50d5e407-d394-4ebd-ba94-ff77f896456f)

[2021-11-25 06:18] vzhuqin commented on #1908
Not repro this issue on latest main: 16.9.1.2156904
![1908 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ac01fe42-ec38-4568-9d9e-d0506e99f408)

[2021-11-25 06:25] vzhuqin commented on #1302
Not repro this issue on latest main: 16.9.1.2156904

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/df2740ca-543f-4b32-b8cd-12dae113c8b9)

[2021-11-25 07:17] vzhuqin commented on #1898
can repro this issue on latest main: 16.9.1.2156904
Similar as https://github.com/dotnet/machinelearning-modelbuilder/issues/1829
Scenario: Image classification>Local (CPU)
![1998 repro.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/79dd1e1a-29ed-445e-ba75-ad047b2c7433)

[2021-11-25 07:20] vzhuqin commented on #901
@zewditu  any update about how to validate this issue?

[2021-11-26 11:07] HashemGo commented on #1929
Any updates here, please?

Visual Studio 2022: Version 17.1.0 Preview 1.1
Microsoft.ML : 1.7.0

![image](https://user-images.githubusercontent.com/42634137/143571445-b09946d7-4c0b-4c68-ae39-c7b36fa1f5c6.png)

[2021-11-26 14:49] HashemGo commented on #1929
And this message showing up in output after I make train time for 30 minutes for a very small dataset 850 raw only, I have all NuGet are updates to 1.7.0,

“Installing NuGet package, package ID: Microsoft.ML, package Version: 1.6.0”

this is another Dataset with 10 raw :(
![image](https://user-images.githubusercontent.com/42634137/143597999-191c2264-4cf2-42d6-a9df-ec9bc3039874.png)

[2021-11-26 16:28] HashemGo commented on #1929
I tried to repair the Visual Studio and make sure every thing updated, but I's going to very bad
the UI ML become like this,
I can't analyze any datasets
any help please? 2 days without any solutions!

![image](https://user-images.githubusercontent.com/42634137/143609518-e253c7d1-6082-45fa-94f5-e8a049bde76c.png)

[2021-11-28 02:49] zewditu commented on #901
Steps to validate
1. Choose Image classification for Azure  or Object detection scenarios
2.  Complete Environment and data pages
3. Click start training
4. Monitor the remote run in the azure portal  either using the link  "Monitor current run in the Azure portal." or directly in Azure portal
5. After the experiment is completed successfully in the portal  open the raw json to see the properties

[2021-11-28 03:49] zewditu commented on #1898
I think this issue is not reproduced on this version, I will reopen  https://github.com/dotnet/machinelearning-modelbuilder/issues/1829

[2021-11-28 08:11] zewditu commented on #1829
My previous comment was not correct, I did not reproduce it correctly.
The issue has happened when we add a notebook before the add console or webApi finishes.

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/b9122c2e-d881-4483-8952-c05eb80c44c0)

[2021-11-29 01:46] vzhuqin commented on #901
not repro this issue on ML.Net Model Builder: 16.9.1.2156904 (Main)

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b455e6d9-bce5-4a2a-990e-93654330645d)

[2021-11-29 01:54] vzhuqin commented on #1898
Yes, not prompt error dialog after refuse overwrite notebook.
- ML.Net Model Builder: 16.9.1.2156904 (Main)
- Notebook Editor [Preview]: 0.2.2.2156601
![1898 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3f3acac1-b898-4712-a430-6153405a99fc)

[2021-11-29 17:33] blahblehblah commented on #1916
@beccamc Would love to hear if there's an update regarding the data i've sent.

[2021-11-29 18:26] zewditu commented on #1929
@HashemGo sorry for the delay to respond to the Issue "Index was outside the bounds of the array"  is a known issue I will be fixed in the future release and follow here https://app.zenhub.com/workspaces/mlnet-tools-5cde1c97e3106e39e8ae08fc/issues/dotnet/machinelearning-modelbuilder/1602
 For training time finished without any model trained could you share your dataset?
 For the Update package  is

[2021-11-29 18:50] zewditu commented on #1928
The issue is not reproduced in the latest model builder
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/ff473628-06c8-44c8-9d8d-08b05b9edbbb)

[2021-11-29 18:56] vLGrok opened #1930 "Images missing from tiles in "Select a scenario""
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2152701
 - Visual Studio Version:  2022 / 17.0.1

**Describe the bug**
- On which step of the process did you run into an issue:  Select a scenario
- Clear description of the problem: When following the tutorial for ML.NET and get to https://dotnet.microsoft.

[2021-11-29 21:27] zewditu commented on #1930
Thanks for reporting this issue, It is a known issue. I

[2021-11-30 19:00] JakeRadMSFT commented on #1842
I'm able to reproduce this issue 100% of the time. I've tried to look for any shared/conflicting VSIX ID or Package IDs but everything looks good.

We'll need to reach out to VSIX installer team to understand what is happen here. Logs don't show anything useful.

[2021-11-30 20:20] LittleLittleCloud commented on #1912
Due to the size limit on nuget, the cli will be splitted to three packages according to its RID, which will have the following pacakge ids

- microsoft.ml.modelbuilder.cli.win64
- microsoft.ml.modelbuilder.cli.osx
- microsoft.ml.modelbuilder.cli.linux64

Do we want to simplify the package name or just keep what we have.

[2021-11-30 21:20] luisquintanilla opened #1931 "Forecasting - Can't process file while being used by another process"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.10.1.2158002
 - Visual Studio Version: Visual Studio 2022 Preview 2.0

**Describe the bug**

File being used by another process error thrown even though the file is not open anywhere when choosing time series column.

**To Reproduce**
Steps to reproduce the behav

[2021-11-30 21:31] zewditu opened #1932 "Time series column tooltip should not be the same as label column tooltip"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/e745a1ea-fc3f-4d50-9293-f3819ad08cbb)
**Expected Experience**
_A description of what you expected to happen. If applicable, add scree

[2021-12-01 16:28] beccamc opened #1933 "Holding UI thread while opening file"
When I opened a forecasting file VS gave me a disabled message. It showed the busy spinner and eventually went gray.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/157780af-7ef7-4587-8653-455402adb03b)

I can share the file if there isn't a repo.

[2021-12-01 19:08] zewditu opened #1934 "Console program’s output is less readable"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
There should be som

[2021-12-01 19:34] beccamc commented on #1912
Per Jake, we need to speak with Bri regarding messaging for uninstall/install.

[2021-12-01 19:39] beccamc commented on #1890
Let's discuss this with interactive team.

[2021-12-01 21:01] beccamc commented on #1842
Relevant discussion: https://developercommunity.visualstudio.com/t/I-cant-update-this-latest-round-of-exte/1531088

[2021-12-02 20:09] beccamc commented on #1914
@LittleLittleCloud Can you take a look at this? Maybe related to the templates?

[2021-12-02 20:10] beccamc commented on #1913
@LittleLittleCloud Maybe this one too?

[2021-12-02 20:24] JakeRadMSFT commented on #1930
Could you please try to clear VS Cache and see if the images comes back? You can do this through opening command line under Visual Studio's  Tool menu and run the following command:

devenv.exe /clearCache

[2021-12-02 20:25] beccamc commented on #1915
@zewditu Was this a bug in code gen that has been fixed?

[2021-12-02 20:30] beccamc commented on #1487
@LittleLittleCloud Is this something that could be done with TorchSharp?

[2021-12-02 20:31] zewditu commented on #1915
yes, it is already fixed

[2021-12-02 21:03] beccamc opened #1935 "Custom SQL Queries"
## Goal

Allow users to specify a custom SQL query instead of generating our own.

## Current experience

Currently users can manually edit via the mbconfig.

## Proposed implementation

We should surface this ability in Advanced Data Options.

Options:

| Options | Pros | Cons |
| --- | --- | --- |
| Any raw SQL query | User is in full control of how they query and structure their data | Adds mor

[2021-12-02 21:13] beccamc commented on #1744
Two things going on here...
1. We should surface the SQL command and allow users to manually edit if they wish. https://github.com/dotnet/machinelearning-modelbuilder/issues/1935
2. We should add DateTime support for both SQL and text types. It's available in [DbType](https://docs.microsoft.com/en-us/dotnet/api/system.data.dbtype?view=net-6.0) and in [DataKind](https://docs.microsoft.com/en-us/dot

[2021-12-02 21:14] beccamc commented on #1897
Tracking adding the DateTime type in issue #1744. Please watch for updates there.

[2021-12-02 21:14] #1897 closed

[2021-12-02 21:18] beccamc commented on #1602
@LittleLittleCloud Can you take a look if this is the same error?  We are still getting Index was outside the bounds of the array at `PipelineProposer.Propose(TrialParameter trialParameter)` (slightly diferent due to TrailParamater).

[code]
Is this the same (or similar) root cause? Happy to create a new issue if not.

[2021-12-02 21:19] LittleLittleCloud commented on #1914
My best guess is that some column name contains blank space which causes column name doesn't match. @hollowdrutt Can you
- remove blank space in column name and see if code snipped shows missing data
- sharing dataset with us if possible

[2021-12-02 21:28] LittleLittleCloud commented on #1602
I'm not sure about that, but let's reuse this issue first and see if there's more coming

[2021-12-02 21:34] LittleLittleCloud commented on #1487
Yeah shouldn't be too much difficult if it's a simple GAN. I'm not sure if it's possible to design a GAN for general purpose though, which will be a major concern if we'd like to introduce it into model builder. Let us know if you have any input @BenjaminCharlton

[2021-12-02 21:40] LittleLittleCloud commented on #1913
To fix it thoroughly maybe we should make dataset `invariance` to local culture and only respect to it's own parsing option? Otherwise it would be unlikely to figure out what's the expect behavior when dataset has a different culture setting (like in this case)

Let's talk about it offline @beccamc . For now @hollowdrutt you should be able to work around it by changing `.` into `,`

[2021-12-02 21:58] LittleLittleCloud commented on #1889
@vzhuqin  the fix is not merged in yet...

[2021-12-03 03:55] BenjaminCharlton commented on #1487
I appreciate the opportunity to comment, @LittleLittleCloud, thank you, but I don't think I'm qualified to say much more about the topic. This feature is certainly be something I want to try, but I wouldn't consider myself a sophisticated user! I suppose, if there were some virtual/abstract methods that could be overloaded to provide purpose-specific functionality, that would be cool...?

[2021-12-03 05:39] vzhuqin commented on #1846
Not repro this issue on latest main:
- ML.Net Model Builder: 16.9.1.2160201
- Notebook Editor [Preview]: 0.2.2.2160203
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/aba46c2a-b07d-486d-ade3-b21b751b032e)

[2021-12-03 07:55] hollowdrutt commented on #1914
@LittleLittleCloud I am using the dataset [https://archive.ics.uci.edu/ml/machine-learning-databases/00601/ai4i2020.csv](https://archive.ics.uci.edu/ml/machine-learning-databases/00601/ai4i2020.csv)

But I would guess that it is caused by my local culture settings, not by the column names.

[2021-12-03 16:41] beccamc commented on #1921
It looks like XiaoYun has already validated this.

[2021-12-03 19:08] dliedke commented on #1916
I am facing the same issue here:

Trial 125 encounter error with message: Read only 0 bytes in file, expected header size of 256
Trial 126 encounter error with message: Read only 0 bytes in file, expected header size of 256
Trial 127 encounter error with message: Read only 0 bytes in file, expected header size of 256
Trial 128 encounter error with message: Read only 0 bytes in file, expected heade

[2021-12-03 20:56] LittleLittleCloud commented on #1914
Thanks @hollowdrutt  We'll take a look

[2021-12-04 18:21] torronen opened #1936 "Error: capacity was less than the current size. Parameter name: requiredLength"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16-7-3-2143002
 - Visual Studio Version 2022 Current

**Describe the bug**
Opening, multi-datatype 59 Gb CSV data set for classification gives error in Advanced Data Options...

Visual Studio becomes unresponsive after clicking Close.
[code]

![image](https://user-i

[2021-12-04 18:27] torronen commented on #1936
I had forgotten to update the extension :(

Works fine on latest version of the extension.

[2021-12-04 18:27] #1936 closed

[2021-12-05 04:54] MightyNold opened #1937 "value prediction parse error in official sample => when too much data I get a pars error (about 50k data)"
official sample not working : https://docs.microsoft.com/fr-fr/dotnet/machine-learning/tutorials/predict-prices-with-model-builder

last version visual 2022/Ml builder as of 05 dec 2021

logs :

   at System.Number.ParseDouble(String value, NumberStyles options, NumberFormatInfo numfmt)
   at Microsoft.ML.ModelBuilder.AutoMLService.Proposer.HyperParameterProposer.Propose(TrialParameter trialParame

[2021-12-05 04:59] MightyNold commented on #1937
if I keep all sample data (1048575 lines of the CSV) I get the error
If I keep only for exemple 1000 first lines sampe run is ok and I get a best quality 0.94 working fine

[2021-12-06 08:11] #1929 closed

[2021-12-06 08:11] zewditu commented on #1929
If you still hit the issue after our next release feel free to reopen it.

[2021-12-06 08:12] #1928 closed

[2021-12-06 15:08] nandomaro commented on #1005
Is there a new update on this? It's pretty common and reproducable with all data sets above 2k images.

[2021-12-06 18:44] zewditu commented on #1937
@MightyNoldthis , this issue is not reproduced in our latest private build
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/1ef9ae8d-0944-4956-a4d6-0ffa36478f36).

[2021-12-06 18:45] zewditu commented on #1937
if you are still in our next release feel free to open it.

[2021-12-06 18:45] #1937 closed

[2021-12-06 19:44] MightyNold commented on #1937
thx a lot :)

[2021-12-06 19:57] MightyNold commented on #1937
nugget 1.7 still same problem
![image](https://user-images.githubusercontent.com/61160121/144912553-bff79d8c-9358-43fd-a1a2-3940f638cbfc.png)

![image](https://user-images.githubusercontent.com/61160121/144912629-92076e02-99d5-41c4-b84f-46a4fce4397a.png)

![image](https://user-images.githubusercontent.com/61160121/144913517-ab14ce9f-99b6-4d4a-9c66-7e632ce81073.png)

[2021-12-06 23:49] beccamc opened #1938 "JSON parsing issue creating notebooks"
I've gotten several different JSON parsing issues while generating notebooks. I'm going to track all of them here.

Local Image classification:
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/6a800c2a-24de-43a6-9c03-36668f66e981)
[Azure(2).zip](https://app.zenhub.com/files/186917455/b8742347-c6da-4c28-8574-a5243f0cfa19/download)

Text classification
![image.png](https://

[2021-12-07 16:37] beccamc commented on #1938
Looks like we can't create any notebook (not through all scenarios but it isn't working for classification or image...). Changing to Ship Blocker.

[2021-12-07 18:01] dliedke opened #1939 "Ignore columns is creating a crazy ML model"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  any version
 - Visual Studio Version 2019 or 2022

**Describe the bug**
The model is generated wrongly with incorrect Label when ignoring some columns from the table.

- Clear description of the problem:
**To Reproduce**
Steps to reproduce the behavior:

1) Train t

[2021-12-07 20:46] beccamc opened #1940 "Notebook is available for SQL"
I chose a Text Classification scenario with SQL. Add Notebook is an available option. It should be disabled.

[2021-12-07 20:49] beccamc opened #1941 "House price dataset doesn't work"
at Microsoft.ML.Transforms.RowShufflingTransformer.Cursor.MoveNextCore()
   at Microsoft.ML.Data.RootCursorBase.MoveNext()
   at Microsoft.ML.Data.LinkedRowFilterCursorBase.MoveNextCore()
   at Microsoft.ML.Data.RootCursorBase.MoveNext()
   at Microsoft.ML.Data.IO.BinarySaver.RowsPerBlockHeuristic(IDataView data, ColumnCodec[] actives)
   at Microsoft.ML.Data.IO.BinarySaver.SaveData(Stream stream,

[2021-12-07 22:04] beccamc commented on #1938
Looks like the SingleModelPipelineConverter is expecting a single object, but instead it's passed this:
[code]

[2021-12-07 22:20] torronen commented on #1939
Possibly related https://github.com/dotnet/machinelearning/issues/5919

[2021-12-07 22:25] torronen commented on #1875
Visual studio 2022, latest ML.NET Extension 16.7.6.215270, 60GB dataset. This is the biggest memory usage I've seen so far in Model Builder. CPU at around 9%, as it is reading from the paging file. Iteration (only) 40.

![image](https://user-images.githubusercontent.com/26261427/145115025-ad5a0746-b680-489a-8d48-5c03ed16c753.png)

[2021-12-07 22:44] #1846 closed

[2021-12-07 23:23] beccamc commented on #1911
Blocked on this issue: https://github.com/dotnet/machinelearning-modelbuilder/issues/1938

[2021-12-07 23:58] LittleLittleCloud commented on #1938
The problem is the schema for singleModelPipeline is changed and we need to increase RunHistory version to trigger an update process. After that update user will loose their run history since the change in single model pipeline schema is a broken change

[2021-12-08 07:01] CommandoHuan opened #1942 "I couldn't see the .NET 6 Framework to choose. I've installed it. I installed VS 2022 community version."
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-12-08 17:30] beccamc opened #1943 "[VS 2019] ModelBuilderPackage did not load correctly: Could not load file or assembly "Microsoft.VisualStudio.Threading, Version=16.10.0.0""
**Model Builder Version**: 16.9.2
**Visual Studion Version**: 16.9

**Bug description**
Cannot load the Model Builder package. I cannot add a new Model Builder file or open a .mbconfig file. When I try to open a file I see the following error message:
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/9792e20e-f45e-427d-998d-570cd43aa957)

The error in the ActivityLog.xaml

[2021-12-08 17:58] beccamc commented on #1943
**TO FIX**: Upgrade VS 2019 to version 16.11 or newer.

The problem here is that in [this PR](https://github.com/dotnet/machinelearning-tools/pull/1313) we upgraded the VSSDK to version 16.10.31321.278 to use new color tokens. SDK version 16.10 is _only_ available in VS version 16.10 and newer. The problem is fixed if using the newest version of VS 2019 - 16.11.

Of the ~2,200 people using the lat

[2021-12-08 23:45] LittleLittleCloud commented on #1941
Hmmmm interesting...

[2021-12-09 00:13] LittleLittleCloud opened #1944 "Update to ML.Net 1.7.0"

[2021-12-09 00:22] LittleLittleCloud opened #1945 "Update ML.Net package version doesn't work on VS2022 int preview"
Model Builder version: latest main
Visual Studio version: Version 17.1.0 Preview 2.0 [32001.329.main]

I'll reach out to vs discuss thread for solution

![image](https://user-images.githubusercontent.com/16876986/145311873-853139cd-cfa1-4866-98eb-eff6dbe74455.png)

## full log
[code]

[2021-12-09 02:17] vzhuqin opened #1946 "Pre-filled the row 2 data on Evaluate page."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2160801
 - Microsoft Visual Studio Enterprise 2019: 16.11.7

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: this is bug regression: https://github.com/dotnet/machinelearning-mod

[2021-12-09 08:41] torronen commented on #1939
I believe, most of the time at least, the ignored columns are ignored correctly. I tried reproduce in Model Builder with a file that had the label column copied as "ignore_this" colomn. "ignore_this" would reveal the result so trees should give perfect scores if not ignored. If there is a chance this might happen it may need to be tested with automated tools since manual reproducability seems diff

[2021-12-09 20:39] LittleLittleCloud commented on #1941
After a close look, it seems that column `PavedDrive` has more than three values (`Y`, `N`, `P`) but it's infered as `boolean`, changing its type into string and everything back to work

[2021-12-10 07:43] vzhuqin commented on #1672
Verify this issue on latest main: 16.9.1.2160801
For "**Column Headers: Yes**": Will note that "Cannot have multiple columns with same name. Please rename or remove column."
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4f00085a-8197-412b-810d-ad94b0437424)

For "**Column Headers: No**" and "**dataset without extra columns**", can complete training.
![image.png](https:

[2021-12-10 17:21] beccamc commented on #1946
I think we've had issues with the row number of this before. Is this really providing the customer with useful information? Realistically what is a customer doing with the exact row number... if I want to open the file and look at my data I would pretty easily see it in the first 10 rows.

@briacht and @romalpani What do you think about removing the row number and just saying "The following fields

[2021-12-10 17:57] blahblehblah opened #1947 "Schema mismatch for label column 'Won': expected Single, got Boolean Parameter name: labelCol"
**System Information (please complete the following information):**
 - Model Builder Version  16.7.6.2152701
 - Visual Studio Version 17.1.0 Preview 1.1

**Describe the bug**
- On starting to train the model.

Error > Schema mismatch for label column 'Won': expected Single, got Boolean Parameter name: labelCol

The label to predict is a Boolean, switching it to Single from the data options raises

[2021-12-10 17:59] blahblehblah commented on #1947
[sTank2.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7694594/sTank2.zip)

[2021-12-10 18:03] zewditu commented on #1946
I think it would be nice to point it is in the top ten rows of the data  by saying maybe  "The following fields below are pre-filled by a row from the top ten  of your  data ."

[2021-12-13 08:50] vzhuqin commented on #1920
Hi @beccamc , sorry for the delay, please see below issues on two environment sizes：
**Environment size: 20**
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/914b8e2b-c9bc-43ed-8e13-d3aab47469a4)
Scenario page:
1.Tags "Local", "Azure", "Example" are cut and no tooltips.
2.Text "Feedback" is cut and no tooltips.
![image.png](https://images.zenhubusercontent.com/60653e4923

[2021-12-13 08:59] vzhuqin commented on #1920
**Environment size: 24**
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/17553066-5105-45d6-9436-b28d3bd6e17c)

Environment page:
1.Text "Scenario" is cut and no tooltips.
2.Tags "Local", "Azure", "Example" are cut and no tooltips.
3.Text "Feedback" is cut and no tooltips.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ba3a07bb-877c-4d30-b008-

[2021-12-13 21:39] beccamc commented on #1947
@blahblehblah Sorry you've ran into this problem! Are you doing Value Prediction or Text Classification scenario?

[2021-12-13 21:42] beccamc commented on #1942
@CommandoHuan sorry you've run into a problem! Can you provide more details on what you're trying to do or repro? Is the problem with the generated Console App or Web API? Or are you trying to add Model Builder to a .NET 6 project?

[2021-12-13 21:45] blahblehblah commented on #1947
@beccamc Value prediction

[2021-12-14 03:15] vzhuqin opened #1948 "Run errors for the generated ConsoleApp project of Object detection scenario."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2161301
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.2

**Describe the bug**
- On which step of the process did you run into an issue: Run the generated ConsoleApp project of Object detection
- - Clear description of the problem: **not sur

[2021-12-14 07:52] vzhuqin opened #1949 "Model Builder Error: Failed to open a zip archive when adding projects to solution."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.9.1.2161301
 - Microsoft Visual Studio Enterprise 2019: 16.11.7

**Describe the bug**
- On which step of the process did you run into an issue: **A prerequisite is that it has been checked into git repro , reopen model builder to Add to solution, prompt the erro

[2021-12-14 12:27] flake-neural commented on #851
I have the same issue with the solution provided above by JakeRadMSFT. Did you manage to find a fix or another solution for this?
I thought there was maybe a step missing and I would have to rebuild something, however the modelbuilder will remove the custom code when I do that.

[2021-12-14 16:31] beccamc commented on #1947
@blahblehblah For the problem you are trying to solve it looks like you should use Classification. Can you try that and see if it works?

[2021-12-14 17:29] blahblehblah commented on #1947
That did work, thank you

[2021-12-14 17:29] #1947 closed

[2021-12-15 22:06] beccamc opened #1950 "Couldn't update from MLNET V1.6 to V1.7"
VS Version - Version 17.1.0 Preview 2.0 [31921.32.main]

I got a message to update my ML.NET from 1.6.0 to 1.7.0 and I couldn't do it.

![image](https://user-images.githubusercontent.com/9122518/146273553-17a0ed50-bac2-49bf-8f5b-c1e0ca7e0911.png)

Specified method is not supported.

   at Microsoft.VisualStudio.ProjectSystem.ProjectSerialization.CachedProject.GetItemProvenance(String itemToMatch,

[2021-12-16 20:31] beccamc commented on #1940
Looks intermittent

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/099ea9db-170e-4c55-8b2d-139a4ad33a4e)

[2021-12-16 23:35] beccamc commented on #1941
How can we get a better error message so we know to at least look at PavedDrive var?

[2021-12-16 23:41] beccamc commented on #1943
Install only available for 16.10 or newer:

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/d2bb7e30-a5a5-4d92-b1d1-9a670c5c962f)

[2021-12-17 09:25] vzhuqin commented on #1829
Not repro this issue on latest main:
- Notebook Editor [Preview]: 0.2.2.2161502
- ML.Net Model Builder: 16.9.1.2161502 (Main)

Now "Project templates" area is disabled when adding one project.
![1829 fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7fd0748f-5340-4542-8f7c-707f2bb8f507)

[2021-12-20 16:34] LittleLittleCloud commented on #1950
dup with #1945

[2021-12-20 16:39] LittleLittleCloud commented on #1941
Maybe we can get detailed information from inner exception from mlnet? let me check

[2021-12-20 16:41] LittleLittleCloud commented on #1948
@zewditu  looks like it's related to the PR you created (https://github.com/dotnet/machinelearning-tools/pull/1354), can you take a look?

[2021-12-20 16:46] LittleLittleCloud commented on #1945
Related with https://github.com/NuGet/Home/issues/11427

[2021-12-20 16:47] LittleLittleCloud commented on #1950
@beccamc

I'm going to close this issue as it's already tracked somewhere else.

[2021-12-20 16:48] #1950 closed

[2021-12-20 16:51] LittleLittleCloud commented on #1949
@vzhuqin
Can you share your git repo?

[2021-12-21 02:30] vzhuqin commented on #1949
@LittleLittleCloud The previous repo has been deleted due to git lfs storage limitation. But I can repro this issue on latest main: 16.9.1.2161701. The git repo is: https://github.com/vzhuqin/Collaboration-OD-1221
![image](https://user-images.githubusercontent.com/81727020/146859897-e3577246-6a97-4ccb-9ca8-06a21c5d8cb2.png)

[2021-12-21 06:03] vzhuqin opened #1951 "Model Builder Error: Column 'Probability' not found Parameter name: name when predicting model in Evaluate page."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.9.1.2161701
 - Microsoft Visual Studio Enterprise 2019: 16.11.8

**Describe the bug**
- On which step of the process did you run into an issue: Evaluate page
- Clear description of the problem: This issue doesn't occur 100%, maybe it is not reproduced after retra

[2021-12-21 12:28] kevison opened #1952 "Version repetitive ML.Net Model Builder 2022 updates of the same version"
Every time I update VS 2022, I get a notification that ML.Net Model builder needs an update... However its the same version that keeps getting re-updated. From version 16.7.3.2143002 to 16.7.6.2152701.

It appears that with the last three VS 2022 I have to udpate this extension to the same version over and over again.  (see screenshot)

![image](https://user-images.githubusercontent.com/509754/146

[2021-12-22 15:55] viniciushernandes commented on #638
I'm having the same error following this tutorial and using the data from a download link in the page (ML.NET Tutorial - Get started in 10 minutes - https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/create).
![Capturar](https://user-images.githubusercontent.com/23454808/147119852-6dab5f7e-2d5e-4726-93d5-95d771cdf2a0.PNG)

[2021-12-22 20:55] kevison commented on #1952
Today is 12/22/2021... Got notification that the PKGDEF extend had an update so updated...
![image](https://user-images.githubusercontent.com/509754/147153872-df7d3d90-34ec-4c0f-a8d1-fea423220463.png)

Watched the update take place and noticed that the MLK.NET package was once again downgraded... so I got the following to now update ML.NET after the PKGDEF extension was finished:
![image](https://

[2021-12-22 22:59] zackmuc commented on #1952
It's like in Groundhog Day  ..  can reproduce it :)

[2021-12-25 18:05] mhectorgato commented on #1923
This happened for me as well.

Log file:

2021-12-25 12:58:28.8825 DEBUG Value cannot be null.
Parameter name: fileName
   at System.IO.FileInfo..ctor(String fileName)
   at Microsoft.ML.ModelBuilder.Utils.Utilities.GetFileTrainTime(String filePath)
   at Microsoft.ML.ModelBuilder.ViewModels.TrainViewModel.<StartTrainingAsync>d__109.MoveNext()
--- End of stack trace from previous location where ex

[2021-12-25 19:41] newbies155 opened #1953 "Expected known-size vector of Single, got Vector<Single>"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2150501
 - Visual Studio Version: 16.11.7

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: it Expected known-size vector of Single, but it apparently got Vector<Single>
the Parameter

[2021-12-28 08:56] vzhuqin opened #1954 "The mbconfig file becomes unsaved after stop debugging."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.11.0.2162702
 - Microsoft Visual Studio Enterprise 2019: 16.11.8

**Describe the bug**
- On which step of the process did you run into an issue: after stop debugging, see mbconfig file state.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a n

[2021-12-28 09:19] vzhuqin opened #1955 "Tooltips doesn't work when the local (CPU) processor information is not fully displayed."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.11.0.2162702
 - Microsoft Visual Studio Enterprise 2022 (64-bit) Version 17.0.3

**Describe the bug**
- On which step of the process did you run into an issue: local (CPU) processor information

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a

[2021-12-28 09:23] zackmuc commented on #1952
Same with
![image](https://user-images.githubusercontent.com/4520343/147550970-04cf0691-064c-4a08-a86d-791a9ded6fe0.png)

[2021-12-28 09:30] vzhuqin opened #1956 "Cannot detect the train time change."
**System Information (please complete the following information):**

- Model Builder Version (available in Manage Extensions dialog): 16.11.0.2162702
- Microsoft Visual Studio Enterprise 2019: 16.11.8

**Describe the bug**
- On which step of the process did you run into an issue: Navigate to Train page, save the model builder, set train time
- Clear description of the problem: model builder cannot

[2021-12-28 13:58] JohnMasen opened #1957 "Authentication failed while creating object detection model on Azure China"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.7.6.2152701
 - Visual Studio Version: 17.0.4

**Describe the bug**
I have several Azure accounts, one of them is Azure China account.
The default account is Global Azure account.
Model Builder always throw authentication error while creating an object detection m

[2021-12-29 20:07] LittleLittleCloud commented on #1957
If I recall correctly Azure global and Azure China don't share a lot of things so it's possible that object detection is not available in Azure China, let me reach out to Azure AutoML Vision team to confirm.

[2021-12-29 20:10] LittleLittleCloud commented on #1922
Closing the issue since there's no roadmap for that for now.

[2021-12-29 20:10] #1922 closed

[2021-12-29 20:11] behnamasaei opened #1958 "Modle builder error"
at Microsoft.ML.ModelBuilder.Observable.ObservableModel.<ExecuteUpdateHandlerAsync>d__24.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Microsoft.ML.ModelBuilder.Observable.Observable

[2021-12-29 20:13] behnamasaei opened #1959 "Error on train image classification ( The type initializer for 'Tensorflow.Binding' threw an exception. )"
at Microsoft.ML.Vision.ImageClassificationTrainer..ctor(IHostEnvironment env, Options options)
   at Microsoft.ML.AutoML.ImageClassificationExtension.CreateInstance(MLContext mlContext, IEnumerable`1 sweepParams, ColumnInformation columnInfo, IDataView validationSet)
   at Microsoft.ML.AutoML.SuggestedTrainer.BuildTrainer(IDataView validationSet)
   at Microsoft.ML.AutoML.SuggestedPipelineBuilder.

[2021-12-29 20:17] LittleLittleCloud commented on #1951
@vzhuqin Did you retrain your model after changing label type? If not the error is somehow expected but maybe a more proper way is to mark train page as incomplete if column type get changed

[2021-12-29 20:20] LittleLittleCloud commented on #1958
@vzhuqin You don't need to validate this. The PR should solve all null object error as expected.

[2021-12-29 20:23] LittleLittleCloud commented on #1954
Hmmm that's interesting,,, two irrelavant things somehow interact with each other

[2021-12-29 20:27] LittleLittleCloud commented on #1939
Thanks for reporting, it's expected that the code will include ignored columns as ignoring column will only affect how training pipeline created, rather than how dataset get loaded. You can check on the generated training pipeline and you should find out that the ignored column is not used to train the model.

Can you give an example on invalid lable as well?

[2021-12-29 21:30] LittleLittleCloud commented on #1952
We have the fix in VS which will be released on Jan/19 2022, I'll update on this thread once the fix goes out

[2021-12-30 01:35] vzhuqin commented on #1951
@LittleLittleCloud It was not discovered after retain.  I started the first training after setting up the columns,, and then I encountered the error when predicting. Then back to click "Train again" with the same settings, the error may not be able to be reproduced.

[2021-12-30 19:20] LittleLittleCloud commented on #1959
Looks like TF binary fail to initialize, it's probably because of CPU incompatible. Can you let us know which CPU you are using?

[2021-12-30 19:23] LittleLittleCloud commented on #1882
The building error is a restoration failure instead of code gen error, I'll open another thread to track that.

[2021-12-30 19:24] LittleLittleCloud commented on #1889
The fix should merge in

[2021-12-30 19:27] LittleLittleCloud commented on #1778
Looks like the error has been fixed since the exception is "Train time finish without any model trained", which is expected

[2021-12-30 19:33] kevison commented on #1952
awesome! thank you!

[2021-12-31 14:50] JohnMasen commented on #1957
Azure ML which the model builder using to create object detection model is already GA in Azure China.

[2021-12-31 16:48] chanmmn opened #1960 "Object reference not set to an instance of an object"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio 2022 Version 17.0.4

**Describe the bug**
- The log file as follow:
- 2022-01-01 00:38:18.2177 INFO Set log file path to C:\Users\chan-mingman\AppData\Local\Temp\MLVSTools\logs\MLModel1-QR8Y0S.txt (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-0

[2021-12-31 19:37] nicholas-sharp opened #1961 "ML Tutorial"
Latest 2022 Visual Studio.  Following instructions found here:  https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/intro

.NET 6.0 (LTS) - or any other does not show up in the list to choose for .NET version.  It is installed.  Verified by downloading/installing separately.  Latest version to choose (even after project is set up) is 4.8.

[2022-01-01 14:35] TrevorDArcyEvans opened #1962 "mlnet not compatible with .NET Core 6.0.1"
Operating system:  Linux Mint 20.2 based on Ubuntu 20.04

Installed `mlnet`:

[code]

Try to run `mlnet`:

[code]

Possibly related to #640

[2022-01-01 22:24] dliedke commented on #1939
Sorry, I can't provide the data I was using for training because it is company confidential. Thank you!

[2022-01-01 22:24] #1939 closed

[2022-01-02 14:06] swchan opened #1963 "Visual Studio 2022 create project C# Console dot net 6.0 was missing from selection"
- Visual Studio Version 2022

- I was sure I had installed Dot Net SDK 6.0, but when I opened VS 2022, and tried create a project C# Console App (.NET Framework), and changing its Dot Net Version, I could only select Framework 4.6, 4.7.2, 4.8, but 6.0 was missing.
-
![printscreen](https://user-images.githubusercontent.com/12689617/147878334-0e265252-520e-420c-b27b-943a2c627f6e.JPG)