[2022-09-19 09:04] v-Hailishi opened #2250 "Forecasting: The "Date" column type is changed to "DateTime" abnormally after inputting the SQL Server Database File on the Data page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2246601 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The "Date" column type is changed to "DateTime" abnormally after inputting the SQL Server Databas

[2022-09-19 18:40] LittleLittleCloud commented on #2248
which version of cli are you using

[2022-09-19 19:59] beccamc commented on #2247
Sorry you've run into this problem. The Model Builder and GPU version **need to match**. I assume you are on an older version of Model Builder because in newer version we have updated the error message to indicate that.

Can you update both [Model Builder](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) and [GPU](https://marketplace.visualstudio.com/items?itemName=MLNET

[2022-09-19 20:02] beccamc commented on #2218
Sorry for the delay on this issue!

1. Can you update Model Builder to the [latest version](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) 16.13.10.2241902?
2. Are you using Global Azure or Azure China (or another specific Azure cloud)?
3. Can you share your VOTT file?

[2022-09-19 20:03] beccamc commented on #2232
@luisquintanilla We aren't expected to work with a UWP app are we?

[2022-09-19 20:04] beccamc commented on #2232
@JohnMahanDavis Thanks for the feedback! Do you have suggestions for how the GPU instructions or information could be improved? What part was confusing and difficult to follow?

[2022-09-19 20:05] beccamc commented on #2230
Any update on the latest version of Model Builder?

[2022-09-19 20:07] beccamc commented on #2234
@LittleLittleCloud Will this be in the next release? Is the version bump of ML.NET already in?

[2022-09-19 20:08] SPYazdani commented on #2234
 Hi $contact_first_name $contact_last_name,
					    We've received your case $acase_name (# $acase_case_number) on $acase_date_entered
					    Status$acase_statusReference$acase_case_numberDescription$acase_description
On 20/09/2022, 06:07, ***@***.*** ***@***.*** Will this be in the next release? Is the version bump of ML.NET already in?

—
Reply to this email directly, view it on GitHub, or un

[2022-09-19 20:11] LittleLittleCloud commented on #2234
@beccamc
We don't have any action item for this issue. The current mlnet version in generated project should already be 1.7.1.

[2022-09-19 20:12] beccamc commented on #2211
@v-Hailishi Can you see if this still reproduces. Let me know if you need the housing price dataset

[2022-09-19 20:13] SPYazdani commented on #2234
 Hi $contact_first_name $contact_last_name,
					    We've received your case $acase_name (# $acase_case_number) on $acase_date_entered
					    Status$acase_statusReference$acase_case_numberDescription$acase_description
On 20/09/2022, 06:12, ***@***.*** ***@***.***

We don't have any action item for this issue. The current mlnet version in generated project should already be 1.7.1.

—
Reply to th

[2022-09-19 20:16] beccamc commented on #2234
@SPYazdani Please update the ML.NET version to 1.7.1. Newer versions of Model Builder will generate this correctly. Let us know if that doesn't work for you - thanks!

[2022-09-19 20:16] #2234 closed

[2022-09-19 20:17] SPYazdani commented on #2234
 Hi $contact_first_name $contact_last_name,
					    We've received your case $acase_name (# $acase_case_number) on $acase_date_entered
					    Status$acase_statusReference$acase_case_numberDescription$acase_description
On 20/09/2022, 06:16, ***@***.*** wrote:Closed #2234 as completed.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were ment

[2022-09-19 20:17] SPYazdani commented on #2234
 Hi $contact_first_name $contact_last_name,
					    We've received your case $acase_name (# $acase_case_number) on $acase_date_entered
					    Status$acase_statusReference$acase_case_numberDescription$acase_description
On 20/09/2022, 06:16, ***@***.*** ***@***.*** Please update the ML.NET version to 1.7.1. Newer versions of Model Builder will generate this correctly. Let us know if that doesn't

[2022-09-19 20:18] #2121 closed

[2022-09-19 20:23] beccamc commented on #2233
Tracking this in https://github.com/dotnet/machinelearning-modelbuilder/issues/1702

[2022-09-19 20:23] #2233 closed

[2022-09-19 20:24] beccamc commented on #2240
Moving to current milestone for 2019 fix.

[2022-09-19 20:25] LittleLittleCloud commented on #2240
@v-Hailishi the fix for VS2019 should be checked in.

[2022-09-19 20:30] beccamc commented on #1456
@vzhuqin Can we close this in favor of the new relative path behavior implemented by LittleLittleCloud?

[2022-09-19 20:31] beccamc commented on #1456
Closing this as relative path has been implemented and is being tested in another issue.

[2022-09-19 20:31] #1456 closed

[2022-09-19 20:51] luisquintanilla commented on #2134
@zewditu to confirm whether 401 comes back from SDK call. If so, file an issue with SDK.

[2022-09-19 20:56] luisquintanilla commented on #2232
I'm not aware of any technical limitations that would keep MB from working on UWP apps. @JakeRadMSFT are you aware of anything?

[2022-09-19 20:59] LittleLittleCloud commented on #2246
should already be fixed in main

[2022-09-19 21:01] zewditu commented on #2134
The workspace creation part  is note done by the new Azure SDK we are still stick with the old SDK

[2022-09-19 21:01] LittleLittleCloud commented on #2249
should already be fixed in main

[2022-09-19 22:28] beccamc commented on #2134
What is the plan to update to the new Azure SDK for this?

[2022-09-20 02:11] SPYazdani commented on #2234
@beccamc This issue is not completed. Please go back and read the logs I posted.

[2022-09-20 02:21] v-Hailishi commented on #2211
@beccamc I can train [House Prices](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data?select=train.csv) dataset successfully on the latest main branch 16.13.10.2246901.
![image](https://user-images.githubusercontent.com/99375895/191152954-e6f5085f-f15d-4e28-bcd1-6367cf217010.png)

[2022-09-20 02:51] v-Hailishi commented on #2249
@LittleLittleCloud The bug is still repro on the latest main branch: 16.13.10.2246901

[2022-09-20 02:51] v-Hailishi commented on #2246
@LittleLittleCloud The bug is still repro on the latest main branch: 16.13.10.2246901

[2022-09-20 16:09] beccamc commented on #2234
Are you on MB version 16.13.10.2241902? If not can you [update ](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)and try again?

[2022-09-20 16:10] beccamc commented on #2211
Sorry Luis. No repro of this issue. If you see it again and get a consistent repro please re-open.

[2022-09-20 16:10] #2211 closed

[2022-09-20 16:10] SPYazdani commented on #2234
 Hi $contact_first_name $contact_last_name,
					    We've received your case $acase_name (# $acase_case_number) on $acase_date_entered
					    Status$acase_statusReference$acase_case_numberDescription$acase_description
On 21/09/2022, 02:09, ***@***.*** wrote:Are you on MB version 16.13.10.2241902? If not can you update and try again?

—
Reply to this email directly, view it on GitHub, or unsubsc

[2022-09-20 18:24] LittleLittleCloud commented on #2246
We just update latest main and it should be 16.13.10.2247001 now

[2022-09-20 23:06] kitosd commented on #2221
VS version is 16.11.18
I can update successfully

[2022-09-21 02:32] v-Hailishi commented on #2240
The bug has been fixed on the latest main branch 16.13.10.2246901 for VS2019.

[2022-09-21 03:24] v-Hailishi commented on #2246
Still repro on the latest main branch: 16.13.10.2247001

[2022-09-21 05:06] luisquintanilla commented on #2191
## To-Do's

@luisquintanilla

- [ ] Provide copy for each of the scenarios in the Trainers Tab.

@LittleLittleCloud

- [ ] Provide list of trainers used for Data Classification and Value Prediction scenarios.
- [ ] Confirm image classification uses the same metrics as classification.
- [ ] Confirm forecasting metrics used are the same as regression (value prediction). Does forecasting use R-Square

[2022-09-21 16:52] zewditu commented on #2134
The reason we still use the old SDK is the new SDK does not let us create dependent resources of a workspace like a key vault, application insight and storage account, and container registry automatically.

[2022-09-21 18:53] mikehulme6498 opened #2252 "New feature for the ML model builder."
At the minute when you evaluate your trained model it pre-populates with row one of your trained data. This is fine when you only have one or two features to change but if you have many (like I do) it is a pain typing it out to try different parameters.

It would be good if you could select rows from your data and it filled all the fields in automatically.

[2022-09-21 19:43] zewditu commented on #2191
For  Image classification : `Accuracy, Average Precision Score Weight, AUC weighted , normalized macro recall`
OD: we only have one` MeanAveragePrecision`.

[2022-09-21 20:01] beccamc commented on #2252
Thanks for the suggestion @mikehulme6498. How would you feel about this functionality being exposed as a code snippet that you can modify? Or is this something you want available in the UI?

[2022-09-21 20:03] beccamc commented on #2171
Sorry, I don't have enough information to investigate this issue. If you're still seeing this problem, a sample of your dataset would be helpful. Thanks!

[2022-09-21 20:03] #2171 closed

[2022-09-21 20:33] mikehulme6498 commented on #2252
No problem, I was thinking more in the UI, so maybe a textbox where you could enter what row you want to test.

I'm not new to C# but very new to machine learning, I think the model builder is a great tool by the way. I am enjoying playing around with it. I still have lots to learn.

[2022-09-22 01:00] zewditu commented on #2134
@v-Hailishi  can you validate this on this  private build
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/zewd/Fixenv/atom.xml

[2022-09-22 02:32] zewditu commented on #2191
One thing want to confirm one thing ,  when we say " Image classification metrices are the same as data classification",  are we talking about the `muti-classification`  one?

[2022-09-22 07:51] v-Hailishi commented on #2134
@beccamc This bug is also repro on the private build
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/zewd/Fixenv/atom.xml
![image](https://user-images.githubusercontent.com/99375895/191689106-49fc1b59-a7ac-45d9-8d3a-68e577648dc4.png)

[2022-09-22 14:38] luisquintanilla commented on #2191
Good question. I think it's multiclass. @LittleLittleCloud do you know?

[2022-09-22 15:28] zewditu commented on #2134
@v-Hailishi  thanks for checking

[2022-09-22 16:00] luisquintanilla commented on #2191
@LittleLittleCloud can you please take a look at the descriptions I provided for the trainers to make sure I accurately captured the main points.

[2022-09-22 17:59] zewditu commented on #2134
@v-Hailishi, I made some changes, could you try this build ?https://privategallery.blob.core.windows.net/gallery/refs/heads/u/zewd/Fixenv/atom.xml

[2022-09-22 18:07] luisquintanilla opened #2253 "Label column purpose in Advanced Data Options is set to Feature"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.10.2245901
 - Visual Studio Version: VS 2022 17.3.4

**Describe the bug**
- On which step of the process did you run into an issue: Data
- Clear description of the problem:

Column purpose doesn't match between main Data page and Advanced Data Options dialog.

[2022-09-22 18:16] luisquintanilla commented on #2089
@beccamc sorry for the delay on this. I think we can close this since most of the work is complete. Thanks

[2022-09-22 18:16] #2089 closed

[2022-09-22 18:21] luisquintanilla commented on #2129
cc @LittleLittleCloud

[2022-09-22 19:39] luisquintanilla commented on #1056
Thanks for this issue @nsulikowski

Closing this issue since it's already being tracked in #1582 and 4 is already possible by using the `mlnet train --training-config <MBCONFIG-PATH>` command in the [latest release of the ML.NET CLI](https://learn.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-ml-net-cli).

If you have additional feedback, please feel free to create a new issue.

[2022-09-22 19:39] #1056 closed

[2022-09-22 19:52] luisquintanilla commented on #2000
Closing this issue since it's been fixed.

Thanks @torronen

[2022-09-22 19:52] #2000 closed

[2022-09-22 19:54] luisquintanilla commented on #2007
Closing this issue since related issue has been fixed and displaying output window information in UI is being tracked in #1582. If there's anything I missed, feel free to open a new issue @LittleLittleCloud

[2022-09-22 19:54] #2007 closed

[2022-09-22 19:56] luisquintanilla commented on #2063
Closing this issue since it's stale and needs more details.

@DataJuggler if you have additional feedback, feel free to open a new issue.

[2022-09-22 19:56] #2063 closed

[2022-09-22 20:00] luisquintanilla commented on #1537
Closing this issue since it's already being tracked and worked on in Advanced Training Options #2191 as well as #1582

Thanks @torronen

[2022-09-22 20:00] #1537 closed

[2022-09-22 20:02] LittleLittleCloud commented on #2129
`LightGbm`, `FastTree`,  `Sdca` and `Lbfgs` should already use platt as calibrator so you can just use `Probabilities` column from `model.Transform`. For `FastForest`, you need to manually calibrate the model and here's [how](https://github.com/dotnet/machinelearning/issues/6120#issuecomment-1062339650) to do it.

[2022-09-22 20:06] luisquintanilla commented on #2129
Thanks @LittleLittleCloud.

@CBrauer if you have additional questions, please feel free to create a new issue.

[2022-09-22 20:06] #2129 closed

[2022-09-22 20:26] luisquintanilla commented on #1026
Thanks @johnwc @chunky for the discussion.

Issue dotnet/machinelearning#181 has been reopened to track feedback. Closing this issue for now since it's currently not possible without framework support in Model Builder / ML.NET CLI.

[2022-09-22 20:26] #1026 closed

[2022-09-22 20:31] luisquintanilla commented on #1031
Not sure why this issue was reopened. Closing

[2022-09-22 20:32] luisquintanilla commented on #2081
Thanks all for the discussion. Closing this issue since it's already being tracked and worked on as part of #2046

[2022-09-22 20:32] #2081 closed

[2022-09-22 20:33] luisquintanilla commented on #1870
Thanks all for the discussion. Closing this issue for now since it's already being tracked in #2059

[2022-09-22 20:33] #1870 closed

[2022-09-22 20:36] luisquintanilla commented on #1182
Thanks all for the discussion. Closing this issue since it's already being tracked as part of #2059

[2022-09-22 20:36] #1182 closed

[2022-09-22 20:50] luisquintanilla commented on #1487
Thanks all for the discussion. At this time this is not a supported scenario in the ML.NET framework which is the intent for limited scenarios (show supported scenarios in ML.NET which are not part of Model Builder), so it's not possible to add it to Model Builder at this time. As @LittleLittleCloud recommended, using TensorFlow.NET or TorchSharp would be the recommended way to go for now which st

[2022-09-22 20:50] #1487 closed

[2022-09-22 21:03] luisquintanilla commented on #1799
Hi @Su-Bi-su

There's a few things at play here. The model used in the sample is small. I suspect with Model Builder, you trained using your own data. Therefore, the more data that you use, the larger your model becomes and as a result the higher the impact on latency. Since the object detection scenario is currently only available through Azure ML, other than training the model on your behalf, we

[2022-09-22 21:03] #1799 closed

[2022-09-22 21:05] luisquintanilla commented on #1622
Thanks for this issue @behroozbc. There are no plans to add support for NoSQL databases to our tools. However, as we hear more feedback from users, we can reevaluate at a later date. Closing this issue for now.

[2022-09-22 21:05] #1622 closed

[2022-09-22 21:09] luisquintanilla commented on #2118
Thanks @JTRlaze for this feedback. Closing this issue since this is already being worked on and investigated as part of #1957

[2022-09-22 21:09] #2118 closed

[2022-09-22 21:11] luisquintanilla commented on #2252
Thanks for this feedback @mikehulme6498. Closing this issue as a duplicate of #2101. Feel free to track progress on there.

[2022-09-22 21:11] #2252 closed

[2022-09-22 21:11] luisquintanilla commented on #2101
@mikehulme6498 please follow this issue for developments related to your request.

[2022-09-22 21:11] #2101 closed

[2022-09-22 21:14] luisquintanilla commented on #2133
Hi @tauheedul

Thanks for this request. Currently ML.NET does not support this therefore it's not possible to enable this functionality in Model Builder. As a result, there are no plans to work on this at this time. As the ML.NET framework evaluates expanding support for these devices, Model Builder will reevaluate as well.

Closing this issue for now

[2022-09-22 21:14] #2133 closed

[2022-09-22 21:16] luisquintanilla commented on #2093
Closing this issue due to lack of activity.

Not sure if this issue is related to authentication on other clouds, but if it is it's being worked on as part of #1957.

@JTRlaze please feel free to open a new issue if you're still experiencing problems.

[2022-09-22 21:16] #2093 closed

[2022-09-22 21:18] luisquintanilla commented on #1957
Thanks all for the discussion. Closing this issue as it's being looked at as part of #2134

[2022-09-22 21:18] #1957 closed

[2022-09-22 21:21] luisquintanilla commented on #2079
Sorry to hear you ran into this @JTRlaze. We're working through these issues as part of #2134

[2022-09-22 21:21] #2079 closed

[2022-09-22 21:23] Viir commented on #1026
Thank you for the update Luis,

however, it looks like https://github.com/dotnet/machinelearning/issues/181 is not yet completely reopened, as comments are still disabled there:

The UI says:

![image](https://user-images.githubusercontent.com/19209696/191853343-07707de5-ea4a-4955-a747-b90f139e2c6b.png)

[2022-09-22 21:23] luisquintanilla commented on #2041
Thanks @andrasfuchs. To try and consolidate requests, I'm closing this issue as duplicate of #1999.

[2022-09-22 21:23] #2041 closed

[2022-09-22 21:25] luisquintanilla commented on #1026
@Viir thanks for the heads up. It should be fixed now. Thanks.

[2022-09-22 21:58] luisquintanilla commented on #2030
@beccamc are we okay to close this issue since #1303 has already been closed as well?

[2022-09-22 21:59] luisquintanilla commented on #2029
@beccamc are we okay to close this issue since related issues have already been closed as well?

[2022-09-22 22:03] luisquintanilla commented on #2011
@v-Hailishi can you please validate whether this has been fixed. If we can't repro, I'll close the issue.

[2022-09-22 22:14] #2030 closed

[2022-09-22 22:15] luisquintanilla commented on #2251
Hi @deiruch

In an effort to consolidate issues, I'm closing this as a duplicate request of #1618. Please follow any new developments on that issue.

[2022-09-22 22:15] #2251 closed

[2022-09-22 22:17] luisquintanilla commented on #2218
@beccamc if we confirm that this is related to #2134 I would suggest closing this issue since it's already being worked on and tracked there.

[2022-09-22 22:19] luisquintanilla commented on #2140
Closing this issue since it's related to Azure quotas and not Model Builder. Also as part of #1702 we're adding instructions to provide better guidance for users running into this issue.

@JTRlaze Sorry you ran into this but I would recommend following the documentation guides @beccamc provided.

[2022-09-22 22:19] #2140 closed

[2022-09-22 22:21] luisquintanilla commented on #2045
@LittleLittleCloud are we okay to close this issue since dotnet/machinelearning-tools#1425 has been merged?

[2022-09-22 22:26] luisquintanilla commented on #2232
@JohnMahanDavis one thing I can think of to help unblock you here is:

1. Create a C# Class Library project and train your machine learning model there.
2. Reference the C# Class Library project containing the model in your UWP app.

[2022-09-22 22:41] luisquintanilla commented on #1343
Closing this issue since it's already being worked on as part of #2191

[2022-09-22 22:41] #1343 closed

[2022-09-22 22:43] luisquintanilla commented on #1339
@luisquintanilla note to self: This is related to continued training.

Being able to select which algorithms to train is being worked on as part of #2191

[2022-09-22 22:47] luisquintanilla commented on #1738
@luisquintanilla note to self: This is part of the improve code gen story

[2022-09-22 23:02] luisquintanilla commented on #1925
Unable to repro in latest version 16.13.10.2245901. Closing this issue.

[2022-09-22 23:02] #1925 closed

[2022-09-22 23:05] luisquintanilla commented on #2130
@zewditu thanks for putting this together. Closing for now since most of the items on here are complete.

[2022-09-22 23:05] #2130 closed

[2022-09-22 23:10] luisquintanilla commented on #1550
Thanks all for the discussion. There are no plans for this at the moment, so closing for now.

[2022-09-22 23:10] #1550 closed

[2022-09-22 23:12] luisquintanilla commented on #207
Closing this issue since it's already possible in the latest version of the AutoML API and being worked on as part of #2191

[2022-09-22 23:12] #207 closed

[2022-09-22 23:12] luisquintanilla commented on #1507
@LittleLittleCloud is this still relevant or am I okay to close?

[2022-09-22 23:12] luisquintanilla commented on #1506
@LittleLittleCloud is this issue still relevant or am I okay to close?

[2022-09-23 02:44] v-Hailishi commented on #2245
The bug has been fixed on the latest main branch 16.13.10.2247001
![image](https://user-images.githubusercontent.com/99375895/191883120-c97e1426-d0dc-4521-b0a3-258db5968dd5.png)

[2022-09-23 02:57] v-Hailishi commented on #2244
The bug has been fixed on the latest main branch 16.13.10.2247001
![image](https://user-images.githubusercontent.com/99375895/191884277-0de5834b-1baf-401a-b345-6411a3c46813.png)
![image](https://user-images.githubusercontent.com/99375895/191884337-4bfb54ed-6017-42ac-b091-35c049da7827.png)

[2022-09-23 03:04] v-Hailishi commented on #2134
@zewditu This bug has been fixed on the private build 16.13.10.2247202
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/zewd/Fixenv/atom.xml
![image](https://user-images.githubusercontent.com/99375895/191884734-8598ebc4-edc1-40f5-bc63-217c51d43ac9.png)

[2022-09-23 03:13] v-Hailishi commented on #2015
Verified on the latest main branch 16.13.10.2247001, the advanced data options for the forecasting scenario have been updated like blow:
![image](https://user-images.githubusercontent.com/99375895/191885568-911b5856-43ce-4012-9fb7-b03f26aba748.png)

[2022-09-23 03:25] v-Hailishi commented on #1456
The bug has been fixed on the latest main branch 16.13.10.2247001.

[2022-09-23 03:38] v-Hailishi commented on #1747
The bug is not repro on the latest main branch 16.13.10.2247001

[2022-09-23 05:28] zewditu commented on #2134
@v-Hailishi thanks for testing !

[2022-09-23 10:21] v-Hailishi commented on #2011
@luisquintanilla I don't know how to see the error message "Trial 23 encounter error with message: One or more errors occurred. (Operation was canceled.)". The classification model can be trained successfully by using CLI 16.13.10.
![image](https://user-images.githubusercontent.com/99375895/191940888-968ef599-5424-4858-98f7-b06b1d8f9f1f.png)

[2022-09-23 16:07] JohnMahanDavis commented on #2232
Luis and Team, Thanks for that suggestion.  It worked like a charm.  I was able to make the Model Builder work, but struggled some in the Consume Your Model section. Only two suggestions to improve clarity further for anyone else who might be in this predicament,:It would be helpful to mention at the beginning of the Consume Your Model step, to right-click on the Project Template that was added to

[2022-09-23 16:59] luisquintanilla commented on #2232
Hi @JohnMahanDavis

Happy to hear you got it working. Thanks for that feedback. There are a few improvements we want to make to our generated code which we're tracking in #1638. I'll close this issue for now, but I'll create a new one to investigate using Model Builder with UWP.

Thanks

[2022-09-23 16:59] #2232 closed

[2022-09-23 17:06] luisquintanilla opened #2255 "Investigate Model Builder not working on UWP"
## To-Do

- [x] Repro issue (Validated by @luisquintanilla)
- [ ] Investigate whether there are technical limitations to making Model Builder work on UWP

## Suggested workarounds

1. Use ML.NET CLI
1. Use C# Class Library
    - Create C# Class Library project
    - Add Machine Learning Model to C# Class Library project
    - Add project reference in UWP app to C# Class Library project in ML.NET
1

[2022-09-23 17:59] LittleLittleCloud commented on #1506
Yep, you can close that

[2022-09-23 17:59] LittleLittleCloud commented on #1507
You can close as it's completed

[2022-09-23 18:00] LittleLittleCloud commented on #2045
Yep

[2022-09-23 20:00] #1506 closed, assigned to LittleLittleCloud

[2022-09-23 20:00] #1507 closed

[2022-09-23 20:00] #2045 closed

[2022-09-24 22:02] patteesolomon opened #2256 "Image training data load fails with single images"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the scenario
2. Setup the Environment
3. Give it the Image folder

[2022-09-26 08:10] kimhegg commented on #851
Did you figure it out?

[2022-09-26 14:39] beccamc opened #2257 "Load IDataView in generated console project"
Image Classification
- [x] Read from memory - [Issue](https://github.com/dotnet/machinelearning-modelbuilder/issues/851)

Text
- [x] Load into IDataView from csv
- [x] Load into IDataView from SQL

[2022-09-26 17:15] luisquintanilla commented on #2257
@beccamc I think this is a good candidate to track in #1638

[2022-09-26 18:43] beccamc commented on #2256
@patteesolomon Sorry you've run into this problem and thanks for reporting.

- What version of Model Builder are you using? Can you make sure its [16.13.10](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)?
- How is your image folder structured? Does it have a top folder, containing subfolders of images?
- What file format are your images? (i.e. .jpg, .png)
- Approximate

[2022-09-26 19:34] akade opened #2258 "Regression model: "Index was outside the bounds of the array""
**System Information (please complete the following information):**
 - Model Builder Version: 16.13.10.2241902
 - Visual Studio Version: 17.3.4

**Describe the bug**
Training a regression model ("Value prediction scenario") fails with "Index was outside the bounds of the array". Maybe related to #1602 but this time it 's not a text classification task. I tried it with the taxi fare data and then i

[2022-09-26 19:35] beccamc commented on #2247
Any luck with updating the versions? Did that solve the problem?

[2022-09-26 19:49] akade commented on #2258
In the meantime I experimented a little bit more:
It seems that *not the number of columns is important but the number of rows*. I had only 68 rows in the initial dataset. If double the amount of data, it works.

[2022-09-26 20:15] luisquintanilla commented on #1676
Issue is not a priority. Closing for now. Console output is supplementary to the main UI experience.

[2022-09-26 20:15] #1676 closed

[2022-09-26 20:17] luisquintanilla commented on #1483
This isssue is not a priority at the moment. As we hear feedback from users, we can revisit.

[2022-09-26 20:17] #1483 closed

[2022-09-26 20:19] luisquintanilla commented on #1603
@v-Hailishi can you please check whether you can repro on VS2022?

If it succeeds, can you please also provide the pipeline that gets generated.

[2022-09-26 20:21] luisquintanilla commented on #1675
This is not part of the model building experience, and not a high priority. Closing for now.

[2022-09-26 20:21] #1675 closed

[2022-09-26 20:23] luisquintanilla commented on #1735
Tagging this as part of the #1761

[2022-09-26 20:23] GhandiHopZX commented on #2256
I already downloaded the version you mentioned.
My folder is structured the way the program wanted me to
set it up.
.pngs
How many do I really need?

[2022-09-26 20:24] luisquintanilla commented on #1735
Nevermind. Closing. This looks like a duplicate of #1899 which was unable to repro

[2022-09-26 20:24] #1735 closed

[2022-09-26 20:25] patteesolomon commented on #2256
I already downloaded the version you mentioned.
My folder is structured the way the program wanted me to
set it up.
.pngs
How many do I really need?

[2022-09-26 20:26] luisquintanilla commented on #1746
@v-Hailishi can you please try and repro using the latest versions.

[2022-09-26 20:27] luisquintanilla commented on #1800
This issue is not a priority at this time. As we hear more, we can investigate and reevaluate.

[2022-09-26 20:27] #1800 closed

[2022-09-26 20:30] luisquintanilla commented on #1830
@v-Hailishi can you please confirm this is also the case for VS2022. Thanks

[2022-09-26 20:35] beccamc commented on #2256
Can you zip your data and upload it?

Something is going wrong in processing the data. If it were processing correctly it should show you a data preview. I asked how many images you had in case you have a large number and it was slow to process.

[2022-09-26 21:01] patteesolomon commented on #2256
here you can look at my folder hierarchy..
[image.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/9649657/image.zip)

[2022-09-27 02:22] v-Hailishi commented on #1830
@luisquintanilla Verified on the latest main branch 16.13.10.2247001, the bug is repro for both of VS2022&VS2019.
VS2022:
![image](https://user-images.githubusercontent.com/99375895/192416609-8ffd77f4-95c7-4b81-8a9d-e44debdc6689.png)
VS2019:
![image](https://user-images.githubusercontent.com/99375895/192416645-0356492c-8a26-4bc9-b284-16c5d2010551.png)

[2022-09-27 02:40] v-Hailishi commented on #1746
@luisquintanilla The bug is not repro on the latest main branch 16.13.10.2247001.
![image](https://user-images.githubusercontent.com/99375895/192418969-f388f932-67bb-452e-95db-082862f106ae.png)

[2022-09-27 02:47] v-Hailishi commented on #1603
@luisquintanilla Verified on the latest main branch 16.13.10.2247001, the bug is repro for both of VS2022&VS2019.
[Pipelines - Run 20220920.1 (visualstudio.com)](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6711984&view=results)

[2022-09-27 04:30] thecoucs opened #2259 "Bug on Tutorial ML.NET"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-09-27 04:44] thecoucs commented on #2259
The solution for this error is to update ModelBuilder extension to last version or version indicates into Tutorial

[2022-09-27 04:44] #2259 closed

[2022-09-27 15:40] luisquintanilla commented on #1830
Thanks for confirming. Tracking this as part of #1638

[2022-09-27 15:41] luisquintanilla commented on #1746
Thanks for confirming. Closing this issue.

[2022-09-27 15:42] luisquintanilla commented on #1603
Thanks for confirming. Sorry for the confusion. I meant the generated code *.consumption.cs and *.training.cs.

[2022-09-28 02:05] v-Hailishi commented on #1603
@luisquintanilla Attached the generated code *.consumption.cs and *.training.cs.
[MLModel1.consumption.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/9660816/MLModel1.consumption.txt)
[MLModel1.training.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/9660827/MLModel1.training.txt)

[2022-09-28 14:10] ahazelwood commented on #2247
I am having the same issue (GeForce RTX 3050).  Version of the Model Builder and GPU are the version mentioned above (16.13.10.2241902).  I do not get the option to train on the GPU, only on the CPU.  Windows 11, Visual Studio 2022 (64-bit) Version 17.3.4

[2022-09-28 14:34] beccamc commented on #2247
We only support GPU for Image Classification. Are you trying to run GPU for a different scenario?

[2022-09-28 14:35] ahazelwood commented on #2247
Yes.  I was trying to use it for Text Classification.

From: Becca McHenry ***@***.***>
Sent: Wednesday, September 28, 2022 10:34 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Andre Hazelwood ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] GPU Extension not detected in 2022 (Issue #2247)

We only support GPU for Image Classification. Are you tryi

[2022-09-28 15:03] ahazelwood opened #2260 "Model Builder Error - Value cannot be null. Parameter name: project"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.10.2241902
 - Visual Studio Version: 17.3.5
 - Windows Version: Windows 11 Pro 21H2

**Describe the bug**
Error pops up after Training has completed for a Data Classification task within the model builder.

**To Reproduce**
1.  Choose Data classification
2. Wa

[2022-09-28 18:43] beccamc commented on #2260
Thanks for reporting! Is one of the projects in your solution unloaded?

[2022-09-28 18:44] beccamc commented on #2257
Project with notes that Luis and I discussed for how training file should look:
[SQLExampleCode.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/9668056/SQLExampleCode.zip)

[2022-09-28 18:48] beccamc commented on #2258
@akade Sorry you ran into this problem. Are you able to share your original dataset? It's weird that it says 0 of 0 rows. That says to me it didn't parse your data correctly.

[2022-09-28 19:04] ahazelwood commented on #2260
I did have one.  However, I removed it from my solution, and reloaded Visual Studio.  The same error occurs.  Although it is complaining about something that is not in the Solution.

2022-09-28 14:49:58.9402 INFO Set log file path to C:\Users\ahazelwood\AppData\Local\Temp\MLVSTools\logs\AlertClassification-9R4CN1.txt (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-09-28 14:50:15.9457 INFO start

[2022-09-28 20:09] beccamc commented on #2253
We removed support for column settings in forecasting

![image](https://user-images.githubusercontent.com/9122518/192878606-fdbbb509-8d85-4741-82cd-f097982e420f.png)

I don't have a repro in the other scenarios.

![image](https://user-images.githubusercontent.com/9122518/192878753-191fea9f-56cf-4307-8672-32de4e169555.png)

[2022-09-28 20:09] #2253 closed

[2022-09-28 20:12] beccamc commented on #2261
Dupe of https://github.com/dotnet/machinelearning-modelbuilder/issues/2221

[2022-09-28 20:12] #2261 closed

[2022-09-28 20:15] beccamc commented on #2230
Sorry, I don't have enough information to investigate. If this is still a problem in the latest version feel free to ping me to re-open.

[2022-09-28 20:15] #2230 closed

[2022-09-28 20:16] beccamc commented on #2219
Any possibility of sharing the training dataset? Also, if you follow the link to that failed run is there any additional error message shown?

[2022-09-28 20:18] beccamc commented on #2218
Closing this as a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2219

[2022-09-28 20:18] #2218 closed

[2022-09-28 20:19] beccamc commented on #2219
Is this an Azure China cloud? Or another of the special cloud instances?

See issue - https://github.com/dotnet/machinelearning-modelbuilder/issues/2134

[2022-09-28 20:57] beccamc commented on #2237
Oh I see:

The Date type is probably the problem. Will investigate.

[2022-09-28 21:12] beccamc commented on #2247
Sorry, text classification isn't supported. You can checkout our [FAQ](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderFAQ.md#why-isnt-gpu-supported-for-my-scenario) for links to more details.

[2022-09-28 21:24] beccamc commented on #2260
@LittleLittleCloud /@zewditu any thoughts on this? How do we interact with the project system on reload? We don't save any project info in the .mbconfig file so I would have thought we would use the new state of the solution on reload.

[2022-09-28 22:26] LittleLittleCloud commented on #2260
We don't save any project-related information in .mbconfig. The most likely reason why @ahazelwood gets this error is there're some projects in the current solution that are not compatible by the way how we iterate over projects.

@ahazelwood it would be helpful if you can share with us the projects you have in your solution and we can try reproducing it.

[2022-09-28 22:53] ahazelwood commented on #2260
Here is the solution file (because we have all of our code in the same solution, I would prefer not to share it).

`
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio Version 17
VisualStudioVersion = 17.1.32328.378
MinimumVisualStudioVersion = 10.0.40219.1
Project("{2150E333-8FDC-42A3-9474-1A3956D46DE8}") = "library", "library", "{138666BE-E50A-4226-B470-FD4360525EE2}"
En

[2022-09-28 23:03] LittleLittleCloud commented on #2260
Maybe model builder is failing loading project `library` or `website`? A quick fix can be just skip those projects if it's name is null. Let me try it.

[2022-09-28 23:09] ahazelwood commented on #2260
Those are folders within the Solution if that helps

[2022-09-29 10:07] kitosd commented on #2221
I tried uninstall and re-Install model Builder Extension.
This is the Install Log. Sorry, the result include Japanese Language

2022/09/29 18:25:44 - Failed to create scheduled task: UpdateConfiguration_S-1-5-82-3006700770-424185619-1745488364-794895919-4004696415
2022/09/29 18:25:44 - Failed to create the update configuration task for user IIS APPPOOL\DefaultAppPool: (9,79):UserId:S-1-5-82-300670

[2022-09-29 10:12] kitosd commented on #2221
I couldn't understand it,so I posted all Install Log.

[2022-09-29 13:42] beccamc commented on #2221
Okay, I think you answered in another issue, but is upgrading to VS 2022 an option?

[2022-09-29 23:29] Gsonovb opened #2262 "Add DirectML support"
Hi,

I would like ModelBuilder to support DirectML so that it can be compatible with more Gpus.

[2022-09-30 06:07] v-Hailishi opened #2263 "Data classification: Training is pending on "Finalizing model..." step when choosing "ID" or "Title" or "Description" column as Label."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2247801 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training is pending on "Finalizing model..." step when choosing "ID" or "Title" or "Description "

[2022-09-30 14:26] beccamc commented on #2260
@LittleLittleCloud Can I put this in the next release? or is it a longer fix than skipping null projects?

[2022-09-30 17:44] rzvme commented on #851
I remember I had a few successful runs a while back but new models (created in the last week) after I've changed the Input class to take byte[] Image Source I am getting this error:

Schema mismatch for input column 'ImageSource': expected String, got Vector<Byte> (Parameter 'inputSchema')

on:
return mlContext.Model.CreatePredictionEngine<ModelInput, ModelOutput>(mlModel);

[2022-09-30 18:57] akade commented on #2258
I cannot reproduce the 0 of 0 rows anymore - don't really know what changed. Anyway, the exception still happens.

This my original file but with random data and different col headers:
[Data.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/9686980/Data.csv)

You can get the exception with a much less columns as well:
[Test.csv](https://github.com/dotnet/machinelearning-modelbuilde

[2022-09-30 21:44] drewmcpherson opened #2264 "weighting of data or oversampling scale or some way to deal with the unbalanced data category problem"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 23:01] LittleLittleCloud commented on #851
@rzvme which version of model builder are you using

[2022-10-02 06:55] rzvme commented on #851
Nice catch. I was using 16.13 a while back but recently I swapped laptops and 16.7 comes with the fresh install

[2022-10-02 22:34] rzvme commented on #851
I reinstalled 16.13.10.2241902 and redid the models, I am still getting the same error:

System.ArgumentOutOfRangeException: 'Schema mismatch for input column 'ImageSource': expected image, got Vector<Byte> (Parameter 'inputSchema')'

on

            return mlContext.Model.CreatePredictionEngine<ModelInput, ModelOutput>(mlModel);

[2022-10-03 17:54] LittleLittleCloud commented on #851
Hmmm I have some trouble reprodcuing this bug. Everything just works fine. Here's my `ModelInput` class
[code]

and the caller for prediction

[code]

[2022-10-03 18:15] CBrauer opened #2276 "Poor peerformance of TimeSeriesCatalog.ForecastBySsa Method"

[2022-10-04 14:53] beccamc commented on #2258
I'm glad you found a work around. @LittleLittleCloud can you help with why the error message isn't better for a small dataset?

[2022-10-04 15:48] beccamc commented on #2256
Sorry for the delay here. The problem is you have only one image per folder. We recommend having at least 5 images per folder. There is supposed to be an error message but it looks like that experience is broken. Sorry about that.

[2022-10-04 18:13] beccamc commented on #2248
@v-Hailishi Can you confirm this works on the latest CLI version?

[2022-10-04 18:17] beccamc commented on #2247
Closing this issue. If GPU doesn't show up for you one of these maybe be the problem...

1. Model Builder extension and Model Builder GPU extension need to be the same version number
2. Image Classification is the only supported scenario. See this [FAQ](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderFAQ.md#why-isnt-gpu-supported-for-my-scenario) for mo

[2022-10-04 18:17] #2247 closed

[2022-10-04 19:41] AddioElectronics commented on #2247
Sorry I forgot to come check for replies. I will try updating thanks.

[2022-10-04 21:10] luisquintanilla commented on #2262
Hi @Gsonovb

Thanks for this issue. Since DirectML support is not currently available in the ML.NET framework, it's not possible at this time to enable it in Model Builder / ML.NET CLI.
There is an issue in the dotnet/machinelearning repo. Please use that issue to track any developments there.

dotnet/machinelearning#5240

Closing this issue for now and if/when ML.NET offers DirectML support, we'l

[2022-10-04 21:10] #2262 closed

[2022-10-05 15:41] luisquintanilla opened #2265 "Deep Learning Scenarios"
Leverage work done in the ML.NET framework to bring deep learning scenarios to Model Builder & ML.NET CLI

## Work Items

- NLP
  - [ ] #2199
  - [ ] Sentence Similarity
  - [ ] Named Entity Recognition
  - [ ] Question Answering
- Computer Vision
  - [ ] Local Object Detection

## Related issues

## Dependencies

- ML.NET framework needs to implement these scenario-based APIs in order to make the

[2022-10-05 15:51] luisquintanilla commented on #694
@LittleLittleCloud since this references the old AutoML API, I think we're okay to close  unless it continues to be an issue.

[2022-10-05 15:56] luisquintanilla commented on #1916
@v-Hailishi can you please confirm whether this is still an issue in the latest version of Model Builder.

Thanks!

[2022-10-05 15:59] luisquintanilla commented on #1638
Removed Consider batch prediction w/ Codegen from list since it's already being tracked in #2257

[2022-10-05 16:32] luisquintanilla commented on #1567
Thanks for the suggestion. Looks like this issue was addressed by #1720.

[2022-10-05 16:32] #1567 closed

[2022-10-05 16:36] #1656 closed

[2022-10-05 16:41] luisquintanilla opened #2266 "Docs"
Address content gaps in documentation for Model Builder and ML.NET CLI

- [ ] Train an ML.NET model in Azure using ML.NET CLI. Source: https://devblogs.microsoft.com/dotnet/training-a-ml-dotnet-model-with-azure-ml/
- [ ] Train an ML.NET model in Azure using the [Azure ML SDK](https://www.nuget.org/packages/Azure.ResourceManager.MachineLearning/1.0.0-beta.2)

[2022-10-05 17:16] luisquintanilla commented on #1097
AutoML API enables users to customize and even build their own Model Builder / CLI-like experiences. Therefore at this time there are no plans to open-source Model Builder & the ML.NET CLI.

[2022-10-05 17:16] #1097 closed

[2022-10-05 17:57] luisquintanilla commented on #1935
Enabling this would require placing several constraints on users and additional engineering work to validate those constraints are satisfied. Instead we will focus on improving current experiences and document best practices for custom / complex SQL scenarios. Closing in favor of #1761

[2022-10-05 17:57] #1935 closed

[2022-10-05 18:00] luisquintanilla commented on #1640
Work items are tracked elsewhere. Closing this issue for now.

[2022-10-05 18:00] #1640 closed

[2022-10-05 18:04] luisquintanilla commented on #2018
Question from @LittleLittleCloud

How can we update package dependencies / avoid breaking existing project when generating assets.

[2022-10-05 18:22] luisquintanilla commented on #1520
@luisquintanilla to consolidate into #2146 and #2266

[2022-10-05 20:47] MrElecmen opened #2267 "Error While Training SQL"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version : Microsoft Visual Studio Enterprise 2022 (64-bit)

**Describe the bug**
- On which step of the process did you run into an issue: Train
- Clear description of the problem: I get this error after 3 seconds

__________________________________

[2022-10-06 06:36] kitosd commented on #2221
yes, I have installed VS2022 and try ModelBuilder,but I have same error

[2022-10-06 09:38] heidirac opened #2268 "程序包还原失败"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.10.2241902
 - Visual Studio Version 2022 17.3.4

**Describe the bug**
- On which step of the process did you run into an issue:训练
- Clear description of the problem:训练结束的时候出现：Model builder错误  提示：程序包还原失败

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2022-10-06 15:21] beccamc commented on #2267
Sorry you ran into this problem! Are you on Model Builder version [16.13.10.2241902](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)? Are you able to share your dataset?

[2022-10-06 15:22] luisquintanilla opened #2269 "Code reusability post brain dump"
There's been a few requests / questions around sharing models across multiple projects. Today we recommend the following approach:

## Add model to C# Class Library

The general process for this is:

1. Create C# Class Library project
2. Right-Click > Add >  Machine Learning Model
3. Select Machine Learning Model (ML.NET) in Add New Item dialog.
4. Provide name for your model
5. Follow Model Build

[2022-10-06 15:40] MrElecmen commented on #2267
Yes I can share the data set
what do you need ?
db Schema and data ?
how can i share it ?

[2022-10-06 17:49] beccamc commented on #2166
@LittleLittleCloud Can I update our ML.NET version?

[2022-10-07 11:11] kitosd commented on #2221
Yes.
but I will uninstall and re-install.

[2022-10-07 14:42] beccamc commented on #2267
The DB Schema would be helpful to start! Do you have Date, Datetime, GUID types? We have some bugs around certain SQL types that we're hoping to fix in the next release. If you have one of those types it could be the problem.

[2022-10-07 19:12] beccamc commented on #2221
Are you able to share your dataset with us?

[2022-10-07 19:36] luisquintanilla commented on #2242
Thanks everyone for the feedback.

[2022-10-07 19:36] #2242 closed

[2022-10-07 20:21] LittleLittleCloud commented on #2264
@luisquintanilla maybe we can add an opiton to re-sample dataset in advanced training option in order to deal with imbalanced data?

Currently, transformer to resample imbalanced data is missing in ml.net, but in the long run, it's definitely worthwhile to implement that.

[2022-10-07 20:23] LittleLittleCloud commented on #2267
@MrElecmen you probabaly want to upgrade your model builder, the latest model builder version should be 17.13''ish and we push a few fixes in automl engine, which may contain the fix for your case.

[2022-10-07 20:26] LittleLittleCloud commented on #2268
dup of #2138

[2022-10-09 00:43] judahr opened #2270 "Bad Allocation Error"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.10.2241902
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue: While training a model.  It had trained many times before without issue.
- Clear description of the problem:

**To Reproduce**
Steps to reproduc

[2022-10-10 08:06] v-Hailishi opened #2271 "Data classification: Evaluate Metric name "MacroAccuracy" is missing on the Evaluate page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Evaluate Metric name "MacroAccuracy" is missing on the Evaluate page for Data classification scen

[2022-10-10 08:38] v-Hailishi opened #2272 "Data classification: After choosing another metric, the name of the best metric is not updated in Training results."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
After choosing another metric, the name of the best metric is not updated in Training results on

[2022-10-10 09:47] v-Hailishi opened #2273 "Data classification: The best model and its value are wrong for the metric "Log-Loss Reduction" on the Train and Evaluate page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The best model and its value are wrong for the metric "Log-Loss Reduction" on the Train and Evalu

[2022-10-10 10:10] v-Hailishi opened #2274 "Data classification: Unable to select these options in the "Advanced Training Options..." dialog after about 3 minutes of inactivity on the Train page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
After choosing another metric, the name of the best metric is not updated in Training results on

[2022-10-10 13:24] luisquintanilla commented on #2268
Are we okay to close this issue then since it sounds like it's resolved and there's a workaround in the meantime?

[2022-10-10 16:06] zewditu opened #2275 "Advanced data option is enabled before dataset is chosen"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-10-10 20:05] #2268 closed

[2022-10-10 20:51] luisquintanilla opened #2277 "Consumption - Remove Notebook Option from UI"
Remove generated notebook from UI in Consumption step.

[2022-10-11 06:08] zewditu opened #2278 "Local image classfication is failed"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-10-11 06:30] v-Hailishi opened #2279 "Value predication: Evaluate Metric name "RSquared" is missing on the Train and Evaluate pages."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Evaluate Metric name "RSquared" is missing on the Train and Evaluate page for Value predication s

[2022-10-11 06:41] v-Hailishi opened #2280 "Value predication: The value for the best evaluation metric "RSquared" is wrong on the Evaluate page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The value for the best evaluation metric "RSquared" is wrong on the Evaluate page for Value predi

[2022-10-11 07:01] v-Hailishi opened #2281 "Value predication: Word "rmse" should be capitalized to "RMSE" on the Train page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Word "rmse" should be capitalized to "RMSE" on the Train page for Value predication scenario.

**

[2022-10-11 07:11] #2245 closed

[2022-10-11 07:12] #2244 closed

[2022-10-11 07:31] v-Hailishi opened #2282 "Value predication: The generated Console App and Web Api projects run failed when using metric "RMSE" or "MSE"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The generated Console App and Web Api projects run failed when using metric "RMSE" or "MSE" for V

[2022-10-11 08:49] JohnMahanDavis commented on #2232
The only confusing part was when I tried to add the Machine Learning module from a C# UWP solution, the Machine Learning Module failed to appear.  It only worked for me from inside of a C# Console App.So, the source of my confusion was due to the web page in the attached screenshot which indicates that it should work with UWP …  Thanks for your responses.John DavisSent from my iPhoneOn Sep 19, 202

[2022-10-11 09:40] v-Hailishi commented on #2281
The bug is also repro on Forecasting scenario.
![image](https://user-images.githubusercontent.com/99375895/195055651-d8e30ce1-5622-437a-8ca9-afbcc8164657.png)

[2022-10-11 09:50] v-Hailishi opened #2283 "Recommendation: There is no "Advanced training options..." functional on the "Train" page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2250701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.4)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
There is no "Advanced training options..." functional on the "Train" page for Recommendation scen

[2022-10-11 09:58] v-Hailishi commented on #2273
The bug is also repro on evaluation metrics "**AUC**", "**AUCPR**" and "**F1-score**" for Binary Classification.
![image](https://user-images.githubusercontent.com/99375895/195059616-cc47b844-cc46-4d1d-a921-13333ce26b3b.png)
![image](https://user-images.githubusercontent.com/99375895/195059864-104e89b8-780c-42e1-85fa-c73b6fdac668.png)
![image](https://user-images.githubusercontent.com/99375895/195

[2022-10-11 16:53] zewditu commented on #2283
The PR is out for it https://github.com/dotnet/machinelearning-tools/pull/1549

[2022-10-11 16:57] beccamc commented on #2283
Closing until the PR goes in.

[2022-10-11 16:57] #2283 closed

[2022-10-12 06:26] v-Hailishi opened #2284 "Image classification: The error dialog was repeated when selecting a non-compliant data folder."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251102 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The error dialog was repeated when selecting a non-compliant data folder on the Data page.

**Dat

[2022-10-12 16:25] doggini opened #2285 "Segmentation fault"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/install
- Clear description of the problem: I followed the instructions and the Installation was s

[2022-10-13 08:55] v-Hailishi opened #2286 "Data classification: The descriptions of trainers "Fast tree" and "Fast forest" in the "Advanced training options->Trainers" dialog should be swapped."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251201 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The descriptions of trainers "Fast tree" and "Fast forest" in the "Advanced training options->Tra

[2022-10-13 09:36] v-Hailishi commented on #2248
@beccamc  The bug is not repro on the latest main build:  16.13.10.2251201, I can run the project successfully.
![image](https://user-images.githubusercontent.com/99375895/195560905-b02cabf3-7a19-43b5-aafd-fbf7e790a369.png)

[2022-10-13 10:09] v-Hailishi commented on #1916
@luisquintanilla Training customer's data [sTank.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/7548580/sTank.zip) on the latest main build: 16.13.10.2251201, it is failed with error "Schema mismatch for label column 'Won': expected Single, got Boolean".
But I think this is expected.

![image](https://user-images.githubusercontent.com/99375895/195568014-fc0b0791-6bd2-4289-971d-d

[2022-10-13 10:38] jsobell opened #2287 "mlnet forecasting CLI doesn't appear to work"
Running the cli using the command `mlnet forecasting` returns the error `No valid columns to save`

**To Reproduce**
Create a CSV datafile with anything in it.
Run `mlnet forecasting --dataset "myDataSet.csv" --label-col total --has-header true --time-col datetime --horizon 2 --train-time 100`

[code]

Contents of log file shows:
[code]

[2022-10-13 15:00] beccamc commented on #2278
Is this a consistent repro? @v-Hailishi Have you seen this problem?

[2022-10-13 20:11] LittleLittleCloud commented on #2258
It's a bug in old AutoML.Net, and this error should have already been fixed in latest main.

[2022-10-13 20:16] LittleLittleCloud commented on #2287
The error message indicates that it fails to find 'total' and `datetime` column from your dataset. Would you mind share a snapshot of your dataset, thanks

[2022-10-13 22:11] beccamc commented on #2241
Removing Notebook https://github.com/dotnet/machinelearning-tools/pull/1555

[2022-10-13 22:11] #2241 closed

[2022-10-13 22:31] jsobell commented on #2287
Here's the dataset:
[dataset.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/9781029/dataset.csv)
We experimented with different formats for the datetime column, as there's no obvious documented example showing the expected format.
Changing `--label-col` and `--time-col` to non-existent columns does show an error, so it's clearly recognising those columns from the datasource.

[2022-10-13 22:43] #2015 closed

[2022-10-13 22:43] beccamc commented on #2008
This has been replaced with the search box. Check it out!

[2022-10-13 22:43] #2008 closed

[2022-10-13 22:43] #1910 closed

[2022-10-13 22:44] #1768 closed

[2022-10-13 22:45] #2035 closed

[2022-10-13 22:47] #1956 closed

[2022-10-13 22:48] beccamc commented on #1916
Does this work if you do classification?

[2022-10-14 01:42] v-Hailishi commented on #2278
@beccamc Yes, this bug is repro in the latest main build: 16.13.10.2251201
![image](https://user-images.githubusercontent.com/99375895/195742699-f1be87c7-232f-401f-b770-43ba5ddea27e.png)

[2022-10-14 01:57] v-Hailishi commented on #1916
@beccamc It is failed with error "**Splitter/consolidator worker encountered exception while consuming source data**".
![image](https://user-images.githubusercontent.com/99375895/195744339-e7af43c1-9859-422e-861f-63df97ab9fb2.png)
![image](https://user-images.githubusercontent.com/99375895/195744405-82a0432c-57bd-4df4-a022-b1b1c97cccd5.png)

[2022-10-14 06:54] v-Hailishi commented on #2282
The bug has been fixed on the latest main build: 16.13.10.2251301
![image](https://user-images.githubusercontent.com/99375895/195781737-d78b5740-a638-42b4-8905-e87d77e4aaa7.png)
![image](https://user-images.githubusercontent.com/99375895/195781530-71882040-2df2-4d88-83ba-5e85e00904a9.png)

[2022-10-14 07:37] v-Hailishi commented on #2282
Verified on the latest main build 16.13.10.2251301, the bug is only repro for metric "RMSE" when training SQL server data.

[2022-10-14 08:31] v-Hailishi opened #2288 "The generated Console App project run failed when training the SQL data."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251301 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The generated Console App project run failed when training the SQL data.

**Data Source**
https:/

[2022-10-14 09:04] v-Hailishi opened #2289 "Data classification: Symbol ":" is missing in the training result on the Train page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251301 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Symbol ":" is missing in the training result on the Train page for Data classification scenario.

[2022-10-14 15:35] beccamc commented on #2288
Good find! I forgot to add the SqlClientFactory reference.

[2022-10-15 12:25] jlshattuck opened #2290 "nothing happens when I choose sql server and then click browse"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 1.71
 - Visual Studio Version (if applicable): Version 17.3.6
:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to model builder
2. Click Data Classification
3. select local cpu
4. click SQL Server
5. Click browse

**Expected behavior**
show me a sql connection dialog

[2022-10-17 06:53] v-Hailishi opened #2291 "Recommendation: Evaluate Metric name "RSquared" or "RMSE" or "MSE" is missing on the Train and Evaluate pages."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Evaluate Metric name "RSquared" or "RMSE" or "MSE" is missing on the Train and Evaluate pages for

[2022-10-17 08:18] v-Hailishi opened #2292 "Recommendation: The predicted rating is garbled on the Evaluate page when using metric "RMSE" or "MSE"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The predicted rating is garbled on the Evaluate page for Recommendation scenario.

**TestMatrix**

[2022-10-17 08:23] v-Hailishi opened #2293 "Recommendation: Generated Web API is running failed with error 500 when using metric "RMSE" or "MSE"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Generated Web API is running failed with error 500 when using metric "RMSE" or "MSE" for Recommen

[2022-10-17 11:24] jsobell commented on #2287
Any progress on this? Is it a mistake in my dataset, or is there a bug?

[2022-10-17 22:35] beccamc commented on #2290
Sorry you ran into this! Can you please update Model Builder to version 16.13.10? https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-10-17 22:51] beccamc commented on #2270
Sorry you ran into this problem! Are you able to share more information about what you're doing?

- Can you share your dataset?
- Is this still happening? Did a machine restart fix subsequent training?

[2022-10-17 22:52] beccamc commented on #2285
@LittleLittleCloud Can you look at this?

[2022-10-18 02:16] v-Hailishi opened #2294 "Data classification: Training failed with model builder error "Index was outside the bounds of the array"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.22513701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training failed with model builder error "Index was outside the bounds of the array" when choosi

[2022-10-18 04:16] kitosd commented on #2221
I tried this tutorial. so,I think my dataset isn't problem.

https://learn.microsoft.com/en-us/dotnet/machine-learning/tutorials/predict-prices

[2022-10-18 16:00] #2288 closed

[2022-10-18 16:12] beccamc commented on #2221
I'm confused if you're doing image classification or value prediction? What scenario are you doing?

[2022-10-18 21:22] zewditu commented on #2274
I think this one is because of this WPF issue  https://github.com/dotnet/wpf/issues/2995

[2022-10-19 01:59] v-Hailishi opened #2295 "Value predication: Training failed with model builder error after changing the feature column 's Data type from "String" to "Single"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251801 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training failed with model builder error after changing the feature column 's Data type from "Str

[2022-10-19 06:34] v-Hailishi opened #2296 "Recommendation: Non-Label/Item/User columns should be "Ignore""
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251801 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training should be failed after changing the feature column 's Data type from "Single" to "Boolea

[2022-10-19 09:17] v-Hailishi commented on #2099
The bug has been fixed on the latest main build: 16.13.10.2251801
![image](https://user-images.githubusercontent.com/99375895/196650483-80f47c2b-b7fc-4269-9aec-c477c5b252c5.png)

[2022-10-19 16:42] beccamc commented on #2296
Timestamp is automatically ignored in this case. All other columns in recommendation training are ignored.

@luisquintanilla Do you think the fact the other columns are ignored should be better advertised to the user?

[2022-10-19 19:48] JakeRadMSFT commented on #1930
Managed to get this to repro today in a dev build... experimenting with fix.

[2022-10-19 20:04] luisquintanilla commented on #2296
@beccamc good question. While @zewditu and I were looking at some of the other scenarios, our "Ignore" behavior wasn't clear. When the column purpose is set to "Ignore", it removes it from the dropdowns in the main Data screen but I believe it still is part of codegen and Try It Out experiences. Similar to this case, since columns not selected as the Id columns are automatically ignored. In both c

[2022-10-19 20:29] luisquintanilla commented on #679
Closing this issue since there have been several changes made that would make this scenario possible. Codegen is also being improved as part of #1638

[2022-10-19 20:29] #679 closed

[2022-10-19 20:55] luisquintanilla commented on #2293
Interesting...I'm not sure how the metric has an effect on the deployment. The HTTP 500 error to me sounds like an issue with codegen rather than the model. @v-Hailishi can you please confirm whether this is something you experience when choosing the Console App template.

[2022-10-19 20:57] luisquintanilla commented on #2292
Looks like this is related to #2293. The recommendation scenario with these metrics seems to be the issue.

[2022-10-19 20:59] luisquintanilla commented on #2291
Recommendation scenario related to #2292 and #2293

[2022-10-19 21:03] luisquintanilla commented on #2282
Related to #2293

[2022-10-19 21:04] luisquintanilla commented on #2278
@beccamc I see you merged a PR for this. Are we okay to close?

[2022-10-19 21:06] luisquintanilla commented on #2240
@LittleLittleCloud I see this has been resolved. Are we okay to close?

[2022-10-19 21:07] luisquintanilla commented on #2249
@LittleLittleCloud I see you merged a PR for this one. Are we okay to close?

[2022-10-19 21:08] LittleLittleCloud commented on #2249
I think so but before closing that let me re-validate it again

[2022-10-19 21:23] beccamc commented on #2296
SQL "Ignore GUID columns" is resolved (1504)! Unfortunately It looks like the ignored column values are still being used for sample data and evaluate for text files (2155).

It seems like we should do two things...
- [ ] Set all non label/user/item columns as "Ignore" for recommendation scenario
- [ ] Make sure ignored columns aren't used for evaluate/consume for all scenarios.

I believe #1756 on

[2022-10-19 21:24] beccamc commented on #2290
Also can you make sure you have SQL tools installed for your VS build...

![image](https://user-images.githubusercontent.com/9122518/196807469-743f6ae2-bdb7-4d91-a1b9-0d75d984562a.png)

[2022-10-19 21:27] beccamc commented on #2271
@zewditu It seems like this one should be included in the current milestone too.

[2022-10-19 21:31] luisquintanilla commented on #2296
That was easy 🙂

I'm okay with that action plan.

[2022-10-19 21:38] zewditu commented on #2280
I am not able to reproduce it on the latest main

[2022-10-19 21:46] beccamc commented on #2278
Do we care about getting things validated? This is sitting in the validate column.

[2022-10-19 22:23] zewditu commented on #2271
Note able to reproduce it on latest main

![Image](https://user-images.githubusercontent.com/36615490/196815933-924fef62-8d87-44fc-8b63-b47a4697b36f.png)

[2022-10-19 22:34] luisquintanilla commented on #2278
Whoops! I missed that. Let's validate.

[2022-10-20 01:55] v-Hailishi commented on #2293
@luisquintanilla Tried on the latest main build 16.13.10.2251901, I can still reproduce this bug.
It only repro when using metric "RMSE" or "MSE", not repro when using metric "RSquared".
The generated console app project can run successfully, but the predicted result contains garbage. you can get details from bug https://github.com/dotnet/machinelearning-modelbuilder/issues/2292

[2022-10-20 02:02] v-Hailishi commented on #2280
@zewditu Yes, the bug is not repro on the latest main build: 16.13.10.2251901
![image](https://user-images.githubusercontent.com/99375895/196838603-304ca5f1-5719-4975-9d53-22574d8af7cc.png)

[2022-10-20 02:03] luisquintanilla commented on #2293
Thanks for confirming @v-Hailishi

[2022-10-20 02:32] v-Hailishi commented on #2271
@zewditu I can still repro this bug on the latest main build: 16.13.10.2251901.
The bug is only repro when you directly using metric "Macro-Accuracy" and never change the metric.
Once you have changed the metric and re-use metric "Macro-Accuracy", the bug will not repro.

[2022-10-20 02:45] kitosd commented on #2221
Sorry,I tried both scenarios.

This dataset is in case of value prediction.

https://learn.microsoft.com/en-us/dotnet/machine-learning/tutorials/predict-prices

[2022-10-20 05:46] zewditu commented on #2292
I think the value we got for  RMSE and MSE  is 0.0000, I think that might create undefined prediction.
@v-Hailishi  are you able to try for non-zero values
@LittleLittleCloud  any thought on this ?

[2022-10-20 10:12] v-Hailishi opened #2297 "Object detection & Image classification-Azure: Training failed."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.13.10.2251901 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Azure scenarios training failed.

**Data Source**
https://docs.microsoft.com/en-us/dotnet/machine

[2022-10-20 18:47] natehitze commented on #2287
I'm having the exact same issue: same exception, stack trace, logs etc. In the experiment output folder there's just an empty `train.bin`. Tool version 16.13.9

I tried using TSV instead of CSV, with/without header, using column names/using column indices. I wasn't able to get it to work with any of those combinations.

[2022-10-20 21:04] zewditu commented on #2274
yes, but does not need validated

[2022-10-20 21:52] LittleLittleCloud commented on #2281
Verified on 16.4.0

[2022-10-20 21:52] #2281 closed

[2022-10-20 21:55] zewditu commented on #2277
Verified

[2022-10-20 21:55] #2277 closed

[2022-10-20 21:57] LittleLittleCloud opened #2298 "RMSE is negative"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  latest main
 - Visual Studio Version
<img width="449" alt="image" src="https://user-images.githubusercontent.com/16876986/197066659-60021aae-ab91-4877-98b5-2f0e8cf233d1.png">

[2022-10-20 22:00] beccamc commented on #2046
I have confirmed that Jake's fix of the reload button works. This will ship in the Fall Release.

![Image](https://user-images.githubusercontent.com/9122518/197067095-fd39e4e3-3111-4985-a2c1-50e56d9e3487.png)

[2022-10-20 22:01] beccamc commented on #2134
This will ship with the Fall release.

[2022-10-20 22:01] JakeRadMSFT opened #2299 "Advanced Training Option Save Button Issue - Doesn't work when only changing trainers."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
<img width="706" alt="image" src="https://user-images.githubusercontent.com/31937616/197067077-c1830742-ca79-44b4-889b-e4d5adf00676.png">

Can't save changes in advanced training menu if the only change is trainers.

**

[2022-10-20 22:02] luisquintanilla commented on #2275
I was unable to repro in build 16.14.0.2252005

![Image](https://user-images.githubusercontent.com/46974588/197067125-d6266372-1b9c-4e3e-b288-a5d250f0c4e5.png)

[2022-10-20 22:02] LittleLittleCloud opened #2300 "LogLoss is labeled as MacroAcuracy in data classification"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.4.0
 - Visual Studio Version

<img width="877" alt="image" src="https://user-images.githubusercontent.com/16876986/197067354-5dc47063-9361-4911-ad58-e650b8d4fb36.png">

[2022-10-20 22:05] LittleLittleCloud opened #2301 "Save is not enabled after I make a change in trianers in advanced option"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.4.0
 - Visual Studio Version

## Step to reproduce
- pick data classification
- go to advanced trainer option
- unselect some trianers
- saved button is not enabled.
<img width="718" alt="image" src="https://user-images.githubusercontent.com/16876986/197067678-3e

[2022-10-20 22:13] JakeRadMSFT commented on #2301
#2299

[2022-10-20 22:13] LittleLittleCloud commented on #2249
not fixed

[2022-10-20 22:14] #2301 closed

[2022-10-20 22:16] LittleLittleCloud commented on #1702
![Image](https://user-images.githubusercontent.com/16876986/197069474-6f622e5a-0f6d-4bfb-858b-b052b270acf3.png)

[2022-10-20 22:21] zewditu commented on #2294
This issue happens when The logloss- reduction is infinity.

@LittleLittleCloud   how we are dealing with infinity values metrics?

[2022-10-20 22:21] LittleLittleCloud opened #2302 "Start training button should be disabled during cancelling training"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.4.0
 - Visual Studio Version

After I click on Cancelling, the Training button is still enabled which means I can kick off another training before the current one get cancelled

<img width="311" alt="image" src="https://user-images.githubusercontent.com/16876986

[2022-10-20 22:22] luisquintanilla opened #2303 "Better error to indicate user needs to reload when image data changes."
Related to #2046

## Problem

Reload issue was resolved. However, unless the reload button is clicked, training fails. The error thrown isn't helpful enough for users to know they need to use the reload button in the Data screen.

![image](https://user-images.githubusercontent.com/46974588/197069969-b4be1436-05f3-49b9-995a-1a0c98f49e19.png)

## Suggestion

Catch error and inform user they need to

[2022-10-20 22:23] beccamc opened #2304 "Azure Storage Account not shown"
1. Image classification scenario
2. Storage account isn't shown in the preview info. This was both for a new compute and existing compute.

![image](https://user-images.githubusercontent.com/9122518/197070303-864bb011-a210-413f-8603-5374f9fddc42.png)

[2022-10-20 22:32] JakeRadMSFT opened #2305 "SQL Loading Tables Blocks UI Thread"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2252005
 - Visual Studio Version: VS 2022

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Select a SQL Data Source from file (I think fr

[2022-10-20 22:33] luisquintanilla commented on #2166
Unable to repro in build 16.14.0.2252005 using SQL DB and CSV file

![Image](https://user-images.githubusercontent.com/46974588/197071579-098a5bd8-d418-4d84-a4ab-fa0efc2ed8d2.png)

[2022-10-20 22:33] zewditu opened #2306 "When Image folder contain unsupported format piles of error windows displayed."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-10-20 22:34] luisquintanilla commented on #2246
Unable to repro in latest build 16.14.0.2252005

![Image](https://user-images.githubusercontent.com/46974588/197071663-11121cff-e559-4d11-85e4-d35b58f4d53f.png)

[2022-10-20 22:37] luisquintanilla commented on #2256
Issue fixed in latest build 16.14.0.2252005

![Image](https://user-images.githubusercontent.com/46974588/197071887-0744f6dc-8379-4d8c-b454-7a72d0e6a4b6.png)

[2022-10-20 22:54] luisquintanilla commented on #2274
I missed that. Let's validate first

[2022-10-20 22:59] zewditu opened #2307 "When we switch from multi to binary data classification and vice versa there is no metric selected by default"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' scenario page '
2.  select Data classification
3.  Choose multi

[2022-10-21 01:52] v-Hailishi commented on #2278
The bug has been fixed on the latest main build: 16.14.0.2252005
<img width="338" alt="image" src="https://user-images.githubusercontent.com/99375895/197092489-8e906840-88c4-4c21-8ae1-34ff5bee533a.png">

[2022-10-21 05:32] zewditu commented on #2300
@luisquintanilla  this is based on this work item detail https://github.com/dotnet/machinelearning-modelbuilder/issues/2191, are you able to comment what is missed here?

[2022-10-21 06:19] LittleLittleCloud opened #2308 "Replace Bitmap with MLImage for image classification and object detection"
ML.Net removes dependency from Bitmap image and replace it with MLImage in [this PR](https://github.com/dotnet/machinelearning/pull/6363/files), which breaks the object detection and image classification in model builder. The following change needs to be made
- [x] use MLImage as input for image-related training
- [x] update code generator to generate correct model input class
- [x] (maybe) increa

[2022-10-21 06:20] LittleLittleCloud commented on #2308
@luisquintanilla for notification.

[2022-10-21 06:28] v-Hailishi commented on #2297
The bug has been fixed on the latest main build: 16.14.0.2252005
![image](https://user-images.githubusercontent.com/99375895/197127811-091dc57b-7aed-4930-9c1c-ef25b773eb7b.png)

[2022-10-21 06:43] zewditu commented on #2271
I am following the step strictly but am still not able to reproduce it, please check it again on the latest main build.

[2022-10-21 09:38] v-Hailishi opened #2309 "The result.csv file is empty when running MLNET.CLI Test Pass on the latest mlnet.cli version: 16.14.0"
**System Information (please complete the following information):**
 - mlnet.cli Version: 16.14.0

**Describe the bug**
- On which step of the process did you run into an issue: when running MLNET.CLI Test Pass on the latest mlnet.cli version: 16.14.0
- Clear description of the problem: The result.csv file is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Find out the latest mlnet.cl

[2022-10-21 09:48] v-Hailishi commented on #2271
@zewditu The bug has been fixed on the latest main build: 16.14.0.2252005
<img width="378" alt="image" src="https://user-images.githubusercontent.com/99375895/197167062-20fa9931-3782-4e44-a2cd-d9000b9fb832.png">

[2022-10-21 14:53] luisquintanilla commented on #2308
@LittleLittleCloud we need to be on the latest release because of the updates being made to the Text Classification paths right? So this would for sure break the local image scenarios.

[2022-10-21 17:00] beccamc commented on #2297
Is this still happening? In the bug bash yesterday both worked for me?

[2022-10-21 17:36] zewditu commented on #2300
Duplicate issue  https://github.com/dotnet/machinelearning-modelbuilder/issues/2273

[2022-10-21 17:36] #2300 closed

[2022-10-21 17:47] zewditu commented on #2280
validated

[2022-10-21 17:47] #2280 closed

[2022-10-21 18:28] LittleLittleCloud commented on #2308
@luisquintanilla yep

[2022-10-21 21:01] beccamc commented on #2290
Any update with the above?

[2022-10-21 21:01] #2278 closed

[2022-10-21 21:06] zewditu commented on #2292
@LittleLittleCloud  does this caused by this ml.net issue https://github.com/dotnet/machinelearning/issues/6361

[2022-10-21 21:07] zewditu commented on #2292
This seems triggered by this Ml.Net issue https://github.com/dotnet/machinelearning/issues/6361

[2022-10-24 01:22] v-Hailishi commented on #2297
@beccamc Yes, the bug has been fixed now.

[2022-10-24 06:44] v-Hailishi commented on #2273
The bug has been fixed on the latest main build: 16.14.0.2252103
![image](https://user-images.githubusercontent.com/99375895/197462398-6f3c2116-1e7f-47f8-9667-8f9b7c86891a.png)
![image](https://user-images.githubusercontent.com/99375895/197463083-c6b19c37-8069-4afc-b5a4-28ec9d3184ed.png)
![image](https://user-images.githubusercontent.com/99375895/197463405-9e8864ef-bf92-4313-8cf1-cc50ed47a99f.png)

[2022-10-24 08:12] v-Hailishi commented on #2246
The bug has been fixed on the latest main build:
![image](https://user-images.githubusercontent.com/99375895/197479157-32aa65b0-9ca9-4a34-9d40-462030533ab4.png)

[2022-10-24 09:50] v-Hailishi commented on #2272
Verified on the latest main build: 16.14.0.2252103 ,the bug is also repro on **Value predication** scenario.
![image](https://user-images.githubusercontent.com/99375895/197499382-2aafa17e-59a9-4a98-86e8-e3dabba5ee56.png)

[2022-10-24 09:58] v-Hailishi opened #2310 "Forecasting: "Time to train" and "Horizon" functional are deleted on the Train page, is it expected?"
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252103 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
"Time to train" and "Horizon" functional are deleted on the Train page.

**Data Source**
https://t

[2022-10-24 15:15] #2297 closed

[2022-10-24 15:16] beccamc commented on #2270
Any update on the above?

[2022-10-24 15:47] judahr commented on #2270
I'm unable to upload the data. Maybe someone else will run into this and can provide data.

[2022-10-24 16:41] zewditu commented on #2273
Verified by the tester .

[2022-10-24 16:41] #2273 closed

[2022-10-24 18:44] zewditu commented on #2310
@LittleLittleCloud confirmed us it is a bug.

[2022-10-25 08:52] v-Hailishi opened #2311 "Data classification: First letter should be capitalized on the Train and Evaluate pages when using metric "Log-Loss Reduction"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252402 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
First letter should be capitalized on the Train and Evaluate pages.

**Data Source**
https://testp

[2022-10-25 08:56] v-Hailishi commented on #2311
The bug is also repro on metric "**Accuracy**" for Binary classification scenario.
![image](https://user-images.githubusercontent.com/99375895/197730239-1ba11b77-f7fe-4f25-88af-52b597b758be.png)

[2022-10-25 09:05] v-Hailishi opened #2312 "Forecasting: Add and use abbreviation for metric names would be better."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252402 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Add and use abbreviation for metric names would be better for Forecasting scenario.

**Data Source

[2022-10-25 09:11] v-Hailishi opened #2313 "Forecasting: Some trainer numbers are missing and non-continuously on the Output window."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252402 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Some trainer numbers are missing and non-continuously on the Output window.

**Data Source**
https

[2022-10-25 09:17] v-Hailishi opened #2314 "Forecasting: The value for metric "MAPE" should be non-negative."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252402 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The value for metric "MAPE" should be non-negative.

**Data Source**
https://testpass.blob.core.wi

[2022-10-25 09:23] v-Hailishi opened #2315 "Forecasting: The column name is incorrect in the Output window when using metric "MAPE"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252402 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The column name is incorrect in the Output window when using metric "MAPE".

**Data Source**
https

[2022-10-25 09:52] v-Hailishi commented on #2274
The bug has been fixed on the latest main build: 16.14.0.2252402

[2022-10-25 10:00] v-Hailishi commented on #2279
The bug has been fixed on the latest main build: 16.14.0.2252402
![image](https://user-images.githubusercontent.com/99375895/197744362-79f0a277-9c46-478f-bf6c-c044f453f0bd.png)

[2022-10-25 10:08] v-Hailishi commented on #2282
The bug has been fixed on the latest main build: 16.14.0.2252402
![image](https://user-images.githubusercontent.com/99375895/197745989-c964bc68-ece7-41c0-97ba-793d49984ea4.png)

[2022-10-25 10:14] v-Hailishi commented on #2286
The bug has been fixed on the latest main build: 6.14.0.2252402
![image](https://user-images.githubusercontent.com/99375895/197747167-ea1fece8-028d-48e0-8bc5-93b3fb250a67.png)

[2022-10-25 10:17] v-Hailishi commented on #2289
The bug has been fixed on the latest main build: 16.14.0.2252402
![image](https://user-images.githubusercontent.com/99375895/197747989-9fd24645-1c31-4dac-8071-001046ae1a92.png)

[2022-10-25 10:24] v-Hailishi commented on #2291
The bug has been fixed on the latest main build: 16.14.0.2252402
![image](https://user-images.githubusercontent.com/99375895/197749340-cb801a75-fce6-4be2-9916-62abb9a21054.png)

[2022-10-25 10:39] rasmusrim commented on #1929
Ran into this problem today. Turns out I had too few samples. I duplicated them a couple of times and the training went smoothly.

[2022-10-26 02:37] v-Hailishi opened #2316 "Data classification: "Experiment Results" was displayed on the wrong place in the output window when choosing "SentimentText" column as Label."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252502 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
"Experiment Results" was displayed on the wrong place in the output window when choosing "Sentimen

[2022-10-26 17:41] #2291 closed

[2022-10-26 17:43] beccamc commented on #2289
@v-Hailishi Can you start doing something new? When you validate a bug you've filed as fixed please close the bug too. Thanks!

[2022-10-26 17:43] #2289 closed

[2022-10-26 18:53] zewditu opened #2317 "Text-classification score should be calibrated and normalized to 1"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-10-26 20:03] lindsaydemarchi commented on #1106
Checking again in 2022-- are there plans to make this available in Visual Studio for Mac?

[2022-10-26 20:19] beccamc commented on #531
Close due to improvements in https://github.com/dotnet/machinelearning-modelbuilder/issues/1702

[2022-10-26 20:19] #531 closed

[2022-10-26 20:19] beccamc commented on #546
Close due to improvements with https://github.com/dotnet/machinelearning-modelbuilder/issues/1702

[2022-10-26 20:19] #546 closed

[2022-10-26 20:22] #1521 closed

[2022-10-26 20:24] beccamc commented on #1106
I don't think Visual Studio for Mac support is in our current roadmap. cc @luisquintanilla

[2022-10-26 20:27] luisquintanilla commented on #1106
Hi @lindsaydemarchi

At this time there are no plans to bring Model Builder to VS for Mac. As an alternative though we encourage you to use the ML.NET CLI for non-Windows environments.

https://learn.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-ml-net-cli?tabs=mac

[2022-10-26 20:41] luisquintanilla commented on #2308
@LittleLittleCloud to update issue.

[2022-10-26 20:47] luisquintanilla commented on #2317
@zewditu is this for training or evaluation / code-gen?

[2022-10-26 20:49] beccamc commented on #2240
This looks verified by v-Hailishi. I'm closing.

[2022-10-26 20:49] #2240 closed

[2022-10-26 21:45] beccamc opened #2318 "Text/Image/Data classification descriptions are confusing"
I'm a little confused by the various titles, images, and descriptions of classification.

My main issue is...
- Graphic used for Image and Text match (and the scenarios are next to each other)
- Description for Image and Data match more closely.

Maybe this would be fixed by the new graphic we're supposed to be getting? I just know I would be confused as a customer.

![image](https://user-images.g

[2022-10-26 21:51] beccamc commented on #2318
We need to add the new scenario to the doc link here! I would say that's a blocking issue.

[2022-10-26 23:02] LittleLittleCloud opened #2319 "Image Classification GPU training not work for VS2022 after 17.3.0"
Verify that it works on 17.2.7. But not for VS after 17.3.0. It's probably because VS servicehub hanging cin/cout

One work-around is to disable tf logging by setting TF_CPP_MIN_LOG_LEVEL to 3 in environment.

[2022-10-27 01:22] #2286 closed

[2022-10-27 01:24] v-Hailishi commented on #2279
Closed as fixed

[2022-10-27 01:24] #2279 closed

[2022-10-27 01:25] v-Hailishi commented on #2271
Closed as fixed

[2022-10-27 01:25] #2271 closed

[2022-10-27 01:26] #2246 closed

[2022-10-27 02:20] v-Hailishi commented on #2296
Verified on the latest main build 16.14.0.2252604, the error message has been changed to "Version string portion was too short or too long."
Besides, after change "userId" or "movieId" or "timestamp" column's Data type from "Single" to "String", it will also train failed with this error message.
![image](https://user-images.githubusercontent.com/99375895/198175063-2c225ded-5a4a-4ed3-9db8-fb21284d7

[2022-10-27 08:01] v-Hailishi commented on #2272
The bug has been fixed on the latest main build: 16.14.0.2252604 for Data classification & Recommendation scenario
![image](https://user-images.githubusercontent.com/99375895/198215679-e3fbc029-f54d-4259-a871-9ef1fab4d30d.png)
![image](https://user-images.githubusercontent.com/99375895/198226263-0aaf0e4e-ab3f-4ad3-89ee-727a02189772.png)

[2022-10-27 08:01] #2272 closed

[2022-10-27 08:04] v-Hailishi commented on #2304
The bug has been fixed on the latest main build: 16.14.0.2252604
![image](https://user-images.githubusercontent.com/99375895/198227045-19471e7a-c3fe-43af-963d-686e62982be7.png)

[2022-10-27 09:04] v-Hailishi opened #2320 "All scenarios: Message dialog "Version string portion was too short or too long." would be pop-up when training again."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252604 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Message dialog "Version string portion was too short or too long." would be pop-up when training a

[2022-10-27 09:22] v-Hailishi opened #2321 "Sometimes "Total experiment time" in output window is inconsistent with the "Time to train" you entered."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252604 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Sometimes "Total experiment time" in output window is inconsistent with the "Time to train" you en

[2022-10-27 09:32] v-Hailishi opened #2322 "Recommendation: Training failed with error "Index was outside the bounds of the array" when using metric "RMSE" and "MSE"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252604 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Training failed with error "Index was outside the bounds of the array" when using metric "RMSE" an

[2022-10-27 09:48] v-Hailishi opened #2323 "Image classification-Azure&Object detection: The generated Console App and Web Api projects run failed."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2252604 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The generated Console App and Web Api projects are run failed.

**TestMatrix**
https://docs.micros

[2022-10-27 11:51] tauheedul opened #2324 "Suggestion: Update Model Builder to support non-CUDA GPU's using OneAPI"
The Model Builder extension currently supports GPU acceleration using CUDA Graphics card.

Please add support for GPU acceleration for non-CUDA graphics cards e.g. AMD Radeon and Intel Arc series.
It is possible to migrate existing CUDA code to OneAPI to support the Intel series of graphics cards

e.g.
https://codeplay.com/solutions/oneapi/for-cuda/

https://www.intel.com/content/www/us/en/develop

[2022-10-27 15:57] #2304 closed

[2022-10-27 16:07] beccamc commented on #2306
Duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2284

[2022-10-27 16:07] #2306 closed

[2022-10-27 16:09] beccamc commented on #2198
@luisquintanilla Should we close this?

[2022-10-27 16:12] luisquintanilla commented on #2198
Yup. Closing now

[2022-10-27 16:12] #2198 closed

[2022-10-27 16:14] luisquintanilla commented on #2324
@beccamc this is a framework suggestion. Let's transfer the issue there. No action items on MB / CLI side unless this becomes available in the framework.

[2022-10-27 16:17] luisquintanilla commented on #2318
@beccamc can you post the link we need to update docs for.

[2022-10-27 16:26] beccamc commented on #2137
Is this still relevant? @LittleLittleCloud

[2022-10-27 16:29] beccamc commented on #2072
Sorry, this issue got lost somehow.

1. Can you upgrade to the latest version of model builder? https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022
2. Are both of you on the Global Azure cloud?
3. Is there an error in the Azure run? Sometimes errors appear in the child runs.

[2022-10-27 16:30] beccamc commented on #2077
Closing this as duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2066

[2022-10-27 16:30] #2077 closed

[2022-10-27 16:32] beccamc commented on #2022
Duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2166. This fix will ship in the Fall Model Builder release.

[2022-10-27 16:32] #2022 closed

[2022-10-27 16:33] beccamc commented on #2017
Duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/2070

[2022-10-27 16:33] #2017 closed

[2022-10-27 16:37] #1907 closed

[2022-10-27 16:38] beccamc commented on #1839
Sorry, we don't have enough information to fix this. If this happens again please send us a zip with your data.

[2022-10-27 16:38] #1839 closed

[2022-10-27 17:02] beccamc commented on #2318
Yes! https://aka.ms/vsmbscenario

[2022-10-27 17:03] #1708 closed

[2022-10-27 17:05] beccamc commented on #1618
We've added LoadColumn attributes back in for the next release.

[2022-10-27 17:08] #1497 closed

[2022-10-27 18:39] luisquintanilla commented on #2318
@beccamc here's the PR I'm using to track the doc work for these scenarios.

https://github.com/dotnet/docs/pull/32065

[2022-10-27 18:53] zewditu commented on #2317
Evaluation

[2022-10-27 20:03] luisquintanilla commented on #2318
cc @zewditu

[2022-10-27 20:37] luisquintanilla commented on #2318
Action Items

- [ ] Update data classification description to: "Classify tabular data (numeric, categorical, text) into 2+ categories. e.g. categorize flowers based on petal size and width measurements"
- [ ] Update Text classification description to: "Assign a label or category to raw text data. e.g. sentiment analysis on customer review."
- [ ] Docs: Add information about models in [link](https:

[2022-10-27 20:43] luisquintanilla commented on #1271
When training a model (especially a long-running process) it happens as well.

1. Started training Text classification (NLP) scenario
2. Went back to scenario
3. Training continued, but data / train options were reset.

![image](https://user-images.githubusercontent.com/46974588/198394017-753579ad-c659-4588-b457-c3924f7da7bb.png)

[2022-10-27 20:46] beccamc opened #2326 "GPU docs for Text Classification"
What if my GPU isn't compatible? Do we give any guidance? (I assume the answer is no)

![image](https://user-images.githubusercontent.com/9122518/198394438-ad3960a9-2e60-45ee-a706-a7872c826194.png)

Proposed change: This doc (linked to from the environment page) should have information GPU requirements for text classification.
https://learn.microsoft.com/en-us/dotnet/machine-learning/how-to-guides

[2022-10-27 20:49] luisquintanilla opened #2327 "Text Classification fails on first run"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2252703
 - Visual Studio Version: 17.3.6

**Describe the bug**
Text classification fails

**To Reproduce**
Steps to reproduce the behavior:

Train text classification scenario for the first time.

**Expected behavior**
Model trains successfully

**Additional

[2022-10-27 22:05] zewditu commented on #2320
This is because we used a preview version of ml.net "2.0.0-preview.22313.1"  because our touch sharp needs this version , I think this will be gone after Nov 6 when we have a release version of ml net

[2022-10-27 22:07] zewditu commented on #2320
@luisquintanilla  is the.net conf. before the next release of ml net? if so we have to turn off this error message otherwise we are fine.

[2022-10-28 00:38] v-Hailishi commented on #1923
@beccamc I haven't seen this.

[2022-10-28 00:57] luisquintanilla commented on #2320
@zewditu we release at the same time.

[2022-10-28 16:22] beccamc commented on #1923
Closing this for lack of repro.

[2022-10-28 16:22] #1923 closed

[2022-10-28 18:09] zewditu commented on #2327
@luisquintanilla  what was the error message? I am not able to reproduce GPU from my end because of  out-memory issue in my machine.

[2022-10-28 18:12] zewditu commented on #2327
NVM: you attached the log

[2022-10-29 13:11] torronen opened #2328 "Data Classification Out Of Memory"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.13.10.2241902
 - Visual Studio 2022

**Describe the bug**
I am trying to classify a single text field (paragraph) to 400 categories.
1. Create new ML Model
2. Select Data Classification
3. Select label column, and select one feature column
4. Run the model
Then I

[2022-10-29 15:54] torronen commented on #2328
Here is a log file for 10 categories, same dataset

[test-TEWJ8L.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/9894039/test-TEWJ8L.txt)

`2022-10-29 12:17:35.6466 INFO Set log file path to C:\Users\Kwork\AppData\Local\Temp\MLVSTools\logs\test-TEWJ8L.txt (Microsoft.ML.ModelBuilder.Utils.Logger.Info)
2022-10-29 12:18:27.4556 INFO start multiclass classification (Microsoft.ML.Mode

[2022-10-29 15:59] torronen commented on #2328
@zewditu I noticed you had OOM for text classification in another issue. Is it possible the issues are related, and there is currently a bug with text classification? I do not have the GPU extensions right now, so mine is CPU only.

I have another issue with multiclassification, 10 categories, a few words per the only feature, 150k rows. Same dataset, not OOM, but still fails
[test-TEWJ8L.-2txt.tx

[2022-10-31 05:42] zewditu commented on #2328
@torronen   I want to confirm on thing, is the issue happened for Text classification using CPU training?
For my case may machine does not have enough memory for GPU training,
Foe CPU training @LittleLittleCloud  any thought on this?

For the question of " how to edit my dataset. For example, should I reduce number of categories or shorten the text?
@luisquintanilla  what should  be the user actio

[2022-10-31 16:54] beccamc commented on #2328
I just want to remind the dev team for this bug we're talking about **Data Classification scenario**. We are releasing a new "Text Classification" scenario in the next build, but that isn't out yet. Zewditu's issue relates to the new scenario.

[2022-10-31 16:56] beccamc commented on #2305
@JakeRadMSFT Can you verify this? I wasn't getting the Visual Studio banner on my machine.

[2022-10-31 18:42] #2321 closed

[2022-10-31 20:05] LittleLittleCloud commented on #2323
This is expected as `MLImage` is still in preview and hasn't been released yet. Once's the latest ml.net with MLImage get released, this issue would go away

[2022-10-31 20:18] LittleLittleCloud commented on #2322
This issue is related with #https://github.com/dotnet/machinelearning/issues/6361

[2022-10-31 20:50] LittleLittleCloud commented on #2322
we can either
- disable MSE && RMSE for recommendation
- provide another implementation of metric manager on MSE && RMSE to exclude nan from score until [this mlnet issue](https://github.com/dotnet/machinelearning/issues/6361)  gets in.

I vote for the second option @luisquintanilla @JakeRadMSFT @beccamc @zewditu thought?

[2022-10-31 23:09] zewditu opened #2329 "Train summary does not show selected environment for GPU when reopen MBConfig"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Select Image classification scenario
2. Select GPU Environment
3. Selec

[2022-11-01 03:11] v-Hailishi commented on #2310
The bug has been fixed on the latest main build: 16.14.0.2253101
![image](https://user-images.githubusercontent.com/99375895/199149746-9ebdefd0-93ac-486c-adde-51b21fecce6b.png)

[2022-11-01 03:11] #2310 closed

[2022-11-01 09:37] v-Hailishi commented on #2295
The bug has been fixed on the latest main build: 16.14.0.2253101
![1](https://user-images.githubusercontent.com/99375895/199204490-195bd01c-9d30-42ef-958e-f86082d36d2a.png)
![image](https://user-images.githubusercontent.com/99375895/199204573-cd596c42-ebdd-449e-a382-cdd872318179.png)

[2022-11-01 15:59] luisquintanilla opened #2330 "[Deep Learning] Add Sentence Similarity Scenario to Model Builder"
## Checklist

### Frontend

- [x] #2336
- [x] #2337

### Backend

- [x] #2338

## Summary

ML.NET now supports Sentence Similarity powered by TorchSharp. Add Sentence Similarity as one of the supported language scenarios in Model Builder.

- Supported Training Environments
  - Local CPU
  - Local GPU
- Supported Data Formats
  - File
  - SQL

## Requirements

### Scenario

- Users should be able t

[2022-11-01 16:59] luisquintanilla opened #2331 "[Deep Learning] Add Named Entity Recognition Scenario to Model Builder"
## Summary

Add Sentence Similarity as one of the supported language scenarios in Model Builder.

- Supported Training Environments
  - Local CPU
  - Local GPU
- Supported Data Formats
  - File
  - SQL

## Dependencies

- [ ] ML.NET framework needs to add the API to enable this scenario.

[2022-11-01 17:06] luisquintanilla opened #2332 "[Deep Learning] Add Question Answering Scenario to Model Builder"
## Summary

Add Question Answering as one of the supported language scenarios in Model Builder.

- Supported Training Environments
  - Local CPU
  - Local GPU
- Supported Data Formats
  - File
  - SQL

## Dependencies

- [ ] ML.NET framework needs to add the API to enable this scenario.

[2022-11-01 17:13] luisquintanilla opened #2333 "[Deep Learning] Add support for local environments to Object Detection Scenario in Model Builder"
## Summary

Support local training environments for the Object Detection Scenario:

- Supported Training environments
  - Local CPU
  - Local GPU

## Dependencies

- [x] ML.NET framework needs to add the API to enable this scenario.

## Related issues

- #1091

[2022-11-01 17:42] zewditu opened #2334 "Add advanced training option(metrics) for Azure Image classification"

[2022-11-01 18:48] torronen commented on #2328
@LittleLittleCloud I am not. I think it is not yet in the release feed of VS Extensions. Is there a way to download pre-release versions for testing?

[2022-11-01 19:53] LittleLittleCloud commented on #2318
Would it be better to change `Language` to `Nature Language Processing`

[2022-11-01 19:59] LittleLittleCloud commented on #2316
The cause is because the experiment result summary comes from service hub process and code generating log comes from decent process. So we can't guarantee the appear order for those output messages

Unfortunately I cannot figure out any easy fix for this issue. And since the log from output window is mostly for tracing info purpose so its also fine to me to just have the output as is for now.

In

[2022-11-01 20:26] luisquintanilla commented on #2318
Maybe. I could go with either. That's what most places refer to it as. I went with language to keep it short.

[2022-11-01 20:48] beccamc commented on #2318
I like Natural Language Processing but I have no data backed explanation for why.

[2022-11-01 20:50] luisquintanilla commented on #2316
@LittleLittleCloud to confirm, this issue is only with the output window. Is that correct?

[2022-11-01 20:55] luisquintanilla commented on #2318
I think people are familiar with this concept and there's several examples where that's the term used. So if anything I have no real reason behind "Language" other than it's shorter.

**Azure ML**

![image](https://user-images.githubusercontent.com/46974588/199339065-d3e08eb2-e47c-441a-b054-ba8356d355ed.png)

**HuggingFace**

![image](https://user-images.githubusercontent.com/46974588/199339201-f5

[2022-11-01 22:49] zewditu commented on #2316
@luisquintanilla , yes, it is just a matter of order to display code generated log and train summary in output window only

[2022-11-02 02:56] zewditu commented on #2315
We have a bug for the metric MAPE because it is not implemented in AuoMl as `RegressionMetric`. Even if the user Selects MAPE from model builder but in automl experiment we passed RMSE that is why the output window shows that because it is from Automl service

Suggestion: Implement it in AutoML or turn off this metric from forecasting scenario.
@LittleLittleCloud  any thought?

[2022-11-02 03:51] zewditu commented on #2314
Technically this is not MAPE rather RMSE, however is that allowed to have negative values to RMSE?
related issue https://github.com/dotnet/machinelearning-modelbuilder/issues/2315

[2022-11-02 05:29] zewditu commented on #2313
I think the issue here is it should display only the top 5, the index is the index of selected trainers

[2022-11-02 05:43] zewditu commented on #2314
Not  bale t reproduce on the latest main

[2022-11-02 18:37] zewditu commented on #2314
We discussed offline we @LittleLittleCloud I confirmed that the results are MAPE.

[2022-11-02 19:09] zewditu opened #2335 "Sentence similarity scenario checklists"
- [ ] Implement  sweepable estimator in ml.net  => blocker
- [ ]  Deign scenario Icon

[2022-11-02 19:10] zewditu commented on #2330
Check lists https://github.com/dotnet/machinelearning-modelbuilder/issues/2335

[2022-11-02 19:28] #2335 closed

[2022-11-02 19:32] luisquintanilla opened #2336 "Design Sentence Similarity scenario icon"

[2022-11-02 19:34] luisquintanilla opened #2337 "Build Sentence Similarity UI screens"

[2022-11-02 19:35] luisquintanilla opened #2338 "Implement Sentence Similarity SweepableEstimator in ML.NET"

[2022-11-02 20:22] luisquintanilla commented on #2193
@LittleLittleCloud has code to train ARIMA model. Needs assistance from @michaelgsharp to integrate into ML.NET
@luisquintanilla to set up knowledge transfer session.

[2022-11-02 20:24] #2193 closed

[2022-11-02 20:30] luisquintanilla commented on #60
Closing this issue since #2191 has addressed this request. As we hear more feedback about the Try It Out experience we can evaluate the option to provide a test dataset there.

[2022-11-02 20:30] #60 closed

[2022-11-02 20:32] luisquintanilla commented on #1930
@JakeRadMSFT to provide next steps. Moving to December 2022 milestone.

[2022-11-02 20:34] luisquintanilla commented on #2192
DateTime and Vector complete. KeyType still pending implementation. Moving to December 2022

dotnet/machinelearning#6409

[2022-11-02 20:49] luisquintanilla commented on #2338
Investigate whether the Text Classification Sweepable Estimator can be reused since the inputs are the same, the only things that change are the API call and output.

[2022-11-02 20:51] luisquintanilla commented on #2298
Issue is done. Closing

[2022-11-02 20:51] #2298 closed

[2022-11-02 20:52] #1941 closed

[2022-11-02 21:10] luisquintanilla opened #2339 "Add method to load from DataFrame"

[2022-11-03 17:35] luisquintanilla opened #2340 "Capitalize computer vision"
VS Version: 17.3.6
MB Version: 16.14.0.2255301

Capitalize "vision" in "Computer vision"

![image](https://user-images.githubusercontent.com/46974588/199793895-7210daac-0279-4a2a-8e2c-d2fef9ab06d9.png)

[2022-11-03 17:41] LittleLittleCloud opened #2341 "Text classification API spell error in training.cs"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  latest main
 - Visual Studio Version
![image](https://user-images.githubusercontent.com/16876986/199795314-bed2ea2e-fd20-4350-9bc6-bafebcb86416.png)

Also `labelColumn` is missing

[2022-11-03 17:47] LittleLittleCloud opened #2342 "Azure image classification console app program.cs should use MLImage to load image from file"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): main

![image](https://user-images.githubusercontent.com/16876986/199796709-1854fa4a-1797-49c6-b85e-b7dd8eafbbe5.png)

should be

[code]

[2022-11-03 18:00] LittleLittleCloud commented on #2323
tracking in #2342

[2022-11-03 18:00] #2323 closed

[2022-11-03 18:11] beccamc commented on #2340
Why are we capitalizing Computer Vision when the scenarios only capitalize the first word?

[2022-11-03 18:40] beccamc commented on #2340
Oh I see. Natural Language Processing is all caps.

[2022-11-03 18:45] luisquintanilla commented on #2340
Yeah. I think in general these tasks are capitalized. Not the highest priority item but I see you already opened a PR. Thanks

[2022-11-03 18:52] luisquintanilla opened #2343 "Unclear whether image classification is training on local GPU - Workaround: Set environment variable TF_CPP_MIN_LOG_LEVEL=3"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255301
 - Visual Studio Version: 17.3.6

**Describe the bug**
Training image classification scenario doesn't produce display progress in the output window making it difficult to know whether any progress is happening. When training is cancelled, it just han

[2022-11-03 19:05] luisquintanilla opened #2344 "Text Classification Console Codegen - DllNotFoundException: Unable to load DLL 'LibTorchSharp'"
**System Information (please complete the following information):**
- Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255301
- Visual Studio Version: 17.3.6

**Describe the bug**
- On which step of the process did you run into an issue: Consume
- Clear description of the problem: Error thrown because reference to TorchSharp-cpu or TorchSharp-cuda-windows missing from genera

[2022-11-03 19:08] luisquintanilla commented on #2344
When training on local GPU, it should reference Torchsharp-cuda-windows. When training on local CPU it should be Torchsharp-cpu

[2022-11-03 19:09] luisquintanilla commented on #2344
Let's also make sure it works for the Web API.

[2022-11-03 19:09] JakeRadMSFT commented on #2343
I hit this and tried to set set TF_CPP_MIN_LOG_LEVEL=3 from developer command prompt.

[2022-11-03 19:09] LittleLittleCloud commented on #2343
#https://github.com/dotnet/machinelearning-modelbuilder/issues/2319

[2022-11-03 19:18] JakeRadMSFT commented on #2343
Nevermind - this did work!

[2022-11-03 20:04] beccamc opened #2345 "Text classification train time link should be hidden"
"How long should I train for?" should be hidden for the Text classification scenario. It should follow what we do for image/object where it trains for as long as required.

![image](https://user-images.githubusercontent.com/9122518/199822817-c56030b0-91b5-4312-8f03-b9526035b13c.png)

It should look like this...
![image](https://user-images.githubusercontent.com/9122518/199823022-5875169f-7d93-4948

[2022-11-03 21:36] zewditu commented on #2334
Azure auto ml for image classification deso does not support multiple metrics.

[2022-11-03 21:43] zewditu commented on #2334
Closed: Not a priority now.

[2022-11-03 21:43] #2334 closed

[2022-11-03 22:46] beccamc commented on #2290
Please try the above! If it doesn't work ping me.

[2022-11-03 22:46] #2290 closed

[2022-11-04 05:24] zewditu commented on #2345
Should it look like image  train page
or Object as follows
![image](https://user-images.githubusercontent.com/36615490/199896427-2eb7d7b2-6063-4810-94f6-3de8a9791ec8.png)

[2022-11-04 08:39] v-Hailishi commented on #2249
The bug has been fixed on the latest main build: 16.14.0.2255301
![image](https://user-images.githubusercontent.com/99375895/199929370-5d016198-16ed-4111-8367-a75910cb3dd1.png)

[2022-11-04 08:39] #2249 closed

[2022-11-04 17:55] asheesh1996 opened #2391 "Multi-output regression using ML.NET"

[2022-11-04 19:34] zewditu commented on #2322
@LittleLittleCloud  are we going to revert this PR after this  issue gets fixed  https://github.com/dotnet/machinelearning/issues/6361

[2022-11-04 21:51] zewditu commented on #2344
I think this should be done from ml net , why `SweepableEstimator.NugetDependencies` does not give us it dependencies ?
@LittleLittleCloud  thought?
A temp fix could be done from model builder

[2022-11-04 22:02] luisquintanilla commented on #2344
@zewditu is it a large change in ML.NET?

[2022-11-04 22:15] JakeRadMSFT commented on #2344
https://github.com/dotnet/machinelearning/blob/61b1fa5cf2e336a933ebd28df38b13df3ee7491b/src/Microsoft.ML.AutoML/CodeGen/trainer-estimators.json#L527

This probably should have the libtorch dependency listed. We'd have to choose either GPU or CPU though.

I think we can have a better experience in MB at the moment.

@zewditu do you have a recommended approach on the MB side?

[2022-11-04 22:22] zewditu commented on #2344
I am not sure , I did not know Ml.net repo very well ,  but my best guss is it is not large

[2022-11-04 22:24] zewditu commented on #2344
Yes depending on  the scenario and the environment (GPU  or CPU) we can add  dependency  in the code gen.

[2022-11-05 01:52] zewditu commented on #2344
The  fix in Ml net should be something like this PR https://github.com/dotnet/machinelearning/pull/6408

[2022-11-05 10:04] TheUnknownMelon opened #2346 "Unable to set up an Azure workspace"
**System Information:**
 - Model Builder Version: 16.13.10
 - Visual Studio Version: VS2022 17.3.6 (and 17.4.0)

**Describe the bug**
- On which step of the process did you run into an issue: When trying to select an Azure workspace for Object Detection model training.
- Clear description of the problem: When opening the `Azure Machine Learning - Create new experiment` window, a bunch of error mes

[2022-11-05 17:38] TheUnknownMelon commented on #2346
Nvm, it seems like I actually did have to re-enter my credentials, but I'm still leaving this issue open as I'm pretty sure the error messages shouldn't be there.

[2022-11-05 19:19] TheUnknownMelon opened #2347 "Trying to feed Azure too much data for Object Detection automatically fails in a loop"
**System Information (please complete the following information):**
 - Model Builder Version: 16.13.10
 - Visual Studio Version: VS2022 17.4.0

**Describe the bug**
- On which step of the process did you run into an issue: When trying to upload data for Object Detection to Azure
- Clear description of the problem: The tool attempts to upload my data to Azure, but automatically fails and gets stuck

[2022-11-05 19:44] ramzzzay commented on #1106
I'm here to say: "bring Model Builder to VS for Mac" are very welcome. Especially on Apple Silicon Mac. 👀

[2022-11-05 20:28] ramzzzay commented on #2287
I'm here with the same problem:

16.13.9+3066041f1761935763bdd267a9bcbb64cb3ec543

[day_clear.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/9944674/day_clear.csv)

[2022-11-06 09:06] TheUnknownMelon commented on #2347
This reply was sent first btw, idk what github is doing

[2022-11-06 09:36] TheUnknownMelon commented on #2347
I should also add that I made a vott export from mp4 files, but it auto-generates the frame images, so I don't see why this would be a problem

[2022-11-06 10:23] TheUnknownMelon commented on #2347
Actually, I just found this log file and it has a lot of errors

[HL2CombineDetectionModel-0CZON9.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/9945586/HL2CombineDetectionModel-0CZON9.txt)

[2022-11-06 10:32] TheUnknownMelon commented on #2347
I also tried to bump the azcopy version, but same thing

[2022-11-06 10:44] TheUnknownMelon commented on #2347
It seems like bumping the `azcopy` version fixed it

[2022-11-06 10:47] TheUnknownMelon opened #2348 "Bump the `azcopy` version"
This project is using an older version of `azcopy` which has bugs that were fixed in the newer versions of it.

[2022-11-06 10:48] TheUnknownMelon commented on #2347
#2348

[2022-11-06 10:48] #2347 closed

[2022-11-06 11:17] #2346 closed

[2022-11-07 06:14] v-Hailishi commented on #2311
The bug is still repro on the latest main build: 16.14.0.2255401
![image](https://user-images.githubusercontent.com/99375895/200238390-bc71e1c0-754d-4517-a96e-8066ccb62f4c.png)

[2022-11-07 06:46] v-Hailishi commented on #2313
The bug is still repro on the latest main build: 16.14.0.2255401
![image](https://user-images.githubusercontent.com/99375895/200242806-40ddde1f-8182-4353-a2da-5c1b7c34472a.png)

[2022-11-07 07:03] v-Hailishi commented on #2073
Verified on the latest main build 16.14.0.2255401, directly pop-up error dialog like below.
![image](https://user-images.githubusercontent.com/99375895/200245503-8434012a-af0c-4975-b0b6-b4df3809fb58.png)

[2022-11-07 07:20] v-Hailishi commented on #2250
Verified on the latest main build 16.14.0.2255401, DateTime type can be supported for Forecasting scenarios now.
![image](https://user-images.githubusercontent.com/99375895/200248384-b0e0bda8-0107-4101-b0b5-e511ca9a1a55.png)

[2022-11-07 07:38] v-Hailishi commented on #2312
The bug has been fixed on the latest main build: 16.14.0.2255401
![image](https://user-images.githubusercontent.com/99375895/200252307-1d9bbf6d-e2f4-4c0e-ad68-f95470a2c3f1.png)

[2022-11-07 07:38] #2312 closed

[2022-11-07 07:44] v-Hailishi commented on #2314
The bug has been fixed on the latest main build: 16.14.0.2255401
![image](https://user-images.githubusercontent.com/99375895/200253591-5153dc06-bc77-4a0f-ba06-b4cc7ac95b70.png)

[2022-11-07 09:44] torronen commented on #2328
I remembered your earlier advice:  set AutoMLServiceBinaryClassifiers=LGBM;RF;FASTTREE;LBFGS. Now the training has been running for about 24 but I ran out of time. I will update here if it would not work, but it probably works.

So I think you are correct, it is related to SDCA. It seems not to be about physical memory. If someone wants to debug it further I can share this dataset. Thanks for the

[2022-11-07 17:26] zewditu commented on #2328
@torronen  thanks for your interest to test our pre-release.
@JakeRadMSFT @beccamc do we have a way to provide pre-release to Torrenen ?

[2022-11-07 21:47] luisquintanilla commented on #2343
Okay to not hold the release for this issue since VS will be fixing in December and we have a known workaround.

[2022-11-07 21:50] luisquintanilla commented on #2343
Add workaround to release notes.

[2022-11-07 22:23] beccamc commented on #2343
Included in release notes https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.14.0.md

[2022-11-07 22:23] #2343 closed

[2022-11-07 23:22] luisquintanilla commented on #2302
Validated. Okay to close.

[2022-11-07 23:22] #2302 closed

[2022-11-07 23:31] luisquintanilla opened #2349 "Text classification cancel hangs - Reopening mbconfig shows no compatible GPU"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255703
 - Visual Studio Version: 17.3.6

**Describe the bug**
- On which step of the process did you run into an issue: Environment and Train
- Clear description of the problem:

For the text classification scenario, when I cancel training, it hangs and the

[2022-11-07 23:33] luisquintanilla commented on #2349
# Workaround - Restart Visual Studio.

[2022-11-08 00:06] luisquintanilla commented on #2341
Validated. Fixed. Closing this issue

[2022-11-08 00:06] #2341 closed

[2022-11-08 00:06] luisquintanilla commented on #2344
Validated. Fixed. Closing this issue.

[2022-11-08 00:06] #2344 closed

[2022-11-08 00:10] JakeRadMSFT opened #2350 "Tabular text should wrap instead of getting cut off."
Tabular text should wrap instead of getting cut off.

<img width="485" alt="image" src="https://user-images.githubusercontent.com/31937616/200442297-8c4ad722-c9be-4083-89e6-0660a990121d.png">

[2022-11-08 00:19] JakeRadMSFT opened #2351 "Update Package Fails"
After getting prompted to upgrade my ML.NET Dependency to 2.0.0 ... I received this failure.

<img width="398" alt="image" src="https://user-images.githubusercontent.com/31937616/200442837-59542683-bc0c-490f-82bd-4d78af21e65d.png">

[2022-11-08 02:48] v-Hailishi commented on #2351
Verified on the latest main build 16.14.0.2255703 in VS2022, I also training failed with Model builder error.
![image](https://user-images.githubusercontent.com/99375895/200462946-966806d6-b71d-4650-b6a1-02b89d44e4cf.png)

[2022-11-08 03:08] v-Hailishi opened #2352 "Some initial letters should be capitalized, and some rows should not be indented in the Output window."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2255401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Some initial letters should be capitalized and some rows should not be indented in the Output wind

[2022-11-08 03:15] v-Hailishi opened #2353 "Object detection: Word "Map" should be capitalized in the training result on the Train page."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2255401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Word "Map" should be capitalized in the training result on the Train page.

**Data Source**
https:

[2022-11-08 06:49] v-Hailishi commented on #2307
The bug has been fixed on the latest main build: 16.14.0.2255702
![image](https://user-images.githubusercontent.com/99375895/200494247-4e696d97-b197-414e-bbd4-9f5374d26201.png)
![image](https://user-images.githubusercontent.com/99375895/200494285-e247cf25-fcc6-4539-a6dd-f889997fc65c.png)

[2022-11-08 06:53] v-Hailishi commented on #2320
The bug has been fixed on the latest main build: 16.14.0.2255702
![image](https://user-images.githubusercontent.com/99375895/200494934-ba34e9b8-011b-460b-ba43-8bff697dcab3.png)

[2022-11-08 06:53] #2320 closed

[2022-11-08 07:42] v-Hailishi opened #2354 "Forecasting: Initial letter should be capitalized, and the full stop is missing for the description of metric "MAPE"."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2255702 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
Initial letter should be capitalized, and the full stop is missing for the description of metric "

[2022-11-08 08:06] v-Hailishi commented on #2314
Verified on the latest main build: 16.14.0.2255702, the bug is still repro for File and SQL Password data, not repro for Microsoft SQL Server Database File data.
![image](https://user-images.githubusercontent.com/99375895/200508171-050503f1-b408-4dda-b53a-6bb07e623f9a.png)
![image](https://user-images.githubusercontent.com/99375895/200508266-efd6dcf8-60fd-416e-8e7c-832eff617668.png)
![image](https

[2022-11-08 08:13] v-Hailishi commented on #2284
The bug has been fixed on the latest main build: 16.14.0.2255702
![image](https://user-images.githubusercontent.com/99375895/200510204-aa26e446-fe80-4a07-94aa-ac9bfc5098c6.png)
![image](https://user-images.githubusercontent.com/99375895/200510226-2a04b38a-5c3e-48f6-8a2d-7c8c0a9a7c31.png)

[2022-11-08 08:13] #2284 closed

[2022-11-08 09:09] NirmitBhatt commented on #2258
I get the same "Index was outside the bounds of the array" error when I try to train my data (total 12 columns and 1000 rows). Somehow if I "Ignore" any one feature from the **_Advanced data options..._** under **"Column to Predict (Label):"** it starts to train my data and the error disappears. Is it mandatory to ignore atleast one feature?

[2022-11-08 09:41] v-Hailishi commented on #2342
Verified on the latest main build: 16.14.0.2255702, the generated Console app project can be run successfully.
But the generated Web Api project still run failed.
![image](https://user-images.githubusercontent.com/99375895/200530167-9cee6862-c146-4ca1-9488-ddecf086f656.png)
![image](https://user-images.githubusercontent.com/99375895/200530203-8203007c-24be-4904-a3db-aa2225140736.png)

[2022-11-08 15:32] beccamc commented on #2258
@NirmitBhatt Are you able to share your dataset (or a part of it)? What does the column that you ignored look like?

It is not mandatory to ignore one column. I assume there is something different in the ignored column. Maybe free form text that contains special characters? Something like that?

[2022-11-08 17:10] beccamc commented on #2351
@luisquintanilla Is this also blocking?

[2022-11-08 17:13] luisquintanilla opened #2355 "Codegen adds references to both TorchSharp CPU and GPU packages. Should only be one."
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255703
 - Visual Studio Version: 17.3.6

**Describe the bug**

Can't build project machine learning model is added to because CPU and GPU TorchSharp packages are added as references to the csproj file. It should only be either or based on the environment us

[2022-11-08 17:19] beccamc commented on #2351
I assume this is happening when you have a project with an existing .mbconfig file (so it has a reference to an older ML.NET already) and then you re-run with the new 2.0 code.

[2022-11-08 17:23] luisquintanilla commented on #2355
## Workaround: Comment out one of the packages in csproj file -> Restart VS ->  Rebuild project

[2022-11-08 17:39] luisquintanilla opened #2356 "Enable GPU scoring in codegen for Text Classification"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255703
 - Visual Studio Version: 17.3.6

**Describe the bug**
- Clear description of the problem:
When Local GPU is selected as an environment, the `CreatePredictionEngine` method in *.consumption.cs* should be set to use GPU.

[code]

**To Reproduce**

Tra

[2022-11-08 18:55] zewditu opened #2357 "Cuda is not available for GPU Text classification"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0

**Describe the bug**
For the Text Classification scenario... on the environment tab it shows that the machine has a Cuda compatible GPU. However, when training there is an error: "cuda is not available, please confirm you have a cuda-support gpu".

**To Rep

[2022-11-08 19:02] JakeRadMSFT commented on #2357
Can you try updating your graphics card?

https://www.nvidia.com/Download/driverResults.aspx/192967/en-us/

[2022-11-08 19:09] beccamc commented on #2351
I'm not getting a consistent repro of this. @JakeRadMSFT can you share any other details of the project? Anything stick out to you?

@luisquintanilla Is this a ship blocker if its not a consistent issue?

[2022-11-08 19:35] beccamc commented on #2351
Yes there is a work around. People can manually update the Nuget package.

[2022-11-08 19:36] luisquintanilla commented on #2351
Okay. Let's add it to the release notes.

[2022-11-08 20:09] zewditu commented on #2357
Updating driver from version 461.40 to 526.47 fix the issue

[2022-11-08 20:17] beccamc commented on #2357
@zewditu Can you add some more information about what you used to update this driver so customers can follow the steps if they run into this?

[2022-11-08 23:09] beccamc commented on #2340
Validate

![Image](https://user-images.githubusercontent.com/9122518/200695545-c3d83a17-b36a-4754-be3b-b5406427ee4f.png)

[2022-11-08 23:09] #2340 closed

[2022-11-08 23:10] beccamc commented on #2345
Validated.

[2022-11-08 23:10] #2345 closed

[2022-11-08 23:23] zewditu commented on #2275
Validated

[2022-11-08 23:24] #2275 closed

[2022-11-09 00:05] #2355 closed, assigned to nobody

[2022-11-09 00:16] zewditu opened #2358 "Model Builder error window displayed outside of border for long messages"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-11-09 00:39] zewditu opened #2359 "Text-classification out of memory for GPU training"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):
 - Visual Studio Version

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-11-09 01:59] zewditu commented on #2358
Add the error message into ScrollViewer however two ScrollViewer in a single window ?

[2022-11-09 07:01] v-Hailishi commented on #2351
The bug had been fixed on the latest main build 16.14.0.2255803
![image](https://user-images.githubusercontent.com/99375895/200761099-deb45f87-c652-42d1-b392-d0295b741f17.png)
![image](https://user-images.githubusercontent.com/99375895/200761253-208af4bf-a5a1-4b66-8684-b31485300245.png)

[2022-11-09 07:20] v-Hailishi opened #2360 "Text classification: The output results have problem for the generated Console app and Web Api projects."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2255803 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The output results have problem for the generated Console app and Web Api projects.

**TestMatrix*

[2022-11-09 16:35] beccamc opened #2361 "November 2022 Release [16.14.0]"
Commit: https://github.com/dotnet/machinelearning-tools/commit/5b312734f78209555df286816f48f77db1b34ef2
Release notes: https://github.com/dotnet/machinelearning-modelbuilder/blob/main/docs/release-notes/16.14.0.md

**2022** Version number: 16.14.0.2255902
**2022** Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6941020
**2019** Version number: 16.14.0.2255803
**2019** Build: h

[2022-11-09 16:58] beccamc commented on #2046
This fix has shipped! Please install the latest version of Model Builder [16.14.0](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) to see the change.

When you update image data you can now hit the "refresh" button to manually regenerate the appropriate information for training. Let us know how it goes!

[2022-11-09 16:58] #2046 closed

[2022-11-09 17:00] beccamc commented on #2070
This fix has shipped! Please install the latest version of Model Builder [16.14.0](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) to see the change.

The SQL query now escapes column names. Let us know how it goes!

[2022-11-09 17:00] #2070 closed

[2022-11-09 17:00] beccamc commented on #1618
This fix has shipped! Please install the latest version of Model Builder [16.14.0](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) to see the change.

LoadColumn attributes are now included in the generated code.

[2022-11-09 17:00] #1618 closed

[2022-11-09 17:01] beccamc commented on #2256
This fix has shipped! Please install the latest version of Model Builder [16.14.0](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) to see the change.

[2022-11-09 17:01] #2256 closed

[2022-11-09 17:03] #1504 closed

[2022-11-09 17:04] #2199 closed

[2022-11-09 17:04] #2342 closed

[2022-11-09 17:05] #2292 closed

[2022-11-09 17:05] #2305 closed

[2022-11-09 17:05] #2318 closed

[2022-11-09 17:05] #2293 closed

[2022-11-09 17:05] #1702 closed

[2022-11-09 17:05] #2166 closed

[2022-11-09 17:06] #2317 closed

[2022-11-09 17:06] #2308 closed

[2022-11-09 17:06] #2282 closed

[2022-11-09 17:06] #2191 closed

[2022-11-09 17:07] beccamc commented on #2134
This fix has shipped with release [16.14.0](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)

[2022-11-09 17:07] #2134 closed

[2022-11-09 17:15] beccamc commented on #2328
@torronen Thanks for your patience! The release is out with the advanced training options - https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-11-09 17:16] beccamc commented on #2328
It also has the new Text Classification scenario if you want to give that a try ☺️

[2022-11-09 18:18] Wintermute79 commented on #2287
Same here. What date / time formats are valid?

[2022-11-09 18:57] zewditu commented on #2360
On latest main
 WebApi  for Text- classification
![image](https://user-images.githubusercontent.com/36615490/200916042-ae9c8115-4372-4a21-86cb-349f382fa682.png)

WebApi for data- multiclassification
![image](https://user-images.githubusercontent.com/36615490/200917017-f0431879-0dc7-4d20-9745-af108d02e532.png)

it seems that something is off for both ?
@luisquintanilla

[2022-11-09 21:05] LittleLittleCloud commented on #2287
Sorry for the late reply @jsobell. The cause of this issue is `DataFrame` can't handle datetime format.
We are working on this issue by including the fix for parsing datetime format in mlnet (#https://github.com/dotnet/machinelearning/pull/6302) but that change hasn't been included in mlnet.cli yet. Once we update mlnet.cli and target to latest mlnet, this issue will go.

[2022-11-09 23:45] #2307 closed

[2022-11-09 23:46] #2315 closed

[2022-11-09 23:46] #1655 closed

[2022-11-09 23:46] beccamc commented on #2248
Thanks for reporting @severalpens! We have confirmed this is fixed in a new version.

[2022-11-09 23:46] #2248 closed

[2022-11-09 23:48] beccamc commented on #2237
@judahr Can you try again on [16.14.0](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022)? We've fixed a few SQL data processing issues.

[2022-11-09 23:51] beccamc commented on #2066
We've just released a new model builder! If you're not on the Azure global cloud your auth problem should now be fixed. - https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-11-09 23:51] #2028 closed

[2022-11-10 00:22] #2357 closed

[2022-11-10 00:22] #2359 closed

[2022-11-10 08:24] v-Hailishi commented on #2074
Verified on the latest main build: 16.14.0.2255803, the error message has been changed like below:
1. Change "rate_code" or "passenger_count" column 's Data type from "Single" to "String".
<img width="478" alt="image" src="https://user-images.githubusercontent.com/99375895/201038906-37677e83-9d8b-48db-bffe-5cf10490b8d2.png">

2. Change "trip_time_in_secs" or "trip_distance" column 's Data type fro

[2022-11-10 09:07] v-Hailishi commented on #2295
The bug is repro again on the latest main build: 16.14.0.2255803
![image](https://user-images.githubusercontent.com/99375895/201048165-a9fdf7b5-62e1-425b-8289-b2ed9de97331.png)

[2022-11-10 09:58] shixiaobing2016 opened #2362 "There is a small translation problem on the ML.NET boot page. Currently, "表哥" is displayed, which should be "表格""
There is a small translation problem on the ML.NET boot page. Currently, "表哥" is displayed, which should be "表格"

[2022-11-10 17:18] beccamc commented on #2362
Thanks for letting us know! Can you check what version of Model Builder you are using? You can find that information in the Manage Extension dialog.

[2022-11-10 21:27] beccamc commented on #2350
Finished! Closing.

[2022-11-10 21:27] #2350 closed

[2022-11-10 22:26] torronen commented on #2344
I having an error which I think is relatd "This application or script uses TorchSharp but doesn't contain a reference to libtorch-cude-11.3.-win-x64, Version 1.11.0.1"

Installing libtorch-cuda-11.3.-win-x64 packages from nuget did not fix the issue.
Problem also remains after installing TorchSharp-cuda-windows (but I may have wrong version of it).

I was able to start the training once, but after

[2022-11-10 22:31] torronen opened #2363 "Bulk ignore fields"
**Is your feature request related to a problem? Please describe.**
Probably a rare case , but my datasets have lots of features I may want to ignore.
Feel free to close if this too much of an rare edge case.

In this case I want to ignore all 1000 fields / columns starting with "Embed"

![embeddings-ignore](https://user-images.githubusercontent.com/26261427/201219863-745cce15-909d-4257-ab6b-2173e6

[2022-11-10 22:54] torronen opened #2364 "Multi-GPU support"
New Text Classification can efficiently use GPU, almost 100% according to task manager. Need for CPU is also quite high, so it probably would be the next bottleneck, but multi-gpu support would be nice to lower temperatures and at least some speed up.

![image](https://user-images.githubusercontent.com/26261427/201221706-df2c20ab-1d7f-4efe-893f-7a4036142f7a.png)

[2022-11-10 23:37] torronen opened #2365 "CUDA error: CUBLAS_STATUS_NOT_INITIALIZED"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  Latest
 - Visual Studio Version 2022

**Describe the bug**
- On which step of the process did you run into an issue: After clicking train in Text Classification with GPU
- Clear description of the problem: I receive the attached error
Dataset has one lable (multicl

[2022-11-10 23:40] torronen commented on #2365
One more error with this dataset
[jobads-isco-29102022-partial-predicted-isco-full-level-AQ87A5.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/9985335/jobads-isco-29102022-partial-predicted-isco-full-level-AQ87A5.txt)

![image](https://user-images.githubusercontent.com/26261427/201228748-2353b79f-268b-483d-8285-2db3fb29128a.png)

[2022-11-10 23:55] torronen commented on #2328
@beccamc Thanks, Text Classification seems to work nice. I was unsure where to find the correct documentation, so I have one question: Does it take anything marked as "Feature" into account or ignores them? I can set on field as text, but what about if I have multiple text fields, like Title + Contents? Is the other markes as a Feature ignored?

BTW, Data Classification is still running for 3-4 da

[2022-11-11 09:48] v-Hailishi opened #2366 "Text classification: Save button should be disabled if select multiple Text purpose in advanced data option."
**System Information (please complete the following information):**
- Windows OS: Windows-11-Enterprise-21H2
- ML.Net Model Builder 2022: 16.13.10.2256001 (Main Build)
- Microsoft Visual Studio Enterprise: 2022(17.3.6)
- Net: 6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2022 start window.
2. Choose the C# Console App (.NET Core) proje

[2022-11-11 10:24] torronen commented on #2366
I think now it makes the rest of the fields "Features", also just randomly selects one as Text.
Are others auto-ignored? If they are ignored, then it is also confusing they are marked as features. In this case, I think, maybe, Save button should also be disabled if there are Features which can not be used by Text Classification.

If they are not ignored, it would be good to have some explanation w

[2022-11-11 10:29] torronen opened #2367 "Text Classification: auto-concat multiple text fields"
**Is your feature request related to a problem? Please describe.**
Many of my datasets include multiple columns, each with some text.  My understanding is that dataset creators typically want to put each part in separate column so the data can be used in databases, Typical example for parts of content might be: Title, Contents, Tags, Author.

I would like to use at least Title and Contents are inp

[2022-11-11 17:13] beccamc commented on #2364
@luisquintanilla Is this an ask for the framework?

[2022-11-11 17:13] beccamc commented on #2367
@luisquintanilla Is this a framework ask?

[2022-11-11 17:16] beccamc commented on #2363
@luisquintanilla This is an interesting idea to explore. I think we've gotten feedback before that a bulk edit would be helpful. I don't know that we want to write a lot of complicated UI, but maybe there is another way for us to provide more support here?

[2022-11-11 17:51] beccamc commented on #2328
@torronen Thanks for trying text classification. I'm glad that its working.

Great question on the ignored columns. It is ignoring everything besides the Lable and Text columns. I agree it is confusing and we have work item to mark all of these as "Ignored" instead of "Feature". https://github.com/dotnet/machinelearning-modelbuilder/issues/2296

@luisquintanilla Have we also documented this? I kno

[2022-11-11 17:51] beccamc commented on #2296
Set all non label/user/item columns as "Ignore" for recommendation scenario. Same for Forecasting scenario AND Text Classification.

[2022-11-11 18:50] luisquintanilla commented on #2363
I agree. Interesting idea to explore for large datasets. Maybe something similar to the "Categorical" checkbox. We could have an "Ignore" checkbox and remove it from the "Column Purpose" dropdown. You could "Check all" which would ignore everything and then you can uncheck only the ones you actually want to use.

[2022-11-11 18:51] luisquintanilla commented on #2367
@beccamc It is a framework ask.

[2022-11-11 18:55] luisquintanilla commented on #2364
@beccamc It does sound to me like a framework ask. I know that currently you are able to set which GPU you want to use but I believe you're limited to only one. In any case, let's transfer to the dotnet/machinelearning repo.

[2022-11-11 18:57] luisquintanilla commented on #2364
@beccamc On the Model Builder front though, I could see an "Advanced environment" option similar to data / training where we could let users choose which GPU to use in case they have multiple.

[2022-11-11 19:21] torronen commented on #2364
@luisquintanilla  ATM I am unable to select which card I want to use. Not really important for me, just FYI. In task manager I can see both. Only difference in views is PCI channel is different 11 vs 12.

Nvidia Game-Ready Driver 526.86, Windows 11

![image](https://user-images.githubusercontent.com/26261427/201413637-756eb9ff-1b8d-41ac-99bb-9368f334503d.png)

![image](https://user-images.githubus

[2022-11-11 20:03] torronen commented on #2363
@luisquintanilla Sound good! Even better if it would be possible to combine search/filter on top right corenet and then "check all" would only affect the filtered items.

[2022-11-11 20:07] zewditu commented on #2366
@torronen  yes  we have some confusing things around here, we have work item(https://github.com/dotnet/machinelearning-modelbuilder/issues/2296) probably we will resolve them for the next release.
Technically if a column is not "Label" or "Text" it does not have purpose or it is ignored, however it still shows as "Feature" which does not make sense .

[2022-11-12 01:37] uuxxaa opened #2368 "Target 4294967295 is out of bounds - failure during Text Classification CPU Training"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255902
 - Visual Studio Version VS 2022 17.4.0

**Describe the bug**
- On which step of the process did you run into an issue: Training
- Clear description of the problem: Training threw an exception

Target 4294967295 is out of bounds.
Exception raised fro

[2022-11-12 09:30] AlbelTec opened #2369 "Text classification : Target 4294967295 is out of bounds (CPU)"
to be linked to : https://github.com/dotnet/machinelearning-modelbuilder/issues/2369#issue-1446352753

**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255902
 - Visual Studio Version : 2022

**Describe the bug**
- On which step of the process did you run into an issue: **when starting the train step**
-

[2022-11-12 17:12] deiruch commented on #2351
I just ran into this issue with 16.14.0.2255902.

1. In a project where I used the previous ML Builder, create a new model
2. Click through the wizard, let it train for 10 minutes
3. At the end of the training, when creating the model, the wizard is trying to install NuGet packages. During that process, I was informed that I tried to install an old ML.NET version (1.7) and that there was a newer v

[2022-11-12 18:30] deiruch opened #2370 "Adjustable regularization"
**Is your feature request related to a problem? Please describe.**
I know that my training set for a classification problem has only 80% accurate labels. Today the models produced by modelbuilder are trying to overfit. I'd like to train a regularized model that doesn't overfit.

**Describe the solution you'd like**
I would like the ability to control the regularization strength/type used to train

[2022-11-12 21:35] deiruch opened #2371 "Configurable MissingValueReplacingEstimator.ReplacementMode"
**Is your feature request related to a problem? Please describe.**
Modelbuilder appears to replace all missing values with `default(T)`, also known as `MissingValueReplacingEstimator.ReplacementMode.DefaultValue`. In some cases this might not be desirable.

**Describe the solution you'd like**
I'd like the ability to configure different missing-value-replacement-modes, ideally per-column.

**Descr

[2022-11-12 22:50] deiruch commented on #1031
@luisquintanilla This is still very much a real problem. I just wasted hours, having exactly the same problem as OP... Maybe you should re-consider closing this? Ideally, this would be obvious or work out of the box. Having to stumble across demo code in this GH issue while trying to report the same thing is neither.

[2022-11-13 01:25] clmoscoso opened #2372 "admit storeprocedure for ml sql server datasource"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-13 13:38] ratropedro21 opened #2373 "No Fut"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-11-14 13:50] Aanchm commented on #2254
I am having the same issue as @christopherfowers while trying to train a regression model through the CLI on Windows.
Please can you advise on the solution to this problem?
Thanks :)

[2022-11-14 17:11] zewditu commented on #2373
@ratropedro21 are you able to add more information? Like steps the reproduce the issue .

[2022-11-14 19:40] zewditu opened #2374 "Add Text-Classification scenario icon"
Design and all other resources found at https://github.com/rnd-pm-ux-design-amandas/d3-work-items/issues/128

[2022-11-14 20:55] beccamc commented on #2364
Since we have some Model Builder context in this issue I've copied the information into a new issue in ML.NET repo. This can now be used to track selection of GPU from Model Builder.

[2022-11-14 21:03] beccamc commented on #2369
It looks like we've gotten two of these - https://github.com/dotnet/machinelearning-modelbuilder/issues/2368. @LittleLittleCloud any ideas about possible root cause?

[2022-11-14 21:22] JakeRadMSFT commented on #2351
Thanks @deiruch -  I didn't have a consistent repo but it does seem like this happens fairly consistently with old projects to new projects.

We'll investigate!

[2022-11-14 21:48] luisquintanilla commented on #2349
@v-Hailishi can you please try and validate this. Thanks.

[2022-11-14 21:50] luisquintanilla commented on #2349
Hypothesis: ML.NET needs to handle cancellation better for Text Classifications scenario.

[2022-11-14 21:52] luisquintanilla commented on #2351
Additional behaviors to look into:

- Not all packages (only Microsoft.ML) are updated

Investigate into how update process (especially for major versions) can be more robust.

[2022-11-14 21:55] luisquintanilla commented on #2351
@deiruch did manually upgrading versions fix your issue?

[2022-11-14 21:59] beccamc commented on #2369
We seem to be hitting max int. @AlbelTec Can you give more details about your dataset? What is the size?

[2022-11-14 21:59] beccamc commented on #2368
@uuxxaa Can you give more details about your dataset? What is the size?

[2022-11-14 22:12] beccamc commented on #2115
@luisquintanilla Should ignored columns be excluded from the generated ModelInput class too?

[2022-11-14 22:19] luisquintanilla commented on #2115
Yeah. I think that makes sense.

[2022-11-14 22:26] luisquintanilla commented on #1031
Thanks for the discussion everyone. In the next few months we plan on making improvements to our generated code. This would be a great addition. Reopening it and tracking it as part of the #1638 work item.

[2022-11-14 22:28] luisquintanilla opened #2375 "Add method to generated code for model explainability (PFI)."

[2022-11-15 09:27] v-Hailishi opened #2376 "Image classification-Azure&Object detection: The generated Web Api project run failed."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-21H2
ML.Net Model Builder 2022: 16.14.0.2256401 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.3.6)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The generated Web Api project run failed.

**TestMatrix**
https://docs.microsoft.com/en-us/dotnet/

[2022-11-15 09:45] deiruch commented on #2351
Yes, since I upgraded, it works as expected.

[2022-11-15 10:23] v-Hailishi commented on #2360
Verified on the latest main build:16.14.0.2256401, the bug is still repro for generated Web API project.
![image](https://user-images.githubusercontent.com/99375895/201895320-9eacdbe1-1408-46c8-98a2-44aec2a3c707.png)

[2022-11-15 22:33] #2066 closed

[2022-11-15 23:16] beccamc commented on #2115
The ModelInput class is generated from a different set of data than the sample data. Its generated from the data schema.

@LittleLittleCloud It looks like the columns being returned in the schema are never marked as hidden. IsHidden is always false for ignored columns. Code is [here](https://github.com/dotnet/machinelearning-tools/blob/bcbe5f148badb13358f4e06c97b6045d2c40bad4/src/Microsoft.ML.Mode

[2022-11-16 19:36] AlbelTec commented on #2369
Hi @beccamc Sorry for the delay I was off. The dataset is very simple based on financial emails (text & label) for multiclassification purpose. The dataset contains 2588 texts, labels.

[2022-11-16 19:46] beccamc commented on #2369
@JakeRadMSFT Thoughts? This doesn't sound like a very large dataset causing the problem.

[2022-11-16 19:46] beccamc commented on #2370
@luisquintanilla Framework or Model Builder ask?

[2022-11-16 19:48] beccamc commented on #2371
@deiruch Thanks for the feedback! Is this the value that gets auto-populated in the sample data snippet? Or is this in another area of the generated code?

![image](https://user-images.githubusercontent.com/9122518/202279644-37e75fd5-bb18-4d80-b1f7-01c37cffffbe.png)

[2022-11-16 19:49] beccamc commented on #2373
Sorry we don't have enough information to address this issue. Feel free to open a new issue if you're still experiencing problems.

[2022-11-16 19:49] #2373 closed

[2022-11-16 20:30] deiruch commented on #2371
That's in the auto-generated code of the pipeline itself. Modelbuilder creates pipelines for classification problems which automatically replace all missing values.

In some cases, it's not even desirable to do this, as some ML models (e.g. LightGBM) can deal with missing values.

[2022-11-16 20:41] beccamc commented on #2371
I see. I would love more information regarding your thoughts on this. Do you have a sample of what code you would like generated? Do you envision the missing value replacement modes be a setting in Model Builder?

It might be something that we expect you to change manually in the generated code. I'm assuming it wasn't clear/straightforward on how to make the change that you wanted. Would improving

[2022-11-16 20:42] zewditu commented on #2376
This one  seems  related  to https://github.com/dotnet/machinelearning-modelbuilder/issues/2323,

[2022-11-16 20:42] AlbelTec commented on #2369
@beccamc I did a small test where I tried once again but with very small dataset (16 rows) and I'm not getting the error. I'm wondering if long texts (more than 2000 characters) could raise  the issue.

[2022-11-16 20:42] beccamc commented on #2374
@zewditu I think this is done. Can you link the PR and update this issue?

[2022-11-16 20:59] beccamc commented on #2369
@AlbelTec Are you able to share your dataset?

[2022-11-16 20:59] zewditu commented on #2376
@LittleLittleCloud  this should be fixed by this PR  https://github.com/dotnet/machinelearning-tools/pull/1597 in the release version,  right?

[2022-11-16 21:03] beccamc commented on #2221
So Model Builder isn't working for any scenario, on both VS 2022 and VS 2019. And you're using the default dataset from the tutorial?

The original error looks like it was maybe a configuration problem and starting a new .mbconfig file would resolve the issue.

[2022-11-16 21:05] beccamc commented on #2219
Sorry, I don't have enough information to resolve this issue.
- If you're on Germany/China/US Government cloud please update to the latest version.
- If not, please reopen with the dataset.

Thanks!

[2022-11-16 21:05] #2219 closed

[2022-11-16 21:06] beccamc commented on #2237
This should be fixed on the latest version. Please let us know if it doesn't work. Thanks!

[2022-11-16 21:06] #2237 closed

[2022-11-16 21:07] beccamc commented on #2258
@NirmitBhatt Any update on the above questions?

[2022-11-16 21:07] beccamc commented on #2267
Please try the latest version of Model Builder and see if it resolves your issue. https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-11-16 21:13] beccamc commented on #2270
Poking around it looks like this may be a problem with out of memory exception when trying to create the dataset. After restart does the problem still reproduce? Is it a large dataset?

[2022-11-16 21:19] beccamc commented on #2285
What is mldonkey server? Is it possible this is related to this thread - https://mldonkey.sourceforge.net/forum/viewtopic.php?t=5156?

[2022-11-16 21:24] AlbelTec commented on #2369
@beccamc Unfortunately not as it contains sensitive data. Actually, texts are emails and aren't cleaned up for purpose (signatures are included as well as all replies / forwards).

[2022-11-16 21:30] beccamc commented on #1712
I know this is an old issue. We've had a few releases. @Exterminated Any chance you can try on [16.14.0 ](https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022) and share logs?

[2022-11-16 21:42] luisquintanilla commented on #1930
We don't have a consistent repro. Closing for now and will wait for feedback.

[2022-11-16 21:49] luisquintanilla commented on #2360
It's okay for text and data classification scenario API outputs not to match because while for text classification we expect input to always to text, it's not always the case for data classification. Moving to validation.

[2022-11-16 21:50] luisquintanilla commented on #2351
@JakeRadMSFT to add more details.

[2022-11-16 22:34] JakeRadMSFT commented on #2115
@luisquintanilla @zewditu and I dug into the code during office hours.

We should exclude Ignored columns from ModelInput and Evaluate page.

IsHidden doesn't really have anything to do with IgnoredColumns. We need to keep track of our ignored columns ourselves.

[2022-11-16 22:41] beccamc commented on #2115
Great. So we should be using the schema + column settings here. Sounds good!

[2022-11-17 01:45] LittleLittleCloud commented on #2115
`IsHidden` is used to indicate intermediate column when it has the same name of an output column but different type. For example:

`ConvertType("ColumnA", "ColumnA", boolean)`, which converts `ColumnA` to boolean with same name, will generate a `ColumnA` with its original type and `isHidden` to true. When generating model output class we don't want to include thus columns so we filter those column

[2022-11-17 13:43] deiruch commented on #2371
I think it could be a setting. For example, I currently have a dataset where one column contains "0" (10%), "1" (10%), "2" (10%) or "missing" (70%). In its current configuration, modelbuilder always generates pipelines which replace "missing" with "0". This means the model loses important information, and that the model learns based on incorrect statistics.

I can manually modify the model. Howeve

[2022-11-17 16:45] IzzyHibbert opened #2379 "reference to libtorch-cuda"
**System Information (please complete the following information):**
 - OS & Version: WIN 11
 - ML.NET Version: 2.0.0
 - .NET Framework : 4.8

**Describe the bug**

Trying to start the training with GPU, for a TEXT CLASSIFICATION scenario.
As soon as the training stage starts, it throws an error like :

[code]

**To Reproduce**
Steps to reproduce the behavior:
Open Model Builder, Select Text Classi

[2022-11-17 17:20] zewditu opened #2378 "Ignore non-label columns (recommendation, text classification, Sentence similarity, ...)"
For the following scenarios we do not have feature column, hence if the column is not one of the label columns it should be ignored automatically.

- Recommendation  =>  not (Label or user or Item) =ignore
- Text-classification => not ( Label or text) =ignore
- Sentence similarity => not (Label or sentence one or sentence two) =ignore

[2022-11-17 17:25] beccamc commented on #2115
If vendor_id isn't supposed to be in the training data schema then I shouldn't use the schema + column settings. Is it a bug that an ignored column is in the data schema?

[2022-11-17 17:28] beccamc commented on #2371
I understand. Thanks for the detailed explanation!

@luisquintanilla Have we gotten this request before? This seems like a good case to consider adding support for.

[2022-11-17 20:06] luisquintanilla opened #2380 "11/2022 Retro Action Items"
- [x] Add clarity to GPU training
  - [x] Knowledge transfer from (@JakeRadMSFT & @LittleLittleCloud)
  - [ ] Add in-product documentation (@zewditu)
- [x] Plan for code-complete from framework at least 1 month before MB / CLI integration.  (@luisquintanilla)
- [x] Work with MSR & .NET team to upgrade .NET issue bot to use Text Classification API. (@luisquintanilla)
- [x] Plan to integrate OD & im

[2022-11-17 20:21] AlbelTec opened #2382 "Can't bind the IDataView column 'text' of type 'String' to field or property 'Text' of type 'System.Single[]"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): **16.14.0.2255902**
 - Visual Studio Version : **2022**

**Describe the bug**
- On which step of the process did you run into an issue: **at runtime consumption**
- Clear description of the problem:
The template MLClassifier.consumption.cs generated by MLBuilder rai

[2022-11-17 20:32] homersimpsons197 commented on #2356
Hi Mr.Quintanilla, i have a little problem. I'm trying to access "Text classification" on the model builder but it dont give me the option to choose it, i only have 6 scenarios and text classification is missing. All updates are made and etc. Can you explain me why is this happening?
Thank you

[2022-11-17 20:39] luisquintanilla commented on #2356
@homersimpsons197 which version of Visual Studio and Model Builder are you using?

[2022-11-17 20:56] homersimpsons197 commented on #2356
Oh sry Mr.Quintilla, i got it working finally, Model Builder was showing a green check but needed to get updated anyway... Sry and also a big thank you for fast answer. May i ask you a question?

[2022-11-17 20:56] homersimpsons197 commented on #2356
Do you have an email or a way i can send you a message if its possible?

[2022-11-17 21:03] luisquintanilla commented on #2356
Sure. Feel free to send me a message at Luis.Quintanilla@microsoft.com

[2022-11-17 21:03] homersimpsons197 commented on #2356
Thank you, i appreciate!

[2022-11-17 21:32] luisquintanilla commented on #2371
I'm having trouble finding related issues so I'm going to say we haven't gotten this before. I agree. It'd be good to consider. I could see this being a dropdown in the Advanced Options for each of the columns. Adding it to the backlog as we look for additional feedback.

[2022-11-17 22:31] zewditu commented on #2382
Note able to reproduce on
Model Builder Version : 16.14.0.2255902
Visual Studio Version : 2022

[2022-11-18 00:48] zewditu commented on #2351
It seems that it happens only for  LightGbm , other packages upgraded themselves automatically  ,
@LittleLittleCloud   what makes LightGbm special for does not upgrade automatically ?

[2022-11-18 03:13] v-Hailishi commented on #2374
The bug has been fixed on the latest main build: 16.14.0.2256701
![image](https://user-images.githubusercontent.com/99375895/202608279-a7986d43-dbb6-4df6-ac6f-f0c14808ff6f.png)

[2022-11-18 03:13] #2374 closed

[2022-11-18 06:13] v-Hailishi commented on #2360
Verified on the latest main build:16.14.0.2256701, the bug is still repro for generated Web API project. for API output, the score value is incorrect. It should be like **{0.83....., 0.17....}** (Their sum should be **1**).
![image](https://user-images.githubusercontent.com/99375895/202633350-3a55b927-d4d0-4c58-bd8c-8a483f89d03f.png)

[2022-11-18 09:24] v-Hailishi commented on #2349
@luisquintanilla Tried on the latest main build 16.14.0.2256701, the following are the result.
1. There is no compatible GPU, even though I have a compatible GPU.
![image](https://user-images.githubusercontent.com/99375895/202658066-e0e99bd7-17e0-4806-bb26-ed3e1a9878ab.png)

2. When training a text classification on Local GPU environment I, I met the following error.
    On my PC, VS2022 always op

[2022-11-18 09:36] v-Hailishi opened #2383 "Text classification: The Code snippet would be blank on the Consume page after you close and reopen .mbconfig file."
**System Information (please complete the following information):**
Windows OS: Windows-11-Enterprise-22H2
ML.Net Model Builder 2022: 16.14.0.2256701 (Main Build)
Microsoft Visual Studio Enterprise: 2022(17.4.1)
.Net: 6.0

**Describe the bug**
- On which step of the process did you run into an issue:
The Code snippet would be blank on the Consume page after you close and reopen .mbconfig file.

**

[2022-11-18 09:40] v-Hailishi commented on #2366
The bug has been fixed on the latest main build: 16.14.0.2256701
![image](https://user-images.githubusercontent.com/99375895/202670622-49807cdc-f210-4ce7-9bbf-60ced63d0985.png)

[2022-11-18 09:40] #2366 closed

[2022-11-18 10:48] kalyan12346 opened #2384 "Hello,"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2022-11-18 10:55] kalyan12346 opened #2385 "About Program.cs in .nett"
Hello, I am getting error in the program.cs for sentimental analysis. here by i am attaching the screen shot
![Screenshot (3)](https://user-images.githubusercontent.com/104155930/202688541-9ba5b8bd-53dd-4dc6-b28e-c218bf78ffbe.png)

[2022-11-18 16:14] jaydeboer opened #2386 "New compute wizard fails with MinNodeCount must be specified."
**Model Builder Version**: 16.14.0.2255902
**Visual Studion Version**: 17.4.1

**Bug description**
Receive error when trying to create compute resources for an object detection project in Visual Studio.

[code]

**Steps to Reproduce**
1. Create a new `.mbconfig` file
2. Choose `Object Detection` scenario
3. On the `Environment` tab, click the `Set up workspace` button
4. Selected `Visual Studio En

[2022-11-18 16:58] soenneker opened #2387 "ML.NET CLI train command with version 3 mbconfig throws"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14, and 16.13 CLI
 - Visual Studio Version: 22 Preview

**Describe the bug**
- On which step of the process did you run into an issue: mlnet cli `train` command
- Clear description of the problem: Upgraded VS extension from 16.13 to 16.14. This in turn upgraded m

[2022-11-18 17:52] zewditu commented on #2360
@v-Hailishi thanks for catching this issue , it is related to this https://github.com/dotnet/machinelearning-modelbuilder/issues/2317

[2022-11-18 19:00] beccamc commented on #2387
Thanks for filing this with details! As it seems you've figured out, this is because we've shipped a more recent version of Model Builder than the CLI.

@LittleLittleCloud Can we get a new version of the CLI ready? @luisquintanilla We should take this into consideration for future releases. Especially important when we rev the version of the .mbconfig file.

[2022-11-18 19:07] luisquintanilla commented on #2387
Yeah. That makes sense.

[2022-11-18 20:34] luisquintanilla commented on #2370
Thanks @deiruch for this request.

@beccamc this should already be possible in the framework for some algorithms. I could see this setting being part of advanced training options. Let's check whether we've received similar requests in the past and monitor for additional feedback.

[2022-11-18 22:04] beccamc commented on #2384
sorry @kalyan12346 I don't have enough information for this issue. Can you complete the information?

[2022-11-18 22:04] beccamc commented on #2384
I'm assuming this is an early draft of https://github.com/dotnet/machinelearning-modelbuilder/issues/2385. Closing!

[2022-11-18 22:04] #2384 closed

[2022-11-19 01:29] zewditu commented on #2360
This is prediction result calibration or sum to 1 issue.

We fix this  https://github.com/dotnet/machinelearning-modelbuilder/issues/2317 for evaluate page from Model builder  temporarily , in the webApi we used `predictionEnginePool.Predict()`which is in Ml.Net
I think this issue should be transferred to ML.net

[2022-11-21 17:31] #2267 closed

[2022-11-21 17:32] beccamc commented on #2258
This should be fixed in our latest version - https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-11-21 17:34] #2258 closed

[2022-11-21 17:35] beccamc commented on #2270
Sorry you ran into this problem. If its still happening on our latest version let us know - https://marketplace.visualstudio.com/items?itemName=MLNET.ModelBuilder2022

[2022-11-21 17:35] #2270 closed

[2022-11-21 18:58] luisquintanilla commented on #2336
Design request for the following scenarios has been submitted:

- NER
- QA
- Sentence Similarity

[2022-11-21 20:25] torronen opened #2388 ""Training time finished" too early"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog):  16.13.10.2241902 (note: not latest)
 - Visual Studio Version 2019 17.3.6

**Describe the bug**
I am training a very long running experiment. I set delay to 99999999 seconds.
However, it stopped already about after ~2 weeks with error "Training time finished without

[2022-11-22 22:34] caseyeasterday opened #2392 "Expand Model Builder to support probabilistic and density-based clustering?"

[2022-11-23 02:31] v-Hailishi commented on #2316
Verified on the latest main build 16.14.0.2257101, when the training status showing completed, the output windows is still in progress.
![#2389](https://user-images.githubusercontent.com/99375895/203458831-7b296594-7fbb-4585-913a-d5b875ab817f.gif)

[2022-11-24 11:58] johnalamina opened #2389 "Fast Forest Regression Index out of bounds"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: V9SGE1
 - Visual Studio Version (if applicable): 2022

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): Training page
![image](https://user-images.githubusercontent.com/54987004/203777554-8256ebfd-a707-4a15-bf9a-913d60e3808d.png)

- Clear description of the prob

[2022-11-25 09:48] v-Hailishi commented on #1994
The bug has been fixed on the latest main build 16.14.0.2257101
![image](https://user-images.githubusercontent.com/99375895/203951694-b04af9c6-4ca1-4412-b192-a0c015fcc3b4.png)

[2022-11-25 09:48] #1994 closed

[2022-11-25 20:34] AlbelTec commented on #2382
Solved. This was due to misconfiguration of inputcolumn.

[2022-11-25 20:34] #2382 closed

[2022-11-28 16:56] zewditu commented on #2389
@LittleLittleCloud  is this  related to this issue https://github.com/dotnet/machinelearning-modelbuilder/issues/1602

[2022-11-28 17:27] Vivraan opened #2390 "Ran into error with timing logic?"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 2.0.0
 - Visual Studio Version (if applicable): 17.4.1

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/en-us/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem: Tried training with the data attached:  [kn

[2022-11-28 17:29] zewditu commented on #2386
@jaydeboer, sorry for hitting the issue, we will investigate it.

[2022-11-28 17:43] zewditu commented on #2390
@Vivraan  sorry for hitting the issue ,  form the log I understand that it seems `Training time finished without any models trained` issue ,  are you able to increase your train time and try again?

[2022-11-29 03:10] LittleLittleCloud commented on #2389
@zewditu yep
@johnalamina  Looks like you are not playing the latest model builder. We have checked in a fix for this issue on ml.net side which has been released. Could you update your model builder and try again

[2022-11-29 03:17] LittleLittleCloud commented on #2389
Well looks like the fix on ml.net just checked in. So we need to wait for the next model builder release to fix this issue

https://github.com/dotnet/machinelearning/pull/6430#event-7906117734

[2022-11-29 17:25] beccamc commented on #2115
@LittleLittleCloud Ping on the above. I see two options here...
1. Training data schema **shouldn't** have ignored columns and we file a bug to fix this problem
2. Training data schema **should** have ignored columns and I use the ColumnSettings to determine feature columns.

Based on the comments above my understanding is option 1?

[2022-11-29 18:22] Vivraan commented on #2390
I tried it with two different training times, 60s and 300s, and in both cases I hit the same error.

[2022-11-29 21:57] beccamc commented on #1638
Data:
- [ ] SQL Loading example for text scenarios (SQL selected or not)
- [ ] Load from DataFrame for text scenarios
- [ ] Load from file for all scenarios
- [ ] Streaming image example for computer vision scenarios

Explainability:
- [ ] Add PFI to Regression (notebook) and Classification (Luis has sample)
- [ ] Cross validation

[2022-11-29 22:06] luisquintanilla commented on #1638
@beccamc here is the classification PFI sample

https://github.com/luisquintanilla/PFI-Categorical

using this dataset: [RestaurantScores.csv](https://github.com/dotnet/machinelearning-modelbuilder/files/10117718/RestaurantScores.csv)

[2022-11-29 22:33] beccamc opened #2393 "Telemetry Asks Fall 22"
Ongoing issue to check on telemetry that we would need to make sure we have.
- [x] How many users are training via GPU - Training run method [dashboard](https://dataexplorer.azure.com/dashboards/5b95430c-93c0-4ccd-9a6c-6237ce7acfce?p-_startTime=1hours&p-_endTime=now&tile=fb9ae7fb-c4fd-425e-8266-35af0adcc7d5)
- [x] Nuget usage related to data prep - [dashboard](https://dataexplorer.azure.com/dashbo

[2022-11-29 22:42] JakeRadMSFT commented on #1031
I think ML.NET Repo has a comment on when PFI works and when it would take forever.

[2022-11-30 15:02] dlidstrom opened #2394 "Extension fails to load: SetSite failed for package [ModelBuilderPackage]"
**System Information (please complete the following information):**
 - Model Builder Version (available in Manage Extensions dialog): 16.14.0.2255902
 - Visual Studio Version: 17.0.16

**Describe the bug**
- On which step of the process did you run into an issue:
- Clear description of the problem:

This happens when I try to open a previously created model using Open With...

**To Reproduce**

Us

[2022-11-30 19:50] beccamc commented on #2362
I can't find these characters when searching through our latest main code. @LittleLittleCloud do you have context here? Can you confirm if this looks fixed on main?

[2022-11-30 20:15] beccamc opened #2395 "Image classification code should use MLImage"
The code generated by Model Builder for Image classification (local) generates a byte[] for the image source type. This should be an MLImage like object detection scenario.

![image](https://user-images.githubusercontent.com/9122518/204899263-97b37825-0780-449d-80f5-460dca451539.png)

[2022-11-30 20:48] zewditu commented on #2395
I investigated a little bit  Mlmage  is a replacement to Bitmaps not bytes , local image uses bytes  hence we need to keep that  why? I do not know , originally local image and Azure image classification uses different image types  hence we just replace bitmap with MLIMage for Azure  image and object.

[2022-11-30 21:08] luisquintanilla opened #2396 "Data Split & Validation"
As part of advanced data options, allow users to:

- [ ] Provide a validation dataset to be used during training
- [ ] Choose how to split their data
  - [ ] Cross-Validation
  - [ ] Split Ratio (80/20 split)

[2022-11-30 22:09] beccamc commented on #2368
Duplicate. See 2369 for tracking.

[2022-11-30 22:09] #2368 closed

[2022-11-30 22:12] #2372 closed

[2022-11-30 22:13] beccamc commented on #2372
Please see my comment above - let me know if you have additional questions!

[2022-11-30 22:14] beccamc commented on #2379
@JakeRadMSFT Thoughts on this?

[2022-11-30 22:17] beccamc commented on #2385
Something went wrong with code gen here. Can you re-run through Model Builder?

It looks like "SentimentModel" is the wrong name and based on your solution explorer it may be called MLModel1

[2022-11-30 22:19] beccamc commented on #2387
@LittleLittleCloud What is needed for a new CLI version? cc @JakeRadMSFT

[2022-11-30 22:20] beccamc commented on #2388
Great edge case! We should check to see if there is a limit on this value. What are you trying to accomplish here? What is being trained?

[2022-11-30 22:22] beccamc commented on #2389
Blocked on next Model Builder release

[2022-11-30 22:27] beccamc commented on #2390
@v-Hailishi Can you test with the attached dataset?

@Vivraan This may be that ML.Net is struggling to train here because you only have one label instance. Are you able to add more data? Non-overhead examples?

[2022-11-30 22:30] beccamc commented on #2394
@dlidstrom Is this Open With.. from Visual Studio Solution Explorer? Or from Windows File Explorer?

[2022-11-30 23:45] beccamc commented on #2395
Thanks Zewditu! That sounds good, we can close this.

[2022-11-30 23:45] #2395 closed