[2021-04-14 19:12] zewditu commented on #1381
Use of  Clipboard.SetDataObject() solves the issue  instead of  Clipboard.SetText() https://github.com/snoopwpf/snoopwpf/issues/33

[2021-04-14 20:19] LittleLittleCloud commented on #1351
Close due to no response, feel free to reopen it if you have any other questions.

[2021-04-14 20:19] #1351 closed

[2021-04-14 20:19] LittleLittleCloud commented on #1334
Close due to no response, feel free to reopen it if you have any other questions.

[2021-04-14 20:19] #1334 closed

[2021-04-14 20:20] LittleLittleCloud commented on #1208
Close due to no response, feel free to reopen it if you have any other questions.

[2021-04-14 20:20] #1208 closed

[2021-04-14 21:29] beccamc commented on #1291
I can't reproduce this. Closing. I'll re-open if I see it again (during the error management work I can catch it if it happens again)

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/671eb761-a1fe-4390-b602-ce3edd0610a2)

[2021-04-14 21:29] #1291 closed

[2021-04-14 23:24] beccamc commented on #1336
Unfortunately we don't have enough information to investigate this issue. If you're still seeing a problem, please re-open and provide additional information. Thanks!

[2021-04-14 23:24] #1336 closed

[2021-04-14 23:25] beccamc commented on #1365
Any luck with a longer training time?

[2021-04-14 23:25] beccamc commented on #1367
Did updating Model Builder fix the problem?

[2021-04-14 23:25] beccamc commented on #1366
Any update on the above questions?

[2021-04-14 23:32] beccamc commented on #804
Hi all. Sorry for the issue here and thank you for reporting. Can you share what version of Model Builder you are on?

1. If you are not on 16.3.0.2056001 can you update [here](https://marketplace.visualstudio.com/items?itemName=MLNET.07) and try again?
2. If you are on 16.3.0.2, does your UI look like this?
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/cc92e7df-3fb5-4

[2021-04-15 00:39] gpintoextra opened #1382 "Error saying a prediction label column is string type when it is a decimal(10,2)"
**System Information (please complete the following information):**
 - Model Builder Version: 16.1.02027
 - Visual Studio Version 16.9.4

**Describe the bug**
- On which step of the process did you run into an issue: Train
- Clear description of the problem:
- I am creating a new model
- I connect to my database
- I select a table
- I select a column prediction label which is of type decimal(10,2)

[2021-04-15 01:18] Loongle commented on #1367
@beccamc Hi. I updated the version six days ago. but a new problem came up and I couldn't use local ML for training. currently only Azure is available for training.

version: 16.3.0.2056001

![image](https://user-images.githubusercontent.com/7290992/114799964-65fe0400-9dcb-11eb-8996-8b49aa730ff7.png)

[2021-04-15 01:19] Loongle commented on #1367
![image](https://user-images.githubusercontent.com/7290992/114800118-acebf980-9dcb-11eb-96ea-83ef75fda2c6.png)

[2021-04-15 01:22] Loongle commented on #1367
@beccamc Maybe I made a mistake. The teaching content has been consistent with the documentation. can turn off.
Thanks

[2021-04-15 01:22] #1367 closed

[2021-04-15 06:51] vzhuqin opened #1383 "The tutorials docs will need to be updated."
**System Information (please complete the following information):**
 - ML.Net Model Builder (Preview): 16.5.0.2115505
 - Microsoft Visual Studio Enterprise 2019: 16.9.3

**Describe the bug**
Most contents of the tutorials docs are outdated, will need to be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/predic

[2021-04-15 07:20] vzhuqin opened #1384 "Target framework for the generated sample project is .NET Core 3.1."
**System Information (please complete the following information):**
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**Describe the bug**
Target framework for the generated sample project is .NET Core 3.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add Model builder by right click

[2021-04-15 08:55] petersesztak opened #1385 "Consume model / Add to solution: the NAMEs of Model and ConsoleApp projects : it would be useful if it could be SPECIFIED"
At the end of the ML.NET Model Builder process: Consume model / Add to solution:
it would be VERY useful if the NAMEs of Model and ConsoleApp projectst could be SPECIFIED.

Why?: if the developer needs two or more Models (Scenarios) in one solution (e.g. one forecasting for X, and another value prediction for Y), it's frustrating if the latest  Model Builder process wants to OVERWRITE the prev. pr

[2021-04-15 15:44] beccamc commented on #1367
Thanks @Loongle. I'll make a note that you're requesting local Object Detection training.

[2021-04-15 15:46] beccamc commented on #1091
Additional request: #1367

[2021-04-15 15:46] beccamc commented on #1353
Closing this as duplicate. Please see issue 1091 for tracking and updates.

[2021-04-15 15:46] #1353 closed

[2021-04-15 15:48] beccamc commented on #1354
I'm going to close this one and turn 1091 into the tracking issue. It has the longest context.

[2021-04-15 15:48] #1354 closed

[2021-04-15 15:50] beccamc commented on #1383
Thank you for reporting @vzhuqin! This is a great point. @briacht and @luisquintanilla

[2021-04-15 15:53] beccamc commented on #1382
@gpintoextra Thanks for reporting and sorry for the issue here. Can you try upgrading to 16.3 and reproducing the problem? Upgrade here: https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-04-15 17:20] beccamc commented on #1055
Closing as duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/60

[2021-04-15 17:20] #1055 closed

[2021-04-15 17:20] beccamc commented on #1055
Please follow issue 60 for updates on specifying a test dataset.

[2021-04-15 17:25] beccamc commented on #1380
@42Entwickler Thanks for the detailed report here! The generated file also failed for me. I was able to get a working file by having Excel do the translation for me (New workbook -> Data -> From Text/CSV -> Load -> Save as .csv).

It produced results like this:
[code]

It looks very similar to your file, but it works properly and can be loaded/trained. I've reached out to our partner team that pre

[2021-04-15 17:51] 42Entwickler commented on #1380
@beccamc thank you very much So I added the " " to the second column to avoid troubles in csv if the delimiter is part of the string and i didn't have a column name.
Excel convert wasn't possible because the file has 1.5GB and too many rows for excel. I try conversion with this format again and will see how it works otherwise I say thank you for ping back for conversion ;)

[2021-04-15 17:58] Ansjosen commented on #804
@beccamc Sorry for my ignorance, but where do one locate the Model Builder version id?

[2021-04-15 18:03] adamantinum commented on #1345
Thank you for your reply. Yes, I was able to run the program copying MLModel.zip, but there isn't written in the tutorial, so I suppose it should work without doing it, also because SampleClassification.Model.csproj is referenced in the consumeModelApp project file.

[2021-04-15 18:34] beccamc commented on #804
@Ansjosen No worries! You go to Extensions -> Manage Extensions

![image](https://user-images.githubusercontent.com/9122518/114920610-3a8d1080-9def-11eb-872a-ae71e13d0001.png)

[2021-04-15 18:43] beccamc commented on #1385
@petersesztak This is great feedback! In our next public release we're moving to file based config for Model Builder. This means for your solution you would have two model builder files, forcasting.mbconfig and value.mbconfig for the project. We won't add two complete projects anymore, but specific code files for each solution (and they'd be named forcasting.x and value.x).

You will still be able

[2021-04-15 19:26] beccamc commented on #1065
This has been open for 6 months with no one picking it up. I'm closing this as low priority

[2021-04-15 19:26] #1065 closed

[2021-04-15 19:28] beccamc commented on #1275
This is a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/1374 and

[2021-04-15 19:32] #1275 closed

[2021-04-15 19:35] beccamc commented on #1331
This work is being tracked here https://github.com/dotnet/machinelearning-modelbuilder/issues/672. Please refer to 672 for progress. Thanks for reporting!

[2021-04-15 19:35] #1331 closed

[2021-04-15 19:37] beccamc commented on #1092
@zewditu  were you investigating what we need to do to get localization on the service hub side?

[2021-04-15 20:25] beccamc commented on #1253
Additional item here. Move the support image types via Rohan [comment](https://teams.microsoft.com/l/message/19:a7c73b4892b5400aa89ff9143b2d9095@thread.skype/1618357381047?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=cc06da83-8d83-4792-a492-5dba24adfa10&parentMessageId=1617825054869&teamName=ML.NET%20Model%20Builder&channelName=Design%20Feedback&createdTime=1618357381047)

![image.png](ht

[2021-04-15 20:54] briacht commented on #1383
@vzhuqin Thanks for the feedback and for going through the Docs!

Before our "public" release, we will makes sure we update Docs to reflect all the new features and changes

[2021-04-15 21:11] beccamc commented on #1298
Changing all except "Features". Features doesn't exist as a drop down anymore. This would need to be added to the Advanced Data Options dialog. Can add later if we improve the dialog.

[2021-04-15 21:23] beccamc commented on #1253
It's difficult to combine three text styles on two lines like that. I modified to this
https://user-images.githubusercontent.com/9122518/114938100-4fc06a00-9e04-11eb-87e3-4f348b0f9441.png

[2021-04-15 21:54] Ansjosen commented on #804
Thank you for your response, Im very grateful. 16.3.0.2056001 is exactly what I've got. When dowloading from your  link, I get a message stating I allready got this module. Checking ID -still the same.  Should the download-link match your version number 16.5.xxx or what? Nevertheless... I tried to run the Value predicter on my file (just 2 numeric columns) and got the same message as before: >>Pro

[2021-04-15 22:44] beccamc commented on #811
Meeting from 4/15

- [Rohan] Drop downs need to be updated. Maybe search experience?
- [Dev team] Change the data preview grid to only show a subset of columns for large datasets. Label column will not be moved to the front of the preview.
- [Dev team] Check perf of Advanced data options

Open question:
How do advanced users consume code? Is the Evaluate page useful for them?

[2021-04-16 02:11] Loongle commented on #1367
@beccamc Thank you very much. 👍

[2021-04-16 08:31] vzhuqin opened #1386 "Always open "Scenario" page when reopen the model builder from solution explorer."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**Describe the bug**
- Reopen the model builder, it always open "Scenario" page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Ad

[2021-04-16 08:48] vzhuqin opened #1387 "The data and trained results will be cleared if reopen model builder and click the same scenario."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. Go through "Re-Entrancy Test Pas

[2021-04-16 08:58] vzhuqin opened #1388 "The Data Preview keep loading without clearing previous data after re-loading data source."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**Describe the bug**
- On which step of the process did you run into an issue: Data page on model builder
- Clear description of the problem:

**To Reproduce**
Steps to reproduce

[2021-04-16 09:06] vzhuqin opened #1389 "The data preview will be reset to original after reopen model builder."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. After select Scenaio>Environemnt

[2021-04-16 09:26] vzhuqin opened #1390 "The advanced data options page will take a while to close if reopen model builder."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**Describe the bug**
- On which step of the process did you run into an issue: Advanced data option
- Clear description of the problem: Reopen the model builder>data>advanced dat

[2021-04-16 09:43] vzhuqin opened #1391 "Model Builder is not displayed on the current interface of editor area."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. See error:  in editor area, stil

[2021-04-16 09:50] vzhuqin opened #1392 "The "model builder" need to delete twice from Solution Explorer."
**System Information (please complete the following information):**
 - Model Builder Version:
 - Visual Studio Version

**Describe the bug**
- Need to delete twice, the "Machine Learning" can be deleted from Solution Explorer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. Click delete by right clic

[2021-04-16 09:53] vzhuqin opened #1393 "No update the packages to the latest version after trained."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. After trained the model,
4. See

[2021-04-16 10:02] vzhuqin opened #1394 "Model builder error if click "Yes" for overwrite."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
2. After trained and add a solution

[2021-04-16 15:08] beccamc commented on #1386
@JakeRadMSFT and @briacht We've discussed this previously. We can't save an MRU (most recently used) in the mbconfig file. We can open to the farthest valid tab. That is that expected behavior right?

[2021-04-16 15:14] beccamc commented on #1384
@LittleLittleCloud @zewditu and @briacht What is the expected behavior here?

[2021-04-16 15:15] beccamc commented on #1394
@LittleLittleCloud Can you take a look here?

[2021-04-16 15:16] beccamc commented on #1393
@LittleLittleCloud Can you take a look here?

[2021-04-16 15:17] beccamc commented on #1392
@LittleLittleCloud Can you take a look here?

[2021-04-16 15:26] beccamc commented on #804
@Ansjosen sorry for the confusion, I used a screenshot of a newer internal build - 16.3 is the latest public version :)

Can you confirm that the first page of your UI looks like this? This is the 16.3 UI:
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/b3ccccef-7297-4276-b6ce-513f42e76a6d)

We've had an issue where despite saying it's version 16.3, it actually is not up

[2021-04-16 15:49] beccamc commented on #845
Hi all. We've recently discovered a bug in our installer, meaning that customers are on an old version of Model Builder even though it says it's updated.

Does your UI look like this? This is an old version of Model Builder.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/966b30db-991d-4113-a9c9-956671a79177)

The new UI (16.3) looks like this...

![image.png](https://i

[2021-04-16 16:15] beccamc commented on #1380
@42Entwickler I got a response from our partner team (PROSE) that handles the file parsing:

Ivan, our partner, helpfully fixed the code to correctly escape quotes:

[code]

[2021-04-16 16:25] beccamc commented on #1318
From Qin on our testing team. The code below should run without problems, yes? @zewditu?
![image](https://user-images.githubusercontent.com/9122518/115054824-4be52400-9ea6-11eb-8fb7-f22e7023123e.png)

[2021-04-16 17:07] beccamc commented on #1218
This has been updated to show a message stating GPU isn't supported for this scenario yet. Thanks for the feedback - let me know if you need anything else

[2021-04-16 17:07] #1218 closed

[2021-04-16 17:53] LittleLittleCloud commented on #1381
What is `snoopwpf`, is it a third-party wpf control library?

[2021-04-16 18:04] zewditu commented on #1381
https://github.com/snoopwpf/snoopwpf

[2021-04-16 21:37] zewditu commented on #1384
The target framework for the console sample project is hardcoded to .net core 3.1.
@briacht  do we want it to match with the user project targetframe work?

[2021-04-17 08:44] JoyPikaX opened #1395 "ISSUE IN TUTORIAL BY MICROSOFT"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: CLR v4.0.30319
 - Visual Studio Version (if applicable): 16.9.4

**System.TypeInitializationException
  HResult=0x80131534
  Message=The type initializer for 'MLAlgorithmML.Model.ConsumeModel' threw an exception.
  Source=MLAlgorithmML.Model
  StackTrace:
   at MLAlgorithmML.Model.ConsumeModel.Pred

[2021-04-18 10:45] Ansjosen commented on #804
@beccam Thanks for your reply, I got the first one: (when rightclick, add, MachineLearning), NOT the failure machine
![billede](https://user-images.githubusercontent.com/60141538/115142769-da42dc80-a043-11eb-8483-395bbf7607ac.png)

[2021-04-18 15:13] nvaghari commented on #1170
same for me, just I tried to fetch two columns. one text and another one a number

[2021-04-18 16:19] Ansjosen commented on #804
@beccamc 10 first rows of the 2-column file

0	0
1	1
2	0
3	1
4	0
5	1
6	0
7	1
8	0
9	1
10	0

[2021-04-19 05:48] vzhuqin opened #1396 "The Best model of Binary Classification shows Multiclass classification trainer."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. After trained the model;
4. See

[2021-04-19 06:04] vzhuqin opened #1397 "There is no update and loss of data information in Data Preview area after changed purpose."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Close the model builder after se

[2021-04-19 06:23] vzhuqin opened #1398 "Advanced Data options is not available for "Recommendation" Scenario."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Click "Recommendation" Scenario

[2021-04-19 06:36] vzhuqin opened #1399 "Show incorrect metric on evaluate page for "Recommendation" scenario."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Click "Recommendation" Scenario

[2021-04-19 07:18] vzhuqin opened #1400 "“Object reference not set to an instance of an object." error for SQL when clicking "Save" on Advanced data options dialog."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Value Prediction" scenar

[2021-04-19 07:37] vzhuqin opened #1401 "It will have "Specified cast is not valid" error during training for SQL data."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Value Prediction" scenar

[2021-04-19 07:57] vzhuqin opened #1402 "The results of "Table" and "Column to predict (Label)" options lost for SQL."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Value Prediction" scenar

[2021-04-19 09:00] vzhuqin opened #1403 "The predicted label value should not list in the model input of the generated sample project."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Click "Add a solution" on consum

[2021-04-19 10:13] vzhuqin opened #1404 "Set up CLI suggestions (tab-based auto-completion) doesn't work."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- dotnet-suggest: 1.1.221601
- .Net: 5.0.201
- MLNET: 16.2.0

**To Reproduce**
Steps to reproduce the behavior:
1.After install tool ML.NET CLI, on PowerShell, run below:
dotnet tool install dotnet-suggest -g
echo $profile
2. Copy the contents of dotnet-suggest-shim.ps1 to myPowerShell profile

[2021-04-19 10:32] vzhuqin opened #1405 "The sample project "SampleClassification.ConsoleApp" run error."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201
- MLNET (Preview): 16.5.17

**To Reproduce**
Steps to reproduce the behavior:
1. Install MLNET with the command: dotnet tool install mlnet -g --add-source https://mlnetcli.blob.co

[2021-04-19 15:31] beccamc commented on #1395
@JoyPikaX Sorry you ran into this problem and thanks for reporting! Is your project a .NET Framework project? If so, we have troubleshooting instructions [here](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#runtime-error-in-code-systemiofilenotfoundexception-could-not-load-file-or-assembly-microsoftmldata)

Let me know if that helps

[2021-04-19 15:39] beccamc commented on #804
@Ansjosen To confirm, you're using your own data, is that correct? If you copied pasted the above data exactly from the file, I'm guessing the problem is the delimiter. If you separate your data with a comma it should read those as two separate columns.

**@ Others using the tutorial sentiment data** Can you check if you are on version 16.3 with the updated UI? (instructions in [this comment](http

[2021-04-19 15:49] beccamc commented on #1365
Closing this due to inactivity - ping me or reopen if you need additional help!

[2021-04-19 15:49] #1365 closed

[2021-04-19 15:52] beccamc commented on #1366
Unfortunately we don't have enough information to investigate this issue. If you're still seeing a problem please re-open and ping me. Thanks for reporting

[2021-04-19 15:52] #1366 closed

[2021-04-19 19:03] beccamc commented on #1327
Long term:
1. Can we refactor the RemoteInputFile and LocalInputFile to both be relative paths, and then only one is required? _I don't know if this will be needed for datasets, so perhaps we should leave as is for now?_
2. Local Folder path used to create the tsv file doesn't need to be stored. We actually use the tsv and this is the more useful file for checking in. This experience should perhap

[2021-04-20 02:41] vzhuqin opened #1406 "Model Builder error occurs on the process of model builder for Azure."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Object detection" scenar

[2021-04-20 03:03] vzhuqin opened #1407 "The Azure environment need to set up again and the trained result is lost if reopen the model builder."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Object detection" scenar

[2021-04-20 06:50] vzhuqin opened #1408 "System.IO.IOException occurs when running Azure object detection project."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Object detection" scenar

[2021-04-20 07:14] vzhuqin opened #1409 "Project structure should not be changed after renamed .mbconfig file in solution explorer."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

**To Reproduce**
Steps to reproduce the behavior:
1. Create new console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Close the model builder after tr

[2021-04-20 08:35] jwood803 opened #1410 "Data Options Column Styling in Dark Mode"
**System Information (please complete the following information):**
 - Model Builder Version: 16.5.0.2115505
 - Visual Studio Version: Version 16.10.0 Preview 2.0

**Describe the bug**
When looking at the Advanced Data Options dialog, the column styling doesn't seem to update when in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
- Use dark mode and go to the Advanced Data Options

[2021-04-20 10:26] Mukund-Iyer opened #1411 "System.TypeInitializationException"
**System Information (please complete the following information):**
 - DotNet CLI Version: 5.0.202
 - Visual Studio Version 16.9.4

**Describe the bug**
- URL of the Tutorial Step on which I encountered the issue: https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
- Received this issue:
 `Unhandled Exception: System.TypeInitializationException: The type initializer for 'MyML

[2021-04-20 15:06] Ansjosen commented on #804
16.3 it is.
Its my own tiny file; now reduced to 10 rows, 0-9:
0,0 - 0,<space>0 - 0<space>0 - 0<tab>0 - 0;0 - 0;<space>0 formats have been tried -all resulting in the infamous message:

One thing though: No matter the formats above, the column-display looks accurate. When selecting the column to predict, the order of the columns are swapped. Maybe it serves a higher purpose with multiple columns?

[2021-04-20 17:32] zewditu commented on #1362
Closed: You probably fix the issue, if you still hit let us know and feel free to reopen it.

[2021-04-20 17:32] #1362 closed

[2021-04-20 17:33] zewditu commented on #1352
Close due to no response, feel free to reopen it if you have any other questions.

[2021-04-20 17:33] #1352 closed

[2021-04-20 21:21] beccamc opened #1412 "Invalid login throws Azure reload exception"
My personal account was in an invalid state in VS. This caused an error in the User Authorization manager.

Expected Behavior: We shouldn't throw an error if one identity doesn't work. In this case the problem identity wasn't needed to access Azure and we should just ignore it.

[code]

[2021-04-20 23:41] djmquestorsoftware opened #1413 "Tensorflow exception triggered while loading model."
**Model Builder Version**: Model Builder Preview 16.3.0.2056001
**Visual Studion Version**: 16.10.0 Preview 2.0
**Bug description**
Training fails. I worked one time when I used the builder to learn how to create a image classifier. The classifier I built also also worked. But for some reason, neither works now.

**Steps to Reproduce**
1. Create a console app with Net 3.1 or Net 5.0 . Both fail.
2

[2021-04-20 23:44] djmquestorsoftware commented on #1413
Forgot to add the sample images.
[Z00.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6347172/Z00.zip)

[2021-04-21 03:08] mrtrinhvn opened #1414 "Why don't we make more input output columns?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-21 16:11] beccamc commented on #803
This is very old, and I don't think we have a repro anymore. closing.

[2021-04-21 16:11] #803 closed

[2021-04-21 16:23] LittleLittleCloud commented on #1393
It's not a bug, the ML.Net version used by ModelBuilder is 1.5.4. So in order to keep the maximum compatibility, version 1.5.4 instead of 1.5.5 is installed to generated project.

[2021-04-21 16:24] LittleLittleCloud commented on #1393
@beccamc @vzhuqin
Do we want to update test matrix to remove this item?

[2021-04-21 16:27] sarul84 opened #1415 "Provide confusion matrix after training"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
In the evaluate phase, we are seeing only best fit models over all accuracy and model name but having confusion matrix of the best fit model here would help developers to understand the model in better way.

**Describe alternatives you've considered**
Tried to extract confusion matrix progra

[2021-04-21 16:28] LittleLittleCloud commented on #1396
It's expected because we don't have binary-classification for now, which means all classification is multi-classification. Do we want to update test metric for that?

[2021-04-21 16:29] LittleLittleCloud commented on #1415
Loop in our PM @briacht

[2021-04-21 16:32] LittleLittleCloud commented on #1414
Maybe we can! Can you give a tiny example here

[2021-04-21 16:43] LittleLittleCloud commented on #1413
![image](https://user-images.githubusercontent.com/16876986/115590307-a7882680-a285-11eb-9a23-a4bf06963afa.png)
Looks like somehow tensorflow.dll is not found

Can you go to the following path
$(Your_VS_Install_Path)\Common7\IDE\Extensions\Microsoft\ModelBuilder\AutoMLService folder and confirm that tensorflow.dll is there? If not, usually a re-install should fix the problem.

[2021-04-21 16:51] LittleLittleCloud commented on #1411
Did you add a package reference to `Microsoft.ML` in MyMLAppML project after you replace the code in Program.cs

[2021-04-21 18:10] beccamc commented on #1106
If this is still a problem, please go to https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install and choose "macOS". Sorry for the confusion.

cc: @briacht and @luisquintanilla FYI, confusing that the [main page](https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet/model-builder) download button goes the VS Marketplace page.

[2021-04-21 18:12] #1106 closed

[2021-04-21 19:39] djmquestorsoftware commented on #1413
Thank you for the prompt reply.

The folder: ..\Common7\IDE\Extensions\Microsoft\ModelBuilder is missing.

I found a tensorflow.dll in ..\IDE\CommonExtensions\Microsoft\ModelBuilder\...

Do I copy the ModelBuilder folder to the ..\Extensions\Microsoft\ folder?

DJM Questor Software

David.     On Wednesday, April 21, 2021, 09:43:37 AM PDT, Xiaoyun Zhang ***@***.***> wrote:

Looks like somehow tens

[2021-04-21 23:05] beccamc commented on #1355
I think we can move this to ship... I think we've been validating this while using :)

[2021-04-21 23:07] beccamc commented on #710
We've had this for a while, including customer uploading! I think we can close.

[2021-04-21 23:07] #710 closed

[2021-04-21 23:09] beccamc commented on #1185
This has been validated in bashes

[2021-04-21 23:09] #1185 closed

[2021-04-22 02:34] vzhuqin commented on #1396
Thanks for @LittleLittleCloud explanation, I may have misunderstood as see the information from https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis-model-builder, then think this test matrix is for binary classification.
![image](https://user-images.githubusercontent.com/81727020/115646734-50ea1d80-a355-11eb-84da-6088156bb4db.png)
Do I need to close this issue sin

[2021-04-22 02:41] vzhuqin commented on #1393
Thanks @LittleLittleCloud explanation. @beccamc could you help to update this behavior to the related Test Passes?

[2021-04-22 03:09] vzhuqin commented on #1251
This issue can be repro on Environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

Steps to reproduce the behavior:

1. Create new console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. See error: in editor area, the last opened file (program.cs) remains active.

[2021-04-22 04:46] vzhuqin commented on #1313
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.202

Steps to reproduce the behavior:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Text classification" scenario and Local (CPU);
4. Select file and

[2021-04-22 05:04] vzhuqin commented on #1381
@zewditu ,could you tell me in what environment to validate this issue?
The consume page on below environment is different from your actual experience. And no error when clicking the copy icon.
Environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.202
![image.png](https://images.zenhubuserco

[2021-04-22 05:15] vzhuqin commented on #1324
@briacht @zewditu could you help to confirm if need to validate this issue on next version of ML.Net Model Builder (Preview)? Now there is no Web API sample project on Consume page.
Environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.202
![image.png](https://images.zenhubusercontent.com/60

[2021-04-22 05:39] Mukund-Iyer commented on #1411
I had to install the NuGet package for Microsoft.ML and all it's dependencies. It worked after selecting the Solution Platform (x86 or x64). Thanks for the support. Really appreciate it.

[2021-04-22 05:39] #1411 closed

[2021-04-22 08:04] vzhuqin commented on #1276
This issue can be repro on:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.3
- .Net: 5.0.201

Steps to reproduce the behavior:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. After trained;
4. Closed and Reopen the model builder;
5. Navigate to Data page, **re-

[2021-04-22 08:13] vzhuqin commented on #1314
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b9937980-58eb-49e1-a61a-bdba56461cc2)

[2021-04-22 08:21] vzhuqin commented on #1235
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps to reproduce the behavior:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Navigate to consume page after trained;
4, See error if "Ctrl+S" to save.

[2021-04-22 08:32] vzhuqin commented on #1287
@beccamc @LittleLittle
1. Could you help to provide the image-classification test matrix to validate this issue?
2. Which training environment should be selected on Environment page? Azure?

[2021-04-22 08:42] vzhuqin commented on #1193
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

This issue can be repro on:  Local CPU> Data source type: File (.csv, .tsv, .txt) and SQL Server.

Related issue: https://github.com/dotnet/machinelearning-modelbuilder/issues/1388

[2021-04-22 08:56] vzhuqin commented on #1346
Can't repro this issue on
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

The "Save" button is enabled after changed the data type of col2 into String from Boolean or check or uncheck of categorical.
![image.png](https://images.zenhubusercontent.com/6065

[2021-04-22 09:16] vzhuqin commented on #1245
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/276f526f-57ce-49bd-b7a3-1fbc61ae2931)

Dadaset: https://testpass.blob.core.windows.net/test-pass-data/issues.tsv.txt

[2021-04-22 09:28] vzhuqin commented on #1330
@beccamc I see your said this issue is fixed, but I don't see the consume page changed, do I need to validate it on next version of ML.Net Model Builder (Preview).

Not see the consume page changes on:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202
![image.png](https://images.zenhubusercontent

[2021-04-22 09:40] vzhuqin commented on #1372
This issue can be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.0.2115505
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps to reproduce the behavior:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Object detection" scenario,
4. Jump to Environment page with promp

[2021-04-22 16:36] djmquestorsoftware commented on #1413
Even though the Visual Studio Installer displayed the ML.Net ModelBuilder (Preview) check box as checked, the builder was not listed in the "Installation details" panel. I unchecked and rechecked the box and the builder became listed but the missing folder still does not appear.

When I download and try to install the model builder, the installer says it's already installed.

DJM Questor Software

[2021-04-22 17:41] LittleLittleCloud commented on #1413
No you don't need to, CommonExtension is the right place.
Do you have other tensorflow distribution binary installed on your machine? For example, those installed from pip install tensorflow or conda install tensorflow?

[2021-04-23 03:29] vzhuqin commented on #1313
Can be repro on: ML.Net Model Builder (Preview): 16.5.21.2122301
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ee176865-c113-499f-89b0-cf9e779c84d9)

Dataset:
https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/wikipedia-detox-250-line-data.tsv

[2021-04-23 03:36] vzhuqin commented on #1251
not repro this issue on:
- Windows 10 Enterprise, Version 20H2
- **ML.Net Model Builder (Preview): 16.5.21.2122301**
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1. Create new C# console app with .Net 5.0;
2. Add Model builder by right click on the project;
3. Find: In editor area, the created model builder is active even if there is another file (program.cs) open.
![i

[2021-04-23 05:31] vzhuqin commented on #1381
This issue can't be repro on environment:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Click "Copy" button, changed to "Copied" with no error.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/cacc1b91-1692-4f8f-bd21-115de72a26c1)

[2021-04-23 05:53] zewditu commented on #1381
This issues was happened on main branch.

[2021-04-23 06:00] vzhuqin commented on #1324
The first two issues have been fixed on:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. After

[2021-04-23 06:11] zewditu commented on #1324
@JakeRadMSFT  @briacht  , we agreed  to keep  Predict method.

[2021-04-23 06:16] vzhuqin commented on #1235
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Close and reopen

[2021-04-23 07:33] vzhuqin commented on #1314
The first two points can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps to reproduce the behavior:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click

[2021-04-23 07:56] vzhuqin commented on #1193
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Value pre

[2021-04-23 08:05] vzhuqin commented on #1245
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Navigate to Data

[2021-04-23 08:38] vzhuqin commented on #1330
Sample Project: Warning dialog for name collision should say "Microsoft Visual Studio."-->**This change doesn't realized.**
Repro steps:
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Navigate to Consume page after trained;
4. Click "Add again" after added one sample app;
5. Set the project name as same as last one or increment the X, click "Add

[2021-04-23 08:47] vzhuqin commented on #1372
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Click "Object det

[2021-04-23 08:59] vzhuqin commented on #1335
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. After trained;
4.

[2021-04-23 09:02] vzhuqin commented on #1346
Also not repro on ML.Net Model Builder (Preview): 16.5.21.2122301
Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

[2021-04-23 09:16] vzhuqin commented on #697
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Click "Stop train

[2021-04-23 09:37] vzhuqin commented on #233
@LittleLittleCloud  @beccamc could you help to answer below question?

Validate this issue on https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
 - Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Clicked "Stop training" after noticed the training results, see:
1. the

[2021-04-23 09:58] vzhuqin commented on #1276
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps:
- After trained
1. Click "Train again"  ->no jump back to other page;

- Close and reopen model builder after traine

[2021-04-23 15:26] djmquestorsoftware commented on #1413
I found the follow tensorflow.dll files:

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE\CommonExtensions\Microsoft\ModelBuilder\AutoMLService\tensorflow.dll
C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\Common7\IDE\CommonExtensions\Microsoft\ModelBuilder\AutoMLService\tensorflow.dll
C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\Common7\IDE\Ex

[2021-04-23 15:35] djmquestorsoftware commented on #1413
Attached is a listing of 'tensorflow.*.*' files.

DJM Questor Software

David.
     On Thursday, April 22, 2021, 10:42:05 AM PDT, Xiaoyun Zhang ***@***.***> wrote:

Thank you for the prompt reply. The folder: ..\Common7\IDE\Extensions\Microsoft\ModelBuilder is missing. I found a tensorflow.dll in ..\IDE\CommonExtensions\Microsoft\ModelBuilder... Do I copy the ModelBuilder folder to the ..\Extensio

[2021-04-23 16:29] beccamc commented on #1403
@LittleLittleCloud Is this fixed? It sounds familiar to me.

[2021-04-23 16:52] beccamc commented on #1345
Glad you got it working @adamantinum!  I want to make sure our docs are clear. We do have a note about copying the zip, but it seems it isn't noticeable.

![image](https://user-images.githubusercontent.com/9122518/115090843-9339d780-9edb-11eb-8059-599ae24853cd.png)

Sorry, I'm not trying to call you out! I want to hear if you have feedback on how we make this more clear and understandable.

[2021-04-23 16:56] beccamc commented on #1393
I've checked in the Test Pass docs so we all can modify them. @vzhuqin Where is this located in the test pass?

[2021-04-23 16:59] beccamc commented on #1287
1. Any Image set should work. Do you have an image folder for other testing? If not I can provide one
2. It should work for both local and Azure environments.

Let me know if that doesn't help

[2021-04-23 17:01] beccamc commented on #1330
@zewditu See error above

[2021-04-23 17:04] beccamc commented on #233
@LittleLittleCloud Can you help here?

[2021-04-23 17:06] LittleLittleCloud commented on #1413
Hi @djmquestorsoftware

Thanks for the response, it also seems that you have mlnet.cli installed. Can you try using that cli for image training and see if it works so I can rule out tensorflow binary problem.

[2021-04-23 17:09] LittleLittleCloud commented on #1413
@Oceania2018
It looks quite similar with this issue in redist.tensorflow
https://github.com/SciSharp/TensorFlow.NET/issues/144

Do you have any idea what causes it

[2021-04-23 17:10] beccamc commented on #1027
Has anyone else been able to fix their problem with the above advice?

[2021-04-23 17:15] LittleLittleCloud commented on #1405
It's a known bug and should be fixed in preview release already
https://github.com/dotnet/machinelearning-modelbuilder/issues/1137

[2021-04-23 17:20] LittleLittleCloud commented on #1403
Related issue
- https://github.com/dotnet/machinelearning-modelbuilder/issues/1319

I take a look at the fix PR and it only remove label value for code behind files. Since this file is in generaeted console app so I'm afraid it's not fixed yet.

@zewditu Can you create another fix similar to this one
- https://github.com/dotnet/machinelearning-tools/pull/974/files

[2021-04-23 17:24] LittleLittleCloud commented on #1392
#1394

[2021-04-23 17:30] LittleLittleCloud commented on #1211
@beccamc No I haven't made any change related to this issue yet. But maybe I'll start soon

[2021-04-23 17:45] LittleLittleCloud commented on #1211
After model builder starts inferring the column with {0,1} as a numeric type instead of a boolean, all parts for this work has been completed and it is a good time to start this thread. Even though misformat label problem still exists, this problem is not that severe anymore because the most confusing part (label with 0/1 because false/true) is not the default behavior now. And the other parts (la

[2021-04-23 20:15] beccamc commented on #638
@Datakda You might need to increase the training time. Try giving a few minutes and see if you can complete the training.

[2021-04-23 20:17] beccamc commented on #1380
Any luck with the above code?

[2021-04-23 20:18] beccamc commented on #1382
Any luck updating the MB version?

[2021-04-23 20:23] beccamc commented on #859
Sorry you ran into this problem! We've updated the tooltips to be more [descriptive](https://github.com/dotnet/machinelearning-modelbuilder/issues/1298). It sounds like you want to use "Text Classification" instead of recommendation. Let us know if you run into more problems!

[2021-04-23 20:23] #859 closed

[2021-04-23 20:25] beccamc commented on #1410
Hi Jon! Thanks for reporting! We've fixed this (dup [here](https://github.com/dotnet/machinelearning-modelbuilder/issues/1264)) and it'll be shipped in the next private preview release.

As always, thanks for your help!

[2021-04-23 20:51] LittleLittleCloud opened #1416 "Update CodeGen comment - SampleData has been removed from CodeBehind."
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/2b7badaf-f496-4fb9-a77c-442dbb20029a)

[2021-04-23 20:56] LittleLittleCloud commented on #1416
@zewditu  can you take a look, it looks like a regression caused by this PR
- https://github.com/dotnet/machinelearning-tools/pull/1004

@briacht Just to confirm if it's our plan to remove `GetSampleData` from all codegen file, or just console app and web api project.

[2021-04-23 23:52] djmquestorsoftware commented on #1413
Sorry, The MLNet.CLI does not work either. I reported this on a different thread.

Re: [dotnet/command-line-api] Tensorflow exception triggered while loading model. (#1259)
Apr 22 at 3:15 AM
PrintRaw message

elgonzo ***@***.***>
To: dotnet/command-line-api ***@***.***>
Cc: djmquestorsoftware ***@***.***>,Author ***@***.***>
You probably just forgot in the hectic of the work day after reposting yo

[2021-04-24 00:32] djmquestorsoftware commented on #1413
The comment "It seems that on some processor some Tensorflow.dll does not work, because it lacks of AVX support" I believe does not apply to my case because TensorFlow did work before I encountered the current problem.

The problem might have been caused by disk errors. When this problem started, I ran the virus checker offline and no viruses were found. I ran ChkDsk /R /F on my C and D drives and

[2021-04-24 03:39] zewditu commented on #1330
This is due to the usage of relative model path  in generated projects  https://github.com/dotnet/machinelearning-modelbuilder/issues/1335

[2021-04-24 11:07] adamantinum commented on #1345
Oh my fault, it has escaped me.
Sorry and thank you for your patience.

[2021-04-24 11:07] #1345 closed

[2021-04-24 22:35] burakkizildemir opened #1477 "The Prediction results on the tutorial page and the result of the application are incorrect."
### Issue

Hello, I tried the example on the relevant page(https://docs.microsoft.com/tr-tr/dotnet/machine-learning/tutorials/object-detection-model-builder) by creating an azure account and I got the same result. However, in the "Add the code to make predictions" section described on this page, we will test the image in step 3 and the result in step 7 in the same section (Predicted Boxes Of Resul

[2021-04-25 01:35] vzhuqin commented on #1287
@beccamc I don't have any image folder for testing, could you help to provide the image test matrixes for both local and Azure Environment?

[2021-04-25 01:40] vzhuqin commented on #1393
@becca, this isn't mentioned on current test passes, I found it after trained. I'd like that can add this expected behavior to one related test pass, is that fine?

[2021-04-25 06:18] vzhuqin commented on #1298
**The period is missing at the end of the "User column:" tooltip.**
- User column:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0c5e44a8-b5ab-46d0-a4f9-57f40d922e87)

Other 4 tooltips strings have been changed on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Prev

[2021-04-25 06:37] vzhuqin commented on #1253
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Object de

[2021-04-25 06:51] vzhuqin commented on #1317
Validate this issue on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
@beccamc As I can't access https://app.zenhub.com/workspace/o/dotnet/machinelearning-tools/issues/973
 to get reference information. Could you help to confirm whether the expected result is don't allow change the column name in advanced data options dialog?
![image.png](https://images.

[2021-04-25 07:30] vzhuqin commented on #793
@LittleLittleCloud  could you help to provide more details to validate this issue? on which Scenario? Environment? Data? or repro steps?

[2021-04-25 07:33] vzhuqin commented on #1284
@JakeRadMSFT could you help to provide more details to validate this issue? on which Scenario? Environment? Data? or repro steps?

[2021-04-25 07:44] vzhuqin commented on #1340
@LittleLittleCloud could you help to provide more details to validate this issue? such as screenshot of this issue or repro steps?

[2021-04-25 08:22] vzhuqin commented on #1320
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Change to dark theme;
2. Create new C# console app with .Net 5.0;
3. Add model builder by right click on the proj

[2021-04-25 09:06] vzhuqin commented on #794
@LittleLittleCloud could you help to provide more details to validate this issue? such as screenshot of this issue or repro steps?

[2021-04-25 09:14] vzhuqin commented on #221
@beccamc could you help to provide the dataset and train time you use to validate this issue?

[2021-04-25 09:27] vzhuqin commented on #1033
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Object de

[2021-04-25 09:54] vzhuqin commented on #1160
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Create new C# console app with .Net 5.0;
2. Add model builder by right click on the project;
3. Select "Text clas

[2021-04-25 10:08] vzhuqin commented on #1292
**No the status of user set coloring and font, will validate this on Next Private Preview.**

Some issues can't be repro on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps：
1. Create new C# consol

[2021-04-25 10:17] vzhuqin commented on #1264
This issue can't be repro on：
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

Steps：
1. Set to dark theme and create new C# console app with .Net 5.0;
2. Add model builder by right click on the project

[2021-04-26 02:53] vzhuqin commented on #1010
Not repro this issue on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps 1:
1). Download the dataset from: https://www.kaggle.com/mirichoi0218/insurance
2). Create new C# console app with .Net 5.0;

[2021-04-26 03:18] vzhuqin commented on #845
Not repro this issue on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1). Download the dataset from: https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities
2). Create new C# c

[2021-04-26 07:15] vzhuqin commented on #1181
Not repro this issue on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1). Download the dataset from: https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/taxi-fare-train.csv

[2021-04-26 07:31] vzhuqin commented on #1163
This issue can't be repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Dataset: https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/taxi-fare-train.csv

Steps：
1. Create new C#

[2021-04-26 07:36] vzhuqin commented on #1309
This issue can't be repro on main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Have two sample projects (Console app and Web API) on Consume page, "Sample project**s**" is expected.

![image.png](https://

[2021-04-26 07:55] vzhuqin commented on #1321
Validate this issue on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**After trained, find the Code generated section shows in Output window, but the messages have changed.**
![image.png](https://imag

[2021-04-26 08:13] vzhuqin commented on #1323
This issue can't be repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps：
1). Download data set from: https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/taxi-fare-train.cs

[2021-04-26 08:27] vzhuqin commented on #1322
This issue can't be repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps：
1). Download data set from: https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/taxi-fare-train.cs

[2021-04-26 08:36] vzhuqin commented on #1319
This issue can't be repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps：
1). Download data set from: https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/taxi-fare-train.cs

[2021-04-26 08:50] vzhuqin commented on #1213
This issue can't be repro on main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

All scenarios are fully visible using the tab key on the keyboard.
![image.png](https://images.zenhubusercontent.com/60653e49

[2021-04-26 09:22] vzhuqin opened #1417 "The code snippet on Consume page should not lost after added to solution and re-opened."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Main branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**To Reproduce**
Steps to reproduce the behavior:
1). Download data set from: htt

[2021-04-26 09:46] vzhuqin commented on #1329
Re-entrancy works for object detection with error dialog, could you help to take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9b708228-d154-444e-9308-98c32981a5e4)

Validate this issue on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.212

[2021-04-26 10:04] vzhuqin commented on #1318
Validate this issue on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1). Download data set from: https://zh-file.s3.amazonaws.com/186917455/8b0f33a5-c9f3-44d8-b8c9-394c65784e66?Expires=1619430

[2021-04-26 15:04] beccamc commented on #1395
Any luck with the above?

[2021-04-26 15:09] beccamc commented on #1010
@JohnWasTakenWasTaken This is fixed in the next release of Model Builder. Stay tuned for that update. Thanks for reporting!

[2021-04-26 17:44] LittleLittleCloud commented on #1413
@djmquestorsoftware
We do receive a few tensorflow error reported on some quite old CPU without AVX support but your CPU is quite new (by quite new I mean it's after 2010) so yes you are right, it shouldn't be AVX instruction missing problems.

I am not quite sure why disk error might be the cause but I can start a thread with Haiping to keep investigating in. In the meanwhile, please let us know

[2021-04-26 19:26] djmquestorsoftware commented on #1413
Thank you for your attention. You can close this for me.

I have removed all of the Visual Studio and NuGet stuff. I have checked for malicious code: None found. I have run ChkDsk twice and found no more errors. I am now re-installing Visual Studio 2019 (for my regular apps) and 2019 Preview (for the ML stuff), the mlnet CLI, and the ML.Net Model Builder. If something was corrupted, hopefully this

[2021-04-26 21:35] #1391 closed

[2021-04-26 22:26] LittleLittleCloud opened #1418 "class name should be sanitized"
mbconfig name: titanic-binary.mbconfig
*.train.cs
![image](https://user-images.githubusercontent.com/16876986/116158607-cc283800-a6a3-11eb-93dd-957b72ebed41.png)

[2021-04-27 06:05] zewditu commented on #1403
@LittleLittleCloud , https://github.com/dotnet/machinelearning-tools/pull/974/files  can  remove label column from  Program.cs file too.

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/705ed0dd-4f71-4b49-b9cc-16fb7e5da40b)

# Program.cs
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/3f03e1ba-4095-4998-90c2-448a6e49bc3e)

@vzhuqin  Might not g

[2021-04-27 06:28] vzhuqin commented on #1279
Can repro this issue on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1). Prepare the JSON file according to: https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/object-detection

[2021-04-27 06:50] #1357 closed

[2021-04-27 06:51] JakeRadMSFT commented on #1308
Yes and docs are updated thanks to @luisquintanilla :)

[2021-04-27 06:51] #1308 closed

[2021-04-27 06:51] #1359 closed

[2021-04-27 06:52] #1268 closed

[2021-04-27 07:03] JakeRadMSFT commented on #1416
Yes that was the plan -

We should update the comment in the code-gen though!

[2021-04-27 07:54] vzhuqin commented on #1405
@LittleLittleCloud  I tried to replace the line of SampleClassification.ConsoleApp.consumption.cs mentioned in the issue https://github.com/dotnet/machinelearning-modelbuilder/issues/1137, but still cannot "dotnet run" successfully, could you help to take a look where I did wrong when you are available?

Tried one:
Replace the line:
private static string MLNetModelPath = Path.GetFullPath("SampleCl

[2021-04-27 08:57] vzhuqin commented on #913
Can repro this issue on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Text classification scenario:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/1e2e53f7-6fd7-4e09-bdfb-d

[2021-04-27 09:51] vzhuqin commented on #1287
**Met some issues for re-entrancy image classification model builder, could you please take a look?**

Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Azure Steps:
1). Download dataset from: https://tes

[2021-04-27 10:01] vzhuqin commented on #1174
not repro issue on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Azure Steps:
1). Download dataset from: https://testpass.blob.core.windows.net/test-pass-data/weather.zip
2). Create new C# console app

[2021-04-27 10:10] vzhuqin commented on #1317
Reference: https://github.com/dotnet/machinelearning-tools/pull/973,
This issue is fixed on:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122301
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

[2021-04-27 15:46] briacht opened #1419 "Update generated Predict() method to increase inference perf"
Update generated code so that:

- Creating a new MLContext
- Loading the model
- Creating the Prediction Engine

happen outside of the Predict() method. We don't want all these things to happen everytime Predict() method is called; they should only happen once.

[2021-04-27 16:11] beccamc commented on #1393
Yes thats fine! You can modify the pass if you'd like.

[2021-04-27 16:12] beccamc commented on #221
This is very old, and no customers have reported this. I'm going to close this as low priority.

[2021-04-27 16:12] #221 closed

[2021-04-27 16:14] beccamc commented on #1317
Yes, the above is the expected result! This is fixed.

[2021-04-27 18:03] gpintoextra commented on #1382
Yes, problem solved. Thank you very much.

[2021-04-27 18:48] JakeRadMSFT opened #1420 "CodeGen Relative Path Issue"
https://github.com/dotnet/machinelearning-tools/pull/1012  introduced an issues with CodeGen

[code]

It's looking next to the Host ... we need make relative paths absolute before using them.

[2021-04-27 19:11] Mukund-Iyer commented on #1414
I think @mrtrinhvn is referring to the "Value prediction" scenario in the ML.Net Model Builder which only allows single Column to Predict while all the other columns become Input. @mrtrinhvn wants to have multiple Columns to Predict. Currently, we have one column to predict as shown in image.
![Capturezsd](https://user-images.githubusercontent.com/82875381/116298727-6d091700-a7ba-11eb-9063-771bb18

[2021-04-27 19:16] Mukund-Iyer commented on #1395
Similar issue had occurred when I was doing the Tutorial. Please add the ML.Net NuGet package to your project. I had to install the NuGet package for Microsoft.ML and all it's dependencies. It worked after selecting the Solution Platform (x86 or x64).

Please refer the now Closed Issue "System.TypeInitializationException #1411" raised by me, for more details.

[2021-04-27 19:36] mikeydoo opened #1421 "tensorflow.dll packaged with 16.3.0.2056001 is dependent upon cuda 10.0 not 10.1."
**Model Builder Version**: Microsoft.ML.ModelBuilder.GPU","version":"16.3.0.2056001
**Visual Studion Version**: Microsoft Visual Studio Community 2019 Version 16.9.4

**Bug description**
tensorflow.dll packaged with 16.3.0.2056001 is dependent upon cuda 10.0 not 10.1.

**Steps to Reproduce**
Install from scratch following guide.

**Expected Experience**
Should work with cuda 10.1

**Actual Experie

[2021-04-27 23:18] romalpani commented on #1322
@zewditu

Hyperlinks on hover should not have an underline. Please refer to VS UI Guidelines here.
https://devdivdesignguide.azurewebsites.net/windows/patterns/buttons-and-hyperlinks/#visual-style-2

[2021-04-27 23:21] romalpani commented on #1321
The "code generated" section is not needed in the output window on the Train page, including the title 'code generated'.
@briacht could you please confirm this?

[2021-04-28 02:17] #794 closed

[2021-04-28 02:18] JakeRadMSFT commented on #794
Closing issue this was just used for tracking. Design team is looking into long term fix.

[2021-04-28 02:18] JakeRadMSFT commented on #793
Closing issue this was just used for tracking. Design team is looking into long term fix.

[2021-04-28 02:18] #793 closed

[2021-04-28 02:23] JakeRadMSFT commented on #1284
@vzhuqin before this was fixed the "Document" tab never showed that it was "dirty" - meaning that it had unsaved changed.

For testing, Can you verify that the document shows that it has unsaved changes at expected times? Essentially anytime that the .mbconfig file should change when saved.

[2021-04-28 02:23] #1342 closed

[2021-04-28 02:23] JakeRadMSFT commented on #1342
Dev Work Tracking Task - Nothing to validate.

[2021-04-28 02:24] #1341 closed

[2021-04-28 02:24] JakeRadMSFT commented on #1341
Dev Work Tracking Task - Nothing to validate.

[2021-04-28 02:33] JakeRadMSFT commented on #1386
@briacht @beccamc

I think I would want it to open to Min(Evaluate Tab, Furthest Tab).

Essentially if Evaluate Tab is available ... open that one ... else open Furthest Tab.

[2021-04-28 02:37] JakeRadMSFT commented on #1390
Related #1389

@beccamc @zewditu are we re-calling into Prose on re-load?

[2021-04-28 02:43] JakeRadMSFT commented on #1417
I believe this is fixed on Main

[2021-04-28 02:45] JakeRadMSFT commented on #1421
We have an updated version of Model Builder coming out soon that works with 10.1.

Would you be interested in trying the preview build?

[2021-04-28 02:46] #1297 closed

[2021-04-28 06:11] vzhuqin opened #1422 "Prompt error dialog "Error loading mbconfig file: object reference not set to an instance of an object." when adding model builder."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/jakerad/init-and-spinners/atom.xml

**Describe the bug**
Prompt error dialog with message: Error lo

[2021-04-28 06:43] mikeydoo commented on #1421
That would be really good thanks Jake

[2021-04-28 07:09] vzhuqin opened #1423 "Model Builder Error: The project file could not be loaded when want to add Web API sample project."
**System Information (please complete the following information):**

- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/jakerad/init-and-spinners/atom.xml

**Data Set:**
https://testpass.blob.core.windows.net/test-pass

[2021-04-28 08:15] vzhuqin commented on #1417
This issue was found on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

- ML.Net Model Builder (Preview): 16.5.21.2122301

And can be repro on build: 16.5.21.2122801 from https://privategallery.blob.core.windows.net/gallery/refs/heads/u/jakerad/init-and-spinners/atom.xml, could you help to take a look?
![image.png](https://images.zenhubusercontent.com/60

[2021-04-28 08:52] vzhuqin commented on #1403
This issue cannot be repro on build: 16.5.21.2122801

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/71e79fe0-c567-4f78-8f2c-f75fd1234eaf)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/913390dd-4390-411b-97ce-52ae62f507a5)

[2021-04-28 10:16] vzhuqin opened #1424 "Model builder error for "Recommendation" scenario and SQL training."
**System Information (please complete the following information):**

- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/u/jakerad/init-and-spinners/atom.xml

**Data Set:**
https://testpass.blob.core.windows.net/test-pass

[2021-04-28 11:50] luronumen commented on #1419
Suggested partial consumption class (e.g.: _TestCaseClassifier.consumption.cs_):

![TestCaseClassifier consumption](https://user-images.githubusercontent.com/8019466/116398608-5f758080-a7fe-11eb-976c-0ae5e7b8475b.png)

[2021-04-28 15:17] beccamc commented on #1345
No problem! Please let us know if you run into any more issues

[2021-04-28 15:21] beccamc commented on #1240
Closing this as dupe of #1424

[2021-04-28 15:21] #1240 closed

[2021-04-28 15:21] beccamc commented on #885
@briacht This is from a year ago, is this still necessary?

[2021-04-28 16:23] beccamc commented on #1084
This is fixed. Screenshots - https://github.com/dotnet/machinelearning-tools/pull/1016#issuecomment-827800977

[2021-04-28 16:23] #1084 closed

[2021-04-28 16:59] zewditu commented on #1330
I think this is fixed by https://github.com/dotnet/machinelearning-tools/pull/1025

[2021-04-28 19:52] LittleLittleCloud commented on #192
This issue is no longer exists. Feel free to close it.

[2021-04-28 19:56] LittleLittleCloud commented on #1414
Hi @Mukund-Iyer

I'm not sure if I'm followed. Do you mean something like multi-label classification?

[2021-04-28 20:37] beccamc commented on #1382
Awesome! Thanks for reaching out, and let me know if you run into any more problems!

[2021-04-28 20:37] #1382 closed

[2021-04-28 21:16] beccamc opened #1425 "[Feature] Generate Notebooks"
Generate a notebook file based on your mbconfig file. This will include training and interpreting the model.

Open question for Notebook generation...
- What should the file path be? Is it a sub-item of the mbconfig file? Or is it independent?

[2021-04-28 21:55] LittleLittleCloud commented on #1340
Sure
To validate this bug is fixed

- Open model builder, select object detection
- pick a dataset and train until it's completed
- Go to consume page, and check if the path format in code snippet is local path instead of url
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/4b673838-611c-43a9-abb4-f907dce8d146)

[2021-04-28 22:50] evo11x commented on #192
sorry for the delay, I missed your questions.
The data is tab delimited with this header

[code]

This is the way ML.Net saves it as CSV/text, and it's very strange that ML itself then cannot process it.

[2021-04-29 05:41] vzhuqin commented on #1398
Fixed by changed test pass: https://github.com/dotnet/machinelearning-tools/blob/main/docs/tests/AdvancedDataTestPass.md

[2021-04-29 06:05] Mukund-Iyer commented on #1414
Yes. I think the OP is asking us to provide solution to a classic multi-output classification problem.

[2021-04-29 07:29] vzhuqin opened #1426 ""Text classification" scenario should not be selected by default after reopened model builder."
**System Information (please complete the following information):**
 - Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122901
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**To Reproduce**
Steps to reproduce the behavior:
1. Create new C# console app with .

[2021-04-29 08:26] vzhuqin opened #1427 "Train page displays abnormally."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122901
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**Data Set:**
https://testpass.blob.core.windows.net/test-pass-data/wikipedia-detox-25

[2021-04-29 10:26] vzhuqin opened #1428 "Localhost page can't be found for WebApi project."
**System Information (please complete the following information):**

- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122901
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**To Reproduce**
Steps to reproduce the behavior:
1. Create new C# console app with .

[2021-04-29 15:24] beccamc commented on #1390
We shouldn't be. I will assign and take a look

[2021-04-29 15:25] beccamc commented on #1427
I think this is a regression introduced by @JakeRadMSFT async work.

[2021-04-29 15:35] beccamc commented on #845
Is anyone still experiencing this issue? Please follow my instructions above to update (docs instructions [here](https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#dev-team-cannot-reproduce-no-constant-repro-on-other-machines))

[2021-04-29 15:40] beccamc commented on #1395
Unfortunately we don't have enough information on this issue. Please try the above suggestions. If you're still seeing a problem, please re-open and provide additional information. Thanks for reporting!

[2021-04-29 15:40] #1395 closed

[2021-04-29 15:41] #1403 closed

[2021-04-29 15:59] briacht commented on #1384
Yes it makes sense to match the project's target fx

[2021-04-29 15:59] JakeRadMSFT commented on #1427
Way to call me out! Yes it is :)

[2021-04-29 17:46] zewditu commented on #1318
@vzhuqin  the dataset from https://zh-file.s3.amazonaws.com/186917455/8b0f33a5-c9f3-44d8-b8c9-394c65784e66?Expires=1619430579&AWSAccessKeyId=AKIAI5X57DET3FHKSALA&Signature=EYkKoziyJThfWRuLdoRqLRJydHA%3D   is not accessible for me, could you help me to access it.

[2021-04-29 17:48] zewditu commented on #1318
@vzhuqin, Never mind , I already have it.

[2021-04-29 19:02] beccamc commented on #1298
Checked in a fix in this PR https://github.com/dotnet/machinelearning-tools/pull/1030.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/b92695d2-58e3-4d10-b0ff-0e8e365dd4b7)

I'm just going to close this, I don't think we need to waste resources re-verifying. Thanks for catching Qin!

[2021-04-29 19:02] #1298 closed

[2021-04-29 19:11] beccamc commented on #1427
That's what I'm here for! 😁

[2021-04-29 19:29] beccamc commented on #1027
It seems like this is solved for those who tried the solution. If anyone else runs into problems, and the above advice doesn't work, please @ mention me for help. Thank you everyone for reporting and helping to resolve this!

[2021-04-29 19:29] #1027 closed

[2021-04-29 20:58] beccamc commented on #1390
Just checked, we aren't calling PROSE on reload. Additionally, on the new build this was much faster.

The save was pretty fast for me. I reopened an mbconfig file, and opened Advanced Data Options....
![fastSave](https://user-images.githubusercontent.com/9122518/116617671-bb75fd00-a903-11eb-9e4a-bba3870cea42.gif)

[2021-04-29 21:19] LittleLittleCloud opened #1429 "Multiple cuda installed shouldn't block GPU training."
We should not block GPU training as long as Cuda 10.1 is enabled as the default version to use even if multiple Cuda versions are founded. To check if Cuda 10.1 is default Cuda, we can validate through two ways:
- `nvcc --version` and check the output cuda version
![image](https://user-images.githubusercontent.com/16876986/116619866-e5282780-a8f5-11eb-9cbe-b4f64c1315ca.png)

- check the path to Cu

[2021-04-30 02:37] vzhuqin commented on #1284
This issue cannot be repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Un-saved:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4b993d56-9f69-4f77-83b1-afbbabc2f848)
T

[2021-04-30 02:58] vzhuqin commented on #1390
this issue not repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122901
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Reopen the Advanced data options dialog and click Save button with some changes, it can close quickly.

[2021-04-30 03:04] vzhuqin commented on #1340
This issue not repro on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/91ab9ef6-5bb9-44be-95d7-8950ad5bc2b3)

[2021-04-30 03:12] vzhuqin commented on #1313
This issue not repro on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/072d093c-734e-4fc1-b091-c4084578abd0)
![image.png](https

[2021-04-30 03:29] vzhuqin commented on #1279
This issue not repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Can add the console app and web api projects successfully.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616c

[2021-04-30 03:32] vzhuqin commented on #928
Can repro on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7d860dae-00a6-4806-a25c-10d343dcc748)

[2021-04-30 03:35] vzhuqin commented on #1329
Reentrancy still occur model builder error on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/4eb6c640-7c2d-4432-af46-6b55740dac

[2021-04-30 03:38] vzhuqin commented on #1326
Have added the model created message on consume page.
Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/79ea4eca-50e5-4660-9355-e

[2021-04-30 06:13] vzhuqin commented on #1321
Repro on Main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d65e1acf-f012-4a03-b4be-8e0b3b7b0e68)

[2021-04-30 06:36] zewditu opened #1430 "Project overwrite autorization should be done before the project generated"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
For Console and WebApi projects the project name authorization window popup after a while.  because the project names are checked after the project generated by the code gen , but we need to check just after

[2021-04-30 06:36] vzhuqin commented on #1318
This issue not repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202
Can run the console app project successfully without error.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616c

[2021-04-30 07:15] vzhuqin commented on #999
Validate this issue on:

- dotnet tool list -g

mlnet 16.5.22

- dotnet --version

5.0.202

Data Set:
https://testpass.blob.core.windows.net/test-pass-data/weather.zip

**Steps:**
1. Download the dataset and copy the image folder: weather-small to folder: C:\999Validation\
2. Run commend:
cd C:\999Validation
mlnet image-classification --dataset C:\999Validation\weather-small --name WeatherPredicti

[2021-04-30 08:41] vzhuqin commented on #749
Validate this issue on:
- dotnet tool list -g
mlnet 16.5.22

- dotnet --version
5.0.202

**Data Set:**
https://testpass.blob.core.windows.net/test-pass-data/taxi-fare.csv

Steps:
If not indicate the file extension in cmd commend, will have error: File does not exist
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/58e502d4-8e9c-4ecf-9571-fe73233af483)

Please help to conf

[2021-04-30 08:57] vzhuqin commented on #1417
Verify this issue on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- ML.Net Model Builder (Preview): 16.5.21.2122903

Step:
Reopen the model builder, navigate to consume page, find the code snippet will not be displayed until 1-2 seconds, could you help to take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a3617664-6

[2021-04-30 09:26] vzhuqin commented on #192
This issue not repro on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.21.2122903
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1. Download the data set from: https://github.com/LetterFirst/DataSet
2. Select Text classification and Local (CPU);
3. Nav

[2021-04-30 15:56] beccamc commented on #1397
Per discussion in design meeting on 4/29, we agreed to remove the behavior that modifies the data preview grid based on user changes. This has perf implications for large datasets.

This is no longer a bug, because we're removing all data grid changes based on column updates.

[2021-04-30 15:58] beccamc commented on #1397
@vzhuqin For visibility on the above. I didn't see the Preview Data Grid updates included in the test plans. Let me know if there is some documentation I should update. Thanks!

[2021-04-30 15:58] #1397 closed

[2021-04-30 16:01] beccamc commented on #1389
Similar to https://github.com/dotnet/machinelearning-modelbuilder/issues/1397. Closing due to change in behavior. We are no longer updating the data preview grid based on ignore/feature columns.

[2021-04-30 16:14] beccamc commented on #1292
I'm going to close this issue. We can validate the new coloring when Zewditu is able to implement the feature. Thanks Qin!

[2021-04-30 16:14] #1292 closed

[2021-04-30 16:53] beccamc commented on #1430
@zewditu Can you add more details to this bug? Now that Qin is helping us out we need to make sure everything is well explained for testing.

[2021-04-30 17:08] beccamc commented on #192
Closing as this issue is fixed. @evo11x Great question! We are tracking supporting that fie format in this issue - https://github.com/dotnet/machinelearning-modelbuilder/issues/946

Thanks for reporting!

[2021-04-30 17:08] #192 closed

[2021-04-30 17:22] beccamc commented on #804
@Ansjosen I tried with tabs, and it worked for me.

![image](https://user-images.githubusercontent.com/9122518/116730777-82469700-a9ae-11eb-869a-2654d4a5f8b5.png)
![image](https://user-images.githubusercontent.com/9122518/116730828-91c5e000-a9ae-11eb-9da8-cfbc9eba9eba.png)

[smallTestDataset.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6407007/smallTestDataset.zip)

Can you up

[2021-04-30 22:04] beccamc commented on #1282
This should get resolved when we re-do the mbconfig file.

[2021-04-30 22:04] #1282 closed

[2021-04-30 22:06] beccamc commented on #1215
Browse button should pop down a line on small screens

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/930a9847-7f27-4dce-b8d7-db60e52a20c2)

[2021-04-30 22:13] JakeRadMSFT commented on #1429
Keeping the current checks to keep things simple

[2021-04-30 22:16] briacht commented on #1428
This is not a bug. There are different ways of testing web apis (e.g. with PowerShell). We will assume that web developers will know how to test this web api and wait for customer feedback if that's not the case (at which point we can offer additional guidance on how to test the web api)

[2021-04-30 22:17] beccamc commented on #811
Update from 4/29:

Given perf improvements, we can show a data preview grid of all items. We will remove the ignored/hidden columns, and not move label columns to the front.

[2021-04-30 22:20] JakeRadMSFT commented on #626
Closing - this seems outdated :)

[2021-04-30 22:20] #626 closed

[2021-04-30 22:24] beccamc commented on #1254
Closing this because we have removed this behavior! https://github.com/dotnet/machinelearning-tools/pull/1035

[2021-04-30 22:24] #1254 closed

[2021-04-30 22:26] beccamc commented on #1061
No customer has reported this. Closing as low priority

[2021-04-30 22:26] #1061 closed

[2021-04-30 22:27] beccamc commented on #1269
This is fixed!

[2021-04-30 22:27] #1269 closed

[2021-04-30 22:41] beccamc opened #1431 "Performant selection picker (Label column, SQL tables, etc.)"
Our combo box is not performant. Users can have +10,000 columns, and it is impossible to open an interact with the drop down. This is a problem for our Label/User/Item columns and for SQL Tables.

@romalpani for design help.

[2021-04-30 22:46] beccamc commented on #1364
https://github.com/dotnet/machinelearning-modelbuilder/issues/1431

[2021-05-01 00:32] efonsecab commented on #1176
This is fixed in the latest versions of Visual Studio

[2021-05-01 00:32] #1176 closed

[2021-05-01 22:07] Ansjosen commented on #804
@beccamc I get the same error using your file. As I mentioned earlier my columns in datapreview are swapped -compared to yours.  Other than that...? Should it do so? Please elaborate. (have you tried other separators your self?  It would probably work on your machine as well, I guess)

I allready tried tabbed, spaced etc. and the preview do parse many the different formats nicely
[EvenOdd.zip](htt

[2021-05-01 22:13] Ansjosen commented on #804
And I'm using Value Prediction Local ML

[2021-05-03 14:55] zewditu commented on #1092
I did not start the investigation yet, but it is already in the backlog.

[2021-05-03 15:18] zewditu commented on #1430
@beccamc Sure!

[2021-05-03 18:58] beccamc commented on #1332
Did this work without the SerlizedObject column?

[2021-05-04 05:53] cigoic opened #1432 "Unable to execute MLNet CLI on Apple Silicon machine"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.2.0
 - Visual Studio Version (if applicable): 2019 for Mac 8.9.8 (build 7)

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem: mlnet get killed by zsh im

[2021-05-04 13:00] GHoltmann opened #1437 "Azure Training issue"
Hi Guys, good job, you made a very clear guideline about object detection and machine learning. I went thorugh the steps you described, but I am stuck at the model training with a resource issue in Azure.  I get a very general error 'Resource {dataName} is in conflicting state.' at the azure execution. To work around the issue, I´ve done some resources recreation and several different tests. still

[2021-05-04 17:05] JakeRadMSFT commented on #1432
Thanks for reporting and for showing interested of mlnet running on apple silicon!

Currently ML.NET framework isn't fully apple silicon compatible. We're working closely with that team and when it's available we'll release a new mlnet cli as well.

Thanks for your feedback!

[2021-05-04 18:49] maxpavlov commented on #738
It is still 100% reproducable. When workspace creation fails in the process, it hangs VS instance too =)

[2021-05-04 21:22] JakeRadMSFT commented on #1432
Related: https://github.com/dotnet/machinelearning/pull/5628

[2021-05-04 21:28] LittleLittleCloud commented on #1384
I don't think it's worthwhile to match generated fx with the selected project. When generating a library or an app, the target with minimum requirement (or largest compatibility) should be selected. For library, the target framework should be .netstandard2.0 (which is targeted by ML.Net). And for console app, it should be .netcoreapp2.1 (the minimum version that supports .netstandard 2.0).

[2021-05-04 21:29] beccamc opened #1433 "Train all models before generated code"
I've trained one model, and have 8 minutes of training left. We've already generated the code files, and have added the .zip file.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/79274e4c-e0a0-49b4-9e33-eed2f8fdffa6)

**Expected Behavior: Code files should be generated once it's "Done" or when user click Stop Training and 1 or more models has been trained.**

[2021-05-04 21:30] JakeRadMSFT commented on #1433
It should happen once it's "Done" or when they click Stop Training and 1 or more models has been trained.

[2021-05-04 21:31] beccamc commented on #1433
Thanks! Will update the bug description to make clear it's a bug.

[2021-05-04 21:33] LittleLittleCloud commented on #1384
And using selected framework target can causes massive amount of bugs. As the selected project can be either .net library or app. It can support or not support .net standard 2.0. And it can have multiple selected framework targets in .csproj as well. There's no guarantee that the target of selected framework can also be used by generated projects unless it's been thoroughly verified. But it's not

[2021-05-04 21:42] romalpani commented on #1384
From a customer's perspective, wouldn't it make sense to generate a project with a target framework that matches their current project?

[2021-05-04 22:42] bobmangamer opened #1434 "Model Building Training Error"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable): 16.9.4

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem: I started training and there was an error

**To Reprodu

[2021-05-04 23:10] LittleLittleCloud commented on #1384
So what will be the definition of "match" their current project? If the target of selected project is `netstandard2.1`, which target will match, .net5.0, .netcoreapp 3.1, or net472? They are both correct answers because they all implements `netstandard2.1`. But which one will be preferred is a personal taste.

[2021-05-04 23:28] romalpani commented on #1384
@LittleLittleCloud not sure I follow your example. When you say "selected project" are you referring to the base project in the customer's solution tree (that they right-clicked on to create the ML model)?

But generally speaking, I think I get your point that it is difficult to define "match" because there could be a one-to-many mapping, and selecting one of those "many" framework options might v

[2021-05-05 00:27] zewditu commented on #1384
@romalpani  if they want to update yes , they can do manually,

[2021-05-05 01:20] JakeRadMSFT commented on #1384
.netcoreapp2.1 isn't going to be supported soon.

I'd go with 3.1 or 5

[2021-05-05 14:26] #1284 closed

[2021-05-05 14:27] #1427 closed

[2021-05-05 14:54] PeanutYC opened #1435 "How to view the output in VS Debug Console?"
**System Information (please complete the following information):**
 - Model Builder or CLI Version: 16.3.0.2056001
 - Visual Studio Version (if applicable): VS 2019 16.9.4

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume
- Clear description of the problem:
I am new to VS and .NET, may I

[2021-05-05 15:03] zewditu opened #1436 "Label column change does not reset everything after Data tab"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. select any of  text scenario.
2.  Select a dataset in data tab.
3. Choose a label column.
4. Complete train .
5.Back to data ta

[2021-05-05 15:04] zewditu commented on #1436
It is  similar to https://github.com/dotnet/machinelearning-modelbuilder/issues/1347

[2021-05-05 15:41] beccamc commented on #1434
@bobmangamer Sorry you've run into this problem, and thanks for reporting! Can you try to upgrade your Model Builder? https://marketplace.visualstudio.com/items?itemName=MLNET.07

[2021-05-05 16:08] briacht commented on #1437
Hi @Gholtmann, thanks for filing this issue!

I've transferred the issue to the Model Builder repo so the team can investigate.

[2021-05-05 17:37] GHoltmann commented on #1437
Thank you @briacht - should you need further info to reproduce the issue, please dont hesitate to let me know.
    El miércoles, 5 de mayo de 2021 13:08:30 ART, Bri Achtman ***@***.***> escribió:

Hi @GHoltmann, thanks for filing this issue!

I've transferred the issue to the Model Builder repo so the team can investigate.

—
You are receiving this because you were mentioned.
Reply to this email d

[2021-05-05 17:37] briacht opened #1438 "Accuracy and model not visible in Evaluate page after training"
I trained a classification model with yelp dataset:

![image](https://user-images.githubusercontent.com/10437687/117184732-e7730180-ad8d-11eb-91b0-ff70b2bed060.png)

Also I'm curious why it took row 2 of the dataset and not row 1?

[2021-05-05 18:05] LittleLittleCloud opened #1439 "Evaluation page: can't parse `?` into unknown when input column type is single"
All columns are single type.
It's hard to say whether it's a bug or should be expected, but it's definitely blocking try-it-out story

![image](https://user-images.githubusercontent.com/16876986/117188376-daf0a800-ad91-11eb-9d31-5b7a104f4bf4.png)

[2021-05-05 18:10] LittleLittleCloud opened #1440 "CodeGen error: sample data in Consoleapp.Program.cs can't handle `NaN` value."
The correct code for `float.NaN` should be `float.NaN` instead of `NaNF`.
![image](https://user-images.githubusercontent.com/16876986/117188885-679b6600-ad92-11eb-9974-8e0f147a2249.png)

[2021-05-05 23:20] briacht opened #1441 "when using .mbconfig with git, train time gets reset"
1. I trained a regression model locally on my machine for 60 seconds and then saved and pushed changes to git
2. @luisquintanilla pulled the changes and opened the mbconfig - in the Train screen, the state of the last training run was saved and all there, but the train time in the textbox was set to 600 - we opened the .mbconfig json and saw the train time was still set to 60
3. Luis added a Web A

[2021-05-06 14:33] apacifico opened #1442 "Regression model impossible to train a model"
**System Information (please complete the following information):**
 - Model Builder Version: 16.5.0.2115505
 - Visual Studio Version : 16.9.4

**Describe the bug**
This happen during the training for a regression model, the system is not able to parse correctly data on columns and throw errors

2021-05-06 16:01:51.7496 DEBUG Parsing failed with an exception: Could not parse value P in line 99, co

[2021-05-06 15:00] apacifico opened #1443 "Regression model , issue with column with null value."
**System Information (please complete the following information):**
 - Model Builder Version: 16.5.0.2115505
 - Visual Studio Version : 16.9.4

**Describe the bug**
We try to train a regression model and the system can't parse a column

Trial 0 encounter error with message: columns cannot be null or empty
Parameter name: columns
Trial 1 encounter error with message: columns cannot be null or empty

[2021-05-06 15:53] briacht commented on #1384
2 options:

Option 1: If the project is an app targeting .NET 3.1 or 5, then generated projects match this version. If app targets .NET Standard, then app will target 3.1

Option 2: When user is choosing name of generated projects in that same dialog they can choose which version to target @romalpani

[2021-05-06 16:51] beccamc opened #1444 "Ocotpus training fails for wrong column type"
**Model Builder Version**: main branch

**Bug description**:

**Steps to Reproduce**
1. Select Value Prediction training
2. In column to predict, select a string value (in taxi dataset, vendor_id)
3. When using AuoMLType Octopus, the dataset reports a failure, but doesn't stop training
4. Even after cancelling, it appears that training is still running (error messages continue to print). See gif b

[2021-05-06 16:51] beccamc commented on #1444
Stack trace:

[2021-05-06 19:14] JakeRadMSFT commented on #1384
Those sound good to me!

[2021-05-06 19:25] JakeRadMSFT commented on #1182
@luisquintanilla Do we have any docs for ONNX export?
@michaelgsharp Can you point us to sample code?

[2021-05-06 19:28] JakeRadMSFT commented on #1144
@ramonsf33 Closing the issue for now but I'm happy to help investigate. Feel free to re-open and include the code you've tried.

[2021-05-06 19:28] #1144 closed

[2021-05-06 19:30] JakeRadMSFT commented on #1180
@shaggygi Sorry about the delay - I've been having difficulties with github notifications. We're you able to resolve this?

I believe following these steps would resolve it:
https://github.com/dotnet/machinelearning-modelbuilder/blob/main/troubleshooting/ModelBuilderTroubleshooting.md#dev-team-cannot-reproduce-no-constant-repro-on-other-machines

[2021-05-06 19:34] luisquintanilla commented on #1182
We do in the API docs, but nothing in docs.microsoft.com. Here's a regression sample @briacht put together.

https://github.com/briacht/Regression-MLNET-ONNX

[2021-05-06 19:36] JakeRadMSFT commented on #1421
@mikeydoo  you can sign up for the preview here:

 https://aka.ms/mb-private-preview

[2021-05-06 19:36] #1421 closed

[2021-05-06 19:57] beccamc commented on #1437
@GHoltmann Sorry you're experiencing this problem, and thanks for reporting.

It sounds like the error is happening after you start training? Can you click on the "Monitor current run in Azure portal" link? If you don't see a link you can navigate there manually by going to https://ml.azure.com/ and navigating to the ML Workspace you are using, and then the Experiments tab.

There should be a more

[2021-05-06 20:07] beccamc commented on #804
@Ansjosen Can you try "Text Classification" instead?

[2021-05-06 20:58] romalpani commented on #1384
@briacht
I like the two options too. Depending on dev-effort, I'd suggest Option 2.

[2021-05-06 20:59] michaelgsharp commented on #1182
@r9guy the easiest way to convert the model builder zip file for now would be to load it as a normal ML.NET model and then use the `MLContext` to convert it to ONNX. There are still some ML.NET transformers that are not exportable to ONNX (though thats on our to do list), but I believe all the most commonly used ones are done.

[code]

[2021-05-06 21:37] beccamc commented on #1424
Note, for validating this the "rating" column needs to be changed to single type. This can be done in the advanced data options dialog (recently added the column options for recommendation into the dialog)

[2021-05-06 21:37] #1374 closed

[2021-05-06 22:16] JakeRadMSFT commented on #1384
We decided on Option 1.

We will consider Option 2 again as we get customer feedback.

[2021-05-07 00:19] JakeRadMSFT commented on #635
I'll be sharing code in #851 and resolving this issue (please come continue the conversation there)

[2021-05-07 00:19] #635 closed

[2021-05-07 00:23] JakeRadMSFT commented on #851
Input/Output Classes
[code]
Consumption Code
[code]

Training Code
[code]

[2021-05-07 00:25] JakeRadMSFT commented on #851
Essentially in the above you create a DataPreProcess pipeline and a TrainingPipeline but only save the TrainingPipeline to disk.

This way you can chose your method of DataPreProcess when you consume the model.

Option A: Load image from disk and pass to model.
Option B: Just pass the byte array to the model.

[2021-05-07 00:25] JakeRadMSFT commented on #851
Hopefully this code helps folks that are blocked! We'll be updating Model Builder to generate models and consumption code to support both methods of prediction.

[2021-05-07 00:26] JakeRadMSFT commented on #635
Please see - https://github.com/dotnet/machinelearning-modelbuilder/issues/851#issuecomment-833967834

[2021-05-07 14:32] beccamc commented on #1442
Thanks for reporting with details @apacifico. The problem here is that we've predicted that the PavedDrive is a boolean, with Y/N values. It turns out this column is actually a categorical string value ("Y", "N" or "P").

You should be on a version that contains an "Advanced data options" experience on the data page. Open that dialog, and change the "Paved Driveway" data type to "string". Thanks!

[2021-05-07 14:33] beccamc commented on #416
We now show a descriptive message like...

`Parsing failed with an exception: Could not parse value P in line 99, column PavedDrive`

[2021-05-07 14:33] #416 closed

[2021-05-07 18:21] beccamc commented on #1443
@apacifico, thanks for reporting this problem. I've tried and cannot reproduce the error. Training succeeds for me.

We may have fixed this bug, or it may be that the system used a different training type for me. Can you try to reproduce the problem, and send me the training log? Log is saved to the %temp% folder, and is available directly from the error dialog.

![image.png](https://images.zenhub

[2021-05-07 18:29] beccamc commented on #910
I've confirmed this works.
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/1af5e5ee-1f70-4f55-aa9b-96a8478817c7)

[2021-05-07 18:29] #910 closed

[2021-05-07 18:41] Ansjosen commented on #804
@beccam That was the first one I tried, and it worked like a charm; still does I reckon'?

[2021-05-07 21:01] GHoltmann commented on #1437
Thank you  Becca, see below. It seems that child task did not even start. Its in spanish, second screen capture 'ejecuciones secundarias' means child tasks, and marked as 'no inicado' (not started)

    El jueves, 6 de mayo de 2021 16:57:23 ART, Becca McHenry ***@***.***> escribió:

@GHoltmann Sorry you're experiencing this problem, and thanks for reporting.

It sounds like the error is happening

[2021-05-07 21:25] apacifico commented on #1443
Hi Becca, I have opened a fresh visual studio and when I train the first time all is going well. But if I return on train action and ask  'Train Again' .
You have this error
start nni training
|     Trainer                             RSquared Absolute-loss Squared-loss RMS-loss  Duration #Iteration      |
Trial 0 encounter error with message: columns cannot be null or empty
Parameter name: column

[2021-05-07 21:40] apacifico commented on #1442
Hi Becca. If I understand well Auto-ML try to guess the content exploring the content and here it guess as a boolean type because it discovered Y an N, does it mean the exploratin doesn't observe the all line in the dataset. In this case it's a categorical column. It means we have to check all the column type identified by Auto-ML, it means it could be a long process if the number of coulumn is bi

[2021-05-07 22:00] apacifico commented on #1442
Auto-ML select automatically the features it will use to build the model. But in case we have a column type error and after the column type is fixed by the user, does Auto-ML re evaluate the feature it will use to build the model?
Inform the user about the type of the feature must be correct before a training I think it's an important point to indicate in the user interface.
Re-evaluate the featur

[2021-05-08 06:21] vzhuqin commented on #1397
@beccamc Yes, because when the content of advanced data options is changed, most data of the Data Preview fields will change accordingly, so filed this issue. Could you help add this changed behavior to AdvancedDataTestPass when you are free?

[2021-05-08 07:36] zewditu commented on #1438
does your data set in row 1 has incomplete values?

[2021-05-08 08:53] vzhuqin opened #1445 "The number of columns in the message under Data Preview should not change."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Data Set:**
https://testpass.blob.core.windows.net/test-pass-data/taxi-fare.csv

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visu

[2021-05-08 09:32] vzhuqin opened #1446 "Code should be generated under updated model builder after renamed the mbconfig."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Core) project templ

[2021-05-09 14:07] Ansjosen commented on #804
Wait, did you mean go ahead with value prediction and  smallTestDataset -BUT use Text classification?

[2021-05-09 16:50] PeanutYC commented on #1435
@beccamc
Recently I tried to run the program again, there's an error produced.

![image](https://user-images.githubusercontent.com/72436355/117580207-75057700-b129-11eb-9d8b-afacd537f0ad.png)

Below is the details of the error shown when I debug at line 20. May I know how should I solve this problem? Thanks!

System.TypeInitializationException
  HResult=0x80131534
  Message=The type initializer fo

[2021-05-09 18:31] phillipmunn commented on #1332
@beccamc yes, excluding the column containing XML data (stored as VARCHAR) within the database solves the issue.

[2021-05-09 20:18] Draghon opened #1447 "Broken Link for "ML.NET Tutorial - Get started in 10 minutes""
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/data
- Clear description of the problem: This part of the tutorial requires you download some sample dat

[2021-05-10 03:32] PeanutYC commented on #1435
After reinstalling VS and rebuilding the solution, I am able to get the desired output already. Thanks for your help!! @beccamc

[2021-05-10 03:32] #1435 closed

[2021-05-10 13:37] PeterSwinkels opened #1448 "Sentiment Labelled Sentences datasets can't be downloaded."
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):
- Clear description of the problem:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-05-10 18:51] beccamc opened #1449 "Create PR to discuss desired consume code"
Dev team will improve consume code. Will create PR to compare current and desired consume code.
-	Don't recreate prediction engine for each call?
-	Get image label options?

[2021-05-10 23:02] beccamc commented on #1437
@GHoltmann I think you included a screenshot, but I am not able to see it.  Can you open the issue and upload directly?

[2021-05-10 23:15] beccamc commented on #1442
On the data page we process your data, and that includes predicting what the data looks like.  Using 200 rows of your dataset we predict the data type of the all columns (we also predict if the dataset has a header, and for text datasets what the column delimiter is). This happens before training, and is independent of training.  Yes you may need to look over the data to ensure it is correct, alth

[2021-05-10 23:26] beccamc commented on #804
@Ansjosen I'm confused. Were you able to train successfully using "Text classification"?

The problem you are trying to solve isn't really value prediction. Value prediction is more appropriate for something like predicting a price. In your dataset you are trying to predict if something is even or odd. I can see why it is confusing, you are predicting a value. But even though it's a number, the re

[2021-05-10 23:36] GHoltmann commented on #1437
HI @beccamc I uploaded the two screen captures below are you able to see them now?

![image](https://user-images.githubusercontent.com/83649292/117737003-4510af00-b1cf-11eb-93fc-17e7611c2e31.png)

![image](https://user-images.githubusercontent.com/83649292/117737055-683b5e80-b1cf-11eb-9428-2fd922af3fd6.png)

[2021-05-11 05:29] apacifico commented on #1442
Yes Becca this address my question , yes doing this will enforce the process.
This means to evaluate the column that AutoML selects to build the model,
1) The column type  must be checked before
2) In case the user change the column type, AutoML must re-evaluate the column used for the model.
3) inform the user it's important to have checked the good type of the column because based on the logic i

[2021-05-11 07:12] vzhuqin commented on #1400
This issue not repro on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

[2021-05-11 07:17] vzhuqin commented on #1401
This issue not repro on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

[2021-05-11 07:36] vzhuqin commented on #913
This issue not repro on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Now only Image Classification and Object detection scenarios have "Train in Azure" on Next steps page.

Object detection:
![image.

[2021-05-11 07:48] vzhuqin opened #1450 "Data should not be lost even if switch between File and SQL Server type."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Main branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project

[2021-05-11 08:07] vzhuqin opened #1451 "Time to train is not matched with .mbconfig file after reopen."
**System Information (please complete the following information):**
 - Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

**Main branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**Date Set:**
https://testpass.blob.core.windows.net/test-pass-data/wikipedia-de

[2021-05-11 09:09] vzhuqin commented on #1417
The code snippet needs to wait 2-3s to appear after reopen , could you help to take a look again?
Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202
![wait 2-3s.gif](https://images.zenhubusercontent.com/606

[2021-05-11 13:06] PeterSwinkels opened #1452 "Confusing message at the end of the step "Generate code""
At the end of the step "Generate Code" I end up in the "Next Steps" tab in Visual Studio, I can choose to deploy model or to improve it. In both cases I get directed to a website. For the first option a webpage about how to deploy the sentiment predictor is opened regardless of the scenario. If I try to close the tab I get a dialog asking me whether I want to cancel my Model Builder session. Since

[2021-05-11 16:08] beccamc commented on #1452
@briacht please take a look at the above feedback. Thanks!

[2021-05-11 16:30] briacht commented on #1452
Hey @PeterSwinkels thanks for the feedback!

We actually have made some updates around these issues in our Preview release which you can sign up for here and get instructions on how to download: https://forms.office.com/r/A6yfGTSV2W

Would love to get your feedback on our changes here and see if this helps address the issues you brought up.

We will also look into updating our code comments to mak

[2021-05-11 20:55] beccamc opened #1453 "Helpful error messages on data page"
- [ ] Show error in data preview when file information cannot be loaded (or reloaded)
- [ ] Warn users if their predicted label is of the wrong type (e.g. if doing "value prediction" it should be a single)

[2021-05-11 23:12] DaniloOPAvanade opened #1454 "Provided label column 'Column4' was of type String, but only type Single is allowed."
em Microsoft.ML.AutoML.UserInputValidationUtil.ValidateTrainDataColumn(IDataView trainData, String columnName, String columnPurpose, IEnumerable`1 allowedTypes)
   em Microsoft.ML.AutoML.UserInputValidationUtil.ValidateColumnInformation(IDataView trainData, ColumnInformation columnInformation, TaskKind task)
   em Microsoft.ML.AutoML.ExperimentBase`2.ExecuteCrossValSummary(IDataView[] trainDataset

[2021-05-12 12:50] PeterSwinkels commented on #1452
Hello and thank you for the quick reply.

I created another test project and I will rephrase my earlier statement about the comments, they aren't so much unhelpful as rather sparse in the information they provided. For example:

// This file was auto-generated by ML.NET Model Builder.

The above is an overly generic statement. I believe the comment should include information as to what purpose the

[2021-05-12 15:49] beccamc commented on #1454
Hi @DaniloOPAvanade sorry you ran into this issue and thanks for reporting. We've found two reasons why customers hit this...

1. Are you trying to do value prediction on a string? If you chose "Value Prediction" (regression) as the scenario, the Label to predict must be of type Single.  If the Column4 is a number check it's Data Type on the Data Tab -> Advanced Data Options window. If you can sha

[2021-05-12 15:52] beccamc commented on #1442
I agree with you @apacifico. Thanks for the feedback!

[2021-05-12 15:52] beccamc commented on #1453
https://github.com/dotnet/machinelearning-modelbuilder/issues/1442

[2021-05-12 15:54] beccamc commented on #1447
It looks like the site is back up. Thanks for reporting this and let me know if you run into any other problems!

[2021-05-12 15:54] #1447 closed

[2021-05-12 15:55] beccamc commented on #1448
It looks like the site is back up. Thanks for reporting this and let me know if you run into any other problems!

[2021-05-12 15:55] #1448 closed

[2021-05-12 15:56] beccamc commented on #1434
@bobmangamer Any luck upgrading?

[2021-05-12 17:35] beccamc commented on #1332
Great! Is that an acceptable solution?

[2021-05-12 18:39] bcramer48 opened #1455 "ML.NET_Tutorial_Solution Explorer and select Add > Machine Learning(Missing)"
****System** Information (please complete the following information):**
 - Model Builder or CLI Version: Version
 - Visual Studio Version (if applicable):2019- 16.9.5

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL):ist pg.
- Clear description of the problem:Solution Explorer and select Add > Machine Learning(Missing)

**To Reproduce**
Steps to reproduce the be

[2021-05-13 07:13] Ansjosen commented on #804
@beccamc Yes, a little confusing; maybe if I knew more and had been more clear on "I tried to run the Value predicter?" But then I would have missed our conversation -and you wouldn't have wasted your time. Sorry for that, but thanks for all yor help and not quitting on me.

ITS WORKING :-)

I tried the text classification and it works on the odd/even-data. I'm feeding one number after another and

[2021-05-13 11:44] phillipmunn commented on #1332
Yes thanks.

[2021-05-13 11:44] #1332 closed

[2021-05-13 16:32] beccamc commented on #1455
@bcramer48 Sorry you ran into this problem and thanks for reporting. Can you check if the Model Builder Preview is enabled?

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/83022219-7814-4f3d-8d6a-1c62ee41b739)

If it is, can you check if the extension is installed via the extension manager in VS? (Extensions -> Manage Extensions -> Installed)

![image.png](https://image

[2021-05-13 18:01] beccamc commented on #804
@Ansjosen, no worries! I'm happy to help.

What's missing from the code is calling `ConsumeModel.Predict(mi); `

Can you go to the "Consume" tab and click "Add to solution." That will add a sample console project to your app. You should be able to see a sample in the ConsoleApp's Program.cs.

Let me know if you have questions.

[2021-05-13 20:25] Claytonious commented on #1001
I had this error, too. Removing the ML.NET Model Builder GPU preview extension solved it for me.

[2021-05-13 20:55] bcramer48 commented on #1455
Hi Becca McHenry
Thank you for your reply.The Build Model (Preview) was not installed, but
it is now. The 'Machine Learning' is still missing.
See bellow
Thank you
[image: image.png]

Am Do., 13. Mai 2021 um 09:33 Uhr schrieb Becca McHenry <
***@***.***>:

[2021-05-13 22:29] beccamc commented on #1441
I suspect that we're use the calculated value instead of the value from the training config. We should use the training config value. When the training time value is 0 (like on first initialize) then we should run the calculation.

[2021-05-13 22:31] beccamc commented on #1433
The code files should generate after the **last** model finishes training (when training is done).

[2021-05-13 22:33] beccamc commented on #1438
I think the first row is

The problem might be with a header/no header? We might assume it has a header, and this dataset doesn't.

[2021-05-14 05:34] Ansjosen commented on #804
Thank you! :-)
I'm not sure of the "Consume" - "Add to solution" -so I'm missing that.  I added the code above and added the prediction

          static void Main()
        {
            Console.WriteLine("Hello World!");
            ModelInput mi = new ModelInput();
            mi.Col0 = 3;
            ConsumeModel.Predict(mi);    //@beccam
            Console.WriteLine(ConsumeModel.Predict(mi).

[2021-05-14 09:39] vzhuqin commented on #1406
This issue still occurs on Main branch:
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

[2021-05-14 16:39] beccamc commented on #804
@Ansjosen take a look at the myMLAppValuePredML.ConsoleApp Program.cs file. It gives a full sample of predicting from sample data.

[2021-05-14 22:09] beccamc commented on #1451
This is a duplicate https://github.com/dotnet/machinelearning-modelbuilder/issues/1441

[2021-05-14 22:09] #1451 closed

[2021-05-14 22:30] JakeRadMSFT commented on #1306
@codeclash I'm investigating adding this feature. I'd love to learn more about how you're using the logging.

[2021-05-16 22:38] Ansjosen commented on #804
@beccam I dont think text-classification predicts the value 0/1 that well, not that it was expected regarding the image:
![billede](https://user-images.githubusercontent.com/60141538/118413726-0bddb080-b6a1-11eb-9115-b87fa2b7b72a.png)
But perhaps thats whats to be expected? What would be a suitable (minimum requirement of columns/fields) dataset for predicting a price?

I adjusted the code you kin

[2021-05-17 02:37] vzhuqin commented on #1443
Not repro this issue on main branch: https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.4
- .Net: 5.0.202

Steps:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Core) project t

[2021-05-17 10:03] vzhuqin opened #1456 "Rentrancy fail after clone a repository to different virtual machine."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801(main)
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

**To Reproduce**
Steps to reproduce the behavior:
1. Trained model complete;
2. Save all files;
3. Click "Create a Git repository…" from "Git";
4. Sign in my GitHub accoun

[2021-05-17 17:35] zewditu opened #1457 "Acceseblity issues regressed in Tab Stebs"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. _List the minimal steps required to reproduce the bug._
2. _Thanks for reporting!_

**Expected Experience**
![image.png](https:

[2021-05-17 19:55] zewditu commented on #1419
@Brichat, do we have a specific template for the predict method?

[2021-05-17 20:35] beccamc commented on #1455
@bcramer48 Thanks for the response. Unfortunately I can't see the screenshot. Can you open the issue and upload directly? Thanks!

[2021-05-17 21:27] zewditu opened #1458 "Use Azure dataset in Model Builder."
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Support Azure dataset in Model Bilder **
## Spec:
 https://microsoft-my.sharepoint.com/:w:/p/brachtma/EfGt8gSuW5RLmPvvUd6liDwB6M5M1iqSgukbQrv06ZBe5g?e=3J0Fx5

## Design:
https://www.figma.com/file/MjTyfHo3aeRQkiiiuBRVQK/Scenar

[2021-05-17 21:31] bcramer48 commented on #1455
Hi Becca, as per your request,
![image](https://user-images.githubusercontent.com/25613951/118559149-623c0500-b71c-11eb-888b-b51aeda3a21f.png)

[2021-05-18 02:31] vzhuqin opened #1459 "Object detection model builder can't be pushed successfully to git repository."
**System Information (please complete the following information):**
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

**Main Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**Data Set:**
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/

[2021-05-18 03:03] vzhuqin opened #1460 "Run WebAPI project fail: 500 internal server error in power shell."
**System Information (please complete the following information):**
 - Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

**Main Branch:**
https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml

**Data Set:**
Value:
https://testpass.blob.core.windows.net/test-pass-data/taxi-

[2021-05-18 07:57] vzhuqin commented on #1330
The change has been realized on main branch:
ML.Net Model Builder (Preview): 16.5.24.2125801
Sample Project: Warning dialog for name collision should say "Microsoft Visual Studio."--realized.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/853393bb-1cef-4c64-8b97-30f855ed948b)

[2021-05-18 08:11] vzhuqin commented on #1430
Can repro this issue on main branch, could you help to take a look?
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

The spinner displayed for 2s, then the overwrite window popup and the spinner continue displaying for about 5s.
![overwrite window2.gif](https://images.zenhubusercontent.com/606

[2021-05-18 08:35] vzhuqin commented on #1093
This issue not occurs on main branch:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

Now if the data fails to load, no spinner shows on Data Preview area.
![no spinner after fail load.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9c77753a-bc10-4c16-8002-93597e8b8b2d)

[2021-05-18 08:47] vzhuqin commented on #1215
This issue not occurs on main branch, the "Browse..." button will pop to the next line if the screen becomes smaller.
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

![Browse button.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/345487c2-e252-4960-80b9-735829605d5e)

[2021-05-18 09:02] vzhuqin commented on #1329
Verify this issue on main branch:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202

Re-opened model builder, closed the prompted error window, the train state was saved.
![RentrancyObjectDetection.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/43f00516-75d7-45f5-ad1d-07bb4f6

[2021-05-18 09:22] vzhuqin commented on #1287
Tracking "Model Builder Error" on: Model Builder error occurs on the process of model builder for Azure. #1406
Tracking "code snippet lost" on: The code snippet on Consume page should not lost after added to solution and re-opened. #1417

No other rentrancy issue on main branch:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterp

[2021-05-18 09:25] vzhuqin commented on #1314
for the third point, no add color to the code snippet on main branch:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b88b9cc5-a27c-4016-bdea-58fdf29eb049)

[2021-05-18 09:40] vzhuqin commented on #1384
Verify this issue on main branch:
- Windows 10 Enterprise, Version 20H2
- ML.Net Model Builder (Preview): 16.5.24.2125801
- Microsoft Visual Studio Enterprise 2019: 16.9.5
- .Net: 5.0.202
find the Console app project is still .NET Core 3.1, could you help to take a look?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a571e6e9-10a9-41bc-9388-83875eb4b994)

The Web API pr

[2021-05-18 18:45] beccamc opened #1461 "Predict Even/Odd Model"
Context for first part of conversation #804

I dont think text-classification predicts the value 0/1 that well, not that it was expected regarding the image:
![image](https://user-images.githubusercontent.com/9122518/118712284-3a18d880-b7e6-11eb-955c-0f784f35c465.png)

But perhaps thats whats to be expected? What would be a suitable (minimum requirement of columns/fields) dataset for predicting a

[2021-05-18 18:46] beccamc commented on #1461
Context for first part of this conversation is in issue https://github.com/dotnet/machinelearning-modelbuilder/issues/804

[2021-05-18 19:57] beccamc commented on #1461
@Ansjosen I wouldn't expect machine learning to do well with this problem. It's difficult to break this down into weighted features calculating an expected answer. Although easy for people, this is a more abstract problem (less clear than a correlation like _Age_ -> _Height_).  This [doc](https://www.iopenscience.com/2020/07/ml-101-linear-models-for-multiclass.html) is on multiclass classification

[2021-05-18 19:58] beccamc commented on #804
@Ansjosen I think we should take this problem into a new issue. Please take a look at https://github.com/dotnet/machinelearning-modelbuilder/issues/1461 for my response.

[2021-05-18 20:41] beccamc commented on #1443
It looks like this is fixed on our new build. It should be released in the next week or so. We can circle back and confirm the problem is fixed then. Thanks!

[2021-05-18 20:47] arafattehsin opened #1462 "Object Detection bounding box is still the same"
Hi Team!

Around 3 weeks ago, I opened up an [issue](https://github.com/dotnet/machinelearning/issues/5772#issue-869558693) regarding the bounding box coordinates. I trained my model yesterday using the latest [Model Builder Preview build](https://privategallery.blob.core.windows.net/gallery/refs/heads/main/atom.xml) but I can see that the coordinates are the same as defined in that issue.

I'd de

[2021-05-18 20:49] beccamc commented on #1437
@GHoltmann Sorry for the delay. I've looked around and have no idea what is causing this. Would you mind taking a look at the resources this run is trying to use?

You can find the summary on the Environment page.

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/827d152b-747f-4d88-8202-897c3502a63d)

Specifically, is there only one Compute with your chosen name? Does the

[2021-05-18 20:52] beccamc commented on #1434
Closing this due to inactivity. If upgrading doesn't fix the issue please ping me and re-open. Thanks!

[2021-05-18 20:52] #1434 closed

[2021-05-19 07:12] apacifico commented on #1443
Hello, I have access from visual studio to the preview : 16.5.02115505 of ML Builder, I see in your short video the version you are using is not the same. I confirm the first time the training is ok but I try retrain the issue I had last time is remaining with the same error.

![image](https://user-images.githubusercontent.com/824095/118770897-2622b480-b882-11eb-9a6b-0948c724512c.png)

![image](ht

[2021-05-19 07:12] #1443 closed

[2021-05-19 13:26] Marios7 commented on #851
Can you please explain more how  the actuall predicting with bytes is happening? in other words, how the model will understand the bytes passed as featured? beacause and there is non ImageSource attribute? it won't give errors?

[2021-05-19 14:21] GHoltmann commented on #1437
@beccamc thank you Becca, please see below the screen capture. It draws my attention that resource id has two hyphens instead of having a name.

![image](https://user-images.githubusercontent.com/83649292/118828874-098f7800-b894-11eb-8f36-c40896e0575f.png)

[2021-05-19 16:02] Ansjosen commented on #1461
@beccamc  it is like you say, it is just a demo, which I thought would be really easy to predict based on the low level of human-abstraction. And thank you for the links -I see a lot of reading ahead... The text-classification worked nicely on the restaturant-evaluation sample and I assumed the same would be the case with even/odd data and Value-prediction (not text classification). On the long ru

[2021-05-19 16:02] Ansjosen commented on #1461
Having read your doc link, (the guy with similar misconceptions) I'd like to try the binary approach. Should it be value prediction or text classification? And can I just keep two tabbed columns like this in the file:

000	0
001	1
010	0
011	1
100	0
101	1
... etc...

[2021-05-19 16:17] #1450 closed

[2021-05-19 16:17] beccamc commented on #1450
@vzhuqin I see why this is confusing, however this is by design. We're considering changing the data source to be the same as "going back" in the wizard (similar to losing your progress if you change environment or scenario). For now, it is expected behavior that going from File -> SQL -> File will reset progress.

Let me know if you have questions!

[2021-05-19 16:18] beccamc commented on #1407
This is fixed!

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/c46460d0-9f60-46d4-8667-4bec6dbf49ca)

[2021-05-19 16:42] #1406 closed

[2021-05-19 16:42] beccamc commented on #1406
This seems to be a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/1412. The problem is if one of your VS identities isn't valid for Azure, we throw an exception. The stack trace here is the same as 1412.

Closing this as a duplicate.

[2021-05-19 16:53] JakeRadMSFT commented on #1455
Hello!
What type of project are you right clicking on?

[2021-05-19 17:06] bcramer48 commented on #1455
I am starting the tutorial on "ML.NET Tutorial - Get started in 10 minutes" :Project  myMLApp.

[2021-05-19 17:15] bcramer48 commented on #1455
![image](https://user-images.githubusercontent.com/25613951/118855857-21163300-b88b-11eb-8a38-43b8d9c6c870.png)

[2021-05-19 17:19] JakeRadMSFT commented on #1455
It isn't supported for VB projects at this time! We will consider adding it for VB in the future - we haven't investigated what it would take to support VB projects.

[2021-05-19 18:02] LittleLittleCloud commented on #1462
Sorry for the delay. I'll help you on this, let's continue on original thread though

[2021-05-19 18:25] JakeRadMSFT commented on #1455
Resolving for now! But feel free to re-open if you hit anymore issues adding to projects! We already have an issue tracking VB here:

https://github.com/dotnet/machinelearning-modelbuilder/issues/34

[2021-05-19 18:25] #1455 closed

[2021-05-19 19:12] beccamc opened #1463 "Wrong log file opened from error dialog"
Log file is empty, even though I've done training

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/d211dce2-063c-4cfa-999d-a3e88ed118d7)

[2021-05-19 21:04] bcramer48 commented on #1455
Hi, thank for your reply.  Just for my understanding. You mean that VB ist not supported by Git-Hub assistance? In ML.NET I  clicked "I run into an issue", clicking it I get "Report an Issue"., which took me to Git-Hub:  " dotnet /machinelearning-modelbuilder ".
Question: Do you have idea where I can get assistance?
Thank you

[2021-05-19 21:20] beccamc commented on #1430
Yes this is correct! The issue was a spinner on the page (next to the "Add" button). I will close, thanks!

[2021-05-19 21:20] #1430 closed

[2021-05-20 00:45] LittleLittleCloud commented on #1444
After a close look at, the cancellation token actually works in Octopus, it's just there's too many outputs so it takes a while until the training process is canceled. And after it's canceled, there's no new log to the output except those old ones. But there are too many so the logging process will still go a long time until all logs being printed. However, in release mode, where there's much fewe

[2021-05-20 02:19] vzhuqin commented on #1407
Thanks @beccamc , could you help to confirm whether "the workspace information was reset after reopen model builder" is expected?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/43289e0c-2d92-49c6-ac3e-cd42bfac022a)

[2021-05-20 03:11] vzhuqin commented on #1327
The image classification mbconfig file format has been changed on ML.Net Model Builder (Preview): 16.5.25.2126901

Local Image Classification:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/751b347e-3998-48d9-bfea-7ebacb5dc8a6)
Azure Image Classification:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9d0fadbf-d32b-45ab-be6d-b770da170ec1)

[2021-05-20 03:15] vzhuqin commented on #1328
The Object detection .mbconfig file format has been changed on ML.Net Model Builder (Preview): 16.5.25.2126901
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/27e26526-be58-4691-bd28-67ff024914ff)

[2021-05-20 04:56] #1462 closed

[2021-05-20 06:13] zewditu opened #1464 "change dataset from has header= yes to has header = No does not reset column to predict and wrong data preview"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. select any text scenario
2. use a dataset with a header
3. pass all steps and make sure that all tabs enabled
4. back to data t

[2021-05-20 06:17] zewditu commented on #1464
Data preview also does not preview  properly , when we chnge from has haeder yes  to has header no the row it has been header does not shown in preview

Note : the reverse has also the same issues.

[2021-05-20 06:33] zewditu commented on #1464
This issue seems the same family to  https://github.com/dotnet/machinelearning-modelbuilder/issues/1436 &
https://github.com/dotnet/machinelearning-modelbuilder/issues/1347

[2021-05-20 16:46] beccamc opened #1465 "Section 508 502.3.1: (devenv/text ' ') The Name property must not contain only space characters."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** text ' '

**Issue Details:** The Name property must not contain only space characters. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** Provide a UI Automation Name property that concisely identifies the element.

![image](https://user-images

[2021-05-20 16:47] beccamc commented on #1465
Text training, before starting anything

[2021-05-20 16:56] beccamc opened #1466 "[Text Evaluate] (devenv/text '') An onscreen element must not have a null BoundingRectangle property."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** text ''

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** If the element is offscreen, set its IsOffscreen property to TRUE.
If the element is onscreen, p

[2021-05-20 16:57] beccamc commented on #1466
Test classification -> evaluate page BEFORE clicking the evaluate button.

[2021-05-20 17:10] beccamc opened #1467 "ADO (devenv/pane '') An onscreen element must not have a null BoundingRectangle property."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** pane ''

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** If the element is offscreen, set its IsOffscreen property to TRUE.
If the element is onscreen, p

[2021-05-20 17:11] beccamc commented on #1467
In Advanced Data Options, search and have no results in the column options

[2021-05-20 17:34] beccamc commented on #1466
No problem with Recommendation evaluate, so it's in the classification block

[2021-05-20 18:33] LittleLittleCloud commented on #1405
Hi @vzhuqin
It looks like a build error, can you try with a sanitized name, like "SampleClassification_ConsoleApp" instead of "SampleClassification.ConsoleApp"? (replacing '.' with '_' so it follow C# syntax)

[2021-05-20 18:34] LittleLittleCloud commented on #1405
It looks like a build error, can you try with a sanitized name, like "SampleClassification_ConsoleApp" instead of "SampleClassification.ConsoleApp"? (replacing '.' with '_' so it follow C# syntax)

I'll create another issue for this error. The class name should be sanitized in code generator

[2021-05-20 18:35] LittleLittleCloud commented on #1418
#1405

[2021-05-20 18:39] beccamc opened #1468 "[Recommendation - Evaluate] Section 508 502.3.1: (devenv/text '') An onscreen element must not have a null BoundingRectangle property."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** text ''

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** If the element is offscreen, set its IsOffscreen property to TRUE.
If the element is onscreen, p

[2021-05-20 18:40] beccamc commented on #1468
Text, recommendation training, go to evaluate page and predict. Problem is with the graph showing other recommendations

![image](https://user-images.githubusercontent.com/9122518/119031685-facac300-b970-11eb-8f81-434b62e0a21d.png)

[2021-05-20 18:43] beccamc opened #1469 "[Azure Env - New Workspace] - The Name property of a focusable element must not be null."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** edit ''

**Issue Details:** The Name property of a focusable element must not be null. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** Provide a UI Automation Name property that concisely identifies the element.

![image](https://user-images

[2021-05-20 18:45] beccamc opened #1470 "[Azure Env - New Compute] The Name property of a focusable element must not be null."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** edit ''

**Issue Details:** The Name property of a focusable element must not be null. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** Provide a UI Automation Name property that concisely identifies the element.

![image](https://user-images

[2021-05-20 18:46] beccamc commented on #1470
Environment -> Azure -> New Compute

[2021-05-20 18:48] beccamc opened #1471 "[Image -> Data] An onscreen element must not have a null BoundingRectangle property."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** pane ''

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** If the element is offscreen, set its IsOffscreen property to TRUE.
If the element is onscreen, p

[2021-05-20 18:49] beccamc commented on #1471
Image Classification -> Data tab, before you select a dataset

[2021-05-20 18:57] beccamc opened #1472 "[OD - Data page] (list view '') The BoundingRectangle property must represent an area of at least 25 pixels."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** list view ''

**Issue Details:** The BoundingRectangle property must represent an area of at least 25 pixels. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** Modify the BoundingRectangle property so that its width and height define an area o

[2021-05-20 18:57] beccamc commented on #1472
Object detection, data page, no data selected yet

[2021-05-20 18:59] beccamc commented on #1472
Also has a problem when the data is selected

![image](https://user-images.githubusercontent.com/9122518/119034056-965d3300-b973-11eb-9fc8-f3d31d65bc5c.png)

[2021-05-20 19:02] beccamc opened #1473 "[Image Evaluate] (devenv/text '') An onscreen element must not have a null BoundingRectangle property."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** text ''

**Issue Details:** An onscreen element must not have a null BoundingRectangle property. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** If the element is offscreen, set its IsOffscreen property to TRUE.
If the element is onscreen, p

[2021-05-20 19:03] beccamc commented on #1473
Image, evaluate, before selecting data. Similar to #1466, but I'm pretty sure they're using different UI controls

[2021-05-20 19:09] beccamc opened #1474 "[OD - Evaluate] (devenv/edit '') The Name property of a focusable element must not be null."
The following accessibility issue needs investigation.

**App:** devenv

**Element path:** edit ''

**Issue Details:** The Name property of a focusable element must not be null. [Section 508 502.3.1](https://www.access-board.gov/ict/#502-interoperability-assistive-technology)

**How To Fix:** Provide a UI Automation Name property that concisely identifies the element.

![image](https://user-images

[2021-05-20 19:09] beccamc commented on #1474
Object detection, evaluate page with something predicted.

[2021-05-20 19:53] beccamc commented on #1469
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/54627b7d-e26b-496b-9bac-cf4c8829b334)

[2021-05-20 19:53] beccamc commented on #1470
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/ef310197-b356-44f4-9233-11203da3107d)

[2021-05-20 20:54] beccamc commented on #1472
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/25359bb8-3cc9-47a8-9a21-e13785585c0f)

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/97535e76-461f-478a-8f0f-7b3e29c69278)

[2021-05-20 21:24] beccamc commented on #1467
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/bebbc8b0-2f33-42ba-a631-f9df3bc67403)

[2021-05-20 22:03] beccamc commented on #1471
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/84b75d55-f93d-422b-8def-12d89da3b146)

[2021-05-20 22:05] beccamc commented on #1466
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/cf96c7fa-4a08-404a-a91f-bf6010923bc9)

[2021-05-20 22:05] zewditu commented on #1433
@beccamc ,@JakeRadMSFT  @briacht   when we display the label for code behind ?

![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/9d13da26-77e7-45ce-88b8-03714a68c917)

currently, we displayed all training results at the same time.

[2021-05-20 22:08] beccamc commented on #1473
Actually, this is a duplicate of https://github.com/dotnet/machinelearning-modelbuilder/issues/1466

[2021-05-20 22:08] #1473 closed

[2021-05-20 22:19] beccamc commented on #1474
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/60f4bc8a-4e01-4a0b-9902-63c148e3ff57)

[2021-05-20 23:04] beccamc commented on #1468
![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/9ee83068-ab00-4d26-b6e2-71b7b6774da8)

[2021-05-21 01:56] vzhuqin commented on #1405
Hi @LittleLittleCloud, I tired on mlnet version: 16.5.25, still occurs error as below screenshot, could you help to take a look?

**Steps:**
1. Run Commend: mlnet classification --dataset "yelp_labelled.txt" --label-col 1 --has-header false --train-time 10 --name SampleClassification0521
2. Rename to "SampleClassification0521ConsoleApp" from "SampleClassification0521.ConsoleApp"
3. Run commend: do

[2021-05-21 03:38] vzhuqin commented on #1286
Verify this issue on main branch: 16.5.25.2127002
1. The Column to predict is not enabled until the data preview is loaded
![1286.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/53027877-4bb8-4333-988f-61b4860358bf)

2. But if change SQL table ,the column to predict is disabled with old column's name instead of text "Select column", @beccamc could you help to confirm if this is

[2021-05-21 05:51] vzhuqin commented on #1407
This issue not occurs on main branch: 16.5.25.2126902
![1407.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2fcfbc50-7854-4034-8f9b-e409315446a5)

[2021-05-21 06:02] vzhuqin commented on #1384
The Target framework for the two projects have been .Net 5.0 on main branch: 16.5.25.2126902
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2c59a601-c6fc-45ed-a483-e93729358e6e)

[2021-05-21 06:42] vzhuqin commented on #1444
This issue not occurs on main branch: 16.5.25.2126901
No error during training.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/96efad05-0266-427f-b93a-830c17721900)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/5a7405fb-0f2b-49af-aa79-9889a606896a)

[2021-05-21 07:01] vzhuqin commented on #1445
This issue not occurs on main branch: 16.5.25.2126902

![1445.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/24064f09-3ab3-401b-bf4e-2980ba7851b3)

[2021-05-21 17:09] #1469 closed

[2021-05-21 17:09] #1466 closed

[2021-05-21 17:09] #1467 closed

[2021-05-21 17:09] #1468 closed

[2021-05-21 17:09] #1470 closed

[2021-05-21 17:09] #1471 closed

[2021-05-21 17:09] #1472 closed

[2021-05-21 17:09] #1474 closed

[2021-05-21 17:13] beccamc commented on #1433
We should display after training is complete.

[2021-05-21 17:17] flokie opened #1475 "Wrong decimal separator in the generated Model.training.cs file"
**System Information (please complete the following information):**
 - Model Builder Version: 16.5.0.2115505
 - Visual Studio Version: 16.10.0 preview 4

**Describe the bug**
- Clear description of the problem: It's using "," as decimal separator -probably because my regional settings?- while generating Model.training.cs file as you can see in the screenshot. Everything works fine after change it

[2021-05-21 19:48] beccamc commented on #669
Another repro! Open "Create new Resource group" and click "Ok without a name"

[2021-05-21 21:06] LittleLittleCloud commented on #1475
Thanks for the feedback.

[2021-05-21 22:12] zewditu commented on #1433
when does the user see generated files added to their project?

[2021-05-23 13:51] Ansjosen commented on #1461
@Beccamc
I tried the binary approach in text classification, prepended with zeroes and without zeroes up to decimal 2000.  (Attached) Unfortunately the prediction is about 50%. In this case binaries is not much of a change compared with decimal values. Switching to value prediction results in the 804-reporting (working as designed, I know)
[Files.zip](https://github.com/dotnet/machinelearning-mode

[2021-05-24 00:49] ailiama commented on #845
Hello Becca,

Yes I am experiencing the same issue (see picture below)

![image](https://user-images.githubusercontent.com/75595846/119282548-0c79c800-bc08-11eb-8489-a1b1b625309f.png)

Dummy Data used

![image](https://user-images.githubusercontent.com/75595846/119282573-21eef200-bc08-11eb-9e25-e16c448c4ef8.png)

Tools used:

Visual Studio 2019 Community - version 16.9.6

[2021-05-24 03:03] vzhuqin commented on #1412
Verify this issue on main branch: 16.5.25.2127102
After clicked Object detection scenario, pop up below Model Builder Error window: Object reference not set to an instance of an object. @beccamc Could you help to take a look whether they are related?
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/26807edb-3611-4806-8f40-d1a4aea1adf4)

[2021-05-24 06:58] vzhuqin commented on #1436
This issue still occurs on main branch: 16.5.25.2127102
Actual result:
All Tabs of the model builder keep enabled even if:
- Change the Environment
- Change the data source
- Change the settings from Advanced data options dialog

[2021-05-24 07:40] Marios7 commented on #851
it worked for me but I couldn't understand this piece of code in the `RetrainPipeline()` function! if the second `fit()` trains the model then what does the first `fit()` do?
[code]
I'm still new to Ml.Net can you please explain this step more?

[2021-05-24 15:09] beccamc commented on #1461
@Ansjosen I would break each binary digit into it's own column. That isolates the final digit for the training to use as a feature.

If you want to use a different dataset, we use this modified [NYC taxi fare dataset](https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/taxi-fare-train.csv). If that isn't suitable I could help you find something on [Kaggle](https://www.kaggle.co

[2021-05-24 16:17] Ansjosen commented on #1461
Thank you beccam. I don't know what to say, but you are very, very helpful.
 ***** for you!
I'll try he breakup and will look into NYC taxis (actually been so lucky to try the old ones and the crown vic).
Thank you again :-)

[2021-05-24 16:40] #1464 closed

[2021-05-24 19:40] beccamc commented on #1412
Nope, this one is unrelated! This is fallout from Jake's changes.

[2021-05-24 19:50] sameer-ali13 opened #1476 ""zsh: command not found: mlnet""
**System Information (please complete the following information):**
 - Model Builder or CLI Version: macOS Big Slur

When I run: mlnet classification --dataset "yelp_labelled.txt" --has-header false --label-col 1 --train-time 20,

the terminal outputs "zsh: command not found: mlnet". I am not sure what to do. I have manually added ~/.dotnet/tools to my PATH as well

[2021-05-24 19:56] beccamc commented on #1154
Here is the build for testing https://devdiv.visualstudio.com/_apis/resources/Containers/7859052/VSSetup.Dev16Insertion?itemPath=VSSetup.Dev16Insertion%2FMicrosoft.ML.ModelBuilder.vsix

[2021-05-24 19:58] beccamc commented on #1154
vzhuqin, you don't need to verify this one. @SaisreeDandamudi from the accessibility team will need to verify and close this. Thanks!

[2021-05-24 20:20] briacht commented on #1477
Hi @burakkizildemir, thanks for reporting this, and sorry you're running into this issue!

I've transferred the issue to the dotnet/machine-modelbuilder repo so that the tooling team can take a look!

[2021-05-24 20:20] JakeRadMSFT commented on #1459
git lfs install
git lfs track "*.zip"
git lfs track "*.onnx"
git add .gitattributes
git commit -m "add git attributes"

git lfs migrate import --include="*.zip" --everything
git lfs migrate import --include="*.onnx" --everything
git push --force

[2021-05-24 20:57] #1465 closed

[2021-05-24 20:59] beccamc commented on #1314
@zewditu Is there a different issue tracking the color of the code snippet?

[2021-05-24 21:00] beccamc commented on #1286
@vzhuqin Good catch. You're right, it should technically clear the name. However, I think this is low enough priority that we can close the issue as fixed.

[2021-05-24 21:00] #1286 closed

[2021-05-24 21:02] beccamc commented on #845
I'm closing this issue. Please update your version to resolve. If that doesn't fix please ping me in this issue. Thanks!

[2021-05-24 21:02] #845 closed

[2021-05-24 21:41] LittleLittleCloud opened #1478 "Dev17 "Add -> machine learning" not working"
Steps to reproduce
- launch model builder on dev 17
- add -> machine learning
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/9f9d3591-058f-495c-ac06-06d842e80794)

After some digging, it appears that in dev17 `SVsFeatureFlags` service can't be found
https://github.com/dotnet/machinelearning-tools/blob/8b6cf2fc4358f765cbf6d935853099efc1424b00/src/Microsoft.ML.ModelBuilde

[2021-05-24 21:42] beccamc commented on #1303
One thing to note about this, how much of the file do we want to scan to find all the possibilities? Right now we read 200 rows, but this might not be enough to find all the options for a drop down.

[2021-05-24 22:00] Ansjosen commented on #1461
beccamc, I'm happy to report that the binary breakup was a succes! I've attached some of the files. I will upload the whole project should any one be interested. Next task must be NYC taxi fare.
[myMLAppValuePred.zip](https://github.com/dotnet/machinelearning-modelbuilder/files/6535194/myMLAppValuePred.zip)

[2021-05-24 22:23] beccamc commented on #1419
Zewditu is blocked on what behavior we want. Jake and Bri, let us know what behavior you want here.

[2021-05-25 01:46] vzhuqin commented on #1412
Thanks for your confirmation, had added that issue on PR#1057 for tracking. This issue has been fixed: no pop up System.Exception error when access azure environment or reentrancy the azure model builder.
![#1412.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/567f2a66-5322-4e0f-a1a5-a424fe13ac53)

[2021-05-25 02:23] vzhuqin commented on #1402
Verified this issue on main branch: 16.5.25.2127102 & 16.5.25.2127401
Reentrancy the SQL model builder, the "Column to Predict (Label)" still lost,  if training completed before reentrancy, the training result comes back after re-selected the column.
@beccamc , could you help to take a look this issue again?
![#1402.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/71dd60bd-3922-4

[2021-05-25 09:03] vzhuqin commented on #1459
Can be pushed successfully via git-lfs.
Download and install from: https://git-lfs.github.com/, then run above command.
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0f7bbf6a-4aea-4c2f-a176-da2648fad700)

[2021-05-25 09:05] vzhuqin commented on #1456
This issue still occurs on main branch:16.5.25.2127102 for all scenarios.

[2021-05-25 10:30] vzhuqin commented on #1230
This issue not occurs on MLNET: 16.2.0.
macOS Catalina version: 10.15.7 (19H524)
![7C50984B-7B1D-4BD3-A7E9-063CAE718A84.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/647aaf5d-5583-4fab-afdb-246c6b2b69c4)

[2021-05-25 20:24] beccamc commented on #1379
@vzhuqin Have you already run testing on the git story? I think you did, and the only bug was https://github.com/dotnet/machinelearning-modelbuilder/issues/1451. Please let me know if that isn't true. Thanks!

[2021-05-26 01:03] vzhuqin commented on #1379
@beccamc , have another git issue: https://github.com/dotnet/machinelearning-modelbuilder/issues/1456

[2021-05-26 01:53] vzhuqin commented on #1009
Cannot repro this issue on:

- MLNET: 16.2.0
- SDK version: 3.1.409
- macOS Catalina version: 10.15.7 (19H524)

Steps:
1. Install the SDK and MLNET according to the macOS tutorial: https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/install
2. Go through to the Train your model steps
3. Run command with some spaces: mlnet classification     --dataset      "yelp_labelled.txt"     --ha

[2021-05-26 16:09] #1379 closed

[2021-05-26 16:10] beccamc commented on #1379
This has been tested and has other issues tracking the problems. Closing.

[2021-05-26 16:29] beccamc commented on #1433
Generated files should be added to the project after training is done.
1. Start training
2. Training finishes
3. "Generated code behind files" label shows & generated code behind files are added to project

[2021-05-26 16:49] beccamc commented on #1408
I'm not seeing the problem anymore

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/2183dad4-00e7-4db9-9ea3-d9fb714099e2)

[2021-05-26 17:16] JakeRadMSFT commented on #1460
@vzhuqin can you try this again without "F" in the values?

[2021-05-26 17:44] LittleLittleCloud commented on #1477
Hi @burakkizildemir
The coordinate of bounding box has been normalized to 800H * 600W so you need to normalize it to fix the size of your image before applying.

https://github.com/dotnet/machinelearning/issues/5772#issue-869558693

[2021-05-26 17:55] LittleLittleCloud commented on #1392
I've tried to reproduce it on latest main but failed... Maybe it's already been fixed by perf improvements PRs.

[2021-05-26 18:18] LittleLittleCloud commented on #1476
#1295

[2021-05-26 18:38] LittleLittleCloud commented on #1476
Hello @sameer-ali13

Can I take a look at your $Path variable. And how do you add `~/.dotnet/tools` to your $Path variable? Is it just for current session or in .zprofile?

[2021-05-26 19:24] sameer-ali13 commented on #1476
Hi! Thank you so much for the resources, attached below is what my $Path variable looks like. I used sudo nano to manually add it in.

<img width="681" alt="Screen Shot 2021-05-26 at 3 22 01 PM" src="https://user-images.githubusercontent.com/65135205/119719160-72e42d80-be36-11eb-8a0d-68c3e890d6a6.png">

[2021-05-26 19:25] sameer-ali13 commented on #1476
Hi! Thank you so much for the resources, attached below is what my $Path variable looks like. I used sudo nano to manually add it in.

<img width="681" alt="Screen Shot 2021-05-26 at 3 22 01 PM" src="https://user-images.githubusercontent.com/65135205/119719160-72e42d80-be36-11eb-8a0d-68c3e890d6a6.png">

[2021-05-26 19:33] LittleLittleCloud commented on #1476
LGTM, can you go check your ~/.dotnet/tools folder and make sure mlnet is there?

[2021-05-26 20:44] beccamc commented on #1009
@bizbizzz We can't reproduce for 16.2.0.  Can you upgrade and let us know if it you still see a problem? Thanks!

[2021-05-26 21:01] beccamc commented on #1157
Here is the build for testing https://devdiv.visualstudio.com/_apis/resources/Containers/7859052/VSSetup.Dev16Insertion?itemPath=VSSetup.Dev16Insertion%2FMicrosoft.ML.ModelBuilder.vsix

[2021-05-26 21:02] beccamc commented on #1157
vzhuqin, you don't need to verify this one. @SaisreeDandamudi from the accessibility team will need to verify and close this. Thanks!

[2021-05-26 21:52] LittleLittleCloud commented on #1463
Hi @beccamc

I'm not able to reproduce this error, Is it possible that you are not looking at the latest log file? Model builder will create a new log file when every time you open a new instance but the output window won't be cleaned. So if you re-open a mbconfig file, its log will be written to a new place.

[2021-05-27 00:26] sameer-ali13 commented on #1476
How would I find this folder? Sorry I am kind of new at this

[2021-05-27 02:38] vzhuqin commented on #1460
Hi @JakeRadMSFT, I tried on Value prediction + File type, find it still occurs on main branch: 16.5.25.2127401

![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/9892b465-5328-4571-a2cb-1988f9e4238b)

[2021-05-27 03:13] vzhuqin commented on #1433
This issue not occurs on main branch: 16.5.25.2127401
![1433.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/b99c5cda-5180-4e60-9e2a-79804be055aa)

[2021-05-27 05:57] vzhuqin commented on #1392
This issue not occurs on main branch: 16.5.25.2127401
![1392.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/95b24676-3ab0-47d6-b91c-4191f200ad5b)

[2021-05-27 06:16] vzhuqin commented on #233
Verified this issue on main branch:
If have training results, then click click "Stop training":
The status changes to "Cancelling...">"Finalizing model...">"Training complete".  @LittleLittleCloud could you help to confirm whether this is the expected experience?
![233.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/ee1c7b64-bb38-4138-9f0d-3c22d81540b7)

[2021-05-27 06:26] vzhuqin commented on #1438
This issue not occurs on main branch: 16.5.25.2127401
Set col1 as Label column, others are default settings:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/0770ceae-b49a-45bb-b378-9c3c127e8d4d)

[2021-05-27 07:21] vzhuqin commented on #1408
Yes, also not occurs on latest main branch: 16.5.25.2127401
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d66a2221-674e-4c48-9cf8-2fee3e113000)

[2021-05-27 09:56] lostmsu commented on #1069
Can't this already be done by exporting Torch model to ONNX?

[2021-05-27 15:19] #1457 closed

[2021-05-27 15:19] beccamc commented on #749
@JakeRadMSFT This hasn't been fixed. Should we close and see if any customers ask for this?

[2021-05-27 15:21] beccamc commented on #1103
@zewditu What is there to validate here? I thought this wasn't working.

[2021-05-27 15:22] beccamc commented on #1360
I don't think any of us can validate this based on the info above. I'm moving this to Release.

[2021-05-27 15:22] beccamc commented on #1356
I don't think any of us can validate this based on the info above. I'm moving this to Release.

[2021-05-27 17:01] sameer-ali13 commented on #1476
Hello, so I realized I was editing the bash rc file while I needed to be editing the zsrch file (which Mac uses now), and so I added this, however it is still not working.
<img width="570" alt="Screen Shot 2021-05-27 at 1 01 13 PM" src="https://user-images.githubusercontent.com/65135205/119867254-b056c280-beeb-11eb-8175-070489fd2d31.png">

[2021-05-27 17:26] zewditu commented on #1460
@vzhuqin thanks ! I will look it

[2021-05-27 19:12] zewditu commented on #1460
The cause of the sisses is the column names in the sample dataset are start with uppercase letters, use the same column name found in the dataset works ,![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/cfe57fb7-f4f2-4e51-86c4-3432b39da6b5)

[2021-05-27 19:18] beccamc commented on #1463
Looked closer, the issue is we are opening the wrong log file from the error window. Below is the log opened from the error window. It's an older file from 12:00

![image.png](https://images.zenhubusercontent.com/5d55c3d68fac840001314eaa/e3db1f95-1a16-41f5-bb61-ce5b2fab8529)

Here is the temp folder. We have a correct log `5f7e `(started at 12:15, last updated at 12:17, the time of the experiment)

[2021-05-27 19:36] zewditu opened #1479 "Column names in sample data in code snippet should'not be diffrent from the dataset column names"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**

**Steps to Reproduce**
1. select  value prediction scenario
2.  Load data
3. Complete training
4. Go to consume page and compare sample data column with dataset columns in the data page preview

**Expected E

[2021-05-27 19:56] beccamc commented on #233
Looking at this more closely, yes I believe this is the correct experience. After training we do a few things to finish training, like generate the code files. That should be what's happening while "Finalizing model" is showing. This is fixed as expected. Thanks Qin!

[2021-05-27 21:13] zewditu opened #1480 "Has header change in advanced data option does not change/reset label column"
**Model Builder Version**: _In which Model Builder version was the bug encountered?_
**Visual Studion Version**: _In which Visual Studio version was the bug encountered?_

**Bug description**
_A clear and concise description of what the bug is._

**Steps to Reproduce**
1. select Value prediction
2. Load Taxi_fari dataset
3. Complete all the tabs
4.  Back to the data page  and got to advanced optio

[2021-05-27 22:01] zewditu commented on #1479
This is not a bug  for a console app.

[2021-05-27 22:33] beccamc opened #1481 "Change the ignore column verbage"
Change the verbiage to "including x columns that are ignored."

[2021-05-27 23:06] beccamc opened #1482 "Resetting training after changing data"
What should the experience be when the user changes something about their dataset _after_ another model has already been trained? There are many legitimate reasons to do this... change which columns are included, add additional data to the dataset, sharing an mbconfig file with a co-worker (file may be located in a different place locally).

Short term:
1. Don't reset on most data changes
2. Show

[2021-05-27 23:09] zewditu commented on #1460
@briacht @romalpani @JakeRadMSFT  any thought on how to tell the webApi user where they found a sample data to evaluate the model?

[2021-05-28 01:13] vzhuqin commented on #233
Thanks confirmation @beccamc

[2021-05-28 03:20] vzhuqin commented on #1460
**Main branch with ML.Net Model Builder (Preview): 16.5.25.2127401:**

Thanks @zewditu, value prediction WebAPI project can be ran by using the same columns name as in the dataset.

But could you help to take a look other two scenarios? I try to run them use the same columns name as in the datasets, but still have 500 internal server error.

- Recommendation (https://testpass.blob.core.windows.net

[2021-05-28 06:24] zewditu commented on #1460
@vzhuqin thanks for testing other scenarios, yes you are correct it fails but  the issues is with datasets having column names that start with uppercase letters when I change the column names  in https://testpass.blob.core.windows.net/test-pass-data/issues.tsv.txt into id, area, title, and description it works
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/59b3930d-a74a

[2021-05-28 07:11] zewditu commented on #1460
## Recommendation
yes it fails

[2021-05-28 07:17] vzhuqin opened #1483 "The dirty status should not be displayed when opening model builder without making any changes."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.25.2127801
- Microsoft Visual Studio Enterprise 2019: 16.10.0
- .Net: 5.0.203

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Core) project t

[2021-05-28 07:55] vzhuqin opened #1484 "It should display the Copy option if right click on the blank area of Code snippet."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.25.2127801
- Microsoft Visual Studio Enterprise 2019: 16.10.0
- .Net: 5.0.203

**Describe the bug**
**_Not sure if this is an issue, please help to confirm._**
The area of Code snippet is similar with .txt file, after selecting the text, should display

[2021-05-28 08:54] vzhuqin commented on #1475
This issue not occurs on main branch: 16.5.25.2127801
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/27fddb84-dd53-494e-8cdf-96405e7299e5)

[2021-05-28 09:48] vzhuqin commented on #1417
@beccamc  @JakeRadMSFT  The code snippet needs to take about 5-10s to display again, could you help to take a look?
![5-10s.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/d343924f-6710-4f2b-b74f-1b366196a8d4)

**Environment:**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.25.2127801
- Microsoft Visual Studio Enterprise 2019: 16.10.0
- .Net: 5.0

[2021-05-28 12:34] TheTeub opened #1485 "Issue at mlnet classification ... step"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:  .NET Core 3.1 SDK (Ubuntu 16.04 LTS) mlnet 16.2.0
 - Visual Studio Version (if applicable):

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/train
- Clear description of the problem: I have done

[2021-05-28 20:01] briacht opened #1486 "Reword "Sample projects" in Consume step"
![image](https://user-images.githubusercontent.com/10437687/120036177-93d28d00-bfb4-11eb-93ba-9b1b82cfb6bf.png)

Let's try "Project templates"

[2021-05-30 05:45] BenjaminCharlton opened #1487 "A model builder for a generative adversarial network (GAN)"
**Is your feature request related to a problem? Please describe.**
No problem, everything's working fine (I love ML .NET!)
It would be a great new feature if the ML .NET model builder had a "Limited Scenario" or (even better) an "Automated ML" to build a Generative Adversarial Network (GAN).

**Describe the solution you'd like**
If you think it's a good idea, add a "Limited Scenario" or (even bett

[2021-05-30 07:28] daniesa commented on #1170
Same here

[2021-05-31 14:30] AzmanMahyuddin opened #1488 "The output did not like expected"
**System Information (please complete the following information):**
 - Model Builder or CLI Version:
 - Visual Studio Version (if applicable): 16.10.0

**Describe the bug**
- On which page of the tutorial did you run into an issue (URL): I ran into an issue in "consume your model" page (https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/consume)
- Clear description of the problem:
-

[2021-05-31 19:03] johnwc commented on #1026
@JakeRadMSFT @briacht @beccamc Any updates on RL? It seems that this is a bit of popular want/need in ML.net. In our scenario, we are looking to use it to control temperature/humidity in a warehouse by controlling fans, monitoring several temperature/humidity devices inside along with outside temperature/humidity.

[2021-06-02 07:45] vzhuqin opened #1489 "It is recommended to add a colon to separate the tag and value of the prediction result."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.24.2125802
- Microsoft Visual Studio Enterprise 2019: 16.9.6
- .Net: 5.0.203

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Core) project te

[2021-06-02 13:01] Karol-Gor opened #1490 "Can't find PredictRecommendationAsync/3 in Microsoft.ML.ModelBuilder.AutoMLEngine"
**System Information:**
 - Model Builder Version: Preview
 - Visual Studio Version: 16.10.0

**Describe the bug**
While trying to predict the rate, there opens a window which says that it can't find a method „PredictRecommendationAsync/3” in Microsoft.ML.ModelBuilder.AutoMLEngine. And although I can go to the Code section, nothing is being added after clicking on add to the project.

![image](http

[2021-06-02 18:24] LittleLittleCloud opened #1491 "MLNet.Cli can't load model when generating project"
![image](https://user-images.githubusercontent.com/16876986/120532948-1385a080-c395-11eb-976b-91ad876bd94f.png)

[2021-06-02 20:26] beccamc commented on #1490
Sorry you ran into this issue. Are you on the most recent version (16.3.0.2056001)? If not, can you upgrade by download the newest version here https://marketplace.visualstudio.com/items?itemName=MLNET.07.

Thanks for reporting!

[2021-06-02 20:29] beccamc commented on #1488
@AzmanMahyuddin sorry you ran into this problem. What happens if you debug and put a breakpoint on line 17? Do you get a result?

[2021-06-02 20:32] beccamc commented on #1487
Thanks for taking the time to make this suggestion! I'm adding our PM and lead @briacht and @JakeRadMSFT

[2021-06-02 22:55] zewditu commented on #1460
@vscuqin,   @LittleLittleCloud  helped me to figure out what is the cause, we need to removed double quotations from a single type column's value, you can confirm column types on the dataset in advanced options in the data tab. We can use the syntax in the code snippet, but remove "F" from single types
![image.png](https://images.zenhubusercontent.com/5d014b8c2b5aa11c6166d13d/8a71e6e5-0a58-4ff5-b1

[2021-06-02 22:58] zewditu commented on #1479
This is not an issues

[2021-06-02 22:58] #1479 closed

[2021-06-02 23:22] beccamc commented on #1437
@GHoltmann - Sorry for the delay again. Feel free to ping me if I don't respond in a few days.

Can you double check the data has uploaded properly?

Check your expected Label file location in Experiments -> _ExperimentName_ -> _FailedRun_ -> See All Properties -> Raw Json
![image](https://user-images.githubusercontent.com/9122518/120563762-fc63a480-c3ce-11eb-855b-a0feb6c304b4.png)

Then go to Dat

[2021-06-03 02:22] vzhuqin commented on #1460
Thanks @zewditu and @LittleLittleCloud , I have tried it, they can be run successfully.
Value prediction:
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/71a6c211-966a-4e72-8c76-a7cb1beda31f)
Recommendation :
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/7d069342-9390-4cbd-a17b-590a21d846aa)
Text classification:
![image.png](https://images.ze

[2021-06-03 12:17] BenjaminCharlton opened #1492 "Model Builder Error during the "Create New Workspace" wizard"
**System Information (please complete the following information):**
 - Model Builder Version: 16.3.0.2056001
 - Visual Studio Version 16.10.0

**Describe the bug**

Right Click on the Project > _Add_ > _Machine Learning_

Click _Object Detection_
Click _Set Up Workspace_
Fill in the form and click _Create_

It hangs a while, appearing to make a remote call or a long IO operation or something like

[2021-06-03 16:19] beccamc commented on #1413
Per David's comment above, I'm closing this. Thanks!

[2021-06-03 16:19] #1413 closed

[2021-06-03 16:41] beccamc commented on #1454
Any luck with the above suggestion?

[2021-06-03 16:50] beccamc commented on #804
For others in this issue, please check the following to troubleshoot:

1. Are you actually trying to do value prediction on a string? If you chose "Value Prediction" (regression) as the scenario, the Label to predict must be of type Single. Value prediction should be used for "linear" predictions, like price, temperature or age. It shouldn't be used for classification problems (e.g. sort into grou

[2021-06-03 21:17] briacht commented on #1415
Thanks for the suggestion!

Adding @houghj16 who is currently working on Model Explainability in ML.NET and can investigate adding confusion matrix after training.

[2021-06-03 21:17] beccamc commented on #1484
Jake thinks this is a problem with our Editable/Readonly state (e.g. the wrong one is true)

[2021-06-03 21:18] beccamc commented on #1489
@LittleLittleCloud Were you just in this space and willing to make a quick fix?

[2021-06-04 01:34] AzmanMahyuddin commented on #1488
I get this. My cmd only open in a split second and then it closes automatically.
![problem ML 2](https://user-images.githubusercontent.com/85119356/120732502-0218d180-c518-11eb-9fd5-33a5c7b066f6.png)

[2021-06-04 07:11] vzhuqin commented on #1402
Still occurs on main branch: 16.5.25.2127802

[2021-06-04 19:12] #1481 closed

[2021-06-04 19:14] beccamc commented on #1402
So sorry for the issues on this Qin. It should now be fixed!

[2021-06-05 10:00] Darlanio opened #1493 "Still problem with "Input string was not in a correct format""
Referring to closed issue: https://github.com/dotnet/machinelearning-modelbuilder/issues/845
Trying to follow this tutorial with a slight modification (my own data with 5 columns).
With smaller datasets (<10000 rows), like A,B,Result where A and B are random numbers 0-99 and Result is the sum or product,
it is possible to train for a minute on CPU without errors, but at ten minutes or with larger

[2021-06-07 06:22] vzhuqin opened #1494 "Cannot load SQL Data Preview and select Label/User/Item columns on Data page."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.25.2130701 (main branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.0
- .Net: 5.0.203

**DataSet:**
https://testpass.blob.core.windows.net/test-pass-data/iris.mdf

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project f

[2021-06-07 08:24] vzhuqin commented on #1486
Have been reworded to "Project templates" on main branch: 16.5.25.2130701
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/a120cc4f-2e14-400c-bb6a-598c0817df96)

[2021-06-07 09:46] vzhuqin commented on #647
@beccamc  could you help to validate this issue as I do not have the suitable dataset to verify?

[2021-06-07 09:56] vzhuqin commented on #1402
Will verify it when the issue #1494 is fixed.

[2021-06-07 17:49] LittleLittleCloud commented on #1493
@beccamc
Looks like a bug in SMAC sweeper in old AutoML.Net, which should no longer exist in our main branch. Maybe we can launch another preview release to make the fix available?

[2021-06-07 18:36] beccamc commented on #1493
Sorry you ran into this issue @Darlanio. Model Builder version number is available in Extensions -> Manage Extension -> Installed.  If you aren't on 	16.3.0.2056001 you can try to update [here](https://marketplace.visualstudio.com/items?itemName=MLNET.07).

We are validating a new release this week, which as Xiaoyun mentioned above has removed this code. I'll update this issue when that is release

[2021-06-07 18:40] beccamc commented on #647
Sure, I can validate

[2021-06-07 20:06] LittleLittleCloud commented on #1478
LGTM

[2021-06-07 20:13] JakeRadMSFT opened #1496 "Accuracy should be truncated to less decimal places"
![image](https://user-images.githubusercontent.com/31937616/121081846-1e27a780-c792-11eb-8a22-eed04a027e7f.png)

@briacht Thoughts on how many? I thought we did 2 decimal places before.

[2021-06-07 20:13] LittleLittleCloud commented on #1440
![image](https://user-images.githubusercontent.com/16876986/121081923-339cd180-c792-11eb-9e44-01d226347edb.png)

[2021-06-07 20:14] LittleLittleCloud commented on #1440
Not fixed

[2021-06-07 20:15] LittleLittleCloud commented on #1440
@zewditu Could you take a look

[2021-06-07 20:18] LittleLittleCloud commented on #1420
This issue no longer exists and no need to validate after we remove artifact from .mbconfig.

[2021-06-07 20:23] romalpani opened #1497 "Inconsistency in context menu language and 'add new item' dialog description"
**System Information (please complete the following information):**
 - Model Builder Version: 16.5.25.2130702
 - Visual Studio Version: 16.11 Preview 1

**Describe the bug**
- On which step of the process did you run into an issue: Right-click on the project in solution explorer to add ML model.
- Clear description of the problem:

Issue: The context menu option for adding machine learning to a pr

[2021-06-07 20:26] LittleLittleCloud opened #1498 "Dev17 - Environment page not presented"
![image.png](https://images.zenhubusercontent.com/5c1c0052c50615756d6b573e/d7578902-acdf-4ef1-b2db-81249a160300)

[2021-06-07 20:30] romalpani opened #1499 "Data page: Browse input field has text misaligned"
**System Information (please complete the following information):**
 - Model Builder Version: 16.5.25.2130702
 - Visual Studio Version

**Describe the bug**
The text inside the browse input field should be centered. It seems off to the top a little bit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to TextClassification
2. Click on Local CPU
3. Browse a file and see the input field popu

[2021-06-07 20:30] LittleLittleCloud commented on #1498
It amazingly recovered after a restart.. Maybe it's just something with Dev17

[2021-06-07 20:42] LittleLittleCloud commented on #1436
all pages are still enable after resetting label.

[2021-06-07 20:48] LittleLittleCloud commented on #1441
LGTM

[2021-06-07 20:49] LittleLittleCloud commented on #1491
LGTM

[2021-06-07 20:57] lovettchris commented on #1181
I'm getting this same error with this version of the ModelBuilder on VS 2019:
![image](https://user-images.githubusercontent.com/18707114/121086588-339fd000-c798-11eb-90ba-706e81522737.png)

Here's the log:
[3abfc5af-5301-4eeb-90d0-6708a60f21b6.txt](https://github.com/dotnet/machinelearning-modelbuilder/files/6611969/3abfc5af-5301-4eeb-90d0-6708a60f21b6.txt)

[2021-06-07 21:14] LittleLittleCloud commented on #999
@vzhuqin
Sure, that looks like a different issue, I'll open a new bug and close this one

[2021-06-07 21:16] LittleLittleCloud opened #1500 "mlnet image-classification codegen error"
previous thread

[code]

[2021-06-07 21:18] LittleLittleCloud commented on #1314
copy works, feel free to move this issue to ready to ship.

[2021-06-07 21:24] LittleLittleCloud commented on #749
Isn't the check for file extension deliberately added, even it's not necessary?

And @vzhuqin The test fails because the file does not exist on disk, which is expected. What @justinormont means is that mlnet shouldn't throw an exception when the file extension is not `.csv`, `.tsv` or `.txt`, which mlnet.cli no longer check any more.

[2021-06-07 21:29] LittleLittleCloud commented on #1321
Still reproducable

@zewditu can you take a look?

[2021-06-07 21:41] beccamc opened #1501 "Monitor Azure runs with REST"
Part One:

- [ ] Break into smaller steps.

1. Create new method to replace MonitorParentRunAsync
2. Use similar structure as old MonitorParentRunAsync does, but break up into concrete parts
3. Slowly build up new `RunInformation `model based on what model builder needs

[code]

Part Two:

- [ ] Replace the azure calls (e.g. GetDataFromAzure) with REST call.

[2021-06-07 21:43] LittleLittleCloud commented on #1417
The code snippet will take a while to present if it's the first `.mbconfig` to open in your VS instance. This is because the API to get that code snippet is from a service hub service and it takes some time to start from cold status. However, if you have multiple `.mbconfig` opened in VS, the code snippet should appear pretty fast.

[2021-06-07 21:44] LittleLittleCloud commented on #1417
The code snippet takes about 1~3 seconds to show in the first `.mbconfig` and it appears pretty fast on the second attempt. So the delay should be expected.

[2021-06-07 22:08] LittleLittleCloud commented on #1324
Confirmed, program.cs is still there while startup.cs is removed.

[2021-06-08 02:45] vzhuqin commented on #1402
This issue has been fixed on main branch: 16.5.25.2130702
Reentrancy before training:
![1402Fixed.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/dffdf8cb-c18f-4dd6-ac73-90bdb87afd48)
Reentrancy after training complete:
![1402Fixed-2.gif](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/c59e2626-a663-48b3-92fb-b451fb780b40)

[2021-06-08 03:44] vzhuqin opened #1502 "Sometimes pop up Model Builder Error: Object reference not set to an instance of an object after clicked one scenario."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.25.2130702 (main branch)
- Microsoft Visual Studio Enterprise 2019: 16.10.0
- .Net: 5.0.203

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET C

[2021-06-08 10:13] vzhuqin commented on #1456
Test on main branch: 16.5.25.2130702 and referring the PR:https://github.com/dotnet/machinelearning-tools/pull/1097
**Scenario:**
- Image classification
- Text Classification
- Value Prediction

On Consume page, do not have Code snippet and cannot add project templates. @beccamc Could you help to take a look?
![image](https://user-images.githubusercontent.com/81727020/121167943-01b86780-c885-11eb-

[2021-06-08 18:40] beccamc commented on #1492
Sorry you ran into this problem @BenjaminCharlton, and thanks for reporting!

We've had several customers report problems creating their first workspace for a subscription. I'm guessing your issue is the same. Can you go to the portal to check? You can find information in the activities log on portal.azure.com

![image](https://user-images.githubusercontent.com/9122518/121239359-c30fb680-c85e-11eb

[2021-06-09 02:08] vzhuqin opened #1503 "The ConsoleApp projects cannot be run if named the model builder with a space or hyphen (-)."
**System Information (please complete the following information):**
- Windows OS: Windows-10-Enterprise-21H1
- ML.Net Model Builder (Preview): 16.5.25.2130702 (Main Build)
- Microsoft Visual Studio Enterprise 2019: 16.10.0
- .Net: 5.0.203

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create a new project from the Visual Studio 2019 start window.
2. Choose the C# Console App (.NET Co

[2021-06-09 02:35] vzhuqin commented on #1456
Object detection scenario test result on main branch: 16.5.25.2130702
No display the Data Preview and other tab under Data are disabled.
![image](https://user-images.githubusercontent.com/81727020/121283713-2c023780-c90e-11eb-86e8-d48437ace2ef.png)

[2021-06-09 09:36] BenjaminCharlton commented on #1492
Hi @beccamc! Yes, it says that in the _statusMessage_ of the JSON.

[2021-06-09 15:25] beccamc commented on #1488
I know it's simple, but can you close VS and reopen this project? Usually this is a problem with VS, as it isn't even hitting our code during debugging.

Other customers have fixed by restarting VS, or reinstalling.

[2021-06-09 16:33] beccamc commented on #1492
Thanks! I'm going to try to pull in the Azure team to help.

[2021-06-09 18:10] saroshwadia opened #1504 "Ignore GUID columns"
1] While using the Model Builder and using SQL as the Data source if I use a table that has a GUID (uniqueidentifier) Primary Key I get the following Error

![image](https://user-images.githubusercontent.com/21205744/121406123-0891b980-c91b-11eb-8031-f035d7bcec15.png)

2] When I choose Advanced data options and select "Ignore" for the Guid Columns it still seems to be still using that Guid column

[2021-06-10 07:57] vzhuqin commented on #1500
@LittleLittleCloud this issue still occurs on mlnet 16.5.26, if I need to verify it on other feed?
Preview feed: https://mlnetcli.blob.core.windows.net/mlnetcli/index.json
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/3fb40b5d-d8a6-4420-85d0-318699ba8e8c)
![image.png](https://images.zenhubusercontent.com/60653e492390a08ea616cb10/2b3bf57c-effa-4724-85ea-1c91d21ea2f6)

[2021-06-10 16:05] JakeRadMSFT commented on #1504
@saroshwadia we just released our new version -  Can you try it out there?

[2021-06-10 16:11] saroshwadia commented on #1504
Hi!

Is this a pre-release or GA, what is the version and is it on NuGet?

The one I'm using is "Microsoft.ML" Version="1.5.5"

Sarosh

From: Jake ***@***.***>
Sent: Thursday, June 10, 2021 10:06 AM
To: dotnet/machinelearning-modelbuilder ***@***.***>
Cc: Sarosh Wadia ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/machinelearning-modelbuilder] Model Builder Error while using Guid (#1504)